@page "/listview/checklist"

@using Syncfusion.Blazor.Lists

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the checkbox functionality of the ListView component. Click multiple list items to check or uncheck the items.</p>
</SampleDescription>
<ActionDescription>
    <p>The ListView component has a checkbox feature, which is used to select multiple items from the list. This feature can be enabled by using the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/cref_files/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Lists.SfListView%601~ShowCheckBox.html' aria-label="Class reference of ShowCheckBox property in ListView">ShowCheckBox</a> property.</p>
    <p>In this sample, the checkbox is enabled on the default and group list.</p>
    <p>More information about the check-list feature can be found in this <a target='_blank' class='code' href='https://blazor.syncfusion.com/documentation/listview/check-list'  aria-label="Blazor ListView Checklist documentation">documentation</a> section.</p>
</ActionDescription>

<div class="control-section">
    <div id="flat-list">
        <h4>Flat List</h4>
        @*Initialization of ListView component with checkbox*@
        <SfListView CssClass="listview" DataSource="@ListData" ShowCheckBox="true">
            <ListViewFieldSettings TValue="DataModel" Id="ID" Text="Text"></ListViewFieldSettings>
        </SfListView>
    </div>
    <div id="group-list">
        <h4>Group List</h4>
        @* Initialization of grouped ListView component with checkbox *@
        <SfListView CssClass="listviewgrp" DataSource="@GroupListData" ShowCheckBox="true">
            <ListViewFieldSettings TValue="DataModel" Id="ID" Text="Text" GroupBy="Category"></ListViewFieldSettings>
        </SfListView>
    </div>
</div>

@code{
    
    // Specifies the grouped list datasource.
    DataModel[] GroupListData =
    {
            new DataModel { Text = "Audi A3", ID = "9bdb", Category = "Audi" },
            new DataModel { Text = "Audi A4", ID = "9bdc", Category = "Audi" },
            new DataModel { Text = "Audi A5", ID = "4589", Category = "Audi" },
            new DataModel { Text = "Audi A6", ID = "e807", Category = "Audi" },
            new DataModel { Text = "Audi A7", ID = "a0cc", Category = "Audi" },
            new DataModel { Text = "Audi A8", ID = "5e26", Category = "Audi" },
            new DataModel { Text = "BMW 501", ID = "f849", Category = "BMW" },
            new DataModel { Text = "BMW 502", ID = "7aff", Category = "BMW" },
            new DataModel { Text = "BMW 503", ID = "b1da", Category = "BMW" },
            new DataModel { Text = "BMW 507", ID = "de2f", Category = "BMW" },
            new DataModel { Text = "BMW 3200", ID = "b2b1", Category = "BMW" }
    };
    // Specifies the flat list datasource.
    DataModel[] ListData =
    {
            new DataModel { Text = "Hennessey Venom", ID = "list-01" },
            new DataModel { Text = "Bugatti Chiron", ID = "list-02" },
            new DataModel { Text = "Bugatti Veyron Super Sport", ID = "list-03" },
            new DataModel { Text = "SSC Ultimate Aero", ID = "list-04" },
            new DataModel { Text = "Koenigsegg CCR", ID = "list-05" },
            new DataModel { Text = "McLaren F1", ID = "list-06" },
            new DataModel { Text = "Aston Martin One-77", ID = "list-07" },
            new DataModel { Text = "Jaguar XJ220", ID = "list-08" },
            new DataModel { Text = "McLaren P1", ID = "list-09" },
            new DataModel { Text = "Ferrari LaFerrari", ID = "list-10" },
            new DataModel { Text = "Mercedes-Benz Aston Martin", ID = "list-11" },
            new DataModel { Text = "Zenvo ST1", ID = "list-12" },
            new DataModel { Text = "Lamborghini Veneno", ID = "list-13" }
    };
    // Specifies the model class for ListView datasource.
    class DataModel
    {
        public string Text { get; set; }
        public string ID { get; set; }
        public string Category { get; set; }
    }
}

<style>
    /*Sample level customization styles*/
    .listview, .listviewgrp {
        border: 1px solid #dddddd;
        border-bottom: 0px;
        border-radius: 3px;
    }

    .fluent .listview, .fluent .listviewgrp,
    .fluent-dark .listview, .fluent-dark .listviewgrp{
        border-bottom: 1px solid #dddddd;
    }

    #flat-list,
    #group-list {
        width: 49%;
        margin: auto;
        margin-bottom: 15px;
    }

    #flat-list h4, #group-list h4 {
        padding-left: 16px;
    }

    #flat-list {
        float: left;
        padding-left: 16px;
    }

    #group-list {
        float: right;
        padding-right: 16px;
    }

</style>