@page "/listview/checklist"

@using Syncfusion.Blazor.Lists

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates the checkbox functionality of the ListView component. Click multiple list items to check or uncheck them.
  </p>
  <p>
    Enable multi-selection checkboxes using the <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/cref_files/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Lists.SfListView%601~ShowCheckBox.html" aria-label="Class reference of ShowCheckBox property in ListView">ShowCheckBox</a> property. The checkbox is enabled for both default and grouped lists in this sample.
  </p>
  <p>
    More information about the checklist feature is available in the <a target="_blank" rel="noopener" class="code" href="https://blazor.syncfusion.com/documentation/listview/check-list" aria-label="Blazor ListView Checklist documentation">documentation</a>.
  </p>
</ActionDescription>


<div class="control-section">
    <div id="flat-list">
        <h4>Flat List</h4>
        @*Initialization of ListView component with checkbox*@
        <SfListView CssClass="listview" DataSource="@ListData" ShowCheckBox="true">
            <ListViewFieldSettings TValue="DataModel" Id="ID" Text="Text"></ListViewFieldSettings>
        </SfListView>
    </div>
    <div id="group-list">
        <h4>Group List</h4>
        @* Initialization of grouped ListView component with checkbox *@
        <SfListView CssClass="listviewgrp" DataSource="@GroupListData" ShowCheckBox="true">
            <ListViewFieldSettings TValue="DataModel" Id="Id" Text="Text" GroupBy="Category"></ListViewFieldSettings>
        </SfListView>
    </div>
</div>

@code{
    
    // Specifies the grouped list datasource.
    public DataModel[] GroupListData =
    {
        new DataModel { Text = "Audi A3", Id = "9bdb", Category = "Audi" },
        new DataModel { Text = "Audi A4", Id = "9bdc", Category = "Audi" },
        new DataModel { Text = "Audi A5", Id = "4589", Category = "Audi" },
        new DataModel { Text = "Audi A6", Id = "e807", Category = "Audi" },
        new DataModel { Text = "Audi A7", Id = "a0cc", Category = "Audi" },
        new DataModel { Text = "Audi A8", Id = "5e26", Category = "Audi" },
        new DataModel { Text = "BMW 501", Id = "f849", Category = "BMW" },
        new DataModel { Text = "BMW 502", Id = "7aff", Category = "BMW" },
        new DataModel { Text = "BMW 503", Id = "b1da", Category = "BMW" },
        new DataModel { Text = "BMW 507", Id = "de2f", Category = "BMW" },
        new DataModel { Text = "BMW 3200", Id = "b2b1", Category = "BMW" }
    };
    // Specifies the flat list datasource.
    public DataModel[] ListData =
    {
        new DataModel { Text = "Hennessey Venom", Id = "list-01" },
        new DataModel { Text = "Bugatti Chiron", Id = "list-02" },
        new DataModel { Text = "Bugatti Veyron Super Sport", Id = "list-03" },
        new DataModel { Text = "SSC Ultimate Aero", Id = "list-04" },
        new DataModel { Text = "Koenigsegg CCR", Id = "list-05" },
        new DataModel { Text = "McLaren F1", Id = "list-06" },
        new DataModel { Text = "Aston Martin One-77", Id = "list-07" },
        new DataModel { Text = "Jaguar XJ220", Id = "list-08" },
        new DataModel { Text = "McLaren P1", Id = "list-09" },
        new DataModel { Text = "Ferrari LaFerrari", Id = "list-10" },
        new DataModel { Text = "Mercedes-Benz Aston Martin", Id = "list-11" },
        new DataModel { Text = "Zenvo ST1", Id = "list-12" },
        new DataModel { Text = "Lamborghini Veneno", Id = "list-13" }
    };
    // Specifies the model class for ListView datasource.
    public class DataModel
    {
        public string? Text { get; set; }
        public string? Id { get; set; }
        public string? Category { get; set; }
    }
}

<style>
    /*Sample level customization styles*/
    .listview, .listviewgrp {
        border: 1px solid #dddddd;
        border-bottom: 0px;
        border-radius: 3px;
    }

    .fluent .listview, .fluent .listviewgrp,
    .fluent-dark .listview, .fluent-dark .listviewgrp{
        border-bottom: 1px solid #dddddd;
    }

    #flat-list,
    #group-list {
        width: 49%;
        margin: auto;
        margin-bottom: 15px;
    }

    #flat-list h4, #group-list h4 {
        padding-left: 16px;
    }

    #flat-list {
        float: left;
        padding-left: 16px;
    }

    #group-list {
        float: right;
        padding-right: 16px;
    }

</style>