@page "/listview/keyboard-navigation"
@using Syncfusion.Blazor.Lists
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>The Blazor ListView component is accessible through keyboard shortcuts. In the following sample, various key combinations can be used to interact with the ListView functionalities.</p>
</SampleDescription>
<ActionDescription>
    <p>The Blazor ListView has built-in keyboard support and allows you to access its functionalities by using keyboard shortcut keys. The supported keys are as follows.</p>
    <ul>
        <li>
            <b>Focus</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Supported keys and user actions</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd> or <kbd>Left arrow</kbd></span>
                    <span> - Move to the previous list item.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd> or <kbd>Right arrow</kbd></span>
                    <span> - Move to the next list item.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Space</kbd> or <kbd>Enter</kbd></span>
                    <span> - Select the targeted list from the whole list if the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/cref_files/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Lists.SfListView%601~ShowCheckBox.html' aria-label="Class reference of ShowCheckBox property in ListView" >ShowCheckBox</a> property is enabled.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Back</kbd></span>
                    <span> - Get back to the previous lists if the nested list is used.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Goes to the first item.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Goes to the last item.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section">
    @*Initialization of ListView component*@
    <SfListView CssClass="listview" DataSource="@Data">
        <ListViewFieldSettings TValue="DataModel" Id="ID" Text="Text"></ListViewFieldSettings>
    </SfListView>
</div>

@code{
    
    //Specifies the ListView datasource.
    DataModel[] Data =
    {
            new DataModel { Text = "Hennessey Venom", ID = "list-01" },
            new DataModel { Text = "Bugatti Chiron", ID = "list-02" },
            new DataModel { Text = "Bugatti Veyron Super Sport", ID = "list-03" },
            new DataModel { Text = "SSC Ultimate Aero", ID = "list-04" },
            new DataModel { Text = "Koenigsegg CCR", ID = "list-05" },
            new DataModel { Text = "McLaren F1", ID = "list-06" },
            new DataModel { Text = "Aston Martin One-77", ID = "list-07" },
            new DataModel { Text = "Jaguar XJ220", ID = "list-08" },
            new DataModel { Text = "McLaren P1", ID = "list-09" },
            new DataModel { Text = "Ferrari LaFerrari", ID = "list-10" },
            new DataModel { Text = "Mercedes-Benz Aston Martin", ID = "list-11" },
            new DataModel { Text = "Zenvo ST1", ID = "list-12" },
            new DataModel { Text = "Lamborghini Veneno", ID = "list-13" }
    };
    // Specifies the model class for ListView datasource.
    class DataModel
    {
        public string Text { get; set; }
        public string ID { get; set; }
        public string Category { get; set; }
    }
}
<style>
    /*Sample level customization styles*/
    .listview, .listviewgrp {
        border: 1px solid #dddddd;
        border-bottom: 0px;
        border-radius: 3px;
        max-width: 600px;
        margin: auto;
    }

    .fluent .listview, .fluent .listviewgrp,
    .fluent-dark .listview, .fluent-dark .listviewgrp{
        border-bottom: 1px solid #dddddd;
    }
   
    #flat-list,
    #group-list {
        width: 49%;
        margin: auto;
        margin-bottom: 15px;
    }
    #flat-list h4, #group-list h4 {
        padding-left: 16px;
    }
    #flat-list {
        float: left;
        padding-left: 16px;
    }
    #group-list {
        float: right;
        padding-right: 16px;
    }

    .key-class {
        display: inline-block;
        width: 190px;
    }
</style>