@page "/listview/remote-data"


@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the remote data functionalities of the ListView component. Click any item from the list to select and highlight it.</p>
</SampleDescription>
<ActionDescription>
   <p>The <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Data.SfDataManager.html' aria-label="Class reference of DataManager">DataManager</a> that acts as an interface between the service endpoint and ListView will require the following minimal information to interact with the service endpoint properly.</p>
   <p><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Url" target='_blank' aria-label="Class reference of Url property in DataManager">DataManager.Url</a> - Defines the service endpoint to fetch the data.</p>
   <p><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Adaptor" target='_blank' aria-label="Class reference of Adaptor property in DataManager">DataManager.Adaptor</a> - Defines the adaptor option. By default, the ODataAdaptor is used for remote binding.</p>
   <p>The Adaptor is responsible for processing responses and requests from/to the service endpoint. <code>Syncfusion.Blazor.Data</code> namespace provides some predefined adaptors that are designed to interact with the particular service endpoints. They are:</p>
      <ul>
        <li><strong>UrlAdaptor</strong> - Used to interact with any remote services. This is the base adaptor for all remote-based adaptors.</li>
        <li><strong>ODataAdaptor</strong> - Used to interact with OData endpoints.</li>
        <li><strong>ODataV4Adaptor</strong> - Used to interact with OData V4 endpoints.</li>
        <li><strong>WebApiAdaptor</strong> - Used to interact with Web API created under OData standards.</li>
         <li><strong>WebMethodAdaptor</strong> - Used to interact with web methods.</li>
      </ul>
    <p>In this sample, the remote data is bound to be a collection of <code>Products</code> data as an instance of <code>DataManager</code>.</p>
    <p>More information about the data binding feature can be found in this <a target='_blank' class='code' href='https://blazor.syncfusion.com/documentation/listview/data-binding#bind-to-remote-data'  aria-label="Blazor ListView DataBinding documentation">documentation</a> section.</p>
                  
</ActionDescription>

<div class="col-lg-12 control-section">
    @* Initialization of ListView component with remote data *@
    <SfListView CssClass="listview" HeaderTitle="Products" ShowHeader="true" TValue="DataModel" Query="@query">
        <ListViewFieldSettings TValue="DataModel" Id="ProductID" Text="ProductName"></ListViewFieldSettings>
        <SfDataManager Url="https://services.odata.org/V4/Northwind/Northwind.svc/" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
    </SfListView>
</div>

@code{
    // Specifies the query string to fetch the datasource.
    Query query = new Query().From("Products").Select(new List<string>() { "ProductID","ProductName"}).Take(10);
    

    // Specifies the model class for ListView datasource.
    public class DataModel
    {
        public int ProductID { get; set; }
        public string ProductName { get; set; }
    }

}
<style>
    /*Sample level styles for ListView customization*/
    .listview {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-bottom: 0px;
        border-radius: 3px;
    }

    .fluent .listview,
    .fluent-dark .listview {
        border-bottom: 1px solid #dddddd;
    }
</style>
