@page "/TreeView/CheckBox"

@using Syncfusion.EJ2.Blazor.Navigations

@inherits SampleBaseComponent;

<div class="control-section">
    <div class="control_wrapper">
        <EjsTreeView TValue="TreeItem" ShowCheckBox="true">
            <TreeViewFieldsSettings DataSource="@TreeItems" Id="Id" Text="Name" Expanded="Expanded" Child="@("Child")"></TreeViewFieldsSettings>
        </EjsTreeView>
    </div>
</div>

@code{
    List<TreeItem> TreeItems = new List<TreeItem>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        TreeItems.Add(new TreeItem
        {
            Id = 1,
            Name = "Australia",
            Expanded = true,
            Child = new List<TreeItem>()
            {
                new TreeItem
                {
                    Id = 2,
                    Name = "New South Wales",

                },
                        new TreeItem
                {
                    Id = 3,
                    Name = "Victoria"
                },
                        new TreeItem
                {
                    Id = 4,
                    Name = "South Australia"
                },
                        new TreeItem
                {
                    Id = 6,
                    Name = "Western Australia",

                }
            }
        });

        TreeItems.Add(new TreeItem
        {
            Id = 7,
            Name = "Brazil",
            Child = new List<TreeItem>()
            {
                new TreeItem
                {
                    Id = 8,
                    Name = "Paraná"
                },
                new TreeItem
                {
                    Id = 9,
                    Name = "Ceará"
                },
                new TreeItem
                {
                    Id = 10,
                    Name = "Acre"
                }
            }
        });
        TreeItems.Add(new TreeItem
        {
            Id = 11,
            Name = "China",
            Child = new List<TreeItem>()
            {
                new TreeItem
                {
                    Id = 12,
                    Name = "Guangzhou"
                },
                        new TreeItem
                {
                    Id = 13,
                    Name = "Shanghai"
                },
                        new TreeItem
                {
                    Id = 14,
                    Name = "Beijing"
                },
                        new TreeItem
                {
                    Id = 15,
                    Name = "Shantou"

                }
            }
        });
        TreeItems.Add(new TreeItem
        {
            Id = 16,
            Name = "France",
            Child = new List<TreeItem>()
            {
                    new TreeItem
                {
                    Id = 17,
                    Name = "Pays de la Loire"

                },
                        new TreeItem
                {
                    Id = 18,
                    Name = "Aquitaine"

                },
                        new TreeItem
                {
                    Id = 19,
                    Name = "Brittany"

                },
                        new TreeItem
                {
                    Id = 20,
                    Name = "Lorraine"
                }
            }

        });
        TreeItems.Add(new TreeItem
        {
            Id = 21,
            Name = "India",
            Child = new List<TreeItem>()
            {
                new TreeItem
                {
                    Id = 22,
                    Name = "Assam"

                },
                        new TreeItem
                {
                    Id = 23,
                    Name = "Bihar"
                },
                        new TreeItem
                {
                    Id = 24,
                    Name = "Tamil Nadu"

                }
            }

        });

    }

    class TreeItem
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool HasChild { get; set; }
        public bool Expanded { get; set; }
        public List<TreeItem> Child;

    }
}

<style>
    .control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>
