@page "/TreeView/MultipleSelection"

@using Syncfusion.EJ2.Blazor.Lists
@using Syncfusion.EJ2.Blazor.Navigations


@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Multiple Selection";
    SampleBrowser.CurrentControlName = "TreeView";
    SampleBrowser.CurrentControlCategory = "Navigations";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeView;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample demonstrates the multiple node selection functionalities of the TreeView. To select multiple nodes, press the CTRL key and select the desired nodes; or select any node and by pressing SHIFT key select another node, this selects all the nodes in-between the selected nodes.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>The TreeView component allows to select multiple nodes by enabling the allowMultiSelection property.

         In this demo, the TreeView is enabled with multiple selection

         More information about Treeview can be found in this <a href='https://ej2.syncfusion.com/documentation/treeview/multiple-selection/' target='_blank'>documentation section</a> section .
        </p>"
    };
}
@*End:Hidden*@
@using Syncfusion.EJ2
<div class="control-section">
    <div class="control_wrapper">
        <EjsTreeView id="treedata" AllowMultiSelection="true">
            <TreeViewFieldsSettings DataSource="@treedata" Id="id" ParentID="pid" Text="name" HasChildren="hasChild" Expanded="expanded" Selected="is_selected"></TreeViewFieldsSettings>
        </EjsTreeView>
    </div>
</div>

@code{
    List<object> treedata = new List<object>();

    protected override void OnInit()
    {
        base.OnInit();
        this.treedata.Add(new
        {
            id = 1,
            name = "Australia",
            hasChild = true,
            expanded = true
        });
        this.treedata.Add(new
        {
            id = 2,
            pid = 1,
            name = "New South Wales",
            is_selected = true


        });
        this.treedata.Add(new
        {
            id = 3,
            pid = 1,
            name = "Victoria"
        });

        this.treedata.Add(new
        {
            id = 4,
            pid = 1,
            name = "South Australia"
        });
        this.treedata.Add(new
        {
            id = 6,
            pid = 1,
            name = "Western Australia",
            is_selected = true

        });
        this.treedata.Add(new
        {
            id = 7,
            name = "Brazil",
            hasChild = true
        });
        this.treedata.Add(new
        {
            id = 8,
            pid = 7,
            name = "Paraná"
        });
        this.treedata.Add(new
        {
            id = 9,
            pid = 7,
            name = "Ceará"
        });
        this.treedata.Add(new
        {
            id = 10,
            pid = 7,
            name = "Acre"
        });
        this.treedata.Add(new
        {
            id = 11,
            name = "China",
            hasChild = true
        });
        this.treedata.Add(new
        {
            id = 12,
            pid = 11,
            name = "Guangzhou",
        });
        this.treedata.Add(new
        {
            id = 13,
            pid = 11,
            name = "Shanghai"
        });
        this.treedata.Add(new
        {
            id = 14,
            pid = 11,
            name = "Beijing"
        });
        this.treedata.Add(new
        {
            id = 15,
            pid = 11,
            name = "Shantou"

        });
        this.treedata.Add(new
        {
            id = 16,
            name = "France",
            hasChild = true

        });
        this.treedata.Add(new
        {
            id = 17,
            pid = 16,
            name = "Pays de la Loire"

        });
        this.treedata.Add(new
        {
            id = 18,
            pid = 16,
            name = "Aquitaine"

        });
        this.treedata.Add(new
        {
            id = 19,
            pid = 16,
            name = "Brittany"

        });
        this.treedata.Add(new
        {
            id = 20,
            pid = 16,
            name = "Lorraine"
        });
        this.treedata.Add(new
        {
            id = 21,
            name = "India",
            hasChild = true

        });
        this.treedata.Add(new
        {
            id = 22,
            pid = 21,
            name = "Assam"

        });
        this.treedata.Add(new
        {
            id = 23,
            pid = 21,
            name = "Bihar"
        });
        this.treedata.Add(new
        {
            id = 24,
            pid = 21,
            name = "Tamil Nadu"

        });
    }
}

<style>
    .control_wrapper {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>