@page "/accordion/default-functionalities"

@using Syncfusion.Blazor.Navigations

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the default functionalities of the <a href="https://www.syncfusion.com/blazor-components/blazor-accordion" aria-label="Feature Tour of Blazor Accordion">Blazor Accordion</a>. Click on the header to expand and collapse the corresponding Accordion panel.</p>
</SampleDescription>
<ActionDescription>
   <p> The Accordion is a vertically collapsible content panel that can display one or more panels at a time within the available space. This sample illustrates the simple Accordion rendering with <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.ExpandMode.html#Syncfusion_Blazor_Navigations_ExpandMode_Multiple" aria-label="Class reference of Multiple property in Accordion">Multiple</a> ExpandMode.</p>
</ActionDescription>

<div class="control-section accordion-control-section">
    <SfAccordion>
        <AccordionItems>
            <AccordionItem Expanded="true" Header="ASP.NET" Content="Microsoft ASP.NET is a set of technologies in the Microsoft .NET Framework for building Web applications and XML Web services. ASP.NET pages execute on the server and generate markup such as HTML, WML, or XML that is sent to a desktop or mobile browser. ASP.NET pages use a compiled, event-driven programming model that improves performance and enables the separation of application logic and user interface."></AccordionItem>
            <AccordionItem Header="ASP.NET MVC" Content="The Model-View-Controller (MVC) architectural pattern separates an application into three main components: the model, the view, and the controller. The ASP.NET MVC framework provides an alternative to the ASP.NET Web Forms pattern for creating Web applications. The ASP.NET MVC framework is a lightweight, highly testable presentation framework that (as with Web Forms-based applications) is integrated with existing ASP.NET features, such as master pages and membership-based authentication."></AccordionItem>
            <AccordionItem Header="JavaScript" Content="JavaScript (JS) is an interpreted computer programming language. It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser, communicate asynchronously, and alter the document content that was displayed. However, it has recently become common in both game development and the creation of desktop applications."></AccordionItem>
        </AccordionItems>
    </SfAccordion>
</div>


<style>
    .accordion-control-section {
        margin: 0 10% 0 10%;
    }

    @@media screen and (max-width: 768px) {
        .accordion-control-section {
            margin: 0;
        }
    }
</style>

