@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@
<SampleDescription>
    <p> This example demonstrates the template functionalities of the <code>Blazor Accordion</code> component. The content of panel <b>Network & Connectivity</b> is loaded from external blazor component.</p>
</SampleDescription>
<ActionDescription>
    <p> This sample illustrates how to load <code>Accordion</code> content from another Blazor component by using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.AccordionItem.html#Syncfusion_Blazor_Navigations_AccordionItem_ContentTemplate" aria-label="Class reference of ContentTemplate property in Accordion">ContentTemplate</a> property. In second panel <code>Feature</code>, another <code>Blazor Accordion</code> component is nested as the content of the main Accordion component.</p>
</ActionDescription>

<div>
    <table>
        <tr>
            <th rowspan="2">CELLULAR</th>
            <td class='e-bold'>Technology</td>
            <td>5G NR / FDD-LTE / TD-LTE / CDMA EV-DO Rev. A / UMTS / HSPA+ / DC-HSDPA / GSM</td>
        </tr>
        <tr>
            <td class='e-bold'>Edge</td>
            <td>Yes</td>
        </tr>
        <tr>
            <th rowspan="3">WIRELESS</th>
            <td class='e-bold'>Wi-Fi</td>
            <td>Yes ( 802.11 a/b/g/n/ac )</td>
        </tr>
        <tr>
            <td class='e-bold'>Bluetooth</td>
            <td>Yes ( v 5.0 )</td>
        </tr>
        <tr>
            <td class='e-bold'>NFC</td>
            <td>Yes</td>
        </tr>
    </table>
</div>
