@page "/accordion/template"

@using Syncfusion.Blazor.Navigations

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This example demonstrates the template functionalities of the <code>Blazor Accordion</code> component. The content of panel <b>Network & Connectivity</b> is loaded from external Blazor component.</p>
</SampleDescription>
<ActionDescription>
    <p> This sample illustrates to load an <code>Accordion</code> content from another Blazor component by using <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.AccordionItem.html#Syncfusion_Blazor_Navigations_AccordionItem_ContentTemplate" aria-label="Class reference of ContentTemplate property in Accordion">ContentTemplate</a> property. In second panel <code>Feature</code>, another <code>Blazor Accordion</code> component is nested as the content of the main Accordion component.</p>
</ActionDescription>

<div class="control-section accordion-control-section">
    <h3 style="text-align:center"> iPhone 13 Pro - Product Specification </h3>
    <SfAccordion>
        <AccordionItems>
            <AccordionItem Expanded="true">
                <HeaderTemplate>Network & Connectivity</HeaderTemplate>
                <ContentTemplate>
                    <NetworkData></NetworkData>
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem>
                <HeaderTemplate>Feature</HeaderTemplate>
                <ContentTemplate>
                    <SfAccordion ID="nested-accordion" ExpandMode="@ExpandMode.Single">
                        <AccordionItems>
                            <AccordionItem>
                                <HeaderTemplate>Sensor</HeaderTemplate>
                                <ContentTemplate>
                                    <div>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-bold">Proximity sensor</td>
                                                    <td>Yes</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">Face ID</td>
                                                    <td>Yes</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">Accelerometer</td>
                                                    <td>Yes</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">Three‑axis gyro</td>
                                                    <td>Yes</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">LiDAR Scanner</td>
                                                    <td>Yes</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ContentTemplate>
                            </AccordionItem>
                            <AccordionItem>
                                <HeaderTemplate>Camera</HeaderTemplate>
                                <ContentTemplate>
                                    <div>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th class="e-bold" rowspan="5">Camera</th>
                                                    <td class="e-bold"> 12MP Telephoto, Wide, and Ultra Wide</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold"> Night mode portraits enabled by LiDAR Scanner</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold"> Portrait mode with advanced bokeh and Depth Control</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold"> Wide color capture for photos and Live Photos</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold"> Advanced red‑eye correction</td>
                                                </tr>
                                                <tr>
                                                    <th class="e-bold" rowspan="4">TrueDepth Camera</th>
                                                    <td class="e-bold"> 12MP camera</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold"> Animoji and Memoji</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold"> Night mode Time‑lapse</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ContentTemplate>
                            </AccordionItem>
                            <AccordionItem>
                                <HeaderTemplate>Video Recording</HeaderTemplate>
                                <ContentTemplate>
                                    <div>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th class="e-bold" rowspan="6">Video Recording</th>
                                                    <td class="e-bold"> HDR video recording with Dolby Vision up to 4K at 60 fps</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">HDR, 4k, 1080p & 720p HD video recording</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">Optical zoom, Audio zoom, 9x digital zoom</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">Slo‑mo video support for 1080p at 120 fps or 240 fps</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">Take 8MP still photos while recording 4K video</td>
                                                </tr>
                                                <tr>
                                                    <td class="e-bold">Night mode Time‑lapse</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ContentTemplate>
                            </AccordionItem>
                        </AccordionItems>
                    </SfAccordion>
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem>
                <HeaderTemplate>Hardware & Software</HeaderTemplate>
                <ContentTemplate>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <th rowspan="3"> Hardware</th>
                                    <td class="e-bold" rowspan="2 ">Chip</td>
                                    <td>Apple A15 Bionic chip with New 16‑core Neural Engine</td>
                                </tr>
                                <tr>
                                    <td>New 6‑core CPU with 2 performance and 4 efficiency cores</td>
                                </tr>
                                <tr>
                                    <td class="e-bold">Capacity</td>
                                    <td>128GB / 256GB / 512GB / 1TB</td>
                                </tr>
                                <tr>
                                    <th> Software</th>
                                    <td class="e-bold" rowspan="2 ">Operating System</td>
                                    <td>iOS 15</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ContentTemplate>
            </AccordionItem>
        </AccordionItems>
    </SfAccordion>
</div>
<div class="source-link">
    Source:
    <a href="https://www.apple.com/iphone-13-pro/specs/" target="_blank">www.apple.com/iphone-13-pro/specs/</a>
</div>

<style>
    @@-moz-document url-prefix() {
        .e-accordion .e-content table {
            border-collapse: initial;
        }
    }

    .e-accordion table {
        width: 100%;
        table-layout: fixed;
        border-collapse: initial;
    }

    #nested-accordion.e-accordion {
        padding: 4px;
    }

    .e-accordion table th,
    .e-accordion table td {
        padding: 5px;
        border: 1px solid #ddd;
    }

    .accordion-control-section {
        margin: 0 10% 0 10%;
        padding-bottom: 25px;
    }

    @@media screen and (max-width: 768px) {
        .accordion-control-section {
            margin: 0;
        }
    }

    .source-link {
        padding-bottom: 25px;
    }
</style>