@page "/barcodes/code-39"

@using Syncfusion.Blazor.BarcodeGenerator
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample visualizes Code 39, a self-checking barcode symbology that consists of uppercase letters, numeric digits, and several special characters. It is often used to present model numbers. Code 39 is widely used in the automotive and defense industries as a standard label.</p>
</SampleDescription>
<ActionDescription>
   <p>This sample shows how to create the Code 39 self-checking symbology type barcode image. The `Type` property can be used to set the barcode type as `Code39`.</p>
</ActionDescription>

<div class="control-section" style="width: 100%;height: 590px;">
    <div class="center">
        <div class="centercontrol">
            <SfBarcodeGenerator Width="200px" Height="150px" Type="@BarcodeType.Code39" Value="SYNCFUSION"></SfBarcodeGenerator>
        </div>
    </div>
    <div class="allowedText">
        <span style="font-weight: 600;"> Allowed Input characters :</span><span> A-Z, 0-9 </span>
    </div>
</div>

<style>
    .centercontrol {
        margin: auto;
        width: 50%;
        padding-left: 18%;
        height: 50%;
    }

    .allowedText {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        width: auto;
        height: auto;
    }


    .center {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        min-width: 280px;
        width: auto;
        border: 2px solid lightgray;
        min-height: 40%;
        padding-top: 35px;
    }
</style>

