@page "/Barcodes/Code128A"

@using Syncfusion.EJ2.Blazor.BarcodeGenerator

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Code128A";
    SampleBrowser.CurrentControlName = "Barcode";
    SampleBrowser.CurrentControlCategory = "Barcode";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Barcode;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample visualizes a barcode image that presents information with a combination of numbers, uppercase letters, and control characters such as tab and new line.

        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This sample shows how to create the Code 128A barcode type with alphanumeric characters. The `Type` property can be used to set the barcode type as ` Code128A`.
        </p>
        <br>"
    };
}
@*End:Hidden*@

<div class="control-section" style="width: 100%;height: 590px;">
    <div class="center">
        <div class="centercontrol">
            <EjsBarcodeGenerator Width="200px" Height="150px" Mode="@RenderingMode.SVG" Type="@BarcodeType.Code128A" Value="SYNCFUSION"></EjsBarcodeGenerator>

        </div>
    </div>
    <div class="allowedText">
        <span style="font-weight: 600;"> Allowed Input characters :</span> support 0-9 A-Z and special character
        input.
    </div>
</div>

<style>
    .centercontrol {
        margin: auto;
        width: 50%;
        padding-left: 18%;
        height: 50%;
    }

    .allowedText {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        width: auto;
        height: auto;
    }


    .center {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        min-width: 280px;
        width: auto;
        border: 2px solid lightgray;
        min-height: 40%;
        padding-top: 35px;
    }
</style>

