@page "/Barcodes/DataMatrix"

@using Syncfusion.EJ2.Blazor.BarcodeGenerator

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "DataMatrix";
    SampleBrowser.CurrentControlName = "Barcode";
    SampleBrowser.CurrentControlCategory = "Barcode";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Barcode;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample displays encoded numerals or text as an optical label using solid adjacent borders in an L-shape and two other borders consisting of alternating dark and light cells or modules. Within these borders are rows and columns of cells that encode information.

        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This example shows how to display encoded text or numerical values as the label using the Barcode component. The `Type` property can be used to set the barcode type as data matrix. The data matrix encoding type can be set using the `encoding` property of the Barcode component and the data matrix size can be defined using the `size` property of the component.
        </p>
        <br>"
    };
}
@*End:Hidden*@

<div class="control-section" style="width: 100%;height: 590px;">
    <div class="center">
        <div class="centercontrol">
            <EjsDataMatrixGenerator Width="200" Height="150" Mode="@RenderingMode.SVG" Value="SYNCFUSION">
                <DataMatrixGeneratorDisplayText Visibility="false"></DataMatrixGeneratorDisplayText>
            </EjsDataMatrixGenerator>
        </div>
    </div>
</div>

<style>
    .centercontrol {
        margin: auto;
        width: 50%;
        padding-left: 18%;
        height: 50%;
    }

    .allowedText {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        width: auto;
        height: auto;
    }


    .center {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        min-width: 280px;
        width: auto;
        border: 2px solid lightgray;
        min-height: 40%;
        padding-top: 35px;
    }
</style>

