@page "/rating/default-functionalities"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the default functionalities of the Rating component. The component lets a user provide a star rating or view other people’s ratings on a numeric scale for any service provided, such as for movies, applications, or products.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        This example showcases the usage of the <code>AllowReset</code>, <code>ReadOnly</code>, <code>EnableSingleSelection</code>, <code>ItemsCount</code>, and <code>Disabled</code> properties in the Blazor Rating component.
    </p>
</ActionDescription>

<div class="control-section">
    <div class="rating-control">
        <div class="rating-content">
            <label>Basic</label><br/>                         
            <SfRating></SfRating>
        </div>
        <div class="rating-content">
            <label>Reset</label><br/>                       
            <SfRating AllowReset=true Value=3></SfRating>
        </div>
        <div class="rating-content">
            <label>Single Selection</label><br/>                           
            <SfRating Value=3 EnableSingleSelection=true></SfRating>
        </div>
        <div class="rating-content">
            <label>ReadOnly</label><br/>                          
            <SfRating ReadOnly=true Value=3></SfRating>
        </div>
        <div class="rating-content">
            <label>Disabled</label><br/>                         
            <SfRating Disabled=true Value=3></SfRating>
        </div>
        <div class="rating-content">
            <label>Items Count</label><br/>                         
            <SfRating Value=3 ItemsCount=8></SfRating>
        </div>
    </div>
</div>

<style>

    .rating-control .rating-content {
        width: 240px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .e-bigger .rating-control .rating-content {
        width: 330px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .rating-control{
        margin: 6% auto;
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

</style>


