@page "/rating/navigation"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        This demo showcases the keyboard shortcuts applicable in the Rating component.
    </p>
</SampleDescription>
<ActionDescription>
    <i>The below key combinations can be used in Rating to perform various actions.</i>
    <ul>
        <li>
            <span class="key-class"><kbd>Tab</kbd></span>
            <span> - Focus.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Left Arrow</kbd></span>
            <span> - Increase in RTL and decrease in LTR.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Right Arrow</kbd></span>
            <span> - Decrease in RTL and increase in LTR.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Down arrow</kbd></span>
            <span> - Decreases the value.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Up arrow</kbd></span>
            <span> - Increases the value.</span>
        </li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="rating-control">                        
        <SfRating Value=3 AllowReset=true></SfRating>
    </div>
</div>

<style>
    .rating-control {
        text-align: center;
        margin: 6% auto;
    }
</style>

