@page "/rating/navigation"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This demo showcases the keyboard shortcuts applicable in the Rating component.</p>
    
    <p>The following key combinations can be used in Rating to perform various actions:</p>
    <ul>
        <li><span class="key-class"><kbd>Tab</kbd></span> - Focus on the rating component.</li>
        <li><span class="key-class"><kbd>Left Arrow</kbd></span> - Increase in RTL and decrease in LTR direction.</li>
        <li><span class="key-class"><kbd>Right Arrow</kbd></span> - Decrease in RTL and increase in LTR direction.</li>
        <li><span class="key-class"><kbd>Down arrow</kbd></span> - Decreases the rating value.</li>
        <li><span class="key-class"><kbd>Up arrow</kbd></span> - Increases the rating value.</li>
    </ul>
</ActionDescription>


<div class="control-section">
    <div class="rating-control">                        
        <SfRating Value=3 AllowReset=true></SfRating>
    </div>
</div>

<style>
    .rating-control {
        text-align: center;
        margin: 6% auto;
    }
</style>

