@page "/rating/label"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates label support, including label positioning and templates, in the Blazor Rating component.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        You can show or hide labels by setting the <code>ShowLabel</code> property. The <code>LabelPosition</code> property provides several built-in positions and the appearance of labels can be customized using the <code>LabelTemplate</code> property.
    </p>
</ActionDescription>

<div class="control-section">
    <div class="rating-control">
        <div class="rating-content">
            <label class="rating-name">Default(Right)</label><br/>                            
            <SfRating Value=3 ShowLabel=true></SfRating>
        </div>
        <div class="rating-content">
            <label>Left</label><br />                            
            <SfRating Value=3 ShowLabel=true LabelPosition="LabelPosition.Left"></SfRating>
        </div>
        <div class="rating-content">
            <label>Label Template</label><br />                            
            <SfRating Value=3 ShowLabel=true>
                <LabelTemplate>
                    <span>@context Out Of 5</span>
                </LabelTemplate>
            </SfRating>
        </div>
        <div class="rating-content">
            <label>Top</label><br />                            
            <SfRating Value=3 ShowLabel=true LabelPosition="LabelPosition.Top"></SfRating>
        </div>
        <div class="rating-content">
            <label class="rating-name">Bottom</label><br />                            
            <SfRating Value=3 ShowLabel=true LabelPosition="LabelPosition.Bottom"></SfRating>
        </div>
    </div>
</div>

<style>
    .rating-control .rating-content {
        width: 240px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .e-bigger .rating-control .rating-content {
        width: 290px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .rating-control {
        margin: 6% auto;
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

</style>

