@page "/rating/precision"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the different precision types supported in the Blazor Rating component.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
         The <code>Precision</code> property used to change the type of precision to <code>Quarter</code>, <code>Half</code>, <code>Full</code> and <code>Exact</code>.
    </p>
</ActionDescription>

<div class="control-section">
    <div class="rating-control">
        <div class="rating-content">
            <label>Full</label><br/>                       
            <SfRating Value=3 Precision="PrecisionType.Full"></SfRating>
        </div>
        <div class="rating-content">
            <label>Half</label><br/>                        
            <SfRating Value=2.5 Precision="PrecisionType.Half"></SfRating>
        </div>
        <div class="rating-content">
            <label>Quarter</label><br/>                        
            <SfRating Value=2.75 Precision="PrecisionType.Quarter"></SfRating>
        </div>
        <div class="rating-content">
            <label>Exact</label><br/>                          
            <SfRating Value=2.3 Precision="PrecisionType.Exact"></SfRating>
        </div>
    </div>
</div>

<style>

    .rating-control .rating-content {
        width: 240px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .e-bigger .rating-control .rating-content {
        width: 260px;
        margin: 15px 0;
        min-height: 75px;
        padding: 0;
        text-align: center;
    }

    .rating-control{
        margin: 6% auto;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
