@page "/rating/precision"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the different precision types supported in the Blazor Rating component.</p>
    
    <p><b>Precision Options:</b></p>
    <p>The <code>Precision</code> property allows you to change the type of precision to:</p>
    <ul>
        <li><code>Quarter</code> - Allows quarter-based precision (0.25 increments)</li>
        <li><code>Half</code> - Allows half-based precision (0.5 increments)</li>
        <li><code>Full</code> - Allows full-based precision (1.0 increments)</li>
        <li><code>Exact</code> - Allows exact precision for any decimal value</li>
    </ul>
</ActionDescription>


<div class="control-section">
    <div class="rating-control">
        <div class="rating-content">
            <label for="rating1" aria-label="Full precision rating" tabindex="0">Full</label><br />
            <SfRating ID="rating1" Value=3 Precision="PrecisionType.Full"></SfRating>
        </div>
        <div class="rating-content">
            <label for="rating2" aria-label="Half precision rating" tabindex="0">Half</label><br />
            <SfRating ID="rating2" Value=2.5 Precision="PrecisionType.Half"></SfRating>
        </div>
        <div class="rating-content">
            <label for="rating3" aria-label="Quarter precision rating" tabindex="0">Quarter</label><br />
            <SfRating ID="rating3" Value=2.75 Precision="PrecisionType.Quarter"></SfRating>
        </div>
        <div class="rating-content">
            <label for="rating4" aria-label="Exact precision rating" tabindex="0">Exact</label><br />
            <SfRating ID="rating4" Value=2.3 Precision="PrecisionType.Exact"></SfRating>
        </div>
    </div>
</div>

<style>

    .rating-control .rating-content {
        width: 240px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .e-bigger .rating-control .rating-content {
        width: 260px;
        margin: 15px 0;
        min-height: 75px;
        padding: 0;
        text-align: center;
    }

    .rating-control{
        margin: 6% auto;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
