@page "/rating/tooltip"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample effectively showcases the integration and application of tooltips within the Syncfusion Blazor Rating component, along with various customization options available through the use of templates. It illustrates how tooltips can be tailored to provide additional context, making the rating interaction more informative and user-friendly while demonstrating practical examples of template-based enhancements in a real-world scenario.</p>
    
    <p><b>Tooltip Customization:</b></p>
    <p>The <code>TooltipTemplate</code> property in the Blazor Rating component provides developers with a powerful and flexible way to fully customize the content and appearance of the tooltip that appears during user interactions. This customization capability enables the inclusion of rich, descriptive text, icons, or even structured HTML elements to offer enhanced user guidance, immediate feedback, and a more intuitive experience when users hover over or select rating values, ultimately improving accessibility and overall usability of the component in Blazor applications.</p>
</ActionDescription>


<div class="control-section">
    <div class="rating-control">
        <div class="rating-content">
            <label for="rating1" aria-label="Rating tooltip" tabindex="0">Default</label><br />
            <SfRating ID="rating1" Value=3></SfRating>
        </div>
        <div class="rating-content">
            <label for="rating2" aria-label="3 Star rating tooltip" tabindex="0">Template</label><br />
            <SfRating ID="rating2" Value=3>
                <TooltipTemplate>
                    <span> @context Star</span>
                </TooltipTemplate>    
            </SfRating>
        </div>
    </div>
</div>


<style>

    .rating-control .rating-content {
        width: 240px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .rating-control {
        margin: 6% auto;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>