@page "/rating/tooltip"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        The following sample demonstrates the tooltip and its customization using templates in the Blazor Rating component.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
         The <code>TooltipTemplate</code> property customizes the tooltip template in the Blazor Rating component.
    </p>
</ActionDescription>

<div class="control-section">
    <div class="rating-control">
        <div class="rating-content">
            <label>Default</label><br/>                       
            <SfRating Value=3></SfRating>
        </div>
        <div class="rating-content">
            <label>Template</label><br/>                          
            <SfRating Value=3>
                <TooltipTemplate>
                    <span> @context Star</span>
                </TooltipTemplate>    
            </SfRating>
        </div>
    </div>
</div>


<style>

    .rating-control .rating-content {
        width: 240px;
        margin: 15px 0;
        min-height: 75px;
        padding:0;
        text-align: center;
    }

    .rating-control {
        margin: 6% auto;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>