@page "/Diagrams/Shapes"

@using Syncfusion.EJ2.RazorComponents.Diagrams

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Shapes";
    SampleBrowser.CurrentControlName = "Diagram";
    SampleBrowser.CurrentControlCategory = "Diagram";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Diagram;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This example illustrates predefining shapes in a palette that can be easily dragged and dropped into the drawing area. Customizable options of the symbol palette are also illustrated in this example.
        </p>"
    };
    SampleBrowser.Description = new string[] {
       @"<p>
            This example shows how to add shapes to symbol palette and how to customize it. The   <code>symbols</code> property can be used to add shapes to the symbol palette. The <code>symbolWidth</code> and <code>symbolHeight</code> properties allow you to define the size of the symbols.
        </p>
        <p>
            In this example, options to enable/disable animation, show/hide symbol descriptions, and show header icons are provided.
        </p>
        <br>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsDiagram id="diagram" @ref="diagram" Width="100%" Height="700px" Nodes="@nodes" SnapSettings="@snapSettings"></EjsDiagram>
</div>

@code{
EjsDiagram diagram;

    private static object getFlowShape(string id, string shapeType) {
    return new { id= id, shape = new { type = "Flow", shape = shapeType } };
    }

    private List<DiagramNode>
    nodes { get; set; } = new List<DiagramNode>()
        {
    new DiagramNode() {
        Shape= new { type= "Text", content= "Basic Shapes" },Width = 150, Height = 40,OffsetX= 90,OffsetY= 50,Constraints= NodeConstraints.PointerEvents,
        Style= new { fontSize= 16, fill= "None", fontFamily= "sans-serif", bold= true, strokeWidth= 0 },
    },
    new DiagramNode() {
        OffsetX= 60,OffsetY= 100,Shape= new { type= "Basic", shape= "Rectangle" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Rectangle",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
        OffsetX= 150,OffsetY= 100,Shape= new { type= "Basic", shape= "Ellipse" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Ellipse" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
        OffsetX= 240,OffsetY= 100,Shape= new  { type= "Basic", shape= "Triangle" }, Annotations= new List<object>
            { new{content= "Triangle",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
        OffsetX= 330,OffsetY= 100, Shape=  new { type= "Basic", shape= "Plus" }, Width = 40, Height = 40,Annotations= new List<object>
            { new{content= "Plus" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
        OffsetX= 420,OffsetY= 100, Shape=  new { type= "Basic", shape= "Star" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Star",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
        OffsetX= 510,OffsetY= 100,Shape= new  { type= "Basic", shape= "Pentagon" }, Width = 40, Height = 40,Annotations= new List<object>
            { new{content= "Pentagon",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
        OffsetX= 600,OffsetY= 100, Shape=  new { type= "Basic", shape= "Heptagon" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Heptagon",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
        OffsetX= 690,OffsetY= 100, Shape=  new { type= "Basic", shape= "Octagon" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Octagon" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
        OffsetX= 780,OffsetY= 100,Shape= new  { type= "Basic", shape= "Trapezoid" },Width = 40, Height = 40, Annotations= new List<object>
            { new{content="Trapezoid" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
       OffsetX= 870,OffsetY= 100, Shape=  new { type= "Basic", shape= "Decagon" }, Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Decagon" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
        OffsetX= 60,OffsetY= 200, Shape=  new { type= "Basic", shape= "RightTriangle" },Width = 40, Height = 40, Annotations= new List<object>
            { new{content="Right Triangle",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
        OffsetX= 150,OffsetY= 200, Shape=  new { type= "Basic", shape= "Parallelogram" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Parallelogram" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
        OffsetX= 90,OffsetY= 300,Shape= new { type= "Text", content= "Flow Shapes" },Width = 150, Height = 40,Constraints= NodeConstraints.PointerEvents,
        Style= new { fontSize= 16, fill= "None", fontFamily= "sans-serif", bold= true, strokeWidth= 0 },
    },
    new DiagramNode() {
        OffsetX= 60,OffsetY= 350,Shape= new { type= "Flow", shape= "Terminator" },Width = 40, Height = 20,Annotations= new List<object>
            { new{content= "Terminator",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 150,OffsetY= 350,Shape= new { type= "Flow", shape= "Process" },Width = 40, Height = 20,Annotations= new List<object>
            { new{content="Process",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 240,OffsetY= 350,Shape= new { type= "Flow", shape= "Decision" },Width = 40, Height = 35,Annotations= new List<object>
            { new{content= "Decision",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 330,OffsetY= 350,Shape= new { type= "Flow", shape= "Document" }, Width = 40, Height = 30,Annotations= new List<object>
            { new{content= "Document",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 420,OffsetY= 350,Shape= new { type= "Flow", shape= "PreDefinedProcess" }, Width = 40, Height = 30,Annotations= new List<object>
            { new{content= "Predefined Process" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 510,OffsetY= 350,Width = 40, Height = 40,Shape= new { type= "Flow", shape= "PaperTap",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }, Annotations= new List<object>
            { new{content= "Paper Tape",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 600,OffsetY= 350,Shape= new { type= "Flow", shape= "DirectData" },Width = 30, Height = 40,Annotations= new List<object>
            { new{content= "Direct Data" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 690,OffsetY= 350,Shape= new { type= "Flow", shape= "SequentialData" },Width = 40, Height = 40, Annotations= new List<object>
            { new{content="Direct Data",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 780,OffsetY= 350,Shape= new { type= "Flow", shape= "Sort" }, Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Sort" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 870,OffsetY= 350,Shape= new { type= "Flow", shape= "MultiDocument" },Width = 40, Height = 30,Annotations= new List<object>
            { new{content="Multi-Document" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 60,OffsetY= 450, Shape=new  { type= "Flow", shape= "Collate" }, Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Collate",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 150,OffsetY= 450,Shape= new { type= "Flow", shape= "SummingJunction" },Width = 40, Height = 40, Annotations= new List<object>
            { new{content= "Summing Junction",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 240,OffsetY= 450,Shape= new { type= "Flow", shape= "Or" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content= "Or" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 330,OffsetY= 450,Shape= new { type= "Flow", shape= "InternalStorage" },Width = 40, Height = 40,Annotations= new List<object>
            { new{content= "Internal Storage" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 420,OffsetY= 450,Shape= new { type= "Flow", shape= "Extract" }, Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Extract",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 510,OffsetY= 450,Shape= new { type= "Flow", shape= "ManualOperation" }, Width = 40, Height = 40, Annotations = new List<object>
            { new {content="Manual Operation",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new  DiagramNode(){
         OffsetX= 600,OffsetY= 450,Shape= new { type= "Flow", shape= "Merge" },Width = 40, Height = 40, Annotations= new List<object>
            { new{content="Merge" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 690,OffsetY= 450,Width = 40, Height = 40,Shape= new { type= "Flow", shape= "OffPageReference" }, Annotations= new List<object>
            { new{content= "Off-Page Reference" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 780,OffsetY= 450,Shape= new { type= "Flow", shape= "SequentialAccessStorage" },Width = 40, Height = 40, Annotations= new List<object>
            { new{content="Sequential Access Storage",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    },
    new DiagramNode() {
         OffsetX= 870,OffsetY= 450, Shape=new  { type= "Flow", shape= "Data" }, Width = 40, Height = 40,Annotations= new List<object>
            { new{content="Data" ,verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 }}}
    },
    new DiagramNode() {
         OffsetX= 60,OffsetY= 550,Shape= new { type= "Flow", shape= "Card" }, Width = 40, Height = 40,Annotations= new List<object>
    { new{content= "Card",verticalAlignment = "Top",offset = new { y= 1 },margin = new { top= 10 } }}
    }
    };

    private object snapSettings { get; set; } = new {  Constraints= "SnapConstraints.None" };

    }
