@page "/LinearGauge/Annotation"

@using Syncfusion.EJ2.Blazor.LinearGauge

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Annotation";
    SampleBrowser.CurrentControlName = "LinearGauge";
    SampleBrowser.CurrentControlCategory = "LinearGauge";
    SampleBrowser.CurrentControl = SampleBrowser.Config.LinearGauge;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample illustrates the default rendering of linear gauge.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This sample demonstrates the default linear gauge. The linear gauge component indicates the values of scales in horizontal
            or vertical sliding meter. You can use <code>axes</code>,
            <code>ranges</code>, <code>pointers</code> and <code>container</code> properties to customize the appearance of the
            gauge. an axis, annotation and a pointer has been used.
        </p>
        <br>
        <p>
            More information about linear gauge can be found in this
            <a target=""_blank"" href=""https://ej2.syncfusion.com/blazor/documentation"">documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsLinearGauge Orientation="Orientation.Horizontal" RangePalettes="@paletteColors">
        <LinearGaugeAxes>
            <LinearGaugeAxis Maximum="90">
                <LinearGaugeLine Width="0"></LinearGaugeLine>
                <LinearGaugeAxisLabelStyle>
                    <LinearGaugeAxisLabelFont Size="0"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugeMajorTicks Height="0">
                </LinearGaugeMajorTicks>
                <LinearGaugeMinorTicks Height="0">
                </LinearGaugeMinorTicks>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0.1" End="30" StartWidth="50" EndWidth="50"></LinearGaugeRange>
                    <LinearGaugeRange Start="30" End="60" StartWidth="50" EndWidth="50"></LinearGaugeRange>
                    <LinearGaugeRange Start="60" End="90" StartWidth="50" EndWidth="50"></LinearGaugeRange>
                </LinearGaugeRanges>
                <LinearGaugeAnnotations>
                    <LinearGaugeAnnotation HorizontalAlignment="Syncfusion.EJ2.Blazor.LinearGauge.Placement.Center" X="35" Y="50" ZIndex="1">
                        <ContentTemplate>
                            <div style='width:200px;margin-left:300px;margin-top:-210px;'><p style='font-size:18px;'>CPU Utilization</p></div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="15" Y="-25" ZIndex="1">
                        <ContentTemplate>
                            <div style="margin-top:-15px"><img style='height:25px;width:25px;' src='styles/images/lineargauge/Low.png' /></div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="45" Y="-25" ZIndex="1">
                        <ContentTemplate>
                            <div style="margin-top:-15px">
                                <img style='height:25px;width:25px;' src="styles/images/lineargauge/Moderate.png" />
                            </div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="75" Y="-25" ZIndex="1">
                        <ContentTemplate>
                            <div style="margin-top:-15px">
                                <img style='height:25px;width:25px;' src="styles/images/lineargauge/Low.png" />
                            </div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="15" Y="20" ZIndex="1">
                        <ContentTemplate>
                            <div><p style='font-size:15px;color:#248622;'>Low</p></div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="45" Y="20" ZIndex="1">
                        <ContentTemplate>
                            <div><p style='font-size:15px;color:#ba9e2a;'>Moderate</p></div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="75" Y="20" ZIndex="1">
                        <ContentTemplate>
                            <div><p style='font-size:15px;color:#b42f2f;'>High</p></div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                </LinearGaugeAnnotations>
                <LinearGaugePointers>
                    <LinearGaugePointer Value="35" Height="15" Width="15" Placement="Placement.Near" Offset="-50" MarkerType="MarkerType.Triangle" Color="#757575">
                    </LinearGaugePointer>
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </EjsLinearGauge>
</div>
<style>
    #control-section {
        padding: 0px !important;
    }
</style>

@code {
    private String[] paletteColors = new String[] { "#30b32d", "#ffdd00", "#f03e3e" };
}