@page "/linear-gauge/annotation"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates how to use the annotation feature to demonstrate CPU utilization of a resource.</p>
</SampleDescription>
<ActionDescription>
    <p>In this sample we have used annotations to indicate low, moderate and high ranges. Annotations are used to place text, shapes or images anywhere on the linear gauge. To customize the annotations, you can use the <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAnnotation.html#Syncfusion_Blazor_LinearGauge_LinearGaugeAnnotation_X'>X</a></code>, <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAnnotation.html#Syncfusion_Blazor_LinearGauge_LinearGaugeAnnotation_Y'>Y</a></code>, <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAnnotation.html#Syncfusion_Blazor_LinearGauge_LinearGaugeAnnotation_ZIndex'>ZIndex</a></code>, and <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAnnotation.html#Syncfusion_Blazor_LinearGauge_LinearGaugeAnnotation_Content'>Content</a></code> properties.</p>
    <p>More information about annotations can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/annotations'>documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" RangePalettes="@PaletteColors" Theme="@Theme">
        <LinearGaugeAxes>
            <LinearGaugeAxis Maximum="90">
                <LinearGaugeLine Width="0" />
                <LinearGaugeAxisLabelStyle>
                    <LinearGaugeAxisLabelFont Size="0" />
                </LinearGaugeAxisLabelStyle>
                <LinearGaugeMajorTicks Height="0" />
                <LinearGaugeMinorTicks Height="0" />
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0.1" End="30" StartWidth="50" EndWidth="50" />
                    <LinearGaugeRange Start="30" End="60" StartWidth="50" EndWidth="50" />
                    <LinearGaugeRange Start="60" End="90" StartWidth="50" EndWidth="50" />
                </LinearGaugeRanges>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="35" Height="15" Width="15" Placement="Placement.Near" Offset="-50" MarkerType="MarkerType.Triangle" />
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
        <LinearGaugeAnnotations>
            <LinearGaugeAnnotation HorizontalAlignment="Placement.Center" X="10" Y="90" ZIndex="1">
                <ContentTemplate>
                    <div class="titleText"><p style='font-size:18px;'>CPU Utilization</p></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="15" Y="-25" ZIndex="1">
                <ContentTemplate>
                    <div class="imagePosition"><img class="annotationImage" src="images/linear-gauge/low.png" /></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="45" Y="-25" ZIndex="1">
                <ContentTemplate>
                    <div class="imagePosition">
                        <img class="annotationImage" src="images/linear-gauge/moderate.png" />
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="75" Y="-25" ZIndex="1">
                <ContentTemplate>
                    <div class="imagePosition">
                        <img class="annotationImage" src="images/linear-gauge/low.png" />
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="15" Y="10" ZIndex="1">
                <ContentTemplate>
                    <div><p class="textFont" style="color:#248622;">Low</p></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="35" X="60" Y="10" ZIndex="1">
                <ContentTemplate>
                    <div><p class="textFont" style="color:#ba9e2a;">Moderate</p></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="75" Y="10" ZIndex="1">
                <ContentTemplate>
                    <div><p class="textFont" style="color:#b42f2f;">High</p></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
        </LinearGaugeAnnotations>
    </SfLinearGauge>
</div>
<style>
    .annotationImage {
        height: 25px;
        width: 25px;
    }

    .imagePosition {
        margin-top: -15px
    }

    .textFont {
        font-size: 15px;
    }

    .titleText {
        width: 200px;
        margin-left: -70px;
    }
</style>

@code {
    public Theme Theme { get; set; }
    public string[] PaletteColors = new string[] { "#30b32d", "#ffdd00", "#f03e3e" };
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}
