@page "/LinearGauge/DataSample"

@using Syncfusion.EJ2.Blazor.LinearGauge

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "DataSample";
    SampleBrowser.CurrentControlName = "LinearGauge";
    SampleBrowser.CurrentControlCategory = "LinearGauge";
    SampleBrowser.CurrentControl = SampleBrowser.Config.LinearGauge;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample illustrates exercise tracking of an athlete by using ranges, pointers, and annotation features available in linear gauge.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This sample demonstrates the exercise tracking using ranges, pointer and annotation features in linear gauge. We have rendered 3 linear gauges in this sample for indicating running, cycling and walking.
        </p>
        <br>
        <p>
            More information about linear gauge can be found in this
            <a target=""_blank"" href=""https://ej2.syncfusion.com/blazor/documentation"">documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div >       
        <EjsLinearGauge Orientation="Orientation.Horizontal" Height="300px">
            <LinearGaugeContainer Width="30" Offset="30">
                <LinearGaugeContainerBorder Width="0"></LinearGaugeContainerBorder>
            </LinearGaugeContainer>
            <LinearGaugeAxes>
                <LinearGaugeAxis>
                    <LinearGaugeLine Offset="30"></LinearGaugeLine>
                    <LinearGaugeAxisLabelStyle Offset="50">
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer Value="10"
                                            Height="10"
                                            Width="10"
                                            Placement="Placement.Near"
                                            Offset="-60"
                                            MarkerType="MarkerType.Triangle">
                        </LinearGaugePointer>
                    </LinearGaugePointers>
                    <LinearGaugeRanges>
                        <LinearGaugeRange Start="0.1"
                                          End="10"
                                          StartWidth="30"
                                          EndWidth="30"
                                          Color="#30b32d">
                        </LinearGaugeRange>
                    </LinearGaugeRanges>
                </LinearGaugeAxis>
            </LinearGaugeAxes>
            <LinearGaugeAnnotations>
                <LinearGaugeAnnotation AxisIndex="0" AxisValue="10" X="-80" Y="-180" ZIndex="1">
                    <ContentTemplate>
                        <div id="title" style="width:300px;">
                            <img style="height:25px;width:25px;float:left;" src="styles/images/lineargauge/Exercise.svg" />
                            <p style="font-size:18px;color:#4285F4;float:left;margin-left:12px;margin-top:4px">Exercise Tracking </p>
                        </div>
                    </ContentTemplate>
                </LinearGaugeAnnotation>
                <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="50" Y="60" ZIndex="1">
                    <ContentTemplate>
                        <div style="width:100px;">
                            <img style="height:25px;width:25px;float:left;margin-left:100px;margin-top:10px;" src="styles/images/lineargauge/Running.svg" />
                            <p style="float:left;margin-left:130px;margin-top:-20px">Running</p>
                        </div>
                    </ContentTemplate>
                </LinearGaugeAnnotation>
                <LinearGaugeAnnotation AxisIndex="0" AxisValue="10" Y="-65" ZIndex="1">
                    <ContentTemplate>
                        <div style="width:60px;">
                            <p style="font-size:15px;margin-left:-30px;margin-top:-10px">10 MPH</p>
                        </div>
                    </ContentTemplate>
                </LinearGaugeAnnotation>
            </LinearGaugeAnnotations>
        </EjsLinearGauge>
    </div>
    <div>       
        <EjsLinearGauge Orientation="Orientation.Horizontal" Height="250px">
            <LinearGaugeContainer Width="30" Offset="-50">
                <LinearGaugeContainerBorder Width="0"></LinearGaugeContainerBorder>
            </LinearGaugeContainer>
            <LinearGaugeAxes>
                <LinearGaugeAxis>
                    <LinearGaugeLine Offset="30"></LinearGaugeLine>
                    <LinearGaugeAxisLabelStyle Offset="50">
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer Value="28"
                                            Height="10"
                                            Width="10"
                                            Placement="Placement.Near"
                                            Offset="-60"
                                            MarkerType="MarkerType.Triangle">
                        </LinearGaugePointer>
                    </LinearGaugePointers>
                    <LinearGaugeRanges>
                        <LinearGaugeRange Start="0.1"
                                          End="28"
                                          StartWidth="30"
                                          EndWidth="30"
                                          Color="#30b32d">
                        </LinearGaugeRange>
                    </LinearGaugeRanges>
                </LinearGaugeAxis>
            </LinearGaugeAxes>
            <LinearGaugeAnnotations>
                <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="50" Y="-60" ZIndex="1">
                    <ContentTemplate>
                        <div style="width:100px;">
                            <img style="height:25px;width:25px;float:left;margin-left:100px;margin-top:10px;" src="styles/images/lineargauge/Cycling.svg" />
                            <p style="float:left;margin-left:130px;margin-top:-20px">Cycling</p>
                        </div>
                    </ContentTemplate>
                </LinearGaugeAnnotation>
                <LinearGaugeAnnotation AxisIndex="0" AxisValue="28" Y="-70" ZIndex="1">
                    <ContentTemplate>
                        <div style="width:60px;">
                            <p style="font-size:15px;margin-left:-30px;margin-top:-10px">28 MPH</p>
                        </div>
                    </ContentTemplate>
                </LinearGaugeAnnotation>
            </LinearGaugeAnnotations>
        </EjsLinearGauge>
    </div>
    <div>
        <EjsLinearGauge Orientation="Orientation.Horizontal" Height="250px">
            <LinearGaugeContainer Width="30" Offset="-90">
                <LinearGaugeContainerBorder Width="0"></LinearGaugeContainerBorder>
            </LinearGaugeContainer>
            <LinearGaugeAxes>
                <LinearGaugeAxis Maximum="10">
                    <LinearGaugeLine Offset="30"></LinearGaugeLine>
                    <LinearGaugeAxisLabelStyle Offset="50"
                                               Format="{value}k">
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer Value="2"
                                            Height="10"
                                            Width="10"
                                            Placement="Placement.Near"
                                            Offset="-60"
                                            MarkerType="MarkerType.Triangle">
                        </LinearGaugePointer>
                    </LinearGaugePointers>
                    <LinearGaugeRanges>
                        <LinearGaugeRange Start="0"
                                          End="2"
                                          StartWidth="30"
                                          EndWidth="30"
                                          Color="#30b32d">
                        </LinearGaugeRange>
                    </LinearGaugeRanges>
                </LinearGaugeAxis>
            </LinearGaugeAxes>
            <LinearGaugeAnnotations>
                <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="50" Y="-60" ZIndex="1">
                    <ContentTemplate>
                        <div style="width:100px;">
                            <img style="height:25px;width:25px;float:left;margin-left:100px;margin-top:10px" src="styles/images/lineargauge/Walking.svg" />
                            <p style="float:left;margin-left:130px;margin-top:-20px">Walking</p>
                        </div>
                    </ContentTemplate>
                </LinearGaugeAnnotation>
                <LinearGaugeAnnotation AxisIndex="0" AxisValue="2.2" Y="-65" ZIndex="1">
                    <ContentTemplate>
                        <div style="width:100px;">
                            <p style="font-size:15px;margin-left:-30px;margin-top:-10px">2000 Steps</p>
                        </div>
                    </ContentTemplate>
                </LinearGaugeAnnotation>
            </LinearGaugeAnnotations>
        </EjsLinearGauge>
    </div>
</div>

