@page "/linear-gauge/data-sample"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample shows how to track an athlete's exercise workout by utilizing the linear gauge's ranges, pointers, and annotation features.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, we've used ranges, pointers, and annotations to create three linear gauges indicating an athlete's running, cycling, and walking metrics.</p>
</ActionDescription>

<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" Height="300px" Theme="@Theme">
        <LinearGaugeContainer Width="30">
            <LinearGaugeContainerBorder Width="0" />
        </LinearGaugeContainer>
        <LinearGaugeAxes>
            <LinearGaugeAxis>
                <LinearGaugeLine Offset="30" />
                <LinearGaugeAxisLabelStyle Offset="50">
                    <LinearGaugeAxisLabelFont FontFamily="Segoe UI"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="10" Height="10" Width="10" Placement="Placement.Near" Offset="-60" MarkerType="MarkerType.Triangle" />
                </LinearGaugePointers>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0.1" End="10" StartWidth="30" EndWidth="30" Color="#30b32d" />
                </LinearGaugeRanges>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
        <LinearGaugeAnnotations>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="10" X="-180" Y="-180" ZIndex="1">
                <ContentTemplate>
                    <div id="title" style="width:300px;">
                        <img class="annotation" style="margin-left:40%;margin-top: 3%;" src="images/linear-gauge/exercise-tracking.png" />
                        <p style="font-size:18px;color:#4285F4;float:left;margin-left: 2%;margin-top: 3%;">Exercise Tracking </p>
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="-100" Y="-130" ZIndex="1">
                <ContentTemplate>
                    <div style="width:100px;">
                        <img class="annotation" src="images/linear-gauge/running.svg" />
                        <p class="annotationTemplate">Running</p>
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="10" Y="-65" ZIndex="1">
                <ContentTemplate>
                    <div style="width:60px;">
                        <p class="annotationText" style="margin-top:-15px;">10 MPH</p>
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
        </LinearGaugeAnnotations>
    </SfLinearGauge>
    <SfLinearGauge Orientation="Orientation.Horizontal" Height="250px" Theme="@Theme">
        <LinearGaugeContainer Width="30" Offset="-20">
            <LinearGaugeContainerBorder Width="0" />
        </LinearGaugeContainer>
        <LinearGaugeAxes>
            <LinearGaugeAxis>
                <LinearGaugeLine Offset="30" />
                <LinearGaugeAxisLabelStyle Offset="50">
                    <LinearGaugeAxisLabelFont FontFamily="Segoe UI"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="28" Height="10" Width="10" Placement="Placement.Near" Offset="-60" MarkerType="MarkerType.Triangle" />
                </LinearGaugePointers>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0.1" End="28" StartWidth="30" EndWidth="30" Color="#30b32d" />
                </LinearGaugeRanges>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
        <LinearGaugeAnnotations>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="-100" Y="-130" ZIndex="1">
                <ContentTemplate>
                    <div style="width:100px;">
                        <img class="annotation" src="images/linear-gauge/cycling.svg" />
                        <p class="annotationTemplate">Cycling</p>
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="28" Y="-70" ZIndex="1">
                <ContentTemplate>
                    <div style="width:60px;">
                        <p class="annotationText">28 MPH</p>
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
        </LinearGaugeAnnotations>
    </SfLinearGauge>
    <SfLinearGauge Orientation="Orientation.Horizontal" Height="230px" Theme="@Theme">
        <LinearGaugeContainer Width="30">
            <LinearGaugeContainerBorder Width="0" />
        </LinearGaugeContainer>
        <LinearGaugeAxes>
            <LinearGaugeAxis Maximum="10">
                <LinearGaugeLine Offset="30" />
                <LinearGaugeAxisLabelStyle Offset="50" Format="{value}k">
                    <LinearGaugeAxisLabelFont FontFamily="Segoe UI"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="2" Height="10" Width="10" Placement="Placement.Near" Offset="-60" MarkerType="MarkerType.Triangle" />
                </LinearGaugePointers>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0" End="2" StartWidth="30" EndWidth="30" Color="#30b32d" />
                </LinearGaugeRanges>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
        <LinearGaugeAnnotations>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="-100" Y="-130" ZIndex="1">
                <ContentTemplate>
                    <div style="width:100px;">
                        <img class="annotation" src="images/linear-gauge/walking.svg" />
                        <p class="annotationTemplate" style="margin-left:127%;margin-top: -18%;">Walking</p>
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="2.2" X="-20" Y="-70" ZIndex="1">
                <ContentTemplate>
                    <div style="width:100px;">
                        <p class="annotationText">2000 Steps</p>
                    </div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
        </LinearGaugeAnnotations>
    </SfLinearGauge>
</div>
<style>
    .annotation {
        height: 25px;
        width: 25px;
        float: left;
        margin-left: 100%;
        margin-top: 4%;
    }

    .annotationTemplate {
        float: left;
        margin-left: 132%;
        margin-top: -19%
    }

    .annotationText {
        font-size: 15px;
        margin-left: -30px;
        margin-top: -10px;
    }
</style>
@code {
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}
