@page "/linear-gauge/styles"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample shows how to use various styling options to indicate a value in the linear gauge.</p>
</SampleDescription>
<ActionDescription>
    <p>In this sample, we used bar and marker pointers to indicate a value in various styles. In addition, any number of pointers can be displayed in an axis.</p>
</ActionDescription>

<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" Height="100px" Theme="@Theme">
        <LinearGaugeAxes>
            <LinearGaugeAxis>
                <LinearGaugeLine Color="#9E9E9E" />
                <LinearGaugeMajorTicks Color="#9E9E9E" Height="20" Interval="10" />
                <LinearGaugeMinorTicks Color="#9E9E9E" Height="10" Interval="5" />
                <LinearGaugeAxisLabelStyle>
                    <LinearGaugeAxisLabelFont FontFamily="Segoe UI"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="80" Height="13" Width="13" Offset="10" />
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
    <SfLinearGauge Orientation="Orientation.Horizontal" Height="160px" Width="100%" Theme="@Theme">
        <LinearGaugeContainer Width="30" Offset="-20" BackgroundColor="#e0e0e0">
            <LinearGaugeContainerBorder Width="0" />
        </LinearGaugeContainer>
        <LinearGaugeAxes>
            <LinearGaugeAxis>
                <LinearGaugeLine Offset="30" />
                <LinearGaugeAxisLabelStyle Offset="50">
                    <LinearGaugeAxisLabelFont FontFamily="Segoe UI"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugeMajorTicks Interval="10" Height="20" />
                <LinearGaugeMinorTicks Interval="5" Height="10" />
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="10" Height="15" Width="15" Placement="Placement.Near" Offset="-50" MarkerType="MarkerType.Triangle" />
                </LinearGaugePointers>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0" End="10" StartWidth="30" EndWidth="30" Color="#30b32d" />
                </LinearGaugeRanges>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
    <SfLinearGauge Orientation="Orientation.Horizontal" Height="150px" Theme="@Theme">
        <LinearGaugeAxes>
            <LinearGaugeAxis>
                <LinearGaugeLine Offset="-20" Color="#9E9E9E" />
                <LinearGaugeMajorTicks Interval="10" Height="20" Color="#9E9E9E" />
                <LinearGaugeMinorTicks Color="#9E9E9E" Height="10" Interval="5" />
                <LinearGaugeAxisLabelStyle>
                    <LinearGaugeAxisLabelFont FontFamily="Segoe UI"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="70" Height="13" Width="13" Offset="20" />
                    <LinearGaugePointer PointerValue="70" Height="10" Type="Point.Bar" Color="red" />
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
    <SfLinearGauge Orientation="Orientation.Horizontal" Height="100px" Theme="@Theme">
        <LinearGaugeContainer Width="30" Offset="0" BackgroundColor="#e0e0e0">
        </LinearGaugeContainer>
        <LinearGaugeAxes>
            <LinearGaugeAxis>
                <LinearGaugeLine Width="0" />
                <LinearGaugeAxisLabelStyle Offset="55">
                    <LinearGaugeAxisLabelFont FontFamily="Segoe UI"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugeMajorTicks Interval="10" Height="0" />
                <LinearGaugeMinorTicks Height="0" />
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="60" Height="15" Width="15" Offset="-50" Placement="Placement.Near" MarkerType="MarkerType.Triangle" />
                    <LinearGaugePointer PointerValue="60" Height="30" Type="Point.Bar" Color="#ff9200" />
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
</div>
@code {
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}
