@page "/linear-gauge/tooltip"

@using Syncfusion.Blazor.LinearGauge
@using Newtonsoft.Json;

@inherits SampleBaseComponent;

<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal">
        <LinearGaugeEvents AxisLabelRendering="AxisLabel"/>
        <LinearGaugeContainer Width="140">
            <LinearGaugeContainerBorder Width="2" Color="#a6a6a6"/>
        </LinearGaugeContainer>
        <LinearGaugeTooltipSettings Enable="true"/>
        <LinearGaugeAnnotations>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="5.4" X="35" Y="-58" ZIndex="1">
                <ContentTemplate>
                    <div><h1 class="annotationText">Inches</h1></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="1" AxisValue="16.5" X="50" Y="52" ZIndex="1">
                <ContentTemplate>
                    <div><h1 class="annotationText">Centimeters</h1></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
        </LinearGaugeAnnotations>
        <LinearGaugeAxes>
            <LinearGaugeAxis Maximum="@LinearOneMaximum" Minimum="@LinearOneMinimum">
                <LinearGaugeLine Offset="140"/>
                <LinearGaugeMajorTicks Color="#9E9E9E" Interval="1" Height="20"/>
                <LinearGaugeMinorTicks Color="#9E9E9E" Interval="0.2" Height="10"/>
                <LinearGaugePointers>
                    <LinearGaugePointer Value="5.4" Offset="15" Type="Point.Bar" Color="#ff66b3"/>
                </LinearGaugePointers>
            </LinearGaugeAxis>
            <LinearGaugeAxis OpposedPosition="true" Maximum="@LinearTwoMaximum" Minimum="@LinearTwoMinimum">
                <LinearGaugeLine Offset="-140"/>
                <LinearGaugeMajorTicks Color="#9E9E9E" Interval="1" Height="20"/>
                <LinearGaugeMinorTicks Color="#9E9E9E" Interval="0.2" Height="10"/>
                <LinearGaugePointers>
                    <LinearGaugePointer Value="16.5" Offset="-15" Type="Point.Bar" Color="#4d94ff"/>
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
</div>
<style>
    .annotationText{
        font-size:15px;
        color: #686868;
        margin-top: -6px
    }
    </style>
@code {
    public double LinearOneMinimum = 0;
    public double LinearOneMaximum = 10;
    public double LinearTwoMinimum = 25;
    public double LinearTwoMaximum = 0;
    public void AxisLabel(IAxisLabelRenderEventArgs args) {
        if (this.LinearOneMinimum == args.Value || this.LinearTwoMaximum == args.Value ||
            this.LinearOneMaximum == args.Value || this.LinearTwoMinimum == args.Value) {
            args.Text = "";
        }
        this.StateHasChanged();
    }
}