@page "/LinearGauge/Tooltip"

@using Syncfusion.EJ2.Blazor.LinearGauge
@using Newtonsoft.Json;

@inherits SampleBaseComponent;

<div class="control-section">
    <EjsLinearGauge Orientation="Orientation.Horizontal">
        <LinearGaugeContainer Width="140">
            <LinearGaugeContainerBorder Width="2" Color="#a6a6a6"></LinearGaugeContainerBorder>
        </LinearGaugeContainer>
        <LinearGaugeTooltipSettings Enable="true"></LinearGaugeTooltipSettings>
        <LinearGaugeAnnotations>
            <LinearGaugeAnnotation AxisIndex="0" AxisValue="5.4" X="35" Y="-58" ZIndex="1">
                <ContentTemplate>
                    <div><h1 style="font-size:15px; color: #686868; margin-top: -6px">Inches</h1></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
            <LinearGaugeAnnotation AxisIndex="1" AxisValue="16.5" X="50" Y="52" ZIndex="1">
                <ContentTemplate>
                    <div><h1 style="font-size:15px; color: #686868; margin-top: -6px">Centimeters</h1></div>
                </ContentTemplate>
            </LinearGaugeAnnotation>
        </LinearGaugeAnnotations>
        <LinearGaugeAxes>
            <LinearGaugeAxis Maximum="10" Minimum="0">
                <LinearGaugeLine Offset="140"></LinearGaugeLine>
                <LinearGaugeMajorTicks Color="#9E9E9E" Interval="1" Height="20">
                </LinearGaugeMajorTicks>
                <LinearGaugeMinorTicks Color="#9E9E9E" Interval="0.2" Height="10">
                </LinearGaugeMinorTicks>
                <LinearGaugePointers>
                    <LinearGaugePointer Value="5.4" Offset="15" Type="Point.Bar" Color="#ff66b3">
                    </LinearGaugePointer>
                </LinearGaugePointers>
            </LinearGaugeAxis>
            <LinearGaugeAxis OpposedPosition="true" Maximum="0" Minimum="25">
                <LinearGaugeLine Offset="-140"></LinearGaugeLine>
                <LinearGaugeMajorTicks Color="#9E9E9E" Interval="1" Height="20">
                </LinearGaugeMajorTicks>
                <LinearGaugeMinorTicks Color="#9E9E9E" Interval="0.2" Height="10">
                </LinearGaugeMinorTicks>
                <LinearGaugePointers>
                    <LinearGaugePointer Value="16.5" Offset="-15" Type="Point.Bar" Color="#4d94ff">
                    </LinearGaugePointer>
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </EjsLinearGauge>
</div>
