@page "/Numeric-TextBox/Custom-Format"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the custom format functionalities of the Numeric Textbox. The value of Numeric TextBox will be displayed with defined custom format while typing a value or changing a value using up/down buttons in the input boxes.</p>
</SampleDescription>
<ActionDescription>
   <p>The Numeric Textbox provides an option to customize the display format of the numeric value using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_Format' target='_blank' aria-label="Class reference of Format property in NumericTextBox"> Format</a> property. It accepts the standard numeric format string and custom numeric format string as specified in <a target='_blank'href='https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings' aria-label="Standard Numeric Format Strings documentation">MSDN</a>. The formatted value displays when the component is not focused.</p>
   <p>In this demo, Numeric Textbox component renders with the custom format <b>###.## km</b>.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/numeric-textbox/formats' target='_blank' aria-label="Blazor NumericTextBox Number Formats documentation">Blazor Numeric Textbox - Number Formats</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <div class="example-content">
            <label class="example-label">Distance</label>
            <SfNumericTextBox TValue="double?" Placeholder="Enter the distance" Value=250 Format="###.### km" Min=0></SfNumericTextBox>
        </div>
        <div class="example-content">
            <label class="example-label">Tax</label>
            <SfNumericTextBox TValue="double?" Placeholder="Enter the tax" Format="### '%'" Value=25 Max=100 Min=0></SfNumericTextBox>
        </div>
        <div class="example-content">
            <label class="example-label">Price</label>
            <SfNumericTextBox TValue="double?" Placeholder="Enter the price" Format="$ ###.##" Value=1025 Min=0></SfNumericTextBox>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 230px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .example-content {
        padding: 0px 0px 20px 0px;
    }

    .example-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>

