@page "/Numeric-TextBox/Keyboard-Navigation"

@using Syncfusion.Blazor.Inputs;

@inherits SampleBaseComponent;

<SampleDescription>
    <p>Numeric Textbox functionalities can be interactive with keyboard shortcuts. In the below sample, various key combinations can be used to interact with the Numeric Textbox.</p>
</SampleDescription>
<ActionDescription>
   <p>The Numeric Textbox supports the following keyboard shortcuts to initiate various actions.</p>
    <ul>
        <li>
            <b>supported keys and user actions</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Increments the value with a predefined step.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Decrements the value with a predefined step.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <SfNumericTextBox TValue="double?" Min="@SetMin" Max="@SetMax" Value=15></SfNumericTextBox>
    </div>
</div>

@code{
    private double? SetMin { get; set; } = 10;
    private double? SetMax { get; set; } = 100;
}

<style>
    .control-wrapper {
        width: 300px;
        margin: 0 auto;
        padding-top: 50px;
    }
    .property {
        padding-left: 10px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
    }
    .description {
        margin: 4px;
        font-size: 14px;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>
