@page "/Numeric-TextBox/Keyboard-Navigation"

@using Syncfusion.Blazor.Inputs;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>Numeric Textbox functionalities can be interactive with keyboard shortcuts. In the below sample, various key combinations can be used to interact with the Numeric Textbox.</p>
</SampleDescription>
<ActionDescription>
    <p>The Numeric Textbox supports the following keyboard shortcuts to initiate various actions.</p>

    <b>Focus</b>
    <ul>
        <li>
            <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
            <span> - Focuses on the first component of the sample.</span>
        </li>
    </ul>

    <b>Actions</b>
    <ul>
        <li>
            <span class="key-class"><kbd>Up arrow</kbd></span>
            <span> - Increments the value with a predefined step.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Down arrow</kbd></span>
            <span> - Decrements the value with a predefined step.</span>
        </li>
    </ul>
       
</ActionDescription>

<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <label class="example-label">Numeric value</label>
        <SfNumericTextBox TValue="double?" Placeholder="Enter the value between 1 to 100" Min="@SetMin" Max="@SetMax" Value=15></SfNumericTextBox>
    </div>
</div>

@code{
    private double? SetMin { get; set; } = 10;
    private double? SetMax { get; set; } = 100;
    
}

<style>
    .control-wrapper {
        max-width: 280px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .description {
        margin: 4px;
        font-size: 14px;
    }

    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>
