@page "/Numeric-TextBox/Restrict-Decimals"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the decimal functionalities of the Numeric TextBox. Type a value in the input element to change dynamically, and it allows maximum of 3 decimal digits.</p>
</SampleDescription>
<ActionDescription>
    <p>The Numeric Textbox provides an option to restrict the number of decimal values, by using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfNumericTextBox-1.html#Syncfusion_Blazor_Inputs_SfNumericTextBox_1_Decimals' target='_blank' aria-label="Class reference of Decimals property in NumericTextBox">Decimals</a> property. To restrict the number of decimal values on typing, use the <a target='_blank'href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_Decimals' aria-label="Class reference of Decimals property in NumericTextBox">Decimals</a> and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_ValidateDecimalOnType' target='_blank' aria-label="Class reference of ValidateDecimalOnType property in NumericTextBox"> ValidateDecimalOnType</a> properties.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/numeric-textbox/getting-started/#precision-of-numbers' target='_blank' aria-label="Blazor NumericTextBox Precision of Numbers documentation">Blazor Numeric TextBox - Precision of Numbers</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <div class="example-content">
            <label class="example-label">Number format</label>
            <SfNumericTextBox TValue="double?" ValidateDecimalOnType="true" Value=10 Format="n3" Decimals=3 Min=0></SfNumericTextBox>
        </div>
        <div class="example-content">
            <label class="example-label">Percentage</label>
            <SfNumericTextBox TValue="double?" Format="p3" ValidateDecimalOnType="true" Decimals=3 Value=0.5 Max=1 Min=0 Step=0.01></SfNumericTextBox>
        </div>
        <div class="example-content">
            <label class="example-label">Currency format</label>
            <SfNumericTextBox TValue="double?" ValidateDecimalOnType="true" Format="c3" Decimals=3 Value=100></SfNumericTextBox>
        </div>        
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 230px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .example-content {
        padding: 0px 0px 20px 0px;
    }

    .example-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>

