@page "/block-editor/overview"

@*Hidden:Lines*@

@using Syncfusion.Blazor.BlockEditor;
@using Syncfusion.Blazor.BlockEditorDemo;
@inherits SampleBaseComponent

@*End:Hidden*@

<ActionDescription>
  <p>This sample demonstrates the comprehensive capabilities of the <code>Block Editor</code>, including diverse block types, content formatting options, and interactive editing within a modern, block-based interface.</p>
  <p>
    <strong>Key features:</strong>
  </p>
  <ul>
    <li><strong>Block types:</strong> <code>Heading1-4</code>, <code>Paragraph</code>, <code>BulletList</code>, <code>NumberedList</code>, <code>Checklist</code>, <code>Quote</code>, <code>Callout</code>, <code>Divider</code>, <code>ToggleParagraph</code>, and more.</li>
    <li><strong>Text formatting:</strong> <code>Bold</code>, <code>Italic</code>, <code>Underline</code>, <code>Strikethrough</code>, <code>Uppercase</code>, and other additional styling options</li>
    <li><strong>Quick commands:</strong> Interactive <code>Slash ("/") commands</code> for quick block insertion and transformation.</li>
    <li>Hierarchical organization with expandable <code>Toggle Blocks</code>.</li>
    <li>Support for inline special content such as <code>Links</code>, <code>Code</code>, <code>Mentions</code> and <code>Labels</code>.</li>
    <li>Interactive <code>mention ("&#64;") options</code> for quickly tagging users</li>
    <li>Interactive <code>label ("$") options</code> for quick insertion of the labels.</li>
    <li>Block manipulation with <code>Action menu</code>, allowing move, delete, and duplicate operations.</li>
    <li>Keyboard shortcuts for fast, accessible editing workflows.</li>
  </ul>
</ActionDescription>

<div class="control-section">
    <div class="overview-blockeditor">
        <SfBlockEditor ID="block-editor" Blocks="@blockDataOverview" Users="MentionUsers">
             <BlockEditorInlineToolbar Items="@ToolbarItems" />
        </SfBlockEditor>
    </div>
</div>
@code {
    private List<BlockModel> blockDataOverview = new EditorBlockData().GetBlockDataOverview();
    private List<UserModel> MentionUsers = new EditorBlockData().GetUniqueMentionUsers();
    private List<InlineToolbarItemModel> ToolbarItems = new List<InlineToolbarItemModel>
    {
        new InlineToolbarItemModel { Command = CommandName.Bold },
        new InlineToolbarItemModel { Command = CommandName.Italic },
        new InlineToolbarItemModel { Command = CommandName.Underline },
        new InlineToolbarItemModel { Command = CommandName.Strikethrough },
        new InlineToolbarItemModel { Command = CommandName.Lowercase },
        new InlineToolbarItemModel { Command = CommandName.Uppercase },
        new InlineToolbarItemModel { Command = CommandName.Subscript },
        new InlineToolbarItemModel { Command = CommandName.Superscript },
        new InlineToolbarItemModel { Command = CommandName.Color },
        new InlineToolbarItemModel { Command = CommandName.BackgroundColor }
    };
}
<style>

    .overview-blockeditor {
        width: 100%;
        margin: 0 auto;
    }

        .overview-blockeditor .e-mention.e-editable-element {
            border: unset;
        }
</style>
