.e-breadcrumb {
    overflow: auto;
    color: #0366d6;
}

.e-breadcrumb ol {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin-bottom: 5px;
}

.e-breadcrumb li {
    display: inline-flex;
}

.e-breadcrumb .e-breadcrumb-item.e-disabled, .e-breadcrumb li:last-child {
    pointer-events: none;
    cursor: default;
}

.e-breadcrumb li + li {
    padding-left: 8px;
}

.e-breadcrumb-item {
    font-size : 14px;
    color: #0366d6;
    white-space: nowrap;
}

.e-breadcrumb-separator {
    font-size: 14px;
}

.e-breadcrumb.e-disabled .e-breadcrumb-item {
    cursor: auto;
    pointer-events: none;
    opacity: .65;
}

.e-breadcrumb .e-breadcrumb-item.e-disabled {
    cursor: default;
    pointer-events: none;
    opacity: .65;
}

.e-breadcrumb-collapsed::before {
    content: '\e793';
}

.e-icons.e-insert-code {
    padding: 5px;
}

.e-breadcrumb .e-breadcrumb-icon,
.e-breadcrumb.e-icon-left .e-breadcrumb-icon,
.e-breadcrumb .e-icon-left .e-breadcrumb-icon {
    padding-right: 6px;
}

.e-breadcrumb.e-icon-right .e-breadcrumb-icon,
.e-breadcrumb .e-icon-right .e-breadcrumb-icon {
    padding-left: 6px;
    padding-right: 0px;
}