/* SearchComponent.css */
.sf-search-container {
    width: 100%;
    height: 100%;
}

    .sf-search-container * {
        font-family: Roboto,"Segoe UI",GeezaPro,"DejaVu Serif",sans-serif,"-apple-system",BlinkMacSystemFont, "sbicons";
    }

.sf-search-input {
    letter-spacing: 0;
    line-height: 23px;
    padding-left: 15px;
    width: 100%;
    border-radius: 25px;
    background-color: #F4F6FC;
    border: 1px solid #a7a7a7;
    height: 100%;
}

.sf-blazor-home .sf-search-input {
    border: 1px solid #F4F6FC !important;
}

.sf-search-input:focus, .sf-dropdown-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.sf-search-popup {
    position: absolute;
    overflow-y: auto;
    background: #fff;
    width: 100%;
    margin-top: 5px;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.21);
    border: 1px solid #e0e0e0;
    max-height: 500px;
}

    .sf-search-popup * {
        height: auto !important;
    }

.sf-blazor-home .sf-search-no-data {
    text-align: left;
}

.sf-search-no-data {
    color: #000;
    cursor: default;
    font-size: 14px;
    padding: 14px 16px;
    text-align: center;
}

.sf-search-container .sf-search-icon,
.sf-search-container .sf-clear-icon {
    position: relative;
    padding: 0px !important;
    margin-right: 15px;
    float: right;
    margin-top: -33px;
}

.sf-search-container .sf-search-icon {
    cursor: text;
}

.sf-blazor-home .sf-clear-icon::before {
    color: #d9deec !important;
}

.sf-clear-icon::before {
    content: "\e900";
    color: #9b9393;
}

.sf-search-input::-ms-clear {
    display: none;
}
/* MainLayout.css */
/* sb-icons declaration */
@font-face {
    font-family: "sbicons";
    src: url("common/fonts/sbicons.ttf?gcjn6a") format("truetype"), url("common/fonts/sbicons.woff?gcjn6a") format("woff"), url("common/fonts/sbicons.svg?gcjn6a#sbicons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.sb-icons {
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "sbicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* sb-hide */
.sb-hide {
    display: none;
}
/* Search and List component styles */
.sf-list-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sf-list-li {
    background: transparent;
    border: none;
    height: 40px;
    line-height: 1.5;
    padding: 8px 16px 8px 16px;
    position: relative;
    cursor: pointer;
}

.sf-list-group-li {
    border: none;
    color: #000000;
    opacity: 87;
    font-weight: 700;
    background: transparent;
    height: 40px;
    line-height: 1.5;
    padding: 8px 16px 8px 16px;
    list-style-type: none;
}

.sf-list-li:hover:not(.sf-list-li-active),
.sf-search-hover {
    background: #d7d7d7;
}

.sf-list-li.sf-list-li-active,
.sf-tree-full-row.sf-tree-active {
    background: #007bff;
}

    .sf-list-li.sf-list-li-active *,
    .sf-tree-active + .sf-tree-text-content * {
        color: #ffffff;
    }

.sf-blazor-home .sf-search-icon,
.sf-search-container .sf-search-icon,
.sf-search-container .sf-clear-icon {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #333;
    letter-spacing: 0;
    line-height: 23px;
    float: right;
    padding: 28px 15px;
}

    .sf-blazor-home .sf-search-icon::before,
    .sf-blazor-home .sf-search-input::placeholder {
        color: #c3cade !important;
    }

.sf-blazor-home .sf-search-input:focus {
    border: 2px solid #d9deec !important;
    box-shadow: none !important;
}

.sf-search-icon::before {
    content: "\e925";
    color: #B3B3CB;
}

.property-section,
.property-section .e-property-label,
.control-section .e-property-label {
    font-size: 14px;
}

.e-error-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.e-error-ui-text {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.e-error-text-ui {
    font-size: 15px;
    padding: 10px;
}

.e-page-refresh {
    text-align: center;
}

