@page "/breadcrumb/keyboard-navigation"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the keyboard navigation functionalities of the <b>Breadcrumb</b> component.</p>
</SampleDescription>
<ActionDescription>
    <p>The Breadcrumb component supports interaction with keyboard navigation. Below key combinations can be
        used in Breadcrumb to perform various actions.</p>
    <ul>
        <li>
            <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
            <span> - Focuses on the first component of the demo.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Tab</kbd></span>
            <span> - To navigate to the next item.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
            <span> - To navigate to the previous item.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Enter</kbd></span>
            <span> - To click the item.</span>
        </li>
    </ul>
 
    <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/breadcrumb/getting-started/' target='_blank' aria-label="Getting started with Blazor Breadcrumb">Getting started with Blazor Breadcrumb</a></li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="content-wrapper">
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h5 style="display: inline-block">Simple Breadcrumb</h5>
                <SfButton class="e-small reset-btn" @onclick="ResetBtnClickHandler">Reset State</SfButton>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfBreadcrumb EnableNavigation="false" @bind-ActiveItem="@ActiveItem"/>
            </div>
        </div>
    </div>
</div>

@code {
    private string ActiveItem = "";
    

    // To refresh the Breadcrumb control state when reset button clicked
    private void ResetBtnClickHandler()
    {
        ActiveItem = "";
    }
}

@*Hidden:Lines*@
<style>
    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-12,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    .reset-btn {
        float: right;
        margin: 5px 2px 5px 0;
    }

    .tailwind .e-breadcrumb,
    .tailwind-dark .e-breadcrumb {
        margin-left: -12px;
    }

    .material .e-breadcrumb,
    .material-dark .e-breadcrumb {
        margin-left: -8px;
    }

    .fabric .e-breadcrumb,
    .fabric-dark .e-breadcrumb,
    .highcontrast .e-breadcrumb {
        margin-left: -4px;
    }

    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>
@*End:Hidden*@