@page "/DateTime-Picker/Islamic-DateTimePicker"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
    <p>This example demonstrates the primary features of the Islamic Calendar within the DateTimePicker. Select a date from the Calendar to explore its functionalities.</p>
</SampleDescription>
<ActionDescription>
    <p>
       The Hijri (Islamic) Calendar is a lunar-based calendar that includes features similar to those of the Gregorian Calendar, such as minimum and maximum date restrictions, date highlighting, and multiple date selection.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Select Date and Time</label>
        <SfDateTimePicker TValue="DateTime?" @bind-Value="@SelectedDate" CalendarMode="CalendarType.Islamic" FullScreen="true" ShowClearButton="true" Placeholder="Select date and time" aria-label="Islamic calendar date and time picker"></SfDateTimePicker>
    </div>
</div>

@code {
    public DateTime? SelectedDate { get; set; } = DateTime.Now;
}

<style>
    .control-wrapper {
        max-width: 275px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
