@page "/range-slider/custom-tooltip"

@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using SFInputs = Syncfusion.Blazor.Inputs
@inherits SampleBaseComponent;

<SampleDescription>
    <p>
        This sample demonstrates the customization of Slider's tooltip. Drag the thumb over the bar to select the values between min and max.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
    <p>
        In this demo sample, tooltip and its content have been customized with custom color to demonstrate the customization of Tooltip using CSS.
    </p>
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="sliderwrap">
            <label class="labeltext userselect">
                <span class="label-text"><b>Custom color and text</b></span>
            </label>

            <SfSlider id='default' TValue="int[]" Min="MinValue()" Max="@MaxValue()" Type="SliderType.Range" @bind-Value="SliderValues">
                <SliderEvents TValue="int[]" OnTooltipChange="@TooltipChange" TicksRendering="@TickesRendering"></SliderEvents>
                <SliderTicks Placement="Placement.Before" LargeStep="7200000" SmallStep="3600000"></SliderTicks>
                <SliderTooltip Placement="TooltipPlacement.Before" IsVisible="true" ShowOn="TooltipShowOn.Always"></SliderTooltip>
            </SfSlider>
        </div>
    </div>
</div>

@code{
    int[] SliderValues = new int[] { 43200000, 54000000 };
    public void TickesRendering(SliderTickEventArgs args)
    {
        double time = args.Value / 3600000;
        if (time > 11)
        {
            args.Text = time + ".00 PM";
        }
        else
        {
            args.Text = time + ".00 AM";
        }
    }
    public double MinValue()
    {
        DateTime dt = new DateTime(2013, 6, 13, 11, 0, 0);
        return dt.TimeOfDay.TotalMilliseconds;
    }
    public double MaxValue()
    {
        DateTime dt = new DateTime(2013, 6, 13, 23, 0, 0);
        return dt.TimeOfDay.TotalMilliseconds;
    }
    public void TooltipChange(SliderTooltipEventArgs<int[]> args)
    {

        double FirstValue = args.Value[0] / 3600000;
        double SecondValue = args.Value[1] / 3600000;
        if (FirstValue <= 11 && SecondValue < 11)
        {
            args.Text = FirstValue + ".00 AM -" + SecondValue + ".00 AM";
        }
        else if (FirstValue <= 11 && SecondValue > 11)
        {
            args.Text = FirstValue + ".00 AM -" + SecondValue + ".00 PM";
        }
        else if (FirstValue > 11 && SecondValue > 11)
        {
            args.Text = FirstValue + ".00 PM -" + SecondValue + ".00 PM";
        }
    }
}

<style>
    .sliderwrap .label-text {
        font-weight: 500;
    }

    .content-wrapper {
        width: 80%;
        margin: 0 auto;
        min-width: 185px;
    }

    .sliderwrap {
        margin-top: 40px;
    }

    #default .e-handle,
    #out .e-handle,
    .bootstrap #out .e-handle,
    .bootstrap #default .e-handle,
    .fabric #out .e-handle,
    .fabric #default .e-handle,
    .highcontrast #out .e-handle,
    .highcontrast #default .e-handle {
        z-index: 1;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .sliderwrap label {
        padding-bottom: 26px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
    }

    .userselect {
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Standard syntax */
    }
    .e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer.e-tip-bottom {
        border-top-color: #ffd939;
    }

    .e-arrow-tip-inner.e-tip-bottom::before {
       /* content: '\e919';*/
        color: #ffd939;
        border: none;
        content:none;
    }
    .e-slider-tooltip.e-tooltip-wrap.e-popup {
        background-color: #ffd939;
        border: 0;
        border-radius: 8px;
        cursor: grab;
        opacity: 1;
    }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-slider-tooltip .e-tip-content,
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range .e-tip-content.e-material-tooltip-show {
        color: #333;
    }

    .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-inner {
        color: #ffd939;
    }

    .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer {
        border-top-color: #ffd939;
    }

    .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer {
        border-bottom-color: #ffd939;
    }

    .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-default.e-slider-horizontal-after,
    .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-default.e-slider-horizontal-before,
    .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup {
        background-color: #ffd939;
        border-color: #ffd939;
    }
        #out.e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-slider-horizontal-after,
        #out.e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-slider-horizontal-before,
        #out.e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup {
            background-color: #ffd939;
            border-color: #ffd939;
        }
    .bootstrap .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer {
        border-top-color: #ffd939;
    }

    .bootstrap .e-tooltip-cutomization.e-slider-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-inner {
        color: #ffd939;
    }
    .fabric.e-tooltip-wrap.e-popup.e-arrow-tip-outer {
        border-top-color: #ffd939;
    }
    .fabric.e-tooltip-wrap.e-popup.e-arrow-tip-inner {
        border-top-color: #ffd939;
    }
</style>
