@page "/tabs/default-functionalities"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>  This sample demonstrates the default functionalities of the <a href="https://www.syncfusion.com/blazor-components/blazor-tabs" aria-label="Feature Tour of Blazor Tabs">Blazor Tabs</a>. Click on the <code>Header</code> to activate the corresponding Tab and display its <code>Content</code>.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The <code>Blazor Tabs</code> component is a content panel to show multiple contents in specific space one at a time.<br /><br />
        The User can also view different header styles of Tabs component.
        Header styles can be changed by adding predefined classes such as <b>e-fill</b> & <b>e-background</b> in the root element of the Tabs.
        <br />
        If above classes not included in root element, default style will applied to the Header of the Blazor Tabs component.
    </p>
    <p>The default sample illustrates to render simple Tabs by defining header and content using <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.TabItem.html" aria-label="Class reference of TabItem property in Tabs">TabItem</a> property. </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    @foreach (TabData TabStyle in TabStyles)
    {
        <div class="default-tab-control-section">
            <div class="row">
                <div class="col-md-12">
                    <h5>@TabStyle.StyleMode</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <SfTab CssClass=@("default-tab " + TabStyle.StyleClass)>
                        <TabAnimationSettings>
                            <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
                            <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
                        </TabAnimationSettings>
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Paris"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    Paris, France capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Marseille"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    Marseille, a port city in southern France, has been a crossroads of immigration and trade since its founding by the Greeks circa 600 B.C. At its heart is the Vieux-Port (Old Port), where fishmongers sell their catch along the boat-lined quay. Basilique Notre-Dame-de-la-Garde is a Romanesque-Byzantine church. Modern landmarks include Le Corbusier’s influential Cité Radieuse complex and Zaha Hadid’s CMA CGM Tower.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Lyon"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    Lyon, the capital city in France’s Auvergne-Rhône-Alpes region, sits at the junction of the Rhône and Saône rivers. Its center reflects 2,000 years of history from the Roman Amphithéâtre des Trois Gaules, medieval and Renaissance architecture in Vieux (Old) Lyon, to the modern Confluence district on Presquîle peninsula. Traboules, covered passageways between buildings, connect Vieux Lyon and La Croix-Rousse hill.
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </div>
            <br />
        </div>
    }
</div>

@code {
    

    private List<TabData> TabStyles { get; set; } = new List<TabData>() {
        new TabData { StyleMode = "Default Tab", StyleClass = "" },
        new TabData { StyleMode = "Fill Tab Header", StyleClass = "e-fill" },
        new TabData { StyleMode = "Background Tab Header", StyleClass = "e-background" }
    };
    public class TabData
    {
        public string StyleMode { get; set; }
        public string StyleClass { get; set; }
    }
}

<style>
    .default-tab {
        border: 1px solid #d7d7d7;
    }

    .default-tab .e-content .e-item {
        padding: 10px;
        text-align: justify;
    }

    .default-tab-control-section {
        margin: 20px 20% 20px 20%;
    }

    @@media screen and (max-width: 480px) {
        .default-tab-control-section {
            margin: 20px 0 20px 0;
        }
    }

    .bootstrap5 .default-tab,
    .bootstrap5-dark .default-tab,
    .bootstrap .default-tab,
    .bootstrap-dark .default-tab,
    .bootstrap4 .default-tab {
        border: none;
    }

    .fluent .default-tab .e-content > .e-item.e-active,
    .bootstrap5 .default-tab .e-content > .e-item.e-active,
    .tailwind .default-tab .e-content > .e-item.e-active,
    .material .default-tab .e-content > .e-item.e-active,
    .bootstrap4 .default-tab .e-content > .e-item.e-active,
    .bootstrap .default-tab .e-content > .e-item.e-active,
    .fabric .default-tab .e-content > .e-item.e-active,
    .fluent2 .default-tab .e-content > .e-item.e-active {
        background: #FAF9F8;
    }

    .fluent-dark .default-tab .e-content > .e-item.e-active,
    .bootstrap5-dark .default-tab .e-content > .e-item.e-active,
    .tailwind-dark .default-tab .e-content > .e-item.e-active,
    .material-dark .default-tab .e-content > .e-item.e-active,
    .bootstrap-dark .default-tab .e-content > .e-item.e-active,
    .fabric-dark .default-tab .e-content > .e-item.e-active,
    .highcontrast .default-tab .e-content > .e-item.e-active,
    .fluent2-dark .default-tab .e-content > .e-item.e-active,
    .fluent2-highcontrast .default-tab .e-content > .e-item.e-active {
        background: #201F1E;
    }
</style>
