
@page "/tabs/keyboard-interaction"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This demo showcases the keyboard shortcuts applicable on the Blazor Tabs.</p>
</SampleDescription>
<ActionDescription>
    <i>Below key combinations can be used in Blazor Tabs to initiate various actions.</i>
    <ul>
        <li>
            <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
            <span> - Focuses on the first component of the demo.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Home</kbd></span>
            <span> - Moves focus to the first Tab.</span>
        </li>
        <li>
            <span class="key-class"><kbd>End</kbd></span>
            <span> - Moves focus to the last Tab.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Down arrow</kbd> or <kbd>Up arrow</kbd></span>
            <span> - When the popup is open and focused, it will move to previous/next Tab items of the popup in the vertical direction.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Left arrow</kbd></span>
            <span> - Moves focus to the previous Tab. If focus is on the first Tab, the focus will not move to any Tab.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Right arrow</kbd></span>
            <span> - Moves focus to the next Tab. If focus is on the last Tab element, the focus will not move to any Tab.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Enter</kbd> or <kbd>Space</kbd></span>
            <span> - Selects the Tab if it is not selected. Opens the popup dropdown icon if it is focussed. Select the Tab item as active when popup item is focussed.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Esc</kbd></span>
            <span> - Closes the popup if popup is in opened state.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Delete</kbd></span>
            <span> - Deletes the Tab, if close button is enabled in Tab header.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Shift + F10</kbd></span>
            <span> - If popup mode is enabled, it opens the popup when the Tab is focused.</span>
        </li>
    </ul>
</ActionDescription>

<div class="e-sample-resize-container">
    <div class="col-lg-12 control-section">
        <SfTab CssClass="keyboard-tab" OverflowMode="OverflowMode.Popup" ShowCloseButton="true">
            <TabAnimationSettings>
                <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
                <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
            </TabAnimationSettings>
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="New York"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Los Angeles"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Los Angeles is a sprawling Southern California city and the center of the nation’s film and television industry. Near its iconic Hollywood sign, studios such as Paramount Pictures, Universal and Warner Brothers offer behind-the-scenes tours. On Hollywood Boulevard, TCL Chinese Theatre displays celebrities’ hand- and footprints, the Walk of Fame honors thousands of luminaries and vendors sell maps to stars’ homes.
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Chicago"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Chicago, on Lake Michigan in Illinois, is among the largest cities in the U.S. Famed for its bold architecture, it has a skyline punctuated by skyscrapers such as the iconic John Hancock Center, 1,451-ft. Willis Tower (formerly the Sears Tower) and the neo-Gothic Tribune Tower. The city is also renowned for its museums, including the Art Institute of Chicago with its noted Impressionist and Post-Impressionist works.
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Paris"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Paris, France capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Marseille"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Marseille, a port city in southern France, has been a crossroads of immigration and trade since its founding by the Greeks circa 600 B.C. At its heart is the Vieux-Port (Old Port), where fishmongers sell their catch along the boat-lined quay. Basilique Notre-Dame-de-la-Garde is a Romanesque-Byzantine church. Modern landmarks include Le Corbusier’s influential Cité Radieuse complex and Zaha Hadid’s CMA CGM Tower.
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Lyon"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Lyon, the capital city in France’s Auvergne-Rhône-Alpes region, sits at the junction of the Rhône and Saône rivers. Its center reflects 2,000 years of history from the Roman Amphithéâtre des Trois Gaules, medieval and Renaissance architecture in Vieux (Old) Lyon, to the modern Confluence district on Presquîle peninsula. Traboules, covered passageways between buildings, connect Vieux Lyon and La Croix-Rousse hill.
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Sydney"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Sydney, capital of New South Wales and one of Australia largest cities, is best known for its harbourfront Sydney Opera House, with a distinctive sail-like design. Massive Darling Harbour and the smaller Circular Quay port are hubs of waterside life, with the arched Harbour Bridge and esteemed Royal Botanic Garden nearby. Sydney Tower’s outdoor platform, the Skywalk, offers 360-degree views of the city and suburbs.
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Melbourne"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Melbourne is the coastal capital of the southeastern Australian state of Victoria. At the city centre is the modern Federation Square development, with plazas, bars, and restaurants by the Yarra River. In the Southbank area, the Melbourne Arts Precinct is the site of Arts Centre Melbourne – a performing arts complex – and the National Gallery of Victoria, with Australian and indigenous art
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Brisbane"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        Brisbane, capital of Queensland, is a large city on the Brisbane River. Clustered in its South Bank cultural precinct are the Queensland Museum and Sciencentre, with noted interactive exhibitions. Another South Bank cultural institution is Queensland Gallery of Modern Art, among Australia major contemporary art museums. Looming over the city is Mt. Coot-tha, site of Brisbane Botanic Gardens.
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>
    </div>
</div>


<style>
    .keyboard-tab {
        border: 1px solid #d7d7d7;
    }

    .keyboard-tab .e-content .e-item {
        padding: 10px;
        text-align: justify;
    }
    .e-sample-resize-container {
        max-width: 700px;
    }
    .key-class {
        display: inline-block;
        width: 180px;
    }
    @@media screen and (min-width: 768px) {
        .e-sample-resize-container {
            width: 75%;
            margin: 0 auto;
        }
    }

    .bootstrap5 .keyboard-tab,
    .bootstrap5-dark .keyboard-tab,
    .bootstrap .keyboard-tab,
    .bootstrap-dark .keyboard-tab,
    .bootstrap4 .keyboard-tab {
        border: none;
    }

    .fluent .keyboard-tab .e-content > .e-item.e-active,
    .bootstrap5 .keyboard-tab .e-content > .e-item.e-active,
    .tailwind .keyboard-tab .e-content > .e-item.e-active,
    .material .keyboard-tab .e-content > .e-item.e-active,
    .bootstrap4 .keyboard-tab .e-content > .e-item.e-active,
    .bootstrap .keyboard-tab .e-content > .e-item.e-active,
    .fabric .keyboard-tab .e-content > .e-item.e-active,
    .fluent2 .keyboard-tab .e-content > .e-item.e-active {
        background: #FAF9F8;
    }

    .fluent-dark .keyboard-tab .e-content > .e-item.e-active,
    .bootstrap5-dark .keyboard-tab .e-content > .e-item.e-active,
    .tailwind-dark .keyboard-tab .e-content > .e-item.e-active,
    .material-dark .keyboard-tab .e-content > .e-item.e-active,
    .bootstrap-dark .keyboard-tab .e-content > .e-item.e-active,
    .fabric-dark .keyboard-tab .e-content > .e-item.e-active,
    .highcontrast .keyboard-tab .e-content > .e-item.e-active,
    .fluent2-dark .keyboard-tab .e-content > .e-item.e-active,
    .fluent2-highcontrast .keyboard-tab .e-content > .e-item.e-active {
        background: #201F1E;
    }
</style>
