@page "/Toast/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.Notifications

@inherits SampleBaseComponent;

<div class="col-lg-12 control-section toast-default-section">
    <EjsToast ID="toast_default" @ref="ToastObj" Title="Adaptive Tiles Meeting" Content="@ToastContent" TimeOut="5000" Icon="e-meeting">
        <ToastPosition X="@ToastPosition"></ToastPosition>
    </EjsToast>
    <div class="col-lg-12 col-sm-12 col-md-12 center">
        <div id="toastBtnDefault" style="margin: auto;text-align: center">
            <button class="e-btn" id="toastBtnShow" @onclick="@ShowOnClick">Show Toasts</button>
            <button class="e-btn" id="toastBtnHide" @onclick="@HideOnClick">Hide All</button>
        </div>
    </div>
</div>

<style>
    #toast_default .e-meeting::before {
        content: "\e705";
        font-size: 17px;
    }
</style>

@code {
    EjsToast ToastObj;

    private string ToastPosition = "Right";
    private string ToastContent = "Conference Room 01 / Building 135 10:00 AM-10:30 AM";
    private void ShowOnClick()
    {
        this.ToastObj.Show();
    }
    private void HideOnClick()
    {
        this.ToastObj.Hide("All");
    }

}
