@page "/message/default-functionalities"

@using Syncfusion.Blazor.Notifications

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the default functionalities of the Blazor Message component with different severity types and predefined styles.</p>
</SampleDescription>
<ActionDescription>
    <p>The Message component displays messages with different severity levels, set with icons and colors to denote the importance and context of the message to the end user.</p>
    <p>The available severity messages are <b>Normal</b>, <b>Success</b>, <b>Info</b>, <b>Warning</b> and <b>Error</b>.</p>
    <ul>
        <li><b>Normal</b> - The message is displayed with an icon and color to denote it as a normal message.</li>
        <li><b>Success</b> - The message is displayed with an icon and color to denote it as a success message.</li>
        <li><b>Info</b> - The message is displayed with an icon and color to denote it as information.</li>
        <li><b>Warning</b> - The message is displayed with an icon and color to denote it as a warning message.</li>
        <li><b>Error</b> - The message is displayed with an icon and color to denote it as an error message.</li>
    </ul>
    <p>In this sample, messages are displayed with a distinct icon and a color based on the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Notifications.SfMessage.html#Syncfusion_Blazor_Notifications_SfMessage_Severity" aria-label="Severity">Severity</a> property.</p>
    <p>More information about Message can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/message/getting-started" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section msg-default-section">
    <div class="content-section">
        <SfMessage>Editing is restricted</SfMessage>
        <SfMessage Severity="MessageSeverity.Info">Please read the comments carefully</SfMessage>
        <SfMessage Severity="MessageSeverity.Success">Your message has been sent successfully</SfMessage>
        <SfMessage Severity="MessageSeverity.Warning">There was a problem with your network connection</SfMessage>
        <SfMessage Severity="MessageSeverity.Error">A problem occurred while submitting your data</SfMessage>
    </div>
</div>


<style>
   .msg-default-section .content-section {
        margin: 0 auto;
        max-width: 520px;
        padding-top: 10px;
    }

    .msg-default-section .e-message {
        margin: 10px 0;
    }   
</style>
