@page "/message/template"

@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the template functionality of the Blazor Message component. Click the <b>dismiss</b> button to hide the message. Click the <b>Show pull request</b> button to restore the hidden message.</p>
</SampleDescription>
<ActionDescription>
    <p>The Message component has an option to customize the content with a custom structure. The content can be a string, paragraph, or any other HTML element.</p>
    <p>In this sample, the Message component content is customized with HTML elements and Blazor Button components.</p>
    <p>More information about Message template can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/message/template" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section msg-template-section">
    <div class="content-section">
        <SfButton Content='Show pull request' CssClass="@showBtnClass" OnClick="@showClick"></SfButton>
        <SfMessage Severity="MessageSeverity.Success" Visible="@visible">
            <h1>Merged pull request</h1>
            <p>Pull request #41 merged after a successful build</p>
            <SfButton CssClass='e-link' Content='View commit'></SfButton>
            <SfButton CssClass='e-link' Content='Dismiss' OnClick="@dismissClick"></SfButton>
        </SfMessage>
    </div>
</div>

@code {
    public string showBtnClass = "e-outline e-primary e-success msg-hidden";
    public bool visible = true;
    

    public void showClick()
    {
        this.visible = true;
        this.showBtnClass = "e-outline e-primary e-success msg-hidden";
    }

    public void dismissClick()
    {
        this.visible = false;
        this.showBtnClass = "e-outline e-primary e-success";
    }
}

<style>
    .msg-template-section .content-section {
        margin: 0 auto;
        max-width: 450px;
        padding-top: 20px;
    }

    .msg-template-section .e-btn.msg-hidden {
        display: none;
    }

    .msg-template-section .e-message h1 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
    }

    .msg-template-section .e-message .e-msg-icon {
        padding: 0 4px;
        margin-top: 3px;
    }

    .msg-template-section .e-message p {
        margin: 8px 0 4px;
    }

    .msg-template-section .e-message .e-btn {
        padding: 0;
    }

    .e-bigger .msg-template-section .e-message h1 {
        font-size: 20px;
    }

    .e-bigger .msg-template-section .e-message .e-msg-icon {
        padding: 2px 4px;
        font-size: 20px;
    }

    .bootstrap4.e-bigger .msg-template-section .e-message .e-msg-icon,
    .tailwind.e-bigger .msg-template-section .e-message .e-msg-icon,
    .tailwind-dark.e-bigger .msg-template-section .e-message .e-msg-icon {
        padding: 1px 4px;
    }
</style>
