@page "/Error"
@layout EmptyLayout
@code {
    private string htmlContent = @"
<!DOCTYPE html>
<!-- saved from url=(0050)https://blazor.syncfusion.com/documentation/error/ -->
<html lang=""en"">
<head>
    <meta http-equiv=""Content-Type"" content=""text/html; charset=UTF-8"">

    <meta http-equiv=""X-UA-Compatible"" content=""IE=edge"">
    <meta name=""viewport"" content=""width=device-width, initial-scale=1.0"">

    <link rel=""preconnect"" href=""https://fonts.googleapis.com/"">
    <link rel=""preconnect"" href=""https://fonts.gstatic.com/"" crossorigin="""">
    <link href=""https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"" rel=""stylesheet"">
    <title>Error</title>
    <style>
        body {
            margin: 0px;
            font-family: 'Open Sans', sans-serif;
        }

        .heading {
            font-weight: 600;
            font-size: 26px;
            line-height: 72px;
            height: 81px;
            background-color: #FFFFFF;
        }

        .content-container {
            background-color: #f8f8f8;
        }

        svg {
            width: 27%;
            height: auto;
            padding: 96px 0px 43px 0px;
        }

        .oops {
            font-weight: 600;
            font-size: 36px;
            line-height: 49px;
        }

        .wrong {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            padding: 12px 0px 56px 0px;
        }

        .lookingFor {
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
        }

        a {
            text-decoration: none;
            line-height: 47px;
            color: #2E7CF6;
        }

        .title {
            padding: 48px 0px 24px 0px;
            line-height: 27px;
        }

        .links {
            padding: 0px 0px 47px 10%;
            font-weight: 600;
            font-size: 20px;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }

        @media screen and (max-width:806px) {
            .links {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: auto auto auto 10%;
            }
        }
    </style>
</head>

<body>
    <div class=""heading"" align=""center"">
        Syncfusion Blazor Components
    </div>
    <div class=""content-container"">
        <div align=""center"">
            <svg width=""358"" height=""438"" viewBox=""0 0 358 438"" fill=""none"" xmlns=""http://www.w3.org/2000/svg"">
                <path d=""M0 28.8877V293.561H357.583V280.289V4.68449H288.096V78.0748H267.797V124.139H252.963V20.2995H224.075V194.406H204.556V67.1444H192.845V55.4331H154.588V71.8289H149.123V169.422H121.016V71.8289H85.8823V0H39.8182V28.8877H0Z"" fill=""url(#paint0_linear_7_139)""></path>
                <circle cx=""231.822"" cy=""211.369"" r=""9.36898"" fill=""url(#paint1_linear_7_139)""></circle>
                <ellipse rx=""103.293"" ry=""35.3954"" transform=""matrix(-0.939878 0.341511 0.341511 0.939878 122.27 142.714)"" fill=""url(#paint2_linear_7_139)""></ellipse>
                <path d=""M99.936 291.219V177C126.453 174 141.953 168.5 162.953 153.5L278.727 291.219L231.883 340.407H130.385L99.936 291.219Z"" fill=""url(#paint3_linear_7_139)"" fill-opacity=""0.35""></path>
                <ellipse cx=""180.353"" cy=""427.85"" rx=""108.524"" ry=""10.1497"" fill=""#BEBDC7"" fill-opacity=""0.19""></ellipse>
                <circle cx=""24.9842"" cy=""369.294"" r=""10.9305"" fill=""url(#paint4_linear_7_139)""></circle>
                <circle cx=""252.182"" cy=""401.305"" r=""8.58823"" fill=""url(#paint5_linear_7_139)""></circle>
                <path d=""M106.488 387.86V369.074H60.6479V354.335L104.229 286.708H123.495V353.035H135.72V369.074H123.495V387.86H106.488ZM78.8511 353.035H107.551V307.083L78.8511 353.035Z"" fill=""#3F299F""></path>
                <path d=""M187.223 389.594C178.631 389.594 171.279 387.426 165.167 383.091C159.055 378.66 154.316 372.543 150.95 364.739C147.672 356.84 146.034 347.688 146.034 337.284C146.034 326.976 147.672 317.872 150.95 309.973C154.316 302.073 159.055 295.956 165.167 291.621C171.279 287.189 178.631 284.974 187.223 284.974C195.816 284.974 203.168 287.189 209.28 291.621C215.392 295.956 220.086 302.073 223.364 309.973C226.73 317.872 228.413 326.976 228.413 337.284C228.413 347.688 226.73 356.84 223.364 364.739C220.086 372.543 215.392 378.66 209.28 383.091C203.168 387.426 195.816 389.594 187.223 389.594ZM187.223 372.976C194.221 372.976 199.934 369.797 204.363 363.439C208.792 357.081 211.007 348.362 211.007 337.284C211.007 326.205 208.792 317.487 204.363 311.129C199.934 304.771 194.221 301.591 187.223 301.591C180.137 301.591 174.379 304.771 169.95 311.129C165.61 317.487 163.44 326.205 163.44 337.284C163.44 348.362 165.61 357.081 169.95 363.439C174.379 369.797 180.137 372.976 187.223 372.976Z"" fill=""#3F299F""></path>
                <path d=""M285.941 387.86V369.074H240.1V354.335L283.682 286.708H302.948V353.035H315.172V369.074H302.948V387.86H285.941ZM258.304 353.035H287.003V307.083L258.304 353.035Z"" fill=""#3F299F""></path>
                <path d=""M98.931 387.86V369.074H53.0908V354.335L96.6722 286.708H115.938V353.035H128.162V369.074H115.938V387.86H98.931ZM71.294 353.035H99.9939V307.083L71.294 353.035Z"" fill=""#6946FF""></path>
                <path d=""M179.666 389.594C171.074 389.594 163.722 387.426 157.61 383.091C151.498 378.66 146.759 372.543 143.393 364.739C140.115 356.84 138.476 347.688 138.476 337.284C138.476 326.976 140.115 317.872 143.393 309.973C146.759 302.073 151.498 295.956 157.61 291.621C163.722 287.189 171.074 284.974 179.666 284.974C188.258 284.974 195.611 287.189 201.723 291.621C207.835 295.956 212.529 302.073 215.807 309.973C219.173 317.872 220.856 326.976 220.856 337.284C220.856 347.688 219.173 356.84 215.807 364.739C212.529 372.543 207.835 378.66 201.723 383.091C195.611 387.426 188.258 389.594 179.666 389.594ZM179.666 372.976C186.664 372.976 192.377 369.797 196.806 363.439C201.235 357.081 203.45 348.362 203.45 337.284C203.45 326.205 201.235 317.487 196.806 311.129C192.377 304.771 186.664 301.591 179.666 301.591C172.58 301.591 166.822 304.771 162.393 311.129C158.053 317.487 155.882 326.205 155.882 337.284C155.882 348.362 158.053 357.081 162.393 363.439C166.822 369.797 172.58 372.976 179.666 372.976Z"" fill=""#6946FF""></path>
                <path d=""M278.383 387.86V369.074H232.543V354.335L276.125 286.708H295.391V353.035H307.615V369.074H295.391V387.86H278.383ZM250.746 353.035H279.446V307.083L250.746 353.035Z"" fill=""#6946FF""></path>
                <path d=""M95.2765 91.6654C121.097 79.7205 141.551 91.4484 148.551 98.8054C119.496 104.594 87.3575 118.823 74.9199 125.214C73.3622 116.008 82.0612 97.7789 95.2765 91.6654Z"" fill=""url(#paint6_linear_7_139)""></path>
                <ellipse opacity=""0.85"" rx=""11.3298"" ry=""6.09745"" transform=""matrix(-0.998757 -0.0498506 -0.0498506 0.998757 186.058 110.347)"" fill=""white""></ellipse>
                <ellipse opacity=""0.85"" rx=""11.3298"" ry=""6.09745"" transform=""matrix(-0.96858 0.248704 0.248704 0.96858 138.052 114.77)"" fill=""white""></ellipse>
                <ellipse opacity=""0.85"" rx=""11.3298"" ry=""6.09745"" transform=""matrix(-0.931755 0.363088 0.363088 0.931755 93.0431 133.328)"" fill=""white""></ellipse>
                <ellipse opacity=""0.85"" rx=""11.3298"" ry=""6.09745"" transform=""matrix(-0.844223 0.535992 0.535992 0.844223 61.3816 159.228)"" fill=""white""></ellipse>
                <ellipse rx=""45.9056"" ry=""16.0594"" transform=""matrix(-0.937182 0.348841 0.348841 0.937182 127.55 154.817)"" fill=""url(#paint7_linear_7_139)"" fill-opacity=""0.87""></ellipse>
                <defs>
                    <lineargradient id=""paint0_linear_7_139"" x1=""178.791"" y1=""0"" x2=""178.791"" y2=""293.561"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#5F3FE9"" stop-opacity=""0.15""></stop>
                        <stop offset=""1"" stop-color=""#5F3FE9"" stop-opacity=""0""></stop>
                    </lineargradient>
                    <lineargradient id=""paint1_linear_7_139"" x1=""242.937"" y1=""224.831"" x2=""241.041"" y2=""200.469"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#F3AD49""></stop>
                        <stop offset=""1"" stop-color=""#F3FEFE""></stop>
                    </lineargradient>
                    <lineargradient id=""paint2_linear_7_139"" x1=""103.293"" y1=""0"" x2=""103.293"" y2=""70.7907"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#4992FF""></stop>
                        <stop offset=""1"" stop-color=""#85E0FD""></stop>
                    </lineargradient>
                    <lineargradient id=""paint3_linear_7_139"" x1=""129.953"" y1=""167"" x2=""116.056"" y2=""385.715"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#C6D1E7""></stop>
                        <stop offset=""1"" stop-color=""#F3FEFE""></stop>
                    </lineargradient>
                    <lineargradient id=""paint4_linear_7_139"" x1=""37.9526"" y1=""385"" x2=""35.7407"" y2=""356.577"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#EE708C""></stop>
                        <stop offset=""1"" stop-color=""#F3FEFE""></stop>
                    </lineargradient>
                    <lineargradient id=""paint5_linear_7_139"" x1=""262.372"" y1=""413.645"" x2=""260.634"" y2=""391.313"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#45A1F1""></stop>
                        <stop offset=""1"" stop-color=""#F3FEFE""></stop>
                    </lineargradient>
                    <lineargradient id=""paint6_linear_7_139"" x1=""99.4526"" y1=""95"" x2=""110.453"" y2=""114.5"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#B7C5E0""></stop>
                        <stop offset=""1"" stop-color=""#F3FEFE""></stop>
                    </lineargradient>
                    <lineargradient id=""paint7_linear_7_139"" x1=""46.7552"" y1=""-4.8689"" x2=""49.3637"" y2=""25.9092"" gradientUnits=""userSpaceOnUse"">
                        <stop stop-color=""#C6D1E7""></stop>
                        <stop offset=""1"" stop-color=""#F3FEFE""></stop>
                    </lineargradient>
                </defs>
            </svg>
        </div>
        <div class=""oops"" align=""center"">Oops!</div>
        <div class=""wrong"" align=""center"">Something went wrong</div>
        <div class=""lookingFor"" align=""center"">Are you looking for..?</div>
        <div class=""links"">
            <div>
                <div class=""title"">Blazor</div>
                <a href=""https://blazor.syncfusion.com/demos/"">Demos</a>
                <br>
                <a href=""https://blazor.syncfusion.com/documentation"">Documentation</a>
            </div>
            <div>
                <div class=""title"">ASP.NET Core</div>
                <a href=""https://ej2.syncfusion.com/home/aspnetcore.html"">Demos</a>
                <br>
                <a href=""https://ej2.syncfusion.com/aspnetcore/documentation"">Documentation</a>
            </div>
            <div>
                <div class=""title""> ASP.NET MVC</div>
                <a href=""https://ej2.syncfusion.com/home/aspnetmvc.html"">Demos</a>
                <br>
                <a href=""https://ej2.syncfusion.com/aspnetmvc/documentation"">Documentation</a>
            </div>
            <div>
                <div class=""title""> Utilities</div>
                <a href=""https://blazor.syncfusion.com/crg"">CRG</a>
                <br>
                <a href=""https://blazor.syncfusion.com/themestudio"">Theme Studio</a>
            </div>
        </div>
    </div>


</body>
</html>

    ";
}

<div>
    @((MarkupString)htmlContent)
</div>
