/* sb-icons declaration */
@font-face {
    font-family: "sbicons";
    src: url("styles/common/fonts/sbicons.ttf?gcjn6a") format("truetype"), url("styles/common/fonts/sbicons.woff?gcjn6a") format("woff"), url("styles/common/fonts/sbicons.svg?gcjn6a#sbicons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
::deep .sb-icons {
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "sbicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* sb-hide */
::deep .sb-hide {
    display: none;
}
/* Search and List component styles */
::deep .sf-list-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
::deep .sf-list-li {
    background: transparent;
    border: none;
    height: 40px;
    line-height: 1.5;
    padding: 8px 16px 8px 16px;
    position: relative;
    cursor: pointer;
}
::deep .sf-list-group-li {
    border: none;
    color: #000000;
    opacity: 87;
    font-weight: 700;
    background: transparent;
    height: 40px;
    line-height: 1.5;
    padding: 8px 16px 8px 16px;
    list-style-type: none;
}
::deep .sf-list-li:hover:not(.sf-list-li-active),
::deep .sf-search-hover {
    background: #d7d7d7;
}
::deep .sf-list-li.sf-list-li-active,
::deep .sf-tree-full-row.sf-tree-active {
    background: #006ee5;
}
::deep .sf-list-li.sf-list-li-active *,
::deep .sf-tree-active + .sf-tree-text-content * {
    color: #ffffff;
}
::deep .sf-blazor-home .sf-search-icon,
::deep .sf-search-container .sf-search-icon,
::deep .sf-search-container .sf-clear-icon {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #333;
    letter-spacing: 0;
    line-height: 23px;
    float: right;
    padding: 28px 15px;
}
::deep .sf-blazor-home .sf-search-icon::before,
::deep .sf-blazor-home .sf-search-input::placeholder {
    color:#c3cade!important;
 }
::deep .sf-blazor-home .sf-search-input:focus {
    border: 2px solid #d9deec !important;
    box-shadow: none !important;
}
::deep .sf-search-icon::before {
    content: "\e925";
    color: #B3B3CB;
}
::deep .property-section,
::deep .property-section .e-property-label,
::deep .control-section .e-property-label {
    font-size: 14px;
}
.e-error-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

#control-content .e-error-ui {
    overflow: auto;
}

.e-error-ui-text {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.e-error-text-ui {
    font-size: 15px;
    padding: 10px;
}
.e-page-refresh {
    text-align: center;
}