@page "/otp-input/default-functionalities"
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the default functionalities of the OTP Input component. It allows users to enter OTP (One-Time Password) during MFA processes such as login, account verifications, booking activities, and more.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        This example showcases the usage of the <code>Type</code> and <code>Value</code> properties in the OTP Input component. The available input types are <code>Number</code>, <code>Text</code> and <code>Password</code>. Once the user enters the OTP according to the specified <code>Type</code>, the <code>Value</code> property can be used to access the entered OTP.
    </p>
</ActionDescription>

<div class="control-section">
    <div id="default-container">
        <div>
            <label>Default (Number) OTP Input</label>
            <SfOtpInput Value="1234" Type=OtpInputType.Number></SfOtpInput>
        </div>
        <div>
            <label>Text OTP Input</label>
            <SfOtpInput Value="e3c7" Type=OtpInputType.Text></SfOtpInput>
        </div>
        <div>
            <label>Password OTP Input</label>
            <SfOtpInput Value="1234" Type=OtpInputType.Password></SfOtpInput>
        </div>
    </div>
</div>

<style>

    #default-container {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }

    #default-container div {
        width: 240px;
        margin: 15px auto;
    }

</style>


