@page "/excel/pivottablelayout"
@inject HttpClient Http
@using System.IO;

@using Blazor_MAUI_Demos.Services
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@

@using Blazor_MAUI_Demos.Pages.DocumentProcessing.Excel

@*End:Hidden*@
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to layout pivot table using XlsIO.</p>
</SampleDescription>
<ActionDescription>
    <p>When there is a need to summarize large reports, Excel allows you to summarize data through pivot table insertion. Microsoft Excel supplies various built-in styles for pivot tables, allowing the creation of pivot tables with rich formats and more flexibility in summarizing reports.</p>
    <p style='display: block'><b>Features:</b></p>
    <ul>
        <li>Creating pivot tables from template data</li>
        <li>Customizing pivot tables with different layouts</li>
        <li>Formatting pivot tables with built-in styles</li>
    </ul>
</ActionDescription>

<div class="control-section">
    @{
#if WASM || WEBAPP
    }
    <p style="font-weight:normal">Click the "Create Pivot Table" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document. </p>
    @{
#else
    }
    <p style="font-weight:normal">Click the "Create Pivot Table" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document, and click the "Convert Pivot Table" button to view the converted PDF document. PDF viewer is needed to view the converted PDF document.</p>
    @{
#endif
    }
    <div class="radio-control">
        <div class="celldiv">
            <label style="font-weight:normal">
                Layout options:
            </label>
            <SfRadioButton Label="Compact" Name="LayoutOption" Value=@("Compact") @bind-Checked="@checkedValue"></SfRadioButton>
            <SfRadioButton Label="Outline" Name="LayoutOption" Value=@("Outline") @bind-Checked="@checkedValue"></SfRadioButton>
            <SfRadioButton Label="Tabular" Name="LayoutOption" Value=@("Tabular") @bind-Checked="@checkedValue"></SfRadioButton>
        </div>
    </div>
    <br />
    <div class="celldiv">
        <SfButton @onclick="CreatePivotTable">Create Pivot Table</SfButton>&nbsp;
        @{
#if !WASM && !WEBAPP
        }
        <SfButton @onclick="ConvertPivotTable">Convert Pivot Table</SfButton>
        @{
#endif
        }
    </div>
</div>

<style>
    .checkbox-control {
        margin: 5% 0 2% 0;
    }

    .control-section .row {
        margin: 10px 0;
    }
</style>

@code {
    MemoryStream stream;
    string button = string.Empty;
    private string checkedValue = "Compact";
    Dictionary<string, MemoryStream> fileData = new Dictionary<string, MemoryStream>();


    //End:Hidden

    /// <summary>
    /// Download the input Excel document
    /// </summary>
    public async void CreatePivotTable(MouseEventArgs args)
    {
        LoadTemplate();
        PivotTableLayoutService service = new PivotTableLayoutService(fileData);
        button = "CreatePivotTable";
        stream = service.PivotTableLayoutXlsIO(button, checkedValue);
        service.Close();
        stream.Position = 0;
        SaveService saveService = new SaveService();
        saveService.SaveAndView("PivotLayout.xlsx", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", stream);
    }

    /// <summary>
    /// Download the JSON document
    /// </summary>
    public async void ConvertPivotTable(MouseEventArgs args)
    {
        LoadTemplate();
        PivotTableLayoutService service = new PivotTableLayoutService(fileData);
        button = "ConvertPivotTable";
        stream = service.PivotTableLayoutXlsIO(button, checkedValue);
        service.Close();
        stream.Position = 0;
        SaveService saveService = new SaveService();
        saveService.SaveAndView("PivotLayout.pdf", "application/pdf", stream);
    }
    /// <summary>
    /// Load the template document
    /// </summary>
    public async void LoadTemplate()
    {
        string basePath = "Blazor_MAUI_Demos.wwwroot.data.xlsio.pivot-layout.xlsx";
        Stream DocumentStream = this.GetType().Assembly.GetManifestResourceStream(basePath);
        MemoryStream memoryStream = new MemoryStream();
        DocumentStream.CopyTo(memoryStream);
        memoryStream.Position = 0;
        fileData.Add("pivot-layout.xlsx", memoryStream);
        DocumentStream.Dispose();
    }
}
