@page "/excel/worksheet-to-html"
@inject HttpClient Http
@using System.IO;

@using Blazor_MAUI_Demos.Services
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@

@using Blazor_MAUI_Demos.Pages.DocumentProcessing.Excel

@*End:Hidden*@
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager

@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to convert Worksheets to html files using Essential XlsIO.</p>
</SampleDescription>
<ActionDescription>
    <p>This sample demonstrates how a worksheet or workbook is converted to HTML. The output file can be saved to disc and also as a memory stream.</p>
</ActionDescription>

<div class="control-section">
    <p style="font-weight:normal">Click the button below to view the converted HTML document using Essential XlsIO.</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="radio-control">
        <label style="font-weight:bold">Convert Type:</label>
        <SfRadioButton Label="Workbook" Name="Workbook" Value=@("Workbook") @bind-Checked="@convertType"></SfRadioButton>
        <SfRadioButton Label="Worksheet" Name="Worksheet" Value=@("Worksheet") @bind-Checked="@convertType"></SfRadioButton>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="button-section">
        <div id="button-control">
            <div class="row">
                <div>
                    <SfButton @onclick="InputTemplate">Input Template</SfButton>&nbsp;
                    <SfButton @onclick="Convert">Convert</SfButton>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .control-section .row {
    margin: 10px 0;
    }
</style>

@code {
    MemoryStream excelStream;
    string convertType = "Workbook";
    string button = string.Empty;
    //Hidden:Lines


    Dictionary<string, MemoryStream> fileData = new Dictionary<string, MemoryStream>();


    //End:Hidden

    /// <summary>
    /// Convert the Excel document to HTML
    /// </summary>
    public async void Convert(MouseEventArgs args)
    {
        LoadTemplate();
        WorksheetToHTMLService service = new WorksheetToHTMLService(fileData);
        button = "Convert";
        excelStream = service.WorksheetToHTMLXlsIO(button, convertType);
        service.Close();
        excelStream.Position = 0;
        SaveService saveService = new SaveService();
        saveService.SaveAndView("Sample.html", "text/html", excelStream);
    }
    /// <summary>
    /// Download the Excel document used for conversion
    /// </summary>
    public async void InputTemplate(MouseEventArgs args)
    {
        LoadTemplate();
        WorksheetToHTMLService service = new WorksheetToHTMLService(fileData);
        button = "Input Template";
        excelStream = service.WorksheetToHTMLXlsIO(button, convertType);
        service.Close();
        excelStream.Position = 0;
        SaveService saveService = new SaveService();
        saveService.SaveAndView("Template.xlsx", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", excelStream);
    }
    public async void LoadTemplate()
    {
        string basePath = "Blazor_MAUI_Demos.wwwroot.data.xlsio.northwind-template.xlsx";
        Stream DocumentStream = this.GetType().Assembly.GetManifestResourceStream(basePath);
        MemoryStream memoryStream = new MemoryStream();
        DocumentStream.CopyTo(memoryStream);
        memoryStream.Position = 0;
        fileData.Add("northwind-template.xlsx", memoryStream);
        DocumentStream.Dispose();
    }
}
