@page "/Calendar/DateRange"

@using Syncfusion.EJ2.Blazor.Calendars

@inherits SampleBaseComponent;

<div class="control-section">
    <div class="calender-section">
        <div id="calender-control">
            <EjsCalendar TValue="DateTime?" Min="@MinDate" Max="@MaxDate"></EjsCalendar>
        </div>
    </div>
</div>

<style>
    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }
</style>

@code {
    public DateTime MinDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 05);
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
}