@page "/Calendar/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor.Calendars

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "Calendar";
    SampleBrowser.CurrentControlCategory = "Calendar";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Calendar;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            The following sample demonstrates the default functionalities of the Calendar. Today's date is always <code>highlighted</code> in the Calendar and it get <code>focused</code> if there is no selected date. Click the desired date from the Calendar and the selected date will be displayed in the below label.
        </p>"
    };
    SampleBrowser.Description = new string[]{
        @" <p>
            The <code>Calendar</code> is a graphical user interface component which provides the multi-view representation to display and select a date. Also, provide options to navigate in different levels of views like month, year, decade.
        </p>
        <p>
            More information on the calendar instantiation can be found in this
            <a href=""https://ej2.syncfusion.com/blazor/documentation/calendar/getting-started/#adding-calendar-component-to-the-application"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="calender-section">
        <div id="calender-control">
            <EjsCalendar></EjsCalendar>
        </div>
    </div>
</div>

<style>
    #date_label {
        display: block;
        width: 248px;
        color: rgba(0, 0, 0, 0.58);
        margin-left: 5px;
    }

    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }
</style>
