@page "/Calendar/IslamicCalendar"

@using Syncfusion.Blazor.Calendars

<div class=" control-section">
    <div class="calender-section">
        <div id="calender-control">
            <SfCalendar TValue="DateTime?" CalendarMode="@CalendarType.Islamic"></SfCalendar>
        </div>
    </div>
</div>

<style>
    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }
</style>
