@page "/Calendar/MonthPicker"

@using Syncfusion.EJ2.Blazor.Calendars

@inherits SampleBaseComponent;

    <div class=" control-section">
        <div class="calender-section">
            <div id="calender-control">
                <EjsCalendar TValue="DateTime?" Start="@CalendarView.Year" Depth="@CalendarView.Year"></EjsCalendar>
            </div>
        </div>
    </div>

<style>
    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }
</style>
