@page "/Calendar/Month-Picker"

@using Syncfusion.Blazor.Calendars

@inherits SampleBaseComponent;

<div class=" control-section">
    <div class="calender-section">
        <div id="calender-control">
            <SfCalendar TValue="DateTime?" Start="@CalendarView.Year" Depth="@CalendarView.Year" @bind-Value="@DropVal">
            </SfCalendar>
        </div>
        <div id="display_date">
            <span id="date_value">Selected values: @(DropVal?.ToString("MMMM yyyy"))</span>
        </div>
    </div>
</div>

<style>
    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }

    #display_date {
        max-width: 300px;
        margin: 0 auto;
        padding-top: 10px;
        color: rgba(0, 0, 0, 0.8);
    }
</style>
@code {
    public DateTime? DropVal { get; set; } = DateTime.Now;

}