@page "/Calendar/Multi-Selection"

@using Syncfusion.Blazor.Calendars

@inherits SampleBaseComponent;

<div class="control-section">
    <div class="calender-section">
        <div id="calender-control">
            <SfCalendar TValue="DateTime?" IsMultiSelection="@MultiSelect" @bind-Values="@MultiValue">
            </SfCalendar>
        </div>
        <div class="valuesWrapper col-lg-6 col-sm-8 col-md-8">
            <h5>Selected values</h5>
            <div class="contentValue">
             @foreach (var element in MultiValue)
             {
                <div id="multiSelect">@element.ToString("ddd, dd MMM yyy HH':'mm':'ss 'GMT'")
                </div>
             }
            </div>
        </div>
    </div>
</div>

<style>
    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }

    .contentValue {
        padding: 10px;
        overflow: auto;
        max-height: 100px;
        margin-bottom: 10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    .valuesWrapper {
        margin: 0 auto;
        float: none;
        padding: 0;
        max-width: 370px;
    }
</style>

@code {
    public bool MultiSelect { get; set; } = true;
    public DateTime[] MultiValue = new DateTime[] { new DateTime(DateTime.Now.Year, DateTime.Now.Month, 10), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 25) };

}