@page "/Calendar/MultiSelection"

@using Syncfusion.EJ2.Blazor.Calendars

@inherits SampleBaseComponent;

<div class="control-section">
    <div class="calender-section">
        <div id="calender-control">
            <EjsCalendar TValue="DateTime?" IsMultiSelection="@MultiSelect" Values="@MultiValue"></EjsCalendar>
        </div>
    </div>
</div>

<style>
    #calender-control {
        max-width: 300px;
        margin: 0 auto;
    }
</style>

@code {
    public bool MultiSelect { get; set; } = true;
    public DateTime[] MultiValue = new DateTime[] { new DateTime(DateTime.Now.Year, DateTime.Now.Month, 10), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 25) };
}