@page "/TimePicker/Format"

@using Syncfusion.EJ2.Blazor.Calendars
@using System.Collections
@using System

@inherits SampleBaseComponent;

<div class="control-section">
    <div class="timepicker-section">
        <div id="wrapper" class="timepicker-control">
            <div class="tabs-wrap">
                <div class="wrap">
                    <EjsTimePicker Value="@TimeValue" Step=60 Format="HH:mm"></EjsTimePicker>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
   public DateTime TimeValue {get;set;} = DateTime.Now;
 }

<style>
    #wrapper {
        max-width: 300px;
        margin: 0px auto;
        padding-top: 20px;
    }

    .tabs-wrap {
        padding: 0 0px 10px;
    }

    .e-bigger .control-section {
        margin-top: 60px;
    }
</style>