@page "/pivot-table/editing"

@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates CRUD operations on raw items of value cells in the pivot table with various editing options.</p>
    
    <p>CRUD operations available:</p>
    
    <ul>
        <li><b>Add</b> - Click <code>Add</code> toolbar button to create new records</li>
        <li><b>Edit</b> - Double-click cells to edit records</li>
        <li><b>Delete</b> - Click <code>Delete</code> toolbar button after selecting rows</li>
        <li><b>Update</b> - Click <code>Update</code> to save changes</li>
        <li><b>Cancel</b> - Click <code>Cancel</code> to discard changes</li>
    </ul>
    
    <p>Configuration via <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewCellEditSettings.html" aria-label="Class reference of PivotViewCellEditSettings">PivotViewCellEditSettings</a>.</p>
    
    <p>Editing modes available:</p>
    
    <ul>
        <li><b>Normal</b> - Edit rows sequentially</li>
        <li><b>Batch</b> - Edit individual cells with bulk updates</li>
        <li><b>Dialog</b> - Edit rows using dialog interface</li>
        <li><b>Command Columns</b> - Additional column with icons for CRUD operations</li>
    </ul>
    
    <p>For comprehensive documentation, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/pivot-table/editing/" aria-label="Blazor PivotTable Editing documentation">editing documentation</a>.</p>
</ActionDescription>


<div class="col-lg-9 control-section sb-property-border">
    <div class="content-wrapper">
        <SfPivotView TValue="PivotProductDetails" Height="300" Width="100%" EnableValueSorting=true ShowTooltip=false>
            <PivotViewDataSourceSettings DataSource="@Data" ExpandAll=false EnableSorting=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Quarter"></PivotViewColumn>
                    <PivotViewColumn Name="Order_Source" Caption="Order Source"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Product_Categories" Caption="Product Categories"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="In_Stock" Caption="In Stock"></PivotViewValue>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
            <PivotViewCellEditSettings AllowEditing=true AllowAdding=true AllowDeleting=true Mode="@SelectedMode" AllowEditOnDblClick="@DblClick" AllowCommandColumns="@CommandColumnsClick"></PivotViewCellEditSettings>
        </SfPivotView>
    </div>
</div>

<div class="col-lg-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header" style="padding-bottom:5px; font-size:16px">Properties</div>
        <div class="property-panel-content">
            <table id="property" style="width: 100%;height:100%;" class="property-panel-table">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <SfRadioButton Label="Inline Editing" Name="EditOperation" Value="inline" @bind-Checked="ModeSelected" ValueChange="OnRadioChange" TChecked="string"></SfRadioButton>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <SfRadioButton Label="Batch Editing" Name="EditOperation" Value="batch" @bind-Checked="ModeSelected" ValueChange="OnRadioChange" TChecked="string"></SfRadioButton>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <SfRadioButton Label="Dialog Editing" Name="EditOperation" Value="dialog" @bind-Checked="ModeSelected" ValueChange="OnRadioChange" TChecked="string"></SfRadioButton>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <SfRadioButton Label="Command Columns" Name="EditOperation" Value="cc" @bind-Checked="ModeSelected" ValueChange="OnRadioChange" TChecked="string"></SfRadioButton>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }

    html, body {
        height: 100%;
    }

    .property-panel-table td {
        width: auto;
    }

    .property-panel-table div {
        padding-left: unset;
    }
</style>

@code{
    public EditMode SelectedMode = EditMode.Normal;
    public bool DblClick = true;
    public bool CommandColumnsClick = false;
    public string ModeSelected = "inline";
    public string[] DrilledMembers = new string[] { "France" };
    public List<PivotProductDetails>? Data { get; set; }

    protected override void OnInitialized()
    {
        this.Data = PivotProductDetails.GetProductData();
    }

    public void OnRadioChange(ChangeArgs<string> args)
    {
        if (args.Value == "inline")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = EditMode.Normal;
        }
        else if (args.Value == "batch")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = EditMode.Batch;
        }
        else if (args.Value == "dialog")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = EditMode.Dialog;
        }
        else
        {
            this.CommandColumnsClick = true;
        }
    }
}