@page "/pivot-table/local-data"

@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using BlazorDemos
@inject NavigationManager navigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates basic rendering of the pivot table bound to JSON or CSV data extracted from a local file.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_Url' aria-label="Class reference of Url property in PivotView">Url</a> property in <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html' aria-label="Class reference of PivotViewDataSourceSettings">PivotViewDataSourceSettings</a> is used to extract the JSON and CSV data from an external file. Set the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_Type' aria-label="Class reference of Type property in PivotView">Type</a> property in <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html' aria-label="Class reference of PivotViewDataSourceSettings">PivotViewDataSourceSettings</a> to <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.DataSourceType.html#Syncfusion_Blazor_PivotView_DataSourceType_JSON' aria-label="Class reference of JSON property in PivotView">DataSourceType.JSON</a> to read the JSON data and <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.DataSourceType.html#Syncfusion_Blazor_PivotView_DataSourceType_CSV' aria-label="Class reference of CSV property in PivotView">DataSourceType.CSV</a> to read the CSV data from an external file, respectively.</p>
    <p>More information on the local data binding can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pivot-table/data-binding' aria-label="Blazor PivotTable Data Binding documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section" style="overflow:auto;">
    <div id="dropdown-control" style="margin-left:10px;">
        <table style="width: 350px;">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div>
                            <b>Content Type:</b>
                        </div>
                    </td>
                    <td>
                        <div>
                            <SfDropDownList TValue="string" TItem="string" DataSource="@dataTypes" @bind-Value="currentDataType">
                            </SfDropDownList>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-wrapper">

        @if (currentDataType.Equals("JSON"))
        {
            <SfPivotView TValue="TemplateData" Width="100%" Height="100%" ShowTooltip=false>
                <PivotViewDataSourceSettings TValue="TemplateData" Url="@(navigationManager.BaseUri  + SampleService.WebAssetsPath + "data/pivot/json-data.json")" Type="DataSourceType.JSON">
                    <PivotViewColumns>
                        <PivotViewColumn Name="EnerType" Caption="Energy Ttype" ExpandAll="true"></PivotViewColumn>
                        <PivotViewColumn Name="EneSource" Caption="Energy Source"></PivotViewColumn>
                    </PivotViewColumns>
                    <PivotViewRows>
                        <PivotViewRow Name="Year" Caption="Production Year"></PivotViewRow>
                        <PivotViewRow Name="HalfYear" Caption="Half Year"></PivotViewRow>
                        <PivotViewRow Name="Quarter" Caption="Quarter"></PivotViewRow>
                    </PivotViewRows>
                    <PivotViewValues>
                        <PivotViewValue Name="PowUnits" Caption="Units (GWh)"></PivotViewValue>
                        <PivotViewValue Name="ProCost" Caption="Cost (MM)"></PivotViewValue>
                    </PivotViewValues>
                    <PivotViewFormatSettings>
                        <PivotViewFormatSetting Name="ProCost" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                    </PivotViewFormatSettings>
                </PivotViewDataSourceSettings>
                <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
            </SfPivotView>
        }
        else
        {
            <SfPivotView TValue="string[]" Width="100%" Height="100%" ShowTooltip=false>
                <PivotViewDataSourceSettings TValue="string[]" ExpandAll=false EnableSorting=true Url="@(navigationManager.BaseUri  + SampleService.WebAssetsPath + "data/pivot/csv-data.csv")" Type="DataSourceType.CSV">
                    <PivotViewColumns>
                        <PivotViewColumn Name="Item Type"></PivotViewColumn>
                        <PivotViewColumn Name="Sales Channel"></PivotViewColumn>
                    </PivotViewColumns>
                    <PivotViewRows>
                        <PivotViewRow Name="Region"></PivotViewRow>
                        <PivotViewRow Name="Country"></PivotViewRow>
                    </PivotViewRows>
                    <PivotViewValues>
                        <PivotViewValue Name="Total Cost"></PivotViewValue>
                        <PivotViewValue Name="Total Revenue"></PivotViewValue>
                        <PivotViewValue Name="Total Profit"></PivotViewValue>
                    </PivotViewValues>
                    <PivotViewFormatSettings>
                        <PivotViewFormatSetting Name="Total Cost" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                        <PivotViewFormatSetting Name="Total Revenue" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                        <PivotViewFormatSetting Name="Total Profit" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                    </PivotViewFormatSettings>
                    <PivotViewDrilledMembers>
                        <PivotViewDrilledMember Name="Total Cost" Items=@(new string[] { "Baby Food" })></PivotViewDrilledMember>
                    </PivotViewDrilledMembers>
                </PivotViewDataSourceSettings>
                <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
            </SfPivotView>
        }
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code {
    private string currentDataType { get; set; } = "JSON";
    private List<string> dataTypes = new List<string>() { "JSON", "CSV" };
    
}