@page "/pivot-table/server-side-aggregation"

@using Syncfusion.Blazor.PivotView

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to use a server-side pivot engine to obtain, process and return the summarized data via a remote service and display it in the pivot table.</p>
</SampleDescription>
<ActionDescription>
     <p>
        The Pivot Table's server-side pivot engine (external pivot engine) uses the Syncfusion package <a
        target="_blank" href="https://www.nuget.org/packages/Syncfusion.Pivot.Engine/" aria-label="NuGet package reference of Pivot Engine"> Syncfusion.Pivot.Engine</a> to
        gather data from the data source and perform all pivot operations such as <a target="_blank"
            href="https://blazor.syncfusion.com/documentation/pivot-table/aggregation" aria-label="Blazor PivotTable Aggregation documentation">
            Aggregation</a>, <a target="_blank"
            href="https://blazor.syncfusion.com/documentation/pivot-table/filtering" aria-label="Blazor PivotTable Filtering documentation">
            Filtering</a>, <a target="_blank"
            href="https://blazor.syncfusion.com/documentation/pivot-table/sorting" aria-label="Blazor PivotTable Sorting documentation">
            Sorting</a>, <a target="_blank" href="https://blazor.syncfusion.com/documentation/pivot-table/grouping" aria-label="Blazor PivotTable Grouping documentation">
            Grouping</a>, and more on a separate hosted server and only paged
        data is sent to the pivot table viewport via web service.
        The <a target="_blank"
            href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.IPivotViewDataSourceSettings.html#Syncfusion_Blazor_PivotView_IPivotViewDataSourceSettings_Url"aria-label="Class reference of DataSourceSettings property in PivotView">
            DataSourceSettings-&gt;Url</a> property allows this web service URL to be
        connected to the pivot table.
    </p>
    <p>
        In this demo, the pivot table is shown with the virtualization option enabled through the <a target="_blank"
            href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewVirtualScrollSettings.html">
            EnableVirtualization</a> property
        and an external server engine. This would improve pivot table rendering performance when working with large
        amounts of data.
    </p>
    <br />
    <p>
        More information about server-side aggregation can be found in this <a target="_blank"
            href="https://blazor.syncfusion.com/documentation/pivot-table/server-side-pivot-engine">
            documentation section</a>.
    </p>
</ActionDescription>

<div class="control-section">
    <div class="content-wrapper">
        <div id="Pivot" style="margin-top:10px">
            <SfPivotView TValue="PivotViewData" Width="100%" Height="450" EnableVirtualization="true" ShowFieldList="true" ShowGroupingBar="true" MaxNodeLimitInMemberEditor="50">
                <PivotViewDataSourceSettings TValue="PivotViewData" Url="http://localhost:63028/api/pivotengine/post" ExpandAll="false" EnableSorting="true" EnableServerSideAggregation="true" AlwaysShowValueHeader="true">
                    <PivotViewColumns>
                        <PivotViewColumn Name="Year" Caption="Production Year"></PivotViewColumn>
                    </PivotViewColumns>
                    <PivotViewRows>
                        <PivotViewRow Name="ProductID" Caption="Product ID"></PivotViewRow>
                    </PivotViewRows>
                    <PivotViewValues>
                        <PivotViewValue Name="Sold" Caption="Unit Sold"></PivotViewValue>
                        <PivotViewValue Name="Price" Caption="Unit Amount"></PivotViewValue>
                    </PivotViewValues>
                    <PivotViewFormatSettings>
                        <PivotViewFormatSetting Name="Price" Format="C0"></PivotViewFormatSetting>
                        <PivotViewFormatSetting Name="Sold" Format="N0"></PivotViewFormatSetting>
                    </PivotViewFormatSettings>
                </PivotViewDataSourceSettings>
                <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
            </SfPivotView>
        </div>
    </div>
</div>


<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code {
    public class PivotViewData
    {
        public string ProductID { get; set; }
        public string Country { get; set; }
        public string Product { get; set; }
        public double Sold { get; set; }
        public double Price { get; set; }
        public string Year { get; set; }
    }
}
