@page "/pivot-table/value-sorting"

@using Syncfusion.Blazor.PivotView

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates how to order column and row header values in ascending or descending order. The example shows ordering of the <strong>FY 2022 -> In Stock</strong> column header and the <strong>France</strong> row header by defining sort-related settings in the code-behind.
  </p>
  <p>
    This sample also demonstrates how to enable interactive sorting for column and row values by clicking their headers. Repeated clicks toggle between ascending and descending sort directions. This functionality is activated by setting the <code>EnableValueSorting</code> property in <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.SfPivotView-1.html" aria-label="Class reference of PivotView">SfPivotView</a> to <strong>true</strong>.
  </p>
  <p>
    You can also configure value-based sorting programmatically for precise control. To sort a column, specify the target header using the <code>ColumnHeaderText</code> property under <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotValueSortSettings.html" aria-label="Class reference of PivotViewValueSortSettings">PivotViewValueSortSettings</a>, with individual header levels separated by a delimiter configured in the <code>HeaderDelimiters</code> property. Use <code>ColumnSortOrder</code> to specify the sort direction. Similarly, for row sorting, provide the header in <code>RowHeaderText</code> and specify the direction using <code>RowSortOrder</code>.
  </p>
  <p>
    This approach enables precise and independent control over sorting behavior for both columns and rows based on the specified headers.
  </p>
  <p>
    For detailed information about the value sorting feature, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/pivot-table/sorting/#value-sorting" aria-label="Blazor PivotTable Sorting documentation">value sorting documentation</a>.
  </p>
</ActionDescription>


<div class="control-section">
    <div class="content-wrapper">
        <SfPivotView TValue="PivotProductDetails" Height="300" Width="100%" EnableValueSorting=true ShowFieldList="true" ShowValuesButton="true" ShowTooltip=false>
            <PivotViewDataSourceSettings DataSource="@PivotViewDataSource" ExpandAll=false EnableSorting=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Order_Source" Caption="Order Source"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="In_Stock" Caption="In Stock"></PivotViewValue>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
                <PivotViewValueSortSettings ColumnHeaderText="FY 2022##In Stock" HeaderDelimiter="##" ColumnSortOrder="Sorting.Descending" RowHeaderText="France" RowSortOrder="Sorting.Ascending"></PivotViewValueSortSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
        </SfPivotView>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
    html, body {
        height: 100%;
    }
</style>

@code{
    public List<PivotProductDetails>? PivotViewDataSource { get; set; }
    
    protected override void OnInitialized()
    {
        this.PivotViewDataSource = PivotProductDetails.GetProductData();
    }
}