@page "/chart/line"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@using ThemeHelper

@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-charts/chart-types/line-chart'>Blazor Line Chart</a> example visualizes the consumer price data with default line series in the chart. Data points are enhanced with marker and tooltip.</p>
</SampleDescription>
<ActionDescription>
    <p>The Blazor Chart is a graphical representation for data, and it includes configuration options for controlling how the data is presented and manipulated. In this example, you can see how to render and configure the line type chart. Line type chart is used to represent time-dependent data, showing trends in data at equal intervals. <code>Marker</code> is used to represent individual data and its value.</p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    More information about the line series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/line'>documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfChart Title="Inflation, Consumer Prices (Annual %)" Theme="@Theme">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis LabelFormat="{value}%" Minimum="0" Maximum="4" Interval="1">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@ChartData" Name="Germany" XName="Period" Width="2"
                         Opacity="1" YName="GER_InflationRate" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@ChartData" Name="England" XName="Period" Width="2"
                         Opacity="1" YName="ENG_InflationRate" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@ChartData" Name="Italy" XName="Period" Width="2"
                         Opacity="1" YName="ITY_InflationRate" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings Visible="true" ToggleVisibility="false" ShapeHeight="15" ShapeWidth="15"></ChartLegendSettings>
    </SfChart>
</div>

@code{

    private Theme Theme { get; set; }
    public List<LineChartData> ChartData = new List<LineChartData>
    {
        new LineChartData { Period = 2005, GER_InflationRate = 1.547, ENG_InflationRate = 2.189, ITY_InflationRate = 1.985 },
        new LineChartData { Period = 2006, GER_InflationRate = 1.577, ENG_InflationRate = 2.456, ITY_InflationRate = 2.091 },
        new LineChartData { Period = 2007, GER_InflationRate = 2.298, ENG_InflationRate = 2.487, ITY_InflationRate = 1.83 },
        new LineChartData { Period = 2008, GER_InflationRate = 2.628, ENG_InflationRate = 3.521, ITY_InflationRate = 3.348 },
        new LineChartData { Period = 2009, GER_InflationRate = 0.313, ENG_InflationRate = 1.962, ITY_InflationRate = 0.775 },
        new LineChartData { Period = 2010, GER_InflationRate = 1.104, ENG_InflationRate = 2.493, ITY_InflationRate = 1.526 },
        new LineChartData { Period = 2011, GER_InflationRate = 2.075, ENG_InflationRate = 3.856, ITY_InflationRate = 2.781 }
    };

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

    public class LineChartData
    {
        public double Period { get; set; }
        public double GER_InflationRate { get; set; }
        public double ENG_InflationRate { get; set; }
        public double ITY_InflationRate { get; set; }
    }
}