@page "/Charts/Donut"
@using Syncfusion.EJ2.Blazor.Charts
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Donut Chart";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"This sample demonstrates pie chart for Food Comparison Chart. Datalabel shows the Information about the points."
    };
    SampleBrowser.Description = new string[] {
        @"In this example, you can see how to render and configure the pyramid chart. You can use <code>border</code>, <code>fill</code> properties to customize the pie point. <code>dataLabel</code> is used to represent individual data and its value.

        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices."
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsAccumulationChart id="container" title="Project Cost Breakdown">
        <AccumulationChartLegendSettings Visible="true" Position="LegendPosition.Top">
        </AccumulationChartLegendSettings>
        <AccumulationChartTooltipSettings enable="false"></AccumulationChartTooltipSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries dataSource="@dataSource" xName="xValue" yName="yValue" radius="70%" innerRadius="40%" name="Project" explode=true explodeOffset="10%" explodeIndex=3>
                <AccumulationDataLabelSettings Visible="true" Name="text">
                    <AccumulationChartDataLabelFont FontWeight="600" Color="white"></AccumulationChartDataLabelFont>
                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </EjsAccumulationChart>
</div>

@code{
    public class DoughnutData
    {
        public string xValue;
        public double yValue;
        public string text;
    }
    List<DoughnutData> dataSource = new List<DoughnutData>
    {
        new DoughnutData  { xValue =  "Chrome", yValue = 37, text = "37%" },
        new DoughnutData  { xValue =  "UC Browser", yValue = 17, text = "17%" },
        new DoughnutData  { xValue =  "iPhone", yValue = 19, text = "19%" },
        new DoughnutData  { xValue =  "Others", yValue = 4, text = "4%" },
        new DoughnutData  { xValue =  "Opera", yValue = 11, text = "11%" },
        new DoughnutData  { xValue =  "Android", yValue = 12, text = "12%" },
    };
}
