@page "/Charts/Donut"
@using Syncfusion.EJ2.Blazor.Charts
@inherits SampleBaseComponent;

<div class="control-section">
    <EjsAccumulationChart Title="Project Cost Breakdown">
        <AccumulationChartLegendSettings Visible="true" Position="LegendPosition.Top">
        </AccumulationChartLegendSettings>
        <AccumulationChartTooltipSettings Enable="false"></AccumulationChartTooltipSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@dataSource" XName="xValue" YName="yValue" Radius="70%" InnerRadius="40%" Name="Project" Explode="true"  ExplodeOffset="10%" ExplodeIndex=3>
                <AccumulationDataLabelSettings Visible="true" Name="text">
                    <AccumulationChartDataLabelFont FontWeight="600" Color="white"></AccumulationChartDataLabelFont>
                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </EjsAccumulationChart>
</div>

@code{
    public class DoughnutData
    {
        public string xValue  { get; set; }
        public double yValue  { get; set; }
        public string text  { get; set; }
    }
    public List<DoughnutData> dataSource = new List<DoughnutData>
    {
        new DoughnutData  { xValue =  "Chrome", yValue = 37, text = "37%" },
        new DoughnutData  { xValue =  "UC Browser", yValue = 17, text = "17%" },
        new DoughnutData  { xValue =  "iPhone", yValue = 19, text = "19%" },
        new DoughnutData  { xValue =  "Others", yValue = 4, text = "4%" },
        new DoughnutData  { xValue =  "Opera", yValue = 11, text = "11%" },
        new DoughnutData  { xValue =  "Android", yValue = 12, text = "12%" },
    };
}
