@page "/Charts/IndexedCategoryAxis"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Indexed Category Axis";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
       In this example, you can see how to indexed axis in chart. For indexed category axis you can use <code>IsIndexed</code> property.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
         In this example, you can see how to indexed axis in chart. For indexed category axis you can use <code>IsIndexed</code> property.
    </p>
    <p>
        Hover the chart area to view trackball and its tooltip. Touch and hold to enable trackball in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsChart Title="Internet Users – 2016" >
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category"  interval="1" isIndexed="true">
            <ChartAxisCrosshairTooltip Enable="true"></ChartAxisCrosshairTooltip>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="GDP Growth Rate" LabelFormat="{value}%">
        </ChartPrimaryYAxis>
        <ChartCrosshairSettings Enable="true" LineType="LineType.Vertical"></ChartCrosshairSettings>
        <ChartTooltipSettings Enable="true" Shared="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@chartData1" Name="2015" xName="x" Width="2" Opacity="1" yName="y1" Type="ChartSeriesType.Column">
                <ChartMarker Visible="false" Height="10" Width="10">
                </ChartMarker>
            </ChartSeries>
			<ChartSeries DataSource="@chartData2" Name="2016" xName="x" Width="2" Opacity="1" yName="y2" Type="ChartSeriesType.Column">
                <ChartMarker Visible="false" Height="10" Width="10">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings Visible="true"></ChartLegendSettings>
    </EjsChart>
</div>

@code{
 public class CategoryData
        {
            public string x;
            public double y1;
            public double y2;
        }
    public List<CategoryData> chartData1 = new List<CategoryData>
            {
                new CategoryData { x = "Myanmar", y1 = 7.3 },
                new CategoryData { x = "India", y1 = 7.9 },
                new CategoryData { x = "Bangladesh", y1 = 6.0 },
                new CategoryData { x = "Cambodia", y1 = 7.0 },
                new CategoryData { x = "China", y1 = 6.9 },
             };
           
            public List<CategoryData> chartData2 = new List<CategoryData>
            {
                new CategoryData { x = "Poland", y2 = 2.7 },
                new CategoryData { x = "Australia", y2 = 2.5 },
                new CategoryData { x = "Singapore", y2 = 2.0 },
                new CategoryData { x = "Canada", y2 = 1.4 },
                new CategoryData { x = "Germany", y2 = 1.8 },
             };
}
