@page "/Charts/MultipleAxis"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Multiple Axis";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample illustrates multiple axis in chart to represent the temperature in Celsius in an axis and Fahrenheit in another axis.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure multipe axes. Use axes collection to render secondary axis to the chart and bind it to the specify series. You can also customize the axis line and its labels similar to primary axis.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsChart Title="Weather condition JPN vs DEU">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category" Title="Country">
            <ChartAxisMinorGridLines Width="0"></ChartAxisMinorGridLines>
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="100" Interval="20" LabelFormat="{value}°F">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartAxes>
            <ChartAxis Minimum="24" Maximum="36" Interval="2" OpposedPosition="true" RowIndex="0" Name="yAxis2" LabelFormat="{value}°C">
                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartAxis>
        </ChartAxes>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@chartData" XName="x" YName="y" Opacity="1" Name="Germany" Width=2 Type="ChartSeriesType.Column">
                <ChartMarker Visible="true" Height="10" Width="10">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@chartData" YAxisName="yAxis2" XName="x" YName="y1" Opacity="1" Name="Japan" Width=2 Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Height="10" Width="10">
                    <ChartMarkerBorder Color="#F8AB1D" Width="2"></ChartMarkerBorder>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartAnnotations>
            <ChartAnnotation X="SUN" Y="50" CoordinateUnits='Syncfusion.EJ2.Blazor.Charts.Units.Point' VerticalAlignment='Syncfusion.EJ2.Blazor.Charts.Position.Top'>
                <ContentTemplate>
                    <div id='chart_cloud'><img src='images/Chart/cloud.png' style=width: 41px; height: 41px' /></div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation YAxisName="yAxis2" X="SAT" Y="34" CoordinateUnits='Syncfusion.EJ2.Blazor.Charts.Units.Point' VerticalAlignment='Syncfusion.EJ2.Blazor.Charts.Position.Top'>
                <ContentTemplate>
                    <div id='chart_cloud'><img src='images/Chart/sunny.png' style='width: 41px; height: 41px' /></div>
                </ContentTemplate>
            </ChartAnnotation>
        </ChartAnnotations>
        <ChartLegendSettings Visible="false"></ChartLegendSettings>
    </EjsChart>
</div>

@code{
    public class CategoryData
    {
        public string x{ get; set; }
        public double y { get; set; }
        public double y1 { get; set; }
    }
    public List<CategoryData> chartData = new List<CategoryData>
            {
                new CategoryData { x = "SUN", y = 35, y1 = 31 },
                new CategoryData { x = "MON", y = 40, y1 = 28 },
                new CategoryData { x = "TUE", y = 50, y1 = 29 },
                new CategoryData { x = "WED", y = 70, y1 = 30 },
                new CategoryData { x = "THU", y = 65, y1 = 33 },
                new CategoryData { x = "FRI", y = 55, y1 = 32},
                new CategoryData { x = "SAT", y = 50, y1 = 34 },                
             };
}
