@page "/chart/pie-legend"
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
  <p>This sample illustrates the donut series with smooth animation on dynamic update of data. The legend will be displayed at right side of the chart.</p>  
</SampleDescription>
<ActionDescription>
   <p> In this example, you can see how to render and configure the pie chart. You can use <code>Radius</code> and <code>InnerRadius</code> properties to render the doughnut and also use <code>Border</code>, <code>Fill</code> properties to customize the pie point. dataLabel is used to represent individual data and its value.Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
</ActionDescription>

<div class="control-section">
    <SfAccumulationChart SelectionMode="AccumulationSelectionMode.Point" Title="Mobile Browser Statistics" SelectionPattern="SelectionPattern.DiagonalForward" Theme="@Theme">
        <AccumulationChartTooltipSettings Enable="false"></AccumulationChartTooltipSettings>
        <AccumulationChartLegendSettings ToggleVisibility=false Position="LegendPosition.Right" Height="28%" Width="44%"></AccumulationChartLegendSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@DataSource" XName="xValue" YName="yValue" Name="Revenue" InnerRadius="40%">
                <AccumulationDataLabelSettings Name="${point.y}" Visible="true">
                    <AccumulationChartDataLabelFont FontWeight="600" Color="white"></AccumulationChartDataLabelFont>
                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </SfAccumulationChart>
</div>

@code{
    public class PieData
    {
        public string xValue { get; set; }
        public double yValue { get; set; }
        public string text { get; set; }
    }
    public List<PieData> DataSource = new List<PieData>
{
         new PieData { xValue =  "Net-tution and Fees", yValue = 21, text = "21%" },
         new PieData { xValue =  "Self-supporting Operations", yValue = 21, text = "21%" },
         new PieData { xValue =  "Private Gifts", yValue = 8, text = "8%" },
         new PieData { xValue =  "All Other", yValue = 8, text = "8%" },
         new PieData { xValue =  "Local Revenue", yValue = 4, text = "4%" },
         new PieData { xValue =  "State Revenue", yValue = 21, text = "21%" },
         new PieData { xValue =  "Federal Revenue", yValue = 16, text = "16%" },
    };
    string CurrentUri;
    private Syncfusion.Blazor.Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        CurrentUri = NavigationManager.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.HighContrast;
        }
        else
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap4;
        }
    }
}
