@page "/chart/pie-radius"
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
 <p>This sample compares countries by population density and total area by using the various radius in pie series.</p>   
</SampleDescription>
<ActionDescription>
 <p>In this example, you can see how to render doughnut chart with different radius. You can use <code>Radius</code> mapping property to achieve this feature. <code>DataLabel</code> is used to represent individual data and its value.Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
</ActionDescription>

<div class="control-section">
    <SfAccumulationChart EnableAnimation="true" EnableSmartLabels="true" Theme="@Theme">
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
        <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@DataSource" XName="xValue" YName="yValue" Radius="r" InnerRadius="20%">
            <AccumulationDataLabelSettings Name="xValue" Visible="true" Position="AccumulationLabelPosition.Outside"></AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </SfAccumulationChart>
</div>

@code{
    public class PieData1
    {
        public string xValue { get; set; }
        public double yValue { get; set; }
        public string r { get; set; }
    }
    public List<PieData1> DataSource = new List<PieData1>
{
        new PieData1 { xValue = "Argentina", yValue = 505370, r = "100"},
        new PieData1 { xValue = "Belgium",    yValue = 551500, r = "118.7"},
        new PieData1 { xValue = "Cuba",  yValue = 312685 , r = "124.6"},
        new PieData1 { xValue = "Dominican Republic", yValue = 350000 , r = "137.5"},
        new PieData1 { xValue = "Egypt", yValue = 301000 , r = "150.8"},
        new PieData1 { xValue = "Kazakhstan", yValue = 300000, r = "155.5"},
        new PieData1 { xValue = "Somalia",  yValue = 357022, r = "160.6"}
    };
    string CurrentUri;
    private Syncfusion.Blazor.Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        CurrentUri = NavigationManager.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.HighContrast;
        }
        else
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap4;
        }
    }
}
