@page "/Charts/PolarRangeColumn"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "PolarRangeColumn";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the consumer price data with default line series in the chart.
        Data points are enhanced with marker and tooltip
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure the line type charts. Line type charts are used to represent time-dependent data, showing trends in data at equal intervals.
        You can use <code>dashArray</code>, <code>width</code>, <code>fill</code> properties to customize the line. <code>marker</code> and <code>dataLabel</code> are used to represent individual data and its value.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <br>

    <p>
        More information on the line series can be found in this
        <a target=""_blank"" href=""http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype"">documentation section</a>.
    </p>"
    };
}
    @*End:Hidden*@
<div class="control-section">
    <EjsChart id="container"  title="Maximum and Minimum Temperature">
        <ChartPrimaryXAxis Interval="1" Coefficient="100" LabelPlacement="LabelPlacement.OnTicks" StartAngle=90 ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="20" Interval="5" LabelFormat="{value}˚C"></ChartPrimaryYAxis>
        <ChartTooltipSettings enable="true">
        </ChartTooltipSettings>
        <ChartLegendSettings Visible="false">
        </ChartLegendSettings>
        <ChartSeriesCollection>
            <ChartSeries dataSource="@dataSource" name="Germany" xName="x" width="2" low="low" high="high" type="ChartSeriesType.Radar" drawType="ChartDrawType.RangeColumn">
                <ChartBorder Color="white" Width="3"></ChartBorder>
            </ChartSeries>
        </ChartSeriesCollection>
    </EjsChart>
</div>

@code{
        public class PolarRangeColumnData
        {
            public string x;
            public double low;
            public double high;
        }
     List<PolarRangeColumnData> dataSource = new List<PolarRangeColumnData>
               {
                new PolarRangeColumnData { x= "Jan", low= 2.7, high= 7.1 }, 
                new PolarRangeColumnData { x= "Feb", low= 3.9, high= 7.7 },
                new PolarRangeColumnData { x= "Mar", low= 3.2, high= 7.5 }, 
                new PolarRangeColumnData { x= "Apr", low= 4.5, high= 9.8 },
                new PolarRangeColumnData { x= "May", low= 6.7, high= 11.4 }, 
                new PolarRangeColumnData { x= "June", low= 8.4, high= 14.4 },
                new PolarRangeColumnData { x= "July", low= 11.6, high= 17.2 }, 
                new PolarRangeColumnData { x= "Aug", low= 12.7, high= 17.9 },
                new PolarRangeColumnData { x= "Sep", low= 9.5, high= 15.1 }, 
                new PolarRangeColumnData { x= "Oct", low= 5.0, high= 10.5 },
                new PolarRangeColumnData { x= "Nov", low= 3.2, high= 7.9 }, 
                new PolarRangeColumnData { x= "Dec", low= 6.1, high= 9.1 }
            };
}