@page "/Charts/PolarRangeColumn"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "RangeColumn";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample demonstrates polar series with range column type for temperature variation.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure the range column type chart You can use <code>Border</code>, 
        <code>Fill</code> properties to customize the area. <code>DataLabel</code> are used to represent individual data and its value.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@
<div class="row">
<div class="col-lg-9 control-section">
    <EjsChart Title="Maximum and Minimum Temperature">
        <ChartPrimaryXAxis Interval="1" Coefficient="100" LabelPlacement="LabelPlacement.OnTicks" StartAngle=90 ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="20" Interval="5" LabelFormat="{value}˚C"></ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true">
        </ChartTooltipSettings>
        <ChartLegendSettings Visible="false">
        </ChartLegendSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@dataSource" Name="Germany" XName="x" Width="2" Low="low" High="high" Type="@seriesType" DrawType="ChartDrawType.RangeColumn">
                <ChartSeriesBorder Color="white" Width="3"></ChartSeriesBorder>
            </ChartSeries>
        </ChartSeriesCollection>
    </EjsChart>
</div>
    <div class="col-lg-3 property-section">
        <table id="property" style="width: 100%">
            <tr style="height:50px"><th>Properties</th></tr>
            <tr style="height: 50px">
                <td style="width: 50%">
                    <div>
                        Series Type:
                    </div>
                </td>
                <td style="width: 50%;">
                    <div>
                        <select id="SelectSeriesType" @onchange="changeSeriesType">
                            <option value="Polar">Polar</option>
                            <option value="Radar">Radar</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@code{
    ChartSeriesType seriesType = ChartSeriesType.Polar;
    public void changeSeriesType(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        this.seriesType = (ChartSeriesType)Enum.Parse(typeof(ChartSeriesType), args.Value.ToString(), true);
    }
    public class PolarRangeColumnData
    {
        public string x { get; set; }
        public double low { get; set; }
        public double high { get; set; }
    }
    public List<PolarRangeColumnData> dataSource = new List<PolarRangeColumnData>
           {
                new PolarRangeColumnData { x= "Jan", low= 2.7, high= 7.1 },
                new PolarRangeColumnData { x= "Feb", low= 3.9, high= 7.7 },
                new PolarRangeColumnData { x= "Mar", low= 3.2, high= 7.5 },
                new PolarRangeColumnData { x= "Apr", low= 4.5, high= 9.8 },
                new PolarRangeColumnData { x= "May", low= 6.7, high= 11.4 },
                new PolarRangeColumnData { x= "June", low= 8.4, high= 14.4 },
                new PolarRangeColumnData { x= "July", low= 11.6, high= 17.2 },
                new PolarRangeColumnData { x= "Aug", low= 12.7, high= 17.9 },
                new PolarRangeColumnData { x= "Sep", low= 9.5, high= 15.1 },
                new PolarRangeColumnData { x= "Oct", low= 5.0, high= 10.5 },
                new PolarRangeColumnData { x= "Nov", low= 3.2, high= 7.9 },
                new PolarRangeColumnData { x= "Dec", low= 6.1, high= 9.1 }
            };
}