@page "/Charts/PolarColumn"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Polar Column";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample illustrates trackball feature in chart. To show trackball, hover or long press the chart and you can see the point value near to the mouse point.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This sample demonstrates the trackball behavior in chart. Trackball is used to track a data point closer to the current mouse position or touch contact point.
            You can show tooltip for individual point or group of points closer to mouse position using <code>shared</code> properties in tooltip.
        </p>
        <p>
            Hover the chart area to view trackball and its tooltip. Touch and hold to enable trackball in touch enabled devices.
        </p>
        <br></br>
        <p><b>Injecting Module</b></p>
        <p>
            Chart component features are segregated into individual feature-wise modules. To use Trackball, we need to inject
            <code>Tooltip</code> module into <code>services</code>.
        </p>
        <p>
            More information on the Tooltip and Trackball can be found in this &nbsp;
            <a target=""_blank"" href=""http://ej2.syncfusion.com/react/documentation/chart/api-tooltipSettingsModel.html"">documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

    <div class="control-section ">
        <EjsChart id="container"  title="Top 10 Mobile Markets by Number of Subscriptions">
            <ChartPrimaryXAxis Interval="1" Coefficient="100" LabelPlacement="LabelPlacement.OnTicks" ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
            <ChartPrimaryYAxis LabelFormat="{value}M"></ChartPrimaryYAxis>
            <ChartTooltipSettings enable="true">
            </ChartTooltipSettings>
            <ChartLegendSettings Visible="true">
            </ChartLegendSettings>
            <ChartSeriesCollection>
                <ChartSeries dataSource="@dataSource" name="Mobile Subscriptions" xName="x" width="2" yName="y" type="ChartSeriesType.Polar" drawType="ChartDrawType.Column">
                    <ChartSeriesBorder Color="white" Width="1"></ChartSeriesBorder>                   
                    <ChartMarker>
                        <ChartDataLabel Name="text"></ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
                <ChartSeries dataSource="@dataSource" name="Population in Millions" xName="x" width="2" yName="y1" type="ChartSeriesType.Polar" drawType="ChartDrawType.Column">
                    <ChartSeriesBorder Color="white" Width="1"></ChartSeriesBorder>
                    <ChartMarker>
                        <ChartDataLabel Name="text"></ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
                <ChartSeries dataSource="@dataSource" name="3G/4G Subscriptions" xName="x" width="2" yName="y2" type="ChartSeriesType.Polar" drawType="ChartDrawType.Column">
                    <ChartSeriesBorder Color="white" Width="1"></ChartSeriesBorder>
                    <ChartMarker>
                        <ChartDataLabel Name="text"></ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>
        </EjsChart>
    </div>
@code{
        public class PolarColumnData
        {
            public string text;
            public string x;
            public double y;
            public double y1;
            public double y2;
        }
        List<PolarColumnData> dataSource = new List<PolarColumnData>
            {
                new PolarColumnData { text= "Japan", x= "JPN", y= 137.9, y1= 127.6, y2= 108.8 },
                new PolarColumnData { text= "Indonesia", x= "IDN", y= 85.0, y1= 246.9, y2= 45.5 },
                new PolarColumnData { text= "Russia", x= "RUS", y= 237.1, y1= 143.5, y2= 41.2 },
                new PolarColumnData { text= "Vietnam", x= "VNM", y= 127.7, y1= 88.8, y2= 18.0 },
                new PolarColumnData { text= "Pakistan", x= "PAK", y= 126.1, y1= 179.2 },
                new PolarColumnData { text= "Nigeria", x= "NGA", y= 175.0, y1= 168.8, y2= 12.7 },
                new PolarColumnData { text= "Germany", x= "DEU", y= 113.6, y1= 81.9, y2= 46.0 },
                new PolarColumnData { text= "Bangladesh", x= "BGS", y= 116.0, y1= 154.7, y2= 34.6 },
                new PolarColumnData { text= "Philippines", x= "PHL", y= 109.5, y1= 96.7, y2= 16.6 },
                new PolarColumnData { text= "Mexico", x= "MEX", y= 102.7, y1= 120.8, y2= 19.8 }
            };
}