@page "/Charts/PolarRangeColumn"
@using Syncfusion.EJ2.Blazor.Charts

@inherits SampleBaseComponent;
<div class="row">
<div class="col-lg-9 control-section">
    <EjsChart Title="Maximum and Minimum Temperature">
        <ChartPrimaryXAxis Interval="1" Coefficient="100" LabelPlacement="LabelPlacement.OnTicks" StartAngle=90 ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="15" Interval="5" LabelFormat="{value}"></ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true">
        </ChartTooltipSettings>
        <ChartLegendSettings Visible="false">
        </ChartLegendSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@dataSource" Name="Germany" XName="x" Width="2" Low="low" High="high" Type="@seriesType" DrawType="ChartDrawType.RangeColumn">
                <ChartSeriesBorder Color="white" Width="3"></ChartSeriesBorder>
                <ChartMarker>
                    <ChartDataLabel Visible="true" Position="LabelPosition.Top" EnableRotation="true">
                        <ChartDataLabelFont Color="#ffffff"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </EjsChart>
</div>
    <div class="col-lg-3 property-section">
        <table id="property" style="width: 100%">
            <tr style="height:50px"><th>Properties</th></tr>
            <tr style="height: 50px">
                <td style="width: 50%">
                    <div>
                        Series Type:
                    </div>
                </td>
                <td style="width: 50%;">
                    <div>
                        <select id="SelectSeriesType" @onchange="changeSeriesType">
                            <option value="Polar">Polar</option>
                            <option value="Radar">Radar</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@code{
    ChartSeriesType seriesType = ChartSeriesType.Polar;
    public void changeSeriesType(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        this.seriesType = (ChartSeriesType)Enum.Parse(typeof(ChartSeriesType), args.Value.ToString(), true);
    }
    public class PolarRangeColumnData
    {
        public string x { get; set; }
        public double low { get; set; }
        public double high { get; set; }
    }
    public List<PolarRangeColumnData> dataSource = new List<PolarRangeColumnData>
           {
                new PolarRangeColumnData { x= "Jan", low= 2, high= 7 },
                new PolarRangeColumnData { x= "Feb", low= 3, high= 7 },
                new PolarRangeColumnData { x= "Mar", low= 3, high= 7 },
                new PolarRangeColumnData { x= "Apr", low= 4, high= 9 },
                new PolarRangeColumnData { x= "May", low= 6, high= 11 },
                new PolarRangeColumnData { x= "June", low= 8, high= 14 }
            };
}