@page "/chart/pyramid"
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;
<SampleDescription>
    <p>This sample visualizes food comparison data by using pyramid series. Datalabel shows the Information about the points.</p>
</SampleDescription>
<ActionDescription>
   <p>In this example, you can see how to render and configure the pyramid chart. You can use <code>Border</code>, <code>Fill</code> properties to customize the pie point. <code>DataLabel</code> is used to represent individual data and its value.Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
</ActionDescription>

<div class="control-section">
    <SfAccumulationChart Title="Food Comparison Chart" >
    <AccumulationChartEvents Load="BeforeRender"/>
        <AccumulationChartLegendSettings Visible="false">
        </AccumulationChartLegendSettings>
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@DataSource" XName="xValue" YName="yValue" Type="AccumulationType.Pyramid" Width="45%" Height="80%"
                                                 NeckWidth="15%" GapRatio="0.03" Name="Food" Explode="true">
                <AccumulationDataLabelSettings Visible="true" Position="AccumulationLabelPosition.Inside" Name="text">

                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </SfAccumulationChart>
</div>
@code{
    public class PyramidData
    {
        public string xValue { get; set; }
        public double yValue { get; set; }
        public string text { get; set; }
    }
    public List<PyramidData> DataSource = new List<PyramidData>
    {
          new PyramidData { xValue =  "Sweet Treats", yValue = 120, text = "120 cal" },
          new PyramidData { xValue =  "Milk, Youghnut, Cheese", yValue = 435, text = "435 cal" },
          new PyramidData { xValue =  "Vegetables", yValue = 470, text = "470 cal" },
          new PyramidData { xValue =  "Meat, Poultry, Fish", yValue = 475, text = "475 cal" },
          new PyramidData { xValue =  "Fruits", yValue = 520, text = "520 cal" },
          new PyramidData { xValue =  "Bread, Rice, Pasta", yValue = 930, text = "930 cal" },
    };
    string CurrentUri;
    void BeforeRender(IAccLoadedEventArgs Args)
    {
        CurrentUri = NavigationManager.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            Args.Theme = AccumulationTheme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            Args.Theme = AccumulationTheme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            Args.Theme = AccumulationTheme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            Args.Theme = AccumulationTheme.HighContrast;
        }
        else
        {
            Args.Theme = AccumulationTheme.Bootstrap4;
        }
    }

}

