@page "/Charts/Pyramid"
@using Syncfusion.EJ2.Blazor.Charts
@inherits SampleBaseComponent;

<div class="control-section">
    <EjsAccumulationChart Title="Food Comparison Chart" >
        <AccumulationChartLegendSettings Visible="false">
        </AccumulationChartLegendSettings>
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@dataSource" XName="xValue" YName="yValue" Type="AccumulationType.Pyramid" Width="45%" Height="80%"
                                                 NeckWidth="15%" GapRatio="0.03" Name="Food" Explode="true">
                <AccumulationDataLabelSettings Visible="true" Position="AccumulationLabelPosition.Inside" Name="text">

                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </EjsAccumulationChart>
</div>
@code{
    public class PyramidData
    {
        public string xValue { get; set; }
        public double yValue { get; set; }
        public string text { get; set; }
    }
    public List<PyramidData> dataSource = new List<PyramidData>
    {
          new PyramidData { xValue =  "Sweet Treats", yValue = 120, text = "120 cal" },
          new PyramidData { xValue =  "Milk, Youghnut, Cheese", yValue = 435, text = "435 cal" },
          new PyramidData { xValue =  "Vegetables", yValue = 470, text = "470 cal" },
          new PyramidData { xValue =  "Meat, Poultry, Fish", yValue = 475, text = "475 cal" },
          new PyramidData { xValue =  "Fruits", yValue = 520, text = "520 cal" },
          new PyramidData { xValue =  "Bread, Rice, Pasta", yValue = 930, text = "930 cal" },
    };

}

