@page "/Charts/Pyramid"
@using Syncfusion.EJ2.Blazor.Charts
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Pyramid";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"This sample visualizes food comparison data by using pyramid series. Datalabel shows the Information about the points."
    };
    SampleBrowser.Description = new string[] {
        @"In this example, you can see how to render and configure the pyramid chart. You can use <code>Border</code>, <code>Fill</code> properties to customize the pie point. <code>DataLabel</code> is used to represent individual data and its value.

        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices."
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsAccumulationChart Title="Food Comparison Chart" >
        <AccumulationChartLegendSettings Visible="false">
        </AccumulationChartLegendSettings>
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@dataSource" XName="xValue" YName="yValue" Type="AccumulationType.Pyramid" Width="45%" Height="80%"
                                                 NeckWidth="15%" GapRatio="0.03" Name="Food" Explode="true">
                <AccumulationDataLabelSettings Visible="true" Position="AccumulationLabelPosition.Inside" Name="text">

                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
    </EjsAccumulationChart>
</div>
@code{
    public class PyramidData
    {
        public string xValue { get; set; }
        public double yValue { get; set; }
        public string text { get; set; }
    }
    public List<PyramidData> dataSource = new List<PyramidData>
    {
          new PyramidData { xValue =  "Sweet Treats", yValue = 120, text = "120 cal" },
          new PyramidData { xValue =  "Milk, Youghnut, Cheese", yValue = 435, text = "435 cal" },
          new PyramidData { xValue =  "Vegetables", yValue = 470, text = "470 cal" },
          new PyramidData { xValue =  "Meat, Poultry, Fish", yValue = 475, text = "475 cal" },
          new PyramidData { xValue =  "Fruits", yValue = 520, text = "520 cal" },
          new PyramidData { xValue =  "Bread, Rice, Pasta", yValue = 930, text = "930 cal" },
    };

}

