@page "/Charts/RangeColumn"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Range Column";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the maximum and minimum temperatures for a week of different countries with default range column series in the chart. Tooltip shows the information about the data points.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure the range column type chart. You can use <code>Border</code>,
        <code>Fill</code> properties to customize the columns. <code>DataLabel</code> are used to represent individual data
        and its value.
        </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsChart Title="Temperature Variation" >
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis LabelFormat="{value}˚C" EdgeLabelPlacement="EdgeLabelPlacement.Shift" Maximum="20">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@dataSource" XName="x" High="High" Low="Low" Name="India" Type="ChartSeriesType.RangeColumn">
            </ChartSeries>
            <ChartSeries DataSource="@dataSource" XName="x" High="high1" Low="low1" Name="Germany" Type="ChartSeriesType.RangeColumn">
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
    </EjsChart>
</div>

@code{

    public class RangeColumnChartData
    {
        public string x{ get; set; }
        public double Low { get; set; }
        public double High { get; set; }
        public double low1 { get; set; }
        public double high1 { get; set; }
    }

    public List<RangeColumnChartData> dataSource = new List<RangeColumnChartData>
    {
        new RangeColumnChartData { x= "Sun", Low= 3.1, High= 10.8,low1= 2.5, high1= 9.8  },
        new RangeColumnChartData { x= "Mon", Low= 5.7, High= 14.4,low1= 4.7, high1= 11.4  },
        new RangeColumnChartData { x= "Tue", Low= 8.4, High= 16.9,low1= 6.4, high1= 14.4  },
        new RangeColumnChartData { x= "Wed", Low= 10.6,High= 19.2,low1= 9.6, high1= 17.2 },
        new RangeColumnChartData { x= "Thu", Low= 8.5, High= 16.1,low1= 7.5, high1= 15.1 },
        new RangeColumnChartData { x= "Fri", Low= 6.0, High= 12.5,low1= 3.0, high1= 10.5 },
        new RangeColumnChartData { x= "Sat", Low= 1.5, High= 6.9 ,low1= 1.2, high1= 7.9  }
    };
}
