@page "/chart/remote-data"
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;
<SampleDescription>
  <p>This sample illustrates how to retrieve remote the data for chart.</p>  
</SampleDescription>
<ActionDescription>
   <p>The Chart supports data binding. The <code>DataSource</code> property can be assigned with the instance of <code>DataManager</code> to bind remote data.</p>
   <p>The DataManager, which will act as an interface between the service endpoint and the chart, will require the below minimal information to interact with service endpoint properly.</p>
    <ul> <li><code>DataManager->Url</code> - Defines the service endpoint to fetch data</li>
         <li><code>DataManager->Adaptor</code> - Defines the adaptor option. By default, <code>ODataAdaptor</code> is used for remote binding.</li>
     </ul>
</ActionDescription>

<div class="control-section">
    <SfChart Query="new Query().Take(5)">
        <SfDataManager Url="https://mvc.syncfusion.com/Services/Northwnd.svc/Tasks/"></SfDataManager>
        <ChartPrimaryXAxis Title="Assignee" ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                           RangePadding="ChartRangePadding.Additional"></ChartPrimaryXAxis>
        <ChartSeriesCollection>
            <ChartSeries XName="Assignee" YName="Estimate" Type="ChartSeriesType.Column">
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
    </SfChart>   
</div>

@code {
    string CurrentUri;
    private Syncfusion.Blazor.Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        CurrentUri = NavigationManager.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.HighContrast;
        }
        else
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap4;
        }
    }
}