@page "/chart/spline"
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample visualizes the NC weather report for the year 2016 with default spline series in the chart. Low and high temperature of the year are indicated by using annotation.</p>
</SampleDescription>
<ActionDescription>
   <p>In this example, you can see how to render and configure the spline type charts. Spline chart connects each point in series through a curved line. You can use <code>DashArray</code>, <code>Width</code>, <code>Fill</code> properties to customize the spline. <code>Marker</code> and <code>DataLabel</code> are used to represent individual data and its value.</p>
   <p>Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
</ActionDescription>

<div class="control-section">
    <SfChart Title="NC Weather Report - 2016" Theme="@Theme">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Interval="1" LabelIntersectAction="LabelIntersectAction.Rotate90">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis LabelFormat="{value}%">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@SplineData" Name="Max Temp" XName="xValue" Width="2"
                         Opacity="1" YName="yValue" Type="ChartSeriesType.Spline">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@SplineData" Name="Avg Temp" XName="xValue" Width="2"
                         Opacity="1" YName="yValue1" Type="ChartSeriesType.Spline">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@SplineData" Name="Min Temp" XName="xValue" Width="2"
                         Opacity="1" YName="yValue2" Type="ChartSeriesType.Spline">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartAnnotations>
            <ChartAnnotation X="Sun" Y="5" CoordinateUnits="Units.Point">
                <ContentTemplate><div><img src="images/chart/cloud.png" style="width: 41px; height: 41px"/></div></ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation X="Tue" Y="35" CoordinateUnits="Units.Point">
                <ContentTemplate><div><img src="images/chart/sunny.png" style="width: 41px; height: 41px" /></div></ContentTemplate>
            </ChartAnnotation>
        </ChartAnnotations>
    </SfChart>
</div>

@code{
    public string Sun = "Sun", Tue = "Tue";
    public class SplineChartData
    {
        public string xValue{ get; set; }
        public double yValue { get; set; }
        public double yValue1 { get; set; }
        public double yValue2 { get; set; }
    }

    public List<SplineChartData> SplineData = new List<SplineChartData>
    {
        new SplineChartData { xValue = "Sun", yValue = 15, yValue1 = 10, yValue2 = 2 },
        new SplineChartData { xValue = "Mon", yValue = 22, yValue1 = 18, yValue2 = 12 },
        new SplineChartData { xValue = "Tue", yValue = 32, yValue1 = 28, yValue2 = 22 },
        new SplineChartData { xValue = "Wed", yValue = 31, yValue1 = 28, yValue2 = 23 },
        new SplineChartData { xValue = "Thu", yValue = 29, yValue1 = 26, yValue2 = 19 },
        new SplineChartData { xValue = "Fri", yValue = 24, yValue1 = 20, yValue2 = 13 },
        new SplineChartData { xValue = "Sat", yValue = 18, yValue1 = 15, yValue2 = 8 },
    };
    string CurrentUri;
    private Syncfusion.Blazor.Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        CurrentUri = NavigationManager.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.HighContrast;
        }
        else
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap4;
        }
    }
}
