@page "/Charts/StackedBar100"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "100% Stacked Bar";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes percentage of sales comparison for different fruits with default 100% stacked bar series in chart. Legend in the sample shows the information about the series.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure the stacking bar type charts. Stacks the points in the series horizontally and also you can use <code>StackingGroup</code> property to group the stacking collection based on categories.
        You can use <code>Border</code>, <code>Fill</code> properties to customize the vertical bar. <code>DataLabel</code> is used to represent individual data and its value.

        </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsChart Title="Sales Comparison">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis EdgeLabelPlacement="EdgeLabelPlacement.Shift">
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@dataSource" XName="x" YName="y" Width="2" Name="Apple" Type="ChartSeriesType.StackingBar100">
            </ChartSeries>
            <ChartSeries DataSource="@dataSource" XName="x" YName="y1" Width="2" Name="Orange" Type="ChartSeriesType.StackingBar100">
            </ChartSeries>
            <ChartSeries DataSource="@dataSource" XName="x" YName="y2" Width="2" Name="Wastage" Type="ChartSeriesType.StackingBar100">
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} (${point.percentage}%)</b>"></ChartTooltipSettings>
    </EjsChart>
</div>

@code{

    public class StackedBar100ChartData
    {
        public string x { get; set; }
        public double y { get; set; }
        public double y1 { get; set; }
        public double y2 { get; set; }
    }

    public List<StackedBar100ChartData> dataSource = new List<StackedBar100ChartData>
    {
        new StackedBar100ChartData { x= "Jan", y= 6, y1=6, y2=1 },
        new StackedBar100ChartData { x= "Feb", y= 8, y1=8, y2=1.5 },
        new StackedBar100ChartData { x= "Mar", y= 12, y1=11, y2=2 },
        new StackedBar100ChartData { x= "Apr", y= 15, y1=16, y2=2.5 },
        new StackedBar100ChartData { x= "May", y= 20, y1=21, y2=3 },
        new StackedBar100ChartData { x= "Jun", y= 24, y1=25, y2=3.5 }
    };
}
