@page "/Charts/StepLine"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Step Line";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the unemployment rate from 1975 to 2010 with default stepline series in the chart. Data points are enhanced with marker and tooltip.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure the stepline type charts. This series forms the step line progress, by connecting points through vertical and horizontal lines.You can use <code>DashArray</code>, <code>Width</code>, <code>Fill</code> properties to customize the stepline. <code>Marker</code> and <code>DataLabel</code> are used to represent individual data and its value.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsChart Title="Unemployment Rates 1975-2010">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.DateTime" LabelFormat="y" IntervalType="IntervalType.Months" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis LabelFormat="{value}%" Interval="5">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@SteplineData" Name="China" XName="xValue" Width="2"
                         Opacity="1" YName="yValue" Type="ChartSeriesType.StepLine">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@SteplineData" Name="Australia" XName="xValue" Width="2"
                         Opacity="1" YName="yValue1" Type="ChartSeriesType.StepLine">
                <ChartMarker Visible="true" Width="10" Height="10">
                </ChartMarker>
            </ChartSeries>           
        </ChartSeriesCollection>
    </EjsChart>
</div>

@code{

    public class StepLineChartData
    {
        public DateTime xValue { get; set; }
        public double yValue { get; set; }
        public double yValue1 { get; set; }
    }

     public List<StepLineChartData> SteplineData = new List<StepLineChartData>
     {
         new StepLineChartData { xValue = new DateTime(1975, 01, 01), yValue = 16, yValue1 = 10 },
         new StepLineChartData { xValue = new DateTime(1980, 01, 01), yValue = 12.5, yValue1 = 7.5 },
         new StepLineChartData { xValue = new DateTime(1985, 01, 01), yValue = 19, yValue1 = 11 },
         new StepLineChartData { xValue = new DateTime(1990, 01, 01), yValue = 14.4, yValue1 = 7 },
         new StepLineChartData { xValue = new DateTime(1995, 01, 01), yValue = 11.5, yValue1 = 8 },
         new StepLineChartData { xValue = new DateTime(2000, 01, 01), yValue = 14, yValue1 = 6 },
         new StepLineChartData { xValue = new DateTime(2005, 01, 01), yValue = 10, yValue1 = 3.5 },
         new StepLineChartData { xValue = new DateTime(2010, 01, 01), yValue = 16, yValue1 = 7 },
     };                                   
}
