@page "/chart/strip-line"
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;
<SampleDescription>
      This sample highlights certain range in an axis by using stripline feature.
</SampleDescription>
<ActionDescription>
   <p> In this example, you can see how to render and configure the stripline charts. You can use stripline by enable the <code>Visible</code> property. Striplines are rendered in the specified <code>Start</code> and <code>End</code> range and you can add more than one stripline for an axis. </p>
   <p>Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
   <p>More information on the Stripline can be found in this <a target='_blank' href='https://ej2.syncfusion.com/documentation/api/chart/series/#type'>documentation section</a>.</p>
</ActionDescription>

    <div class="control-section">
        <SfChart Title="Weather Report" Theme="@Theme">
            <ChartArea>
                <ChartAreaBorder Width="0"></ChartAreaBorder>
            </ChartArea>
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartPrimaryXAxis>

            <ChartPrimaryYAxis Minimum="10" Maximum="40" Interval="5" LabelFormat="{value}°C" RangePadding="Syncfusion.Blazor.Charts.ChartRangePadding.None">
                <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                <ChartAxisLineStyle Color="#808080"></ChartAxisLineStyle>
                <ChartStriplines>
                    <ChartStripline Start="30" End="40" Text="High Temperature" Color="#ff512f" Visible="true">
                        <ChartStriplineTextStyle Size="18px" Color="#ffffff" FontWeight="600"></ChartStriplineTextStyle>
                        <ChartStriplineBorder Width="0"></ChartStriplineBorder>
                    </ChartStripline>
                    <ChartStripline Start="20" End="30" Text="Average Temperature" Color="#fc902a" Visible="true">
                        <ChartStriplineTextStyle Size="18px" Color="#ffffff" FontWeight="600"></ChartStriplineTextStyle>
                        <ChartStriplineBorder Width="0"></ChartStriplineBorder>
                    </ChartStripline>
                    <ChartStripline Start="10" End="20" Text="Low Temperature" Color="#f9d423" Visible="true">
                        <ChartStriplineTextStyle Size="18px" Color="#ffffff" FontWeight="600"></ChartStriplineTextStyle>
                        <ChartStriplineBorder Width="0"></ChartStriplineBorder>
                    </ChartStripline>
                </ChartStriplines>
            </ChartPrimaryYAxis>

            <ChartSeriesCollection>
                <ChartSeries Name="Weather" Type="ChartSeriesType.Line" DataSource="@WeatherReports" Fill="#ffffff" XName="XValue" YName="YValue" Width="2">
                    <ChartMarker Visible="true" Width="10" Height="10" Fill="#666666">
                        <ChartMarkerBorder Width="2" Color="#ffffff"></ChartMarkerBorder>
                    </ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>

            <ChartLegendSettings Visible="false"></ChartLegendSettings>

            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        </SfChart>
    </div>

@code{
    public class ChartData
    {
        public string XValue { get; set; }
        public double YValue { get; set; }
    }

    public List<ChartData> WeatherReports = new List<ChartData>
    {
        new ChartData { XValue = "Sun", YValue = 25 },
        new ChartData { XValue = "Mon", YValue = 27 },
        new ChartData { XValue = "Tue", YValue = 33 },
        new ChartData { XValue = "Wed", YValue = 36 },
        new ChartData { XValue = "Thu", YValue = 26 },
        new ChartData { XValue = "Fri", YValue = 27.5 },
        new ChartData { XValue = "Sat", YValue = 23 },
    };
    string CurrentUri;
    private Syncfusion.Blazor.Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        CurrentUri = NavigationManager.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            Theme = Syncfusion.Blazor.Theme.HighContrast;
        }
        else
        {
            Theme = Syncfusion.Blazor.Theme.Bootstrap4;
        }
    }
}