@page "/Charts/TooltipTemplate"
@using Syncfusion.EJ2.Blazor.Charts

@inherits SampleBaseComponent;

<div class="control-section">
    <EjsChart Title="USA Wheat Production" BackgroundImage="images/Chart/wheat.png">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>

        <ChartPrimaryXAxis ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category" LabelFormat="y"
                           IntervalType="IntervalType.Years" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLabelStyle Color="white"></ChartAxisLabelStyle>
            <ChartAxisLineStyle Color="#EFEFEF" Width="3"></ChartAxisLineStyle>
        </ChartPrimaryXAxis>

        <ChartPrimaryYAxis RangePadding="ChartRangePadding.None" Title="Billion Bushels">
            <ChartAxisLineStyle Width="3" Color="#EFEFEF"></ChartAxisLineStyle>
            <ChartAxisLabelStyle Color="white"></ChartAxisLabelStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMajorGridLines Color="#EFEFEF" Width="2"></ChartAxisMajorGridLines>
            <ChartAxisTitleStyle Color="white"></ChartAxisTitleStyle>
        </ChartPrimaryYAxis>

        <ChartTooltipSettings Enable="true">
            <Template>
                @{ 
                    var data = context as IChartTemplate;
                <div id='wrap'><table style='width:100%;  border: 1px solid black;' class='table-borderless'><tr><th rowspan='2' style='background-color: #C1272D'><img src='images/Chart/grain.png' /></th><td style='height: 25px; width: 50px; background-color: #C1272D; font-size: 14px; color: #E7C554; font-weight: bold; padding-left: 5px'>@data.X</td></tr><tr><td style='height: 25px; width: 50px; background-color: #C1272D; font-size: 18px; color: #FFFFFF; font-weight: bold; padding-left: 5px'>@data.Y</td></tr></table></div>
                }
            </Template>
        </ChartTooltipSettings>

        <ChartSeriesCollection>
            <ChartSeries DataSource="@ConsumerDetails" XName="XValue" Width="2" Fill="#333333"
                         YName="YValue" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Width="10" Height="10" Fill="#C1272D">
                    <ChartMarkerBorder Color="#333333" Width="2"></ChartMarkerBorder>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </EjsChart>
</div>

@code{
         public class ChartData
    {
        public double XValue { get; set; }
        public double YValue { get; set; }
    }
    public List<ChartData> ConsumerDetails = new List<ChartData>
{
        new ChartData { XValue = 2002, YValue = 1.61 },
        new ChartData { XValue = 2003, YValue = 2.34 },
        new ChartData { XValue = 2004, YValue = 2.16 },
        new ChartData { XValue = 2005, YValue = 2.10 },
        new ChartData { XValue = 2006, YValue = 1.81 },
        new ChartData { XValue = 2007, YValue = 2.05 },
        new ChartData { XValue = 2008, YValue = 2.50 },
        new ChartData { XValue = 2009, YValue = 2.22 },
        new ChartData { XValue = 2010, YValue = 2.21 },
        new ChartData { XValue = 2011, YValue = 2.00 },
        new ChartData { XValue = 2012, YValue = 1.70 },
    };
}