@namespace BlazorDemos.Shared

@inject SampleService SampleService;

<div class=@SampleUtils.AD_CONTAINER>
    <div class=@SampleUtils.AD_CONTENT>
        <div class=@SampleUtils.AD_HEADER>Transform your Blazor web apps today with Syncfusion Blazor components</div>
        <div class=@SampleUtils.AD_POINTS_DIV>
            @foreach(var ad in adpoints)
            {
                <div class=@SampleUtils.AD_POINT_DIV>
                    <div class=@SampleUtils.AD_POINT_TICK></div>
                    <div class=@SampleUtils.AD_POINT_TEXT>@ad.AdPointText</div>
                </div>
            }
        </div>
    </div>
    <a class=@SampleUtils.AD_LINK href="https://www.syncfusion.com/downloads/blazor?tag=es-seo-blazor-demos-section-trial" target="_blank" rel="noopener" aria-label="Downloads">
        <div class=@SampleUtils.AD_TRY>
            TRY IT FOR FREE
        </div>
    </a>
</div>

<style>
    .sb-ad-container {
        background: url(@(SampleService.ImagePath + "ad-bg.png"));
    }
</style>

@code {
    private List<AdPoint> adpoints;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        adpoints = new List<AdPoint>()
        {
            new AdPoint("85+ high-performance and responsive UI components"),
            new AdPoint("Dedicated support"),
            new AdPoint("Hassle-free licensing")
        };
    }
}
