@using Syncfusion.Blazor.Notifications

<SfToast @ref="ToastObj" Timeout="0" CssClass="ai-toast ai-notification" Title="Explore AI Demos" Content="@ToastContent" Width="400px" ShowCloseButton="true">
    <ToastPosition X="Right" Y="Top" />
</SfToast>


@code {

    private SfToast? ToastObj;
    private bool showToast;

    private string ToastContent = "You can now explore our <strong>Smart AI demos</strong> with limited AI token usage. Additionally, you can try out our <strong><a href=\"https://github.com/syncfusion/smart-ai-samples/tree/master/blazor\" target=\"_blank\">Syncfusion Smart AI Samples</a></strong> locally by using your own API key.";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && showToast)
        {
            await ShowToast();
        }
    }

    private async Task ShowToast()
    {
        if(this.ToastObj != null) await this.ToastObj.ShowAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

#if !STAGING && RELEASE
    	showToast = true;
#else
        showToast = false;
#endif
    }

}

<style>
    .ai-toast {
        background-color: #e0f2fe !important; 
    }

     .ai-toast .e-toast-content {
         color: #616161 !important;
    }

    .ai-toast .e-toast-title {
        color: #242424 !important;
    }
</style>