
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications

<SfToast @ref="ToastObj" Timeout=0 Title="API Key Required" Content="@ToastContent" ShowCloseButton="true" Target="#control-content" CssClass="ai-notification">
    <ToastPosition X="Right"></ToastPosition>
</SfToast>


@code {
    SfToast? ToastObj;

    private string ToastContent = "To run this sample, navigate to the Program.cs file and replace the placeholders with your AI credentials. For more information, visit <a href=\"https://github.com/syncfusion/smart-ai-samples/tree/master/blazor#configuring-ai-service-credentials\" target=\"_blank\">AI samples configuration</a>.";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ShowToast();
        }
    }

    private async Task ShowToast()
    {
        if(this.ToastObj != null) await this.ToastObj.ShowAsync();
    }
}