/* CSS for BreadCrumbComponent component */
.sb-bread-crumb {
    padding-top: 20px;
}
.sb-bread-crumb > div {
    font-size: 13px;
    font-weight: 400;
    padding-right: 8px;
    cursor: default;
    display: table-cell;
    color: #747474;
}
.sb-bread-crumb-text {
    display: table;
    line-height: 21px;
}
.sb-component-name > h1 {
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 18px;
}
.sb-bread-crumb-text > div.seperator {
    font-weight: 500;
    font-size: 13px;
    font-family: "sbicons";
    vertical-align: bottom;
}
.sb-component-name {
    color: #000000;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
}
.sb-component-name:focus-visible, .sb-sample-text:focus-visible {
    outline: none !important;
}