@using System.Globalization;

@namespace BlazorDemos.Shared

@inject NavigationManager UriHelper;
@inject SampleService SampleService;

<div class="sb-footer">
    <div class="sb-footer-left">
        <div class="sb-footer-links">
            <a href=@SampleService.DocumentLink target="_blank" rel="noopener" aria-label="Documentation">
                <div class="sb-footer-link">Documentation</div>
            </a>
            <a href="https://www.syncfusion.com/forums/blazor-components/" target="_blank" rel="noopener" aria-label="Forum">
                <div class="sb-footer-link">Forum</div>
            </a>
            <a href="https://www.syncfusion.com/blogs/" target="_blank" rel="noopener" aria-label="Blog">
                <div class="sb-footer-link">Blog</div>
            </a>
            <a href="https://www.syncfusion.com/kb" target="_blank" rel="noopener" aria-label="Knowledge Base">
                <div class="sb-footer-link">Knowledge Base</div>
            </a>
        </div>
        <div class="sb-footer-copyright">Copyright © 2001 - @currentyear Syncfusion<sup>&reg;</sup> Inc.</div>
    </div>
    <div class="sb-footer-logo">
        <a href="https://www.syncfusion.com/" target="_blank" rel="noopener" aria-label="Syncfusion Home Pages">
            <div class="sb-icons sb-footer-logo-icon" role="link" aria-label="Syncfusion Home Pages"></div>
        </a>
    </div>
</div>

@code {
    private int currentyear { get; set; }

    private string DocumentLink { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // Set copyright information.
        GregorianCalendar calendar = new GregorianCalendar();
        var year = DateTime.Now;
        this.currentyear = calendar.GetYear(year);
    }

    public void Refresh()
    {
        SampleService.UpdateFooter(UriHelper.Uri);
        StateHasChanged();
    }
} 
