/* CSS for FooterComponent component */
.sb-footer {
    height: 100px;
    width: calc(100% + 36px);
    position: relative;
    border-top: 1px solid #d5d5d5;
    margin-top: 24px;
}
.sb-footer-left {
    position: absolute;
}
.sb-footer-links a {
    color: #126fd9;
    cursor: pointer;
    text-decoration: none;
}
.sb-footer-links {
    display: table;
    padding: 20px 0px 12px;
}
.sb-footer-link {
    display: table-cell;
    padding: 0px 15px 0px 0px;
}
.bootstrap4 .sb-footer-links a:hover {
    color: #337ab7;
    cursor: pointer;
    text-decoration: underline;
}
.sb-footer-copyright {
    padding-bottom: 24px;
}
.sb-footer-logo {
    padding: 36px 36px 27px 0px;
    right: 0px;
    position: absolute;
}
.sb-footer-logo a {
    text-decoration: none;
}
.sb-footer-logo-icon {
    height: 40px;
    width: 140px;
}

.sb-icons.sb-footer-logo-icon::after {
    content: '\e911';
    color: #333;
    font-size: 30px;
    text-decoration: none;
}
.sb-footer-link:focus-visible {
    outline: 2px solid;
    outline-style: auto;
}