
@namespace BlazorDemos.Shared
@inject NavigationManager UriHelper;
@inject IJSRuntime JS


<div class="sf-property-section">
    <div class=@PropertyHeader>
        <b class=@PropertyHeaderText>Properties</b>
        <span class="e-icons e-settings" @onclick="ExpandOrCollapse"></span>
    </div>
    @if (Collapse || isDeviceMode) {
        <div class="property-panel-content">
                @ChildContent
        </div>
        <style>
            .property-panel-content {
                margin: 15px;
            }

            .sf-property-section {
                border-left: 1px solid #d7d7d7;
            }
        </style>
    }
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback<bool> CollapseChanged { get; set; }
    [Parameter] 
    public EventCallback InitialRefresh { get; set; }
    public bool isDeviceMode { get; set; }
    private string ClassName { get; set; }
    private string PropertyHeader { get; set; } = "sf-property-panel-header-collapsed";
    private string PropertyHeaderText { get; set; } = "Property-panel-title-collapsed";
    [Parameter]
    public string ControlSecClass { get; set; }
    /// <summary>
    /// Specifies whether the propery panel is in expanded state or not.
    /// </summary>
    public bool Collapse { get; set; } = false;

    public async Task ExpandOrCollapse()
    {
        if (Collapse)
        {
            PropertyHeader = PropertyHeader + "-collapsed";
            PropertyHeaderText = PropertyHeaderText + "-collapsed";
            await JS.InvokeVoidAsync("adjustLeftPanelWidth", ControlSecClass, true);
        } 
        else
        {
            PropertyHeaderText = "Property-panel-title";
            PropertyHeader = "sf-property-panel-header";
            await JS.InvokeVoidAsync("adjustLeftPanelWidth", ControlSecClass, false);
        }
        Collapse = !Collapse;
        await CollapseChanged.InvokeAsync(Collapse);
        StateHasChanged();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            isDeviceMode = await this.JS.InvokeAsync<bool>("sfBlazorSB.isDeviceMode");
            if (isDeviceMode)
            {
                PropertyHeaderText = "Property-panel-title";
                StateHasChanged();
            } else
            {
                await JS.InvokeVoidAsync("adjustLeftPanelWidth", ControlSecClass, true, true);

                await InitialRefresh.InvokeAsync();

            }
        }
    }


}
