/* CSS for PropertyPanel component */
.sf-property-panel-header-collapsed {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 21px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}
.sf-property-section {
    float: left;
    position: absolute;
    right: 0%;
    padding-bottom: 15px;
    height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
}
.sf-property-panel-header-collapsed .e-settings {
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}
.sf-property-section .e-settings::before {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 2px;
}
.sf-property-panel-header b {
    padding-left: 20px;
    margin-left: 20px;
}
.sf-property-panel-header {
    display: flex;
    width: '5.6%';
    align-items: center;
    min-height: 43.8px !important;
    font-weight: 500;
    font-size: 21px;
    border-bottom: 1px solid #d7d7d7;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.sf-property-section .e-settings {
    border-left: 1px solid #d7d7d7;
    padding: 12px 16px;
    box-sizing: border-box;
    width: '5.6%';
    min-height: 43.8px !important;
    max-height: 43.8px !important;
    position: absolute;
    right: 0;
    top: 0%;
}
.Property-panel-title,
.Property-panel-title-collapsed {
    transition: opacity 0s ease; /* smooth fade */
}
.Property-panel-title-collapsed {
    visibility: hidden;
    opacity: 0 !important;
}
.sf-property-section .e-settings:focus-visible {
    outline: 2px solid #000;
    outline-offset: -2px;
}
.material .sf-property-section,
.fabric .sf-property-section,
.bootstrap .sf-property-section,
.bootstrap4 .sf-property-section,
.bootstrap5 .sf-property-section,
.bootstrap5\.3 .sf-property-section,
.tailwind .sf-property-section,
.tailwind3 .sf-property-section,
.fluent .sf-property-section,
.fluent2 .sf-property-section {
    background: #ffffff;
}
.material3 .sf-property-section {
    background: #fffefb;
}

@media (min-width: 350px) and (max-width: 1024px) {

    .sf-property-section {
        float: left;
        padding-left: 7px;
        position: absolute;
        top: 0%;
        padding-left: 0px;
        padding-right: 0px;
        position: unset;
        width: 95%;
        border-left: unset;
        border: unset !important;
    }
    .sf-property-section .e-settings {
        display: none;
    }
    .sf-property-panel-header-collapsed {
        margin-bottom: 10px;
        padding-top: unset;
        left: 30px;
        font-size: 19px;
    }
    .sf-property-panel-header-collapsed .e-settings {
        padding: 19.5px 11.8px;
        border: unset;
    }
}

@media (min-width: 1700px) and (max-width: 7000px) {
   .sf-property-section {
        width: 30%;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .sf-property-panel-header-collapsed {
        width: 100%;
    }
}