/* CSS for RightPaneComponent component */
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .sb-icons {
    font-family: 'sbicons' !important;
}
.sb-right-pane ::deep .action-description code {
    background-color: #e6e6e6;
    color: #000;
    padding: 0.1em 0.2em;
}
.sb-right-pane code > a {
    color: #000 !important;
    text-decoration: none !important;
}
::deep .sb-content-section #navigation-btn,
.sb-toolbar-splitter {
    position: relative;
    z-index: 99;
    float: right;
}
::deep .sb-content-section #navigation-btn button:hover {
    color: #1783ff;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-item > .e-tab-text {
    text-transform: none;
}
.sb-toolbar-splitter {
    border-left: 1px solid rgb(196, 196, 196);
    height: 31px;
    padding-right: 6px;
}
.tailwind .sb-toolbar-splitter, 
.bootstrap4 .sb-toolbar-splitter, 
.fabric .sb-toolbar-splitter, 
.bootstrap .sb-toolbar-splitter {
    height: 38px;
}
.fluent.e-bigger .sb-toolbar-splitter {
    height: 48px;
}
.fluent .sb-toolbar-splitter,
.fluent2.e-bigger .sb-toolbar-splitter {
    height: 46px;
}
.material .sb-toolbar-splitter {
    height: 35px;
}
.material3 .sb-toolbar-splitter {
    height: 40px;
}
.material3.e-bigger .sb-toolbar-splitter,
.tailwind.e-bigger .sb-toolbar-splitter,
.bootstrap.e-bigger .sb-toolbar-splitter,
.material3.e-bigger .sb-toolbar-splitter,
.tailwind.e-bigger .sb-toolbar-splitter {
    height: 48px;
}
.bootstrap4.e-bigger .sb-toolbar-splitter,
.bootstrap5.e-bigger .sb-toolbar-splitter,
.bootstrap5\.3.e-bigger .sb-toolbar-splitter {
    height: 41px;
}
.e-bigger .sb-toolbar-splitter {
    height: 45px;
}
::deep .sb-custom-item .back-navigation {
    line-height: 37px;
    display: inline-flex;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active {
    position: relative;
}
::deep  .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active:hover::before {
    left: 0px;
    right: 0px;
}
::deep .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item {
    border: none;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-ripple-element {
    background: rgba(2, 120, 215, 0.1);
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text,
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon,
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover {
    color: #0172cc;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon {
    width: 25px;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon {
    color: #495057;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active,
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap::before {
    border: none;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap {
    padding: 0 12px;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap:hover {
    background: transparent;
}
::deep .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #333333;
    display: table;
    font-size: 16px;
    font-weight: 500;
}
::deep .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active::before {
    background: #0278d7;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0px;
    position: absolute;
    right: 0px;
    transition: left .267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right .267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
}
.sf-sidebar-right-pane {
    transition: margin .3s ease, visibility .3s;
}
.sf-sidebar-right-pane-collapse {
    margin-left: 320px;
}
.sf-sidebar-right-pane-expand {
    margin-left: 0px;
}
.fluent2 .sb-toolbar-splitter {
    height: 44px;
}
.material3 ::deep .sb-icon-demo::before, .material3 ::deep .sb-icon-code::before {
    left: 0px !important;
}
.tailwind3 ::deep .sb-icon-code:before,
.tailwind3 ::deep .sb-icon-demo:before,
.tailwind3-dark .sb-icon-code:before,
.tailwind3-dark .sb-icon-demo:before {
    margin-top: -2px;
}
::deep .sb-icon-code:before {
    content: "\e92d";
    font-size: 20px !important;
}
::deep .sb-icon-demo:before {
    content: "\e933";
    font-size: 20px !important;
}
.sb-content-section {
    position: relative;
}
.material3-dark .sb-icon-demo::before, .material3-dark .sb-icon-code::before {
    left: 0px !important;
}
::deep .sb-content-tab > .e-toolbar > .e-toolbar-items > .e-toolbar-item {
    padding: 0 !important;
}
.tailwind3 .sb-toolbar-splitter {
    height: 48px;
    margin: 0;
}
.tailwind3.e-bigger .sb-toolbar-splitter {
    height: 56px;
    margin: 0;
}
#sb-content ::deep #content-tab > .e-control > .e-toolbar-items > .e-indicator {
    background: none !important;
}
::deep #content-tab > .e-tab-header:first-child {
    text-align: left !important;
}
::deep .sb-content-tab.e-tab .e-tab-header {
    overflow: visible !important;
}
@media(max-width: 1024px) {
    .sf-sidebar-right-pane-collapse {
        margin-left: 0px;
    }
}
@media (max-width:550px) {
    .container-fluid {
        height: 70vh;
        overflow: auto;
    }
}