/* CSS for SampleNavigator component */
#navigation-btn ::deep .e-btn {
    background-color: transparent;
    color: #5a5a5a;
    border: transparent;
    padding: 0px 8px;
}

#navigation-btn ::deep .e-btn.e-primary,
#navigation-btn ::deep .e-btn-icon {
    width: auto;
    line-height: 35px;
    box-shadow: none;
}
.material3 #navigation-btn ::deep, .material3-dark #navigation-btn ::deep,
.fluent2 #navigation-btn ::deep, .fluent2-dark #navigation-btn ::deep,
.fluent2-highcontrast #navigation-btn ::deep {
    margin-top: 5px;
}
.fluent #navigation-btn ::deep .e-btn.e-primary,
.fluent #navigation-btn ::deep .e-btn-icon,
.bootstrap #navigation-btn ::deep .e-btn.e-primary,
.bootstrap #navigation-btn ::deep .e-btn-icon {
    line-height: 37px !important;
}
.fluent #navigation-btn ::deep .e-btn.e-primary {
    height: 45px !important;
}
.bootstrap5\.3 #navigation-btn ::deep .e-btn.e-primary {
    height: 15px !important;
}
.material #navigation-btn ::deep .e-btn.e-primary {
    margin-top: 8px;
    height: 39px !important
}
.material3 #navigation-btn ::deep .e-btn.e-primary {
    height: 12px !important;
}
.fabric #navigation-btn ::deep .e-btn.e-primary {
    line-height: 38px !important;
    height: 37px !important;
}

#navigation-btn ::deep .e-btn:disabled {
    color: #d0caca;
    cursor: not-allowed;
    pointer-events: none;
}

#navigation-btn ::deep .e-btn.e-primary:focus {
    box-shadow: none;
}

::deep #next-tooltip, 
::deep #prev-tooltip {
    float: right;
}
#navigation-btn ::deep .sb-icon-previous,
#navigation-btn ::deep .sb-icon-next {
    font-size: 25px;
}

.fabric #navigation-btn ::deep .e-btn.e-primary:focus {
    outline: none;
}

.material #navigation-btn ::deep .e-btn {
    box-shadow: none;
}

.fluent2 #navigation-btn ::deep {
    margin-top: 5px;
}
.fluent #navigation-btn ::deep
 {
    margin-top: 2px;
}

.tailwind3.e-bigger #navigation-btn ::deep {
    margin-top: 8px;
}
.material3 #navigation-btn ::deep{
    margin-top:2px;
}
.material #navigation-btn ::deep{
    margin-top:-6px;
}
.tailwind #navigation-btn ::deep {
    margin-top: 5px;
}
.tailwind3 #navigation-btn ::deep {
    margin-top: 4px;
}
.fluent.e-bigger #navigation-btn ::deep {
    margin-top: -3px;
}
.fluent2.e-bigger #navigation-btn ::deep {
    margin-top: 2px !important;
}
.bootstrap5\.3.e-bigger #navigation-btn ::deep{
    margin-top:-3px !important;
}
.tailwind.e-bigger #navigation-btn ::deep{
    margin-top: 4px !important;
}
.fabric.e-bigger #navigation-btn ::deep{
    margin-top: -1px !important;
}
.fabric #navigation-btn ::deep{
    margin-top: -3px !important;
}
.highcontrast.e-bigger #navigation-btn ::deep{
    margin-top: -4px !important;
}
.fluent2-highcontrast.e-bigger #navigation-btn ::deep{
    margin-top: 2px;
}
.tailwind3 #navigation-btn ::deep .e-btn.e-primary, .tailwind3 #navigation-btn ::deep .e-btn .e-btn-icon {
    height: 24px !important;
}
.material #navigation-btn ::deep .e-btn.e-primary,
.material #navigation-btn ::deep .e-btn-icon {
    height: 28px;
    line-height: 28px !important;
}

.fabric #navigation-btn ::deep .e-btn.e-primary,
.fabric #navigation-btn ::deep .e-btn-icon {
    height: 23px;
}

.bootstrap4 #navigation-btn ::deep .e-btn.e-primary,
.bootstrap4 #navigation-btn ::deep .e-btn-icon {
    height: 35px !important;
    line-height: 40px !important;
}

.e-bigger #navigation-btn ::deep .e-btn.e-primary,
.e-bigger #navigation-btn ::deep .e-btn-icon {
    height: 25px;
}

.fabric.e-bigger #navigation-btn ::deep .e-btn.e-primary,
.fabric.e-bigger #navigation-btn ::deep .e-btn-icon,
.tailwind.e-bigger #navigation-btn ::deep .e-btn.e-primary,
.tailwind.e-bigger #navigation-btn ::deep .e-btn-icon {
    height: 21px !important;
    line-height: 35px;
}
.material.e-bigger #navigation-btn ::deep .e-btn.e-primary,
.material.e-bigger #navigation-btn ::deep .e-btn-icon {
    height: 10px !important;
}
.material3.e-bigger #navigation-btn ::deep .e-btn.e-primary,
.material3.e-bigger #navigation-btn ::deep .e-btn-icon {
    height: 22px !important;
}

.sample-navigation ::deep button:disabled {
    cursor: not-allowed;
    color: #5a5a5a;
}
.sample-navigation {
    font-size: 25px;
    line-height: 40px;
    color: #5a5a5a;
    cursor: pointer;
}
.sample-navigation ::deep button {
    background: transparent;
    border: none;
}
::deep #next-sample,::deep #prev-sample {
    font-size: 25px;
}

.sample-navigation ::deep button:hover {
    color: #1783ff;
}
::deep .sf-tree-text .e-tooltip {
    display: inline-block;
    margin-left: 3px;
    margin-top: 3px;
}
.fabric .sf-tree-text ::deep div.e-tooltip {
    margin-top: 2px;
}
#navigation-btn ::deep button:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
}
::deep .sb-icon-next:before {
    content: "\e91b";
}
::deep .sb-icon-previous:before {
    content: "\e91f";
}