/* CSS for SourceCodeComponent component */
.sb-source-section ::deep .e-tab > .e-tab-header {
    border-top: 1px solid #d7d7d7;
}
.sb-source-section ::deep .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text {
    color: #3c78ef;
}
.sb-tab-content {
    font-size: 16px;
}
.sb-src-code {
    white-space: pre;
    padding: 10px;
    max-height: 700px;
    overflow-x: auto;
    min-height: 320px;
    border-color: transparent;
    background-color: transparent;
    width:100%;
}
#sb-source-tab ::deep .e-tab-header > .e-toolbar-items > .e-indicator.e-ignore {
    display: none;
}

::deep .copycode::before {
    content: '\e70a';
    font-size: 25px;
}
.copy-tooltip {
    line-height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 12px;
    border-radius: 2px;
}
::deep .e-icons.copycode {
    font-size: 28px !important;
    line-height: 32px !important;
    color: rgba(0, 0, 0, .54);
}
::deep #copy-code {
    border: unset;
    padding: unset;
    box-shadow: unset;
    background: #f4f4f4;
}
