@using System.Globalization;

@namespace blazor_samples.Shared

@inject SampleService SampleService;

<div class="sb-footer">
    <div class="sb-footer-left">
        <div class="sb-footer-links">
            <a href="https://blazor.syncfusion.com/documentation/" target="_blank">
                <div class="sb-footer-link">Documentation</div>
            </a>
            <a href="https://www.syncfusion.com/forums/blazor-components/" target="_blank">
                <div class="sb-footer-link">Forum</div>
            </a>
            <a href="https://www.syncfusion.com/blogs/" target="_blank">
                <div class="sb-footer-link">Blog</div>
            </a>
            <a href="https://www.syncfusion.com/kb" target="_blank">
                <div class="sb-footer-link">Knowledge Base</div>
            </a>
        </div>
        <div class="sb-footer-copyright">@copyRight</div>
    </div>
    <div class="sb-footer-logo">
        <a href="https://www.syncfusion.com/" target="_blank">
            <div class="sb-footer-logo-icon"></div>
        </a>
    </div>
</div>

<style>
    .sb-footer-logo-icon {
        background: url(@(SampleService.ImagePath + "syncfusion-logo.svg")) no-repeat right;
    }
</style>

@code {
    private string copyRight { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // Set copyright information.
        GregorianCalendar calendar = new GregorianCalendar();
        var year = DateTime.Now;
        var currentyear = calendar.GetYear(year);
        this.copyRight = "Copyright © 2001 - " + currentyear + " Syncfusion Inc.";
    }
} 