  .event-management-wrapper {
    display: flex;
    width: 100%;
  }

  /*styling for the custom toolbar*/
  .custom-toolbar {
    border: 1px solid #dee2e6;
    border-bottom: none;
  }

  /*style form show unplanned events icon*/
  .e-show-unplanned-events::before {
    content: '\e71a';
  }

  /*style for hide unplanned events icon*/
  .e-hide-unplanned-events::before {
    content: '\e82b';
  }

  /*style for calender*/
  .e-header-popup .e-calendar {
    position: absolute;
    z-index: 100;
    top: -1px;
    left: 97px;
  }

  /*setting full width for the schedule events*/
  .e-table-wrap.e-vertical-view.e-day-view.e-current-panel .e-content-wrap .e-appointment {
    width: 100% !important;
  }

  /*adjusting the height of the schedule resource cell*/
  .e-schedule .e-vertical-view .e-resource-cells {
    height: 60px !important;
  }

  /*Styling for the error message*/
    .error-message {
        color: red;
        font-size: 14px;
        font-weight: bold;
    }

    /*styling for the template*/
    .editor-template {
        display: flex;
        justify-content: space-between;
    }
    .editor-title,
    .editor-event,
    .editor-start-time,
    .editor-end-time {
        width: 49%;
    }

    .editor-end-time,
    .editor-room,
    .editor-capacity {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }

  /*styling form dropdown button icon*/
  .custom-icon::before {
    font-family: 'e-icons';
    content: '\e71c';
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
  }

  .highcontrast .custom-icon::before {
    margin-left: 0px;
  }

  .fluent2 .e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-appointment-details,
  .fluent2-highcontrast .e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-appointment-details,
  .fluent2-dark .e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-appointment-details {
    line-height: 18px !important;
  }

  .dropdown-div {
    display: flex;
    align-items: center
  }

  .dropdownButton.e-btn{
    padding: 0 !important;
  }

  /*adjusting the schedule content after adding the custom toolbar*/
  .e-schedule .e-table-wrap.e-vertical-view .e-content-wrap {
    height: 380px !important;
  }

  /*adjusting the Resource cell after adding the custom toolbar*/
  .e-time-cells-wrap {
    height: 380px !important;
  }

  /*style for resource header*/
  .e-date-header-container {
    .e-resource-cells {
      padding: 0;
      text-align: center !important;
      .resource-name {
        margin-bottom: 4px;
      }
      .capacity-wrap {
        .e-capacity-icon::before {
          content: '\e7b9';
        }
        .e-capacity-icon {
          line-height: 100%;
          margin-right: 4px;
          vertical-align: middle;
        }
        .e-capacity {
          vertical-align: bottom;
        }
      }
    }
  }

  /*style for quick info popup*/
  .e-quick-popup-wrapper {
    max-width: 400px;
    .e-event-popup {
      .e-popup-header {
        .e-popup-header.e-event-header {
          padding: 0;
          .e-header-icon-wrapper {
            display: flex;
            justify-content: flex-end;
          }
          .quick-info-header-content {
            padding: 11px 12px;
            margin: 10px 16px;
            .quick-info-title {
              height: 100%;
            }
            .duration-text {
              height: 100%;
              white-space: nowrap;
            }
          }
          .quick-info-close-icon .e-dlg-closeicon-btn {
            background-color: transparent;
            border: none;
            font-size: 12px;
            cursor: pointer;
            padding: 4px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
          }
          .quick-info-close-icon .e-dlg-closeicon-btn:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .e-popup-content {
        padding: 14px 16px;
        .quick-info-content {
          .event-content {
            height: 100%;
            padding: 0%;
            .quick-info-header {
              .quick-info-header-content {
                padding: 16px;
              }
            }
            .e-content-item {
              display: flex;
              align-items: baseline;
              label {
                flex-shrink: 0;
                margin-right: 8px;
                width: 116px !important;
              }
            }
            .e-event,
            .e-speaker,
            .e-count {
              margin-top: 14px;
            }
          }
        }
      }
      .e-popup-footer {
        display: none;
      }
    }
  }

  /*style for agenda view*/
  .e-table-wrap.e-agenda-view {
    .e-resource-column {
      .template-wrap {
         padding-top: 10px;
         padding-left: 5px;
        .capacity-wrap {
          display: none;
        }
      }
    }
    .e-agenda-item.e-agenda-view {
      .e-appointment.e-template {
        border-top-color: #D1D1D1 !important;
        border-bottom-color: #D1D1D1 !important;
        border-top: 1px solid;
        border-bottom: 1px solid;
        flex-direction: row;
        width: 100%;
        >div:first-child {
          width: 100%;
        }
      }
      .break-event-subject {
        color: white;
        font-size: 20px;
        line-height: 28px;
        padding-top: 12px;
      }
      .event-subject {
        color: #0F6CBD;
        font-size: 20px;
        line-height: 28px;
        padding-top: 12px;
      }
      .event-description {
        padding: 4px 0 12px 0;
      }
      .event-duration-audience {
        display: flex;
        padding-bottom: 16px;
        gap: 120px;
        .event-duration .e-duration,
        .event-audience .e-audience-count {
          vertical-align: bottom;
        }
        .e-duration-icon,
        .e-audience-icon {
          line-height: 14px;
          vertical-align: text-top;
        }
        .e-duration-icon::before {
          content: '\e705';
        }
        .e-audience-icon::before {
          content: '\e7b9';
        }
        
      }
      .event-speaker {
        .separator-line {
          border: 1px solid #D1D1D1;
          border-radius: 4px;
          margin-bottom: 12px;
          width: 100%;
        }
        .speaker-details {
          display: flex;
          padding-top: 12px;
          gap: 15px;
          .speaker-image {
            border: 1px solid #808080;
            background-color: #0F6CBD;
            color: #FFFFFF;
            height: 32px;
            width: 32px;
            min-height: 32px;
            min-width: 32px;
            border-radius: 50%;
            font-weight: 500;
            font-family: 'Roboto';
            letter-spacing: 0.1px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .speaker-info {
            .speaker-title {
              color: #0F6CBD;
              padding-top: 4px;
            }
            .speaker-note {
              padding: 4px 0 12px 0;
            }
          }
        }
      }
    }
  }

  .e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-location{
      padding-top: 0px !important;
  }

/*style for unplanned events container*/
.unplanned-events-container {
    border-style: solid;
    border-color: #D1D1D1;
    border-width: 1px 1px 1px 0px;
    min-width: 260px;
    width: 260px;
    height: 550px;
    .title-container {
      height: 50px;
      .title-text {
        padding: 14px 16px;
        text-align: center;
      }
    }
    #list-container {
      border-top: 1px solid #D1D1D1;
      height: auto;
      .events-list {
        height: 54px;
        margin: 12px 12px 16px 12px;
        .e-ddl.e-control-wrapper {
          margin-top: 4px;
        }
      }
      .event-management-treeview {
        height: 416px;
        margin: 0 12px 0 12px;
        border: none;
        overflow-y: auto;
        .e-list-parent {
          padding: 0;
          overflow: visible;
        }
        .e-list-item {
          height: auto;
          margin-bottom: 8px;
          padding: 0;
          .e-fullrow {
            border-radius: 6px;
            height: 96px;
            padding: 1px;
            margin: 0;
            width: 100%;
          }
        }
        .e-text-content {
          border-color: #D1D1D1 !important;
          border: 1px solid;
          border-radius: 6px;
          height: 96px;
          padding: 0;
          .e-list-text {
            border: none;
            display: inline-block;
            height: auto;
            line-height: 20px;
            padding: 12px;
            white-space: nowrap;
            width: 100%;
            .unplanned-item-subject {
              white-space: nowrap;
              padding-bottom: 4px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .unplanned-item-duration,
            .unplanned-item-capacity {
              margin-top: 4px;
            }
            .unplanned-item-duration .duration-icon,
            .unplanned-item-capacity .capacity-icon {
              font-size: 12px;
              line-height: 100%;
              padding-right: 8px;
            }
            .unplanned-item-duration .duration-icon::before {
              content: '\e74c';
            }
            .unplanned-item-capacity .capacity-icon::before {
              content: '\e7b9';
            }
          }
        }
      }
      .no-events-message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
        font-size: 14px;
      }
    }
  }

  /* style for room dropdown */
  .e-control-wrapper.e-ddl {
    border: none;
    .e-input-value {
      padding: 6px 4px 6px 12px;
    }
  }

  /* styling for adding the space before the quickinfo content */
  .event-content div span {
    padding-left: 8px;
  }

  /* style for quickinfo text */
  .quick-info-title {
    height: 100%;
    font-size: 16px;
  }

  .e-vertical-view .e-time-cells-wrap .e-time-slots span,
  .e-vertical-view .e-date-header-container .e-resource-cells .resource-name,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity,
  .e-table-wrap.e-agenda-view .e-resource-column .template-wrap .resource-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-subject,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-description,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-duration .e-duration,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-audience .e-audience-count,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .quick-info-title,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .duration-text,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item label,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item .e-content,
  .unplanned-events-container .title-container .title-text,
  .unplanned-events-container #list-container .events-list .event-label,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-subject,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-duration .duration-value,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-capacity .capacity-value {
    font-family: 'Segoe UI';
  }

  .e-schedule-toolbar-container .e-toolbar-items .e-print-export,
  .e-vertical-view .e-time-cells-wrap .e-time-slots span,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity-icon,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity,
  .e-table-wrap.e-agenda-view .e-resource-column .template-wrap .resource-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-description,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-duration .e-duration,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-audience .e-audience-count,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .e-duration-icon,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .e-audience-icon,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-note,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .duration-text,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item .e-content,
  .unplanned-events-container #list-container .events-list .event-label,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-duration .duration-value,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-capacity .capacity-value,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-duration .duration-icon,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-capacity .capacity-icon {
    font-weight: 400;
  }

  .e-vertical-view .e-date-header-container .e-resource-cells .resource-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-subject,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker label,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-title,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .quick-info-title,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item label,
  .unplanned-events-container .title-container .title-text,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-subject {
    font-weight: 600;
  }

  .e-schedule-toolbar-container .e-toolbar-items .e-print-export,
  .e-vertical-view .e-date-header-container .e-resource-cells .resource-name,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity-icon,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity,
  .e-table-wrap.e-agenda-view .e-resource-column .template-wrap .resource-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-description,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-duration .e-duration,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-audience .e-audience-count,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .e-duration-icon,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .e-audience-icon,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker label,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-title,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-note,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .duration-text,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item label,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item .e-content,
  .unplanned-events-container #list-container .events-list .event-label,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-subject,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-duration .duration-value,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-capacity .capacity-value {
    font-size: 14px;
  }

  .e-vertical-view .e-time-cells-wrap .e-time-slots span,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-image,
  .unplanned-events-container .title-container .title-text {
    font-size: 16px;
  }

  .e-schedule-toolbar-container .e-toolbar-items .e-print-export,
  .e-vertical-view .e-time-cells-wrap .e-time-slots span,
  .e-vertical-view .e-date-header-container .e-resource-cells .resource-name,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity-icon,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity,
  .e-table-wrap.e-agenda-view .e-resource-column .template-wrap .resource-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-description,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-duration .e-duration,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-audience .e-audience-,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .e-duration-icon,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .e-audience-icon,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker label,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-title,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-note,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .quick-info-title,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .duration-text,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item label,
  .unplanned-events-container .title-container .title-text,
  .unplanned-events-container #list-container .events-list .event-label,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-subject,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-duration .duration-value,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-capacity .capacity-value,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-duration .duration-icon,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-capacity .capacity-icon {
    letter-spacing: 0%;
  }

  .e-vertical-view .e-date-header-container .e-resource-cells .resource-name,
  .e-vertical-view .e-date-header-container .e-resource-cells .capacity-wrap .e-capacity,
  .e-table-wrap.e-agenda-view .e-resource-column .template-wrap .resource-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-description,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-duration .e-duration,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-duration-audience .event-audience .e-audience-count,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker label,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-image,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-name,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-title,
  .e-table-wrap.e-agenda-view .e-agenda-item.e-agenda-view .event-speaker .speaker-details .speaker-info .speaker-note,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .quick-info-title,
  .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-event-header.e-popup-header .quick-info-header-content .duration-text,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item label,
  .e-quick-popup-wrapper .e-event-popup .e-popup-content .quick-info-content .event-content .e-content-item .e-content,
  .unplanned-events-container .title-container .title-text,
  .unplanned-events-container #list-container .events-list .event-label,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-subject,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-duration .duration-value,
  .unplanned-events-container #list-container .event-management-treeview .e-text-content .e-list-text .unplanned-item-capacity .capacity-value {
    line-height: 20px;
  }

/*  preventing the visibility of the icon while drag and drop*/
  .event-management-treeview .e-icon-expandable,
  .event-management-treeview .e-sibling {
    display: none;
  }

   /* properly setting the icon based on the theme change */
  .material3 .e-header-popup .e-calendar {
      background-color: white;
  }
  .highcontrast .e-hide-unplanned-events::before,
  .highcontrast .e-show-unplanned-events::before {
     content: '\eb8b';       
  }
  .highcontrast .unplanned-item-duration .duration-icon::before {
      content: '\e316' !important;
  }
  .highcontrast .unplanned-item-capacity .capacity-icon::before,
  .highcontrast .e-capacity-icon::before{
      content: '\e425' !important;
  }
  .highcontrast .custom-icon::before {
      content: '\e615' !important;
  }
  .highcontrast .e-audience-icon::before {
      content: '\e425' !important;
  }

   /* style for preventing the cursor block for drag and drop */
  .e-prevent-select {
      cursor: default !important;
  }

/* mobile view */
@media (max-width: 550px) {
    .event-management-wrapper {
        display: block;
        height: auto;
        overflow: hidden;
        .schedule-event-management {
            margin-right: 0;
            margin-bottom: 10px;
            width: 100%;
            height: 450px;
            .e-resource-tree-popup .e-list-item {
                .e-fullrow,
                .e-text-content {
                    height: 82px;
                }
            }
            .e-schedule-toolbar-container {
                .room-filter {
                    display: none;
                }
            }
        }
        .unplanned-events-container {
            border-left: 1px solid #D1D1D1;
            width: 100%;
            height: auto;
            position: relative;
            overflow: visible;
            .event-management-treeview.e-control {
                height: 300px;
            }
        }
    }
    .e-drag-item.event-management-treeview {
        position: fixed !important;
        max-width: 80%;
        z-index: 9999;
    }
}