@page "/buttons/radio-button"

@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates the default functionalities of the RadioButton component. Select the payment mode by clicking the desired RadioButton element.
  </p>
  <p>
    The <code><a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Buttons.SfRadioButton-1.html" aria-label="RadioButton">RadioButton</a></code> is a graphical user interface element that allows you to select one option from multiple choices. It supports checked and unchecked states.
  </p>
  <p>
    In this sample, the Credit/Debit Card option is checked by default, which can be achieved using the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Buttons.SfInputBase-1.html#Syncfusion_Blazor_Buttons_SfInputBase_1_Checked" aria-label="Checked property">Checked</a> property.
  </p>
  <p>
    For more information, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/radio-button/getting-started/" aria-label="Blazor RadioButton Getting Started documentation">RadioButton documentation</a>.
  </p>
</ActionDescription>



<div class="control-section">
    <div class="radio-control">
        <h4 class="row">Select a payment method</h4>
        <div class="row">
            <SfRadioButton Label="Credit/Debit Card" Name="payment" Value="credit/debit" Checked="@SelectedPaymentMethod"></SfRadioButton>
        </div>
        <div class="row">
            <SfRadioButton Label="Net Banking" Name="payment" Value="netbanking" Checked="@SelectedPaymentMethod"></SfRadioButton>
        </div>
        <div class="row">
            <SfRadioButton Label="Cash on Delivery" Name="payment" Value="cashondelivery" Checked="@SelectedPaymentMethod"></SfRadioButton>
        </div>
        <div class="row">
            <SfRadioButton Label="Other Wallets" Name="payment" Value="others" Checked="@SelectedPaymentMethod"></SfRadioButton>
        </div>
    </div>
</div>
@code {
    private string SelectedPaymentMethod { get; set; } = "credit/debit";    
}
<style>
    .radio-control {
        margin: 5% 0 5% 40%;
    }

    @@media only screen and (max-width: 700px) {
        .radio-control {
            margin-left: 35%;
            margin-top: 8%;
        }

        .control-section {
            min-height: 200px;
        }
    }

    @@media only screen and (max-width: 500px) {
        .radio-control {
            margin-top: 20%;
            margin-left: 21%;
            margin-bottom: 27%;
        }
    }

    .control-section .row {
        margin: 20px 0;
    }

    .e-bigger .radio-control h4 {
        font-size: 20px;
    }
</style>