@page "/TreeGrid/CellEditType"

@using Syncfusion.EJ2.Blazor.TreeGrid

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_wrapdata

@{
    SampleBrowser.CurrentSampleName = "Cell Edit Type";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
           This sample demonstrates the supported cell edit types of TreeGrid columns. The list of cell edit types are as follows,
        </p>
        <ul>
           <li><code>NumericTextBox</code> component for integers, double, and decimal data types.</li>
           <li><code>DefaultEdit</code> component for string data type.</li>
           <li><code>DropDownList</code> component for list data type.</li>
           <li><code>DatePicker</code> component for date data type.</li>
           <li><code>DateTimePicker</code> component for dateTime data type.</li>
           <li><code>Checkbox</code> component for boolean data type</li>
       </ul>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
           In this sample, we show the following editTypes for the TreeGrid columns.
        </p>
        <p>
           The available modes are,
        </p>
        <ul>
            <li><code>NumericTextBox </code></li>
            <li><code>DropDownList</code></li>
            <li><code>DatePicker</code></li>
            <li><code>DefaultEdit</code></li>
            <li><code>Checkbox</code></li>
        </ul>"
    };
}
@*End:Hidden*@
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsTreeGrid DataSource="@TreeData" IdMapping="TaskId" ParentIdMapping="ParentId" TreeColumnIndex="1" AllowPaging="true" Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })">
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Row"></TreeGridEditSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="73" IsPrimaryKey="true" TextAlign="Syncfusion.EJ2.Blazor.Grids.TextAlign.Right" EditType="Syncfusion.EJ2.Blazor.Grids.EditType.NumericEdit" Edit="@TaskIDParams"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="179" EditType="Syncfusion.EJ2.Blazor.Grids.EditType.DefaultEdit"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type=Syncfusion.EJ2.Blazor.Grids.ColumnType.Date Width="109" TextAlign="Syncfusion.EJ2.Blazor.Grids.TextAlign.Right" EditType=Syncfusion.EJ2.Blazor.Grids.EditType.DatePickerEdit></TreeGridColumn>
                    <TreeGridColumn Field="Approved" HeaderText="Approved" Width="80" TextAlign="Syncfusion.EJ2.Blazor.Grids.TextAlign.Right" EditType="Syncfusion.EJ2.Blazor.Grids.EditType.BooleanEdit" DisplayAsCheckBox="true"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="85" EditType="Syncfusion.EJ2.Blazor.Grids.EditType.NumericEdit" TextAlign="Syncfusion.EJ2.Blazor.Grids.TextAlign.Right" Edit="@ProgressParams"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="95" EditType="Syncfusion.EJ2.Blazor.Grids.EditType.DropDownEdit"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>
        </div>
    </div>
</div>

@code {
    public List<WrapData> TreeData { get; set; }

    public object TaskIDParams = new
    {
        @@params = new Syncfusion.EJ2.Blazor.Inputs.EjsNumericTextBox<int> { Format = "#####" }
    };
    public object ProgressParams = new
    {
        @@params = new Syncfusion.EJ2.Blazor.Inputs.EjsNumericTextBox<int> { Format = "####" }
    };

    protected override void OnInitialized()
    {
        this.TreeData = WrapData.GetWrapData().ToList();
    }

}
