@page "/TreeGrid/ColumnFormatting"

@using Syncfusion.EJ2.Blazor.TreeGrid
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Data
@using Syncfusion.EJ2.Blazor.DropDowns
@using Syncfusion.EJ2.Blazor
@using ej2_blazor_samples
@using ej2_blazor_formatdata

@inherits SampleBaseComponent;

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsTreeGrid Height="371" DataSource="@TreeData" IdMapping="OrderID" ParentIdMapping="ParentID" TreeColumnIndex="1">                
                <TreeGridColumns>
                    <TreeGridColumn Field="OrderID" HeaderText="Order ID" Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="OrderName" HeaderText="Order Name" Width="135"></TreeGridColumn>
                    <TreeGridColumn Field="OrderDate" HeaderText=" Order Date" Format="d" Type=ColumnType.Date Width="160" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Price" HeaderText="Price" Width="110" Format="C2" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="UnitPrice" HeaderText="Unit Price" Width="90" Format="C2" TextAlign="TextAlign.Right"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>
        </div>
    </div>
</div>

@code{

    public List<TreeDataFormat> TreeData { get; set; }

    protected override void OnInitialized()
    {
        this.TreeData = TreeDataFormat.GetDataFormat();
    }
}
