@page "/TreeGrid/KeyboardInteraction"

@using Syncfusion.EJ2.Blazor.TreeGrid

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_wrapdata

@{
    SampleBrowser.CurrentSampleName = "Keyboard Interaction";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This demo showcases the keyboard shortcuts applicable on TreeGrid and also lists out in below description, how those applicable shortcuts interacts with TreeGrid actions.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            All the TreeGrid actions can be controlled via keyboard keys. The applicable key combinations and its relative functionalities are listed below.
        </p>
        <p>
           <table>
            <tr><td><b>Keys</b></td><td><b>Description</b></td></tr>
            <tr><td><code>Ctrl + Down Arrow</code></td><td>ExpandAll</td></tr>
            <tr><td><code>Ctrl + Up Arrow</code></td><td>CollapseAll</td></tr>
            <tr><td><code>F2</code></td><td>Edit</td></tr>
            <tr><td><code>ESC</code></td><td>Cancel</td></tr>
            <tr><td><code>Enter</code></td><td>Save</td></tr>
            <tr><td><code>Insert</code></td><td>Add</td></tr>
            <tr><td><code>Delete</code></td><td>Delete</td></tr>
            <tr><td><code>Ctrl + Home</code></td><td>First row selection</td></tr>
            <tr><td><code>Ctrl + End</code></td><td>Last row selection</td></tr>
            <tr><td><code>Home</code></td><td>First cell selection</td></tr>
            <tr><td><code>End</code></td><td>Last cell selection</td></tr>
            <tr><td><code>Up Arrow</code></td><td>Move row selection up</td></tr>
            <tr><td><code>Down Arrow</code></td><td>Move row selection down</td></tr>
            <tr><td><code>Up Arrow</code></td><td>Move Cell selection up</td></tr>
            <tr><td><code>Down Arrow</code></td><td>Move Cell selection down</td></tr>
            <tr><td><code>Right Arrow</code></td><td>Move Cell selection right</td></tr>
            <tr><td><code>Left Arrow</code></td><td>Move Cell selection left</td></tr>
            <tr><td><code>Shift + Down/Up</code></td><td>Multiple row Selection</td></tr>
            <tr><td ><code>Shift + Right/Left/Down/Up</code></td><td>Multiple Cell Selection</td></tr>
            <tr><td><code>Ctrl + Shift + Up Arrow</code></td><td>Collapse selected parent row</td></tr>
            <tr><td><code>Ctrl + Shift + Down Arrow</code></td><td>Expand selected parent row</td></tr>
            <tr><td><code>Ctrl + j</code></td><td>Focus TreeGrid element</td></tr>
            <tr><td><code>Tab</code></td><td>Go to next cell for editing</td></tr>
            <tr><td><code>Shift + Tab</code></td><td>Go to previous cell for editing</td></tr>
            <tr><td><code>PageDown</code></td><td>Go to Next page</td></tr>
            <tr><td><code>PageUp</code></td><td>Go to Previous page</td></tr>
            <tr><td><code>Ctrl + Alt + PageUp</code></td><td>Go to First page</td></tr>
            <tr><td><code>Ctrl + Alt + PageDown</code></td><td>Go to Last page</td></tr>
            <tr><td><code>Alt + PageUp</code></td><td>Go to Next pager</td></tr>
            <tr><td><code>Alt + PageDown</code></td><td>Go to last pager</td></tr>
        </table>
        </p>

<p> For more information check in this <code><a target='_blank' class='code' href='https://ej2.syncfusion.com/blazor/documentation/treegrid/accessibility/?no-cache=1' >Accessibility</a></code> documentation section.</p>"
    };
}
@*End:Hidden*@

<div class="col-lg-8 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsTreeGrid DataSource="@TreeData" IdMapping="TaskId" ParentIdMapping="ParentId" TreeColumnIndex="1" AllowPaging="true" Height="894">
                <TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Row"></TreeGridEditSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="60" IsPrimaryKey="true" TextAlign="Syncfusion.EJ2.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="137"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type=Syncfusion.EJ2.Blazor.Grids.ColumnType.Date Width="70" TextAlign="Syncfusion.EJ2.Blazor.Grids.TextAlign.Right" EditType=Syncfusion.EJ2.Blazor.Grids.EditType.DatePickerEdit></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="70" TextAlign="Syncfusion.EJ2.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>
        </div>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-header">Properties</div>
    <table id="property" title="Properties" style="width: 156%; height: 100%;">
        <tr style="height: 50px">
            <td style="width: 30%">
                <b>Keys</b>
            </td>
            <td style="width: 70%;padding-right: 10px">
                <b>Description</b>
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>F2</b>
            </td>
            <td style="width: 50%">
                Cell edit
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Enter</b>
            </td>
            <td style="width: 50%">
                Save request
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Delete</b>
            </td>
            <td style="width: 50%">
                Delete row
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Ctrl + Shift + UpArrow</b>
            </td>
            <td style="width: 50%">
                Collapse Child Grid
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Ctrl + Shift + DownArrow</b>
            </td>
            <td style="width: 50%">
                Expand Child Grid
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Ctrl + UpArrow</b>
            </td>
            <td style="width: 50%">
                Collapse All
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Ctrl + DownArrow</b>
            </td>
            <td style="width: 50%">
                Expand All
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Ctrl + Home</b>
            </td>
            <td style="width: 50%">
                First row selection
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Ctrl + End</b>
            </td>
            <td style="width: 50%">
                Last row selection
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Home</b>
            </td>
            <td style="width: 50%">
                First cell selection
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>End</b>
            </td>
            <td style="width: 50%">
                Last cell selection
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Up Arrow</b>
            </td>
            <td style="width: 50%">
                Move row selection up
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Down Arrow</b>
            </td>
            <td style="width: 50%">
                Move row selection down
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Right Arrow</b>
            </td>
            <td style="width: 50%">
                Move Cell selection right
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Left Arrow</b>
            </td>
            <td style="width: 50%">
                Move Cell selection left
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Shift + Down/Up</b>
            </td>
            <td style="width: 50%">
                Multiple row Selection
            </td>
        </tr>
        <tr style="height:50px;">
            <td style="width: 50%">
                <b>Ctrl + j</b>
            </td>
            <td style="width: 50%">
                Focus TreeGrid element
            </td>
        </tr>
    </table>
</div>

@code {
    public List<WrapData> TreeData { get; set; }

    protected override void OnInitialized()
    {
        this.TreeData = WrapData.GetWrapData().ToList();
    }
}
