@page "/TreeGrid/Paging"

@using Syncfusion.EJ2.Blazor.TreeGrid
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Data
@using Syncfusion.EJ2.Blazor


@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_selfdata

@{
    SampleBrowser.CurrentSampleName = "Paging";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the TreeGrid paging feature. In this sample, click the numeric items to navigate to another page. You can also change the page size using the dropdown.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"Paging allows you to display the contents of the TreeGrid in page segments. By default, paging is disabled. To enable paging,
          set <code>AllowPaging</code> property to true. <code> TreeGridPageSettings->PageSizes </code> property
          enables a dropdown in pager which allows you to change the number of records in the TreeGrid dynamically.
        <p>
            In this demo, the TreeGrid is rendered with <code>TreeGridPageSettings->PageSizes</code> set to true and 
            have an option to change the pagesize of treegrid dynamically.
        </p>
        <p>
            More information on the paging feature can be found in this  <code><a target='_blank' class='code' href='https://ej2.syncfusion.com/blazor/documentation/treegrid/paging/?no-cache=1' >Paging</a></code> documentation section.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsTreeGrid DataSource="@TreeGridData" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowPaging="true">                
                <TreeGridPageSettings PageSizes="@PageSizes"  PageCount="5" PageSize="2"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="60" IsPrimaryKey="true" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="120"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type=ColumnType.Date Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText="End Date" Format="yMd" Type=ColumnType.Date Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="80" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="80"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>
        </div>
    </div>
</div>

@code{

    public List<SelfReferenceData> TreeGridData{ get; set; }
    public List<string> PageSizes { get; set; }

    protected override void OnInitialized()
    {
        this.TreeGridData = SelfReferenceData.GetTree();
        this.PageSizes   = new List<string>() { "2", "4", "5", "10", "15", "20", "All"};

    }
}
