@page "/barcodes/code-128c"

@using Syncfusion.Blazor.BarcodeGenerator

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@

<SampleDescription>
    <p>This sample visualizes a barcode image that presents information with a combination of numerals that have an even number of digits.</p>
</SampleDescription>
<ActionDescription>
   <p>This sample shows how to create a Code 128C barcode with a given number. The <code>Type</code> property can be used to set the barcode type as <code>Code128C</code>.</p>
</ActionDescription>

<div class="control-section" style="width: 100%;height: 590px;">
    <div class="center">
        <div class="centercontrol">
            <SfBarcodeGenerator Width="200px" Height="150px" Type="@BarcodeType.Code128C" Value="01234567"></SfBarcodeGenerator>
        </div>
    </div>
    <div class="allowedText">
        <span style="font-weight: 600;"> Allowed input characters:</span> The Code 128B barcode supports all numeric digit pairs from 00 through 99.
    </div>
</div>

<style>
    .centercontrol {
        margin: auto;
        width: 50%;
        padding-left: 18%;
        height: 50%;
    }

    .allowedText {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        width: auto;
        height: auto;
    }


    .center {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        min-width: 280px;
        width: auto;
        border: 2px solid lightgray;
        min-height: 40%;
        padding-top: 35px;
    }

    @@media screen and (max-width: 570px)
    {
        .centercontrol{
            width: 60%;
            padding-left: 0px;
        }
    }
</style>

