@page "/barcodes/qr-code-with-logo"

@using Syncfusion.Blazor.BarcodeGenerator

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@

<SampleDescription>
    <p>This sample displays a machine-readable optical label that contains information about the item to which it is attached. And also visualize the logo image that will be displayed in the center of the QR code</p>
</SampleDescription>
<ActionDescription>
    <p>This example shows how to render the logo in the center of the QRCode. The <code>ImageUrl</code> can be specified as an image path, a base64-encoded image, an online image URL, or an icon of the QR code.</p>
</ActionDescription>

<div class="control-section" style="width: 100%;height: 590px;">
    <div class="center">
        <div class="centercontrol">
            <SfQRCodeGenerator Width="250px" Height="250px" Value="https://www.syncfusion.com/blazor-components/blazor-barcode">
                <QRCodeGeneratorDisplayText Visibility="false"></QRCodeGeneratorDisplayText>
                <QRCodeLogo ImageSource="@(SampleService.WebAssetsPath + "images/barcode/syncfusion.png")"></QRCodeLogo>
            </SfQRCodeGenerator>
        </div>
    </div>
</div>

<style>
    .centercontrol {
        margin: auto;
        width: 50%;
        padding-left: 18%;
        height: 50%;
    }

    .allowedText {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        width: auto;
        height: auto;
    }


    .center {
        margin-left: 14px;
        margin-right: 17px;
        margin-top: 14px;
        min-width: 280px;
        width: auto;
        border: 2px solid lightgray;
        min-height: 40%;
        padding-top: 35px;
    }

    @@media screen and (max-width: 570px)
    {
        .centercontrol{
            width: 60%;
            padding-left: 0px;
        }
    }
</style>



