@page "/Avatar/Badge"

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Badge";
    SampleBrowser.CurrentControlName = "Avatar";
    SampleBrowser.CurrentControlCategory = "Layouts";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Avatar;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the integration of avatar component into listview to create contacts applications.</p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
    <p>The avatar can be used with other components to create various applications. Here, the avatar is used to display images or their initials from the persons contact lists.</p>
    <p>Here, the xsmall avatar is used in circle type. To change the size of the avatar to xsmall and circle style, add <code>.e-avatar-xsmall</code> and <code>.e-avatar-circle</code>.</p>
    </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">

    <div class="sample_container avatar-badge">
        <div class="avatar-block">
            <!-- Card Component -->
            <div class="e-card e-avatar-showcase">
                <div class="e-card-content">
                    <div class="avatar-sub-block">
                        <!-- xSmall Avatar-->
                        <div class="e-avatar e-avatar-xsmall">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification e-badge-circle">6</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- Small Avatar-->
                        <div class="e-avatar e-avatar-small">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification e-badge-circle">12</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- Avatar-->
                        <div class="e-avatar">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification">46</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- Large Avatar-->
                        <div class="e-avatar e-avatar-large">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification">82</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- xLarge Avatar-->
                        <div class="e-avatar e-avatar-xlarge">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification">99+</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="circleAvatar avatar-block">
            <!-- Card Component -->
            <div class="e-card e-avatar-showcase">
                <div class="e-card-content">
                    <div class="avatar-sub-block">
                        <!-- xSmall Circle Avatar-->
                        <div class="e-avatar e-avatar-circle e-avatar-xsmall">
                            <img src="css/avatar/images/pic01.png" )" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification e-badge-circle">6</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- Small Circle Avatar-->
                        <div class="e-avatar e-avatar-circle e-avatar-small">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification e-badge-circle">12</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- Circle Avatar-->
                        <div class="e-avatar e-avatar-circle">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification">46</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- Large Circle Avatar-->
                        <div class="e-avatar e-avatar-circle e-avatar-large">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification">82</span>
                    </div>
                    <div class="avatar-sub-block">
                        <!-- xLarge Circle Avatar-->
                        <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                            <img src="css/avatar/images/pic01.png" alt="profile_pic">
                        </div>
                        <!-- Notification Badge -->
                        <span class="e-badge e-badge-primary e-badge-overlap e-badge-notification">99+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .control-section {
        overflow: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .sample_container.avatar-badge .avatar-sub-block {
        display: inline-block;
        position: relative;
        margin: 7px
    }

    .sample_container.avatar-badge .avatar-block {
        display: inline-block;
        vertical-align: top;
    }

    /* Media Queries for various devices */

    @@media only screen and (max-width: 965px) {
        .sample_container.avatar-badge {
            max-width: 332px;
            margin: auto;
            margin-top: 0;
        }

        .circleAvatar {
            margin-top: 15px;
        }

        .e-avatar-showcase.e-card {
            width: 320px;
        }
    }

    @@media only screen and (min-width: 965px) {
        .sample_container.avatar-badge {
            max-width: 825px;
            margin: auto;
            margin-top: 70px;
        }

        .e-avatar-showcase.e-card {
            width: 400px;
        }
    }

    .e-avatar.image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* Card Customization */

    .e-avatar-showcase.e-card {
        height: 140px;
        padding: 4px;
        margin: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
    }

        .e-avatar-showcase.e-card .e-card-header .e-card-header-title {
            align-self: center;
            font-size: 18px;
            letter-spacing: 1px;
            text-shadow: #eaeaea 1px 1px 2px;
        }

        .e-avatar-showcase.e-card .e-card-header .e-card-sub-title {
            color: rgba(0, 0, 0, 0.75);
            white-space: pre-line;
            font-size: 14px;
            text-shadow: #eaeaea 1px 1px 2px;
        }

            .e-avatar-showcase.e-card .e-card-header .e-card-sub-title p {
                margin: 0;
            }

        .e-avatar-showcase.e-card .e-card-content {
            overflow: visible;
            align-self: center;
            padding: 10px 11px 10px 0px;
            color: rgba(0, 0, 0, 0.75)
        }

    .bootstrap4 .e-avatar-showcase.e-card {
        box-shadow: none;
    }
</style>
