@page "/DropDownList/DataBinding"

@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Data Binding";
    SampleBrowser.CurrentControlName = "DropDownList";
    SampleBrowser.CurrentControlCategory = "DropDownList";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DropDownList;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the different data binding supports of the DropDownList. Click the DropDownList element and select an item from the suggestion list. At the very first time, when click on the remote data DropDownList,
            the loader icon will be shown until the remote request get the data from the server and display it.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The DropDownList loads the data either from the local data sources, or remote data services that is is through the <code>dataSource</code> property. It supports the data type of <code>array</code> or <code>DataManager</code>.
        </p>
        <p>
            The DataManager that act as an interface between service endpoint and DropDownList, will require the below minimal
            information to interact with the service endpoint properly.
        </p>
        <ul>
            <li><code>DataManager->url</code> - Defines the service endpoint to fetch data</li>
            <li>
                <code>DataManager->adaptor</code> - Defines the adaptor option. By default, <code>ODataAdaptor</code> is used for
                remote binding.
            </li>
        </ul>
        <p>
            Adaptor is responsible for processing response and request from/to the service endpoint.
            <code>syncfusion/ejs-data</code> package provides some predefined adaptors that are designed to interact with the particular
            service endpoints. They are:
        </p>
        <ul>
            <li><code>UrlAdaptor</code> - Use this to interact any remote services.</li>
            <li><code>ODataAdaptor</code> - Use this to interact with OData endpoints.</li>
            <li><code>ODataV4Adaptor</code> - Use this to interact with OData V4 endpoints.</li>
            <li><code>WebApiAdaptor</code> - Use this to interact with Web API created under OData standards.</li>
            <li><code>WebMethodAdaptor</code> - Use this to interact with web methods.</li>
        </ul>
        <p>
            In this sample, the local data is bound to a collection of sports data, and the remote data is bound to a collection of
            customer data as an instance of <code>DataManager</code>.
        </p>
        <p>
            More information on the data binding feature configuration can be found in the
            <a href=""http://ej2.syncfusion.com/aspnet/documentation/?syntax=tag"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section col-lg-12">

    <div id='local-data'>
        <div class='content'>
            <h4>Local Data</h4>
            <EjsDropDownList ID="games" Index="2" PopupHeight="220px" placeholder="Select a game" DataSource="@games">
                <DropDownListFieldSettings text="text" value="id"></DropDownListFieldSettings>
            </EjsDropDownList>
        </div>
    </div>
</div>

<style>
    #local-data {
        width: 350px;
        margin: 0 auto;
        padding-top: 15px;
    }
</style>

@code{
      public class GameFields
    {
        public string id { get; set; }

        public string text { get; set; }
    }

    List<GameFields> games = new List<GameFields>()
    {
        new GameFields(){ id= "Game1", text= "American Football" },
        new GameFields(){ id= "Game2", text= "Badminton" },
        new GameFields(){ id= "Game3", text= "Basketball" },
        new GameFields(){ id= "Game4", text= "Cricket" },
        new GameFields(){ id= "Game5", text= "Football" },
        new GameFields(){ id= "Game6", text= "Golf" },
        new GameFields(){ id= "Game7", text= "Hockey" },
        new GameFields(){ id= "Game8", text= "Rugby"},
        new GameFields(){ id= "Game9", text= "Snooker" },
        new GameFields(){ id= "Game10", text= "Tennis"},
    };
}
