@page "/DropDownList/DefaultFunctionalities"

@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "DropDownList";
    SampleBrowser.CurrentControlCategory = "DropDownList";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DropDownList;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the default functionalities of the DropDownList in ASP.NET CORE application. Click the DropDownList element and select an item from the <code>options</code> list.
            The selected item's <code>value</code> and <code>text</code> property values will be shown the in property panel.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The <code>DropDownList</code> component contains a list of predefined values from that the user can choose a single
            value.
        </p>
        <p>
            The default sample illustrates the use of DropDownList that allows the end-users to select an item from the <code>options</code> list. The selected item's <code>value</code> and <code>text</code> property values will be displayed in the property
            panel.
        </p>
        <p>
            More information on the DropDownList instantiation can be found in the
            <a href=""https://ej2.syncfusion.com/aspnetcore/documentation/drop-down-list/getting-started/"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsDropDownList ID="games" Index="2" PopupHeight="220px" placeholder="Select a game" DataSource="@games" CssClass="e-textbox right">
            <DropDownListFieldSettings text="text" value="id"></DropDownListFieldSettings>
        </EjsDropDownList>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 70px;
    }
</style>

@code{
     public class GameFields
    {
        public string id { get; set; }

        public string text { get; set; }
    }

    List<GameFields> games = new List<GameFields>()
    {
        new GameFields(){ id= "Game1", text= "American Football" },
        new GameFields(){ id= "Game2", text= "Badminton" },
        new GameFields(){ id= "Game3", text= "Basketball" },
        new GameFields(){ id= "Game4", text= "Cricket" },
        new GameFields(){ id= "Game5", text= "Football" },
        new GameFields(){ id= "Game6", text= "Golf" },
        new GameFields(){ id= "Game7", text= "Hockey" },
        new GameFields(){ id= "Game8", text= "Rugby"},
        new GameFields(){ id= "Game9", text= "Snooker" },
        new GameFields(){ id= "Game10", text= "Tennis"},
    };
}
