@page "/DropDownList/Filtering"

@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Filtering";
    SampleBrowser.CurrentControlName = "DropDownList";
    SampleBrowser.CurrentControlCategory = "DropDownList";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DropDownList;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample demonstrates the filtering functionalities of the DropDownList. Click the DropDownList element and then type a character in the search box. It will display the
            filtered list items based on the typed characters.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The DropDownList has built-in support to filter the data source, when <code>allowFiltering</code> is enabled. It performs
            when characters are typed in the search box. In the <code>filtering</code> event, you can filter down the data source and
            return the resulted data to DropDownList via <code>updateData</code> method to display its list items.
        </p>
        <p>This sample illustrates that, query the data source and pass the resulted data to DropDownList through the <code>updateData</code> method in <code>filtering</code> event.</p>
        <p>
            More information on the filtering feature configuration can be found in the
            <a href=""http://ej2.syncfusion.com/aspnet/documentation/?syntax=tag"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsDropDownList ID="country" PlaceHolder="Select a country" FilterBarPlaceholder="Search" AllowFiltering="true" DataSource="@country">
            <DropDownListFieldSettings text="Name" value="Code"></DropDownListFieldSettings>
        </EjsDropDownList>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 70px;
    }
</style>

@code{
     public class countries
    {
        public string Name { get; set; }

        public string Code { get; set; }
    }

    List<countries> country = new List<countries>
    {
        new countries() { Name = "Australia", Code = "AU" },
        new countries() { Name = "Bermuda", Code = "BM" },
        new countries() { Name = "Canada", Code = "CA" },
        new countries() { Name = "Cameroon", Code = "CM" },
        new countries() { Name = "Denmark", Code = "DK" },
        new countries() { Name = "France", Code = "FR" },
        new countries() { Name = "Finland", Code = "FI" },
        new countries() { Name = "Germany", Code = "DE" },
        new countries() { Name = "Greenland", Code = "GL" },
        new countries() { Name = "Hong Kong", Code = "HK" },
        new countries() { Name = "India", Code = "IN" },
        new countries() { Name = "Italy", Code = "IT" },
        new countries() { Name = "Japan", Code = "JP" },
        new countries() { Name = "Mexico", Code = "MX" },
        new countries() { Name = "Norway", Code = "NO" },
        new countries() { Name = "Poland", Code = "PL" },
        new countries() { Name = "Switzerland", Code = "CH" },
        new countries() { Name = "United Kingdom", Code = "GB" },
        new countries() { Name = "United States", Code = "US" },
    };
}
