@page "/DropDown-Tree/selection"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates checkbox and multi-selection functionalities of DropDownTree with box and delimiter visual modes.</p>

<p>Selection features:</p>
<ul>
  <li>Click checkbox on parent item to check/uncheck item and children</li>
  <li>Parent item state determined by child item state</li>
  <li>Press <code>CTRL</code> key and select desired nodes for multi-selection</li>
  <li>Press <code>SHIFT</code> key and select another node to select range</li>
</ul>

<p>Checkbox implementation:</p>
<ul>
  <li>Enable checkbox via <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.SfDropDownTree-2.html#Syncfusion_Blazor_Navigations_SfDropDownTree_2_ShowCheckBox" aria-label="Navigate to ShowCheckBox property">ShowCheckBox</a> property</li>
  <li>Display checkbox on left side of each tree item</li>
  <li>Allow checking multiple items</li>
</ul>

<p>Multi-selection:</p>
<ul>
  <li>Enable via <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.SfDropDownTree-2.html#Syncfusion_Blazor_Navigations_SfDropDownTree_2_AllowMultiSelection" aria-label="Navigate to AllowMultiSelection property">AllowMultiSelection</a> property</li>
  <li>Select multiple items from tree structure</li>
</ul>
</ActionDescription>


<div class="col-lg-12">
    <div class="col-lg-8 control-section sb-property-border">
            <div class="col-lg-6">
                <div class="control-wrapper">
                    <label for="checkbox" class="selection-label" aria-label="Select country using box mode">Box Mode</label>
                    <SfDropDownTree TItem="ListData" TValue="string" ID="checkbox" Placeholder="Select a country" PopupHeight="200px" ShowCheckBox="true" AutoUpdateCheckState="AutoUpdateCheckState" Mode="DdtVisualMode.Box" Value="@(new List<string>(){"3"})">
                        <DropDownTreeField TItem="ListData" DataSource="@ListDataSource" ID="Id" ParentID="Pid" Text="Name" HasChildren="HasChild" Expanded="Expanded"></DropDownTreeField>
                    </SfDropDownTree>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="control-wrapper">
                    <label for="multiselection" class="selection-label" aria-label="Select category using delimeter mode">Delimiter Mode</label>
                    <SfDropDownTree TItem="FoodItem" TValue="string" ID="multiselection" Placeholder="Select an item" PopupHeight="200px" AllowMultiSelection="true" Mode="DdtVisualMode.Delimiter" ValueChanging="OnValueChanging" ExpandOn="ExpandAction.Click">
                        <DropDownTreeField TItem="FoodItem" DataSource="@FoodItems" ID="Id" ParentID="ParentId" Text="Name" HasChildren="HasChild" Expanded="Expanded"></DropDownTreeField>
                    </SfDropDownTree>
                </div>
            </div>
    </div>
    <div class="col-lg-4">
        <div class="property-panel-section">
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <SfCheckBox Label="Auto Update Check State" @bind-Checked="@AutoUpdateCheckState"></SfCheckBox>
            </div>
        </div>
    </div>
</div>

@code {
    private bool AutoUpdateCheckState = true;
    private List<FoodItem> FoodItems = new List<FoodItem>
    {
        new FoodItem { Id = "1", Name = "Menu", HasChild = true, Expanded=true },
        new FoodItem { Id = "2", Name = "Appetizers", ParentId = "1", HasChild = true  },
        new FoodItem { Id = "3", Name = "Main Courses", ParentId = "1", HasChild = true },
        new FoodItem { Id = "4", Name = "Desserts", ParentId = "1", HasChild = true },
        new FoodItem { Id = "5", Name = "Salads", ParentId = "2", HasChild = true, Expanded=true },
        new FoodItem { Id = "6", Name = "Starters", ParentId = "2",  HasChild = true },
        new FoodItem { Id = "7", Name = "Pasta", ParentId = "3",  HasChild = true },
        new FoodItem { Id = "8", Name = "Seafood", ParentId = "3", HasChild = true },
        new FoodItem { Id = "9", Name = "Caesar Salad", ParentId = "5" },
        new FoodItem { Id = "10", Name = "Greek Salad", ParentId = "5" },
        new FoodItem { Id = "11", Name = "Chicken Wings", ParentId = "6" },
        new FoodItem { Id = "12", Name = "Mozzarella Sticks", ParentId = "6" },
        new FoodItem { Id = "13", Name = "Spaghetti", ParentId = "7" },
        new FoodItem { Id = "14", Name = "Salmon", ParentId = "8" },
        new FoodItem { Id = "15", Name = "Tiramisu", ParentId = "4" },
        new FoodItem { Id = "16", Name = "Chocolate Cake", ParentId = "4" },
        new FoodItem { Id = "17", Name = "House Specials", ParentId = "3", HasChild = true },
        new FoodItem { Id = "18", Name = "Burgers", ParentId = "3" },
        new FoodItem { Id = "19", Name = "Sushi", ParentId = "17", HasChild = true },
        new FoodItem { Id = "20", Name = "Pizza", ParentId = "17", HasChild = true },
        new FoodItem { Id = "21", Name = "California Roll", ParentId = "19" },
        new FoodItem { Id = "22", Name = "Dragon Roll", ParentId = "19" },
        new FoodItem { Id = "23", Name = "Pepperoni Pizza", ParentId = "20" },
        new FoodItem { Id = "24", Name = "Vegetarian Pizza", ParentId = "20" },
        new FoodItem { Id = "25", Name = "Hawaiian Pizza", ParentId = "20" },
    };

    private List<ListData> ListDataSource = new List<ListData>
    {
        new ListData { Id = "1", Name = "Australia", HasChild = true, Expanded = true },
        new ListData { Id = "2", Pid = "1", Name = "New South Wales" },
        new ListData { Id = "3", Pid = "1", Name = "Victoria" },
        new ListData { Id = "4", Pid = "1", Name = "South Australia" },
        new ListData { Id = "6", Pid = "1", Name = "Western Australia" },
        new ListData { Id = "7", Name = "Brazil", HasChild = true },
        new ListData { Id = "8", Pid = "7", Name = "Parana" },
        new ListData { Id = "9", Pid = "7", Name = "Ceara" },
        new ListData { Id = "10", Pid = "7", Name = "Acre" },
        new ListData { Id = "11", Name = "China", HasChild = true },
        new ListData { Id = "12", Pid = "11", Name = "Guangzhou" },
        new ListData { Id = "13", Pid = "11", Name = "Shanghai" },
        new ListData { Id = "14", Pid = "11", Name = "Beijing" },
        new ListData { Id = "15", Pid = "11", Name = "Shantou" },
        new ListData { Id = "16", Name = "France", HasChild = true },
        new ListData { Id = "17", Pid = "16", Name = "Pays de la Loire" },
        new ListData { Id = "18", Pid = "16", Name = "Aquitaine" },
        new ListData { Id = "19", Pid = "16", Name = "Brittany" },
        new ListData { Id = "20", Pid = "16", Name = "Lorraine" },
        new ListData { Id = "21", Name = "India", HasChild = true },
        new ListData { Id = "22", Pid = "21", Name = "Assam" },
        new ListData { Id = "23", Pid = "21", Name = "Bihar" },
        new ListData { Id = "24", Pid = "21", Name = "Tamil Nadu" }
    };

    public void OnValueChanging(DdtChangeEventArgs<string> args)
    {
        if (args?.NodeData?.HasChildren == true)
        {
            args.Cancel = true;
        }
    }

    public class ListData
    {
        public string? Id { get; set; }
        public string? Pid { get; set; }
        public string? Name { get; set; }
        public bool HasChild { get; set; }
        public bool Expanded { get; set; }
    }

    public class FoodItem
    {
        public string? Id { get; set; }
        public string? ParentId { get; set; }
        public string? Name { get; set; }
        public bool HasChild { get; set; }
        public bool Expanded { get; set; }
    }
}

<style>
    .control-section {
        min-height: 370px;
    }

    .selection-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .control-wrapper {
        max-width: 320px;
        margin: 0 auto;
        padding: 20px 0px 0px;
    }

    @@media (max-width: 900px) {
        .control-wrapper {
            max-width: 90%;
        }

        .checkbox{
            display: flex;
            justify-content: center;
        }
    }

    .property-panel-content {
        padding: 0px 0px 15px 0px;
    }

    .property-panel-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>
