@page "/appbar/default-functionalities"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the default functionalities of the <strong>Blazor AppBar</strong>.</p>
</SampleDescription>
<ActionDescription>
    <p>The <strong>Blazor AppBar</strong> is a navigation component that displays information and actions related to the current view horizontally. </p> <br>
    <p>In this demo, the available types of Blazor AppBar are showcased. They are <code>regular</code>, <code>prominent</code>, and <code>dense</code>, and can be set using the <strong>Mode</strong> property. </p>
    <p><code>Regular</code> - The AppBar is displayed with the default height.</p>
    <p><code>Prominent</code> - Prominent top app bars are longer than regular, and can be used for larger titles, images, or texts.</p>
    <p><code>Dense</code> - The AppBar's layout is denser to accommodate all the AppBar content.</p>
    <p>In this demo, <strong>SfButton</strong> component's styles are inherited from the <strong>SfAppBar</strong> component using the <code>e-inherit</code> CSS class. </p>
</ActionDescription>

<div class="col-lg-12 appbar-control-section">
    <div class="default-appbar-container">
        <div class="row">
            <div class="col-md-12">
                <h5>Simple AppBar</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <SfAppBar ColorMode="AppBarColor.Primary">
                   <SfButton aria-label="menu" CssClass="e-inherit menu" IconCss="e-icons e-menu"></SfButton>
                   <span class="regular">Blazor AppBar</span>
                   <AppBarSpacer></AppBarSpacer>
                   <SfButton CssClass="e-inherit login" Content="FREE TRIAL"></SfButton>
                </SfAppBar>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h5>Prominent</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <SfAppBar Mode="AppBarMode.Prominent" CssClass="prominent-appbar" ColorMode="AppBarColor.Primary">
                    <SfButton aria-label="menu" CssClass="e-inherit menu" IconCss="e-icons e-menu"></SfButton>
                    <span class="prominent">Blazor AppBar Component with Prominent mode</span>
                    <AppBarSpacer></AppBarSpacer>
                    <SfButton CssClass="e-inherit login" Content="FREE TRIAL"></SfButton>
                </SfAppBar>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h5>Dense</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <SfAppBar Mode="AppBarMode.Dense" ColorMode="AppBarColor.Primary">
                    <SfButton aria-label="menu" CssClass="e-inherit menu" IconCss="e-icons e-menu"></SfButton>
                    <span class="dense">Blazor AppBar</span>
                    <AppBarSpacer></AppBarSpacer>
                    <SfButton CssClass="e-inherit login" Content="FREE TRIAL"></SfButton>
                </SfAppBar>
            </div>
        </div>
        <br />
    </div>
</div>


<style>
    .appbar-control-section .regular,
    .appbar-control-section .prominent,
    .appbar-control-section .dense {
        margin: 0 5px;
    }
    .appbar-control-section .prominent {
        align-self: center;
        white-space: break-spaces;
        text-align: inherit;
        font-size: 35px;
        line-height: 50px;
    }
    .appbar-control-section .e-appbar.prominent-appbar {
        background-image: url("@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/appbar/prominent.png")");
        background-size: 100% 400px;
        color: #ffffff;
        background-repeat: no-repeat;
        height: 400px;
    }
    .appbar-control-section .prominent-appbar .e-inherit.e-btn {
        background: transparent;
    }
    .appbar-control-section .prominent-appbar .e-inherit.e-btn:hover,
    .appbar-control-section .prominent-appbar .e-inherit.e-btn:focus,
    .appbar-control-section .prominent-appbar .e-inherit.e-btn:active,
    .appbar-control-section .prominent-appbar .e-inherit.e-btn.e-active,
    .appbar-control-section .prominent-appbar .e-inherit.e-css.e-btn:hover,
    .appbar-control-section .prominent-appbar .e-inherit.e-css.e-btn:focus
    .appbar-control-section .prominent-appbar .e-inherit.e-css.e-btn:active
    .appbar-control-section .prominent-appbar .e-inherit.e-css.e-btn.e-active {
        background: rgba(255, 255, 255, .08);
    }
    @@media only screen and (max-width: 480px) {
        .appbar-control-section .prominent {
            font-size: 20px;
            line-height: 28px;
        }
        .appbar-control-section .e-appbar.prominent-appbar {
            background-size: 100% 250px;
            height: 250px;
         }
        .e-bigger .appbar-control-section .e-inherit.e-btn.login,
        .e-bigger.tailwind-dark .appbar-control-section .e-inherit.e-btn.e-icon-btn.menu,
        .e-bigger.tailwind .appbar-control-section .e-inherit.e-btn.e-icon-btn.menu,
        .e-bigger.fluent2-dark .appbar-control-section .e-inherit.e-btn.e-icon-btn.menu,
        .e-bigger.fluent2-highcontrast .appbar-control-section .e-inherit.e-btn.e-icon-btn.menu,
        .e-bigger.fluent2 .appbar-control-section .e-inherit.e-btn.e-icon-btn.menu {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
</style>