@page "/gantt-chart/column-resizing"
@using Syncfusion.Blazor.Gantt
@using ej2_blazor_defaultdata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the Gantt Chart column resizing feature. Click and drag at the right corner of each column header to resize the column.</p>
</SampleDescription>
<ActionDescription>
    <p>The Gantt Chart columns can be resized by clicking and dragging at the right corner of the column’s header. Set the <a aria-label="Navigate to the AllowResizing property reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AllowResizing'>AllowResizing</a> property to true to enable column resizing behavior in Gantt Chart. You can also prevent the resize of a particular column by setting <a aria-label="Navigate to the Allow Resizing property reference for gantt column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttColumn.html#Syncfusion_Blazor_Gantt_GanttColumn_AllowResizing'>GanttColumn.AllowResizing</a> to false in columns definition.</p>
    <p>More information on the Column Resizing can be found in this <a aria-label="Navigate to the document for column resizing in gantt chart component" target='_blank' href='https://blazor.syncfusion.com/documentation/gantt-chart/column-resizing'>documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" AllowResizing="true" TreeColumnIndex="1" HighlightWeekends="true"
                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate"
                                 Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor">
                </GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Predecessor" HeaderText="Dependency" MinWidth="200"></GanttColumn>
                </GanttColumns>
                <GanttLabelSettings LeftLabel="TaskName" TValue="DefaultData.TaskData"></GanttLabelSettings>
                <GanttSplitterSettings Position="55%"></GanttSplitterSettings>
            </SfGantt>
        </div>
    </div>
</div>

@code{ 
    private DateTime ProjectStart = new DateTime(2021, 3, 24);
    private DateTime ProjectEnd = new DateTime(2021, 7, 6);
    private List<DefaultData.TaskData> TaskCollection { get; set; }
    

    protected override void OnInitialized()
    {
        
        this.TaskCollection = DefaultData.ProjectNewData();
    } 
}
