@page "/gantt-chart/context-menu"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.TreeGrid 
@using BlazorDemos
@using ej2_blazor_ganttdata

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the usage of context menu in Gantt component. Context menu allows you to perform quick actions by right clicking anywhere on the Gantt.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this demo, default context menu items are rendered using <a aria-label="Navigate to the Enable Context Menu property reference in gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_EnableContextMenu'>EnableContextMenu</a>.
    </p>
    <p>Following items are shown while right click on grid header:</p>
    <ul>
        <li><code>AutoFitAll</code> - Auto fit all columns.</li>
        <li><code>AutoFit</code> - Auto fit the current column.</li>
        <li><code>SortAscending </code> - Sort the current column in ascending order.</li>
        <li><code>SortDescending </code> - Sort the current column in descending order.</li>
    </ul>
    <p>Following items are shown while right click on both grid and chart content of Gantt:</p>
    <ul>
        <li><code>TaskInformation</code> - Edit the current record.</li>
        <li><code>DeleteTask</code> - Delete the current record.</li>
        <li><code>Save</code> - Save the edited record. It is shown when a cell is in edit mode.</li>
        <li><code>Cancel</code> - Cancel the edited state. It is shown when a cell is in edit mode.</li>
        <li><code>DeleteDependency </code> - Delete the dependency of the current record.</li>
        <li><code>Convert </code> -Convert the normal task into a milestone task and vice versa.</li>
        <li>
            <code>Add</code>
            <ul>
                <li><code>Above</code> - Add a new row above the selected row </li>
                <li><code>Below</code> - Add a new row below the selected row</li>
                <li><code>Child</code> - Add a new row as a child to the selected row</li>
                <li><code>Milestone</code> - Add a milestone task below to the selected row</li>
            </ul>
        </li>
    </ul>
    <p>
        You can configure the default and custom menu items in the context menu using the <a aria-label="Navigate to the ContextMenuItems property reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_ContextMenuItems'>ContextMenuItems</a> property. More information about CRUD operations and managing tasks can be found in this <a aria-label="Navigate to the documentation for context menu in gantt chart component" target='_blank' href='https://blazor.syncfusion.com/documentation/gantt-chart/context-menu'>documentation section</a>.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt EnableContextMenu="true" DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true"
                     Toolbar="@(new List<string>(){ "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll"})" AllowSorting="true" AllowResizing="true"
                     AllowSelection="true" GridLines="GridLine.Both" TreeColumnIndex="1"
                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 Dependency="Predecessor" ParentID="ParentId" Notes="Notes"></GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Predecessor" HeaderText="Dependency" MinWidth="200"></GanttColumn>
                    <GanttColumn Field="Notes" Width="100"></GanttColumn>
                </GanttColumns>

                <GanttEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" AllowTaskbarEditing="true"
                                   ShowDeleteConfirmDialog="true"></GanttEditSettings>

                <GanttLabelSettings LeftLabel="TaskName" TValue="GanttData.TaskData">
                </GanttLabelSettings>
                <GanttSplitterSettings Position="40%"> </GanttSplitterSettings>
                <GanttEvents TValue="GanttData.TaskData" RowCreating="RowCreating"></GanttEvents>
            </SfGantt>
        </div>
    </div>
</div>
<style>
html, body {
    height:100%;
}
</style>

@code{

    private DateTime ProjectStart = new DateTime(2021, 3, 25);
    private DateTime ProjectEnd = new DateTime(2021, 7, 28);
    private List<GanttData.TaskData> TaskCollection { get; set; }

    protected override void OnInitialized()
    {

        this.TaskCollection = GanttData.EditingData();

    }
    private void RowCreating(GanttRowCreatingEventArgs<GanttData.TaskData> args)
    {
        args.Data.TaskName = "New Task " + args.Data.TaskId;
    }
}