@page "/gantt-chart/exporting"

@using Syncfusion.Blazor.Gantt
@using BlazorDemos
@using ej2_blazor_ganttdata

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the client-side exporting of Gantt, which allows you to export Gantt data to Excel and CSV formats. Using the Gantt toolbar buttons, you can export Gantt data to the desired format.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, toolbar actions are defined in <a aria-label="Navigate to the OnToolbarClick event reference in gantt event" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttEvents-1.html#Syncfusion_Blazor_Gantt_GanttEvents_1_OnToolbarClick'>OnToolbarClick</a> event to export the Gantt data using the <a aria-label="Navigate to the ExportToExcelAsync method reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_ExportToExcelAsync'>ExcelExport</a> and <a aria-label="Navigate to the ExportToCsvAsync method reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_ExportToCsvAsync'>CsvExport</a> methods.</p>
    <p>
        More information about exporting in Gantt can be found in this <a aria-label="Navigate to the documentation for excel export in gantt chart component" target='_blank' href='https://blazor.syncfusion.com/documentation/gantt-chart/excel-export'>documentation section</a>.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt @ref="GanttObject" ID="GanttExport" DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true"
                     Toolbar="@(new List<string>(){ "ExcelExport", "CsvExport"})" AllowExcelExport="true"
                     AllowSelection="true" GridLines="GridLine.Both" TreeColumnIndex="1"
                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Progress="Progress"
                                 Dependency="Predecessor" ParentID="ParentId"></GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Task Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
                    <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
                </GanttColumns>
                <GanttLabelSettings LeftLabel="TaskName" TValue="GanttData.TaskData">

                </GanttLabelSettings>
                <GanttSplitterSettings Position="28%"> </GanttSplitterSettings>
                <GanttEvents OnToolbarClick="ToolbarClickHandler" TValue=GanttData.TaskData></GanttEvents>
                <GanttTimelineSettings>
                    <GanttTopTierSettings Unit="TimelineViewMode.Week" Format="MMM dd, y"></GanttTopTierSettings>
                    <GanttBottomTierSettings Unit="TimelineViewMode.Day"></GanttBottomTierSettings>
                </GanttTimelineSettings>
            </SfGantt>
        </div>
    </div>
</div>

@code{
    private DateTime ProjectStart = new DateTime(2021, 3, 25);
    private DateTime ProjectEnd = new DateTime(2021, 7, 28);
    private List<GanttData.TaskData> TaskCollection { get; set; }


    private SfGantt<GanttData.TaskData> GanttObject;
    protected override void OnInitialized()
    {

        this.TaskCollection = GanttData.EditingData();

    }
    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "GanttExport_excelexport")
        {
            this.GanttObject.ExportToExcelAsync();
        }
        else if (args.Item.Id == "GanttExport_csvexport")
        {
            this.GanttObject.ExportToCsvAsync();
        }
    }
}