@page "/gantt-chart/filtering"

@using Syncfusion.Blazor.Gantt
@using ej2_blazor_filterdata

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>The filtering feature enables the user to view reduced amount of records based on filter criteria. It can be enabled by setting <a aria-label="Navigate to the AllowFiltering property reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AllowFiltering'>AllowFiltering</a> to true</p>
</SampleDescription>
<ActionDescription>
    <p>
        Gantt Chart also provides support for a set of filtering modes with <a aria-label="Navigate to the HierarchyMode property reference for gantt filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttFilterSettings.html#Syncfusion_Blazor_Gantt_GanttFilterSettings_HierarchyMode'>HierarchyMode</a> property. Following are the types of filter mode available in Gantt Chart.
    </p>
    <ul>
        <li><code> Parent </code> - This is the default filter hierarchy mode in Gantt Chart. The filtered records are displayed along with its parent records. If the filtered records do not have any parent record then the filtered records alone will be displayed.</li>
        <li><code> Child </code> - The filtered records are displayed along with its child records. If the filtered records do not have any child record then the filtered records alone will be displayed.</li>
        <li><code> Both </code> - The filtered records are displayed along with its both parent and child records. If the filtered records do not have any parent and child record then the filtered records alone will be displayed.</li>
        <li><code> None </code> - Only the actual filtered records are displayed.</li>
    </ul>
    <p>
        More information about the filtering feature can be found in this <a aria-label="Navigate to the documentation for filtering in gantt chart component" target='_blank' href='https://blazor.syncfusion.com/documentation/gantt-chart/filtering'>documentation section</a>.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true"
                     TreeColumnIndex="1" AllowFiltering="true"
                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd"
                     AllowSorting="true">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate"
                                 Duration="Duration" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" HeaderText="Task Id" Width="120"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Service Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start time"  Width="130"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration" Width="130"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End time" Width="130"></GanttColumn>
                </GanttColumns>
                <GanttFilterSettings HierarchyMode="FilterHierarchyMode.Both"></GanttFilterSettings>
                <GanttSplitterSettings Position="60%"> </GanttSplitterSettings>
                <GanttLabelSettings LeftLabel="TaskName" TValue="FilterData.TaskData"></GanttLabelSettings>
            </SfGantt>
        </div>
    </div>
</div>

@code{
    private DateTime ProjectStart = new DateTime(2021, 3, 24);
    private DateTime ProjectEnd = new DateTime(2021, 7, 6);
    private List<FilterData.TaskData> TaskCollection { get; set; }
    

    protected override void OnInitialized()
    {
        
        this.TaskCollection = FilterData.GetTaskCollection();
    }
}