@page "/gantt-chart/ganttresponsive"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using ej2_blazor_defaultdata;
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
    <p>This sample demonstrates the responsive behavior in the Gantt Chart.</p>
</SampleDescription>
<ActionDescription>
    <p>This sample demonstrates dynamically adjusting the chart's size based on predefined options such as small, medium, large, or none. This options allows you to customize responsively customize the width of the GanttChart.</p>
</ActionDescription>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="center" style="width:@Width">
                <SfGantt @ref="Gantt" Toolbar="@toolbarItems" DataSource="@TaskCollection" Height="450px" Width="100%" AllowResizing="true" TreeColumnIndex="1" ProjectStartDate="@ProjectStartDate" ProjectEndDate="@ProjectEndDate" HighlightWeekends="true" ScrollToTaskbarOnClick="true">
                    <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
                    <GanttColumns>
                        <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                        <GanttColumn Field="TaskName" Width="275" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                        <GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
                        <GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
                        <GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
                        <GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
                        <GanttColumn Field="Predecessor" HeaderText="Dependency" MinWidth="200"></GanttColumn>
                    </GanttColumns>
                    <GanttHolidays>
                        <GanttHoliday From="new DateTime(2021, 04, 03)" To="new DateTime(2021, 04, 05)" Label="Public holiday"></GanttHoliday>
                    </GanttHolidays>
                    <GanttDayWorkingTimeCollection>
                        <GanttDayWorkingTime From="9" To="18"></GanttDayWorkingTime>
                    </GanttDayWorkingTimeCollection>
                    <GanttSplitterSettings Position="28%"></GanttSplitterSettings>
                    <GanttLabelSettings RightLabel="TaskName" TValue="WorkData.TaskData"></GanttLabelSettings>
                </SfGantt>
            </div>
        </div>
    </div>
</div>

@code {
    private DateTime ProjectStartDate { get; set; } = new DateTime(2021, 3, 28);
    private DateTime ProjectEndDate { get; set; } = new DateTime(2021, 7, 10);

    private SfGantt<WorkData.TaskData>? Gantt;

    public string Width { get; set; } = "100%";
    private List<WorkData.TaskData> TaskCollection { get; set; } = new List<WorkData.TaskData>();
    public string SelectedDropDownValue { get; set; } = "None";
    private List<Object> toolbarItems;
    public class DropDownValueModel
    {
        public string Name { get; set; } = string.Empty;
    }

    private List<DropDownValueModel> DropDownNames { get; } = new List<DropDownValueModel>
    {
        new DropDownValueModel { Name = "Small" },
        new DropDownValueModel { Name = "Medium" },
        new DropDownValueModel { Name = "Large" },
        new DropDownValueModel { Name = "None" }
    };
    public void OnDropDownValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropDownValueModel> args)
    {
        Width = args.ItemData.Name switch
        {
            "Small" => "40%",
            "Medium" => "60%",
            "Large" => "80%",
            "None" => "100%",
            _ => Width // Default to current width
        };
    }

    protected override void OnInitialized()
    {
        TaskCollection = WorkData.GetTaskCollection();
        toolbarItems = new List<Object>
        {
            new ItemModel
            {
                Id = "Responsive",
                Template = (RenderFragment)(builder =>
                {
                    builder.OpenElement(0, "label");
                    builder.AddAttribute(1, "class", "responsive-label");
                    builder.AddContent(2, "Responsive");
                    builder.CloseElement();
                })
            },
            new ItemModel
            {
                Id = "Responsive",
                Template = (RenderFragment)(builder =>
                {
                    builder.OpenComponent<SfDropDownList<string, DropDownValueModel>>(0);
                    builder.AddAttribute(1, "Width", "118px");
                    builder.AddAttribute(2, "PopupHeight", "230px");
                    builder.AddAttribute(3, "DataSource", DropDownNames);
                    builder.AddAttribute(4, "Value", SelectedDropDownValue);
                    builder.AddAttribute(5, "ValueChanged", EventCallback.Factory.Create<string>(this, v => SelectedDropDownValue = v));
                    builder.AddAttribute(6, "ChildContent", (RenderFragment)(childBuilder =>
                    {
                        childBuilder.OpenComponent<DropDownListEvents<string, DropDownValueModel>>(0);
                        childBuilder.AddAttribute(1, "ValueChange", EventCallback.Factory.Create<ChangeEventArgs<string, DropDownValueModel>>(this, OnDropDownValueChange));
                        childBuilder.CloseComponent();

                        childBuilder.OpenComponent<DropDownListFieldSettings>(2);
                        childBuilder.AddAttribute(3, "Text", "Name");
                        childBuilder.AddAttribute(4, "Value", "Name");
                        childBuilder.CloseComponent();
                    }));
                    builder.CloseComponent();
                })
            }
        };
    }

}
<style>
    .responsive-label
    {
        padding: 10px 15px 10px 10px;
        font-size: 14px;
    }

    .e-switch-control {
        display: flex;
        align-items: center;
    }

    .row {
        display: flex;
        justify-content: center;
        background: #e2dfdf70;
        flex-wrap: wrap;
    }

    .e-bigger .row {
        background: #e2dfdf70;
    }

    .e-bigger .responsive-label {
        padding: 10px 15px 10px 10px;
        font-size: 16px;
    }


    @@media only screen and (max-width: 425px) {
        .row {
            background:none !important;
        }

        .e-switch-control {
            overflow: scroll !important;
        }
    }
</style>