@page "/gantt-chart/human-resource-management"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Grids

@using blazor_gantt_human_resource_data

@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager
@*End:Hidden*@

<SampleDescription>
    This sample demonstrates visualizing a human resource management system using a Gantt chart. It is useful for managing human resource work details effectively.
</SampleDescription>

<ActionDescription>
    This sample includes several components to clearly show human resource work details using the scheduler component's agenda view.
    <ul>
        <li><a href="https://blazor.syncfusion.com/demos/scheduler/overview?theme=fluent">SfScheduler</a> - This component is used to show the human resource work details day-to-day.</li>
    </ul>
</ActionDescription>

<section class="col-lg-12 control-section">
  <div class="content-wrapper">
    <div class="row" style="height:600px">
        <div class="e-gantt-chart-human-resource">
            <div class="e-gantt-human-resource-toolbar">
                <label class="e-human-resource-label">Select Team</label>
                <SfToolbar ID="Gantt_Toolbar">
                    <ToolbarItems>
                        <ToolbarItem>
                            <Template>
                                <SfDropDownList CssClass="sf-hr-dropdown-list" TValue="string" Value=@(department) TItem="string" DataSource="@typesOfHR" ValueChanged="DepartmentChangedHandler">
                                </SfDropDownList>
                            </Template>
                        </ToolbarItem>
                    </ToolbarItems>
                </SfToolbar>
            </div>
            <div class="e-gantt-human-resource-use-case">
                <SfGantt @ref="ganttInstance" RowHeight="44" IncludeWeekend="true" SelectedRowIndex=1 HighlightWeekends="true" DataSource="@GanttTaskCollection" TreeColumnIndex="1" ScrollToTaskbarOnClick="true" Height="530px" Width="100%">
                    <GanttTaskFields Id="Id" Name="Subject" StartDate="StartTime" Duration="Duration" EndDate="EndTime" Dependency="DependentId" ParentID="ParentId" Progress="Progress"></GanttTaskFields>
                    <GanttColumns>
                        <GanttColumn Field="Id" Visible="false"></GanttColumn>
                        <GanttColumn Field="Subject" Width="250px" ClipMode="ClipMode.EllipsisWithTooltip"></GanttColumn>
                        <GanttColumn Field="Progress" Width="180px">
                            <Template>
                                @{
                                    var taskRecord = context as HumanResourceData.RecruitmentPlanModel;
                                    if(taskRecord == null) return;
                                    string width = taskRecord.Progress.ToString();
                                    <div class="e-gantt-progress-custom">
                                        <div class="sf-grid-progress-outer">
                                            <div style="width:@(width)px;"></div>
                                        </div>
                                        <div class="sf-grid-progress-inner">
                                            <span>@(taskRecord.Progress)%</span>
                                        </div>
                                    </div>
                                }
                            </Template>
                        </GanttColumn>
                        <GanttColumn Field="StartTime" HeaderText="Start Date" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GanttColumn>
                            <GanttColumn Field="EndTime" HeaderText="Due Date" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GanttColumn>
                    </GanttColumns>
                    <GanttSplitterSettings Position="50%" Collapsible="true"></GanttSplitterSettings>
                    <GanttLabelSettings RightLabel="Subject" TValue="HumanResourceData.RecruitmentPlanModel"></GanttLabelSettings>
                    <GanttEvents RowSelected="RowSelectedHandler" DataBound="DataBoundHandler" TValue="HumanResourceData.RecruitmentPlanModel"></GanttEvents>
                </SfGantt>
            </div>
        </div>
        <div class="e-gantt-human-resource-schedule">
            <div style="height:70px;"></div>
            <SfSchedule TValue="HumanResourceData.RecruitmentPlanModel" Readonly="true" Width="100%" Height="530px" AgendaDaysCount="4" @bind-SelectedDate="currentDate">
                <ScheduleViews>
                    <ScheduleView Option="View.Agenda"></ScheduleView>
                </ScheduleViews>
                <ScheduleEvents OnPopupOpen="PopupHandler" TValue="HumanResourceData.RecruitmentPlanModel"></ScheduleEvents>
                <ScheduleEventSettings AllowEditing="false" EnableTooltip="true" AllowDeleting="false" AllowEditFollowingEvents="false" DataSource="@ScheduleCollection"></ScheduleEventSettings>
            </SfSchedule>
        </div>
    </div>
  </div>
</section>

<style>
     .e-gantt-human-resource-toolbar{
         height:70px;
         display:flex;
         align-items: center;
     }
     #Gantt_Toolbar {
         padding: 5px 0px;
         display: inline !important ;
     }

     #Gantt_Toolbar .e-toolbar-item.e-template {
         margin-left:0px !important;
     }

     .e-human-resource-label{
         font-weight:400;
         margin-bottom:0px !important;
         margin-right: 10px;
     }
     .e-gantt-human-resource-use-case{
         height:500px;
     }
     .sf-hr-header-container {
         background: rgba(var(--color-sf-primary));
     }

    .sf-hr-header-container h1 {
        font-size: 33px;
        padding: 10px;
        color: #fff;
    }

     .sf-gantt-chart-container {
         height: 55%
     }

     .sf-schedule-container {
         height: 36%;
     }

     .sf-hr-card-container {
         padding: 9px 20px 10px !important;
         background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.08), rgba(var(--color-sf-primary), 0.08)), rgba(var(--color-sf-surface));
         border: 1px solid lightgray;
         margin: 0px !important;
     }

     .sf-hr-card-div {
         padding: 7px 11px 7px 21px !important
     }

     .sf-hr-card-btn {
         float: right;
         border-radius: 7px;
         background: rgba(var(--color-sf-primary));
         color: #fff;
         padding: 1px 11px;
         border: none;
     }

     .e-input-group.sf-hr-dropdown-list {
         border-radius: 3px;
     }

     .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after {
         background: none !important;
     }

     .e-timeline-top-header-cell, .e-columnheader, .e-gridcontent tr:nth-child(even), .e-chart-root-container tr:nth-child(even):not(.e-active) {
         background: rgba(var(--color-sf-primary-container), 0.2) !important;
     }

     .sf-grid-progress-outer {
         float: left;
         display: inline-block;
         background: #E6E6E6;
         border-radius: 2px;
         width: 100px;
     }

     .sf-grid-progress-outer div {
         background-color: @progressColor;
         height: 2px;
         border-radius: 4px;
     }

     .sf-grid-progress-inner {
         float: right;
         display: inline;
         font-size: 14px;
         padding: 4px 0px;
         margin-left: 18px;
     }

     .e-gantt-progress-custom{
         display: flex;
         align-items: center;
     }

     .e-gantt .e-gantt-chart .e-gantt-child-taskbar-inner-div, .e-gantt .e-gantt-chart .e-gantt-child-progressbar-inner-div {
         border-radius:2px !important;
     }

    #Gantt_Toolbar{
        background: none !important;
        box-shadow:none !important;
    }
    #Gantt_Toolbar .e-toolbar-items {
        background:none !important;
    }
     @@media only screen and (max-width:992px){
         .e-gantt-chart-human-resource{
             width:100%;
         }
         .e-gantt-human-resource-schedule{
             display:none !important;
         }
     }

     .e-gantt-chart-human-resource {
         width: 75%;
         display:inline-block;
     }

     .e-gantt-human-resource-schedule {
         width: 25% !important;
         display: inline-block;
         float: right;
         padding-left: 10px;
     }
     @@media only screen and (max-width:992px) {
         .e-gantt-chart-human-resource {
             width: 100% !important;
         }

         .e-gantt-human-resource-schedule {
             display: none !important;
             width: 0% !important;
         }
     }
     .e-schedule .e-agenda-view .e-day-border{
         border: none !important;
     }
</style>