@page "/gantt-chart/keyboard-navigation"

@using Syncfusion.Blazor.Gantt
@using ej2_blazor_defaultdata

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>GanttChart functionalities can be interactive with keyboard shortcuts. In the below sample various key combinations can be used to interact with the Gantt chart.</p>
</SampleDescription>
<ActionDescription>
    <i>Below key combinations can be used in the Gantt chart to initiate various actions</i>
    <ul>
        <li>
            <b>FOCUS </b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Moves the focus to the first cell of the focused row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Moves the focus to the last cell of the focused row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Home</kbd></span>
                    <span> - Moves the focus to the first Cell of the first row in our GanttChart component.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>End</kbd></span>
                    <span> - Moves the focus to the last cell of the last row in our GanttChart component.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the cell focus downward from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the cell focus upward from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the cell focus left side from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the cell focus right side from the focused cell.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>SELECTION</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Extends the row/cell selection downwards from the selected row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Extends the row/cell selection upwards from the selected row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Left arrow</kbd></span>
                    <span> - Extends the cell selection to the left side from the selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Right arrow</kbd></span>
                    <span> - Extends the cell selection to the right side from the selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection upward.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection downward.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection right side.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection left side.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>EDITING</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Insert</kbd></span>
                    <span> -  Opens addRowDialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>F2</kbd></span>
                    <span> - Opens editRowDialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Del</kbd></span>
                    <span> - Deletes the currently selected record.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Insert</kbd></span>
                    <span> - Adds a new row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Saves the current form if the Mode is Normal or Dialog /  Saves the current cell.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>EXPANDCOLLAPSE</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Expands all tasks.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Collapses all tasks.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Collapses the selected row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Expands the selected row.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true"
                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd" TreeColumnIndex="1">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 Dependency="Predecessor" ParentID="ParentId"></GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Task Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
                    <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
                </GanttColumns>
                <GanttEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GanttEditSettings>
                <GanttLabelSettings LeftLabel="TaskName" TValue="DefaultData.TaskData"> </GanttLabelSettings>
                <GanttSplitterSettings Position="38%"> </GanttSplitterSettings>
                <GanttSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GanttSelectionSettings>
            </SfGantt>
        </div>
    </div>
</div>



@code{
    private DateTime ProjectStart = new DateTime(2021, 3, 24);
    private DateTime ProjectEnd = new DateTime(2021, 7, 6);
    private List<DefaultData.TaskData> TaskCollection { get; set; }
    

    protected override void OnInitialized()
    {
        
        this.TaskCollection = DefaultData.ProjectNewData();
    }
}

<style>
    .key-class {
        display: inline-block;
        width: 240px;
    }
</style>