@page "/gantt-chart/multi-taskbar"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example provides a comprehensive explanation of the process for visualizing a list of tasks assigned to a resource within a collapsed parent row. Additionally, it outlines the capability to modify task scheduling while in the collapsed state. This functionality can be enabled by setting the <a aria-label="Navigate to the EnableMultiTaskbar property reference for gantt taskbar settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html#Syncfusion_Blazor_Gantt_GanttTaskbarSettings_EnableMultiTaskbar'>EnableMultiTaskbar</a> property of <a aria-label="Navigate to the class reference for gantt taskbar settings" target="_blank" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html'>GanttTaskbarSettings</a> to <code>true</code>.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, demonstration showcases the ability to facilitate vertical drag and drop of taskbars between different resources by  <a aria-label="Navigate to the AllowTaskbarDragAndDrop property reference for gantt taskbar settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html#Syncfusion_Blazor_Gantt_GanttTaskbarSettings_AllowTaskbarDragAndDrop'>AllowTaskbarDragAndDrop</a> property of <code>GanttTaskbarSettings</code> to <code>true</code>.</p>

    <p>In this demo, the resource assignment collection includes both resource IDs and task IDs to facilitate the mapping of resources to tasks and the resource information can be shown by using the <a aria-label="Navigate to the task label property reference for gantt label settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttLabelSettings-1.html#Syncfusion_Blazor_Gantt_GanttLabelSettings_1_TaskLabel'>TaskLabel</a> property of <a aria-label="Navigate to the class reference for gantt label settings" target="_blank" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttLabelSettings-1.html'>GanttLabelSettings</a>. Using the toolbar action, you can perform the CRUD operation for the resource allocation based on their availability and task complexity.</p>

    <p>Resources can be mapped using <a aria-label="Navigate to the class reference for gantt resource fields" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttResource-1.html'>GanttResource:</a> component with following properties</p>
    <ul>
        <li><code>Id</code> - To map resource ID</li>
        <li> <code>Name</code> - To map resource name</li>
        <li><code>MaxUnits</code> - To map resource unit</li>
        <li><code>DataSource</code> - To map resource datasource</li>
    </ul>
    <p>Resource assignment can be mapped using <a aria-label="Navigate to the class reference for gantt assignment fields" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttAssignmentFields-1.html'>GanttAssignmentFields:</a> component with following properties</p>
    <ul>
        <li><code>PrimaryKey</code> - To map primary key</li>
        <li><code>TaskID</code> - To map task ID</li>
        <li><code>ResourceID</code> - To map resource ID</li>
        <li><code>DataSource</code> - To map resource assignment datasource</li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="e-switch-control">
                <label class="showhide"> Allow Taskbar Drag And Drop </label>
                <SfSwitch ValueChange="TaskbarDragAndDrop" @bind-Checked="@Check" TChecked="bool"></SfSwitch>
            </div>
            <SfGantt @ref="Gantt" ShowOverallocation="true" TreeColumnIndex="1" RowHeight="38"  DataSource="@TaskCollection" Height="450px" Width="100%" ViewType="ViewType.ResourceView" CollapseAllParentTasks=true
                     Toolbar="@(new List<Object>() { "Add", "Cancel", "Update" , "Delete", "Edit", "CollapseAll", "ExpandAll" })" AllowResizing="true">
                <GanttTaskFields Id="Id" Name="Name" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 ParentID="ParentId" Work="Work" Dependency="Predecessor" >
                </GanttTaskFields>
                <GanttResource DataSource="ResourceCollection" Id="Id" Name="Name" MaxUnits="MaxUnit" Group="Group" TValue="MultiTaskbarData.TaskInfoModel" TResources="MultiTaskbarData.ResourceInfoModel"></GanttResource>
                <GanttAssignmentFields DataSource="AssignmentCollection" PrimaryKey="Id" TaskID="TaskId" ResourceID="ResourceId" Units="Unit" TValue="MultiTaskbarData.TaskInfoModel" TAssignment="MultiTaskbarData.AssignmentModel"></GanttAssignmentFields>
                <GanttLabelSettings TaskLabel="Name" TValue="MultiTaskbarData.TaskInfoModel"></GanttLabelSettings>
                <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
                <GanttTaskbarSettings EnableMultiTaskbar="true" AllowTaskbarDragAndDrop="@taskbarUpdate"></GanttTaskbarSettings>
                <GanttColumns>
                    <GanttColumn Field="Id" Visible=false></GanttColumn>
                    <GanttColumn Field="Name" HeaderText="Name" Width="250"></GanttColumn>
                    <GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
                    <GanttColumn Field="Progress"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                </GanttColumns>
                <GanttSplitterSettings  Position="30%"></GanttSplitterSettings>
            </SfGantt>
       
        </div>
    </div>
</div>

<style>
    .showhide {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
        padding: 10px;
    }

    .e-switch-control {
        display: flex;
        align-items: center;
    }

</style>
@code {
    public SfGantt<MultiTaskbarData.TaskInfoModel> Gantt;
    private DateTime ProjectStart = new DateTime(2022, 03, 25);
    private DateTime ProjectEnd = new DateTime(2022, 05, 10);
    private List<MultiTaskbarData.TaskInfoModel> TaskCollection { get; set; }
    private List<MultiTaskbarData.ResourceInfoModel> ResourceCollection { get; set; }
    private Boolean Check = true;
    private bool taskbarUpdate = true;
    private static List<MultiTaskbarData.AssignmentModel> AssignmentCollection { get; set; }
    public void TaskbarDragAndDrop()
    {
        taskbarUpdate = !taskbarUpdate;
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        TaskCollection = MultiTaskbarData.GetTaskCollection();
        ResourceCollection = MultiTaskbarData.GetResources;
        AssignmentCollection = MultiTaskbarData.GetAssignmentCollection();
    }
    
}
