@page "/gantt-chart/unscheduled-task"

@using Syncfusion.Blazor.Gantt
@using BlazorDemos
@using ej2_blazor_unscheduledata

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample visualizes the various types of unscheduled taskbars in Gantt Auto schedule and Manual schedule.</p>
</SampleDescription>
<ActionDescription>
    <p>Unscheduled tasks in a project are not scheduled with proper dates or duration at the commencement of the project.  These tasks can be scheduled properly at any time during project implementation based on factors such as resource availability, dependent tasks, and more.</p>
    <p>
        This example shows how to display the unscheduled tasks in Gantt by enabling the <a aria-label="Navigate to the AllowUnscheuldedTask property reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AllowUnscheduledTasks'>AllowUnscheuldedTask</a> property.
    </p>
    <p>More information about unscheduled tasks can be found in this <a aria-label="Navigate to the documentation for Unscheduled tasks in gantt chart component" target='_blank' href='https://blazor.syncfusion.com/documentation/gantt-chart/scheduling-tasks#unscheduled-tasks'>documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt DataSource="@TaskCollection" Height="100%" Width="100%" HighlightWeekends="true" TreeColumnIndex="1"
                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd" AllowUnscheduledTasks="true" TaskMode="ScheduleMode.Custom">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" ParentID="ParentId" Manual="IsManual"></GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Task Name" Width="200" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                </GanttColumns>
                <GanttLabelSettings LeftLabel="TaskName" TValue="UnscheduleData.TaskData">
                </GanttLabelSettings>
                <GanttSplitterSettings Position="40%"></GanttSplitterSettings>
            </SfGantt>
        </div>
    </div>
</div>

@code{
    private DateTime ProjectStart = new DateTime(2021, 3, 24);
    private DateTime ProjectEnd = new DateTime(2021, 7, 6);

    private List<UnscheduleData.TaskData> TaskCollection { get; set; }
    

    protected override void OnInitialized()
    {
        
        this.TaskCollection = UnscheduleData.GetTaskCollection();
    }

}

