@page "/gantt-chart/wbs-column"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using ej2_blazor_wbscolumndata

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
	<p> This example demonstrates how to manage and visualize a new product development project using the Gantt Chart component. It showcases Work Breakdown Structure (WBS) support, which helps organize tasks hierarchically and track their position within the overall project structure.</p>
</SampleDescription>
<ActionDescription>
	<p>This sample showcases the <b>Work Breakdown Structure (WBS)</b> feature in the Blazor Gantt Chart, which applies a hierarchical numbering system to display each task’s position in the overall project structure. Enabling the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_ShowWbsColumn" target="_blank">ShowWbsColumn</a> and <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AutoGenerateWbs" target="_blank">AutoGenerateWbs</a> properties generates WBS codes and WBS predecessors for all tasks.</p>
	<p>When  <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AutoGenerateWbs" target="_blank">AutoGenerateWbs</a> is set to <b>true</b>, the chart recalculates these codes automatically whenever the task hierarchy changes—after actions such as sorting, adding, deleting, or editing ensuring accuracy and preserving structural clarity throughout the project lifecycle.</p>
	<p>
		For more details, refer to the
		<a aria-label="Navigate to the documentation for the Wbs column in gantt chart component" target="_blank" href="https://blazor.syncfusion.com/documentation/gantt-chart/WbsColumn">
			documentation section.
		</a>
	</p>
</ActionDescription>

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row">
			<SfGantt @ref="GanttObject" DataSource="@TaskCollection" Height="550px" Width="100%" ShowWbsColumn="true" AutoGenerateWbs="@IsEnableAutoWbsCode" TreeColumnIndex="1" GridLines="GridLine.Both"
					 HighlightWeekends="true" EnableContextMenu="true" AllowSelection="true" AllowSorting="true" AllowFiltering="true" AllowResizing="true"
					 ProjectStartDate="ProjectStartDate" ProjectEndDate="ProjectEndDate" ScrollToTaskbarOnClick="true" Toolbar="@toolbarItems">
				<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration"
								 ParentID="ParentId" Dependency="Predecessor" WbsCode="WbsCode" WbsPredecessor="WbsPredecessor" Progress="Progress">
				</GanttTaskFields>
				<GanttColumns>
					<GanttColumn Field="TaskId" HeaderText="Task ID" Visible="false"></GanttColumn>
					<GanttColumn Field="WbsCode" HeaderText="WBS Code" Width="150"></GanttColumn>
					<GanttColumn Field="TaskName" HeaderText="Task Name" Width="300"></GanttColumn>
					<GanttColumn Field="StartDate" HeaderText="Start Date" Width="140" />
					<GanttColumn Field="WbsPredecessor" HeaderText="WBS Predecessor" Width="190"></GanttColumn>
					<GanttColumn Field="Duration" HeaderText="Duration" Width="130"></GanttColumn>
					<GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
				</GanttColumns>
				<GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true" />
				<GanttSplitterSettings ColumnIndex="5"></GanttSplitterSettings>
				<GanttLabelSettings TaskLabel="Progress" TValue="WbsColumnData.TaskData"></GanttLabelSettings>
			</SfGantt>
		</div>
	</div>
</div>
@code {
	private SfGantt<WbsColumnData.TaskData>? GanttObject { get; set; }
	private DateTime ProjectStartDate { get; set; } = new DateTime(2025, 3, 30);
	private DateTime ProjectEndDate { get; set; } = new DateTime(2025, 5, 30);
	DateTime ProjectInitiationDate = new DateTime(2025, 4, 2);
	private List<WbsColumnData.TaskData>? TaskCollection { get; set; }
	private bool IsEnableAutoWbsCode { get; set; } = true;
	private List<Object>? toolbarItems;
	protected override void OnInitialized()
	{
		this.TaskCollection = WbsColumnData.WbsColumnRecord();
		toolbarItems = new List<Object>()
		{
			"Add",
			"Edit",
			"Update",
			"Delete",
			"Cancel",
			"ExpandAll",
            "CollapseAll",
			new ItemModel
			{
				Id = "WbsCheckbox",
				Align = ItemAlign.Left,
				Template = (RenderFragment)(builder =>
				{
					builder.OpenComponent<SfCheckBox<bool>>(0);
					builder.AddAttribute(1, "Label", "Auto Generate WBS");
					builder.AddAttribute(2, "Checked", IsEnableAutoWbsCode);
					builder.AddAttribute(3, "CheckedChanged", Microsoft.AspNetCore.Components.EventCallback.Factory.Create<bool>(this, __value => IsEnableAutoWbsCode = __value));
					builder.AddAttribute(4, "ValueChange", Microsoft.AspNetCore.Components.EventCallback.Factory.Create<Syncfusion.Blazor.Buttons.ChangeEventArgs<bool>>(this, HandleAutoWbsChange));
					builder.CloseComponent();
				})
			},
		};		
	}

	public void HandleAutoWbsChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
	{
		IsEnableAutoWbsCode = args.Checked;
	}
}
<style>
	.e-checkbox-wrapper:focus{
		border: inherit !important;
		box-shadow: inherit !important
	}
</style>

