@page "/QueryBuilder/DefaultFunctionalities"

@using Syncfusion.EJ2.RazorComponents.QueryBuilder

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = SampleBrowser.Config.QueryBuilder[0].Name;
    SampleBrowser.CurrentControlName = "QueryBuilder";
    SampleBrowser.CurrentControlCategory = "Forms";
    SampleBrowser.CurrentControl = SampleBrowser.Config.QueryBuilder;
    SampleBrowser.ActionDescription = new string[] {
        @"This sample demonstrates the default functionalities of the Query Builder component. Click the plus button to add a group or conditions."
    };
    SampleBrowser.Description = new string[] {
        @"The Query Builder component is used to create or edit filters. You can edit filters by changing the fields.",
        @"In mobile mode, the component is shown vertically.",
        @"More information about Query Builder can be found in this
            <a target=""_blank"" href=""http://ej2.syncfusion.com/aspnetcore/documentation/query-builder/getting-started"">
                documentation section
            </a>."
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <EjsQueryBuilder ID="querybuilder" Width="70%" Rule="@rule" DataSource="@dataSource">
        <QueryBuilderColumns>
            <QueryBuilderColumn Field="EmployeeID" Label="Employee ID" Type="number"></QueryBuilderColumn>
            <QueryBuilderColumn Field="FirstName" Label="First Name" Type="string"></QueryBuilderColumn>
            <QueryBuilderColumn Field="TitleOfCourtesy" Label="Title Of Courtesy" Type="boolean" Values=@values></QueryBuilderColumn>
            <QueryBuilderColumn field="Title" label="Title" type="string"></QueryBuilderColumn>
            <QueryBuilderColumn field="HireDate" label="Hire Date" type="date" format="dd/MM/yyyy"></QueryBuilderColumn>
            <QueryBuilderColumn field="Country" label="Country" type="string"></QueryBuilderColumn>
            <QueryBuilderColumn field="City" label="City" type="string"></QueryBuilderColumn>
        </QueryBuilderColumns>
</EjsQueryBuilder>
</div>
<style>
    .e-query-builder {
        margin: 0 auto;
    }
</style>

@code{

    public List<EmployeeView> dataSource = EmployeeView.GetAllRecords();
    QueryBuilderRule rule = new QueryBuilderRule()
    {
        Condition = "and",
        Rules = new List<QueryBuilderRule>()
        {
            new QueryBuilderRule { Label="Employee ID", Field="EmployeeID", Type="number", Operator="equal", Value = 1 },
            new QueryBuilderRule { Label="Title", Field="Title", Type="string", Operator="equal", Value = "Sales Manager" }
        }
    };

    List<string> values = new List<string> { "Mr.", "Mrs." };
}
