@page "/TreeGrid/Aggregate"

@using Syncfusion.EJ2.Blazor.TreeGrid
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Data
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_treedata

@{
    SampleBrowser.CurrentSampleName = "Aggregate";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates aggregate functionality of the TreeGrid.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>The TreeGrid supports aggregates which will be displayed at the footer and every hierarchy level.
    The aggregate configurations can be provided by the <code>
        aggregates</code> property.</p>
    <p>The built-in aggregates are,</p>
     <ul>
        <li><code>Sum</code></li>     
        <li><code>Average</code></li>     
        <li><code>Min</code></li>     
        <li><code>Max</code></li>     
        <li><code>Count</code></li>     
        <li><code>TrueCount</code></li>     
        <li><code>FalseCount</code></li>     
        <li><code>Custom</code> - Requires the <code>customAggregate</code> property to perform aggregation.
        The custom aggregate value can be accessed inside template using the key <code>${custom}</code></li>     
    </ul>    
    <p>
        In this demo, the <code>footerTemplate</code> property is used to display the sum value for duration column
         in the Approved column.    
    </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsTreeGrid height="450" TValue="TreeData.BusinessObject" ChildMapping="Children" TreeColumnIndex="1">
                <EjsDataManager Json="@treeData" Adaptor="Adaptors.JsonAdaptor"></EjsDataManager>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="60" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="190"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type="date" Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="80" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="80"></TreeGridColumn>
                    <TreeGridColumn Field="Approved" HeaderText="Approved" TextAlign="TextAlign.Center" DisplayAsCheckbox="true" Width="80"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>
        </div>
    </div>
</div>

@*<div class="col-lg-2 property-section">
    <h4 style="margin-top:28px;">Properties</h4>

    <table id="property" style="width: 73%; height: 58px;">
        <tr>
            <td class="left-side" style="padding-right:15px;">Show ChildSummary</td>
            <td>
                <EjsCheckBox ID="cboxChecked" Checked="true"></EjsCheckBox>
            </td>
        </tr>
    </table>
</div>*@

@code{

    public TreeData.BusinessObject[] treeData { get; set; }

    protected override void OnInitialized()
    {
        this.treeData = TreeData.GetDefaultData().Cast<TreeData.BusinessObject>().ToArray();
    }
}
