@page "/TreeGrid/CellAlignment"

@using Syncfusion.EJ2.Blazor.TreeGrid
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Data
@using Syncfusion.EJ2.Blazor.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_selfdata

@{
    SampleBrowser.CurrentSampleName = "Cell Alignment";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the text alignment functionalities of the treegrid columns.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            Align both content and header text of particular column using the <code>textAlign
            </code> property of columns. There are four possible ways to align content and header text of column, they are.
        <br>
    </p>
    <ul>
        <li><code>Right</code></li>
        <li><code>Left</code></li>
        <li><code>Center</code></li>
        <li><code>Justify</code></li>
    </ul>
    <br/>
    <p>
        In this sample, we have initially set the <code>textAlign</code> property as Right for Duration, Start Date and End Date columns.        
    </p>
    <p>
        More information about Cell Alignment can be found in this documentation section.
     </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
     <div class="content-wrapper">
          <div class="row">
               <EjsTreeGrid DataSource="@treeData" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowPaging="true" Height="400">
                   <TreeGridPageSettings PageSize="1"></TreeGridPageSettings>
                   <TreeGridColumns>
                        <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="60" TextAlign="TextAlign.Right"></TreeGridColumn>
                        <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="100"></TreeGridColumn>
                        <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type="date" Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                        <TreeGridColumn Field="Duration" HeaderText="Duration" Width="80" TextAlign="TextAlign.Right"></TreeGridColumn>
                        <TreeGridColumn Field="Progress" HeaderText="Progress" Width="80"></TreeGridColumn>
                    </TreeGridColumns>
                </EjsTreeGrid>
           </div>
     </div>
</div>

@code{

    public List<SelfReferenceData> treeData { get; set; }

    protected override void OnInitialized()
    {
        this.treeData = SelfReferenceData.GetTree().ToList();
    }
}
