body.material-dark, .material-dark #sb-header-text,
.material-dark .control-name,.material-dark .control-section,
.material-dark .sample-navigation,
.material-dark .sf-list .sf-list-li .sf-text-content,
.material-dark .sb-left-pane .sf-tree-expand-icon,
.material-dark .sb-left-pane .sf-tree-collapse-icon,
.material-dark .sb-left-pane .sf-tree-text,
.material-dark .sf-text-content, .material-dark .sb-sample-text,
.material-dark .sf-search-container .sf-list-li, .material-dark .sb-home-text,
.material-dark .property-section, .material-dark .sb-tab-content,
.material-dark .sb-notification-item .sf-clear-icon::before,
.material-dark .sf-search-no-data, .material-dark .github-logo::after,
.material-dark .sf-list-group-li > span, .material-dark .sb-notification-content,
.material-dark .sf-dropdown-input,
body.fabric-dark, .fabric-dark #sb-header-text,
.fabric-dark .control-name,.fabric-dark .control-section,
.fabric-dark .sample-navigation,
.fabric-dark .sf-list .sf-list-li .sf-text-content,
.fabric-dark .sb-left-pane .sf-tree-expand-icon,
.fabric-dark .sb-left-pane .sf-tree-collapse-icon,
.fabric-dark .sb-left-pane .sf-tree-text,
.fabric-dark .sf-text-content, .fabric-dark .sb-sample-text,
.fabric-dark .sf-search-container .sf-list-li, .fabric-dark .sb-home-text,
.fabric-dark .property-section, .material-dark .sb-tab-content,
.fabric-dark .sb-notification-item .sf-clear-icon::before,
.fabric-dark .sf-search-no-data, .fabric-dark .github-logo::after,
.fabric-dark .sf-dropdown-input,
.fabric-dark .sf-list-group-li > span, .fabric-dark .sb-notification-content,
body.bootstrap-dark, .bootstrap-dark #sb-header-text,
.bootstrap-dark .control-name,.bootstrap-dark .control-section,
.bootstrap-dark .sample-navigation,
.bootstrap-dark .sf-list .sf-list-li .sf-text-content,
.bootstrap-dark .sb-left-pane .sf-tree-expand-icon,
.bootstrap-dark .sb-left-pane .sf-tree-collapse-icon,
.bootstrap-dark .sb-left-pane .sf-tree-text,
.bootstrap-dark .sf-text-content, .bootstrap-dark .sb-sample-text,
.bootstrap-dark .sf-search-container .sf-list-li, .bootstrap-dark .sb-home-text,
.bootstrap-dark .property-section, .bootstrap-dark .sb-tab-content,
.bootstrap-dark .sb-notification-item .sf-clear-icon::before,
.bootstrap-dark .sf-search-no-data, .bootstrap-dark .github-logo::after,
.bootstrap-dark .sf-dropdown-input,
.bootstrap-dark .sf-list-group-li > span, .bootstrap-dark .sb-notification-content,
body.bootstrap5-dark, .bootstrap5-dark #sb-header-text,
.bootstrap5-dark .control-name, .bootstrap5-dark .control-section,
.bootstrap5-dark .sample-navigation,
.bootstrap5-dark .sf-list .sf-list-li .sf-text-content,
.bootstrap5-dark .sb-left-pane .sf-tree-expand-icon,
.bootstrap5-dark .sb-left-pane .sf-tree-collapse-icon,
.bootstrap5-dark .sb-left-pane .sf-tree-text,
.bootstrap5-dark .sf-text-content, .bootstrap5-dark .sb-sample-text,
.bootstrap5-dark .sf-search-container .sf-list-li, .bootstrap5-dark .sb-home-text,
.bootstrap5-dark .property-section, .bootstrap5-dark .sb-tab-content,
.bootstrap5-dark .sb-notification-item .sf-clear-icon::before,
.bootstrap5-dark .sf-search-no-data,
.bootstrap5-dark .sf-dropdown-input, .bootstrap5-dark .github-logo::after,
.bootstrap5-dark .sf-list-group-li > span, .bootstrap5-dark .sb-notification-content,
body.tailwind-dark, .tailwind-dark #sb-header-text,
.tailwind-dark .control-name,.tailwind-dark .control-section,
.tailwind-dark .sample-navigation,
.tailwind-dark .sf-list .sf-list-li .sf-text-content,
.tailwind-dark .sb-left-pane .sf-tree-expand-icon,
.tailwind-dark .sb-left-pane .sf-tree-collapse-icon,
.tailwind-dark .sb-left-pane .sf-tree-text,
.tailwind-dark .sf-dropdown-input, .tailwind-dark .github-logo::after,
.tailwind-dark .sf-text-content, .tailwind-dark .sb-sample-text,
.tailwind-dark .sf-search-container .sf-list-li, .tailwind-dark .sb-home-text,
.tailwind-dark .property-section, .tailwind-dark .sb-tab-content, .tailwind-dark .sb-notification-item .sf-clear-icon::before,
.tailwind-dark .sf-search-no-data, .tailwind-dark .sf-list-group-li > span, .tailwind-dark .sb-notification-content {
    color: #ffffff !important;
}

.material-dark .sb-notification-content-container, .fabric-dark .sb-notification-content-container, .bootstrap-dark .sb-notification-content-container, .bootstrap5-dark .sb-notification-content-container, .tailwind-dark .sb-notification-content-container {
    border: 1px solid #fff;
}

.bootstrap-dark .sb-body-overlay, .bootstrap-dark .sf-sidebar, .bootstrap-dark .sb-content, .bootstrap-dark .sf-dropdown-input-container, .bootstrap-dark .sb-left-pane, .bootstrap-dark .sb-github-btn,
.bootstrap-dark #header-theme-switcher .sf-dropdown-popup, .bootstrap-dark .sb-header, .bootstrap-dark .sb-content-section, .bootstrap-dark .sb-content-section .sb-content-tab-header,
.bootstrap-dark .sf-search-popup, .bootstrap-dark .sf-search-input, .bootstrap-dark .sf-preferences-popup, .bootstrap-dark .sf-dropdown-popup, .bootstrap-dark .sb-notification-popup, .bootstrap-dark .sb-notification-content-container {
    background-color: #1a1a1a;
}

.bootstrap5-dark .sb-body-overlay, .bootstrap5-dark .sf-sidebar, .bootstrap5-dark .sb-content, .bootstrap5-dark .sf-dropdown-input-container, .bootstrap5-dark .sb-left-pane, .bootstrap5-dark .sb-github-btn,
.bootstrap5-dark #header-theme-switcher .sf-dropdown-popup, .bootstrap5-dark .sb-header, .bootstrap5-dark .sb-content-section, .bootstrap5-dark .sb-content-section .sb-content-tab-header,
.bootstrap5-dark .sf-search-popup, .bootstrap5-dark .sf-search-input, .bootstrap5-dark .sf-preferences-popup, .bootstrap5-dark .sf-dropdown-popup, .bootstrap5-dark .sb-notification-popup, .bootstrap5-dark .sb-notification-content-container {
    background-color: #212529;
}

.tailwind-dark .sb-body-overlay, .tailwind-dark .sf-sidebar, .tailwind-dark .sb-content, .tailwind-dark .sf-dropdown-input-container, .tailwind-dark .sb-left-pane, .tailwind-dark .sb-github-btn,
.tailwind-dark #header-theme-switcher .sf-dropdown-popup, .tailwind-dark .sb-header, .tailwind-dark .sb-content-section, .tailwind-dark .sb-content-section .sb-content-tab-header,
.tailwind-dark .sf-search-popup, .tailwind-dark .sf-search-input, .tailwind-dark .sf-preferences-popup, .tailwind-dark .sf-dropdown-popup, .tailwind-dark .sb-notification-popup, .tailwind-dark .sb-notification-content-container {
    background-color: #1f2937;
}

.material-dark .sb-body-overlay, .material-dark .sf-sidebar, .material-dark .sb-content, .material-dark .sf-dropdown-input-container, .material-dark .sb-left-pane, .material-dark .sb-github-btn,
.material-dark #header-theme-switcher .sf-dropdown-popup, .material-dark .sb-header, .material-dark .sb-content-section, .material-dark .sb-content-section .sb-content-tab-header,
.material-dark .sf-search-popup, .material-dark .sf-search-input, .material-dark .sf-preferences-popup, .material-dark .sf-dropdown-popup, .material-dark .sb-notification-popup, .material-dark .sb-notification-content-container {
    background-color: #303030;
}

.fabric-dark .sb-body-overlay, .fabric-dark .sf-sidebar, .fabric-dark .sb-content, .fabric-dark .sf-dropdown-input-container, .fabric-dark .sb-left-pane, .fabric-dark .sb-github-btn,
.fabric-dark #header-theme-switcher .sf-dropdown-popup, .fabric-dark .sb-header, .fabric-dark .sb-content-section, .fabric-dark .sb-content-section .sb-content-tab-header,
.fabric-dark .sf-search-popup, .fabric-dark .sf-search-input, .fabric-dark .sf-preferences-popup, .fabric-dark .sf-dropdown-popup, .fabric-dark .sb-notification-popup, .fabric-dark .sb-notification-content-container {
    background-color: #201f1f;
}

.material-dark .sf-list-li.sf-list-li-active, .material-dark .sf-tree-full-row.sf-tree-active, .material-dark .sf-preference-btn.active, .material-dark .sf-dropdown-container sf-list-li.active {
    background: #00b0ff;
}

.material-dark .sf-list-li:hover:not(.sf-list-li-active), .material-dark .sf-search-hover, .material-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #808080;
}
.fabric-dark .sf-list-li.sf-list-li-active, .fabric-dark .sf-tree-full-row.sf-tree-active, .fabric-dark .sf-preference-btn.active, .fabric-dark .sf-dropdown-container sf-list-li.active {
    background: #0074CC;
}
.fabric-dark .sf-list-li:hover:not(.sf-list-li-active), .fabric-dark .sf-search-hover, .fabric-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #313131;
    color: #fff
}

.bootstrap-dark .sf-list-li.sf-list-li-active, .bootstrap-dark .sf-tree-full-row.sf-tree-active, .bootstrap-dark .sf-preference-btn.active, .bootstrap-dark .sf-dropdown-container sf-list-li.active {
    background: #0070f0;
}
.bootstrap-dark .sf-list-li:hover:not(.sf-list-li-active), .bootstrap-dark .sf-search-hover, .bootstrap-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #313131;
    color: #fff
}
.bootstrap5-dark .sf-list-li:hover:not(.sf-list-li-active), .bootstrap5-dark .sf-search-hover, .bootstrap5-dark .sf-tree-full-row:hover:not(.sf-tree-active), .bootstrap5-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #31373d;
    color: #fff
}
.tailwind-dark .sf-list-li:hover:not(.sf-list-li-active), .tailwind-dark .sf-search-hover, .tailwind-dark .sf-tree-full-row:hover:not(.sf-tree-active), .tailwind-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #4b5563;
    color: #fff
}

.tailwind-dark .sf-list-li.sf-list-li-active, .tailwind-dark .sf-tree-full-row.sf-tree-active, .tailwind-dark .sf-preference-btn.active, .tailwind-dark .sf-dropdown-container .sf-list-li.active {
    background: #67e8f9;
}

.tailwind-dark .sf-list-li:hover:not(.sf-list-li-active), .tailwind-dark .sf-search-hover, .tailwind-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #374151;
}

.material-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.fabric-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.bootstrap-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.tailwind-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #fff;
}

.material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover,
.fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover,
.bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover,
.bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover {
    color: #0278d7;
}

.tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover {
    color: #67e8f9;
}

.tailwind-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-indicator {
    background: #67e8f9;
}

.bootstrap5-dark .sf-preferences-button:hover, .bootstrap5-dark .sb-github-btn:hover, .bootstrap5-dark .sf-preferences-button.active, .bootstrap5-dark .sf-notification:hover, .bootstrap5-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #565e64;
}

.tailwind-dark .sf-preferences-button:hover, .tailwind-dark .sb-github-btn:hover, .tailwind-dark .sf-preferences-button.active, .tailwind-dark .sf-notification:hover, .tailwind-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #4b5563;
}
.fabric-dark .sf-preferences-button:hover, .fabric-dark .sb-github-btn:hover, .fabric-dark .sf-preferences-button.active, .fabric-dark .sf-notification:hover, .fabric-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #6f6c6c;
}
.bootstrap-dark .sf-preferences-button:hover, .bootstrap-dark .sb-github-btn:hover, .bootstrap-dark .sf-preferences-button.active, .bootstrap-dark .sf-notification:hover, .bootstrap-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #2a2a2a;
}

.material-dark #navigation-btn .e-btn.e-primary, .material-dark #navigation-btn .e-btn .e-btn-icon,
.fabric-dark #navigation-btn .e-btn.e-primary, .fabric-dark #navigation-btn .e-btn .e-btn-icon,
.bootstrap-dark #navigation-btn .e-btn.e-primary, .bootstrap-dark #navigation-btn .e-btn .e-btn-icon {
    line-height: 37px;
}

.material-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .material-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.fabric-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .fabric-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.bootstrap-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .bootstrap-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.bootstrap5-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .bootstrap5-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.tailwind-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .tailwind-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before {
    color: #fff !important;
}

.material-dark #navigation-btn .e-btn:disabled, .fabric-dark #navigation-btn .e-btn:disabled, .fabric-dark #navigation-btn .e-btn:disabled, .tailwind-dark #navigation-btn .e-btn:disabled {
    color: #5a5a5a;
    cursor: not-allowed;
    pointer-events: none;
}

.material-dark #navigation-btn .e-btn, .fabric-dark #navigation-btn .e-btn, .bootstrap-dark #navigation-btn .e-btn, .tailwind-dark #navigation-btn .e-btn {
    color: #d0caca;
}

.material-dark .sb-notification-content, .fabric-dark .sb-notification-content, .bootstrap-dark .sb-notification-content, .bootstrap5-dark .sb-notification-content, .tailwind-dark .sb-notification-content {
    color: #313131;
}

.material-dark .sb-content-section > .e-tab > .e-tab-header,
.fabric-dark .sb-content-section > .e-tab > .e-tab-header {
    border-bottom: 1px solid #d7d7d7;
}

.bootstrap5-dark .sb-content-section>.e-tab>.e-tab-header:not(.e-vertical)::before,
.bootstrap-dark .sb-content-section>.e-tab>.e-tab-header:not(.e-vertical)::before,
.tailwind-dark .sb-content-section>.e-tab>.e-tab-header {
    border-bottom-color: #d7d7d7;
}
