
/* Home Page Icons */

@font-face {
    font-family: sficons;
    src: url("fonts/icons.ttf?gcjn6a") format("truetype"),url("fonts/icons.woff?gcjn6a") format("woff"),url("fonts/icons.svg?gcjn6a#sbicons") format("svg");
    font-weight: 400;
    font-style: normal
}

.sf-blazor-home .sb-icons {
    font-family: sficons;
    color: #3c78ef;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    padding-right: 15px;
    font-size: 25px;
}

.sf-blazor-home .sb-icon-search:before {
    content: "\e925";
}

.sf-blazor-home .sb-icon-charts:before {
    content: "\e715";
}

.sf-blazor-home .sb-icon-diagram:before {
    content: "\e72b";
}

.sf-blazor-home .sb-icon-sparkline:before {
    content: "\e740";
}

.sf-blazor-home .sb-icon-avatar:before {
    content: "\e718";
}

.sf-blazor-home .sb-icon-badge:before {
    content: "\e71f";
}

.sf-blazor-home .sb-icon-toast:before {
    content: "\e72c";
}

.sf-blazor-home .sb-icon-kanban:before {
    content: "\e74a";
}

.sf-blazor-home .sb-icon-card:before {
    content: "\e741";
}

.sf-blazor-home .sb-icon-spinner:before {
    content: "\e749";
}

.sf-blazor-home .sb-icon-progressBar:before {
    content: "\e901";
}

.sf-blazor-home .sb-icon-bulletchart:before {
    content: "\e748";
}

.sf-blazor-home .sb-icon-buttongroup:before {
    content: "\e71e";
}

.sf-blazor-home .sb-icon-RTE:before {
    content: "\e70f";
}

.sf-blazor-home .sb-icon-pivot:before {
    content: "\e706";
}

.sf-blazor-home .sb-icon-colorpicker:before {
    content: "\e719";
}

.sf-blazor-home .sb-icon-document_editor:before {
    content: "\e720";
}

.sf-blazor-home .sb-icon-heatmap:before {
    content: "\e73e";
}

.sf-blazor-home .sb-icon-range_navigator:before {
    content: "\e704";
}

.sf-blazor-home .sb-icon-smith_chart:before {
    content: "\e708";
}

.sf-blazor-home .sb-icon-switch:before {
    content: "\e709";
}

.sf-blazor-home .sb-icon-barcode:before {
    content: "\e737";
}

.sf-blazor-home .sb-icon-treemap:before {
    content: "\e70b";
}

.sf-blazor-home .sb-icon-circulargauge:before {
    content: "\e710";
}

.sf-blazor-home .sb-icon-lineargauge:before {
    content: "\e726";
}

.sf-blazor-home .sb-icon-grid:before {
    content: "\e722";
}

.sf-blazor-home .sb-icon-spreadsheet:before {
    content: "\e739";
}

.sf-blazor-home .sb-icon-formvalidator:before {
    content: "\e71c";
}

.sf-blazor-home .sb-icon-dropdownlist:before {
    content: "\e725";
}

.sf-blazor-home .sb-icon-combobox:before {
    content: "\e732";
}

.sf-blazor-home .sb-icon-autocomplete:before {
    content: "\e730";
}

.sf-blazor-home .sb-icon-multiselect:before {
    content: "\e74d";
}

.sf-blazor-home .sb-icon-calendar:before {
    content: "\e738";
}

.sf-blazor-home .sb-icon-datepicker:before {
    content: "\e703";
}

.sf-blazor-home .sb-icon-daterangepicker:before {
    content: "\e72a";
}

.sf-blazor-home .sb-icon-numerictextbox:before {
    content: "\e70c";
}

.sf-blazor-home .sb-icon-button:before {
    content: "\e743";
}

.sf-blazor-home .sb-icon-textbox:before {
    content: "\e724";
}

.sf-blazor-home .sb-icon-maskedtextbox:before {
    content: "\e717";
}

.sf-blazor-home .sb-icon-timepicker:before {
    content: "\e70a";
}

.sf-blazor-home .sb-icon-slider:before {
    content: "\e735";
}

.sf-blazor-home .sb-icon-listview:before {
    content: "\e71a";
}

.sf-blazor-home .sb-icon-dialog:before {
    content: "\e73b";
}

.sf-blazor-home .sb-icon-tooltip:before {
    content: "\e701";
}

.sf-blazor-home .sb-icon-treeview:before {
    content: "\e72d";
}

.sf-blazor-home .sb-icon-toolbar:before {
    content: "\e73d";
}

.sf-blazor-home .sb-icon-contextmenu:before {
    content: "\e707";
}

.sf-blazor-home .sb-icon-tab:before {
    content: "\e727";
}

.sf-blazor-home .sb-icon-accordion:before {
    content: "\e742";
}

.sf-blazor-home .sb-icon-pager:before {
    content: "\e916";
}

.sf-blazor-home .sb-icon-Dropdown:before {
    content: "\e913";
    color: rgb(102, 102, 102);
}

.sf-blazor-home .sb-icon-sidebar:before {
    content: "\e745";
}

.sf-blazor-home .sb-icon-datetimepicker:before {
    content: "\e73f";
}

.sf-blazor-home .sb-icon-maps:before {
    content: "\e73c";
}

.sf-blazor-home .sb-icon-uploader:before {
    content: "\e700";
}

.sf-blazor-home .sb-icon-card:before {
    content: "\e741";
}

.sf-blazor-home .sb-icon-schedule:before {
    content: "\e747";
}

.sf-blazor-home .sb-icon-dropdownbutton:before {
    content: "\e72f";
}

.sf-blazor-home .sb-icon-splitbutton:before {
    content: "\e71b";
}

.sf-blazor-home .sb-icon-progressbutton:before {
    content: "\e731";
}

.sf-blazor-home .sb-icon-menu:before {
    content: "\e746";
}

.sf-blazor-home .sb-icon-checkbox:before {
    content: "\e736";
}

.sf-blazor-home .sb-icon-chip:before {
    content: "\e721";
}

.sf-blazor-home .sb-icon-fileexplorer:before {
    content: "\e72e";
}

.sf-blazor-home .sb-icon-filterbuilder:before {
    content: "\e705";
}

.sf-blazor-home .sb-icon-insideeditor:before {
    content: "\e729";
}

.sf-blazor-home .sb-icon-pdfviewer:before {
    content: "\e71d";
}

.sf-blazor-home .sb-icon-portlet:before {
    content: "\e938";
}

.sf-blazor-home .sb-icon-splitter:before {
    content: "\e744";
}

.sf-blazor-home .sb-icon-stockchart:before {
    content: "\e73a";
}

.sf-blazor-home .sb-icon-treegrid:before {
    content: "\e70d";
}

.sf-blazor-home .sb-icon-radiobutton:before {
    content: "\e714";
}

.sf-blazor-home .sb-icon-gantt:before {
    content: "\e713";
}

.sf-blazor-home .sb-icon-filemanager:before {
    content: "\e711";
}

.sf-blazor-home .sb-icon-dashboardlayout:before {
    content: "\e712";
}

.sf-blazor-home .sb-icon-listbox:before {
    content: "\e723";
}

.sf-blazor-home .sb-icon-PDF:before {
    content: "\e71f";
}

.sf-blazor-home .sb-icon-XLS:before {
    content: "\e733";
}

.sf-blazor-home .sb-icon-DOC:before {
    content: "\e702";
}

.sf-blazor-home .sb-icon-PPT:before {
    content: "\e728";
}

.sf-blazor-home .socicon-facebook:before {
    content: "\ea90";
    color: #3d3d3d;
}

.sf-blazor-home .socicon-twitter:before {
    content: "\ea96";
    color: #3d3d3d;
}

.sf-blazor-home .socicon-linkedin:before {
    content: "\eaca";
    color: #3d3d3d;
}

.sf-blazor-home .socicon-youtube:before {
    content: "\ea9d";
    color: #3d3d3d;
}