/*Blazor Home Page Styles*/

.sf-blazor-home h1:not(:last-child) {
    margin-bottom: .59090909090909em;
}

.sf-blazor-home ol,
.sf-blazor-home ul {
    list-style: none;
    line-height: 1.85714286em;
    padding: 0px;
}

    .sf-blazor-home ul:last-child {
        margin: 0;
    }

.sf-blazor-home .row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Header */

.sf-blazor-home .header-bar {
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.sf-blazor-home .subheader-logo {
    width: 221px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 0px;
}

.sf-blazor-home .header-logo {
    float: left;
}

/* Search */

.bootstrap4 .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl {
    background-color: rgba(0, 0, 0, 0) !important;
}

.bootstrap4 .sf-blazor-home span.e-input-group.e-control-wrapper.e-ddl.e-input-focus {
    box-shadow: none !important;
}

.bootstrap4 .sf-blazor-home .e-input-group .e-clear-icon::before {
    font-size: 17px !important;
}

.sf-blazor-home .desk-search {
    height: 44px !important;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 39px;
    width: 450px;
    opacity: 1;
}

.sf-blazor-home .mb-search {
    margin-top: -2.8% !important;
    margin-left: 95.9%;
}

    .sf-blazor-home .mb-search::before {
        content: "\e925";
        color: #B3B3CB;
    }

.sf-blazor-home #search-box {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    line-height: 23px;
    padding-left: 15px !important;
}

    .sf-blazor-home #search-box::placeholder {
        font-size: 16px;
        color: #949494 !important;
    }

.material .sf-blazor-home .e-input-group.e-control-wrapper input.e-input,
.material .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus input.e-input {
    padding: 0 0 8px !important;
}

.sf-blazor-home #mbSearch {
    height: 44px !important;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 50px;
    width: 450px;
    opacity: 1;
}

.sf-blazor-home .sb-search-result {
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    border-radius: 4px;
    text-align: left;
}


    .sf-blazor-home .sb-search-result .e-list-parent {
        margin-bottom: 0px;
    }

    .sf-blazor-home .sb-search-result .e-list-item {
        line-height: 36px;
    }

        .sf-blazor-home .sb-search-result .e-list-item:hover {
            background-color: #ecedf2;
            cursor: default;
        }

    .sf-blazor-home .sb-search-result li {
        padding-left: 6px;
        font-size: 13px;
        font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
        font-weight: 400;
    }

    .sf-blazor-home .sb-search-result .e-list-group-item {
        background-color: #ecebeb;
        font-size: 15px;
        vertical-align: middle;
        line-height: 36px;
        border-left: none;
        border-right: none;
        text-transform: uppercase;
        font-weight: 500;
    }

.sf-blazor-home span.e-input-group.e-control-wrapper.e-ddl.e-input-focus::before,
.sf-blazor-home span.e-input-group.e-control-wrapper.e-ddl.e-input-focus::after {
    background-color: transparent !important;
}

.sf-blazor-home span.e-clear-icon {
    margin-right: 11px;
}

/*** Works on common browsers, Mozilla based browsers, Webkit based browsers and Other Browsers ***/

.sf-blazor-home input#search-box::selection,
.sf-blazor-home input#search-box::-moz-selection,
.sf-blazor-home input#search-box::-o-selection,
.sf-blazor-home input#search-box::-ms-selection,
.sf-blazor-home input#search-box::-webkit-selection {
    background-color: #3366ff;
    color: #fff;
}

/* For serach box close icon */

.sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
.sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
.sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover,
.sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
.sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
.sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
.sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
    border: 1px solid #a7a7a7 !important;
    border-radius: 25px !important;
    background-color: transparent;
}

    .sf-blazor-home .e-input-group .e-control-wrapper .e-ddl .e-input-focus {
        border: 0 !important;
    }

/* Body Section */

.sf-blazor-home .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.sf-blazor-home section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
}

/* Banner Section */

.sf-blazor-home .banner-image {
    height: 792px;
    width: 100%;
    background-size: 100%;
}

.sf-blazor-home .banner-text {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 55px;
    margin-top: 205px;
    width: 473px;
}

.sf-blazor-home .nuget-logo {
    height: 28px;
}

.sf-blazor-home .component-banner-text {
    text-align: center;
    color: #393939;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 25px;
    max-width: 790px;
    margin: 15px auto;
}

.sf-blazor-home .banner-btn-div {
    float: left;
    border-radius: 5px;
    cursor: pointer;
}

.sf-blazor-home .banner-btn-div.banner-nuget-div {
    margin-left: 20px;
}

.sf-blazor-home .banner-btn-div.banner-nuget-div button span.nuget-logo.e-btn-icon.e-icon-left {
    margin-right: 10px;
}

.sf-blazor-home .banner-btn-div button {
    border: 1px solid #fff;
    height: 50px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    border-radius: 4.68px;
}

.sf-blazor-home .banner-btn-div.banner-github-div button {
    background-color: #fff;
    width: 143px;
    color: #000;
    border-color: #fff;
    padding-top: 7px;
}

.sf-blazor-home .banner-btn-div.banner-nuget-div button {
    background-color: transparent;
    width: 191px;
    color: #fff;
    border-color: #fff;
    padding-top: 7px;
}

.sf-blazor-home .banner-btn-div.banner-github-div button:hover,
.sf-blazor-home .banner-btn-div.banner-github-div button:active,
.sf-blazor-home .banner-btn-div.banner-github-div button:focus,
.sf-blazor-home .banner-btn-div.banner-github-div button::selection {
    background-color: rgba(255, 255, 255, 0.80);
    border-color: #fff;
    color: #000;
    box-shadow: none;
}

.sf-blazor-home .banner-btn-div.banner-nuget-div button:hover,
.sf-blazor-home .banner-btn-div.banner-nuget-div button:active,
.sf-blazor-home .banner-btn-div.banner-nuget-div button:focus,
.sf-blazor-home .banner-btn-div.banner-nuget-div button::selection {
    background-color: rgba(255, 255, 255, 0.10);
    border-color: #fff;
    box-shadow: none;
}

/* Components List */

.sf-blazor-home .content-body {
    width: 100%;
    height: calc(100% - 48px);
    position: absolute;
    -webkit-overflow-scrolling: touch;
}

.sf-blazor-home .catagory {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #1a1a1a;
    margin-top: 40px;
    margin-bottom: 22px !important;
}

.sf-blazor-home .componet-head {
    text-align: center;
    color: #1a1a1a;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.sf-blazor-home .sample-list li {
    color: #0073dc;
    font-size: 16px;
    opacity: 1 !important;
    padding-bottom: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

.sf-blazor-home .sample-list ul,
.sf-blazor-home #search-popup ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sf-blazor-home .sample-group a {
    display: table;
}

    .sf-blazor-home .sample-group a span {
        display: table-cell;
        vertical-align: middle;
    }

.sf-blazor-home ul:not([class*='menu']) li > a:hover {
    text-decoration: none;
}

.sf-blazor-home .badge-css {
    font-size: 11px;
    color: #1a1a1a;
    letter-spacing: 1px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    background: #fff7c6;
    margin-left: 10px;
    border-radius: 8.5px;
    line-height: 1.25;
    text-align: center;
    padding: 4px 7px 4px 7px;
}

/* Companies List Section */

.sf-blazor-home #company-list {
    padding: 26px 0;
    background: #f3f3f3;
    max-height: 152px;
}

.sf-blazor-home .mob-image {
    display: none;
}

.sf-blazor-home .desk-image {
    display: block;
}

.sf-blazor-home #company-list img {
    max-width: 100%;
}

/* Footer */

.sf-blazor-home #footer-bottom {
    color: #3d3d3d;
    padding: 2em 0;
}

.sf-blazor-home #footer-warpper,
.sf-blazor-home #footer-bottom {
    background-color: #f1f1f1;
}

.sf-blazor-home .sample-head {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 30px;
    font-size: 33px;
    color: #1a1a1a;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
}

.sf-blazor-home #footer-bottom .container .mobile-footer #footer-icon li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.sf-blazor-home #footer-bottom .container .row .footer-contact-section .footer-contact-fax,
.sf-blazor-home #footer-bottom .container .row .footer-contact-section .footer-contact-mail {
    width: 50%;
    display: inline-block;
}

.sf-blazor-home #footer-bottom .container .row .footer-contact-section .footer-contact-mail {
    float: right;
    padding-left: 15px;
}

.sf-blazor-home #footer-bottom .container .row .footer-icons-section {
    width: 100%;
    padding-left: 0;
    margin-left: -7px;
    padding-right: 0;
    margin-top: 8%;
}

    .sf-blazor-home #footer-bottom .container .row .footer-icons-section #footer-icon-desktop li {
        display: inline-block;
        list-style: none;
        padding: 0px;
    }

.sf-blazor-home #footer-bottom .container .row .link {
    list-style-type: none;
    position: relative;
    z-index: 2;
    margin-top: 45px;
}

    .sf-blazor-home #footer-bottom .container .row .link a,
    .sf-blazor-home #footer-bottom .container .row #copyright-desktop a,
    .sf-blazor-home #footer-bottom .container .row .copyright a {
        font-weight: 700;
    }

.sf-blazor-home #footer-warpper .container .content-list {
    margin: 36px 0 0;
    width: 20%;
}

    .sf-blazor-home #footer-warpper .container .content-list ul:last-child {
        margin: 0;
    }

.sf-blazor-home #footer-bottom .container .row #copyright,
.sf-blazor-home #footer-bottom .container .row #copyright-desktop {
    position: relative;
    z-index: 2;
}

.sf-blazor-home #footer-bottom .container .row .footer-syncfusion-logo .sync-logo-img {
    background-size: 160px 36px;
    position: absolute;
    width: 160px;
    height: 36px;
}

.sf-blazor-home #footer-bottom .container .row .content-small {
    width: 60%;
    margin-top: 4.5em;
}

.sf-blazor-home #footer-bottom .container .row .footer-contact-section {
    width: 40%;
}

    .sf-blazor-home #footer-bottom .container .row .footer-contact-section ul#footer-icon-desktop {
        padding-left: 0;
    }

/* Hide */

.sf-blazor-home .sb-hide {
    visibility: hidden;
}

.sf-blazor-home .bh-hide,
.sf-blazor-home #search-box_hidden {
    display: none;
}

/*125% resolution - 1366 */

@media all and (max-width: 1096px) and (-webkit-max-device-pixel-ratio: 1.25) {
    .sf-blazor-home .header-bar {
        height: 55px;
    }

    .sf-blazor-home .head-text {
        line-height: 2px;
    }

    .sf-blazor-home .desk-search {
        margin-top: 0.5% !important;
    }

    .sf-blazor-home .mb-search {
        margin-top: -8.1% !important;
        margin-left: 92.5% !important;
    }
}


/*125% resolution - 1024 */

@media all and (min-width: 812px) and (max-width: 830px) and (-webkit-max-device-pixel-ratio: 1.25) {
    .sf-blazor-home .header-bar {
        height: 55px;
    }

    .sf-blazor-home .head-text {
        line-height: 2px;
    }

    .sf-blazor-home #mbSearch {
        top: -14px;
        left: 10px;
        width: 97vw;
    }

    .sf-blazor-home .desk-search {
        margin-top: 0.5% !important;
    }

    .sf-blazor-home .mb-search {
        margin-top: -10.1% !important;
        margin-left: 91% !important;
    }
}


@media (min-width: 2651) and (max-width: 3840px) {
    .sf-blazor-home .banner-image {
        height: 885px;
        width: 100%;
    }

    .sf-blazor-home .banner-text {
        font-size: 50px;
        line-height: 57px;
        padding-top: 128px;
        height: 382px;
        width: 680px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }

    .sf-blazor-home .mb-search {
        margin-top: -3.5% !important;
        margin-left: 96.4%;
    }
}


@media (min-width: 2000px) and (max-width: 2650px) {
    .sf-blazor-home .banner-image {
        height: 1098px;
    }

    .sf-blazor-home .banner-text {
        font-size: 50px;
        line-height: 55px;
        height: 234px;
        width: 521px;
        margin-top: 288px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }

    .sf-blazor-home .mb-search {
        margin-top: -3.5% !important;
        margin-left: 96.4%;
    }
}

@media (min-width: 1820px) and (max-width: 1899px) {
    .sf-blazor-home .banner-image {
        height: 767px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 201px;
        height: 204px;
        width: 449px;
    }

    .sf-blazor-home .subheader-logo {
        width: 226px;
    }
}

@media (min-width: 1720px) and (max-width: 1819px) {
    .sf-blazor-home .banner-image {
        height: 748px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 186px;
        height: 202px;
        width: 443px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }

    .sf-blazor-home .mb-search {
        margin-top: -3.1% !important;
        margin-left: 95.5%;
    }
}

@media (min-width: 1620px) and (max-width: 1719px) {
    .sf-blazor-home .banner-image {
        height: 703px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 178px;
        height: 208px;
        width: 454px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }

    .sf-blazor-home .mb-search {
        margin-top: -3.3% !important;
        margin-left: 95.9%;
    }
}

@media (min-width: 1620px) {
    .sf-blazor-home .banner-text,
    .sf-blazor-home .banner-btns-div {
        margin-left: -15px;
    }
}

@media (min-width: 1601px) and (max-width: 1680px) {
    .sf-blazor-home .mb-search {
        margin-top: -3.3% !important;
        margin-left: 95% !important;
    }
}

@media (min-width: 1551px) and (max-width: 1600px) {
    .sf-blazor-home .mb-search {
        margin-top: -3.3% !important;
        margin-left: 95%;
    }
}

@media (min-width: 1539px) and (max-width: 1550px) {
    .sf-blazor-home .mb-search {
        margin-top: -3.4% !important;
        margin-left: 95.1%;
    }
}

@media screen and (max-width: 1550px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .sf-blazor-home .mb-search {
        margin-top: -5.1% !important;
        margin-left: 94.5% !important;
    }
}

@media (min-width: 1520px) and (max-width: 1619px) {
    .sf-blazor-home .banner-image {
        height: 654px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 156px;
        height: 198px;
        width: 452px;
        margin-left: 16px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 16px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media all and (min-width: 1440px) and (max-width: 1538px) and (-webkit-max-device-pixel-ratio: 1.25) {
    .sf-blazor-home .mb-search {
        margin-top: -3.7% !important;
        margin-left: 95.1%;
    }
}


@media (max-width: 1440px) {
    .sf-blazor-home .mb-search {
        margin-top: -3.8% !important;
        margin-left: 95%;
    }
}

@media (min-width: 1420px) and (max-width: 1519px) {
    .sf-blazor-home .banner-image {
        height: 616px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 151px;
        height: 200px;
        width: 453px;
        margin-left: 7px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 10px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }

    .sf-blazor-home .desk-search {
        position: absolute;
        top: 0;
        right: 28px;
    }
}

@media (min-width: 1380px) and (max-width: 1419px) {
    .sf-blazor-home .banner-image {
        height: 579px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 131px;
        height: 200px;
        width: 454px;
        margin-left: 12px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 11px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }

    .sf-blazor-home .desk-search {
        position: absolute;
        top: 0;
        right: 31px;
    }
}

@media (min-width: 1366px) and (max-width: 1400px) {
    .sf-blazor-home .mb-search {
        margin-top: -3.9% !important;
        margin-left: 95%;
    }
}


@media (min-width: 1300px) and (max-width: 1366px) {
    .sf-blazor-home .mb-search {
        display: block !important;
        margin-top: -4.2% !important;
        margin-left: 94.5%;
        font-size: 28px;
    }
}

@media (min-width: 1300px) and (max-width: 1379px) {
    .sf-blazor-home .banner-image {
        height: 550px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 126px;
        height: 202px;
        width: 444px;
        margin-left: -1px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 4px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}


@media (max-width: 1300px) {
    .sf-blazor-home .mb-search {
        display: block !important;
        margin-top: -5.1%;
        margin-left: 94%;
        font-size: 29px;
    }
}

/* 150% resolution - 1920 */

@media only screen and (max-width: 1280px) and (-webkit-max-device-pixel-ratio: 1.50) {
    .sf-blazor-home .mb-search {
        margin-top: -4.8% !important;
        margin-left: 93.5% !important;
    }
}


/* IE10+ */

@media screen and (max-width: 1296px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .sf-blazor-home .mb-search {
        margin-top: -6.1% !important;
        margin-left: 92.5% !important;
    }
}

@media (min-width: 1220px) and (max-width: 1299px) {
    .sf-blazor-home .banner-image {
        height: 525px;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 120px;
        height: 198px;
        width: 454px;
        margin-left: 10px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 15px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (max-width: 1219px) and (min-width: 1120px) {
    .sf-blazor-home .banner-image {
        height: 498px;
    }

    .sf-blazor-home .banner-text {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 46px;
        margin-top: 121px;
        height: 142px;
        width: 423px;
        margin-left: 10px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 12px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}


/*125% resolution - 1440 */

@media all and (min-width: 1103px) and (max-width: 1154px) and (-webkit-max-device-pixel-ratio: 1.25) {
    .sf-blazor-home .mb-search {
        margin-top: -5% !important;
        margin-left: 92.5% !important;
    }
}


/*175% resolution - 1920 */

@media all and (min-width: 1096px) and (max-width: 1124px) and (-webkit-max-device-pixel-ratio: 1.75) {
    .sf-blazor-home .mb-search {
        margin-top: -5.3% !important;
        margin-left: 92% !important;
    }
}

@media (min-width: 1050px) and (max-width: 1119px) {
    .sf-blazor-home .banner-image {
        height: 450px;
    }

    .sf-blazor-home .banner-text {
        font-size: 33px;
        letter-spacing: 0;
        line-height: 39px;
        margin-top: 103px;
        height: 161px;
        width: 341px;
        margin-left: 10px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 10px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (max-width: 1049px) and (min-width: 1000px) {
    .sf-blazor-home .banner-image {
        height: 422px;
    }

    .sf-blazor-home .banner-text {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 33px;
        margin-top: 102px;
        height: 132px;
        width: 310px;
        margin-left: 6px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 7px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

/* Ipad - landscope pro */

@media (max-device-width: 1024px) and (max-device-height:768px) {
    .sf-blazor-home .mb-search {
        margin-top: -7.5% !important;
    }

    .sf-blazor-home #mbSearch {
        left: 10px;
        width: 97vw;
    }

    .sf-blazor-home .desk-search {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .sf-blazor-home #mbSearch {
        left: 0px;
        width: 97vw;
    }

    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover {
        border: 0px solid #a7a7a7 !important;
        border-radius: 25px !important;
    }

    .sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 1px solid #1713B0 !important;
        border-radius: 0px !important;
    }
}


/* Ipad pro */

@media (max-device-width: 1024px) {
    .sf-blazor-home .mb-search {
        margin-top: -6.5% !important;
        margin-left: 95.1% !important;
    }

    .sf-blazor-home .desk-search {
        display: none !important;
    }
}

@media all and (max-width: 1024px) {
    .sf-blazor-home .mb-search {
        margin-top: -4.8% !important;
        margin-left: 94.5% !important;
    }

    .sf-blazor-home .desk-search {
        right: 20px;
        width: 276px;
    }
}

@media (max-device-width: 1024px) and (min-device-height:769px) {
    .sf-blazor-home #mbSearch {
        left: 10px;
        width: 97vw;
    }
}

@media (max-width: 991px) {
    .sf-blazor-home .component-banner-text {
        max-width: 670px;
    }
}

@media (min-width: 950px) and (max-width: 999px) {
    .sf-blazor-home .banner-image {
        height: 398px;
    }

    .sf-blazor-home .banner-text {
        font-size: 29px;
        letter-spacing: 0;
        line-height: 39px;
        margin-top: 98px;
        height: 116px;
        width: 358px;
        margin-left: -14px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: -12px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

/* 150% resolution - 1440 */

@media all and (min-width: 938px) and (max-width: 964px) and (-webkit-max-device-pixel-ratio: 1.50) {
    .sf-blazor-home .mb-search {
        margin-top: -5% !important;
        margin-left: 94.2% !important;
    }

    .sf-blazor-home #mbSearch {
        right: 15px !important;
        width: 917px !important;
    }
}

@media (max-width: 949px) {
    .sf-blazor-home .banner-btn-div.banner-github-div button {
        width: 130px;
    }
    .sf-blazor-home .banner-btn-div.banner-nuget-div button {
        width: 180px;
    }
}

@media (min-width: 880px) and (max-width: 949px) {
    .sf-blazor-home .banner-image {
        height: 378px;
    }

    .sf-blazor-home .banner-text,
    .sf-blazor-home .banner-btns-div {
        margin-left: -15px;
    }

    .sf-blazor-home .banner-text {
        font-size: 27px;
        letter-spacing: 0;
        line-height: 32px;
        margin-top: 84px;
        height: 101px;
        width: 327px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

/* 150% resolution - 1400 */

@media all and (min-width: 830px) and (max-width: 938px) and (-webkit-max-device-pixel-ratio: 1.50) {
    .sf-blazor-home .mb-search {
        margin-top: -5% !important;
        margin-left: 93.5% !important;
    }

    .sf-blazor-home #mbSearch {
        top: 4px;
        right: 15px;
        width: 892px;
    }

    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover {
        border: 1px solid #a7a7a7 !important;
        border-radius: 25px !important;
    }

    .sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 1px solid #1713B0 !important;
        border-radius: 0px !important;
    }
}

@media all and (max-width: 830px) {
    .sf-blazor-home .mb-search {
        margin-top: -5.7% !important;
        margin-left: 93% !important;
    }
}

/*175% resolution - 1024 */

@media all and (max-width: 806px) and (-webkit-max-device-pixel-ratio: 1.75) {
    .sf-blazor-home #mbSearch {
        right: 8px;
        width: 768px;
    }
}

/* nexus10 */

@media (max-width: 800px) {
    .sf-blazor-home .mb-search {
        margin-top: -11% !important;
        margin-right: 3%;
    }
}

@media (min-width: 800px) and (max-width: 879px) {
    .sf-blazor-home .banner-image {
        height: 344px;
    }

    .sf-blazor-home .banner-text,
    .sf-blazor-home .banner-btns-div {
        margin-left: -15px;
    }

    .sf-blazor-home .banner-text {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 33px;
        margin-top: 79px;
        height: 96px;
        width: 321px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width:730px) and (max-width: 750px) {
    .sf-blazor-home .banner-btn-div.banner-github-div button {
        width: 130px;
    }

    .sf-blazor-home .banner-btn-div.banner-nuget-div button {
        width: 180px;
    }

    .sf-blazor-home .banner-btn-div button {
        height: 45px;
        font-size: 14px;
    }

    .sf-blazor-home .banner-btn-div.banner-nuget-div {
        margin-left: 15px;
    }
}

@media (min-width:675px) and (max-width: 730px) {
    .sf-blazor-home .banner-btn-div.banner-github-div button {
        width: 110px;
    }

    .sf-blazor-home .banner-btn-div.banner-nuget-div button {
        width: 170px;
    }

    .sf-blazor-home .banner-btn-div button {
        height: 40px;
    }

    .sf-blazor-home .banner-btn-div.banner-nuget-div {
        margin-left: 10px;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .sf-blazor-home .banner-image {
        height: 321px;
    }

    .sf-blazor-home .banner-text {
        font-size: 23px;
        letter-spacing: 0;
        line-height: 30px;
        margin-top: 70px;
        height: 88px;
        width: 283px;
        margin-left: 8px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 8px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .sf-blazor-home .banner-image {
        height: 283px;
    }

    .sf-blazor-home .banner-text {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 27px;
        margin-top: 62px;
        height: 75px;
        width: 247px;
        margin-left: 17px;
    }

    .sf-blazor-home .banner-btns-div {
        margin-left: 17px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width: 599px) and (max-width:675px) {
    .sf-blazor-home .banner-btn-div.banner-github-div button {
        width: 100px;
    }

    .sf-blazor-home .banner-btn-div.banner-nuget-div button {
        width: 150px;
    }

    .sf-blazor-home .banner-btn-div button {
        height: 40px;
        font-size: 14px;
    }

    .sf-blazor-home .banner-btn-div.banner-nuget-div {
        margin-left: 10px;
    }
}

@media (min-width: 600px) {
    .sf-blazor-home section#mob-banner-img {
        display: none;
    }
}

@media (max-width: 599px) {
    .sf-blazor-home .banner-image {
        display: none;
    }

    .sf-blazor-home #mob-banner-img {
        display: block !important;
        margin-left: 0px !important;
        padding: 0px !important;
    }

    .sf-blazor-home .banner-btn-div {
        float: none;
        margin: 0 auto;
        width: 316px;
    }
    
    .sf-blazor-home .banner-btn-div.banner-nuget-div {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sf-blazor-home .banner-btn-div.banner-github-div button,
    .sf-blazor-home .banner-btn-div.banner-nuget-div button {
        width: 316px;
    }
    
    .sf-blazor-home .banner-btn-div button {
        height: 45px;
    }
}

@media (min-width: 550px) and (max-width: 599px) {
    .sf-blazor-home #mob-banner-img {
        height: 796px !important;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 41px;
        height: 264px;
        width: 404px;
        margin-left: 70px;
        text-align: center;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width: 500px) and (max-width: 549px) {
    .sf-blazor-home #mob-banner-img {
        height: 763px !important;
    }

    .sf-blazor-home .banner-text {
        font-size: 44px;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: 29px;
        height: 263px;
        width: 400px;
        margin-left: 56px;
        text-align: center;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width: 470px) and (max-width: 499px) {
    .sf-blazor-home #mob-banner-img {
        height: 794px !important;
    }

    .sf-blazor-home .banner-text {
        font-size: 33px;
        letter-spacing: 0;
        line-height: 38px;
        margin-top: 27px;
        height: 163px;
        width: 332px;
        margin-left: 38px;
        text-align: center;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width: 400px) and (max-width: 469px) {
    .sf-blazor-home #mob-banner-img {
        height: 626px !important;
    }

    .sf-blazor-home .banner-text {
        font-size: 33px;
        letter-spacing: 0;
        line-height: 38px;
        margin-top: 27px;
        height: 163px;
        width: 332px;
        margin-left: 38px;
        text-align: center;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width: 370px) and (max-width: 399px) {
    .sf-blazor-home #mob-banner-img {
        height: 643px !important;
    }

    .sf-blazor-home .banner-text {
        font-size: 33px;
        letter-spacing: 0;
        line-height: 38px;
        margin-top: 33px;
        height: 193px;
        width: 317px;
        text-align: center;
        margin-left: 26px;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}

@media (min-width: 350px) and (max-width: 369px) {
    .sf-blazor-home #mob-banner-img {
        height: 640px !important;
    }

    .sf-blazor-home .banner-text {
        font-size: 33px;
        letter-spacing: 0;
        line-height: 38px;
        margin-top: 33px;
        height: 203px;
        width: 317px;
        margin-left: 22px;
        text-align: center;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }

    .sf-blazor-home .componet-head {
        font-size: 26px !important;
        line-height: 34px;
        width: 342px;
        height: 66px;
        padding-left: 0px;
    }
}

@media (max-width: 349px) {
    .sf-blazor-home #mob-banner-img {
        height: 586px !important;
    }

    .sf-blazor-home .banner-text {
        font-size: 33px;
        letter-spacing: 0;
        line-height: 38px;
        margin-top: 29px;
        height: 190px;
        width: 334px;
        padding: 0px 21px;
        text-align: center;
    }

    .sf-blazor-home .subheader-logo {
        width: 221px;
    }
}


/* Landscope mode - iphone X */

@media (max-width: 812px) {
    .sf-blazor-home #company-list {
        padding-top: 30px !important;
        margin-top: 50px !important;
    }

    .sf-blazor-home .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .sf-blazor-home p.bannner-text {
        font-size: 36px !important;
        line-height: 44px !important;
        margin-left: 23px !important;
        width: 273px !important;
        padding-top: 60px !important;
        margin-top: 0 !important;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-bottom: 0 !important;
    }

    .sf-blazor-home .mb-search {
        margin-top: -6.1% !important;
        margin-left: 92.5% !important;
    }
}

/* Ipad */

@media (max-width: 768px) {
    .sf-blazor-home .sample-head {
        padding-bottom: 50px !important;
    }

    .sf-blazor-home #company-list {
        margin-top: 60px !important;
    }

    .sf-blazor-home .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .sf-blazor-home .componet-head {
        margin-bottom: 5px !important;
        font-size: 26px !important;
    }

    .sf-blazor-home .sample-list,
    .sf-blazor-home .sample-list .sample-group {
        padding: 0px;
    }

        .sf-blazor-home .sample-list .sample-group {
            width: 100%;
        }

    .sf-blazor-home .footer-list {
        padding-left: 15px;
    }

    .sf-blazor-home .badge-css {
        padding-top: 5px;
    }

    .sf-blazor-home .mb-search {
        margin-top: -6.5% !important;
        margin-left: 93.5% !important;
    }

    .sf-blazor-home #search-box {
        max-width: 98% !important;
        margin-left: 1% !important;
        margin-top: 1% !important;
    }

    .sf-blazor-home .desk-search {
        width: 208px !important;
    }
}

@media (max-width: 768px) {
    .sf-blazor-home .sample-list {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Landscope mode - iphone 6,7,8 and plus */

@media (max-width: 736px) {
    .sf-blazor-home #company-list {
        padding-top: 30px !important;
        margin-top: 50px !important;
    }

    .sf-blazor-home .mb-search {
        margin-top: -7.8% !important;
        margin-left: 91.7% !important;
    }
}

/* Landscope mode - pixel 2 */

@media (max-width: 731px) {
    .sf-blazor-home .mb-search {
        margin-top: -7.5% !important;
        margin-left: 91% !important;
    }
}

/* Landscope mode - iphone 6,7,8 */

@media (max-width:667px) {
    .sf-blazor-home .mb-search {
        margin-top: -7.2% !important;
        margin-left: 92.5% !important;
    }
}


/* Landscope mode - galaxy not 2,3 */

@media (max-width: 640px) {
    .sf-blazor-home .mb-search {
        margin-top: -8.8% !important;
        margin-left: 90% !important;
    }
}

/* Landscope mode - Iphone 5 and SE */

@media (max-width:568px) {
    .sf-blazor-home .mb-search {
        margin-top: -10.2% !important;
        margin-left: 87.5% !important;
    }
}

/* Landscope mode - Iphone 4 */

@media (max-width:480px) {
    .sf-blazor-home .mb-search {
        margin-top: -12.1% !important;
        margin-left: 89% !important;
    }
}

/* Iphone 6,7,8 and plus */

@media (max-width: 414px) {
    .sf-blazor-home .mob-image {
        display: block !important;
    }

    .sf-blazor-home .desk-image {
        display: none !important;
    }

    .sf-blazor-home h4,
    .sf-blazor-home .h4 {
        font-size: 20px !important;
        line-height: 24px !important;
    }

    .sf-blazor-home #footer-bottom {
        margin-top: 0%;
    }

    .sf-blazor-home .sample-head {
        padding-bottom: 17px !important;
        line-height: 35px;
    }

    .sf-blazor-home #company-list {
        max-height: none !important;
    }

    .sf-blazor-home .mb-search {
        margin-top: -14.0% !important;
        margin-left: 87% !important;
    }

    .sf-blazor-home #mbSearch {
        left: 0px;
        width: 100vw;
    }

    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover {
        border: 0px solid #a7a7a7 !important;
        border-radius: 25px !important;
    }

    .sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 1px solid #1713B0 !important;
        border-radius: 0px !important;
    }

    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover,
    .sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
        border: 0px solid transparent !important;
    }

        .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl select {
            padding-left: 15px;
        }

    .sf-blazor-home input#mob-search-box::placeholder {
        font-size: 15px;
    }
}

@media (max-width: 411px) {
    .sf-blazor-home #mbSearch {
        left: 0px;
        width: 100vw;
    }

    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover {
        border: 0px solid #a7a7a7 !important;
        border-radius: 25px !important;
    }

    .sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 1px solid #1713B0 !important;
        border-radius: 0px !important;
    }
}

/* iphone 6,7,8 */

@media (max-width: 375px) {
    .sf-blazor-home .componet-head {
        margin-top: 20px !important;
        font-size: 26px !important;
        line-height: 36px;
    }

    .sf-blazor-home .sample-head {
        padding-bottom: 17px !important;
        line-height: 35px;
        font-size: 30px;
    }

    .sf-blazor-home .mb-search {
        margin-top: -16.1% !important;
    }

    .sf-blazor-home #mbSearch {
        left: 0px;
        width: 100vw;
    }
}

/* galaxy not 2,3 */

@media (max-width: 360px) {
    .sf-blazor-home .catagory {
        margin-top: 40px !important;
    }

    .sf-blazor-home .sample-head {
        padding-bottom: 0 !important;
        font-size: 24px;
        margin-right: 0px;
    }

    .sf-blazor-home .mb-search {
        margin-top: -16.1% !important;
        margin-left: 86% !important;
    }

    .sf-blazor-home #mbSearch {
        left: 0px;
        width: 100vw;
    }

    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover {
        border: 0px solid #a7a7a7 !important;
        border-radius: 25px !important;
    }

    .sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 1px solid #1713B0 !important;
        border-radius: 0px !important;
    }
}

/* Iphone 5 and SE */

@media (max-width: 320px) {
    .sf-blazor-home .mb-search {
        margin-top: -18.1% !important;
    }

    .sf-blazor-home #mbSearch {
        right: 0px;
        width: 320px;
    }

    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-ddl.e-input-focus:hover {
        border: 0px solid #a7a7a7 !important;
        border-radius: 25px !important;
    }

    .sf-blazor-home .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
    .sf-blazor-home .e-input-group.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover,
    .sf-blazor-home .e-input-group.e-control-wrapper.e-input-focus.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) .e-input-in-wrap:hover {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 1px solid #1713B0 !important;
        border-radius: 0px !important;
    }
}
