/* https://fonts.google.com/specimen/Roboto?selection.family=Lato|Roboto */
/* Dialog Customization start */

.e-dialog.custom-dialog .e-dlg-header-content + .e-dlg-content {
  padding: 16px;
}

  .e-dialog.custom-dialog .e-dlg-header-content + .e-dlg-content input[type="text"]:not(.e-dropdownbase):not(.db-layer-edit):not(.e-input) {
    width: 100%;
    height: 28px;
    font-weight: normal;
    text-indent: 5px;
    border: 1px solid #D5D5D5;
  }

.db-dialog-child-prop-row {
  margin-top: 6px;
}

.db-dialog-prop-row {
  margin-top: 8px;
}

.e-dialog .e-dlg-header-content {
  height: 36px;
  border-bottom: 1px solid #D5D5D5;
}

#db-send:hover {
  cursor: pointer;
  fill: #102C57;
}

.diagrambuilder-container.hide-toolbar .db-toolbar-editor {
  display: none;
}

#exportMultiplePageDiv label {
  margin-top: 16px;
}

.db-menu-container .e-icons.e-caret {
  display: none;
}

#diagram-space {
  width: 80%;
  float: right;
  border: 1px solid #ccc;
}

#multipleChild {
  width: 20%;
  float: left;
  height: 560px;
}

#textbox {
  overflow-x: auto;
  white-space: pre;
}

.custom-dialog .e-dlg-content {
  padding: 0;
}

.custom-dialog .e-dlg-header {
  font-size: 18px;
}

.custom-ai-assist {
  border: none;
}

.ai-assist-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  font-size: 18px;
  align-items: center;
  text-align: center;
}

  .ai-assist-banner h2 {
    margin: 0;
  }

  .ai-assist-banner .e-icons:before {
    font-size: 40px;
  }

.compose-view,
.output-view {
  width: max(70%, 400px);
  border: 1px solid lightgray;
  padding: 15px;
  margin: 15px auto 20px;
  border-radius: 7px;
}

.custom-btn {
  width: 100%;
  border-radius: 50px;
  margin: 20px 0;
}

.e-dropdown-btn {
  border: none;
  box-shadow: none;
}

.e-fab.e-btn.e-fab-right {
  right: 25px;
  bottom: 25px;
}

.e-dialog .e-dlg-header-content {
  height: auto;
}

.diagram-area {
  height: calc(100% - 78px);
}

.diagrambuilder-container {
  height: calc(100%);
}

#toolbarEditor .e-hscroll-bar {
  overflow-x: initial !important;
}

.e-toolbar-item {
  width: 5px;
}

.activecss {
  background: #ffffff;
}

.e-dropdown-popup {
  background-color: #fff;
  color: #111827;
}

#shortcutDiv span {
  font-size: 14px;
  line-height: 1.42857143;
}

#shortcutDiv ul {
  margin-top: 0;
  margin-bottom: 10px;
}
