@page "/Maps/Bubble"


@using Syncfusion.EJ2.RazorComponents.Maps
@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
        SampleBrowser.CurrentSampleName =  "Bubble";
        SampleBrowser.CurrentControlName = "Maps";
        SampleBrowser.CurrentControlCategory = "Maps";
        SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
        SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample illustrates the top 30 countries which has highest Internet users in bubbles of the year 2016. 
       </p>"
    };
        SampleBrowser.Description = new string[] {
        @"<p>
          In this example, you can see how to render the bubbles for each shape in a map. Values of the shapes can be determined from the size and color of the bubbles. You can bind the desired colors from the data source to the bubbles.
    
        </p>
        <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a bubble or tap a bubble in touch enabled devices.
        </p>
    <br/>
        <p style=""font-weight: 500"">Injecting Module</p>
        <p>
          Maps component features are segregated into individual feature-wise modules. To use the bubbles, inject the <code>Bubble</code> module using the < code > Maps.Inject(Bubble) </ code > method.
        </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsMaps ID="Layout" Layers="@layers" ZoomSettings="@zoomSettings" TitleSettings="@titleSettings"></EjsMaps>
</div>
<div id="template" style="display:none">
    <div class="toolback">
        <div class="listing2">
            <center>
                ${name}
            </center>
        </div>
        <hr style="margin-top: 2px;margin-bottom:5px;border:0.5px solid #DDDDDD">
        <div>
            <span class="listing1">Rank : </span><span class="listing2">${rank}</span>
        </div>
        <div>
            <span class="listing1">Population : </span><span class="listing2">${population}</span>
        </div>
    </div>
</div>
<style>
    .toolback {
        border-radius: 4px;
        border: 1px #abb9c6;
        opacity: 90%;
        background: rgba(53, 63, 76, 0.90);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 165px;
    }

    .listing1 {
        font-size: 13px;
        color: #cccccc
    }

    .listing2 {
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
    }
</style>
@functions {

    public object zoomSettings = new
    {
        enable= true,
        horizontalAlignment= "Near",
        toolBarOrientation= "Vertical",
        pinchZooming= true
    };

    public object titleSettings { get; set; } = new
    {
        text = "Top 30 countries with highest Internet users",
        textStyle = new
        {
            size = "16px"
        }
    };

    public static object[] internetUser =
    {
        new{ rank= 1, name= "China", value= bubblesize(746662194), color= "#7F38A0", population= 746662194},
        new {rank= 2, name= "India", value= bubblesize(391292635), color= "#7F38A0 ", population= 391292635 },
        new {rank= 3, name= "United States", value= bubblesize(245436423), color= "#99295D ",population= 245436423 },
        new {rank= 4, name= "Brazil", value= bubblesize(123927230), color= "#364A98",population= 123927230 },
        new {rank= 5, name= "Japan", value= bubblesize(117528631), color= "#7F38A0 ",population= 117528631 },
        new {rank= 6, name= "Russia", value= bubblesize(110003284), color= "#2E769F",population= 110003284 },
        new {rank= 7, name= "Mexico", value= bubblesize(75937568), color= "#99295D ",population= 75937568 },
        new {rank= 8, name= "Germany", value= bubblesize(73436503), color= "#2E769F", population= 73436503 },
        new {rank= 9, name= "Indonesia", value= bubblesize(66244991), color= "#7F38A0 ", population= 66244991 },
        new {rank= 10, name= "United Kingdom", value= bubblesize(62354410), color= "#2E769F", population= 62354410 },
        new {rank= 11, name= "Philippines", value= bubblesize(57342723), color= "#7F38A0 ", population= 57342723 },
        new {rank= 12, name= "France", value= bubblesize(55413854), color= "#2E769F", population= 55413854 },
        new {rank= 13, name= "Nigeria", value= bubblesize(47743541), color= "#816F28", population= 47743541 },
        new {rank= 14, name= "South Africa", value= bubblesize(47094267), color= "#816F28", population= 47094267 },
        new {rank= 15, name= "Turkey", value= bubblesize(46395500), color= "#2E769F", population= 46395500 },
        new {rank= 16, name= "Vietnam", value= bubblesize(43974618), color= "#7F38A0 ", population= 43974618 },
        new {rank= 17, name= "Iran", value= bubblesize(42731675), color= "#7F38A0 ", population= 42731675 },
        new {rank= 18, name= "Egypt", value= bubblesize(37519531), color= "#816F28", population= 37519531 },
        new {rank= 19, name= "Spain", value= bubblesize(37337607), color= "#2E769F", population= 37337607 },
        new {rank= 20, name= "Italy", value= bubblesize(36442438), color= "#2E769F", population= 36442438 },
        new {rank= 21, name= "Thailand", value= bubblesize(32710169), color= "#7F38A0 ", population= 32710169 },
        new {rank= 22, name= "Canada", value= bubblesize(32602776), color= "#99295D ", population= 32602776 },
        new {rank= 23, name= "Argentina", value= bubblesize(30758972), color= "#364A98", population= 30758972 },
        new {rank= 24, name= "South Africa", value= bubblesize(30248355), color= "#816F28", population= 30248355 },
        new {rank= 25, name= "Pakistan", value= bubblesize(29965859), color= "#7F38A0 ", population= 29965859 },
        new {rank= 26, name= "Bangladesh", value= bubblesize(29738660), color= "#7F38A0 ", population= 29738660 },
        new {rank= 27, name= "Colombia", value= bubblesize(28287098), color= "#364A98", population= 28287098 },
        new {rank= 28, name= "Poland", value= bubblesize(28018492), color= "#2E769F", population= 28018492 },
        new {rank= 29, name= "Malaysia", value= bubblesize(24572446), color= "#7F38A0 ", population= 24572446 },
        new {rank= 30, name= "Saudi Arabia", value= bubblesize(23803319), color= "#7F38A0 ", population= 23803319 },
    };
    public static double bubblesize(int value)
    {
        int max = 1347565324;
        int min = 324366;
        double maxBox = 70 * 70 * 2 * Math.PI;
        double minBox = 3 * 3 * 2 * Math.PI;
        double box = (value - min) / (max - min) * (maxBox - minBox) + minBox;
        if (box < minBox)
            box = minBox;
        return Math.Sqrt(box / (Math.PI * 2)) / 2;
    }

    public List<object> layers { get; set; } = new List<object>
    {
        new {
            shapeData = new {
                async= true,
                dataOptions= "scripts/MapsData/WorldMap.json",
                type= "GET"
            },
            shapeSettings= new {
                    fill= "#E5E5E5"
                },
            bubbleSettings= new List<Object> {
                      new {
                            visible= true,
                            valuePath= "value",
                            colorValuePath= "color",
                            minRadius= 3,
                            maxRadius= 70,
                            opacity= 0.8,
                            dataSource= internetUser,
                            tooltipSettings= new {
                                visible= true,
                                valuePath= "population",
                                template ="#template"
                            }
                        }
            }
        }
    };
}
 