@page "/Maps/OpenStreetMap"


@using Syncfusion.EJ2.RazorComponents.Maps
@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "OpenStreetMap";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
         @"<p>
            This sample visualizes the location of United Nations Headquarters in the OpenStreetMap with marker.
        </p>"
    };
    SampleBrowser.Description = new string[] {
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsMaps ID="Layout" Layers="@layers" ZoomSettings="@zoomSettings" CenterPosition="@centerPosition" TitleSettings="@titleSettings"></EjsMaps>
    </div>
    <div style="float: right">
        <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </div>
    <br />
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href="https://en.wikipedia.org/wiki/Headquarters_of_the_United_Nations" target="_blank">en.wikipedia.org</a>
    </div>
</div>
<style>
    #popuposm_dialog-content {
        display: none !important
    }

    #popuposm_title {
        font-size: 14px !important
    }

    .osmpopup {
        position: relative;
        background-color: white;
    }

        .osmpopup:after {
            content: "";
            position: absolute;
            top: 170%;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -35px;
            border-top: solid 20px white;
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;
        }

    #osmdialog .e-popup {
        min-width: 100px !important
    }
</style>
@code {

    public object zoomSettings = new
    {
        zoomFactor = 10,
        enable = false
    };

    public object titleSettings { get; set; } = new
    {
        text = "Headquarters of the United Nations",
        textStyle = new
        {
            size = "16px"
        }
    };

    public object centerPosition = new {
        latitude = 40.7209,
        longitude = -73.9680
    };
    public List<MapsLayer> layers { get; set; } = new List<MapsLayer>()
    {
        new MapsLayer() {
            LayerType = ShapeLayerType.OSM,
            AnimationDuration= 0,
            MarkerSettings= new List<object>{
                new {
                    visible= true,
                    template= "<div><img src='styles/images/maps/ballon.png' style='height:30px;width:20px;'></img></div>",
                    dataSource= new List<object> {
                        new{ name= "Manhattan, New York, USA",
                             latitude= 40.7488758,
                             longitude= -73.9730091
                           }
                    },
                    tooltipSettings= new {
                        visible= true,
                        valuePath= "name"
                    }
                  }
            }
        }
    };
    }