@page "/Maps/Projection"


@using Syncfusion.EJ2.RazorComponents.Maps
@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Projection";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
    };
    SampleBrowser.Description = new string[] {
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsMaps ID="Layout" Layers="@layers" ZoomSettings="@zoomSettings" TitleSettings="@titleSettings" ></EjsMaps>
</div>
@code {

    public object zoomSettings = new
    {
        enable = false
    };
    public object legendSettings = new
    {
        visible = true
    };
    public object titleSettings { get; set; } = new
    {
        text = "Members of the UN Security Council",
        textStyle = new
        {
            size = "16px"
        },
        subtitleSettings = new
        {
            text = "- In 2017",
            alignment = "Far"
        }
    };
    public List<MapsLayer> layers { get; set; } = new List<MapsLayer>()
    {
        new MapsLayer() {
            ShapeData = new {
                async= true,
                dataOptions= "scripts/MapsData/WorldMap.json",
                type= "GET"
            },
            ShapeDataPath= "Country",
            ShapePropertyPath= "name",
            DataSource = new {
                async= true,
                dataOptions= "scripts/MapsData/projection-datasource.json",
                type= "GET"
            },
            TooltipSettings= new {
                visible= true,
                valuePath= "Country",
            },
            ShapeSettings= new {
                fill= "#E5E5E5",
                colorMapping= new object[] {
                   new {
                        value= "Permanent",
                        color= "#EDB46F"
                    },
                    new {
                        color= "#F1931B",
                        value= "Non-Permanent"
                    }
                },
                colorValuePath= "Membership"
                }
        }
    };
}