@page "/Maps/Annotation"

@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Annotation";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample depicts the facts about Africa in an annotation. Africa shape is filled with gradient color.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
           In this example, you can see how to place a desired HTML element at desired location in the maps. Any number of annotation can be placed on the maps. In this sample, the gradient fill color has been applied for the shape.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsMaps>
            <MapsZoomSettings Enable="false"></MapsZoomSettings>
            <MapsAnnotations>
                <MapsAnnotation X="0%" Y="70%">
                    <ContentTemplate>
                        <div style="color: #DDDDDD;box-shadow: 0px 2px 5px #666;-webkit-box-shadow: 0px 2px 5px #666;-moz-box-shadow: 0px 2px 5px #666;font-size: 12px;width: 300px; width: 300px;border-radius: 2px; -moz-border-radius: 2px;-webkit-border-radius: 2px; font-family: Roboto; background: #3E464C; margin: 20px; padding: 10px;">
                            <div>
                                <p style="margin-left:10px;font-size:13px;font-weight:500">Facts about Africa</p>
                            </div>
                            <hr style="margin-top:-3px;margin-bottom:10px;border:0.5px solid #DDDDDD">
                            <div>
                                <ul style="list-style-type:disc; margin-left:-20px;margin-bottom:2px; font-weight:400">
                                    <li>Africa is the second largest and second most populated continent in the world.</li>
                                    <li style="padding-top:5px;">Africa has 54 sovereign states and 10 non-sovereign territories.</li>
                                    <li style="padding-top:5px;">Algeria is the largest country in Africa, where as Mayotte is the smallest.</li>
                                </ul>
                            </div>
                        </div>
                    </ContentTemplate>
                </MapsAnnotation>
                <MapsAnnotation X="80%" Y="5%">
                    <ContentTemplate>
                        <div>
                            <img src="styles/images/maps/compass.svg" height="75px" width="75px" />
                        </div>
                    </ContentTemplate>
                </MapsAnnotation>
            </MapsAnnotations>
            <MapsLayers>
                <MapsLayer ShapeData="@MapShapeData"
                           ShapePropertyPath='@("name")' ShapeDataPath='@("name")'>
                    <MapsShapeSettings Fill="url(#grad1)"></MapsShapeSettings>
                </MapsLayer>
            </MapsLayers>
        </EjsMaps>
    </div>
</div>
<svg height="150" width="400">
    <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color:#C5494B;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#4C134F;stop-opacity:1" />
        </linearGradient>
    </defs>
</svg>
@code {
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/africa.json",
        type = "GET"
    };

    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
}