@page "/Maps/CyberAttackMap"

@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Cyber Attack Map";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample depicts the layers along with sublayers. Countries in the African and Australian continents are rendered in the sublayers.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to render a sublayer in map. Sublayers are used to render the desired shapes over the existing layers. Any number of sublayers can be added to a map. You can use the <code>fill</code>, <code>width</code>, and <code>color</code> properties in the border to customize the appearance of the shapes.

        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsMaps>
        <MapsTitleSettings Text="Cyber Attack Map of United States">
            <MapsTitleTextStyle Size="16px"></MapsTitleTextStyle>
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer ShapeData="@MapShapeData">
                <MapsShapeSettings Fill="#FFFFE0">
                    <MapsShapeBorder Color="#D2691E" Width="0.2"></MapsShapeBorder>
                </MapsShapeSettings>
                <MapsNavigationLines>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.3" Color="red" Latitude="new double[] { 15.758401, 39.864171 }" Longitude="new double[] { 101.155642, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.4" Color="#ffffb3" Latitude="new double[] { 57.725612, 39.864171 }" Longitude="new double[] { -101.802160, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.2" Color="#ffffb3" Latitude="new double[] { 39.634177, 39.864171 }" Longitude="new double[] { 42.410740, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.1" Color="#ffffb3" Latitude="new double[] { 22.860388, 39.864171 }" Longitude="new double[] { 79.739066, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.1" Color="#ffffb3" Latitude="new double[] { -24.763753, 39.864171 }" Longitude="new double[] { 134.852191, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.4" Color="#ffffb3" Latitude="new double[] { 34.611098, 39.864171 }" Longitude="new double[] { 104.189872, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.8" Color="#ffffb3" Latitude="new double[] { -12.354844, 39.864171 }" Longitude="new double[] { -49.017709, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.4" Color="#ffffb3" Latitude="new double[] { 3.450682, 39.864171 }" Longitude="new double[] { -72.943141, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.7" Color="#ffffb3" Latitude="new double[] { 62.448268, 39.864171 }" Longitude="new double[] { 97.251835, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.3" Color="#ffffb3" Latitude="new double[] { 65.931163, 39.864171 }" Longitude="new double[] { -45.812820, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.2" Color="#ffffb3" Latitude="new double[] { -21.206222, 39.864171 }" Longitude="new double[] { 17.122018, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.2" Color="#ffffb3" Latitude="new double[] { 35.839969, 39.864171 }" Longitude="new double[] { 137.904641, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.2" Color="#ffffb3" Latitude="new double[] { 46.582184, 39.864171 }" Longitude="new double[] { 2.232903, -100.854833 }"></MapsNavigationLine>
                    <MapsNavigationLine DashArray="new int[] { 5,1 }" Visible="true" Angle="-0.2" Color="#ffffb3" Latitude="new double[] { 0.390617, 39.864171 }" Longitude="new double[] { 37.893734, -100.854833 }"></MapsNavigationLine>
                </MapsNavigationLines>
            </MapsLayer>
        </MapsLayers>
    </EjsMaps>
</div>

@code {

    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/WorldMap.json",
        type = "GET"
    };
}