@page "/Maps/DefaultFunctionalities"


@using Syncfusion.EJ2.Blazor.Maps


@*Hidden:Lines*@
@using ej2_blazor_samples
@{
        SampleBrowser.CurrentSampleName="Default Functionalities";
        SampleBrowser.CurrentControlName="Maps";
        SampleBrowser.CurrentControlCategory = "Maps";
        SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
        SampleBrowser.ActionDescription = new string[] {
            @"<p>
            This sample visualizes the continents in the world by rendering these in a map layer. Also marks the office locations of YouTube in the world using markers.
        </p>"
    };
        SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to render a map with the provided GeoJSON data. Group of shapes can be combined to form a layer of the map. You can bind the desired colors from the data source to the map shapes. The marker templates are used to display the names for shapes and mark specific locations. Legend is enabled in this example to represent each continent.
        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a marker or tap a marker in touch enabled devices.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsMaps>
            <MapsLayers>
                <MapsLayer ShapeData='@MapShapeData' DataSource='@DataSource'
                           ShapePropertyPath="@ShapePropertyPath"  ShapeDataPath="@ShapeDataPath">
                    <MapsMarkerSettings>
                        <MapsMarker Visible='true' DataSource='@MarkerDataSource' Height='20' Width='20' Offset="@mapOffset"
                                    AnimationDuration='0' Shape='Syncfusion.EJ2.Blazor.Maps.MarkerType.Image'
                                    ImageUrl='styles/images/maps/ballon.png'>
                            <MapsMarkerTooltipSettings Visible="true" ValuePath="name"></MapsMarkerTooltipSettings>
                        </MapsMarker>
                    </MapsMarkerSettings>
                    <MapsShapeSettings ColorValuePath="color"></MapsShapeSettings>
                </MapsLayer>
            </MapsLayers>
            <MapsZoomSettings Enable='false'></MapsZoomSettings>
            <MapsLegendSettings Visible='true'></MapsLegendSettings>
            <MapsTitleSettings Text="YouTube office locations">
                <MapsTitleTextStyle Size="16px"></MapsTitleTextStyle>
            </MapsTitleSettings>
        </EjsMaps>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href="https://craft.co/youtube/locations" target="_blank">craft.co/youtube/locations</a>
    </div>
</div>

@code {
    public class OffSet
    {
        public double x;
        public double y;
    };

    public OffSet mapOffset = new OffSet
    {
        x = 0.5,
        y = -10
    };

    public String ShapePropertyPath = "continent";
    public String ShapeDataPath = "continent";

    public class MapMarker
    {
        public double latitude;
        public double longitude;
    };
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/WorldMap.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };

    public class MapDataSource
    {
        public string drillColor;
        public string continent;
        public string CategoryName;
        public double Sales;
        public string color;
    };
    public List<MapDataSource> DataSource = new List<MapDataSource>{
            new MapDataSource {
                drillColor= "#C13664",
                continent= "North America",
                CategoryName= "Books",
                Sales= 10882,
                color= "#71B081"
            },
            new MapDataSource {
                drillColor= "#9C3367",
                continent= "South America",
                CategoryName= "Books",
                Sales= 13776,
                color= "#5A9A77"
            },
            new MapDataSource {
                drillColor= "#80306A",
                continent= "Africa",
                CategoryName= "Books",
                Sales= 18718.0,
                color= "#498770"
            },
            new MapDataSource {
                drillColor= "#622D6C",
                continent= "Europe",
                CategoryName= "Books",
                Sales= 3746,
                color= "#39776C"
            },
            new MapDataSource {
                drillColor= "#462A6D",
                continent= "Asia",
                CategoryName= "Books",
                Sales= 10688,
                color= "#266665"
            },
            new MapDataSource {
                drillColor= "#2A2870",
                continent= "Australia",
                CategoryName= "Books",
                Sales= 30716,
                color= "#124F5E"
            }
    };
    public class MapMarkerDataSource
    {
        public double latitude;
        public double longitude;
        public string name;
    };
    public List<MapMarkerDataSource> MarkerDataSource = new List<MapMarkerDataSource> {
        new MapMarkerDataSource{ latitude= 37.6276571, longitude= -122.4276688, name= "San Bruno" },
        new MapMarkerDataSource{ latitude= 33.5302186, longitude= -117.7418381, name= "Laguna Niguel" },
        new MapMarkerDataSource{ latitude= 40.7424509, longitude= -74.0081468, name= "New York" },
        new MapMarkerDataSource{ latitude= -23.5268201, longitude= -46.6489927, name= "Bom Retiro" },
        new MapMarkerDataSource{ latitude= 43.6533855, longitude= -79.3729994, name= "Toronto" },
        new MapMarkerDataSource{ latitude= 48.8773406, longitude= 2.3299627, name= "Paris" },
        new MapMarkerDataSource{ latitude= 52.4643089, longitude= 13.4107368, name= "Berlin" },
        new MapMarkerDataSource{ latitude= 19.1555762, longitude= 72.8849595, name= "Mumbai" },
        new MapMarkerDataSource{ latitude= 35.6628744, longitude= 139.7345469, name= "Minato" },
        new MapMarkerDataSource{ latitude= 51.5326602, longitude= -0.1262422, name= "London" }
    };
}

<style>
    .markerTemplate {
        font-size: 12px;
        color: white;
        text-shadow: 0px 1px 1px black;
        font-weight: 500
    }
</style>