@page "/Maps/Drilldown"

@using Syncfusion.EJ2.Blazor.Maps
@using Syncfusion.EJ2.Blazor.Inputs
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Drill Down";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
            @"<p>
            This sample depicts the zooming and panning options in the maps. You can customize these options by changing the Zooming, Mouse wheel zoom, Pinch zoom, Single-click zoom, and Double-click zoom in the Properties panel.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to zoom and pan the map. The support has been provided for zooming with toolbar, rectangle zoom, pinch zoom, mouse wheel zoom, single-click and double-click zoom.
        </p>
        <br />
        </ p >"
    };
}
@*End:Hidden*@
    <div class="control-section">
        <EjsMaps>
           <MapsZoomSettings Enable="false"></MapsZoomSettings>
            <MapsLayers>
                <MapsLayer ShapeData="@WorldMap" LayerType="ShapeLayerType.Geometry" ShapePropertyPath='@("continent")' ShapeDataPath="continent" DataSource="@DataSource">
                    <MapsShapeSettings ColorValuePath="drillColor">
                    </MapsShapeSettings>
                   <MapsLayerTooltipSettings Visible="true" ValuePath="continent"></MapsLayerTooltipSettings>
                </MapsLayer>
            </MapsLayers>
        </EjsMaps>
    </div>
      <div align="center">
        <p>
            <i>
                <div align="center">
                    <p style="font-size: 16px;color:grey">Click on a shape to drill</p>
                </div>
            </i>
        </p>
    </div>
@code {

    public MapDataSettings WorldMap = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/WorldMap.json",
        type = "GET"
    };
    public MapDataSettings Africa = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/africa.json",
        type = "GET"
    };
    public MapDataSettings Europe = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/europe.json",
        type = "GET"
    };
    public MapDataSettings Asia = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/asia.json",
        type = "GET"
    };
    public MapDataSettings NorthAmerica = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/north-america.json",
        type = "GET"
    };
    public MapDataSettings SouthAmerica = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/south-america.json",
        type = "GET"
    };
    public MapDataSettings Oceania = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/oceania.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public class MapDataSource
    {
        public string drillColor;
        public string continent;
        public string CategoryName;
        public double Sales;
        public string color;
    };
    public List<MapDataSource> DataSource = new List<MapDataSource>{
            new MapDataSource {
                drillColor= "#C13664",
                continent= "North America",
                CategoryName= "Books",
                Sales= 10882,
                color= "#71B081"
            },
            new MapDataSource {
                drillColor= "#9C3367",
                continent= "South America",
                CategoryName= "Books",
                Sales= 13776,
                color= "#5A9A77"
            },
            new MapDataSource {
                drillColor= "#80306A",
                continent= "Africa",
                CategoryName= "Books",
                Sales= 18718.0,
                color= "#498770"
            },
            new MapDataSource {
                drillColor= "#622D6C",
                continent= "Europe",
                CategoryName= "Books",
                Sales= 3746,
                color= "#39776C"
            },
            new MapDataSource {
                drillColor= "#462A6D",
                continent= "Asia",
                CategoryName= "Books",
                Sales= 10688,
                color= "#266665"
            },
            new MapDataSource {
                drillColor= "#2A2870",
                continent= "Australia",
                CategoryName= "Books",
                Sales= 30716,
                color= "#124F5E"
            }
    };
}