@page "/Maps/HighlightedRegion"

@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Highlighted Region";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
            @"<p>
            This sample visualizes the continents in the world by rendering these in a map layer. Also marks the office locations of YouTube in the world using markers.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to render a map with the provided GeoJSON data. Group of shapes can be combined to form a layer of the map. You can bind the desired colors from the data source to the map shapes. The marker templates are used to display the names for shapes and mark specific locations. Legend is enabled in this example to represent each continent.
        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a marker or tap a marker in touch enabled devices.
        </p>
        <br />
        <p style=""font-weight: 500"">Injecting Module</p>
        <p>
            Maps component features are segregated into individual feature-wise modules. To use a marker, inject the <code>Marker</code> module using the < code > Maps.Inject(Marker) </ code > method, and use a legend by injecting the<code> Legend</ code > module.


              </ p > "
    };
}
@*End:Hidden*@

    <div class="control-section">
        <div style="width:300px;margin:0 auto;padding-bottom:10px">
            <img src="styles/images/maps/atm.jpg" style="width:25px;height:25px;float:left">
            <div style="padding-left:30px;font-size:18px;font-weight:400;">ATM locations in Oklahoma, USA</div>
        </div>
        <div>
            <EjsMaps>
                <MapsCenterPosition Latitude="35.65" Longitude="-97.3"></MapsCenterPosition>
                <MapsZoomSettings Enable="false" ZoomFactor="1.75"></MapsZoomSettings>
                <MapsLayers>
                    <MapsLayer AnimationDuration="1000" ShapeData="@MapShapeData">
                        <MapsShapeSettings Fill="#F5F5F5">
                            <MapsShapeBorder Color="#EEDA97" Width="1"></MapsShapeBorder>
                        </MapsShapeSettings>
                        <MapsMarkerSettings>
                            <MapsMarker Width="20" Height="20" AnimationDuration="0" Visible="true" Shape="MarkerType.Image" ImageUrl="styles/images/maps/ballon.png" Fill="#000080" DataSource="@AtmMarkerData">
                                <MapsMarkerBorder Color="transparent"></MapsMarkerBorder>
                            </MapsMarker>
                            <MapsMarker Width="130" Height="130" AnimationDuration="0" Visible="true" Shape="MarkerType.Circle" Fill="rgba(70,130,180,0.3)" DataSource="@MarkerAtmGroup">
                                <MapsMarkerBorder Color="transparent"></MapsMarkerBorder>
                                <MapsMarkerTooltipSettings Visible="true" ValuePath="text"></MapsMarkerTooltipSettings>
                            </MapsMarker>
                            <MapsMarker Width="100" Height="100" AnimationDuration="0" Visible="true" Shape="MarkerType.Circle" Fill="rgba(70,130,180,0.3)" DataSource="@AtmMarkerGroup">
                                <MapsMarkerBorder Color="transparent"></MapsMarkerBorder>
                                <MapsMarkerTooltipSettings Visible="true" ValuePath="text"></MapsMarkerTooltipSettings>
                            </MapsMarker>
                        </MapsMarkerSettings>
                    </MapsLayer>
                </MapsLayers>
            </EjsMaps>
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://www.google.co.in/maps/search/atm+in+oklahoma/35.3864432,-98.2888719,8z/data=!3m1!4b1" target="_blank">www.google.co.in/maps</a>
        </div>
    </div>

@code {

    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/oklahoma.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public class Data
    {
        public double latitude;
        public double longitude;
        public string text;
    };
    public class Marker
    {
        public double latitude;
        public double longitude;
        public string name;
    };

    public class MarkerData
    {
        public double latitude;
        public double longitude;
    };
    public class MarkerGroup
    {
        public double latitude;
        public double longitude;
        public string text;
    };
    public List<MarkerGroup> AtmMarkerGroup = new List<MarkerGroup>
    {
        new MarkerGroup { latitude = 35.5112516, longitude = -97.5843,  text = "10/18 ATMs"}
    };
    public List<MarkerGroup> MarkerAtmGroup = new List<MarkerGroup>
    {
        new MarkerGroup { latitude = 36.0808845, longitude = -96.0205078,   text = "5/18 ATMs"}
    };
    public List<MarkerData> AtmMarkerData = new List<MarkerData>
{
        new MarkerData { latitude=35.6379762, longitude=-97.4823761 },
        new MarkerData { latitude=35.5676663, longitude=-97.5128031 },
        new MarkerData { latitude=35.5412361, longitude=-97.601552 },
        new MarkerData { latitude=35.5451471, longitude=-97.5661039 },
        new MarkerData { latitude=35.5120376, longitude=-97.5918531 },
        new MarkerData { latitude=35.5112516, longitude=-97.5843 },
        new MarkerData { latitude=35.4737072, longitude=-97.5158072 },
        new MarkerData { latitude=35.4575239, longitude=-97.6179457 },
        new MarkerData { latitude=35.4362676, longitude=-97.5998354 },
        new MarkerData { latitude=35.3954872, longitude=-97.5962305 },
        new MarkerData { latitude=35.3492258, longitude=-97.5294113 },
        new MarkerData { latitude=35.5260794, longitude=-98.7032318 },
        new MarkerData { latitude=34.7827916, longitude=-98.3001709 },
        new MarkerData { latitude=34.0793936, longitude=-98.5583496 },
        new MarkerData { latitude=36.1434199, longitude=-97.0690155 },
        new MarkerData { latitude=36.0170318, longitude=-96.11063 },
        new MarkerData { latitude=36.1608845, longitude=-96.0205078 },
        new MarkerData { latitude=36.1323292, longitude=-95.9624863 },
        new MarkerData { latitude=36.1317746, longitude=-95.9046364 },
        new MarkerData { latitude=36.1604341, longitude=-95.8885002 },
    };
    public List<Marker> MarkerAtmData = new List<Marker>
{
        new Marker { longitude=-101.9450281, latitude=35.2018863, name="Amarillo" },
        new Marker { longitude=-98.0971969, latitude=35.5514624, name="El Reno" },
        new Marker { longitude=-97.8432238, latitude=35.5150073, name="Yukon" },
        new Marker { longitude=-97.2557752, latitude=35.4933852, name="Harrah" },
        new Marker { longitude=-97.1019391, latitude=35.3620257, name="Shawnee" },
        new Marker { longitude=-97.072877, latitude=35.6853011, name="Wellston" },
        new Marker { longitude=-96.2093353, latitude=36.133417, name="Lotsee" },
        new Marker { longitude=-96.3077788, latitude=36.1879088, name="Sand Springs" },
        new Marker { longitude=-98.7075369, latitude=35.931371, name="Oakwood" },
        new Marker { longitude=-98.0003367, latitude=35.0403272, name="Chickasha" },
        new Marker { longitude=-97.1836494, latitude=36.4595554, name="Red Rock" },
        new Marker { longitude=-96.7148021, latitude=35.4859752, name="Prague'l" },
        new Marker { longitude=-97.9339651, latitude=36.1022835, name="Hennessey" },
        new Marker { longitude=-96.2595621, latitude=35.2453183, name="Wetumka" },
        new Marker { longitude=-97.4499583, latitude=35.0304344, name="Purcell" },
        new Marker { longitude=-96.1059044, latitude=35.605942, name="Okmulgee" },
        new Marker { longitude=-97.9684792, latitude=35.8439429, name="Kingfisher" },
        new Marker { longitude=-95.7691956, latitude=34.9332303, name="McAlester" },
        new Marker { longitude=-96.1289978, latitude=34.3853794, name="Atoka" },
        new Marker { longitude=-97.1191406, latitude=34.5042932, name="Davis" },
        new Marker { longitude=-98.0310059, latitude=37.1537496, name="Anthony" },
        new Marker { longitude=-98.3564758, latitude=36.7542898, name="Cherokee" },
        new Marker { longitude=-95.3695679, latitude=35.7476268, name="Muskogee" },
        new Marker { longitude=-95.582428, latitude=35.2871057, name="Eufaula" },
        new Marker { longitude=-96.9412994, latitude=36.0446575, name="Mehan" },
        new Marker { longitude=-99.0925598, latitude=35.0299964, name="Hobart" },
        new Marker { longitude=-98.4924316, latitude=33.9137338, name="Wichita Falls" },
        new Marker { longitude=-98.9675903, latitude=35.5154609, name="Clinton" },
        new Marker { longitude=-98.923645, latitude=36.1478557, name="Seiling" },
        new Marker { longitude=-99.2985535, latitude=36.1500735, name="Vici" },
        new Marker { longitude=-95.3173828, latitude=36.3084855, name="Pryor" },
        new Marker { longitude=-96.7524719, latitude=34.9596836, name="Konawa" }

    };
}