@page "/Maps/NavigationLines"

@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Navigation Lines";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
            @"<p>
            This sample illustrates the sea routes between various cities for shipping.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to render lines between two points in map. You can use DashArray, Width and Color properties to customize the appearance of the navigation lines.
        </p>
        </p>
        <br />
        </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsMaps>
        <MapsTitleSettings Text="Shipping sea route between various cities">
            <MapsTitleTextStyle Size="18px"></MapsTitleTextStyle>
        </MapsTitleSettings>
        <MapsZoomSettings Enable="false"
                          MouseWheelZoom="false" 
                          ZoomFactor="13">
        </MapsZoomSettings>
        <MapsAreaSettings Background="#4863A0"></MapsAreaSettings>
        <MapsCenterPosition Latitude="25.54244147012483"
                            Longitude="-89.62646484375">
        </MapsCenterPosition>
        <MapsLayers>
            <MapsLayer ShapeData="@MapShapeData">
                <MapsShapeSettings Fill="#789071"></MapsShapeSettings>
                 <MapsNavigationLines>
                    <MapsNavigationLine Visible="true"
                                        Angle="0.01"
                                        DashArray="1"
                                        Color="white"
                                        Latitude="new double[] { 22.403410892712124, 29.756032197482973 }"
                                        Longitude="new double[] { -97.8717041015625, -95.36270141601562 }">
                    </MapsNavigationLine>
                    <MapsNavigationLine Visible="true"
                                        Angle="0.01"
                                        DashArray="1"
                                        Color="white" 
                                        Latitude="new double[] { 22.403410892712124, 30.180747605060766 }" 
                                        Longitude="new double[] { -97.8717041015625, -85.81283569335938 }">
                    </MapsNavigationLine>
                    <MapsNavigationLine Visible="true"
                                        Angle="0.01"
                                        DashArray="1"
                                        Color="white"
                                        Latitude="new double[] { 22.403410892712124, 27.9337540167772 }"
                                        Longitude="new double[] { -97.8717041015625, -82.49908447265625 }">
                    </MapsNavigationLine>
                    <MapsNavigationLine Visible="true"
                                        Angle="0.01"
                                        DashArray="1"
                                        Color="white"
                                        Latitude="new double[] { 22.403410892712124, 21.282336521195344 }"
                                        Longitude="new double[] { -97.8717041015625, -89.6649169921875 }">
                    </MapsNavigationLine>
                    <MapsNavigationLine Visible="true"
                                        Angle="0.01"
                                        DashArray="1"
                                        Color="white"
                                        Latitude="new double[] { 29.756032197482973, 21.282336521195344 }"
                                        Longitude="new double[] { -95.36270141601562, -89.6649169921875 }">
                    </MapsNavigationLine>
                    <MapsNavigationLine Visible="true"
                                        Angle="0.01"
                                        DashArray="1"
                                        Color="white"
                                        Latitude="new double[] { 30.180747605060766, 21.282336521195344 }"
                                        Longitude="new double[] { -85.81283569335938, -89.6649169921875 }">
                    </MapsNavigationLine>
                    <MapsNavigationLine Visible="true"
                                        Angle="0.01"
                                        DashArray="1"
                                        Color="white" 
                                        Latitude="new double[] { 27.9337540167772, 21.282336521195344 }"
                                        Longitude="new double[] { -82.49908447265625, -89.6649169921875 }">
                    </MapsNavigationLine>
                 </MapsNavigationLines>
                  <MapsMarkerSettings>
                    <MapsMarker Visible="true" Shape="MarkerType.Circle" Fill="white" Width="10" Height="10" AnimationDuration="0" DataSource="@PenisularMarker"></MapsMarker>
                  </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </EjsMaps>
    <div style="float: right; margin-right: 10px;">
            Source:
            <a href="http://www.lineaships.com/en/linea-peninsular/" target="_blank">www.lineaships.com</a>
     </div>
</div>


@code {
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/WorldMap.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public class Country
    {
        public double latitude;
        public double longitude;
        public string name;
    };
    public List<Country> PenisularMarker = new List<Country>
    {
        new Country { latitude=22.403410892712124, longitude=-97.8717041015625, name="ALTAMIRA" },
        new Country { latitude=29.756032197482973, longitude=-95.36270141601562, name="HOUSTON" },
        new Country { latitude=30.180747605060766, longitude=-85.81283569335938, name="PANAMA CITY" },
        new Country { latitude=27.9337540167772, longitude=-82.49908447265625, name="TAMPA" },
        new Country { latitude=21.282336521195344, longitude=-89.6649169921875, name="PROGRESO" }
    };
}
