@page "/Maps/OpenStreetMap"


@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "OpenStreetMap";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
            @"<p>
            This sample visualizes the location of United Nations Headquarters in the OpenStreetMap with marker.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render the OpenStreetMap. The location of United Nations Headquarters is denoted using marker. The EJ2 Dialog is displayed on the top of the marker and the zooming feature is enabled to zoom and pan the map for detailed analysis.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsMaps>
            <MapsTitleSettings Text="Headquarters of the United Nations">
            </MapsTitleSettings>
            <MapsCenterPosition Latitude=40.7209 Longitude=-73.9680></MapsCenterPosition>
            <MapsZoomSettings Enable="false" ZoomFactor=10></MapsZoomSettings>
            <MapsLayers>
                <MapsLayer LayerType="ShapeLayerType.OSM" AnimationDuration=0>
                    <MapsMarkerSettings>
                        <MapsMarker Visible="true" DataSource="@MarkerDatas" Height='30' Width='20' ImageUrl='styles/images/maps/ballon.png'>
                            <MapsMarkerTooltipSettings Visible="true" ValuePath="name"></MapsMarkerTooltipSettings>
                        </MapsMarker>
                    </MapsMarkerSettings>
                </MapsLayer>
            </MapsLayers>
        </EjsMaps>
    </div>
    <div style="float: right">
        <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </div>
    <br />
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href="https://en.wikipedia.org/wiki/Headquarters_of_the_United_Nations" target="_blank">en.wikipedia.org</a>
    </div>
</div>

@code {
    public class MarkerData
    {
        public string name;
        public double latitude;
        public double longitude;
    }
    public List<MarkerData> MarkerDatas = new List<MarkerData> {
        new MarkerData { name= "Manhattan, New York, USA",  latitude= 40.7488758, longitude= -73.9730091 }
    };
}

<style>
    #popuposm_dialog-content {
        display: none !important
    }

    #popuposm_title {
        font-size: 14px !important
    }

    .osmpopup {
        position: relative;
        background-color: white;
    }

        .osmpopup:after {
            content: "";
            position: absolute;
            top: 170%;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -35px;
            border-top: solid 20px white;
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;
        }

    #osmdialog .e-popup {
        min-width: 100px !important
    }
</style>