@page "/maps/open-street-map"


@using Syncfusion.Blazor.Maps

@inherits SampleBaseComponent;

<div class="control-section">
    <SfMaps ModelType="@typeof(IDataTemplate)">
        <MapsTitleSettings Text="Headquarters of the United Nations"/>
        <MapsCenterPosition Latitude="40.7209" Longitude="-73.9680"/>
        <MapsZoomSettings Enable="false" ZoomFactor="10"/>
        <MapsLayers>
            <MapsLayer LayerType="ShapeLayerType.OSM">
                <MapsMarkerSettings>
                    <MapsMarker Visible="true" DataSource="@MarkerDatas">
                        <ChildContent>
                            <MapsMarkerTooltipSettings Visible="true" ValuePath="Name"/>
                        </ChildContent>
                        <MarkerTemplate>
                            @{
                                <div>
                                    <img class="markerTemplate" style="margin-top:-10px;margin-left:-10px;" src="styles/images/maps/ballon.png" />                                        
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </div>
    <br />
    <div class="urllink">
        Source:
        <a href="https://en.wikipedia.org/wiki/Headquarters_of_the_United_Nations" target="_blank">en.wikipedia.org</a>
    </div>
</div>
<style>
    .markerTemplate {
        height: 30px;
        width: 20px;
        display: block;
        margin: auto;
        font-size: 14px;
    }
</style>
@code {
    public class MarkerData {
        public string Name;
        public double Latitude;
        public double Longitude;
    }
    public List<MarkerData> MarkerDatas = new List<MarkerData> {
        new MarkerData { Name="Manhattan, New York, USA",  Latitude=40.7488758, Longitude=-73.9730091 }
    };
}