@page "/Maps/OSMNavigation"

@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "OSM with Navigation Line";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
       In this example, you can see how to render a map with various projections. You can use the ColorMapping property to customize the color of the shapes.
   </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
       Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices.
    </p>
<br/>
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>
     Maps component features are segregated into individual feature-wise modules. To use a tooltip, inject the <code>MapsTooltip</code> module using the < code > Maps.Inject(MapsTooltip) </ code > method.
    </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsMaps>
        <MapsTitleSettings Text="Flight route from Los Angeles to Mexico city">
            <MapsTitleTextStyle Size="16px"></MapsTitleTextStyle>
        </MapsTitleSettings>
        <MapsZoomSettings Enable="false" ZoomFactor="5"></MapsZoomSettings>
        <MapsCenterPosition Latitude="27.0902" Longitude="-105.7129"></MapsCenterPosition>
        <MapsLayers>
            <MapsLayer LayerType="ShapeLayerType.OSM">
                <MapsNavigationLines>
                    <MapsNavigationLine Visible="true" Width="8" Angle="-0.05" Color="#00ace6" Latitude="new double[] { 23.6445, 34.0522 }" Longitude="new double[] { -102.832, -118.2437 }"></MapsNavigationLine>
                </MapsNavigationLines>
            </MapsLayer>
        </MapsLayers>
    </EjsMaps>
</div>