@page "/maps/osm-sublayer"

@using Syncfusion.Blazor.Maps

@inherits SampleBaseComponent;

<div class="control-section">
    <SfMaps>
        <MapsZoomSettings Enable="true"/>
        <MapsTitleSettings Text="Location of Africa continent in the World map">
            <MapsTitleTextStyle Size="16px"/>
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer LayerType="ShapeLayerType.OSM"/>
            <MapsLayer Type="Syncfusion.Blazor.Maps.Type.SubLayer" ShapeData='new {dataOptions ="scripts/MapsData/africa.json"}'>
                <MapsShapeSettings Fill="#5100a3" Opacity="0.4"/>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </div>
    <br />
    <div class="urllink">
        Source:
        <a href="https://www.whatarethe7continents.com/biggest-largest-smallest-continents/" target="_blank">Seven Continents</a>
    </div>
</div>