@page "/dashboard-layout/default"

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-dashboard' aria-label="Feature Tour of Blazor Dashboard Layout">Blazor Dashboard Layout</a> sample demonstrates the default functionalities of the Dashboard Layout component.</p>
</SampleDescription>
<ActionDescription>
   <p>The Dashboard Layout component provides the capability to <code>arrange</code>, <code>resize</code> and <code>reorder</code> the panels within the dashboard layout. </p>
</ActionDescription>

<div class="control-section" id="target">
    <div style="padding-right:10px;padding-bottom:10px;text-align: right;">
        <SfButton CssClass="e-btn e-primary" Content="Add Panel" @onclick="AddClick"></SfButton>
    </div>
    <SfDashboardLayout @ref="dashboardObject" Columns="5" AllowResizing="true">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Id="one" Column="0" Row="0">
                <HeaderTemplate>Panel 1</HeaderTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="two" Row="1" Column="0" SizeX=1 SizeY=2>
                <HeaderTemplate>Panel 2</HeaderTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="three" Row="0" Column="1" SizeX=2 SizeY=2>
                <HeaderTemplate>Panel 3</HeaderTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="four" Row="2" Column="1" SizeX=1 SizeY=1>
                <HeaderTemplate>Panel 4</HeaderTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="five" Row="2" Column="2" SizeX=2 SizeY=1>
                <HeaderTemplate>Panel 5</HeaderTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="six" Row="0" Column="3" SizeX=1 SizeY=1>
                <HeaderTemplate>Panel 6</HeaderTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="seven" Row="1" Column="3" SizeX=1 SizeY=1>
                <HeaderTemplate>Panel 7</HeaderTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="eight" Row="0" Column="4" SizeX=1 SizeY=3>
                <HeaderTemplate>Panel 8</HeaderTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code {
    SfDashboardLayout dashboardObject;
    public int Count = 9;
    

    public async Task AddClick(EventArgs args)
    {
        string ContentValue = this.Count.ToString();
        PanelModel panel = new PanelModel
        {
            Id = this.Count.ToString() + "_layout",
            SizeX = 1,
            SizeY = 1,
            Column = 0,
            Row = 0,
            Header = @<div class='text-align'> Panel @ContentValue </div>
        };
        await dashboardObject.AddPanelAsync(panel);
        this.Count = this.Count + 1;
    }
}

<style>

    .e-dashboardlayout {
        padding: 10px;
    }

    
    .e-panel-header {
        padding: 10px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
    }

    .panel-content {
        vertical-align: middle;
        font-size: 15px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.61);
        text-align: center;
    }

    .e-panel-content {
        height: calc(100% - 28px);
        width: 100%;
        display: block;
    }

    .e-panel .e-header-text {
        padding: 12px 0 12px 0;
    }

    .e-dashboardlayout.e-control .e-panel .e-panel-header {
        font-size: 15px;
        font-weight: 500;
        height: 37px;
        line-height: 30px;
        padding: 10px;
        vertical-align: middle;
        border-bottom: 0.5px solid #e3e3e3;
    }

    .mobile .e-control.e-lib.e-dashboardlayout.e-responsive {
        z-index: 0;
        overflow: scroll;
    }

    .e-control.e-lib.e-dashboardlayout.e-responsive {
        z-index: 0;
    }

    .bootstrap5 .e-dashboardlayout.e-control .e-panel .e-panel-header,
    .bootstrap5-dark .e-dashboardlayout.e-control .e-panel .e-panel-header {
        line-height: 20px;
    }

</style>