@page "/bullet-chart/multiple-data"
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@using ThemeHelper

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager
@*End:Hidden*@

<SampleDescription>
    <p>This sample illustrates a bullet chart with multiple data to compare different values.</p>
</SampleDescription>
<ActionDescription>
    <p>The Blazor Bullet Chart is used to visually compare measures, like the commonly used bar chart. The bullet chart displays one or more measures and compares them with a target value. In this example, you can see how to render and configure the bullet chart for multiple data.
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a feature bar or comparative bar on the bullet chart.</p>
    <p>More information about the data for bullet chart can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/bullet-chart/data-binding" aria-label="Navigate to the documentation for data binding in bullet chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <div align="center">
        <SfBulletChart DataSource="@SprintData"
                       ValueField="CompletedStoryPoints"
                       Theme="@SelectedTheme"
                       TargetField="PlannedStoryPoints"
                       CategoryField="SprintName"
                       ValueFill="#304560"
                       Width="80%"
                       TargetColor="#304560"
                       Height="400"
                       Minimum="5"
                       Maximum="45"
                       Interval="5"
                       Title="Sprint Planning"
                       Subtitle="Estimated in Story Points"
                       TitlePosition="TextPosition.Top">
            <BulletChartTooltip TValue="SprintStoryData" Enable="true"></BulletChartTooltip>
            <BulletChartMinorTickLines Width="0"></BulletChartMinorTickLines>
            <BulletChartRangeCollection>
                <BulletChartRange End="25" Opacity="1" Color="#DBE7F3"> </BulletChartRange>
                <BulletChartRange End="37" Opacity="1" Color="#BBCEE7"></BulletChartRange>
                <BulletChartRange End="45" Opacity="1" Color="#96B2D7"></BulletChartRange>
            </BulletChartRangeCollection>
        </SfBulletChart>
    </div>
</div>

@code{

    public class SprintStoryData
    {
        public double CompletedStoryPoints { get; set; }
        public double PlannedStoryPoints { get; set; }
        public string SprintName { get; set; }
    }

    public List<SprintStoryData> SprintData = new List<SprintStoryData>
    {
        new SprintStoryData { CompletedStoryPoints = 25, PlannedStoryPoints = 20, SprintName = "David" },
        new SprintStoryData { CompletedStoryPoints = 20, PlannedStoryPoints = 25, SprintName = "Asif" },
        new SprintStoryData { CompletedStoryPoints = 10, PlannedStoryPoints = 15, SprintName = "Thomas" },
        new SprintStoryData { CompletedStoryPoints = 39, PlannedStoryPoints = 40, SprintName = "Rohit" },
        new SprintStoryData { CompletedStoryPoints = 40, PlannedStoryPoints = 40, SprintName = "Virat" },
        new SprintStoryData { CompletedStoryPoints = 25, PlannedStoryPoints = 28, SprintName = "Jude" },
        new SprintStoryData { CompletedStoryPoints = 18, PlannedStoryPoints = 10, SprintName = "Warner" },
        new SprintStoryData { CompletedStoryPoints = 28, PlannedStoryPoints = 30, SprintName = "Malik" },
    };
    
    private Theme SelectedTheme { get; set; }

    protected override void OnInitialized()
    {
        SelectedTheme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

}

