@page "/bullet-chart/right-to-left"
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@inject NavigationManager NavigationManager
@using ThemeHelper

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This example shows a bullet chart in RTL mode.</p>
</SampleDescription>
<ActionDescription>
    <p><code>Right-to-left (RTL)</code> is used to render the component from right to left direction, and it can be enabled by setting the <code>EnableRtl</code> property to <b>true</b>. In this demo, you can see that the <code>Feature bar</code>, <code>Comparative bar</code>, <code>Labels</code>, and <code>Targets</code> are aligned from right to left direction.</p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a feature bar or comparative bar on the bullet chart.
    </p>
    <p>More information about the bullet chart can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/bullet-chart/getting-started" aria-label="Navigate to the documentation for getting started with bullet chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" style="height: auto;">
    <div align="center">
        <SfBulletChart DataSource="@RevenueData"
                       ValueField="CurrentValue"
                       TargetField="TargetValue"
                       Theme="@CurrentTheme"
                       Minimum="0"
                       Maximum="300"
                       Interval="@(SampleService != null && SampleService.IsDevice ? 100 : 50)"
                       Title="Revenue YTD"
                       LabelFormat="${value}K"
                       EnableRtl="true"
                       Height="110px"
                       Width="@(SampleService != null && SampleService.IsDevice ? "100%" : "80%")">
            <BulletChartTooltip TValue="RevenueChartData" Enable="true"></BulletChartTooltip>
            <BulletChartRangeCollection>
                <BulletChartRange End="150"></BulletChartRange>
                <BulletChartRange End="250"></BulletChartRange>
                <BulletChartRange End="300"></BulletChartRange>
            </BulletChartRangeCollection>
        </SfBulletChart>
    </div>
</div>

<style>
    .control-section, .sb-content-section {
        min-height: auto !important;
        height: auto !important;
    }
</style>

@code{

    public class RevenueChartData
    {
        public double CurrentValue { get; set; }
        public double TargetValue { get; set; }
    }

    public List<RevenueChartData> RevenueData = new List<RevenueChartData>
    {
        new RevenueChartData { CurrentValue = 270, TargetValue = 250 }
    };
    
    public Theme CurrentTheme { get; set; }

    protected override void OnInitialized()
    {
        CurrentTheme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

}

