@page "/timeline/default-functionalities"

@*Hidden:Lines*@

@using Syncfusion.Blazor.Layouts
@inherits SampleBaseComponent

@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the default functionalities of the Timeline component including the highlighted customization.</p>
</SampleDescription>

<ActionDescription>
    <p>
        The Timeline component enables users to display a series of data in chronological order, such as user activities, tracking progress, and more.
        In this example, we have used the <code>Content</code> tag directive to display the item's content, <code>DotCss</code> property to customize the dot with background color and <code>CssClass</code> to customize the last connector as dashed style.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="default-timeline-section">
        <SfTimeline ID="default">
            <TimelineItems>
                <TimelineItem DotCss="state-success" CssClass="completed">
                    <Content>Ordered <br /> 9:15 AM, January 1, 2024</Content>
                </TimelineItem>
                <TimelineItem DotCss="state-success" CssClass="completed">
                    <Content>Shipped <br /> 12:20 PM, January 4, 2024</Content>
                </TimelineItem>
                <TimelineItem DotCss="state-progress" CssClass="intermediate">
                    <Content>Out for delivery <br /> 07:00 AM, January 8, 2024</Content>
                </TimelineItem>
                <TimelineItem>
                    <Content>Delivered <br /> Estimated delivery by 09:20 AM</Content>
                </TimelineItem>
            </TimelineItems>
        </SfTimeline>
    </div>
</div>

<style>
    /* Customized dot color */
    .default-timeline-section .state-progress {
        outline-color: #007bff;
        background-color: #007bff;
        --dot-size: 25px;
    }

    .default-timeline-section .state-success {
        outline-color: #28a745;
        background-color: #28a745;
    }

    /* Customized connector color */
    .default-timeline-section .completed.e-connector::after {
        border-color: #28a745;
    }

    .default-timeline-section .intermediate.e-connector::after {
        border-style: dashed;
    }

    .default-timeline-section {
        height: 350px;
        width: 520px;
        margin: 30px auto 30px calc(50% - 350px);
    }
</style>
