@page "/StockChart/InversedArea"
@using Syncfusion.EJ2.Blazor.Charts
@using Newtonsoft.Json 
@{
    SampleBrowser.CurrentSampleName = "Inversed Area";
    SampleBrowser.CurrentControlName = "StockChart";
    SampleBrowser.CurrentControlCategory = "StockChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.StockChart;
    SampleBrowser.ActionDescription = new string[] {
         @"<p>
        This sample visualizes stock data with inversed axis. Period and range selector help us to navigate different of data.
    </p>"
    };
    SampleBrowser.Description = new string[] {
         @"<p>
        In this example, you can see how to render and configure the Stock chart. AreaSeries is used to represent selected data value.
    </p>"
    };
}

@if (dataSource == null)
{
    <div class="stockchartloader"></div>
}
else
{
<EjsStockChart Title="AAPL Stock Price">
    <StockChartPrimaryXAxis>
        <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
        <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
    </StockChartPrimaryXAxis>
    <StockChartPrimaryYAxis Interval="40" IsInversed="true">
        <StockChartAxisLineStyle Width="0"></StockChartAxisLineStyle>
        <StockChartAxisMajorTickLines Width="0" Color="transparent"></StockChartAxisMajorTickLines>
        <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
    </StockChartPrimaryYAxis>
    <StockChartCrosshairSettings Enable="true"></StockChartCrosshairSettings>
    <StockChartSeriesCollection>
        <StockChartSeries DataSource="@dataSource" XName="x" YName="high" Type="ChartSeriesType.Area" Fill="#BDEDE9" Name="google"></StockChartSeries>
    </StockChartSeriesCollection>
    <StockChartChartArea>
        <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
    </StockChartChartArea>
</EjsStockChart>
}
@code{

    private ChartData[] dataSource;
    protected override async Task OnInitializedAsync()
    {
        dataSource = JsonConvert.DeserializeObject<ChartData[]>(System.IO.File.ReadAllText("./wwwroot/scripts/StockChartData/googl.json"));
    }
    public class ChartData
    {
        public DateTime x { get; set; }
        public double open { get; set; }
        public double low { get; set; }
        public double close { get; set; }
        public double high { get; set; }
        public double volume { get; set; }
    }

}