@page "/StockChart/OHLC"
@using Syncfusion.EJ2.Blazor.Charts

@{
    SampleBrowser.CurrentSampleName = "OHLC";
    SampleBrowser.CurrentControlName = "StockChart";
    SampleBrowser.CurrentControlCategory = "StockChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.StockChart;
    SampleBrowser.ActionDescription = new string[] {
         @"<p>
        This sample visualizes the Stock Chart with OHLC series.
    </p>"
    };
    SampleBrowser.Description = new string[] {
         @"<p>
        In this example, you can see how to render and configure the Stock chart. HILO Open Close series is used to represent selected data value.
    </p>"
    };
}

@inject HttpClient Http

@if (dataSource == null)
{
   <div class="stockchartloader"></div>
}
else
{
<EjsStockChart ID="container" Title="AAPL Stock Price">

    <StockChartPrimaryXAxis>
        <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
        <StockChartAxisCrosshairTooltip enable="true"></StockChartAxisCrosshairTooltip>
    </StockChartPrimaryXAxis>
    <StockChartPrimaryYAxis>
        <StockChartAxisLineStyle width="0"></StockChartAxisLineStyle>
        <StockChartAxisMajorTickLines width="0"></StockChartAxisMajorTickLines>
    </StockChartPrimaryYAxis>
    <StockChartTooltipSettings Enable="true"></StockChartTooltipSettings>
    <StockChartCrosshairSettings Enable="true"></StockChartCrosshairSettings>
    <StockChartSeriesCollection>
        <StockChartSeries DataSource="@dataSource" Type="ChartSeriesType.HiloOpenClose" XName="x"></StockChartSeries>
    </StockChartSeriesCollection>
    <StockChartChartArea>
        <StockChartChartAreaBorder width="0"></StockChartChartAreaBorder>
    </StockChartChartArea>
</EjsStockChart>
}
@code{

    ChartData[] dataSource;
    protected override async Task OnInitAsync()
    {
        dataSource = await Http.GetJsonAsync<ChartData[]>("scripts/StockChartData/googl.json");
    }
    class ChartData
    {
        public DateTime x { get; set; }
        public double open { get; set; }
        public double low { get; set; }
        public double close { get; set; }
        public double high { get; set; }
        public double volume { get; set; }
    }

}