/* https://fonts.google.com/specimen/Roboto?selection.family=Lato|Roboto */
.e-toolbar .e-toolbar-item .e-tbar-btn:hover {
    border-color: black;
    background-color: lightgray;
}

#DiagramTooltip {
    width: 100% !important;
    height: 100% !important;
}

#MindmapTextStyleToolbar.e-toolbar .e-toolbar-items {
    min-height: auto;
    height: auto;
    width: 100%;
    background: #e3e3e3;
    padding-left: 0px
}


/* Top Header Customization */
.db-menu-container,
.db-diagram-name-container {
    /*height: 32px;*/
}

.db-header-container {
    background-color: #046AE5;
    width: 100%;
}

.db-diagram-name-container {
    padding: 6px 20px;
}

    .db-diagram-name-container #diagramName {
        display: block;
        margin-top: 2px;
    }

    .db-diagram-name-container #diagramEditable {
        display: none;
    }

    .db-diagram-name-container.db-edit-name #diagramName {
        display: none;
    }

    .db-diagram-name-container.db-edit-name #diagramEditable {
        display: block;
        color: black;
    }

#diagramName:hover {
    cursor: pointer;
}

#db-send:hover {
    cursor: pointer;
    fill: #102C57;
}

.db-menu-container {
    padding: 2px 10px;
}

.db-toolbar-editor {
    height: 43px;
    padding: 3px 1px;
}

.db-toolbar-container {
    width: 100%;
    float: left;
}

.db-toolbar-hide-btn {
    float: right;
    margin-top: 5px;
}

    .db-toolbar-hide-btn .e-btn {
        box-shadow: 0 0 0 0;
        background-color: transparent;
        height: 25px;
    }

.db-diagram-name {
    color: #ffffff;
    font-size: 12px;
    float: left;
}


/* Main Content Customization */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/*.sidebar {
    position: absolute;
    width: 255px;
    height: calc(100% - 112px);
}*/

.main-content {
    margin: 0;
    height: calc(100% - 112px);
    position: absolute;
    width: calc(100% - 1px);
}


.db-property-editor-container {
    width: 300px;
    background: #f2f2f2;
    height: 100%;
    float: right;
    padding: 10px;
    overflow: auto;
    border-left: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;
}

.e-icons {
    color: black;
    font-size: 26px;
}

    .e-icons.e-aiassist-chat {
        color: white;
    }
/* Window Show/Hide Customization - start */
.diagrambuilder-container.hide-menubar .db-header-container {
    display: none;
}

.diagrambuilder-container.hide-menubar .sidebar,
.diagrambuilder-container.hide-menubar .main-content {
    top: 48px;
    height: calc(100% - 48px);
}

.diagrambuilder-container.hide-toolbar .db-toolbar-editor {
    display: none;
}

.diagrambuilder-container.hide-toolbar .sidebar,
.diagrambuilder-container.hide-toolbar .main-content {
    height: calc(100% - 64px);
}

.diagrambuilder-container.hide-palette .main-content {
    left: 0px;
    width: 100%;
}

.diagrambuilder-container.hide-palette .sidebar {
    display: none;
}

.diagrambuilder-container.hide-properties .main-content {
    width: 100%;
}

.diagrambuilder-container.hide-properties .db-property-editor-container {
    display: none;
}

.diagrambuilder-container.hide-properties .db-diagram-container {
    width: 100%;
}

.db-current-diagram-container {
    height: calc(100%);
}

.db-textbox-height {
    height: calc(95%);
}

.diagrambuilder-container.hide-pager .db-current-diagram-container {
    height: 100%;
}

.diagrambuilder-container.hide-pager .db-more-diagram-options-container {
    display: none;
}

.diagrambuilder-container.custom-diagram .sidebar {
    z-index: 100000000;
    width: 30px;
    display: block;
}

.diagrambuilder-container.custom-diagram .db-palette-parent {
    display: none;
}

.diagrambuilder-container.custom-diagram .db-palette-more-shapes-text {
    display: none;
}

.diagrambuilder-container.custom-diagram .db-palette-more-shapes {
    display: none;
}

/* Window Show/Hide Customization - end */



/* Page Options Customizaion - Start */

.db-more-diagram-options-container .e-btn {
    text-transform: none;
    font-weight: 400;
    font-size: 12px;
    background-color: #f0f0f0;
}

    .db-more-diagram-options-container .e-btn.db-active-page {
        background-color: #ffffff;
    }

/* Page Options Customizaion - End */

/* Toolbar Disable - Start */

#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-sibling,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-child,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo, #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo {
    pointer-events: none;
}

    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill .e-icons.e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke .e-icons.e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category .e-icons.e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category .e-icons.e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category .e-icons.e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order .e-dropdown-btn .e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-sibling .e-icons.e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-child .e-icons.e-btn-icon,
    #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo .e-icons.e-btn-icon, #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo .e-icons.e-btn-icon {
        color: #bababa;
    }

.diagrambuilder-container.custom-diagram #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-custom-diagram-disable {
    pointer-events: none;
}

    .diagrambuilder-container.custom-diagram #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-custom-diagram-disable .e-tbar-btn,
    .diagrambuilder-container.custom-diagram #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-custom-diagram-disable .e-dropdown-btn {
        background: #f5f5f5;
        border-color: #DADADA;
    }

        .diagrambuilder-container.custom-diagram #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-custom-diagram-disable .e-icons.e-btn-icon,
        .diagrambuilder-container.custom-diagram #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-custom-diagram-disable .e-dropdown-btn .e-btn-icon {
            color: #bababa;
        }

.diagrambuilder-container.custom-diagram #toolbarEditor .db-theme-svg {
    background-image: url('Theme - Disable.svg');
}

/* Toolbar Disable - End */

/* Toolbar Selected State - Start */

.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-selected .e-tbar-btn.e-btn, .e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.tb-item-selected {
    fill: black;
}


    .e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.tb-item-selected .e-btn-icon,
    .tb-property-open #btnHideProperty .tb-hide-button {
        padding-left: 2px;
        margin-left: -6px;
        margin-bottom: 4px;
        color: white;
    }

.e-toolbar-left .e-toolbar-item.tb-item-selected .e-tbar-btn .e-icons.e-btn-icon {
    color: white;
}
/* Toolbar Selected State - End */
/* Toolbar Enable - Start */
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order,
.db-toolbar-container.db-double #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category,
.db-toolbar-container.db-multiple #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category,
.db-toolbar-container.db-select.db-node #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill,
.db-toolbar-container.db-undo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo,
.db-toolbar-container.db-child-sibling #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-child-sibling,
.db-toolbar-container.db-child-sibling #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-child,
.db-toolbar-container.db-redo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo {
    pointer-events: all;
}

    .db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke .e-icons.e-btn-icon,
    .db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category .e-icons.e-btn-icon,
    .db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order .e-dropdown-btn .e-btn-icon:not(.e-caret),
    .db-toolbar-container.db-double #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category .e-icons.e-btn-icon,
    .db-toolbar-container.db-multiple #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category .e-icons.e-btn-icon,
    .db-toolbar-container.db-select.db-node #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill .e-icons.e-btn-icon,
    .db-toolbar-container.db-undo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo .e-icons.e-btn-icon,
    .db-toolbar-container.db-child-sibling #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-child-sibling .e-icons.e-btn-icon,
    .db-toolbar-container.db-child-sibling #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-child .e-icons.e-btn-icon,
    .db-toolbar-container.db-redo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo .e-icons.e-btn-icon,
    .db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke .tb-icons.e-btn-icon,
    .db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill .tb-icons.e-btn-icon,
    .db-toolbar-container.db-select.db-double #toolbarEditor .e-toolbar-items .e-toolbar-item .tb-item-fill-multiple-nodes.tb-icons.e-btn-icon,
    .db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-drawtools-dropdown-btn .e-btn-icon,
    .db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-drawtools-text .tb-icons.e-btn-icon,
    .db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item .e-zoomoption,
    .tb-property-close #btnHideProperty .tb-hide-button,
    #rotateIconBtn .tb-icons e-btn-icon,
    .e-aspectRatioBtn .e-btn-icon {
        color: #6C727F;
    }

.e-dropdown-popup ul .e-item .e-menu-icon {
    color: #6C727F !important;
}

.db-text #rotateIconBtn {
    background: #f2f2f2;
    box-shadow: 0px 0px 0px 0px;
}

.db-node-prop-container .db-prop-row .db-text {
    margin-top: 6px;
}

.e-icons interaction e-icon-expandable {
    padding-top: -1px;
}
/* Toolbar Enable - End */
/* Toolbar Hover */
.db-toolbar-container.db-undo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo {
    min-width: 20px;
    min-height: 20px;
}

.db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-selected .e-tbar-btn.e-btn,
.db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item .e-dropdown-btn.tb-item-selected {
    background: #0078D4;
    min-width: 25px;
    min-height: 25px;
    border-color: transparent;
    color: white;
}

    .db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-selected .e-tbar-btn.e-btn:hover,
    .db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item .e-dropdown-btn.tb-item-selected:hover,
    {
        background: #7d7d7d;
        color: white;
    }

        .db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-selected .e-tbar-btn.e-btn:hover span,
        .db-toolbar-container #toolbarEditor .e-toolbar-items .e-toolbar-item .e-dropdown-btn.tb-item-selected:hover span,
        {
            color: #ffffff;
        }

.db-property-editor-container.db-property-editor-container .e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-selected .e-tbar-btn span:hover {
    /*color: #ffffff;*/
}

.e-toolbar .e-toolbar-item .e-tbar-btn .e-icons {
    color: #605e5c;
}

.db-property-editor-container .e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-selected {
    border: 1px solid lightgrey;
    background-color: transparent;
}

.db-property-editor-container .e-toolbar .e-toolbar-items .e-toolbar-item {
    width: 50px;
}
/* Dropdown list for border style - START */
.db-ddl-template-style .ddl-svg-style {
    background-repeat: no-repeat;
    width: 140px;
    height: 24px;
    display: block;
    margin-top: 10px;
}

.e-input-value .db-ddl-template-style .ddl-svg-style {
    width: 34px;
}

#lineStyle .e-input-value .db-ddl-template-style .ddl-svg-style {
    width: 115px;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
    border: 1px solid #D5D5D5;
}

/*#levelChange:hover {
    border: 1px solid lightgrey;
}
#textColorDiv:hover {
    border: 1px solid lightgrey;
}*/
.e-colorpicker-popup .e-container.e-color-picker {
    border: 1px solid #D5D5D5;
}

.e-colorpicker-container * {
    border: 0px solid #D5D5D5;
}

.e-btn-icon e-icons e-caret {
    border: 1px solid white;
}

.e-toolbar .e-toolbar-item .e-tbar-btn .e-icons.e-btn-icon {
    margin: 0;
    min-width: 12px;
    width: auto;
    font-size: 16px;
    line-height: 14px;
}
/*.e-colorpicker-container * {*/
/* box-sizing: border-box; */
/*border: 1px solid #D5D5D5;
}*/
.e-colorpicker-wrapper, .e-colorpicker-container {
    border: 0px solid #D5D5D5;
}
/*.e-colorpicker-wrapper .e-colorpicker, .e-colorpicker-container .e-colorpicker {
border: 1px solid #D5D5D5;
}
    .e-colorpicker-popup .e-container.e-color-picker {
    border: 1px solid #D5D5D5;
}*/
#MindmapTextStyleToolbar.e-colorpicker-container {
    border: 1px solid #D5D5D5;
}

.db-ddl-template-style {
    padding: 6px 10px;
    height: 36px;
}

.e-input-value .db-ddl-template-style {
    padding: 2px 10px;
    height: 28px;
}

.ddl_linestyle_none {
    background-image: url('common_images/linestyle/0,0.svg');
}

.ddl_linestyle_one_two {
    background-image: url('common_images/linestyle/1,2.svg');
}

.ddl_linestyle_three_three {
    background-image: url('common_images/linestyle/3,3.svg');
}

.ddl_linestyle_five_three {
    background-image: url('common_images/linestyle/5,3.svg');
}

.ddl_linestyle_four_four_one {
    background-image: url('common_images/linestyle/4,4,1.svg');
}


/* Dropdown list for border style - END */

/* Toolbar dropdown customization - START */
.e-dropDown-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.e-dropdown-popup ul {
    font-size: 12px;
    min-width: 150px;
    padding: 0px;
}

    .e-dropdown-popup ul .e-menu-item, .e-contextmenu-container ul .e-menu-item {
        height: 24px;
        line-height: 24px;
        padding: 0px 8px;
    }

        .e-contextmenu-container ul .e-menu-item .e-separator, .e-dropdown-popup ul .e-menu-item.e-separator {
            margin: 0px;
        }

        .e-contextmenu-container ul .e-menu-item .e-menu-icon, .e-dropdown-popup ul .e-menu-item .e-menu-icon {
            font-size: 12px;
            line-height: 24px;
            margin-right: 8px;
            color: #888888;
        }

.e-dropdown-popup.e-arrange-menu ul {
    width: 225px;
}

.e-dropDown-button.e-arrange-menu.e-btn-hide {
    display: none;
}
/* Toolbar dropdown customization - End */
/* Toolbar Customization - End */
/* Property Panel Customization - Start */

.db-prop-header-text {
    font-weight: 600;
    font-size: 13px;
}

.db-prop-row {
    margin-top: 6px;
}

.db-prop-import {
    float: left;
    background-image: url('./bpmn_images/Note.svg');
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    cursor: pointer;
    border: none;
    background-position: center;
    margin-left: 5px;
}

#DropArea {
    padding: 50px 25px;
    margin: 30px auto;
    border: 1px solid #c3c3c3;
    text-align: center;
    width: 20%;
    display: inline-flex;
}

#uploadFiles {
    width: 60%;
    display: block;
    margin-left: 5%;
}

.db-prop-drop-file {
    padding: 26px 30%;
    display: inherit;
    border: 1px dashed #c3c3cc;
    font-size: 13px;
}

.db-prop-drop-import-file {
    padding-top: 15px;
    position: relative;
    display: inherit;
    border: 1px dashed #c3c3cc;
    font-size: 13px
}

.db-prop-col-style {
    padding-left: 0px;
    padding-right: 0px;
}

.db-col-left {
    padding-left: 0px;
    padding-right: 3px;
}

.db-col-center {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.db-col-right {
    padding-left: 0px;
    padding-right: 0px;
}

.db-prop-separator {
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #E5E7EB;
    margin-left: -10px;
    width: calc(100% + 20px);
}

.db-color-container,
.db-text-container {
    width: 100%;
    background: #ffffff;
    border: 1px solid #E0E0E0;
    height: 32px;
    border-radius: 3px;
}

    .db-text-container:hover,
    .db-color-container:hover {
        border: 1px solid #B2B2B2;
    }

.db-color-input {
    width: 100%;
}

.db-color-btn {
    width: 30px;
    height: 100%;
}

.db-btn-import {
    width: 60%;
    text-transform: none;
    box-shadow: 0 0 0 0;
    margin-top: 7px;
    background-color: #ffffff;
    border-color: #D5D5D5;
    color: #515151;
    min-width: 100px;
}

}

.db-color-input, .db-text-input {
    float: left;
    height: 100%;
}

.db-text {
    float: left;
    width: 25px;
    text-align: center;
    height: auto;
    margin-top: 4px;
    color: #8C8C8C;
}

.db-info-text {
    float: left;
    height: 18px;
    margin-top: 2px;
}

.db-info-style {
    float: left;
    background-image: url(./bpmn_images/infoImage.jpg);
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    cursor: pointer;
    border: none;
    background-position: center;
    margin-left: 5px;
}

.db-dialog-child-prop-row {
    margin-top: 6px;
}

.db-text-input {
    width: calc(100% - 25px);
    padding-left: 1px;
}

    .db-text-input input {
        width: 100%;
        height: 100%;
        border: none;
    }

.db-color-container .e-btn,
.db-text-container .e-btn {
    width: 100%;
    height: 100%;
    padding: 0px;
    background: transparent;
    box-shadow: 0 0 0 0;
}

.db-color-container .e-dropdown-btn {
    width: 30px;
}

.db-color-container .e-btn .e-btn-icon,
.db-text-container .e-btn .e-btn-icon {
    font-size: 14px;
    margin-top: 0px;
}

.db-gradient-style-hide .db-col-center,
.db-gradient-style-hide .db-col-right {
    display: none;
}

.db-prop-text-style {
    font-size: 13px;
    color: #333;
    font-weight: normal;
}

.e-btn.e-flat, .e-css.e-btn.e-flat {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
}
/* Property Panel Customization - End */

/* Slider Control Customization - Start */
.e-control-wrapper.e-slider-container.e-horizontal,
.e-control-wrapper.e-slider-container.e-horizontal .e-slider {
    height: 28px;
    top: 0px;
}

/* Slider Control Customization - End */

/* Dialog Customization start */

.e-dialog .e-dlg-header-content + .e-dlg-content {
    padding: 16px;
}

    .e-dialog .e-dlg-header-content + .e-dlg-content input[type="text"]:not(.e-dropdownbase):not(.db-layer-edit):not(.e-input) {
        width: 100%;
        height: 28px;
        font-weight: normal;
        text-indent: 5px;
        border: 1px solid #D5D5D5;
    }

.db-dialog-child-prop-row {
    margin-top: 6px;
}

.db-dialog-prop-row {
    margin-top: 8px;
}

.e-dialog .e-dlg-header-content {
    height: 36px;
    padding: 9.5px 4px 9.5px 16px;
    border-bottom: 1px solid #D5D5D5;
}

    .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
        left: 0px;
        padding: 0;
        top: -6px;
    }
/* Upload Dialog Customization */

#fileUploadDialog .e-footer-content {
    padding: 15px 10px 15px 0px;
}

#uploadInformationDiv {
    display: none;
}

#parentChildRelationDiv {
    display: none;
}

#moreInformationDiv {
    display: none;
}

.e-dlg-content .db-upload-content.firstPage #uploadInformationDiv {
    display: block;
}

.e-dlg-content .db-upload-content.secondPage #parentChildRelationDiv {
    display: block;
}

.e-dlg-content .db-upload-content.thirdPage #moreInformationDiv {
    display: block;
}

#dropArea {
    padding-top: 15px;
    position: relative;
}

#dropRegion {
    padding: 26px 30%;
    display: inherit;
    border: 1px dashed #c3c3cc
}

.e-upload,
.e-upload .e-upload-files .e-upload-file-list,
.e-upload .e-upload-files {
    border: none;
}

.e-file-select-wrap {
    display: none;
}

.droparea {
    font-size: 13px;
}

/* diagram template Customization */

.db-diagram-template-div {
    padding: 10px 0px 10px 10px;
    float: left;
}

.db-diagram-template-image-div {
    border: 1px solid #D5D5D5;
    cursor: pointer;
}

.db-diagram-template-svg-blank-image {
    background-size: contain;
    height: 32px;
    margin: 64px;
}

.db-diagram-template-svg-image {
    height: 135px;
    margin: 11.5px;
}

.db-diagram-template-text {
    font-weight: 500;
    padding-top: 5px;
}

    .db-diagram-template-text span {
        display: block;
        width: 160px;
        text-align: center;
    }

.db-diagram-template-parent-text {
    padding: 8px 0px;
    padding-left: 16px;
}

.temp-left-pane {
    border-right: 1px solid #D4D4D4;
    height: 424px;
    padding: 0px;
}

#openTemplateDialog .e-dlg-content {
    padding: 0px;
}

.db-node-prop-container .db-node-behaviour-prop {
    display: block;
}

.db-node-prop-container.multiple .db-node-behaviour-prop {
    display: none;
}

.db-node-prop-container.multiple.connector .db-background-style {
    display: none;
}

.db-border-style-header {
    display: none;
}

.db-node-prop-container.multiple.connector .db-border-style-header {
    display: block;
}
/* Show/Hide Property Panel Customization End */

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}
/* Animation At Initial Rendering End */

/* General Customization - start */

.db-readonly-input {
    width: 100%;
    height: 28px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    text-indent: 3px;
}

.db-menu-container .e-icons.e-caret {
    display: none;
}

.spinner {
    position: fixed;
    z-index: 900;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75px;
    height: 75px;
    margin: auto;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='royalblue' viewBox='0 0 50 50'%3E%3Cpath d='M28.43 6.378C18.27 4.586 8.58 11.37 6.788 21.533c-1.791 10.161 4.994 19.851 15.155 21.643l.707-4.006C14.7 37.768 9.392 30.189 10.794 22.24c1.401-7.95 8.981-13.258 16.93-11.856l.707-4.006z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

button, input, select, textarea, .e-control.e-dropdownlist .e-input-group.e-ddl input.e-input,
.e-numeric.e-input-group input.e-input {
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

/*sb-hide */
.sb-hide {
    display: none;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #046AE5;
}

#blazor-error-ui {
    display: none;
}

#EditMenuItemsRedo::after {
    content: "Ctrl+Y";
    float: right;
    padding-right: 8px;
}

#EditMenuItemsUndo::after {
    content: "Ctrl+Z";
    float: right;
    padding-right: 8px;
}

#EditMenuItemsCut::after {
    content: "Ctrl+X";
    float: right;
    padding-right: 8px;
}

#EditMenuItemsCopy::after {
    content: "Ctrl+C";
    float: right;
    padding-right: 8px;
}

#EditMenuItemsPaste::after {
    content: "Ctrl+V";
    float: right;
    padding-right: 8px;
}

#EditMenuItemsDelete::after {
    content: "Delete";
    float: right;
    padding-right: 8px;
}

#EditMenuItemsDuplicate::after {
    content: "Ctrl+D";
    float: right;
    padding-right: 8px;
}

#EditMenuItemsSelectAll::after {
    content: "Ctrl+A";
    float: right;
    padding-right: 8px;
}

#FileMenuItemsSave::after {
    content: "Ctrl+S";
    float: right;
    padding-right: 8px;
}

#FileMenuItemsNew::after {
    content: "Shift+N";
    float: right;
    padding-right: 8px;
}

#FileMenuItemsOpen::after {
    content: "Ctrl+O";
    float: right;
    padding-right: 8px;
}

#ViewMenuItemsZoomIn::after {
    content: "Ctrl++";
    float: right;
    padding-right: 8px;
}

#ViewMenuItemsZoomOut::after {
    content: "Ctrl+-";
    float: right;
    padding-right: 8px;
}


/* MindMap  Property Panel Customization Start */
.mindmap-pattern-style {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.org-pattern-parent {
    border: 1px solid #D5D5D5;
    background-color: #ffffff;
    padding: 5px;
    width: calc(50% - 5px);
    margin-right: 5px;
    cursor: pointer;
}

    .org-pattern-parent:hover {
        border: 1px solid #b2b2b2;
    }

.mindmap-pattern1 {
    background-image: url('./mindmap_images/Mind_Map0.svg');
}

.mindmap-pattern2 {
    background-image: url('./mindmap_images/Mind_Map1.svg');
}

.mindmap-pattern3 {
    background-image: url('./mindmap_images/Mind_Map2.svg');
}

.mindmap-pattern4 {
    background-image: url('./mindmap_images/Mind_Map3.svg');
}


.e-dropDown-button {
    background-color: transparent;
    color: #ffffff;
    border-color: transparent;
    font-size: 12px;
}

#btnFileMenu.e-btn.e-active, button#btnFileMenu:hover {
    background-color: #ffffff;
    color: #046AE5;
}

#btnEditMenu.e-btn.e-active, button#btnEditMenu:hover {
    background-color: #ffffff;
    color: #046AE5;
}

#btnViewMenu.e-btn.e-active, button#btnViewMenu:hover {
    background-color: #ffffff;
    color: #046AE5;
}

#btnArrangeMenu.e-btn.e-active, button#btnArrangeMenu:hover {
    background-color: #ffffff;
    color: #046AE5;
}

#btnWindowMenu.e-btn.e-active, button#btnWindowMenu:hover {
    background-color: #ffffff;
    color: #046AE5;
}

/* Customization Shortcut key - START */
.db-html-font-medium {
    color: #515151;
    font-size: 13px;
    font-weight: 600;
}

.db-html-font-normal {
    color: #515151;
    font-size: 12px;
}

/* Customization Shortcut key - END */

/* Some animation occur while click the dropdown value Start */

.e-ripple-element {
    display: none;
    visibility: hidden;
}

.e-dialog {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
}

.db-custom-prop-info-template {
    margin-bottom: 8px;
}

    .db-custom-prop-info-template .propertyNameDiv {
        width: 30%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: right;
        padding-top: 8px;
    }

    .db-custom-prop-info-template .propertyValueDiv {
        width: calc(60% - 10px);
    }

    .db-custom-prop-info-template .propertyLabelDiv {
        float: left;
        width: 5%;
        height: 20px;
        padding-top: 4px;
    }

#customPropertyDialog .e-dlg-content .btnRemoveProperty {
    height: 20px;
    width: 20px;
    min-width: 20px;
    padding: 0px;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 0;
}

    #customPropertyDialog .e-dlg-content .btnRemoveProperty .e-btn-icon {
        padding-top: 0.5px;
        font-size: 14px;
    }

    #customPropertyDialog .e-dlg-content .btnRemoveProperty:hover {
        border: 1px solid #D5D5D5;
    }

.propertyTooltipDiv {
    width: 5%;
    float: left;
    margin-left: 10px;
    padding-top: 5px;
}

    .propertyTooltipDiv .e-checkbox-wrapper .e-frame {
        width: 16px;
        height: 16px;
    }

.db-org-diagram .db-place-holder {
    display: none;
}

#customPropertyDialog .e-footer-content {
    display: none;
}

#themeDialog #themeDialogContent {
    background-color: #e3e3e3;
}

.e-css e-btn e-upload-browse-btn {
    height: 200px;
    width: 300px;
}

.db-custom-prop-info-template .propertyLabelDiv {
    float: left;
    width: 5%;
    height: 20px;
    padding-top: 4px;
}

.e-control-wrapper.e-slider-container .e-slider .e-range {
    background-color: #046AE5;
}

#sendButton {
    top: 2px;
    position: relative;
}

.tooltip {
    width: 100%;
}

td {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#btnFileMenu:hover ul.e-control e-contextmenu e-lib e-menu-parent {
    display: block;
}

.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn, .e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.e-btn {
    background: transparent;
    border-block-color: aliceblue;
    margin-left: 8px;
}

.e-tooltip-wrap {
    max-width: unset;
}
/* Some animation occur while click the dropdown value End */
/* Some animation occur while click the dropdown value End */
