@page "/dialog/predefine-dialogs"

@using Syncfusion.Blazor.Popups

@inject SfDialogService DialogService

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This example demonstrates the different types of Blazor Dialog like alert, confirm, and prompt. The buttons 'Alert', 'Confirm', and 'Prompt' are shown using DialogServices</p>
</SampleDescription>
<ActionDescription>
   <p>The Blazor Dialog component is used to display messages such as supplementary content like images, text and interactive content like form components within a web page. The following are the three types of Dialogs:</p>
    <ul><li>Alert - Used to show errors, warnings, and information that needs user awareness.</li>
        <li>Prompt - Used to get input from the user. </li>
        <li>Confirmation - Used to get approval from user that appears before any critical action.</li>
    </ul>
</ActionDescription>

    <div>
        <button class="e-btn dlgbtn" @onclick="@AlertBtn">Alert</button>
        <button class="e-btn dlgbtn" @onclick="@ConfirmBtn">Confirm</button>
        <button class="e-btn dlgbtn" @onclick="@PromptBtn">Prompt</button>
    </div>

@code {
    private async Task AlertBtn()
    {
        await DialogService.AlertAsync("10% of battery remaining", "Low Battery");
    }
    private async Task ConfirmBtn()
    {
        bool isConfirm = await DialogService.ConfirmAsync("Are you sure you want to permanently delete these items?", "Delete Multiple Items");
    }
    private async Task PromptBtn()
    {
        string promptText = await DialogService.PromptAsync(null, "Join Wi-Fi network", new DialogOptions()
        {
            ChildContent = @<table class="Table">
                    <tbody>
                        <tr>
                            <td>SSID:</td>
                        </tr>
                        <tr>
                            <td><b>AndroidAP</b></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="e-input-group">
                                    <input type="password" id="password" name="Required" class="e-input">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
        });
    }
    
}

<style>

    .dlgbtn {
       margin-right: 10px;
    }

    .e-content {
        padding: 20px 10px;
    }

</style>
