@page "/Charts/Funnel"
@using Syncfusion.EJ2.Blazor.Charts
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Funnel Chart";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"This sample demonstrates pie chart for Project Cost Breakdown. Datalabel shows the Information about the points."
    };
    SampleBrowser.Description = new string[] {
        @"In this example, you can see how to render and configure the funnel chart. You can use <code>border</code>, <code>fill</code> properties to customize the pie point. <code>dataLabel</code> is used to represent individual data and its value.

        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices."
    };
}
@*End:Hidden*@

    <div class="control-section">
        <EjsAccumulationChart id="container" title="Project Cost Breakdown"  enableAnimation="false">
            <AccumulationChartTooltipSettings enable="true"></AccumulationChartTooltipSettings>
            <AccumulationChartLegendSettings Visible="false">
            </AccumulationChartLegendSettings>
            <AccumulationChartSeriesCollection>
                <AccumulationChartSeries dataSource="@dataSource" xName="xValue" yName="yValue" type="AccumulationType.Funnel" width="60%" height="80%" neckWidth="15%" neckHeight="18%">
                    <AccumulationDataLabelSettings Visible="true" Name="text">
                      
                    </AccumulationDataLabelSettings>
                </AccumulationChartSeries>
            </AccumulationChartSeriesCollection>
        </EjsAccumulationChart>
    </div>
@code{
    public class FunnelData
    {
        public string xValue;
        public double yValue;
        public string text;
    }
    List<FunnelData> dataSource = new List<FunnelData>
    {
           new FunnelData { xValue =  "Renewed", yValue = 18.20, text = "18.20%" },
           new FunnelData { xValue =  "Subscribed", yValue = 27.3, text = "27.3%" },
           new FunnelData { xValue =  "Support", yValue = 55.9, text = "55.9%" },
           new FunnelData { xValue =  "Dowmloaded", yValue = 76.8, text = "76.8%" },
           new FunnelData { xValue =  "Visited", yValue = 100, text = "100%" },
    };
}

