@page "/TreeMap/TreeMapwithPie"


@using Syncfusion.EJ2.Blazor.TreeMap
@using Syncfusion.EJ2.Blazor.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "TreeMap with Pie";
    SampleBrowser.CurrentControlName = "TreeMap";
    SampleBrowser.CurrentControlCategory = "TreeMap";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the car sales of various countries in 2017 by rendering the countries at top level and car manufacturing companies as leaf items.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render a treemap with the provided data source. Palette color is applied for the items in treemap. Default legend is enabled in this example to represent the items in top level.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p>
    <br />
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>
        Treemap component features are segregated into individual feature-wise modules. To use a tooltip, inject the
        <code>Tooltip</code> module using the < code > Treemap.Inject(TreeMapTooltip) </ code > method, and use a legend by injecting the<code> Legend</ code > module using the < code > Treemap.Inject(TreeMapLegend) </ code > method.
    </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsTreeMap  Format="n" UseGroupingSeparator="true" WeightValuePath="Population"
                    DataSource="@Datasource">
            <TreeMapTitleSettings Text="'Population of the continents based on gender and age group - 2011'">
                <TreeMapTitleTextStyle Size="15px"></TreeMapTitleTextStyle>
            </TreeMapTitleSettings>
            <TreeMapLeafItemSettings LabelPath="Gender" Fill="#A1317D" ShowLabels="false" LabelFormat="${Gender} : ${Population}" >
                <TreeMapLeafBorder Color="Black" Width="0.5">
                </TreeMapLeafBorder>
            </TreeMapLeafItemSettings>
            <TreeMapLevels>
                <TreeMapLevel GroupPath="Continent">
                    <TreeMapLevelBorder Color="white" Width="0.5">
                    </TreeMapLevelBorder>
                </TreeMapLevel>
            </TreeMapLevels>
            <TreeMapLevels>
                <TreeMapLevel GroupPath="Continent" Fill="#7E2361"  GroupGap="0">
                    <TreeMapHeaderStyle Size="14px"></TreeMapHeaderStyle>
                    <TreeMapLevelBorder Color="Black" Width="1"></TreeMapLevelBorder>
                </TreeMapLevel>
            </TreeMapLevels>
            <TreeMapTooltipSettings Visible="true" Format=" ${Gender} : ${Population}"></TreeMapTooltipSettings>
        </EjsTreeMap>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href=" https://www.factorywarrantylist.com/car-sales-by-country.html/" target="_blank"> www.factorywarrantylist.com</a>
    </div>
</div>
@functions {
   public class Data
{
public string Continent;
public string Gender;
public double Population;
public string Id;
public string PieHeight;
public string PieWidth;
}
public List<Data> Datasource = new List<Data> {
        new Data { Continent= "Africa", Gender=  "Male", Population= 518636010, Id= "AfricaMale", PieHeight= "90px", PieWidth = "90px" },
        new Data { Continent= "Africa", Gender= "Female", Population= 519058499, Id= "AfricaFemale", PieHeight= "90px", PieWidth = "90px" },
        new Data { Continent= "Asia", Gender=  "Male", Population= 2131947122, Id= "AsiaMale", PieHeight= "160px", PieWidth = "160px" },
        new Data { Continent= "Asia", Gender= "Female", Population= 2043385632, Id= "AsiaFemale", PieHeight= "160px", PieWidth = "160px" },
        new Data { Continent= "Europe", Gender=  "Male", Population= 353542772, Id= "EuropeMale", PieHeight= "90px", PieWidth = "90px" },
        new Data { Continent= "Europe", Gender= "Female", Population= 380686199, Id= "EuropeFemale", PieHeight= "90px", PieWidth = "90px" },
        new Data { Continent= "North America", Gender=  "Male", Population= 171213918, Id= "NorthAmericaMale", PieHeight= "60px", PieWidth = "60px" },
        new Data { Continent= "North America", Gender= "Female", Population= 176175064, Id= "NorthAmericaFemale", PieHeight= "60px", PieWidth = "60px" },
        new Data { Continent= "Oceania", Gender=  "Male", Population= 176995465, Id= "OceniaMale", PieHeight= "60px", PieWidth = "60px" },
        new Data { Continent= "Oceania", Gender= "Female", Population= 174631245, Id= "OceniaFemale", PieHeight= "60px", PieWidth = "60px" },
        new Data { Continent= "South America", Gender=  "Male", Population= 197745352, Id= "SouthAmericaMale", PieHeight= "60px", PieWidth = "60px" },
        new Data { Continent= "South America", Gender= "Female", Population= 190045352, Id= "SouthAmericaFemale", PieHeight= "60px", PieWidth = "60px" },

    };
}