@page "/excel/excel-to-pdf"
@inject Microsoft.JSInterop.IJSRuntime JS
@inject HttpClient Http
@using System.IO;

@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@

@using BlazorDemos.Data.FileFormats.XlsIO

@*End:Hidden*@
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to convert spreadsheets to PDF documents using XlsIO.</p>
</SampleDescription>
<ActionDescription>
    <p>This sample illustrates the conversion of a MS Excel document to a PDF format.</p>
    <p style='display: block'>Essential XlsIO allows to export the Excel document into PDF document. Use the Convert method of ExcelToPDFConverter class to convert the Excel to PDF and save the PDF document. This enables the user to easily convert the Excel document to a PDF document.</p>
    <p style='display: block'><b>Features:</b></p>
    <ul>
        <li>Supports conversion of a Excel document to PDF document</li>
    </ul>
    <p style='display: block'><b>Note:</b>Installation of Essential PDF is necessary to run this sample</p>
</ActionDescription>

<div class="control-section">
    <p style="font-weight:normal">Clicking the button below will result in a PDF document being converted from Excel document using Essential XlsIO and Essential PDF. Please note that you need to have a PDF viewer installed in order to view the generated PDF file.</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="radio-control" >
      <h5 class="row"><b>PDF Page Setup options</b></h5>
      <div class="radio-grid">
        <div class="e-radio-wrapper">
            <SfRadioButton Label="No scaling" Name="NoScaling" Value=@("NoScaling") @bind-Checked="@option"></SfRadioButton>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="e-radio-wrapper">
            <SfRadioButton Label="Fit all rows on one page" Name="FitAllRowsOnOnePage" Value=@("FitAllRowsOnOnePage") @bind-Checked="@option"></SfRadioButton>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="radio-grid">
        <div class="e-radio-wrapper">
            <SfRadioButton Label="Fit all columns on one page" Name="FitAllColumnsOnOnePage" Value=@("FitAllColumnsOnOnePage") @bind-Checked="@option"></SfRadioButton>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="e-radio-wrapper">
            <SfRadioButton Label="Fit sheet on one page" Name="FitSheetOnOnePage" Value=@("FitSheetOnOnePage") @bind-Checked="@option"></SfRadioButton>
        </div>
      </div>
</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="button-section">
        <div id="button-control">
            <div class="row">
                <div>
                    <SfButton @onclick="ConvertToPDF">Convert To PDF</SfButton>
                </div>
            </div>
        </div>
    </div>
</div>

<style>   
    .control-section .row {
        margin: 10px 0;
    }
    .e-radio-wrapper {
    width:250px;
    margin-right: 20px;
    }
</style>

@code {
    MemoryStream excelStream;
    string option = "FitSheetOnOnePage";
    //Hidden:Lines
    

    Dictionary<string, MemoryStream> fileData = new Dictionary<string, MemoryStream>();

    
    //End:Hidden

    /// <summary>
    /// Create and download the simple Excel document
    /// </summary>
    public async Task ConvertToPDF()
    {
        string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;
        byte[] data = await Http.GetByteArrayAsync(fileDataPath + "data/xlsio/excel-to-pdf.xlsx");
        fileData.Add("excel-to-pdf.xlsx", new MemoryStream(data));
        ExcelToPDFService service = new ExcelToPDFService(fileData);
        excelStream = service.ExceltoPDFXlsIO(option);
        service.Close();
        await JS.SaveAs("ExcelToPDF.pdf", excelStream.ToArray());
    }
}
