    .control_wrapper {
        max-width: 400px;
        margin: auto;
    }
    
    .address-field {
        resize: none;
    }

    #control_wrapper {
        max-width: 440px;
        margin: auto;
        border: 0.5px solid #BEBEBE;
        padding: 1% 4% 2%;
        background: #f9f9f9;
    }

    .bootstrap label.e-float-text.e-label-top {
        font-weight: bold;
    }

    .highcontrast #control_wrapper {
        background: #000000;
    }

    .upload-area, .e-bigger .upload-area {
        width: 69%;
    }

    .e-error {
        padding-top: 3px;
    }

    .e-upload {
        width: 100%;
        position: relative;
        margin-top: 15px;
    }

    .control_wrapper .e-upload .e-upload-drag-hover {
        margin: 0;
    }

    .submit-btn {
        margin-top: 15px;
        position: relative;
    }

    .submitBtn {
        position: relative;
        left: 79%;
    }

    .form-support {
        width: 100%;
    }

    .success .form-support {
        display: none;
    }

    .success .successmsg {
        border: 0.5px solid green;
        padding: 10%;
        color: green;
    }

    form#form1 {
        position: relative;
        top: 14%;
    }

    .form-support td {
        width: 100%;
        padding-top: 4%;
    }

    .e-upload {
        display: none;
    }

    input.choose-file {
        width: 60%;
    }

    button#browse {
        left: 46%;
        float: right;
        top: -26px
    }

    .e-bigger button#browse {
        top: -41px;
    }

    .e-bigger.material button#browse {
        top: -35px;
    }

    .e-bigger.fabric button#browse, .e-bigger.highcontrast button#browse {
        top: -41px;
        left: 50%;
    }

    .fabric #browse, .highcontrast #browse {
        top: -32px;
    }

    .bootstrap #browse {
        top: -34px;
    }

    .form-title {
        text-align: center;
    }