@page "/card/basic-card"

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
    <p>This sample demonstrates the rendering of a vertical layout <a href="https://www.syncfusion.com/blazor-components/blazor-card" aria-label="Feature Tour of Blazor Card">Blazor Card</a> with business and profile card information.</p>
</SampleDescription>
<ActionDescription>
    <p>The Card is a small content display space where a specific content structure can be displayed. This sample shows how to add simple cards with header and content elements to represent individual data and its value using a predetermined structure and preset classes.</p>
    <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/card/getting-started' target='_blank' aria-label="Blazor Card Getting Started documentation">Getting Started with Blazor Card</a></li>
    </ul>

</ActionDescription>

<div class="control-section">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <SfCard ID="BasicCard">
                <CardHeader Title="Debunking Five Data Science Myths" />
                <CardContent Content="Tech evangelists are currently pounding their pulpits about all things AI, machine learning, analytics—anything that sounds" />
                <CardFooter>
                    <CardFooterContent>
                        <SfButton CssClass="e-btn e-outline e-primary">Read More</SfButton>
                    </CardFooterContent>
                </CardFooter>
            </SfCard>
            <SfCard ID="NewIconCard">
                <div class="newIcon">NEW</div>
                <CardHeader Title="Debunking Five Data Science Myths" />
                <CardContent Content="Tech evangelists are currently pounding their pulpits about all things AI, machine learning, analytics—anything that sounds" />
            </SfCard>
        </div>
        <div class="col-lg-6 col-md-6">
            <SfCard ID="SideCard">
                <CardImage Image="@(SampleService.WebAssetsPath + "images/cards/basic.png")" />
                <div class="rows" tabindex="0">
                    <CardHeader Title="Debunking Five Data Science Myths" />
                    <CardContent Content="Tech evangelists are currently pounding their pulpits about all things AI, machine learning, analytics—anything that sounds" />
                </div>
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
           
            </SfCard>
        </div>
    </div>
</div>

<style>
    #BasicCard, #NewIconCard {
        height: 180px;
        margin: 16px;
    }

    #SideCard {
        height: 376px;
        margin: 16px;
    }

    #SideCard .e-card-image {
        height: 100%;
    }

    .e-card > .e-card-image {
        background-repeat: no-repeat;
        min-height: 205px;
    }

    .newIcon {
        background: #2CC000;
        border-radius: 12px;
        border-radius: 12px;
        font-family: HelveticaNeue-Medium, 'Segoe UI';
        font-weight: 500;
        color: #ffffff;
        margin-left: 16px;
        font-size: 14px;
        width: 58px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.4px;
    }

    .row {
        width: 80%;
        margin: auto;
    }

    .e-btn {
        margin-left: 4px;
    }

    .e-card .e-card-content {
        padding-top: 0px;
    }
    .material3-dark .e-card .e-card-header,
    .material-dark .e-card .e-card-header {
        padding: 10px;
    }
    .rows {
        overflow:auto;
    }

    .material3 div.rows:focus {
        border: 1px solid #8b8991;
    }

    .material3-dark div.rows:focus {
        border: 1px solid #8a8886;
    }

    .fluent div.rows:focus,
    .fluent-dark div.rows:focus {
        border: 1px solid #0078d4;
    }

    .bootstrap5 div.rows:focus {
        border: 1px solid #0d6efd;
    }

    .bootstrap5-dark div.rows:focus {
        border: 1px solid #408cfd;
    }

    .tailwind div.rows:focus {
        border: 1px solid #4f46ef;
    }

    .tailwind-dark div.rows:focus {
        border: 1px solid #22d3ee;
    }

    .material div.rows:focus {
        border: 1px solid #e31656;
    }

    .material-dark div.rows:focus {
        border: 1px solid #00b0ff;
    }

    .bootstrap4 div.rows:focus {
        border: 1px solid #007bff;
    }

    .bootstrap div.rows:focus {
        border: 1px solid #317ab9;
    }

    .bootstrap-dark div.rows:focus {
        border: 1px solid #3e98ff;
    }

    .fabric div.rows:focus {
        border: 1px solid #0078d6;
    }

    .fabric-dark div.rows:focus {
        border: 1px solid #38a9ff;
    }

    .highcontrast div.rows:focus {
        border: 1px solid #ffd939
    }
</style>
