@page "/card/dynamic-update"

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
    <p>This sample demonstrates a dynamic update for the Card component.</p>
</SampleDescription>
<ActionDescription>
    <p>The Card <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Cards.CardHeader.html" aria-label="Class reference of CardHeader"><code>Header</code></a>, <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Cards.CardImage.html" aria-label="Class reference of CardImage"><code>Image</code></a>, and <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Cards.CardFooter.html" aria-label="Class reference of CardFooter"><code>Footer</code></a> can be customized in this sample.</p>
</ActionDescription>

<div class="row">
    <div class="control-section col-lg-9">
        <SfCard ID="DynamicCard">
            <CardHeader Title="Robert Jhonson" SubTitle="Chief Executive" />
            @if (IsMedia)
            {
                <CardImage Image="@(SampleService.WebAssetsPath + "images/cards/robert-jhonson.png")" />
            }
            @if (IsText)
            {
                <CardContent Content="Robert received an MBA in marketing from the University of California. He can do marketing for multiple products. He has experience of 10 years in the marketing field." />
            }
            @if (IsFooter)
            {
                <CardFooter>
                    <CardFooterContent Text="Add More" />
                </CardFooter>
            }
        </SfCard>
    </div>
    <div class="col-lg-3 property-section">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
        <div class="property-panel-section">
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <table class="table">
                    <tr>
                        <td>Card Media</td>
                        <td>
                            <SfCheckBox TChecked="bool" @onchange="@(() => IsMedia = !IsMedia)"></SfCheckBox>
                        </td>
                    </tr>
                    <tr>
                        <td>Card Content</td>
                        <td>
                            <SfCheckBox TChecked="bool" @onchange="@(() => IsText = !IsText)"></SfCheckBox>
                        </td>
                    </tr>
                    <tr>
                        <td>Card Footer</td>
                        <td>
                            <SfCheckBox TChecked="bool" @onchange="@(() => IsFooter = !IsFooter)"></SfCheckBox>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@code{
    bool IsMedia = false;
    bool IsText = false;
    bool IsFooter = false;
    
}

<style>
    .col-lg-9 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #DynamicCard {
        margin: auto;
        width: 60%
    }

    .control-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    td {
        font-size: 14px;
    }

    tr {
        height: 25px;
    }

    .e-card .e-card-image {
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 300px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 20px;
        font-family: Helvetica, 'Segoe UI';
        font-weight: bold;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 5px;
    }
    .highcontrast .e-card .e-card-actions .e-card-btn, .e-card .e-card-actions a {
        background-color: #000;
        border: 1px solid #ffd939;
        color: #ffd939;
        outline: 1px solid #ffd939;
    }
   .highcontrast .e-card .e-card-actions .e-card-btn:hover, .e-card .e-card-actions a:hover {
        background-color: #685708;
        border: 1px solid #fff;
        color: #fff;
    }
    .bootstrap-dark .e-card .e-card-actions .e-card-btn:hover, .e-card .e-card-actions a:hover {
        background-color: #0062d1;
        border-color: #0062d1;
        color: #fff;
    }
    .bootstrap-dark .e-card .e-card-actions .e-card-btn, .e-card .e-card-actions a {
        background-color: #6e6e6e;
        color: #3e98ff;
        border: 1px solid #3e98ff;
    
}
  
}
</style>
