@page "/DatePicker/Date-Range"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>In the following example, a specific date range from 5th to 27th of the current month has been set to select from the calendar. All the other dates are out of range and <b>restricted</b> to set or select.</p>
</SampleDescription>
<ActionDescription>
    <p>Date Range example illustrates the date selection within the specific range in a calendar by using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Min' target='_blank' aria-label="Class reference of Min property in DatePicker"> Min</a> and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Max' target='_blank' aria-label="Class referene of Max property in DatePicker"> Max</a> properties. Here, the date selection range was restricted within a range from 5th to 27th days in a month.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/datepicker/date-range/' target='_blank' aria-label="Blazor DatePicker Date Range documentation">Blazor DatePicker - Range</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Date of journey</label>
        <SfDatePicker TValue="DateTime?" Value="@DateValue" Placeholder="Choose a Date" Min="@MinDate" Max="@MaxDate" ShowClearButton="true" FullScreen="true"></SfDatePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>

@code {
    public DateTime DateValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 10);
    public DateTime MinDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 05); 
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
    
}