@page "/DatePicker/Default-Functionalities"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<ActionDescription>
<p>
    This sample demonstrates the default functionalities of the <a href="https://www.syncfusion.com/blazor-components/blazor-datepicker" aria-label="Feature Tour of Blazor DatePicker">DatePicker</a> component. Today's date is always highlighted in the popup calendar and receives focus if no date is selected. Click the desired date from the popup calendar, and the selected date will be displayed.
  </p>
  <p>
    The DatePicker is a graphical user interface component that allows users to select or enter a date value through an interactive calendar popup.
  </p>
  <p>
    <strong>See also:</strong>
  </p>
  <ul>
    <li><a href="https://blazor.syncfusion.com/documentation/datepicker/getting-started/" target="_blank" rel="noopener" aria-label="Blazor DatePicker Getting Started documentation">Getting started with Blazor DatePicker</a></li>
  </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Departure Date</label>
        <SfDatePicker TValue="DateTime?" Placeholder="Choose a Date" FullScreen="true" aria-label="Select departure date" ShowClearButton="true"></SfDatePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
