@page "/DatePicker/Default-Functionalities"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>The following example demonstrates the default functionalities of the <a href='https://www.syncfusion.com/blazor-components/blazor-datepicker' aria-label="Feature Tour of Blazor DatePicker">DatePicker</a>. Today's date is always <b>highlighted</b> in the popup calendar and it get focused if there's no selected date. Click the desired date from the popup calendar and the selected date will be displayed in the element.</p>
</SampleDescription>
<ActionDescription>
    <p>The DatePicker is a graphical user interface component that allows the user to select or enter a date value.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/datepicker/getting-started/' target='_blank' aria-label="Blazor DatePicker Getting Started documentation">Getting started with Blazor DatePicker</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Departure Date</label>
        <SfDatePicker TValue="DateTime?" Placeholder="Choose a Date" FullScreen="true" ShowClearButton="true"></SfDatePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
