@page "/DatePicker/Islamic-DatePicker"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
    <p>This example demonstrates the main features of the Islamic Calendar within the DatePicker. Select any date from the Calendar to view its functionalities.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The Hijri (Islamic) Calendar is a lunar-based calendar that includes features similar to those in the Gregorian Calendar, such as minimum and maximum date restrictions, date highlighting, and multiple date selection.
    </p></ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Departure Date</label>
        <SfDatePicker TValue="DateTime?" Placeholder="Choose a Date" CalendarMode="CalendarType.Islamic" FullScreen="true" ShowClearButton="true" aria-label="Select departure date in Islamic calendar"></SfDatePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
