@page "/DatePicker/Keyboard-Navigation"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
    <p>DatePicker functionalities can be interactive with keyboard shortcuts. In the below sample, various key combinations can be used to interact with DatePicker.</p>
</SampleDescription>
<ActionDescription>
    <p>The DatePicker supports the following keyboard shortcuts to initiate various actions.</p>
    <ul>
         <li>
            <b>Focus</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Input Navigation</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Opens the popup.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Closes the popup.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc</kbd></span>
                    <span> - Closes the popup.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Date Selection</b>
            <ul>
               <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Selects the currently focused date.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Popup Navigation</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Focuses the same day on the previous week.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Focuses the same day on the next week.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Focuses the previous day.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Focuses the next day.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Focuses the first day of the month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Focuses the last day of the month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page up</kbd></span>
                    <span> - Focuses the same date on the previous month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page down</kbd></span>
                    <span> - Focuses the same date on the next month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Page up</kbd></span>
                    <span> - Focuses the same date on the previous year.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Page down</kbd></span>
                    <span> - Focuses the same date on the next year.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Home</kbd></span>
                    <span> - Focuses the first date of the current year.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>End</kbd></span>
                    <span> - Focuses the last date of the current year.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Popup View Navigation</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Moves to the inner level of view like month to year and year to decade.</span>
                    </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Moves out from the depth level view like decade to year and year to month.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Travel Date</label>
        <SfDatePicker TValue="DateTime?" @ref="@DatePickerObj" Placeholder="Choose a Date" Min='@MinDate' Max='@MaxDate' ShowClearButton="true" FullScreen="true">
            <DatePickerEvents TValue="DateTime?" OnRenderDayCell="@DisableDate"></DatePickerEvents>
        </SfDatePicker>
    </div>
</div>

@code{
    private SfDatePicker<DateTime?> DatePickerObj { get; set; }
    public DateTime MinDate { get; set; } = new DateTime(2017, 08, 07);
    public DateTime MaxDate { get; set; } = new DateTime(2024, 08, 27);
    
    private void DisableDate(RenderDayCellEventArgs args)
    {
        var view = DatePickerObj.CurrentView();
        if (view == "Month" && (args.Date.Day == 10 || args.Date.Day == 15 || args.Date.Day == 25))
        {
            args.IsDisabled = true;
        }
    }
}

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .description {
        margin: 4px;
        font-size: 14px;
    }

    .key-class {
        display: inline-block;
        width: 170px;
    }
</style>

