@page "/DatePicker/Month-Picker"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>The following example demonstrates the DatePicker component acting as a month picker. It allows you to select values in terms of months.</p>
</SampleDescription>
<ActionDescription>
    <p>DatePicker has the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Start' target='_blank' aria-label="Class reference of Start property in DatePicker"> Start</a> and the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Depth' target='_blank' aria-label="Class refernce of Depth property in DatePicker"> Depth</a> properties that provide options to restrict users from navigating to any calendar view (year, month, or decade).</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/datepicker/view/' target='_blank' aria-label="Blazor DatePicker Views documentation">Blazor DatePicker - Views</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Salary payslip</label>
        <SfDatePicker TValue="DateTime?" Value="@DateValue" Placeholder="Choose a Month" Format="MMMM yyyy" Start="CalendarView.Year" Depth="CalendarView.Year" ShowClearButton="true" FullScreen="true"></SfDatePicker>
    </div>
</div>

@code {
    public DateTime DateValue { get; set; } = DateTime.Now;
    
}

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
