@page "/RangeSelector/Filter"
@using Syncfusion.EJ2.Blazor.Charts
@using Syncfusion.EJ2.Blazor.Grids
@using Newtonsoft.Json
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Filter";
    SampleBrowser.CurrentControlName = "RangeNavigator";
    SampleBrowser.CurrentControlCategory = "RangeNavigator";
    SampleBrowser.CurrentControl = SampleBrowser.Config.RangeNavigator;
    SampleBrowser.ActionDescription = new string[] {
         @"<p>
        This sample filters the data by hire date using date-time axis.
    </p>"
    };
    SampleBrowser.Description = new string[] {
         @"<p>
        In this example, you can see how to bind the value of the range navigator to the grid control using the changed event.
    </p>"
    };
}
@*End:Hidden*@
@if (filterData == null)
{
    <div class="stockchartloader"></div>
}
else
{
    <div class="control-section" align="center">       
            <h4 id="days" align="center" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;"> Filter From Hire Date</h4>
            <div id="container">
                <EjsRangeNavigator ValueType=Syncfusion.EJ2.Blazor.Charts.RangeValueType.DateTime
                                   AllowSnapping="true" IntervalType="RangeIntervalType.Quarter"
                                   EnableGrouping="true" GroupBy="RangeIntervalType.Years"
                                   EnableDeferredUpdate="true" Value="@value" DataSource="@filterData"
                                   XName="HireDate" YName="yValue">
                    <RangeNavigatorEvents Changed="onRangeChanged"></RangeNavigatorEvents>
                </EjsRangeNavigator>
            </div> <br>
            <div id="gridcontainer">
                <EjsGrid Width="80%" @ref="gridObj" TValue="ChartData" AllowPaging="true">
                    <GridColumns>
                        <GridColumn Field="EmployeeID" HeaderText="Employee ID" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn Field="FirstName" HeaderText="Name" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn Field="Title" HeaderText="Title" TextAlign="TextAlign.Center"></GridColumn>
                        <GridColumn Field="HireDate" HeaderText="Hire Date" TextAlign="TextAlign.Center" Format="yMd"></GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
    </div>
}
@code{
    EjsGrid<ChartData> gridObj;
    private ChartData[] filterData;
    protected override async Task OnInitializedAsync()
    {       
		filterData = JsonConvert.DeserializeObject<ChartData[]>(System.IO.File.ReadAllText("./wwwroot/scripts/range-navigator/employee-data.json"));
    }
    public class ChartData
    {
        public double EmployeeID { get; set; }
        public double yValue { get; set; }
        public string FirstName { get; set; }
        public string Title { get; set; }
        public DateTime HireDate { get; set; }

    }
    private DateTime[] value = new DateTime[] { new DateTime(1992, 05, 31), new DateTime(1993, 04, 30) };
   protected void onRangeChanged(IChangedEventArgs args)
    {
        List<ChartData> filterData1 = new List<ChartData>();
        for(int i =0; i<filterData.Length; i++)
        {
            if(filterData[i].HireDate >= Convert.ToDateTime(args.Start) && filterData[i].HireDate <= Convert.ToDateTime(args.End))
            {
                filterData1.Add(filterData[i]);
            }            
        }
        gridObj.DataSource = filterData1.ToArray();
        gridObj.Refresh();
       
    }
}
