@page "/range-selector/light-weight"
@using Newtonsoft.Json
@using  Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample represents the total number of business and weekend days in a selected period.</p>
</SampleDescription>
<ActionDescription>
   <p>In this example, you can see how to render and configure the Light Weight Range Navigator. You can use <code>Width</code>, <code>Height</code>, <code>Fill</code> and <code>Border</code> properties to customize the thumb in range navigator. You can also change the type of the <code>Thumb</code> using type property.</p>
</ActionDescription>

@if (LightWeightData == null)
{
    <div class="stockchartloader"></div>
}
else
{
    <div class="control-section" align="center">
        <h4 style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;">Calculate the Bussiness and Weekend days in a period</h4>
        <br /><div>
            <SfRangeNavigator Value="@Value" IntervalType="RangeIntervalType.Months" AnimationDuration="500" LabelFormat="MMM" ValueType="Syncfusion.Blazor.Charts.RangeValueType.DateTime" DataSource="@LightWeightData" XName="x" YName="y">
                <RangeNavigatorMajorGridLines Width="0.000001"></RangeNavigatorMajorGridLines>
                 <RangeNavigatorEvents Load="BeforeRender"/>
            </SfRangeNavigator>
        </div>
    </div>

}
@code{
    private ChartData[] LightWeightData;
    protected override async Task OnInitializedAsync()
    {
        //lightWeightData = await Http.GetJsonAsync<ChartData[]>("scripts/range-navigator/default_data.json");
        await Task.Run(() =>
        {
            LightWeightData = JsonConvert.DeserializeObject<ChartData[]>(System.IO.File.ReadAllText("./wwwroot/scripts/range-navigator/default_data.json"));
        });
    }
    public class ChartData
    {
        public DateTime x { get; set; }
        public double y { get; set; }
    }
    private DateTime[] Value = new DateTime[] { new DateTime(2017, 10, 01), new DateTime(2017, 11, 01) };

    string CurrentUri;
    void BeforeRender(IRangeLoadedEventArgs Args)
    {
        CurrentUri = NavigationManager.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            Args.Theme = ChartTheme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            Args.Theme = ChartTheme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            Args.Theme = ChartTheme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            Args.Theme = ChartTheme.HighContrast;
        }
        else
        {
            Args.Theme = ChartTheme.Bootstrap4;
        }
    }
}
