@page "/RangeSelector/Multilevel"
@using Newtonsoft.Json
@using  Syncfusion.EJ2.Blazor.Charts

@inherits SampleBaseComponent;

@if (multiLevelData == null)
{
    <div class="stockchartloader"></div>
}
else
{
    <div class="control-section">
        <br>
        <h4 id="days" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px; text-align:center">Multi Level Labels</h4>
        <div id="container" align="center">
            <EjsRangeNavigator LabelPosition="AxisPosition.Outside" EnableGrouping="true" GroupBy="RangeIntervalType.Years" Value="@value" IntervalType="RangeIntervalType.Quarter" ValueType=Syncfusion.EJ2.Blazor.Charts.RangeValueType.DateTime DataSource="@multiLevelData" XName="x" YName="low">
                <RangeNavigatorRangeTooltipSettings Enable="true" DisplayMode="TooltipDisplayMode.Always"></RangeNavigatorRangeTooltipSettings>
            </EjsRangeNavigator>
        </div>
    </div>

}
@code{
    private ChartData[] multiLevelData;
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            multiLevelData = JsonConvert.DeserializeObject<ChartData[]>(System.IO.File.ReadAllText("./wwwroot/scripts/range-navigator/chartdata.json"));
        });
    }
    public class ChartData
    {
        public DateTime x { get; set; }
        public double low { get; set; }
    }
    private DateTime[] value = new DateTime[] { new DateTime(2014, 01, 01), new DateTime(2016, 01, 01) };
}
