@page "/listbox/checkbox"

@using Syncfusion.Blazor.DropDowns

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates the checkbox functionalities of the ListBox component. Click one or more items from the list of items in the ListBox component.</p>
</SampleDescription>
<ActionDescription>
   <p>The <code>ListBox</code> component has built-in support to select multiple items from the list. The Checkbox selection can be enabled by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.DropDowns.ListBoxSelectionSettings~ShowCheckbox.html'><code>ShowCheckbox</code></a> as <code>true</code> in the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.DropDowns.ListBoxSelectionSettings.html'><code>SelectionSettings</code></a> property.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select your favorite car:</h4>
        <SfListBox Value="@Value" DataSource="@Data" TItem="DataValues" TValue="string[]">
            <ListBoxSelectionSettings ShowCheckbox="true"></ListBoxSelectionSettings>
        </SfListBox>
    </div>
</div>

<style>
    #listbox-control {
        width: 350px;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>

@code{
    public string[] Value = new string[] { "Hennessey Venom" };

    public List<DataValues> Data = new List<DataValues>
{
        new DataValues{ text = "Hennessey Venom", id = "list-01" },
        new DataValues{ text = "Bugatti Chiron", id = "list-02" },
        new DataValues{ text = "Bugatti Veyron Super Sport", id = "list-03" },
        new DataValues{ text = "SSC Ultimate Aero", id = "list-04" },
        new DataValues{ text = "Koenigsegg CCR", id = "list-05" },
        new DataValues{ text = "McLaren F1", id = "list-06" },
        new DataValues{ text = "Aston Martin One- 77", id = "list-07" },
        new DataValues{ text = "Jaguar XJ220", id = "list-08" },
        new DataValues{ text = "McLaren P1", id = "list-09" },
        new DataValues{ text = "Ferrari LaFerrari", id = "list-10" }
    };
    public class DataValues
    {
        public string text { get; set; }
        public string id { get; set; }

    }
}
