@page "/ListBox/Checkbox"

@using Syncfusion.EJ2.Blazor.DropDowns

@inherits SampleBaseComponent;

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select your favorite car:</h4>
        <EjsListBox Value="@Value" DataSource="@Data" TValue="string[]">
            <ListBoxSelectionSettings ShowCheckbox="true"></ListBoxSelectionSettings>
        </EjsListBox>
    </div>
</div>

<style>
    #listbox-control {
        width: 25%;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>

@code{
    public string[] Value = new string[] { "Hennessey Venom" };

    public List<object> Data = new List<object>
{
        new { text = "Hennessey Venom", id = "list-01" },
        new { text = "Bugatti Chiron", id = "list-02" },
        new { text = "Bugatti Veyron Super Sport", id = "list-03" },
        new { text = "SSC Ultimate Aero", id = "list-04" },
        new { text = "Koenigsegg CCR", id = "list-05" },
        new { text = "McLaren F1", id = "list-06" },
        new { text = "Aston Martin One- 77", id = "list-07" },
        new { text = "Jaguar XJ220", id = "list-08" },
        new { text = "McLaren P1", id = "list-09" },
        new { text = "Ferrari LaFerrari", id = "list-10" }
    };
}
