@page "/listbox/default-functionalities"

@using Syncfusion.Blazor.DropDowns

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates the default functionalities of a ListBox component. Click any item to select a single item and Ctrl +  click to select multiple items.</p>
</SampleDescription>
<ActionDescription>
   <p>The <code>ListBox</code> is a graphical user interface component used to display a list of items. Users can select one or more items in the list using a checkbox or by keyboard selection.It supports sorting, grouping, reordering, and drag and drop of items.</p>
   <p>In this sample, data is bound to the ListBox using the <a href='https://help.syncfusion.com/cr/cref_files/blazor/Syncfusion.Blazor~Syncfusion.Blazor.DropDowns.SfListBox%601~DataSource.html' target='_blank'> DataSource</a> property. You can select your favorite cars from the ListBox.</p>
   <p> More information about the Blazor ListBox component can be found in the <a href='https://blazor.syncfusion.com/documentation/listbox/getting-started/' target='_blank'> documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select your favorite car:</h4>
        <SfListBox Value=@Value DataSource="@Data" TValue="string[]" TItem="DataValues"></SfListBox>
    </div>
</div>

<style>
    #listbox-control {
        width: 350px;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>

@code{
        public string[] Value = new string[] { "Hennessey Venom" };
        public List<DataValues> Data = new List<DataValues>
{
        new DataValues{ text = "Hennessey Venom", id = "list-01" },
        new DataValues{ text = "Bugatti Chiron", id = "list-02" },
        new DataValues{ text = "Bugatti Veyron Super Sport", id = "list-03" },
        new DataValues{ text = "SSC Ultimate Aero", id = "list-04" },
        new DataValues{ text = "Koenigsegg CCR", id = "list-05" },
        new DataValues{ text = "McLaren F1", id = "list-06" },
        new DataValues{ text = "Aston Martin One- 77", id = "list-07" },
        new DataValues{ text = "Jaguar XJ220", id = "list-08" },
        new DataValues{ text = "McLaren P1", id = "list-09" },
        new DataValues{ text = "Ferrari LaFerrari", id = "list-10" }
    };
     public class DataValues
    {
        public string text { get; set; }
        public string id { get; set; }

    }
}
