@page "/ListBox/DualListBox"

@using Syncfusion.EJ2.Blazor.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Dual ListBox";
    SampleBrowser.CurrentControlName = "ListBox";
    SampleBrowser.CurrentControlCategory = "ListBox";
    SampleBrowser.CurrentControl = SampleBrowser.Config.ListBox;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the functionalities of the dual list box. Select an item from <code>Group A</code> and click the <code>moveTo</code> button to move item from <code>Group A</code> to <code>Group B.</code></p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>The dual list box allows the user to move items between two list boxes. Dual list box can be created by listing items in the <a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.EJ2.Blazor~Syncfusion.EJ2.Blazor.DropDowns.ListBoxToolbarSettings.html'><code>ListBoxToolbarSettings</code></a> property along with
        <a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.EJ2.Blazor~Syncfusion.EJ2.Blazor.DropDowns.EjsListBox~Scope.html'><code>Scope</code></a> property. The supported operations are,</p>
    <ul>
        <li><code>moveUp</code> -  Moves the selected item in the upward direction.</li>
        <li><code>moveDown</code> -  Moves the selected item in the downward direction.</li>
        <li><code>moveTo</code> -  Moves the selected item to the Group B list box.</li>
        <li><code>moveFrom</code> -  Moves the selected item from Group B list box to Group A.</li>
        <li><code>moveAllTo</code> -  Moves all the items to the Group B list box.</li>
        <li><code>moveAllFrom</code> -  Moves all the items from Group B list box to Group A.</li>
    </ul>
"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <div class="dual-list-wrapper">
            <div class="dual-list-groupa">
                <h4> Group A</h4>
                <EjsListBox ID="listbox1" Scope="#listbox2" DataSource="@GroupA" Height="330px" TValue="string[]">
                    <ListBoxFieldSettings Text="Name"></ListBoxFieldSettings>
                    <ListBoxToolbarSettings Items="@Items"></ListBoxToolbarSettings>
                </EjsListBox>
            </div>
            <div class="dual-list-groupb">
                <h4>Group B</h4>
                <EjsListBox ID="listbox2" DataSource="@GroupB" Height="330px" TValue="string[]">
                    <ListBoxFieldSettings Text="Name"></ListBoxFieldSettings>
                </EjsListBox>
            </div>
        </div>
    </div>
</div>


@code{

    public string[] Items = new string[] { "moveUp", "moveDown", "moveTo", "moveFrom", "moveAllTo", "moveAllFrom" };

    public List<ListData> GroupA = new List<ListData> {
        new ListData { Name = "Australia", Code = "AU" },
        new ListData { Name = "Bermuda", Code = "BM" },
        new ListData { Name = "Canada", Code = "CA" },
        new ListData { Name = "Cameroon", Code = "CM" },
        new ListData { Name = "Denmark", Code = "DK" },
        new ListData { Name = "France", Code = "FR" },
        new ListData { Name = "Finland", Code = "FI" },
        new ListData { Name = "Germany", Code = "DE" },
        new ListData { Name = "Hong Kong", Code = "HK" }
    };

    public List<ListData> GroupB = new List<ListData> {
                new ListData { Name = "India", Code = "IN" },
                new ListData { Name = "Italy", Code = "IT" },
                new ListData { Name = "Japan", Code = "JP" },
                new ListData { Name = "Mexico", Code = "MX" },
                new ListData { Name = "Norway", Code = "NO" },
                new ListData { Name = "Poland", Code = "PL" },
                new ListData { Name = "Switzerland", Code = "CH" },
                new ListData { Name = "United Kingdom", Code = "GB" },
                new ListData { Name = "United States", Code = "US" }
    };

     public class ListData
    {
        public string Name { get; set; }

        public string Code { get; set; }
    }

}

<style>
    .control-section .dual-list-wrapper {
        width: 60%;
        margin: 0 auto 10px;
        display: flex;
    }

    .dual-list-groupa,
    .dual-list-groupb {
        width: 50%;
    }

    .dual-list-groupb .e-listbox-wrapper,
    .dual-list-groupb h4 {
        width: 87%;
        margin-left: 15px;
    }

    @@media screen and (max-width: 590px) {
        .control-section .dual-list-wrapper {
            width: 100%;
        }

        .dual-list-groupa {
            width: 56%;
        }

        .dual-list-groupb {
            width: 44%;
        }
    }

    @@media screen and (max-width: 400px) {
        .dual-list-groupa {
            width: 59%;
        }

        .dual-list-groupb {
            width: 41%;
        }
    }

    #listbox-control {
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>

