@page "/TextBox/DefaultFunctionalities"

@using Syncfusion.EJ2.RazorComponents.Inputs

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
            SampleBrowser.CurrentSampleName = "Default Functionalities";
            SampleBrowser.CurrentControlName = "TextBox";
            SampleBrowser.CurrentControlCategory = "TextBox";
            SampleBrowser.CurrentControl = SampleBrowser.Config.TextBox;
            SampleBrowser.ActionDescription = new string[]
            {
                @"<p>
            This sample demonstrates the default functionalities of the <code>TextBox</code> component. Type a character in the TextBox element or focus-in to the TextBox for floating the label text. The label will be positioned back to TextBox on focus-out without value.
        </p>"
            };
            SampleBrowser.Description = new string[]
            {
                @"<p>
            A TextBoxes are an input element that allows to get input from the user. It allows the user either to edit or display the input values.
        </p>
        <br>
        <table style=""width:100%"">
            <tr>
                <th>Types</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Floating Label</td>
                <td>
                    You can render floating textbox with <b>e-float-input</b> class added and need to maintain the following structure
                    of elements.
                    <ul>
                        <li>Create group element with<b>e-float-input</b> class added.</li>
                        <li>Input element with<b> required</b> attribute.</li>
                        <li>Span element with<b> e-float-line</b> class.</li>
                        <li>Label element with<b> e-float-text</b> class.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Floating Label & Elements</td>
                <td>
                    You can render floating textbox with icons added with in group element<b>e-input-group</b> and need to maintain
                    the following structure of elements.
                    <ul>
                        <li>Create group element with <b>e-float-input</b> class added.</li>
                        <li>Input element with<b> required</b> attribute.</li>
                        <li>Span element with<b> e-float-line</b> class.</li>
                        <li>Label element with<b> e-float-text</b> class.</li>
                        <li>Append or prepend the span element with class <b>e-input-group-icon</b> added.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Default TextBox</td>
                <td>
                    <div style = ""padding-bottom: 10px"" >
                        You can render textbox by adding class as <b>e-input</b>.You can also render textbox as group by adding
                        parent element with<b>e-input-group</b> class added.
                    </div>
                </td>
            </tr>
            <tr>
                <td>RTL TextBox</td>
                <td>
                    <div style = ""padding-bottom: 10px"" >
                        Set < b > e - input </ b > and < b > e - rtl </ b > classes to render textbox in right to left direction. For rendering
                        group in RTL mode, class list will be like<b> e-input-group e-rtl</b>.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Disabled TextBox</td>
                <td>
                    <div style = ""padding-bottom: 10px"" > You set html disabled attribute to textbox. For parent group element, you can disable it by adding <b>e-disabled</b>                    class.</div>
                </td>
            </tr>
            <tr>
                <td>Readonly TextBox</td>
                <td>
                    <div style = ""padding-bottom: 10px"" > You set html readonly attribute to textbox.</div>
                </td>
            </tr>
            <tr>
                <td>Validation states</td>
                <td>
                    <div style = ""padding-bottom: 10px"" >
                        You can apply validation states success, warning, error to the textbox with the corresponding classes added
                        to the input element such as <b>e-success</b>, <b>e-warning</b>, <b>e-error</b>.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Sizing</td>
                <td>
                    <div style = ""padding-bottom: 10px"" >
                        You can render small sizing textbox by adding<b> e-small</b> class to the input element.By default normal
                       size considered.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Input & elements</td>
                <td>
                    You can render textbox with icons in the below format,
                    <ul>
                        <li>Create group element with<b>e-input-group</b> class added.</li>
                        <li>
                            Add input element with<b>e-input</b> and span element with<b> e-input-group-icon</b> inside the input
                            group element.
                        </li>
                        <li>
                            You can add the icon either before or after the textbox by placing<b> e-input-group-icon</b> class named
                            element in specific place.
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <br>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Floating Label</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <EjsTextBox id="firstname" placeholder="First Name" floatLabelType="@FloatLabelType.Auto"></EjsTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <EjsTextBox id="lastname" cssClass="e-rtl" placeholder="Last Name" floatLabelType="@FloatLabelType.Auto"></EjsTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <div class="e-float-input e-input-group">
                    <input required="" type="text">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Country</label>
                    <span class="e-input-group-icon e-spin-down"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Inputs</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Enter Name" type="text">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group e-rtl">
                    <input class="e-input" placeholder="Last Name" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Password" value="password" type="password">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Enter Email" type="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group e-disabled">
                    <input class="e-input" placeholder="Disabled" disabled="" type="text">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Enter Name" value="Readonly" readonly="" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Validation States</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-input-group e-success">
                    <input class="e-input" placeholder="Success" type="text">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-input-group e-warning">
                    <input class="e-input" placeholder="Warning" type="text">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-input-group e-error">
                    <input class="e-input" placeholder="Error" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Sizing</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 custom-padding-05">
                <div class="e-input-group e-small">
                    <input class="e-input" placeholder="Small" type="text">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Normal" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Input &amp; Elements</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Date of Birth" type="text">
                    <span id="DOB" class="e-input-group-icon e-input-calendar"></span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group e-float-icon-left">
                    <span class="e-input-group-icon e-input-picture"></span>
                    <div class="e-input-in-wrap">
                        <input class="e-input" placeholder="Upload Picture" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .e-input-picture::before {
        content: '\e335';
        font-family: e-icons;
    }

    .e-input-calendar::before {
        content: '\e901';
        font-family: e-icons;
        font-size: 13px;
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    .custom-padding-05 {
        padding-top: 5px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #description td {
        vertical-align: top;
    }
</style>

@code{
    protected object ActionDescription { get; set; }
}