@page "/listbox/checkbox"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates the checkbox functionalities of ListBox component for multi-item selection.</p>

<p>Checkbox features:</p>
<ul>
  <li>Click one or more items from list to select</li>
  <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfListBox-2.html" target="_blank" rel="noopener" aria-label="Navigate to ListBox class reference">ListBox</a> built-in support for selecting multiple items</li>
  <li>Enable checkbox by setting <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.DropDowns.ListBoxSelectionSettings~ShowCheckbox.html" aria-label="Navigate to ShowCheckbox property">ShowCheckbox</a> to <b>true</b> in <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.DropDowns.ListBoxSelectionSettings.html" aria-label="Navigate to SelectionSettings class">SelectionSettings</a> property</li>
</ul>

<p><b>See also</b></p>
<ul>
  <li><a href="https://blazor.syncfusion.com/documentation/listbox/selection" target="_blank" rel="noopener" aria-label="Navigate to ListBox Selection documentation">Blazor ListBox - Selection</a></li>
</ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select your favorite car:</h4>
        <SfListBox Value="@SelectedCars" DataSource="@CarList" TItem="CarItem" TValue="string[]">
            <ListBoxSelectionSettings ShowCheckbox="true"></ListBoxSelectionSettings>
            <ListBoxFieldSettings Text="CarName" Value="CarId"></ListBoxFieldSettings>
        </SfListBox>
    </div>
</div>

@code {
    private string[] SelectedCars { get; set; } = new string[] { "Car-01" };

    private List<CarItem> CarList { get; set; } = new List<CarItem>()
    {
        new CarItem { CarName = "Hennessey Venom", CarId = "Car-01" },
        new CarItem { CarName = "Bugatti Chiron", CarId = "Car-02" },
        new CarItem { CarName = "Bugatti Veyron Super Sport", CarId = "Car-03" },
        new CarItem { CarName = "SSC Ultimate Aero", CarId = "Car-04" },
        new CarItem { CarName = "Koenigsegg CCR", CarId = "Car-05" },
        new CarItem { CarName = "McLaren F1", CarId = "Car-06" },
        new CarItem { CarName = "Aston Martin One-77", CarId = "Car-07" },
        new CarItem { CarName = "Jaguar XJ220", CarId = "Car-08" },
        new CarItem { CarName = "McLaren P1", CarId = "Car-09" },
        new CarItem { CarName = "Ferrari LaFerrari", CarId = "Car-10" }
    };

    public class CarItem
    {
        public string? CarName { get; set; }
        public string? CarId { get; set; }
    }

}

<style>
    #listbox-control {
        width: 350px;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>