@page "/listbox/checkbox"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the checkbox functionalities of the ListBox component. Click one or more items from the list of items in the ListBox component.</p>
</SampleDescription>
<ActionDescription>
    <p>The <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfListBox-2.html" target="_blank" aria-label="ListBox">ListBox</a> component has built-in support to select multiple items from the list. The Checkbox selection can be enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.DropDowns.ListBoxSelectionSettings~ShowCheckbox.html" aria-label="ShowCheckbox">ShowCheckbox</a> property to <b>true</b> in the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.DropDowns.ListBoxSelectionSettings.html" aria-label="SelectionSettings">SelectionSettings</a> property.</p>
    <p>More information about the Blazor ListBox selection can be found in the <a href="https://blazor.syncfusion.com/documentation/listbox/selection" target="_blank" aria-label="documentation section">documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select your favorite car:</h4>
        <SfListBox Value="@SelectedCars" DataSource="@CarList" TItem="CarItem" TValue="string[]">
            <ListBoxSelectionSettings ShowCheckbox="true"></ListBoxSelectionSettings>
            <ListBoxFieldSettings Text="CarName" Value="CarId"></ListBoxFieldSettings>
        </SfListBox>
    </div>
</div>

@code {
    private string[] SelectedCars { get; set; } = new string[] { "Car-01" };

    private List<CarItem> CarList { get; set; } = new List<CarItem>()
    {
        new CarItem { CarName = "Hennessey Venom", CarId = "Car-01" },
        new CarItem { CarName = "Bugatti Chiron", CarId = "Car-02" },
        new CarItem { CarName = "Bugatti Veyron Super Sport", CarId = "Car-03" },
        new CarItem { CarName = "SSC Ultimate Aero", CarId = "Car-04" },
        new CarItem { CarName = "Koenigsegg CCR", CarId = "Car-05" },
        new CarItem { CarName = "McLaren F1", CarId = "Car-06" },
        new CarItem { CarName = "Aston Martin One-77", CarId = "Car-07" },
        new CarItem { CarName = "Jaguar XJ220", CarId = "Car-08" },
        new CarItem { CarName = "McLaren P1", CarId = "Car-09" },
        new CarItem { CarName = "Ferrari LaFerrari", CarId = "Car-10" }
    };

    public class CarItem
    {
        public string CarName { get; set; }
        public string CarId { get; set; }
    }

}

<style>
    #listbox-control {
        width: 350px;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>