@page "/listbox/default-functionalities"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates the default functionalities of ListBox component for item selection and management.</p>

<p>Core features:</p>
<ul>
  <li>Click any item to select single item</li>
  <li>Press <code>CTRL</code> and click to select multiple items</li>
  <li>Graphical user interface component for displaying items</li>
</ul>

<p>Data binding:</p>
<ul>
  <li>Bind data using <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfDropDownBase-1.html#Syncfusion_Blazor_DropDowns_SfDropDownBase_1_DataSource" target="_blank" rel="noopener" aria-label="Navigate to DataSource property">DataSource</a> property</li>
  <li>Select favorite items from list</li>
</ul>

<p><b>See also</b></p>
<ul>
  <li><a href="https://blazor.syncfusion.com/documentation/listbox/getting-started/" target="_blank" rel="noopener" aria-label="Navigate to ListBox Getting Started documentation">Blazor ListBox - Getting Started</a></li>
</ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select your favorite car:</h4>
        <SfListBox Value="@SelectedCars" DataSource="@CarData" TValue="string[]" TItem="CarItem">
            <ListBoxFieldSettings Text="CarName" Value="CarId"></ListBoxFieldSettings>
        </SfListBox>
    </div>
</div>

@code {
    private string[] SelectedCars { get; set; } = new string[] { "Car-01" };

    private List<CarItem> CarData { get; set; } = new List<CarItem>
    {
        new CarItem { CarName = "Hennessey Venom", CarId = "Car-01" },
        new CarItem { CarName = "Bugatti Chiron", CarId = "Car-02" },
        new CarItem { CarName = "Bugatti Veyron Super Sport", CarId = "Car-03" },
        new CarItem { CarName = "SSC Ultimate Aero", CarId = "Car-04" },
        new CarItem { CarName = "Koenigsegg CCR", CarId = "Car-05" },
        new CarItem { CarName = "McLaren F1", CarId = "Car-06" },
        new CarItem { CarName = "Aston Martin One-77", CarId = "Car-07" },
        new CarItem { CarName = "Jaguar XJ220", CarId = "Car-08" },
        new CarItem { CarName = "McLaren P1", CarId = "Car-09" },
        new CarItem { CarName = "Ferrari LaFerrari", CarId = "Car-10" }
    };

    public class CarItem
    {
        public string? CarName { get; set; }
        public string? CarId { get; set; }
    }

}

<style>
    #listbox-control {
        width: 350px;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>