@page "/listbox/keyboard-navigation"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates keyboard interaction capabilities of ListBox component for efficient navigation and selection.</p>

<p>Keyboard shortcuts supported:</p>

<p><b>Focus Navigation</b></p>
<ul>
  <li><span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span> – Focuses on first component</li>
</ul>

<p><b>Item Navigation</b></p>
<ul>
  <li><span class="key-class"><kbd>Up arrow</kbd></span> – Moves focus to previous option</li>
  <li><span class="key-class"><kbd>Down arrow</kbd></span> – Moves focus to next option</li>
  <li><span class="key-class"><kbd>Home</kbd></span> – Moves focus to first option</li>
  <li><span class="key-class"><kbd>End</kbd></span> – Moves focus to last option</li>
  <li><span class="key-class"><kbd>Space</kbd></span> – Changes selection state of focused option</li>
</ul>

<p><b>Multi-Selection</b></p>
<ul>
  <li><span class="key-class"><kbd>Ctrl</kbd> + <kbd>A</kbd></span> – Selects all options</li>
  <li><span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Home</kbd></span> – Selects focused option and all options up to first</li>
  <li><span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>End</kbd></span> – Selects focused option and all options down to last</li>
  <li><span class="key-class"><kbd>Ctrl</kbd> + <kbd>Arrow keys</kbd></span> – Press Ctrl with up/down arrow or mouse for multiple selection</li>
</ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select Your Favorite Car:</h4>
        <SfListBox Value="@SelectedCarIds" DataSource="@AvailableVehicles" TValue="string[]" TItem="VehicleItem">
            <ListBoxFieldSettings Text="VehicleName" Value="VehicleId"></ListBoxFieldSettings>
        </SfListBox>
    </div>
</div>

@code {
    private string[] SelectedCarIds { get; set; } = new string[] { "List-01" };

    private List<VehicleItem> AvailableVehicles { get; set; } = new List<VehicleItem>
    {
        new VehicleItem { VehicleName = "Hennessey Venom", VehicleId = "List-01" },
        new VehicleItem { VehicleName = "Bugatti Chiron", VehicleId = "List-02" },
        new VehicleItem { VehicleName = "Bugatti Veyron Super Sport", VehicleId = "List-03" },
        new VehicleItem { VehicleName = "SSC Ultimate Aero", VehicleId = "List-04" },
        new VehicleItem { VehicleName = "Koenigsegg CCR", VehicleId = "List-05" },
        new VehicleItem { VehicleName = "McLaren F1", VehicleId = "List-06" },
        new VehicleItem { VehicleName = "Aston Martin One-77", VehicleId = "List-07" },
        new VehicleItem { VehicleName = "Jaguar XJ220", VehicleId = "List-08" },
        new VehicleItem { VehicleName = "McLaren P1", VehicleId = "List-09" },
        new VehicleItem { VehicleName = "Ferrari LaFerrari", VehicleId = "List-10" }
    };

    public class VehicleItem
    {
        public string? VehicleName { get; set; }
        public string? VehicleId { get; set; }
    }

}

<style>
    #listbox-control {
        width: 350px;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
    .key-class {
        display: inline-block;
        width: 180px;
    }
</style>