@page "/listbox/keyboard-navigation"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the keyboard interactions of the ListBox component. The various key combinations can be
        used to interact with ListBox.</p>
</SampleDescription>
<ActionDescription>
    <i>The ListBox supports the following keyboard shortcuts to initiate various actions.</i>
    <ul>
        <li>
            <b>Supported keys and user actions</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the demo.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves focus to the previous option.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves focus to the next option.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Moves focus to first option.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Moves focus to last option.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Space</kbd></span>
                    <span> - Changes the selection state of the focused option.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>A</kbd></span>
                    <span> - Selects all options in the list.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Home</kbd></span>
                    <span> - Selects the focused option and all options up to the first option.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>End</kbd></span>
                    <span> - Selects the focused option and all options down to the last option.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Arrow keys</kbd></span>
                    <span> - Press Ctrl key with up / down arrow or mouse to select multiple items.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <h4>Select Your Favorite Car:</h4>
        <SfListBox Value="@SelectedCarIds" DataSource="@AvailableVehicles" TValue="string[]" TItem="VehicleItem">
            <ListBoxFieldSettings Text="VehicleName" Value="VehicleId"></ListBoxFieldSettings>
        </SfListBox>
    </div>
</div>

@code {
    private string[] SelectedCarIds { get; set; } = new string[] { "List-01" };

    private List<VehicleItem> AvailableVehicles { get; set; } = new List<VehicleItem>
    {
        new VehicleItem { VehicleName = "Hennessey Venom", VehicleId = "List-01" },
        new VehicleItem { VehicleName = "Bugatti Chiron", VehicleId = "List-02" },
        new VehicleItem { VehicleName = "Bugatti Veyron Super Sport", VehicleId = "List-03" },
        new VehicleItem { VehicleName = "SSC Ultimate Aero", VehicleId = "List-04" },
        new VehicleItem { VehicleName = "Koenigsegg CCR", VehicleId = "List-05" },
        new VehicleItem { VehicleName = "McLaren F1", VehicleId = "List-06" },
        new VehicleItem { VehicleName = "Aston Martin One-77", VehicleId = "List-07" },
        new VehicleItem { VehicleName = "Jaguar XJ220", VehicleId = "List-08" },
        new VehicleItem { VehicleName = "McLaren P1", VehicleId = "List-09" },
        new VehicleItem { VehicleName = "Ferrari LaFerrari", VehicleId = "List-10" }
    };

    public class VehicleItem
    {
        public string VehicleName { get; set; }
        public string VehicleId { get; set; }
    }

}

<style>
    #listbox-control {
        width: 350px;
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
    .key-class {
        display: inline-block;
        width: 180px;
    }
</style>