@page "/MenuBar/Hamburger"

@using Syncfusion.EJ2.Blazor.Navigations


@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Hamburger Mode";
    SampleBrowser.CurrentControlName = "MenuBar";
    SampleBrowser.CurrentControlCategory = "Navigations";
    SampleBrowser.CurrentControl = SampleBrowser.Config.MenuBar;
    SampleBrowser.ActionDescription = new string[] {
    };
    SampleBrowser.Description = new string[] {
     };
}
@*End:Hidden*@

<div class="menu-control">
    <div id='layoutcontainer' class="@clsName">
        <div class="speaker">
            <div class="camera"></div>
        </div>
        <div class="layout">
            <div id="container">
                <EjsMenu Items="@menuItems" HamburgerMode="true" ShowItemOnClick="true"></EjsMenu>
            </div>
        </div>
        <div class="outerButton"> </div>
    </div>
</div>


@code {
    public string clsName = "deviceLayout";
   
    private List<MenuItem> menuItems = new List<MenuItem>() {
            new MenuItem
            {
                Text = "Accessories",
                Items = new List<MenuItem>()
                {
                    new MenuItem {
                        Text = "Mobile",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem { Text= "Headphones" },
                            new MenuItem { Text= "Batteries" },
                            new MenuItem { Text= "Memory Cards" }
                        }
                    },
                    new MenuItem { Text = "Laptops" },
                    new MenuItem {
                        Text = "Desktop PC",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem { Text= "Pendrives" },
                            new MenuItem { Text= "External Hard Disks" }
                        }
                    },
                    new MenuItem {
                        Text = "Camera",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem { Text= "Lens" },
                            new MenuItem { Text= "Tripods" }
                        }
                    }
                }
            },
            new MenuItem
            {
                Text = "Fashion",
                Items = new List<MenuItem>()
                {
                    new MenuItem { Text= "Men" },
                    new MenuItem { Text= "Women" }
                }
            },
            new MenuItem
            {
                Text = "Home & Living",
                Items = new List<MenuItem>()
                {
                    new MenuItem { Text= "Furniture" },
                    new MenuItem { Text= "Decor" },
                    new MenuItem { Text= "Smart Home Automation" },
                    new MenuItem { Text= "Dining & Serving" }
                }
            },
            new MenuItem
            {
                Text = "Entertainment",
                Items = new List<MenuItem>()
                {
                    new MenuItem { Text= "Televisions" },
                    new MenuItem { Text= "Home Theatres" },
                    new MenuItem { Text= "Gaming Laptops" }
                }
            },
            new MenuItem { Text = "Contact Us" },
            new MenuItem { Text = "Help" }
            };
}

<style>
    .deviceLayout #menu {
        -ms-overflow-style: none;
        scrollbar-width: none;
        height: 363px;
    }

        .deviceLayout #menu::-webkit-scrollbar {
            width: 0;
        }

    .menu-control {
        text-align: center;
    }

    #layoutcontainer:not(.deviceLayout) {
        margin-top: 45px;
    }

    .deviceLayout {
        line-height: initial;
        border: 1px solid black;
        width: 285px;
        height: 505px;
        margin: auto;
        margin-bottom: 15px;
        border-radius: 28px;
        position: relative;
        background-image: linear-gradient(to top, #ffffff, #f5f5f5);
    }

        .deviceLayout .speaker {
            border: 1px solid black;
            border-radius: 5px;
            width: 20%;
            height: 5px;
            margin: 15px auto 0px auto;
            position: relative;
        }

        .deviceLayout .outerButton {
            width: 30px;
            height: 30px;
            border: 1px solid black;
            border-radius: 50%;
            position: absolute;
            bottom: calc(0% + 10px);
            left: calc(50% - 15px);
        }

        .deviceLayout .camera {
            position: absolute;
            left: calc(-15% - 10px);
            top: -100%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid black;
        }

        .deviceLayout .layout {
            border: 1px solid black;
            margin: 20px 13px 0px 13px;
        }

    .layout #container {
        height: 405px;
        background-color: white;
        overflow: hidden;
    }

    #header {
        width: 100%;
        background-color: #7b8cfb;
    }
</style>
