@page "/menu-bar/scrollable"

@using Syncfusion.Blazor.Navigations

@inherits SampleBaseComponent;

<SampleDescription>
    <p> This sample demonstrates the <code>Scrollable</code> option in the Menu component. Click the scroll arrows to view the hidden menu items.</p>
</SampleDescription>
<ActionDescription>
   <p>The menu component supports horizontal scrolling to render large menus and submenus in an adaptive way. This can be achieved by enabling the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Navigations.IMenu~EnableScrolling.html'> EnableScrolling</a> property and by restricting the corresponding menu/submenu size.</p>
   <p>In this demo, the parent menu is horizontally scrollable while the submenu and nested submenu are vertically scrollable.</p>
   <p>More information about Blazor Menu bar component can be found in this <a target=""_blank"" href=""https://blazor.syncfusion.com/documentation/menu-bar/getting-started/""> documentation </a> section.</p>
</ActionDescription>

<div class="control-section">
    <div class="menu-control">
        <SfMenu Items="@MenuItems" CssClass="e-custom-scroll" EnableScrolling="true">
            <MenuEvents TValue="MenuItem" OnOpen="@BeforeOpenHandler"></MenuEvents>
        </SfMenu>
    </div>
</div>

@code{
    @*Hidden:Lines*@
    #pragma warning disable
    @*End:Hidden*@
        public List<MenuItem> MenuItems = new List<MenuItem> {
              new MenuItem
              {
                Text = "Appliances",
                Items = new List<MenuItem>()
                {
                    new MenuItem {
                        Text= "Kitchen",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem{ Text= "Electric Cookers" },
                            new MenuItem{ Text= "Coffee Makers" },
                            new MenuItem{ Text= "Blenders" },
                            new MenuItem{ Text= "Microwave Ovens" }
                        }
                    },
                    new MenuItem {
                        Text= "Television",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem{ Text= "Our Exclusive TVs" },
                            new MenuItem{ Text= "Smart TVs" },
                            new MenuItem{ Text= "Big Screen TVs" }
                        }
                    },
                    new MenuItem { Text= "Washing Machine" },
                    new MenuItem {
                        Text= "Refrigerators",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem{ Text= "Inverter ACs" },
                            new MenuItem{ Text= "Split ACs" },
                            new MenuItem{ Text= "Window ACs" }
                        }
                    },
                    new MenuItem { Text= "Air Conditioners" },
                    new MenuItem { Text= "Water Purifiers" },
                    new MenuItem { Text= "Air Purifiers" },
                    new MenuItem { Text= "Chimneys" },
                    new MenuItem { Text= "Inverters" },
                    new MenuItem { Text= "Healthy Living" },
                    new MenuItem { Text= "Vacuum Cleaners" },
                    new MenuItem { Text= "Room Heaters" },
                    new MenuItem { Text= "New Launches" }
                }
            },
           new MenuItem
            {
                Text = "Accessories",
                Items = new List<MenuItem>()
                {
                    new MenuItem {
                        Text= "Mobile",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem{ Text= "Headphones" },
                            new MenuItem{ Text= "Batteries" },
                            new MenuItem{ Text= "Memory Cards" },
                            new MenuItem{ Text= "Power Banks" },
                            new MenuItem{ Text= "Mobile Cases" },
                            new MenuItem{ Text= "Screen Protectors" },
                            new MenuItem{ Text= "Data Cables" },
                            new MenuItem{ Text= "Chargers" },
                            new MenuItem{ Text= "Selfie Sticks" },
                            new MenuItem{ Text= "OTG Cable" }
                        }
                    },
                    new MenuItem{ Text= "Laptops" },
                    new MenuItem{
                        Text= "Desktop PC",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem{ Text= "Pendrives" },
                            new MenuItem{ Text= "External Hard Disks" },
                            new MenuItem{ Text= "Monitors" },
                            new MenuItem{ Text= "Keyboards" }
                        }
                    },
                    new MenuItem{
                        Text= "Camera",
                        Items = new List<MenuItem>()
                        {
                            new MenuItem{ Text= "Lens" },
                            new MenuItem{ Text= "Tripods" }
                        }
                    }
                }
            },
            new MenuItem
            {
                Text = "Fashion",
                Items = new List<MenuItem>()
            {
                    new MenuItem{ Text = "Men" },
                    new MenuItem{ Text = "Women" }
                }
            },
            new MenuItem
            {
                Text = "Home & Living",
                Items = new List<MenuItem>()
    {
                    new MenuItem{ Text= "Furniture" },
                    new MenuItem{ Text= "Decor" },
                    new MenuItem{ Text= "Smart Home Automation" },
                    new MenuItem{ Text= "Dining & Serving" }
                }
            },
            new MenuItem
            {
                Text = "Entertainment",
                Items = new List<MenuItem>()
    {
                    new MenuItem{ Text= "Televisions" },
                    new MenuItem{ Text= "Home Theatres" },
                    new MenuItem{ Text= "Gaming Laptops" }
                }
            },
            new MenuItem
            {
                Text = "Contact Us",
            },
            new MenuItem
            {
                Text = "Help",
            }
        };
    private void BeforeOpenHandler(BeforeOpenCloseMenuEventArgs<MenuItem> e)
    {
        if (e.ParentItem.Text == "Appliances")
            e.ScrollHeight = 320;
        else if (e.ParentItem.Text == "Mobile")
            e.ScrollHeight = 260;
    }
@*Hidden:Lines*@
#pragma warning restore
@*End:Hidden*@
}

<style>
    .menu-control {
        margin-top: 45px;
        text-align: center;
    }
    .menu-control .e-menu-container.e-custom-scroll {
        width: 492px;
    }

    .mobile .menu-control .e-menu-container.e-custom-scroll {
        width: 565px;
    }
    @@media only screen and (max-width: 500px) {
        .e-mobile .menu-control .e-menu-container.e-custom-scroll {
            width: 290px;
        }
    }
</style>