@page "/MenuBar/Scrollable"

@using Syncfusion.EJ2.Blazor.Navigations

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Scrollable";
    SampleBrowser.CurrentControlName = "MenuBar";
    SampleBrowser.CurrentControlCategory = "Navigations";
    SampleBrowser.CurrentControl = SampleBrowser.Config.MenuBar;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the <code>Scrollable</code> option in the Menu component. Click the scroll arrows to view the hidden menu items.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The menu component supports horizontal and vertical scrolling to render large menus and submenus in an adaptive way. This can be achieved by enabling the <code>EnableScrolling</code> property and by restricting the corresponding menu/submenu size.
        </p>
        <p>
            In this demo, the parent menu is horizontally scrollable while the submenu and nested submenu are vertically scrollable.
        </p>
        <p>
            More information about menu can be found in this
            <a target=""_blank"" href=""https://ej2.syncfusion.com/aspnet-core-blazor/documentation/menu/getting-started/"">
                documentation
            </a> section.
        </p>"
    };

}
@*End:Hidden*@

<div class="control-section">
    <div class="menu-control">
        <EjsMenu Items="@MenuItems" CssClass="e-custom-scroll" EnableScrolling="true" AnimationSettings="@AnimationSettings"></EjsMenu>
    </div>
</div>

@code{
    public List<MenuItem> MenuItems = new List<MenuItem>{
              new MenuItem
            {
                Text = "Appliances",
                Items = new List<MenuItem>()
        {
                    new MenuItem{
                        Text= "Kitchen",
                        Items = new List<MenuItem>()
                {
                            new MenuItem{ Text= "Electric Cookers" },
                            new MenuItem{ Text= "Coffee Makers" },
                            new MenuItem{ Text= "Blenders" },
                            new MenuItem{ Text= "Microwave Ovens" }
                        }
                    },
                    new MenuItem{
                        Text= "Television",
                        Items = new List<MenuItem>()
                {
                            new MenuItem{ Text= "Our Exclusive TVs" },
                            new MenuItem{ Text= "Smart TVs" },
                            new MenuItem{ Text= "Big Screen TVs" }
                        }
                    },
                    new MenuItem{ Text= "Washing Machine" },
                    new MenuItem{
                        Text= "Refrigerators",
                        Items = new List<MenuItem>()
                {
                            new MenuItem{ Text= "Inverter ACs" },
                            new MenuItem{ Text= "Split ACs" },
                            new MenuItem{ Text= "Window ACs" }
                        }
                    },
                    new MenuItem{ Text= "Air Conditioners" },
                    new MenuItem{ Text= "Water Purifiers" }
                }
            },

           new MenuItem
            {
                Text = "Accessories",
                Items = new List<MenuItem>()
        {
                    new MenuItem{
                        Text= "Mobile",
                        Items = new List<MenuItem>()
                {
                            new MenuItem{ Text= "Headphones" },
                            new MenuItem{ Text= "Batteries" },
                            new MenuItem{ Text= "Memory Cards" },
                            new MenuItem{ Text= "Power Banks" },
                            new MenuItem{ Text= "Mobile Cases" },
                            new MenuItem{ Text= "Screen Protectors" },
                            new MenuItem{ Text= "Data Cables" },
                            new MenuItem{ Text= "Chargers" },
                            new MenuItem{ Text= "Selfie Sticks" },
                            new MenuItem{ Text= "OTG Cable" }
                        }
                    },
                    new MenuItem{ Text= "Laptops" },
                    new MenuItem{
                        Text= "Desktop PC",
                        Items = new List<MenuItem>()
                {
                            new MenuItem{ Text= "Pendrives" },
                            new MenuItem{ Text= "External Hard Disks" },
                            new MenuItem{ Text= "Monitors" },
                            new MenuItem{ Text= "Keyboards" }
                        }
                    },
                    new MenuItem{
                        Text= "Camera",
                        Items = new List<MenuItem>()
                {
                            new MenuItem{ Text= "Lens" },
                            new MenuItem{ Text= "Tripods" }
                        }
                    }
                }
            },

            new MenuItem
            {
                Text = "Fashion",
                Items = new List<MenuItem>()
        {
                    new MenuItem{ Text = "Men" },
                    new MenuItem{ Text = "Women" }
                }
            },

            new MenuItem
            {
                Text = "Home & Living",
                Items = new List<MenuItem>()
        {
                    new MenuItem{ Text= "Furniture" },
                    new MenuItem{ Text= "Decor" },
                    new MenuItem{ Text= "Smart Home Automation" },
                    new MenuItem{ Text= "Dining & Serving" }
                }
            },

            new MenuItem
            {
                Text = "Entertainment",
                Items = new List<MenuItem>()
        {
                    new MenuItem{ Text= "Televisions" },
                    new MenuItem{ Text= "Home Theatres" },
                    new MenuItem{ Text= "Gaming Laptops" }
                }
            },

            new MenuItem
            {
                Text = "Contact Us",
            },

            new MenuItem
            {
                Text = "Help",
            }
        };

    public MenuAnimationSettings AnimationSettings = new MenuAnimationSettings()
    {
        Duration = 800
    };
}

<style>
    .menu-control {
        margin-top: 45px;
        text-align: center;
    }
    .menu-control .e-menu-wrapper.e-custom-scroll {
        width: 492px;
    }

    .e-bigger .menu-control .e-menu-wrapper.e-custom-scroll {
        width: 565px;
    }
</style>