@page "/range-slider/custom-thumb"
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using Syncfusion.Blazor.Inputs;
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the customization of the <a href='https://www.syncfusion.com/blazor-components/blazor-range-slider' target='_blank' aria-label="Feature Tour of Blazor Range Slider">Blazor Range Slider</a> thumb. Drag the thumb over the bar to select the values between <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Min' aria-label="Class reference of Min property in Range Slider">Min</a> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Max' aria-label="Class reference of Max property in Range Slider">Max</a>.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, customization of the thumb by changing CSS is demonstrated.</p>
    <ul>
        <li>Square - In this sample, the thumb has been customized into a square shape.</li>
        <li>Circle - In this sample, the thumb has been customized into a circle shape.</li>
        <li>Oval - In this sample, the thumb has been customized into an oval shape.</li>
        <li>Custom image - In this sample, the thumb has been replaced with a custom image.</li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper custom-thumb">
        <div class="slider-wrap">
            <label>Square</label>
            @*Initialize the Slider component with custom option to set the shape of the handle as square*@
            <SfSlider Value="30" ID="square_slider"></SfSlider>
        </div>
        <div class="slider-wrap">
            <label>Circle</label>
            @*Initialize the Slider component with custom option to set the shape of the handle as circle*@
            <SfSlider Value="30" ID="circle_slider"></SfSlider>
        </div>
        <div class="slider-wrap">
            <label>Oval</label>
            @*Initialize the Slider component with custom option to set the shape of the handle as oval*@
            <SfSlider Value="30" ID="oval_slider"></SfSlider>
        </div>
        <div class="slider-wrap">
            <label>Custom image</label>
            @*Initialize the Slider component with custom option to place the image in the handle*@
            <SfSlider Value="30" ID="image_slider">
                <SliderTicks Placement="@Placement.After" LargeStep="10" SmallStep="5" ShowSmallTicks="true"></SliderTicks>
            </SfSlider>
        </div>
    </div>
</div>

<style>
    /* Sample specific styles */
    .content-wrapper {
        width: 40%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .slider-wrap {
        margin-top: 40px;
    }

    .slider-wrap label {
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
        margin: 0;
    }
    /* Customizing box shadow style */
    .content-wrapper .e-control-wrapper.e-slider-container .e-slider .e-handle.e-tab-handle {
        box-shadow: none;
    }

    .material .content-wrapper .e-control-wrapper.e-slider-container .e-slider .e-handle.e-tab-handle:after,
    .material-dark .content-wrapper .e-control-wrapper.e-slider-container .e-slider .e-handle.e-tab-handle:after {
        transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
    }
    /* Customizing the Slider handle as square type */
    #square_slider.e-control.e-slider .e-handle {
        border-radius: 0%;
        background-color: #f9920b;
        border: 0;
    }
    /* Customizing the Slider handle as circle type */
    #circle_slider.e-control.e-slider .e-handle {
        background-color: #f9920b;
        border-color: #f9920b;
    }
    /* Customizing the Slider handle as oval type */
    #oval_slider.e-control.e-slider .e-handle {
        height: 25px;
        width: 8px;
        top: 3px;
        border-radius: 15px;
        background-color: #f9920b;
    }
    /* Customizing the Slider handle as custom image */
    #image_slider.e-control.e-slider .e-handle {
        background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/range-slider/thumb.png")');
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
    }

    #image_slider.e-control.e-slider .e-handle {
        height: 25px;
        width: 24px;
        background-size: 24px;
    }

    .material #image_slider.e-control.e-slider .e-handle {
        height: 20px;
        width: 20px;
        background-size: 20px;
    }
    /* Customizing the custom image Slider position */
    .e-control-wrapper.e-slider-container #image_slider .e-handle {
        margin-left: -12px;
        top: calc(50% - 9px);
        box-shadow: none;
    }

    .tailwind .e-control-wrapper.e-slider-container #image_slider .e-handle,
    .tailwind-dark .e-control-wrapper.e-slider-container #image_slider .e-handle {
        top: calc(50% - 10px);
    }

    .material .e-control-wrapper.e-slider-container #image_slider .e-handle {
        margin-left: -20px;
        top: calc(50% - 7px);
    }

    .fluent2 .custom-thumb .e-control.e-slider .e-handle,
    .fluent2-dark .custom-thumb .e-control.e-slider .e-handle,
    .fluent2-highcontrast .custom-thumb .e-control.e-slider .e-handle {
        box-shadow:none;
    }
</style>

