@page "/range-slider/default"

@using Syncfusion.Blazor.Inputs;
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the default rendering of the <a href="https://www.syncfusion.com/blazor-components/blazor-range-slider" target="_blank" rel="noopener" aria-label="Feature Tour of Blazor Range Slider">Blazor Range Slider</a> component. Drag the thumb over the bar to select values between <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Min" aria-label="Class reference of Min property in Range Slider">Min</a> and <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Max" aria-label="Class reference of Max property in Range Slider">Max</a>.</p>
    
    <p>The <code>Range Slider</code> component allows you to select a value or range of values between a min and max range by dragging the thumb over the slider bar. Three types of Range Sliders are available:</p>
    <ul>
        <li><code>Default</code> - Allows selection of a single value.</li>
        <li><code>MinRange</code> - Allows selection of a single value with highlighted range selection from the minimum value to the current handle value.</li>
        <li><code>Range</code> - Allows selection of a range of values with two handles connected by a range selection.</li>
    </ul>
    
    <p>In this demo, the Default, MinRange, and Range Slider types can be seen.</p>
</ActionDescription>


<div class="control-section">
    <div class="content-wrapper">
        <div>
            <label>Default Slider</label>
            @*Initialize the Default Slider Component*@
            <SfSlider Value="30"></SfSlider>
        </div>
        <div>
            <label>MinRange Slider</label>
            @*Initialize the MinRange Slider Component*@
            <SfSlider Value="30" Type=SliderType.MinRange></SfSlider>
        </div>
        <div>
            <label>Range Slider</label>
            @*Initialize the Range Slider Component*@
            <SfSlider Value="@Value" Type=SliderType.Range></SfSlider>
        </div>
    </div>
</div>

@code {
    // Specifies the value of the Range Slider
    public int[] Value = { 20, 50 };
}

<style>
    /*Sample specific styles*/
    .content-wrapper {
        width: 50%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .content-wrapper label {
        font-size: 13px;
        font-weight: 500;
        padding: 30px 0;
        text-align: center;
        width: 100%;
    }
</style>
