@page "/range-slider/tooltip"

@using Syncfusion.Blazor.Inputs;
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the rendering of the <a href="https://www.syncfusion.com/blazor-components/blazor-range-slider" target="_blank" rel="noopener" aria-label="Feature Tour of Blazor Range Slider">Blazor Range Slider</a> component with a <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Tooltip" aria-label="Class reference of Tooltip property in Range Slider">Tooltip</a>. Drag the thumb over the bar to select values between <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Min">Min</a> and <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Max" aria-label="Class reference of Max property in Range Slider">Max</a> to enable the tooltip.</p>
    
    <p>The <code>Range Slider</code> component displays the tooltip to indicate the current value to the user.</p>
    
    <p><b>Sample Demonstrations:</b></p>
    <p>This demo demonstrates tooltip with <code>Default</code> and <code>Range Slider</code> types.</p>
    
    <p><b>Additional Features:</b></p>
    <ul>
        <li>Buttons can be used to increase or decrease the <code>Range Slider</code> value, which can be enabled using the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_ShowButtons" aria-label="Class reference of ShowButtons property in Range Slider">ShowButtons</a> property.</li>
        <li>The drag interval is used to drag both handles using the range bar, which is applicable only to the <code>Range Slider</code>.</li>
    </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div>
            <label for="slider1" aria-label="Slider tooltip for default slider" tabindex="0">Default Slider</label>
            @*Initialize the Slider component with Tooltip support*@
            <SfSlider ID="slider1" Value="30" ShowButtons="true">
                <SliderTooltip IsVisible="true" Placement="TooltipPlacement.After" ShowOn="TooltipShowOn.Always"></SliderTooltip>
            </SfSlider>
        </div>
        <div>
            <label for="slider2" aria-label="Slider tooltip for range slider" tabindex="0">Range Slider</label>
            @*Initialize the Range Slider component with Tooltip support*@
            <SfSlider ID="slider2" Type=SliderType.Range Value="@Range" ShowButtons="true">
                <SliderTooltip IsVisible="true" Placement="TooltipPlacement.Before" ShowOn="TooltipShowOn.Always"></SliderTooltip>
            </SfSlider>
        </div>
    </div>
</div>

@code {
    // Specifies the value of the Range Slider.
    private int[] Range = new int[] { 30, 70 };
}

<style>
    /* Sample specific styles */
    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .content-wrapper label {
        font-size: 13px;
        font-weight: 500;
        padding: 30px 0;
        width: 100%;
        text-align: center;
    }
</style>
