@page "/DateRangePicker/Format"

@using Syncfusion.Blazor.Calendars
@using System
@using Syncfusion.Blazor.DropDowns
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager

<PageTitle>Blazor DateRangePicker Example - Syncfusion Demos</PageTitle>

<HeadContent>
    <meta name="description" content="This example demonstrates the formatting in Blazor DataRangePicker. Explore here for more details." />
    <link rel="canonical" href="@canonicalURL" />
</HeadContent>
@*End:Hidden*@
<SampleDescription>
    <p>In the <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-daterangepicker/'>Blazor DateRangePicker</a> example, the has been configured with the <code>dd-MMM-yy hh:mm tt</code> date time format.</p>
</SampleDescription>
<ActionDescription>
    <p>Format example explains the support of custom date time format in the DateRangePicker component by using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.SfDateRangePicker-1.html#Syncfusion_Blazor_Calendars_SfDateRangePicker_1_Format' target='_blank'> Format</a> property.</p>
</ActionDescription>

<div class="col-lg-12">
    <div class="col-lg-8 control-section sb-property-border">
        <div class="control-wrapper">
            <label class="example-label">Account statement</label>
            <SfDateRangePicker TValue="DateTime?" Format="@FormatString" Placeholder="Choose a period" StartDate="@Start" EndDate="@End" ShowClearButton="true" FullScreen="true"></SfDateRangePicker>
        </div>
    </div>
</div>
<style>
    .control-section {
        min-height: 370px;
    }

    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }
</style>

@code {
    public DateTime? Start { get; set; } = DateTime.Now;
    public DateTime? End { get; set; } = DateTime.Now.AddDays(20);
    //Hidden:Lines
    private string canonicalURL { get; set; }
    protected override void OnInitialized()
    {
        canonicalURL = NavigationManager.Uri.Split("?")[0];
    }
    //End:Hidden
    public string FormatString { get; set; } = "dd/MMMM/yyyy";
}