@page "/SmithChart/Customization"


@using Syncfusion.EJ2.RazorComponents.Charts;
@using Syncfusion.EJ2.RazorComponents.SplitButtons;


@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Customization";
    SampleBrowser.CurrentControlName = "SmithChart";
    SampleBrowser.CurrentControlCategory = "SmithChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.SmithChart;
     SampleBrowser.ActionDescription = new string[] {
        @" <p>
        This sample visualizes two transmissions in a Smith chart along with 'Data label', 'Marker' and 'Legend' support.
    </p>"
    };
        SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render a Smith chart with multiple series. Legend has been enabled to denote the series in Smith chart.
    </p>
    <br />
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>

        Smith chart component features are segregated into individual feature-wise modules. To use a tooltip, inject the <code>Tooltip</code> module using the  < code > SmithChart.Inject(TooltipRender) </ code > method, and use a legend by injecting the <code> Legend</ code > module using the < code > SmithChart.Inject(Legend) </ code > method.


            </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
          <EjsSmithchart ID="smithchart">
        <SmithchartTitle  Visible='true'
            Text="Impedance Transmission" EnableTrim='true'
            MaximumWidth='200'>
        </SmithchartTitle>
        <SmithchartLegendSettings Visible='true'
            Shape="Circle" Position='Top'>
        </SmithchartLegendSettings>
         <SmithchartSeriesCollection>
             <SmithchartSeries Name="Transmission1" Points='@firstTransmissionData'
                EnableAnimation='true' enableSmartLabels = 'false'
                Fill="#0F94C4" Width='2'>
                <SmithchartSeriesTooltip  Visible='true' ></SmithchartSeriesTooltip>
                <SmithchartSeriesMarker Visible='true' Shape='Rectangle'>
                    <SmithchartSeriesMarkerDataLabel Visible='true'></SmithchartSeriesMarkerDataLabel>
                    <SmithchartSeriesMarkerBorder Width='2'>
                    </SmithchartSeriesMarkerBorder>
                </SmithchartSeriesMarker>
            </SmithchartSeries>
            <SmithchartSeries Name="Transmission2" Points='@secondTransmissionData'
                EnableAnimation='true' EnableSmartLabels='false' Fill="#EE0C88" Width='2'>
                <SmithchartSeriesTooltip  Visible='true' ></SmithchartSeriesTooltip>
                <SmithchartSeriesMarker Visible='true' Shape='Circle'>
                    <SmithchartSeriesMarkerDataLabel Visible='true'></SmithchartSeriesMarkerDataLabel>
                    <SmithchartSeriesMarkerBorder Width='2'>
                    </SmithchartSeriesMarkerBorder>
                </SmithchartSeriesMarker>
            </SmithchartSeries>
        </SmithchartSeriesCollection>
        </EjsSmithchart>
    </div>
</div>

@code {
    public class SmithDataSource {
        public double resistance;
        public double reactance;
    };
    public List<SmithDataSource> firstTransmissionData = new List<SmithDataSource>  { 
            new SmithDataSource { resistance= 10, reactance= 25 },
            new SmithDataSource { resistance= 8, reactance= 6 },
            new SmithDataSource { resistance= 6, reactance= 4.5 },
            new SmithDataSource { resistance= 4.5, reactance= 4 },
            new SmithDataSource { resistance= 3.5, reactance= 3 },
            new SmithDataSource { resistance= 2.5, reactance= 2 },
            new SmithDataSource { resistance= 2, reactance= 1.5 },
            new SmithDataSource { resistance= 1.5, reactance= 1.25 },
            new SmithDataSource { resistance= 1, reactance= 0.9 },
            new SmithDataSource { resistance= 0.5, reactance= 0.6 },
            new SmithDataSource { resistance= 0.3, reactance= 0.4 },
            new SmithDataSource { resistance= 0.001, reactance= 0.15 }
        };
        public List<SmithDataSource> secondTransmissionData = new List<SmithDataSource>  { 
            new SmithDataSource { resistance= 20, reactance= -50 },
            new SmithDataSource { resistance= 10, reactance= -10 },
            new SmithDataSource { resistance= 9, reactance= -4.5 },
            new SmithDataSource { resistance= 8, reactance= -3.5 },
            new SmithDataSource { resistance= 7, reactance= -2.5 },
            new SmithDataSource { resistance= 6, reactance= -1.5 },
            new SmithDataSource { resistance= 5, reactance= -1 },
            new SmithDataSource { resistance= 4.5, reactance= -0.8 },
            new SmithDataSource { resistance= 3.5, reactance= -0.8 },
            new SmithDataSource { resistance= 2.5, reactance= -0.4 },
            new SmithDataSource { resistance= 2, reactance= -0.2 },
            new SmithDataSource { resistance= 1.5, reactance= 0.001 },
            new SmithDataSource { resistance= 1, reactance= 0.1 },
            new SmithDataSource { resistance= 0.5, reactance= 0.2 },
            new SmithDataSource { resistance= 0.3, reactance= 0.15 },
            new SmithDataSource { resistance= 0.001, reactance= 0.05 },
        };
}