@page "/tooltip/default"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@using  Syncfusion.Blazor.DropDowns
@using TooltipPosition = Syncfusion.Blazor.Popups.Position
@using Syncfusion
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the default functionalities of the <a href='https://www.syncfusion.com/blazor-components/blazor-tooltip' target='_blank' aria-label="Feature Tour of Blazor Tooltip">Blazor Tooltip</a> component with minimum configuration. It will open by hovering or touch-hold action on the button. It will be displayed in 12 different positions.</p>
</SampleDescription>
<ActionDescription>
    <p>This sample illustrates a tooltip, that gets opened on hovering over the <b>Show Tooltip</b> button. The tooltip can be shown in 12 possible positions by selecting the appropriate <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Popups.Position.html' target='_blank' aria-label="Class reference of Position property in Tooltip">Position</a> values provided in the dropdown. The applicable tooltip positions are as follows:</p>
    <ul>
        <li><code>TopLeft</code></li>
        <li><code>TopCenter</code></li>
        <li><code>TopRight</code></li>
        <li><code>BottomLeft</code></li>
        <li><code>BottomCenter</code></li>
        <li><code>BottomRight</code></li>
        <li><code>LeftTop</code></li>
        <li><code>LeftCenter</code></li>
        <li><code>LeftBottom</code></li>
        <li><code>RightTop</code></li>
        <li><code>RightCenter</code></li>
        <li><code>RightBottom</code></li>
    </ul>
    <p>In case, if the tooltip needs to be opened on mobile devices, tap hold on the <b>Show Tooltip</b> button instead of hovering, and by default it closes after 1.5 seconds on lift.</p>
</ActionDescription>

<div class="col-lg-8 control-section sb-property-border">
    <div class="tooltip_style">
        @*Initialize the Tooltip component*@
        <SfTooltip Position="@Position" Content="Let's go green to save the planet!!">
            <SfButton Content="Show Tooltip"></SfButton>
        </SfTooltip>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div><div class="property-panel-content">
            <table id="property" title="Properties" class="property-panel-table">
                <tbody>
                    <tr>
                        <td style="width: 30%;">
                            <div>Position:</div>
                        </td>
                        <td style="width: 70%;">
                            <div>
                                @*Initialize the Dropdown List component*@
                                <SfDropDownList TValue="string" TItem="DropDownModel" DataSource="@PositionData" @bind-Index="@index">
                                    <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                                    <DropDownListEvents TItem="DropDownModel" TValue="string" ValueChange="@ChangePosition"></DropDownListEvents>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    // Specifies the tooltip's position.
    TooltipPosition Position = TooltipPosition.TopCenter;
    // Specifies index value of TopCenter position in the Dropdown List.
    private int? index { get; set; } = 1;
    
    public class DropDownModel
    {
        public string Text { get; set; }
        public string Value { get; set; }
    }

    // Specifies the event handler for changing the tooltip position.
    private void ChangePosition(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropDownModel> args)
    {
        Position = (TooltipPosition)Enum.Parse(typeof(TooltipPosition), args.Value);
    }

    // Specifies the Tooltip position.
    List<DropDownModel> PositionData = new List<DropDownModel>()
    {
        new DropDownModel { Text = "Top Left", Value = "TopLeft" },
        new DropDownModel { Text = "Top Center", Value = "TopCenter" },
        new DropDownModel { Text = "Top Right", Value = "TopRight" },
        new DropDownModel { Text = "Bottom Left", Value = "BottomLeft" },
        new DropDownModel { Text = "Bottom Center", Value = "BottomCenter" },
        new DropDownModel { Text = "Bottom Right", Value = "BottomRight" },
        new DropDownModel { Text = "Left Top", Value = "LeftTop" },
        new DropDownModel { Text = "Left Center", Value = "LeftCenter" },
        new DropDownModel { Text = "Left Bottom", Value = "LeftBottom" },
        new DropDownModel { Text = "Right Top", Value = "RightTop" },
        new DropDownModel { Text = "Right Center", Value = "RightCenter" },
        new DropDownModel { Text = "Right Bottom", Value = "RightBottom" }
    };
}
<style>
    /* Sample specific styles */
    .tooltip_style {
        position: absolute;
        left: calc( 50% - 60px);
        top: 45%;
    }
    .property-panel-table div {
        padding: 0px;
    }
</style>
