@page "/tooltip/html-template"
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups
@using Syncfusion
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This <a href='https://www.syncfusion.com/blazor-components/blazor-tooltip' target='_blank' aria-label="Feature Tour of Blazor Tooltip">Blazor Tooltip</a> sample demonstrates customizing tooltip content to display an HTML page. Click on the button to view the tooltip content.</p>
</SampleDescription>
<ActionDescription>
    <p>Tooltip content has been customized using HTML tags and CSS, i.e. the content can be loaded with HTML tags such as &lt;img&gt;, &lt;a&gt;,&lt;b&gt;, etc. A title can also be added to the content. Overall, the tooltip content can be customized to appear like a web page.</p>
</ActionDescription>

<div class="col-lg-12 control-section customization">
    @* Initializes the Button component *@
    <SfButton CssClass="e-outline" IsPrimary="true" Content="HTML Template" id="btn"></SfButton>
</div>
@* Initializes the Tooltip component *@
<SfTooltip Position="Syncfusion.Blazor.Popups.Position.BottomCenter" Target="#btn" WindowCollision=true>
    <ContentTemplate>
        <div class='content'>
            <h3 style='margin-top: 10px;'>Eastern Bluebird</h3><hr>
            <div>
                <div style='float: left; width: 58%'>
                    The <a href='https://en.wikipedia.org/wiki/Eastern_bluebird' target='blank'>Eastern Bluebird</a>
                    can be easily found in open fields and sparse woodland areas, including along woodland edges.
                </div>
                <div style='float: right; padding-top: 4px;'><img src='@(SampleService.WebAssetsPath + "images/tooltip/bird.png")' width='125' height='125' /></div>
            </div>
        </div>
    </ContentTemplate>
</SfTooltip>
<style>
    /* Specifies styles for the HTML content */
    .customization {
        position: absolute;
        left: calc( 50% - 60px);
        top: 44%;
    }

    .content {
        padding: 0 10px;
    }

    .content hr {
        margin: 10px 0;
        border-color: grey;
    }

    .content a {
        color: #2FA1E3;
    }
</style>
