@page "/AutoComplete/Grouping-Icon"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the grouping and icons supports of the AutoComplete. Type a character in the AutoComplete component or click on the dropdown icon to choose an item from the Grouping or Icons AutoComplete.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The AutoComplete allows to group the relevant items under a corresponding category by mapping the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.AutoCompleteFieldSettings.html#Syncfusion_Blazor_DropDowns_AutoCompleteFieldSettings_GroupBy' target='_blank' aria-label="Class reference of GroupBy property in AutoComplete"> GroupBy</a> property.
        The Grouping AutoComplete illustrates how the vegetables are grouped based on the <code>Category</code> property in data object.
    </p>
    <p>The 2nd AutoComplete is populated with icons that is rendered by mapping the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.AutoCompleteFieldSettings.html#Syncfusion_Blazor_DropDowns_AutoCompleteFieldSettings_IconCss' target='_blank' aria-label="Class reference of IconCss property in AutoComplete"> IconCss</a> property.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/autocomplete/grouping/' target='_blank' aria-label="Blazor AutoComplete Grouping documentation">Blazor AutoComplete - Grouping</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="col-lg-6">
        <div class="control-wrapper">
            <label class="example-label">Grouping</label>
            <SfAutoComplete TValue="string" TItem="Vegetables" Placeholder="Select a vegetable" DataSource="@GroupData" ShowPopupButton="true">
                <AutoCompleteFieldSettings GroupBy="Category" Value="Vegetable"/>
            </SfAutoComplete>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="control-wrapper">
            <label class="example-label">Icons</label>
            <SfAutoComplete TValue="string" TItem="SocialMedia" Placeholder="Select a social media" DataSource="@IconData" ShowPopupButton="true">
                <AutoCompleteFieldSettings IconCss="Class" Value="SocialMediaName"/>
            </SfAutoComplete>
        </div>
    </div>
</div>
<link href="@(SampleService.WebAssetsPath + "styles/dropdown-list/grouping.css")" rel="stylesheet" />

@code{
    
    public class Vegetables
    {
        public string Vegetable { get; set; }
        public string Category { get; set; }
        public string ID { get; set; }
    }

    public class SocialMedia
    {
        public string Class { get; set; }
        public string SocialMediaName { get; set; }
        public string Id { get; set; }
    }

    List<SocialMedia> IconData = new List<SocialMedia>()
    {
        new SocialMedia() { Class= "facebook", SocialMediaName= "Facebook", Id= "media1" },
        new SocialMedia() { Class= "google-plus", SocialMediaName= "Google Plus", Id= "media2" },
        new SocialMedia() { Class= "instagram", SocialMediaName= "Instagram", Id= "media3" },
        new SocialMedia() { Class= "linkedin", SocialMediaName= "LinkedIn", Id= "media4" },
        new SocialMedia() { Class= "skype", SocialMediaName= "Skype", Id= "media5" },
        new SocialMedia() { Class= "tumblr", SocialMediaName= "Tumblr", Id= "media6" },
        new SocialMedia() { Class= "twitter", SocialMediaName= "Twitter", Id= "media7" },
        new SocialMedia() { Class= "vimeo", SocialMediaName= "Vimeo", Id= "media8" },
        new SocialMedia() { Class= "whatsapp", SocialMediaName= "WhatsApp", Id= "media9" },
        new SocialMedia() { Class = "youtube", SocialMediaName= "YouTube", Id = "media10" }
    };

    List<Vegetables> GroupData = new List<Vegetables>()
    {
        new Vegetables() { Vegetable = "Cabbage", Category = "Leafy and Salad", ID = "item1" },
        new Vegetables() { Vegetable = "Chickpea", Category = "Beans", ID = "item2" },
        new Vegetables() { Vegetable = "Garlic", Category = "Bulb and Stem", ID = "item3" },
        new Vegetables() { Vegetable = "Green bean", Category = "Beans", ID = "item4" },
        new Vegetables() { Vegetable = "Horse gram", Category = "Beans", ID = "item5" },
        new Vegetables() { Vegetable = "Nopal", Category = "Bulb and Stem", ID = "item6" },
        new Vegetables() { Vegetable = "Onion", Category = "Bulb and Stem", ID = "item7" },
        new Vegetables() { Vegetable = "Pumpkins", Category = "Leafy and Salad", ID = "item8" },
        new Vegetables() { Vegetable = "Spinach", Category = "Leafy and Salad", ID = "item9" },
        new Vegetables() { Vegetable = "Wheat grass", Category = "Leafy and Salad", ID = "item10" },
        new Vegetables() { Vegetable = "Yarrow", Category = "Leafy and Salad", ID = "item11" }
    };
}

<style>
    .control-wrapper {
        max-width: 250px;
        padding: 30px 0px 0px;
        margin: 0 auto;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>