@page "/DateRangePicker/Date-Range"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>In the <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-daterangepicker/'>Blazor DateRangePicker</a> example, the date ranges from <b>Jan 15, 2022 - Dec 20, 2022</b> have been set. All the other dates are out of range and restricted to set or select.</p>
</SampleDescription>
<ActionDescription>
    <p>DateRangePicker has <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Min' target='_blank' aria-label="Class reference of Min property in DateRangePicker"> Min</a> and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Max' target='_blank' aria-label="Class reference of Max property in DateRangePicker"> Max</a> supports to restrict the user to select a value from the given range. Only the values in this range will be enabled.
       In this sample, <b>Min</b> range is set to <b>Jan 15, 2022</b> and <b>Max</b> range is set to <b>Dec 20, 2022</b>. User will be able to select the values between this range only.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/daterangepicker/range-restriction/' target='_blank' aria-label="Blazor DateRangePicker Range Restriction documentation">Blazor DateRangePicker - Range</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Check-in and Check-out</label>
        <SfDateRangePicker TValue="DateTime?" Placeholder="Choose a range" Min="@MinDate" Max="@MaxDate" ShowClearButton="true" FullScreen="true"></SfDateRangePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>

@code {
    public DateTime MinDate { get; set; } = new DateTime(2022, 01, 15);
    public DateTime MaxDate { get; set; } = new DateTime(2022, 12, 20);
    
}
