@page "/DateRangePicker/Date-Range"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<ActionDescription>
<p>
    This <a target="_blank" rel="noopener" href="https://www.syncfusion.com/blazor-components/blazor-daterangepicker/">Blazor DateRangePicker</a> sample restricts selection to the range <b>Jan 15, 2022 – Dec 20, 2022</b>. All other dates are disabled.
  </p>
  <p>
    Set <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Min" target="_blank" rel="noopener" aria-label="Class reference of Min property in DateRangePicker">Min</a> and <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Max" target="_blank" rel="noopener" aria-label="Class reference of Max property in DateRangePicker">Max</a> to constrain selection. In this sample, Min is <b>Jan 15, 2022</b> and Max is <b>Dec 20, 2022</b>.
  </p>
  <p><b>See also</b></p>
  <ul>
    <li><a href="https://blazor.syncfusion.com/documentation/daterangepicker/range-restriction/" target="_blank" rel="noopener" aria-label="Blazor DateRangePicker Range Restriction documentation">Blazor DateRangePicker - Range</a></li>
  </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Check-in and Check-out</label>
        <SfDateRangePicker TValue="DateTime?" Placeholder="Choose a range" Min="@MinDate" Max="@MaxDate" ShowClearButton="true" FullScreen="true"></SfDateRangePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>

@code {
    public DateTime MinDate { get; set; } = new DateTime(2022, 01, 15);
    public DateTime MaxDate { get; set; } = new DateTime(2022, 12, 20);
}
