@page "/DateRangePicker/Day-Span"

@using Syncfusion.Blazor.Calendars
@using System

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>In the <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-daterangepicker/' aria-label="Feature Tour of Blazor DateRangePicker">Blazor DateRangePicker</a> example, your date range selection is restricted to select <b>minimum</b> of five days and <b>maximum</b> of ten days.</p>
</SampleDescription>
<ActionDescription>
    <p>DateRangePicker has <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.SfDateRangePicker-1.html#Syncfusion_Blazor_Calendars_SfDateRangePicker_1_MinDays' target='_blank'> MinDays</a> and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.SfDateRangePicker-1.html#Syncfusion_Blazor_Calendars_SfDateRangePicker_1_MaxDays' target='_blank' aria-label="Class reference of MaxDays property in DateRangePicker"> MaxDays</a> supports to force the user to select the minimum and maximum number of days in the range. Only the values in this range will be enabled.</p>
    <p>For example, on some hotel booking websites, you need to book rooms that include packages for a minimum of 3 days to a maximum of 5 days. For this scenario, this feature can be used.</p>
</ActionDescription>

<div class=" col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Check-in and Check-out</label>
        <SfDateRangePicker TValue="DateTime?" Placeholder="Choose a range" MinDays=5 MaxDays=10 ShowClearButton="true" FullScreen="true"></SfDateRangePicker>
    </div>
</div>


<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
