@page "/DateRangePicker/Default-Functionalities"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<ActionDescription>
<p>
    This sample demonstrates the default functionalities of the <a href="https://www.syncfusion.com/blazor-components/blazor-daterangepicker/" aria-label="Feature Tour of Blazor DateRangePicker">Blazor DateRangePicker</a> component. Today's date is always highlighted in the popup calendar and receives focus if no date is selected. Select a date range from the popup calendar, and the selected range will be displayed in the DateRangePicker element.
  </p>
  <p>
    The DateRangePicker is an interactive component that allows users to select a date range from the calendar or set a range value directly.
  </p>
  <p>
    <strong>See also:</strong>
  </p>
  <ul>
    <li><a href="https://blazor.syncfusion.com/documentation/daterangepicker/getting-started/" target="_blank" rel="noopener" aria-label="Blazor DateRangePicker Getting Started documentation">Getting started with Blazor DateRangePicker</a></li>
  </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Check-in and Check-out</label>
        <SfDateRangePicker TValue="DateTime?" Placeholder="Choose a range" FullScreen="true" ShowClearButton="true" aria-label="Select check-in and check-out dates"></SfDateRangePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
