@page "/DateTimePicker/Format"

@using Syncfusion.EJ2.Blazor.Calendars

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Format";
    SampleBrowser.CurrentControlName = "DateTimePicker";
    SampleBrowser.CurrentControlCategory = "DateTimePicker";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DateTimePicker;
    SampleBrowser.ActionDescription = new string[] {
       @"<p>
            In this sample, the DateTimePicker has been configured with the <code>dd-MMM-yy hh:mm a</code> date format.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            Date Formats sample illustrates the support of custom date format in the DateTimePicker component by
            using the <code>Format</code> property. By using the <code>TimeFormat</code> property to format the displayed time value in the popup list.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div id="wrapper" class="datetimepicker-section">
        <div id="datetimepicker-control">
            <EjsDateTimePicker Value="@DateTimeValue" Format="dd-MMM-yy hh:mm a"></EjsDateTimePicker>
        </div>
    </div>
</div>

<style>
    #wrapper {
        max-width: 300px;
        margin: 0px auto;
        padding-top: 20px;
    }
</style>

@code{
    public DateTime DateTimeValue { get; set; } = DateTime.Now;
}