@page "/Calendar/Date-Range"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>In the following example, a specific date range from 5th to 27th of a month has been set to select from the Calendar. All the other dates are out of range, and <b>restricted</b> to set or select.</p>
</SampleDescription>
<ActionDescription>
    <p>Date Range example explains the date selection within a specific range in a calendar by using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Min' target='_blank' aria-label="Class reference of Min property in Calendar" > Min</a> and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Max' target='_blank'  aria-label="Class reference of Max property in Calendar"> Max</a> properties. Here, the date selection range was restricted between 5th to 27th.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/calendar/date-range/' target='_blank' aria-label="Blazor Calendar Date Range documentation">Blazor Calendar - Range</a></li>
    </ul>
    
</ActionDescription>

<div class="control-section">
    <div class="control-wrapper">
        <SfCalendar TValue="DateTime?" Min="@MinDate" Max="@MaxDate" @bind-Value="@SelectedDate"></SfCalendar>
        <span class="example-label">Selected date is: <b>@(SelectedDate?.ToString("M/d/yyyy"))</b></span>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px 0px 10px;
    }

    .example-label {
        font-size: 14px;
        display: block;
        margin: 0;
        padding: 20px 0px 0px;
    }
</style>

@code {
    public DateTime MinDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 05);
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
    public DateTime? SelectedDate { get; set; } = DateTime.Now;
    
}