@page "/Calendar/Default-Functionalities"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>The following example demonstrates the default functionalities of the <a href='https://www.syncfusion.com/blazor-components/blazor-calendar/'  aria-label="Feature Tour of Calendar">Calendar</a>. Today's date is always <b>highlighted</b> in the Calendar and it get <b>focused</b> if there is no selected date. Click the desired date from the Calendar.</p>
</SampleDescription>
<ActionDescription>
    <p>The Calendar is a graphical user interface component which provides the multi-view representation to display and select a date. Also, provide options to navigate in different levels of views like Month, Year, Decade.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/calendar/getting-started/' target='_blank'  aria-label="Blazor Calendar Getting started documentation">Getting started with Blazor Calendar</a></li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="control-wrapper">
        <SfCalendar TValue="DateTime?" @bind-Value="@SelectedDate"></SfCalendar>
        <span class="example-label">Selected date is: <b>@(SelectedDate?.ToString("M/d/yyyy"))</b></span>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px 0px 10px;
    }

    .example-label {
        font-size: 14px;
        display: block;
        margin: 0;
        padding: 20px 0px 0px;
    }
</style>

@code {
    public DateTime? SelectedDate { get; set; } = DateTime.Now;
    
}
