@page "/Calendar/Keyboard-Navigation"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
    <p>Calendar functionalities can be interactive with keyboard shortcuts. In the below sample, various key
        combinations can be used to interact with Calendar.</p>
</SampleDescription>
<ActionDescription>
    <p>The Calendar supports the following keyboard shortcuts to initiate various actions.</p>
    <ul>
        <li>
            <b>Focus</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Selection</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Selects the currently focused date.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Navigation</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Focuses the same day on the previous week.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Focuses the same day on the next week.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Focuses the previous day.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Focuses the next day.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Focuses the first day of the month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Focuses the last day of the month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page up</kbd></span>
                    <span> - Focuses the same date on the previous month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page down</kbd></span>
                    <span> - Focuses the same date on the next month.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Page up</kbd></span>
                    <span> - Focuses the same date on the previous year.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Page down</kbd></span>
                    <span> - Focuses the same date on the next year.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Home</kbd></span>
                    <span> - Focuses the first date of the current year.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>End</kbd></span>
                    <span> - Focuses the last date of the current year.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>View Navigation</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Moves to the inner level of view like month to year and year to decade.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Moves out from the depth level view like decade to year and year to month.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <SfCalendar TValue="DateTime?" @ref="@CalendarObj" Min='@MinDate' Max='@MaxDate'>
            <CalendarEvents TValue="DateTime?" OnRenderDayCell="@DisableDate"></CalendarEvents>
        </SfCalendar>
    </div>
</div>

@code {
    private SfCalendar<DateTime?> CalendarObj { get; set; }
    public DateTime MinDate { get; set; } = new DateTime(2017, 08, 07);
    public DateTime MaxDate { get; set; } = new DateTime(2024, 08, 27);
    
    private void DisableDate(RenderDayCellEventArgs args)
    {
        var view = CalendarObj.CurrentView();
        if (view == "Month" && (args.Date.Day == 10 || args.Date.Day == 15 || args.Date.Day == 25))
        {
            args.IsDisabled = true;
        }
    }
}

<style>
    .control-wrapper {
        width: 300px;
        margin: 0 auto;
        padding: 20px 0px 10px;
    }

    .description {
        margin: 4px;
        font-size: 14px;
    }
    .key-class {
        display: inline-block;
        width: 170px;
    }
</style>