@page "/Calendar/Month-Picker"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
  <p>The following example demonstrates the Calendar component acting as a month picker. It allows you to select values in terms of months.</p> 
</SampleDescription>
<ActionDescription>
    <p>The Calendar has the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Start' target='_blank'  aria-label="Class reference of Start property in Calendar"> Start</a> and the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Depth' target='_blank'  aria-label="Class refernce of Depth property in Calendar"> Depth</a> properties that provide options to restrict users from navigating to any Calendar view (year, month, or decade).</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/calendar/calendar-views/' target='_blank' aria-label="Blazor Calendar Views documentation">Blazor Calendar - Views</a></li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="control-wrapper">
        <SfCalendar TValue="DateTime?" Start="@CalendarView.Year" Depth="@CalendarView.Year" @bind-Value="@SelectedDate">
        </SfCalendar>
        <span class="example-label">Selected date is: <b>@(SelectedDate?.ToString("MMMM yyyy"))</b></span>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px 0px 10px;
    }

    .example-label {
        font-size: 14px;
        display: block;
        margin: 0;
        padding: 20px 0px 0px;
    }
</style>
@code {
    public DateTime? SelectedDate { get; set; } = DateTime.Now;
    
}