@page "/Calendar/Multi-Selection"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>The following example demonstrates the multiple date selection functionalities of the Calendar. Click the desired date from the calendar and the selected date will be added to the <b>Values</b> property of the calendar.</p>
</SampleDescription>
<ActionDescription>
    <p>Multi selection example demonstrates, how to enable and select multiple dates in a calendar by using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.SfCalendar-1.html#Syncfusion_Blazor_Calendars_SfCalendar_1_IsMultiSelection' target='_blank'  aria-label="Class reference of IsMultiSelection property in Calendar"> IsMultiSelection</a> and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarType.html' target='_blank'> Values</a> properties . Here 10, 15 and 25 date's are selected.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/calendar/multi-select/' target='_blank'  aria-label="Blazor Calendar Multi Selection documentation">Blazor Calendar - Multi Selection</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12">
    <div class="col-lg-8 control-section sb-property-border">
        <div class="control-wrapper">
            <SfCalendar TValue="DateTime?" IsMultiSelection="@MultiSelect" @bind-Values="@MultiValue">
            </SfCalendar>
        </div>
    </div>
    <div class="col-lg-4">
        <div class='property-panel-section'>
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <label class="example-label">Selected dates are:</label>
                <div class="content-value">
                    @foreach (var element in MultiValue)
                    {
                        <div>@element.ToString("ddd, dd MMM yyy")</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .control-section {
        min-height: 370px;
     }

    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px 0px 10px;
    }
    
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .property-panel-content {
        padding: 0px 0px 15px 0px;
    }

    .property-panel-content:last-child {
        padding: 0px 0px 40px 0px;
    }

    .content-value {
        padding: 10px;
        overflow: auto;
        font-size: 14px;
        max-height: 160px;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    .fluent-dark .content-value,
    .fluent2-dark .content-value,
    .fluent2-highcontrast .content-value,
    .bootstrap5-dark .content-value,
    .highcontrast .content-value,
    .material-dark .content-value,
    .material3-dark .content-value,
    .fabric-dark .content-value,
    .bootstrap-dark .content-value,
    .tailwind-dark .content-value {
        border: 1px solid rgb(150, 150, 150);
    }
</style>

@code {
    public bool MultiSelect { get; set; } = true;
    public DateTime[] MultiValue = new DateTime[] { new DateTime(DateTime.Now.Year, DateTime.Now.Month, 10), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 25) };
    
}