@page "/carousel/data-binding"

@using Syncfusion.Blazor.Navigations
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the basic rendering of the <a href="https://www.syncfusion.com/blazor-components/blazor-carousel" target="_blank" aria-label="Feature Tour of Blazor Carousel">Blazor Carousel</a> component by iterating the data with the <code>CarouselItem</code>.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this demo, some of the frameworks and their details are shown as a slide show. The data to the Blazor Carousel component is bound by iterating the list of collections and rendering Carousel Item.
    </p>
</ActionDescription>

<div class="control-section db-carousel-section">
    <div class="col-lg-12 content-wrapper">
        <div class="carousel-sample">
            <SfCarousel CssClass="db-carousel" ButtonsVisibility="CarouselButtonVisibility.Hidden" AnimationEffect="CarouselAnimationEffect.Fade">
                @foreach (FrameworkDetails framework in FrameworkData)
                {
                    <CarouselItem>
                        <div class="card">
                            <img src=@(UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/" + @framework.ImageName)) class="card-img-top" alt=@framework.Title style="height:210px;width:100%;" />
                            <div class="card-body" style="padding:1rem;">
                                <h5 class="card-title">@framework.Title</h5>
                                <p class="card-text">@framework.Content</p>
                            </div>
                        </div>
                    </CarouselItem>
                }
            </SfCarousel>
        </div>
    </div>
</div>

@code {
    
    List<FrameworkDetails> FrameworkData = new List<FrameworkDetails>() {
        new FrameworkDetails {
            ID = 1,
            Title = "San Francisco",
            Content = "San Francisco, officially the City and County of San Francisco, is a cultural, commercial, and financial center in the U.S. state of California. Located in Northern California, San Francisco is the 17th most populous city proper in the United States, and the fourth most populous in California.",
            ImageName = "san-francisco.png",
            URL= "https://en.wikipedia.org/wiki/San_Francisco"

        },
        new FrameworkDetails {
            ID = 2,
            Title = "London",
            Content = "London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times. At its centre stand the imposing Houses of Parliament, the iconic ‘Big Ben’ clock tower and Westminster Abbey, site of British monarch coronations.",
            ImageName = "london.png",
            URL= "https://en.wikipedia.org/wiki/London"

        },
        new FrameworkDetails {
            ID = 3,
            Title = "Tokyo",
            Content = "Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods. The Imperial Palace sits amid large public gardens.",
            ImageName = "tokyo.png",
            URL= "https://en.wikipedia.org/wiki/Tokyo"

        },
        new FrameworkDetails {
            ID = 4,
            Title = "Moscow",
            Content = "Moscow, on the Moskva River in western Russia, is the nation’s cosmopolitan capital. In its historic core is the Kremlin, a complex that’s home to the president and tsarist treasures in the Armoury. Outside its walls is Red Square, Russia`s symbolic center.",
            ImageName = "moscow.png",
            URL= "https://en.wikipedia.org/wiki/Moscow"

        }
    };

    public class FrameworkDetails
    {
        public int ID { get; set; }
        public string Title { get; set; }
        public string Content { get; set; }
        public string ImageName { get; set; }
        public string URL { get; set; }
    }
}
<style>
    .db-carousel-section .carousel-sample {
        border: 1px solid #e5e5e5;
        border-radius: 0.5em;
        margin: 0 auto 2em;
        max-width: 420px;
        height: 420px;
    }

    .db-carousel {
        background-color: inherit;
        border-radius: 0.5em;
    }

        .db-carousel .e-carousel-items .e-carousel-item .card-title,
        .db-carousel .e-carousel-items .e-carousel-item .card-text {
            opacity: 0;
            text-align: justify;
            transform: translateY(20px);
        }

        .db-carousel .e-carousel-items .e-carousel-item.e-active .card-title,
        .db-carousel .e-carousel-items .e-carousel-item.e-active .card-text {
            opacity: 1;
            transform: translateY(0px);
        }

        .db-carousel .e-carousel-items .e-carousel-item .card-title {
            font-size: 20px;
            transition: transform 0.4s ease 0.2s;
        }

        .db-carousel .e-carousel-items .e-carousel-item .card-text {
            font-size: 14px;
            transition: transform 0.4s ease 0.2s;
        }

        .db-carousel .e-carousel-indicators {
            height: 3em;
        }

            .db-carousel .e-carousel-indicators.e-default .e-indicator-bar .e-indicator div {
                background-color: #e7e7e7;
            }

    @@media screen and (max-width: 480px) {
        .db-carousel-section .carousel-sample {
            width: 100%;
            height: 440px;
        }
    }
</style>