@page "/carousel/templates"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@inject NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates comprehensive customization of the <a href="https://www.syncfusion.com/blazor-components/blazor-carousel" target="_blank" rel="noopener" aria-label="Feature Tour of Blazor Carousel">Blazor Carousel</a> component using various templates.</p>
    
    <p>Template customization options include:</p>
    
    <ul>
        <li><code>PreviousButtonTemplate</code> - Customize previous navigation button</li>
        <li><code>NextButtonTemplate</code> - Customize next navigation button</li>
        <li><code>IndicatorsTemplate</code> - Customize slide indicators</li>
        <li><code>Template</code> - Customize carousel item content</li>
    </ul>
    
    <p>For comprehensive customization documentation, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/carousel/getting-started" aria-label="Blazor Carousel Getting Started documentation">getting started guide</a>.</p>
</ActionDescription>


<div class="control-section template-carousel-section">
    <div class="col-lg-12 content-wrapper">
        <div class="carousel-sample">
            <SfCarousel AnimationEffect="CarouselAnimationEffect.Fade" CssClass="templateCarousel">
                <ChildContent>
                    @foreach (var item in CarouselItems)
                    {
                        <CarouselItem>
                            <figure class="img-container">
                                <img src="@UriHelper.ToAbsoluteUri($"{SampleService?.WebAssetsPath}images/carousel/{item.ImageName}")" alt="@item.AltText" style="height:100%;width:100%;" />
                            </figure>
                        </CarouselItem>
                    }
                </ChildContent>
                <PreviousButtonTemplate>
                    <SfButton CssClass="e-flat e-outline nav-btn" title="Previous">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path d="m13.5 7.01 13 13m-13 13 13-13"></path>
                        </svg>
                    </SfButton>
                </PreviousButtonTemplate>
                <NextButtonTemplate>
                    <SfButton CssClass="e-flat e-outline nav-btn" title="Next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path d="m13.5 7.01 13 13m-13 13 13-13"></path>
                        </svg>
                    </SfButton>
                </NextButtonTemplate>
                <IndicatorsTemplate>
                    <div class="indicator">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService?.WebAssetsPath}images/carousel/" + IndicatorImage[context.Index] + ".png")" alt="image" style="height:100%;width:100%;" />
                    </div>
                </IndicatorsTemplate>
            </SfCarousel>
        </div>
    </div>
</div>

@code{
    private List<string> IndicatorImage = new List<string>() { "cardinal", "hunei", "costa-rica", "kaohsiung", "bee-eater" };

    private List<CarouselItemModel> CarouselItems = new List<CarouselItemModel>()
    {
        new CarouselItemModel { ImageName = "cardinal.png", AltText = "cardinal" },
        new CarouselItemModel { ImageName = "hunei.png", AltText = "hunei" },
        new CarouselItemModel { ImageName = "costa-rica.png", AltText = "costa-rica" },
        new CarouselItemModel { ImageName = "kaohsiung.png", AltText = "kaohsiung" },
        new CarouselItemModel { ImageName = "bee-eater.png", AltText = "bee-eater" }
    };

    public class CarouselItemModel
    {
        public string? ImageName { get; set; }
        public string? AltText { get; set; }
    }
}

<style>
    .template-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        max-width: 500px;
        height: 350px;
    }

    .templateCarousel .e-carousel-items,
    .templateCarousel .e-carousel-navigators {
        height: calc(100% - 3rem);
    }

    .templateCarousel .e-carousel-navigators .e-previous,
    .templateCarousel .e-carousel-navigators .e-next,
    .templateCarousel .e-carousel-navigators .nav-btn {
        padding: 0;
    }

    .templateCarousel .e-carousel-navigators .nav-btn:active,
    .templateCarousel .e-carousel-navigators .nav-btn:focus,
    .templateCarousel .e-carousel-navigators .nav-btn:hover {
        background-color: transparent !important;
        color: inherit;
    }

    .templateCarousel .e-carousel-navigators svg {
        fill: none;
        stroke: currentColor;
        stroke-linecap: square;
        stroke-width: 8px;
        height: 2rem;
        vertical-align: middle;
        width: 2rem;
    }

    .templateCarousel .e-carousel-navigators .e-previous svg {
        transform: rotate(180deg);
    }

    .templateCarousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar .indicator {
        background-color: #ECECEC;
        border-radius: 0.25rem;
        cursor: pointer;
        height: 3.5rem;
        margin: 0.5rem;
        width: 5rem;
    }

    .templateCarousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar.e-active .indicator {
        background-color: #3C78EF;
    }

    @@media screen and (max-width: 480px) {
        .template-carousel-section .carousel-sample {
            width: 100%;
            height: 250px;
        }

        .templateCarousel .img-container {
            margin: 12px;
        }
    }
</style>
