@page "/TextArea/Default-Functionalities"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the default functionalities of the <b>TextArea</b> control.</p>
</SampleDescription>
<ActionDescription>
    <p>
        A TextArea is an input element that allows users to input multiple lines of text. It can be used for editing or displaying text data.
    </p>
    <br>
    <table style="width:100%">
        <tr>
            <th>Types</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Outlined & Filled textarea</td>
            <td>You can render the following two types of text fields in the material theme by adding <b>e-outline</b> and <b>e-filled</b> class to CssClass API.
                <ul>
                    <li>Filled text fields</li>
                    <li>Outlined text fields</li>
                </ul> </td>
        </tr>
        <tr>
            <td>Validation states</td>
            <td>
                <div style="padding-bottom: 10px">You can apply validation states success, warning, error to the textarea with the corresponding classes added
                    to the input element such as <b>e-success</b>, <b>e-warning</b>, <b>e-error</b>.</div>
            </td>
        </tr>
    </table>
    <br>
</ActionDescription>

<div class="col-lg-12 control-section" id="default">
    <div class="content-wrapper">
        <div class="row material">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Outlined and Filled</b>
            </div>
        </div>
        <div class="row material">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextArea Placeholder="Outline" CssClass="e-outline" RowCount="5" ColumnCount="150" FloatLabelType="FloatLabelType.Auto"
               ></SfTextArea>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextArea Placeholder="Filled" CssClass="e-filled" RowCount="5" ColumnCount="150" FloatLabelType="FloatLabelType.Auto"></SfTextArea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Modes</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfTextArea Placeholder="Default" RowCount="5" ColumnCount="300"></SfTextArea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Validation States</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <SfTextArea Placeholder="Success" CssClass="e-success" RowCount="5" ColumnCount="100"></SfTextArea>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <SfTextArea Placeholder="Warning" CssClass="e-warning" RowCount="5" ColumnCount="100"></SfTextArea>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <SfTextArea Placeholder="Error" CssClass="e-error" RowCount="5" ColumnCount="100"></SfTextArea>
            </div>
        </div>
    </div>
</div>

<style>
    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }
    b.example-label {
        font-size: 14px;
    }
    .content-wrapper div.row {
        padding: 7px 0px;
    }
    .small-textbox {
        padding-top: 5px;
    }
    .tailwind .small-textbox,
    .tailwind-dark .small-textbox {
        padding-top: 3px;
    }
    .e-bigger .small-textbox {
        padding-top: 10px;
    }
    .tailwind .e-bigger .small-textbox,
    .tailwind-dark .e-bigger .small-textbox {
        padding-top: 1px;
    }
    .small-mode {
        margin-top: 4px;
    }
    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }
        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }
        .content-wrapper div.row {
            padding: 0px;
        }
    }
    .fabric .row.material,
    .bootstrap .row.material,
    .bootstrap4 .row.material,
    .bootstrap5 .row.material,
    .highcontrast .row.material,
    .tailwind .row.material,
    .fluent .row.material,
    .fabric-dark .row.material,
    .bootstrap-dark .row.material,
    .bootstrap5-dark .row.material,
    .tailwind-dark .row.material,
    .fluent-dark .row.material,
    .fluent2-dark .row.material,
    .fluent2-highcontrast .row.material,
    .fluent2 .row.material {
        display: none;
    }

    #default .e-multi-line-input {
        max-width: 100%;
    }
</style>
