@page "/TextArea/FloatingLabel"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates the floating label functionalities of the <b>TextArea</b> control.</p>
    
    <p>The floating label is an elegant feature that moves the placeholder text above the input field when the user interacts with the textarea element or enters a value. In this sample, the floating label behavior demonstrates the following options:</p>
    <ul>
        <li><b>Never</b> - The placeholder will never float above the textarea.</li>
        <li><b>Auto</b> - Placeholder floats on input focus or when the textarea contains a value.</li>
        <li><b>Always</b> - The placeholder continuously floats above the input for constant visibility.</li>
    </ul>
</ActionDescription>


<div id="float-label" class="control-section col-lg-12">
    <div class="control-wrapper">
        <div class="example-content">
            <SfTextArea Placeholder="None" RowCount="5" ColumnCount="250"></SfTextArea>
        </div>
        <div class="example-content">
            <SfTextArea Placeholder="Auto" FloatLabelType="FloatLabelType.Auto" RowCount="5" ColumnCount="250"></SfTextArea>
        </div>
        <div class="example-content">
            <SfTextArea Placeholder="Always" FloatLabelType="FloatLabelType.Always" RowCount="5" ColumnCount="250"></SfTextArea>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        width: 70%;
        margin: 0 auto;
        min-width: 85px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .example-content {
        padding: 15px 0px;
    }

    .example-content:last-child {
        padding: 15px 0px;
    }

    #float-label .e-multi-line-input {
        max-width: 100%;
    }
</style>
