@page "/TextArea/FloatingLabel"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        This example demonstrates the floating label functionalities of the <b>TextArea</b> control.
    </p>
</SampleDescription>
<ActionDescription>
    <p>The floating label is used to float the placeholder text while the user enters text or focuses on the textarea element with a value.
        In this sample, the floating label behavior demonstrates using the following options:</p>
    <ul>
        <li>The float label types either <b>Never</b>, <b>Auto</b>, or <b>Always</b> to control the floating behavior of the placeholder text.</li>
    </ul>
</ActionDescription>

<div id="float-label" class="control-section col-lg-12">
    <div class="control-wrapper">
        <div class="example-content">
            <SfTextArea Placeholder="None" RowCount="5" ColumnCount="250"></SfTextArea>
        </div>
        <div class="example-content">
            <SfTextArea Placeholder="Auto" FloatLabelType="FloatLabelType.Auto" RowCount="5" ColumnCount="250"></SfTextArea>
        </div>
        <div class="example-content">
            <SfTextArea Placeholder="Always" FloatLabelType="FloatLabelType.Always" RowCount="5" ColumnCount="250"></SfTextArea>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        width: 70%;
        margin: 0 auto;
        min-width: 85px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .example-content {
        padding: 15px 0px;
    }

        .example-content:last-child {
            padding: 15px 0px;
        }

    #float-label .e-multi-line-input {
        max-width: 100%;
    }
</style>
