@page "/TextArea/Resize"

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>
        This example demonstrates the resize functionalities of the <b>TextArea</b> control.
    </p>
</SampleDescription>
<ActionDescription>
    <p>The textarea can be resized vertically, horizontally, or in both directions by demonstrates the following corresponding options:</p>
    <ul>
        <li>The ResizeMode options such as <b>Both</b>, <b>Vertical</b>, <b>Horizontal</b>, or <b>None</b> to control the resize behavior of the textarea.</li>
    </ul>
</ActionDescription>

<div id="resize" class="col-lg-12">
    <div class="content-wrapper">
    <div class="row material">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextArea Placeholder="Both" ResizeMode="Syncfusion.Blazor.Inputs.Resize.Both" ColumnCount="150" RowCount="5" FloatLabelType="FloatLabelType.Auto"></SfTextArea>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextArea Placeholder="Horizontal" ResizeMode="Syncfusion.Blazor.Inputs.Resize.Horizontal" ColumnCount="150" RowCount="5" FloatLabelType="FloatLabelType.Auto"></SfTextArea>
        </div>
    </div>
    <div class="row material">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextArea Placeholder="Vertical" ResizeMode="Syncfusion.Blazor.Inputs.Resize.Vertical" ColumnCount="150" RowCount="5" FloatLabelType="FloatLabelType.Auto"></SfTextArea>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextArea Placeholder="None" ResizeMode="Syncfusion.Blazor.Inputs.Resize.None" ColumnCount="150" RowCount="5" FloatLabelType="FloatLabelType.Auto"></SfTextArea>
        </div>
    </div>
    </div>
</div>

<style>
    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #resize .e-multi-line-input {
        max-width: 100%;
    }

    
</style>
