@page "/diagramcomponent/shapes"

@using Syncfusion.Blazor.Diagram
@using System.Collections.ObjectModel
@inherits SampleBaseComponent;

@*Hidden:Lines*@
@implements IDisposable

<SampleDescription>
    <p>This sample illustrates basic built-in shapes, such as basic shapes and flow shapes.</p>
</SampleDescription>
<ActionDescription>
    <p>This example shows how to define built-in shapes that are used to visualize geometric information, workflow, or business flow diagrams. The <code class="language-text">Type</code> property of the <code class="language-text">Shape</code> allows you to choose the type of shape.</p>
</ActionDescription>
@*End:Hidden*@
<SfDiagramComponent Height="690px" Nodes="@NodeCollection">
    <SnapSettings Constraints=SnapConstraints.None>
    </SnapSettings>
</SfDiagramComponent>

@code
{
    //Defines diagrams's nodes collection
    public DiagramObjectCollection<Node> NodeCollection = new DiagramObjectCollection<Node>();

    protected override void OnInitialized()
    {
        NodeCollection = new DiagramObjectCollection<Node>();

        #region Basic Shapes
        AddShapeText("Basic Shapes", NodeConstraints.PointerEvents);
        AddBasicShapes("rectLabel", "Rectangle", BasicShapeType.Rectangle, false);
        AddBasicShapes("ellipseLabel", "Ellipse", BasicShapeType.Ellipse, true);
        AddBasicShapes("triLabel", "Triangle", BasicShapeType.Triangle, true);
        AddBasicShapes("plusLabel", "Plus", BasicShapeType.Plus, true);
        AddBasicShapes("starLabel", "Star", BasicShapeType.Star, true);
        AddBasicShapes("pentLabel", "Pentagon", BasicShapeType.Pentagon, true);
        AddBasicShapes("heptLabel", "Heptagon", BasicShapeType.Heptagon, true);
        AddBasicShapes("octLabel", "Octagon", BasicShapeType.Octagon, true);
        AddBasicShapes("trapLabel", "Trapezoid", BasicShapeType.Trapezoid, false);
        AddBasicShapes("decLabel", "Decagon", BasicShapeType.Decagon, true);
        AddBasicShapes("rightLabel", "Right Triangle", BasicShapeType.RightTriangle, true);
        AddBasicShapes("paraLabel", "Parallelogram", BasicShapeType.Parallelogram, true);
        #endregion

        #region FlowShapeType
        AddShapeText("Flow Shapes", NodeConstraints.PointerEvents);
        AddFlowShapes("terminateLabel", "Terminator", FlowShapeType.Terminator);
        AddFlowShapes("processLabel", "Process", FlowShapeType.Process);
        AddFlowShapes("decisionLabel", "Decision", FlowShapeType.Decision);
        AddFlowShapes("documentLabel", "Document", FlowShapeType.Document);
        AddFlowShapes("preLabel", "Predefined Process", FlowShapeType.PreDefinedProcess);
        AddFlowShapes("directLabel", "Direct Data", FlowShapeType.DirectData);
        AddFlowShapes("seqLabel", "Sequential Data", FlowShapeType.SequentialData);
        AddFlowShapes("sortLabel", "Sort", FlowShapeType.Sort);
        AddFlowShapes("multiLabel", "Multidocument", FlowShapeType.MultiDocument);
        AddFlowShapes("collateLabel", "Collate", FlowShapeType.Collate);
        AddFlowShapes("summingLabel", "Summing Junction", FlowShapeType.SummingJunction);
        AddFlowShapes("or", "Or", FlowShapeType.Or);
        AddFlowShapes("internalLabel", "Internal Storage", FlowShapeType.InternalStorage);
        AddFlowShapes("extractLabel", "Extract", FlowShapeType.Extract);
        AddFlowShapes("manualLabel", "Manual Operation", FlowShapeType.ManualOperation);
        AddFlowShapes("mergeLabel", "Merge", FlowShapeType.Merge);
        AddFlowShapes("offLabel", "Off-page Reference", FlowShapeType.OffPageReference);
        AddFlowShapes("seqAccess", "Sequential Access Storage", FlowShapeType.SequentialAccessStorage);
        AddFlowShapes("dataLabel", "Data", FlowShapeType.Data);
        AddFlowShapes("cardLabel", "Card", FlowShapeType.Card);
        AddFlowShapes("Preparation", "Preparation", FlowShapeType.Preparation);
        #endregion
        UpdateValues();
    }
    private void AddShapeText(string textContent, NodeConstraints constraints)
    {
        Node node = new Node()
        {
            Annotations = new DiagramObjectCollection<ShapeAnnotation>()
            {
                new ShapeAnnotation
                {
                    Content = textContent,
                }
            },
            Style = new TextStyle() { FontSize = 16, Fill = "None", FontFamily = "sans-serif", Bold = true, StrokeWidth = 0 },
            Constraints = constraints
        };
        NodeCollection.Add(node);
    }
    private void AddBasicShapes(string id, string shapeText, BasicShapeType shapes, bool CheckAspectRatio)
    {
        Node node = new Node()
        {

            Shape = new BasicShape() { Type = Syncfusion.Blazor.Diagram.Shapes.Basic, Shape = shapes },
            Annotations = new DiagramObjectCollection<ShapeAnnotation>()
            {
                new ShapeAnnotation
                {
                    Content = shapeText, ID = id,
                }
            },

        };
        if (CheckAspectRatio)
        {
            node.Constraints = node.Constraints | NodeConstraints.AspectRatio;
        }
        NodeCollection.Add(node);
    }
    private void UpdateValues()
    {
        int offsetx = 60;
        int offsety = 50;
        int count = 1;

        for (int i = 0; i < NodeCollection.Count; i++)
        {
            Node node = NodeCollection[i];
            node.Width = 40;
            node.Height = 40;

            if (node.Shape.Type == Syncfusion.Blazor.Diagram.Shapes.Flow)
            {
                if (node.Shape is FlowShape)
                {
                    FlowShape shapeType = node.Shape as FlowShape;
                    if (shapeType.Shape == FlowShapeType.Process || shapeType.Shape == FlowShapeType.Terminator)
                    {
                        node.Height = 20;
                    }
                    else if (shapeType.Shape == FlowShapeType.Decision)
                    {
                        node.Height = 35;
                    }
                    else if (shapeType.Shape == FlowShapeType.Document || shapeType.Shape == FlowShapeType.DirectData ||
                      shapeType.Shape == FlowShapeType.MultiDocument || shapeType.Shape == FlowShapeType.PreDefinedProcess)
                    {
                        node.Height = 30;
                    }
                }
            }

            if (node.Annotations[0].Content != "Basic Shapes" && node.Annotations[0].Content != "Flow Shapes")
            {
                if (node.Annotations.Count > 0)
                {
                    node.Annotations[0].VerticalAlignment = VerticalAlignment.Bottom;
                    node.Annotations[0].Offset = new DiagramPoint() { X = 0.5, Y = 1 };
                    node.Annotations[0].Margin = new Margin() { Top = 10 };
                }
                node.OffsetX = offsetx;
                node.OffsetY = offsety;
                offsetx = offsetx + 90;
                if (count % 10 == 0)
                {
                    offsety = offsety + 100;
                    offsetx = 60;
                }
                count++;
            }

            if (node.Annotations[0].Content == "Basic Shapes" || node.Annotations[0].Content == "Flow Shapes")
            {
                node.Annotations[0].Style.Bold = true;
                node.Annotations[0].Style.FontSize = 16;

                offsetx = 60;
                node.OffsetX = offsetx;

                if (count > 1)
                {
                    offsety += 100;
                }
                node.OffsetY = offsety;
                offsety = offsety + 50;
                count = 1;
                node.Width = 150;
                node.Height = 50;
                node.OffsetX = 90;
            }
        }
    }

    private void AddFlowShapes(string id, string shapeText, FlowShapeType shapes)
    {
        Node terminatNode = new Node()
        {
            Shape = new FlowShape() { Type = Syncfusion.Blazor.Diagram.Shapes.Flow, Shape = shapes },
            Annotations = new DiagramObjectCollection<ShapeAnnotation>() 
            {
                new ShapeAnnotation { Content = shapeText,ID = id }
            }
        };
        NodeCollection.Add(terminatNode);
    }
    @*Hidden:Lines*@
    public void Dispose()
    {
        if(NodeCollection != null)
        {
            NodeCollection.Clear();
            NodeCollection = null;
        }
    }
    @*End:Hidden*@
}