@page "/file-manager/access-control"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@
<SampleDescription>
    <p>The File Manager that gives you complete control over who can access your folders and files. With this essential feature, you can define access permissions and create a secure and organized digital environment.
       This File Manager sample demonstrates that the enabled access permission will permit only read action and will not allow the user to perform any write action on the Documents, Music folders and the bird image file inside the Pictures/Nature folder.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The access control feature allows you to define access permissions for folders and files using a set of access rule properties based on user's role.
        When write access permission is restricted for the Documents folder, the permission returned in response will be as shown below:
    <p>
        <strong>permission: {copy: false, download: false, write: false, writeContents: false, read: true, upload: false}</strong>
    </p>
        For more details on defining rules for access control on folder and file , refer the <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-aspcore-file-provider/blob/master/Controllers/FileManagerAccessController.cs#L139" aria-label="GitHub Sample link of FileManagerAccessControl">GitHub </a>location.</p>
</ActionDescription>

<div class="control-section">
    @* Initialization of default File Manager component *@
    <SfFileManager TValue="FileManagerDirectoryContent" AllowDragAndDrop="true" AllowMultiSelection="true" ShowFileExtension="false" >
        <FileManagerAjaxSettings Url="https://ej2-aspcore-service.azurewebsites.net/api/FileManagerAccess/FileOperations"
                                 UploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManagerAccess/Upload"
                                 DownloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManagerAccess/Download"
                                 GetImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManagerAccess/GetImage">
        </FileManagerAjaxSettings>
        <FileManagerToolbarSettings ToolbarItems="@Items"></FileManagerToolbarSettings>
        <FileManagerContextMenuSettings File="@FileItems" Layout="@LayoutItems" Visible="true"></FileManagerContextMenuSettings>
        <FileManagerDetailsViewSettings>
            <FileManagerColumns>
                <FileManagerColumn Field="Name" HeaderText="Name"></FileManagerColumn>
                <FileManagerColumn Field="DateModified" Format="MM/dd/yyyy h:mm tt" HeaderText="Modified"></FileManagerColumn>
                <FileManagerColumn Field="Size" HeaderText="Size"></FileManagerColumn>
            </FileManagerColumns>
        </FileManagerDetailsViewSettings>
    </SfFileManager>
</div>

@*Hidden:Lines*@
@code {
    public List<ToolBarItemModel> Items = new List<ToolBarItemModel>()
    {
        new ToolBarItemModel() { Name = "NewFolder" },
        new ToolBarItemModel() { Name = "Cut" },
        new ToolBarItemModel() { Name = "Copy" },
        new ToolBarItemModel() { Name = "Paste" },
        new ToolBarItemModel() { Name = "Delete" },
        new ToolBarItemModel() { Name = "Download" },
        new ToolBarItemModel() { Name = "Rename" },
        new ToolBarItemModel() { Name = "SortBy" },
        new ToolBarItemModel() { Name = "Refresh" },
        new ToolBarItemModel() { Name = "Selection" },
        new ToolBarItemModel() { Name = "View" },
        new ToolBarItemModel() { Name = "Details" },
    };
    public string[] LayoutItems = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    public string[] FileItems = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };

}

<style>
    .bootstrap5 .e-filemanager .e-large-icons .e-list-img, .bootstrap5-dark .e-filemanager .e-large-icons .e-list-img,
    .bootstrap4 .e-filemanager .e-large-icons .e-list-img {
        border: none !important;
    }
</style>
@*End:Hidden*@
