@page "/file-manager/amazon-s3-provider"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@inherits SampleBaseComponent;

<SampleDescription>
	<p>This sample demonstrates how to utilize the <a target="_blank" href="https://github.com/SyncfusionExamples/amazon-s3-aspcore-file-provider">Amazon S3 file system provider</a> to manage the files in the File Manager component. To run the service, create an Amazon S3 account and an S3 bucket and then register your amazon S3 client account details like <code>bucketname</code>, <code>awsaccesskeyid</code>, <code>awssecretkeyid</code> and <code>awsregion</code> details in the <code>RegisterAmazonS3</code> method to perform the file operations.</p>
</SampleDescription>
<ActionDescription>
	<p>The <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-file-manager'>Blazor File Manager </a> component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as <code>create</code>, <code>rename</code>, <code>delete</code>, <code>refresh</code> and so on.</p>
	<p><b>Note: </b>The File Manager’s upload functionality is restricted in online demo. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/amazon-s3-aspcore-file-provider">Amazon S3 File Provider</a> from the GitHub repository.</p>
</ActionDescription>

<div class="control-section">
	@* Initialization of File Manager component with the Amazon S3 file provider *@
	<SfFileManager TValue="FileManagerDirectoryContent">
		<FileManagerAjaxSettings Url="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3Fileoperations"
								 UploadUrl="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3Upload"
								 DownloadUrl="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3Download"
								 GetImageUrl="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3GetImage">
		</FileManagerAjaxSettings>
	</SfFileManager>
</div>
