@page "/file-manager/amazon-s3-provider"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
	<p>This sample demonstrates how to use the <a target="_blank" href=https://github.com/SyncfusionExamples/amazon-s3-aspcore-file-provider aria-label="GitHub sample link of Amazon S3 file system provider">Amazon S3 file system provider</a> with the File Manager component to perform file operations. This supports all basic file operations such as create, rename, delete, refresh and more.</p>
</SampleDescription>
<ActionDescription>
	<p>This sample explains the Amazon S3 (Simple Storage Service) cloud file provider that allows users to access and manage a server-hosted file system as a collection of objects stored in the Amazon S3 Bucket. To start the service, you need to create an <a target="_blank" href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/GetStartedWithS3.html" aria-label="Amazon S3 account documentation">Amazon S3 account</a> and a bucket, and then provide your Amazon S3 client account details such as the <code>bucket name</code>, <code>AWS access key ID</code>, <code>AWS secret key ID</code>, and <code>AWS region</code> in the <code>RegisterAmazonS3</code> method to perform file operations.</p>
	<p>Checkout this <a target="_blank" href="https://github.com/SyncfusionExamples/amazon-s3-aspcore-file-provider" aria-label="GitHub sample link of Amazon S3 file system provider">Amazon S3 file system provider</a> from the GitHub repository to connect with RegisterAmazonS3 method.</p>
</ActionDescription>

<div class="control-section">
	@* Initialization of File Manager component with the Amazon S3 file provider *@
	<SfFileManager TValue="FileManagerDirectoryContent" ShowFileExtension="false">
		<FileManagerAjaxSettings Url="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3Fileoperations"
								 UploadUrl="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3Upload"
								 DownloadUrl="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3Download"
								 GetImageUrl="https://amazons3.azurewebsites.net/api/AmazonS3Provider/AmazonS3GetImage">
		</FileManagerAjaxSettings>
		<FileManagerToolbarSettings ToolbarItems="@Items"></FileManagerToolbarSettings>
		<FileManagerContextMenuSettings File="@FileItems" Layout="@LayoutItems" Visible="true"></FileManagerContextMenuSettings>
	</SfFileManager>
</div>

@*Hidden:Lines*@
@code {
    

    

	public List<ToolBarItemModel> Items = new List<ToolBarItemModel>()
	{
		new ToolBarItemModel() { Name = "NewFolder" },
		new ToolBarItemModel() { Name = "Cut" },
		new ToolBarItemModel() { Name = "Copy" },
		new ToolBarItemModel() { Name = "Paste" },
		new ToolBarItemModel() { Name = "Delete" },
		new ToolBarItemModel() { Name = "Download" },
		new ToolBarItemModel() { Name = "Rename" },
		new ToolBarItemModel() { Name = "SortBy" },
		new ToolBarItemModel() { Name = "Refresh" },
		new ToolBarItemModel() { Name = "Selection" },
		new ToolBarItemModel() { Name = "View" },
		new ToolBarItemModel() { Name = "Details" },
	};
	public string[] LayoutItems = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
	public string[] FileItems = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}
<style>
	.bootstrap5 .e-filemanager .e-large-icons .e-list-img, .bootstrap5-dark .e-filemanager .e-large-icons .e-list-img,
	.bootstrap4 .e-filemanager .e-large-icons .e-list-img {
		border: none !important;
	}
</style>
@*End:Hidden*@