@page "/file-manager/azure"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates how to utilize the <code>Azure blob storage</code> with the File Manager component. To run the service, create the Azure blob storage account and register the Azure storage details like <code>account name</code>, <code>password</code>, and <code>blob name</code> details within the <code>RegisterAzure</code> method.</p>
</SampleDescription>
<ActionDescription>
  <p>The <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-file-manager'>Blazor File Manager </a> component is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as <code>create</code>, <code>rename</code>, <code>delete</code>, <code>refresh</code> and so on.</p>
  <p><b>Note: </b>The File Manager’s upload functionality is restricted in online demo. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/azure-aspcore-file-provider">Azure Blob Storage</a> from the GitHub repository.</p>
</ActionDescription>

<div class="control-section">
    @* Initialization of File Manager component with Azure file provider *@
    <SfFileManager TValue="FileManagerDirectoryContent">
        <FileManagerAjaxSettings Url="https://ej2-azure-aspcore-service.azurewebsites.net/api/AzureFileManager/AzureFileoperations"
                                 UploadUrl="https://ej2-azure-aspcore-service.azurewebsites.net/api/AzureFileManager/AzureUpload"
                                 DownloadUrl="https://ej2-azure-aspcore-service.azurewebsites.net/api/AzureFileManager/AzureDownload"
                                 GetImageUrl="https://ej2-azure-aspcore-service.azurewebsites.net/api/AzureFileManager/AzureGetImage">
        </FileManagerAjaxSettings>
    </SfFileManager>
</div>
