@page "/file-manager/ftp-file-provider"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to use the <a target="_blank" href="https://github.com/SyncfusionExamples/ftp-aspcore-file-provider" aria-label="GitHub sample link of File Transfer Protocol file system provider">File Transfer Protocol file system provider</a> to manage files in the File Manager component. This supports all basic file operations such as create, rename, delete, refresh and more. The File Transfer Protocol file system provider provides an efficient way to store the File Manager file system in a cloud database as a JSON representation.</p>
</SampleDescription>
<ActionDescription>
    <p> To start the service, you need to create an FTP connection and configure the details such as <code>hostname</code>, <code>username</code>, and <code>password</code> in the <code>SetFTPConnection</code> method to perform file operations.</p>
    <p>Checkout this <a target="_blank" href="https://github.com/SyncfusionExamples/ftp-aspcore-file-provider" aria-label="GitHub sample link of File Transfer Protocol file system provider">File Transfer Protocol file system provider</a> from the GitHub repository to connect with <code>SetFTPConnection</code> method.</p>
</ActionDescription>

<div class="control-section">
    @* Initialization of File Manager component with FTP file provider *@
    <SfFileManager TValue="FileManagerDirectoryContent" ShowFileExtension="false">
        <FileManagerAjaxSettings Url="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPFileoperations"
                                 UploadUrl="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPUpload"
                                 DownloadUrl="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPDownload"
                                 GetImageUrl="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPGetImage">
        </FileManagerAjaxSettings>
        <FileManagerToolbarSettings ToolbarItems="@Items"></FileManagerToolbarSettings>
        <FileManagerContextMenuSettings File="@FileItems" Layout="@LayoutItems" Visible="true"></FileManagerContextMenuSettings>
    </SfFileManager>
</div>

@*Hidden:Lines*@
@code {
    

    
    public List<ToolBarItemModel> Items = new List<ToolBarItemModel>()
    {
        new ToolBarItemModel() { Name = "NewFolder" },
        new ToolBarItemModel() { Name = "Cut" },
        new ToolBarItemModel() { Name = "Copy" },
        new ToolBarItemModel() { Name = "Paste" },
        new ToolBarItemModel() { Name = "Delete" },
        new ToolBarItemModel() { Name = "Download" },
        new ToolBarItemModel() { Name = "Rename" },
        new ToolBarItemModel() { Name = "SortBy" },
        new ToolBarItemModel() { Name = "Refresh" },
        new ToolBarItemModel() { Name = "Selection" },
        new ToolBarItemModel() { Name = "View" },
        new ToolBarItemModel() { Name = "Details" },
    };
    public string[] LayoutItems = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    public string[] FileItems = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}
<style>
    .bootstrap5 .e-filemanager .e-large-icons .e-list-img, .bootstrap5-dark .e-filemanager .e-large-icons .e-list-img,
    .bootstrap4 .e-filemanager .e-large-icons .e-list-img {
        border: none !important;
    }
</style>
@*End:Hidden*@