@page "/file-manager/ibm-cos-node-file-provider"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
	@{ var syncfusion = "@syncfusion"; }
	<p>This sample demonstrates how to use the <a target="_blank" href="https://github.com/SyncfusionExamples/filemanager-ibm-cos-node-file-provider" aria-label="GitHub sample link of IBM Cloud Object Storage file provider">IBM Cloud Object Storage file provider</a> with the File Manager component. The IBM Cloud Object Storage file provider module provides support for working with the IBM Cloud Object Storage and enables various file actions such as creating a new folder, renaming files, and deleting files. </p>
</SampleDescription>
<ActionDescription>
	<p>This file provider serves as a source for the File Manager component when using the IBM Cloud Object Storage.</p>
	<p>To run the service, create an IBM Cloud Object Storage for accessing and storing the cloud objects as files or folders. Create an <a target="_blank" href="https://cloud.ibm.com/docs/cloud-object-storage/basics?topic=cloud-object-storage-provision" aria-label="IBM Cloud account documentation">IBM Cloud account</a> and then create Cloud Object Storage bucket to perform the file operations. Then, define the server credentials details such as <code>bucketname</code>, <code>endpoint</code>, <code>apiKeyId</code>, and <code>serviceInstanceId</code> within the <code>config/default.json</code> file found in the config folder.</p>
	<p>Checkout this <a target="_blank" href="https://github.com/SyncfusionExamples/filemanager-ibm-cos-node-file-provider" aria-label="GitHub sample link of IBM Cloud Object Storage file provider">IBM Cloud Object Storage file provider</a> from the GitHub repository.</p>
</ActionDescription>

<div class="control-section">
	@* Initialization of File Manager component with IBM cloud file provider *@
	<SfFileManager TValue="FileManagerDirectoryContent" ShowFileExtension="false">
		<FileManagerAjaxSettings Url="https://ej2-ibm-cos-node-file-provider.azurewebsites.net/"
								 UploadUrl="https://ej2-ibm-cos-node-file-provider.azurewebsites.net/Upload"
								 DownloadUrl="https://ej2-ibm-cos-node-file-provider.azurewebsites.net/Download"
								 GetImageUrl="https://ej2-ibm-cos-node-file-provider.azurewebsites.net/GetImage">
		</FileManagerAjaxSettings>
		<FileManagerToolbarSettings ToolbarItems="@Items"></FileManagerToolbarSettings>
		<FileManagerContextMenuSettings File="@FileItems" Layout="@LayoutItems" Visible="true"></FileManagerContextMenuSettings>
	</SfFileManager>
</div>

@*Hidden:Lines*@
@code {
	

	
	public List<ToolBarItemModel> Items = new List<ToolBarItemModel>()
	{
		new ToolBarItemModel() { Name = "NewFolder" },
		new ToolBarItemModel() { Name = "Cut" },
		new ToolBarItemModel() { Name = "Copy" },
		new ToolBarItemModel() { Name = "Paste" },
		new ToolBarItemModel() { Name = "Delete" },
		new ToolBarItemModel() { Name = "Download" },
		new ToolBarItemModel() { Name = "Rename" },
		new ToolBarItemModel() { Name = "SortBy" },
		new ToolBarItemModel() { Name = "Refresh" },
		new ToolBarItemModel() { Name = "Selection" },
		new ToolBarItemModel() { Name = "View" },
		new ToolBarItemModel() { Name = "Details" },
	};
	public string[] LayoutItems = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
	public string[] FileItems = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}
<style>
	.bootstrap5 .e-filemanager .e-large-icons .e-list-img, .bootstrap5-dark .e-filemanager .e-large-icons .e-list-img,
	.bootstrap4 .e-filemanager .e-large-icons .e-list-img {
		border: none !important;
	}
</style>
@*End:Hidden*@