@page "/file-manager/overview"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>The <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-file-manager' aria-label="Feature Tour of Blazor File Manager">Blazor File Manager</a> is an efficient tool for managing files and folders, providing a comprehensive set of features such as a <code>toolbar</code>, <code>navigation pane</code>, and <code>details view</code>, which make it easy to access, edit, and sort files. With its user-friendly interface, users can easily navigate through folders and effortlessly select their desired files or folders.</p>
</SampleDescription>
<ActionDescription>
    <p>The Blazor File Manager component is utilized to navigate a file system within a web application, much like the functionality of Windows Explorer. It facilitates all fundamental file operations, including <code>creating</code>, <code>renaming</code>, <code>deleting</code>, <code>refreshing</code> and more.</p>
    <p>The <code>AjaxSettings</code> must be defined when initializing the File Manager, as the File Manager uses the URLs specified in <code>AjaxSettings</code> to send file operation requests to the server.</p>
    <p>The context menu can be customized using the <code>ContextMenuSettings API</code> , which are used to add new menu items.</p>
    <p>The custom toolbar items can be added and customized using the <code>ToolbarSettings API</code>. If a new toolbar is needed, it can be added using the <code>ToolbarSettings</code>.</p>
</ActionDescription>

<div class="control-section">
    @* Initialization of default File Manager component *@
    <SfFileManager TValue="FileManagerDirectoryContent" AllowDragAndDrop="true" AllowMultiSelection="true" ShowFileExtension="false" >
        <FileManagerAjaxSettings Url="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations"
                                 UploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload"
                                 DownloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
                                 GetImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage">
        </FileManagerAjaxSettings>
        <FileManagerToolbarSettings ToolbarItems="@Items"></FileManagerToolbarSettings>
        <FileManagerContextMenuSettings File="@FileItems" Layout="@LayoutItems" Visible="true"></FileManagerContextMenuSettings>
        <FileManagerDetailsViewSettings>
            <FileManagerColumns>
                <FileManagerColumn Field="Name" HeaderText="Name"></FileManagerColumn>
                <FileManagerColumn Field="DateModified" Format="MM/dd/yyyy h:mm tt" HeaderText="Modified"></FileManagerColumn>
                <FileManagerColumn Field="Size" HeaderText="Size"></FileManagerColumn>
            </FileManagerColumns>
        </FileManagerDetailsViewSettings>
    </SfFileManager>
</div>

@*Hidden:Lines*@
@code {
    

    
    public List<ToolBarItemModel> Items = new List<ToolBarItemModel>()
    {
        new ToolBarItemModel() { Name = "NewFolder" },
        new ToolBarItemModel() { Name = "Cut" },
        new ToolBarItemModel() { Name = "Copy" },
        new ToolBarItemModel() { Name = "Paste" },
        new ToolBarItemModel() { Name = "Delete" },
        new ToolBarItemModel() { Name = "Download" },
        new ToolBarItemModel() { Name = "Rename" },
        new ToolBarItemModel() { Name = "SortBy" },
        new ToolBarItemModel() { Name = "Refresh" },
        new ToolBarItemModel() { Name = "Selection" },
        new ToolBarItemModel() { Name = "View" },
        new ToolBarItemModel() { Name = "Details" },
    };
    public string[] LayoutItems = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    public string[] FileItems = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}
<style>
    .bootstrap5 .e-filemanager .e-large-icons .e-list-img, .bootstrap5-dark .e-filemanager .e-large-icons .e-list-img,
    .bootstrap4 .e-filemanager .e-large-icons .e-list-img {
        border: none !important;
    }
</style>
@*End:Hidden*@