@page "/file-manager/sequential-upload"

@using Syncfusion.Blazor.FileManager;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the sequential upload capability in the File Manager component. When enabled, files are uploaded one by one in the order they are added, helping you preserve upload order and control network usage.
    </p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, a sequential upload functionality is enabled by setting <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.FileManager.FileManagerUploadSettings.html#Syncfusion_Blazor_FileManager_FileManagerUploadSettings_SequentialUpload" aria-label="Class reference of SequentialUpload property in File Manager">SequentialUpload</a> to <code>true</code>.</p>
    <p>
        The folder (directory) upload is supported for the following file system providers,
    </p>
    <ul>
        <li> Physical provider</li>
        <li> NodeJS provider</li>
        <li> Azure provider</li>
        <li> Amazon S3 provider</li>
    </ul>
    <p>To efficiently upload large files and folders to the server in manageable chunks, use the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.FileManager.FileManagerUploadSettings.html#Syncfusion_Blazor_FileManager_FileManagerUploadSettings_ChunkSize" aria-label="Class reference of ChunkSize property in File Manager">ChunkSize</a> property to specify the desired chunk size. File Manager's upload functionality is restricted in the online demos for security reasons, please run the service provider locally to try out the upload functionality.</p>
    <p></p>
</ActionDescription>

<div class="control-section">
    @* Initialization of File Manager component with Directory upload functionality *@
    <SfFileManager TValue="FileManagerDirectoryContent">
        <FileManagerAjaxSettings Url="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations"
                                 UploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload"
                                 DownloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
                                 GetImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage">
        </FileManagerAjaxSettings>
        <FileManagerUploadSettings DirectoryUpload="@IsDirectoryUpload" SequentialUpload="true"></FileManagerUploadSettings>
    </SfFileManager>
</div>

@code {
    private bool IsDirectoryUpload = true;
}