@page "/file-manager/virtualization"

@using Syncfusion.Blazor.FileManager;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates UI virtualization in the File Manager component, optimizing performance by dynamically loading items as users scroll through folders and files.</p>
    
    <p>Virtualization benefits:</p>
    
    <ul>
        <li>Enhanced performance and user experience</li>
        <li>Efficient handling of extensive datasets</li>
        <li>Applies to both details view and large icons view</li>
        <li>Seamless navigation through large volume data</li>
    </ul>
    
    <p>Implementation:</p>
    
    <ul>
        <li>Enable virtualization by setting <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.FileManager.SfFileManager-1.html#Syncfusion_Blazor_FileManager_SfFileManager_1_EnableVirtualization" target="_blank" rel="noopener" aria-label="EnableVirtualization">EnableVirtualization</a> to <code>true</code></li>
    </ul>
    
    <p>This example includes folders (documents and text documents) with substantial file counts, demonstrating the File Manager's capability to manage and display large volumes of data efficiently. For detailed information, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/file-manager/virtualization' aria-label="Blazor FileManager Virtualization documentation">virtualization documentation</a>.</p>
</ActionDescription>


<div class="control-section">
    @* Initialization of File Manager component with virtualization *@
    <SfFileManager TValue="FileManagerDirectoryContent" View="ViewType.Details" EnableVirtualization="true">
        <FileManagerAjaxSettings Url="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/FileOperations"
                                 UploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/Upload"
                                 DownloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/Download"
                                 GetImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/Virtualization/GetImage">
        </FileManagerAjaxSettings>
        <FileManagerToolbarSettings ToolbarItems="@Items"></FileManagerToolbarSettings>
        <FileManagerContextMenuSettings File="@FileItems" Layout="@LayoutItems" Visible="true"></FileManagerContextMenuSettings>
    </SfFileManager>
</div>

@code {
    public List<ToolBarItemModel> Items = new List<ToolBarItemModel>()
    {
        new ToolBarItemModel() { Name = "NewFolder" },
        new ToolBarItemModel() { Name = "Cut" },
        new ToolBarItemModel() { Name = "Copy" },
        new ToolBarItemModel() { Name = "Paste" },
        new ToolBarItemModel() { Name = "Delete" },
        new ToolBarItemModel() { Name = "Download" },
        new ToolBarItemModel() { Name = "Rename" },
        new ToolBarItemModel() { Name = "SortBy" },
        new ToolBarItemModel() { Name = "Refresh" },
        new ToolBarItemModel() { Name = "Selection" },
        new ToolBarItemModel() { Name = "View" },
        new ToolBarItemModel() { Name = "Details" },
    };
    public string[] LayoutItems = new string[] { "SortBy", "View", "Refresh", "|", "Paste", "|", "NewFolder", "|", "Details", "|", "SelectAll" };
    public string[] FileItems = new string[] { "Cut", "Copy", "|", "Delete", "Download", "Rename", "|", "Details" };
}                              
