@page "/image-editor/default-functionalities"

@using Syncfusion.Blazor.ImageEditor

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the default rendering of the <a href="https://www.syncfusion.com/blazor-components/blazor-wysiwyg-image-editor" aria-label="Blazor Image Editor">Blazor Image Editor</a> with minimum configuration in the Blazor application.</p>
</SampleDescription>
<ActionDescription>
    <p>The Image Editor component provides built-in support to edit images in the following ways through APIs:</p>
    <ul>
        <li><code>Selection</code> : Multiple selection options are available. The selection region can be a square or circle, customized to various aspects ratios, and customized by dragging and resizing.</li>
        <li><code>Crop</code> : The image can be cropped based on the selection.</li>
        <li><code>Rotate</code> : The image can be rotated both clockwise and anticlockwise by 90 degrees.</li>
        <li><code>Flip</code> : The image can be flipped both horizontally and vertically.</li>
        <li><code>Zoom</code> : The image can be zoomed in and out.</li>
        <li><code>Pan</code> : View the entire image by toggling the pan option from the toolbar.</li>
        <li><code>Freehand drawing</code> : Draw freehand on the image and adjust the pen's stroke width and stroke color.</li>
        <li><code>Reset</code> : Revert all the edited states and load the original image.</li>
        <li><code>Save</code> : Save the edited image in JPEG, PNG, and SVG formats.</li>
        <li><code>Annotation</code> : Text, rectangle, ellipse, arrow, path, image, and line annotation shapes are supported.</li>
        <li><code>Finetunes</code> : The effects such as brightness, contrast, hue, sauration, and blur can be applied to the image.</li>
        <li><code>Filters</code> : The predefined filters such as chrome, cold, warm, grayscale, sepia, and invert can be applied to the image.</li>
        <li><code>Frames</code> : The predefined frames such as mat, bevel, line, hook, and inset can be applied to the image.</li>
        <li><code>Resize</code> : The image can be resized to cater to the user's preferences and needs, enhancing the adaptability and usability of the content.</li>
        <li><b>Z-Order</b> : Adjust the positioning of annotations to manage the layering of elements, essential for creating polished designs.</li>
    </ul>
</ActionDescription>
<div class="control-section">
    <SfImageEditor @ref="ImageEditor" Height="500px">
        <ImageEditorEvents Created="created"></ImageEditorEvents>
    </SfImageEditor>
</div>

@code {
    SfImageEditor ImageEditor;
    private void created()
    {
        ImageEditor.OpenAsync($"{SampleService.WebAssetsPath}images/image-editor/desktop.png");
    }
}
