@page "/toast/default-functionalities"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Notifications

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the basic layout of a <a href="https://www.syncfusion.com/blazor-components/blazor-toast" aria-label="Feature Tour of Blazor Toast">Blazor Toast</a> to show simple notifications and hide them.</p>
</SampleDescription>
<ActionDescription>
   <p>The Toast is a notification pop-up used to display on the desired position with the required message and header icons.</p>
    <ul>
      <li>The header text is set with the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Notifications.SfToast.html#Syncfusion_Blazor_Notifications_SfToast_Title" aria-label="Class reference of Title property in Toast"><code>Title</code></a> property.</li>
      <li>Information to be displayed is set using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Notifications.SfToast.html#Syncfusion_Blazor_Notifications_SfToast_Content" aria-label="Class reference of Content property in Toast"><code>Content</code></a> property.</li>
    </ul>
    
    <p><b>See also</b></p>
    <ul>
       <li><a href="https://blazor.syncfusion.com/documentation/toast/getting-started/" target="_blank" aria-label="Blazor Toast Getting Started documentation">Getting Started with Blazor Toast</a></li>
    </ul>
</ActionDescription>


<div class="col-lg-12 control-section toast-default-section">
    <SfToast ID="toast_default" @ref="ToastObj" Title="Adaptive Tiles Meeting" Content="@ToastContent" Timeout="5000" Icon="e-meeting">
        <ToastPosition X="@ToastPosition"></ToastPosition>
    </SfToast>
    <div class="col-lg-12 col-sm-12 col-md-12 center">
        <div id="toastBtnDefault" style="margin: auto;text-align: center">
            <button class="e-btn" @onclick="@ShowOnClick">Show Toasts</button>
            <button class="e-btn" id="toastBtnHide" @onclick="@HideOnClick">Hide All</button>
        </div>
    </div>
</div>

<style>
    #toast_default .e-meeting::before {
        content: "\e705";
        font-size: 17px;
    }
    #toastBtnHide{
        margin-left:10px;
    }
    .bootstrap4 #toast_default .e-meeting::before {
        content: "\e763";
        font-size: 20px;
    }
    .tailwind #toast_default .e-meeting::before,
    .tailwind-dark #toast_default .e-meeting::before,
    .fluent #toast_default .e-meeting::before,
    .fluent-dark #toast_default .e-meeting::before,
    .bootstrap5 #toast_default .e-meeting::before,
    .bootstrap5-dark #toast_default .e-meeting::before {
        content: "\e7e9";
        font-size: 18px;
    }
    
</style>

@code {
    SfToast ToastObj;

    private string ToastPosition = "Right";
    private string ToastContent = "Conference Room 01 / Building 135 10:00 AM-10:30 AM";
    

    private async Task ShowOnClick()
    {
        await this.ToastObj.ShowAsync();
    }

    private async Task HideOnClick()
    {
        await this.ToastObj.HideAsync("All");
    }
}
