@page "/File-Upload/File-Validation"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates how to validate the files before uploading it to server. Only document files (DOC, DOCX, XLS, XLSX), and the files should contain minimum "10 KB" and maximum "100 MB" sizes to upload it into server.</p>
</SampleDescription>
<ActionDescription>
    <p>The File Upload component allows to validate the file's type, and limit the file size using <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.UploaderModel.html#Syncfusion_Blazor_Inputs_UploaderModel_AllowedExtensions' target='_blank' aria-label="Class reference of AllowedExtensions property in File Upload"> AllowedExtensions</a>, <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.UploaderModel.html#Syncfusion_Blazor_Inputs_UploaderModel_MinFileSize' target='_blank' aria-label="Class reference of MinFileSize property in File Upload"> MinFileSize</a>, and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.UploaderModel.html#Syncfusion_Blazor_Inputs_UploaderModel_MaxFileSize' target='_blank' aria-label="Class reference of MaxFileSize property in File Upload"> MaxFileSize</a> properties.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/file-upload/validation/' target='_blank' aria-label="Blazor File Upload Validation documentation">Blazor File Upload - Validation</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <SfUploader AllowedExtensions=".doc, .docx, .xls, .xlsx" MinFileSize=10000 MaxFileSize=104857600>
            <UploaderEvents OnRemove="OnFileRemove"></UploaderEvents>
            <UploaderAsyncSettings SaveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Save" RemoveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Remove"></UploaderAsyncSettings>
        </SfUploader>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 350px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }
</style>

@code {
    
    public void OnFileRemove(RemovingEventArgs args)
    {
        args.PostRawFile = false;
    }
}