@page "/File-Upload/Keyboard-Navigation"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>File Upload functionalities can be interactive with keyboard shortcuts. In the below sample, various key
        combinations can be used to interact with File Upload.</p>
</SampleDescription>
<ActionDescription>
    <p>The File Upload supports the following keyboard shortcuts to initiate various actions.</p>
    <ul>
        <li>
            <b>Focus</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Selection</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Triggers the corresponding action to the button element.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Navigation</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves focus to the next element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves focus to the previous element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc</kbd></span>
                    <span> - Closes the file browser dialog alone and cancels the upload
                    when the file is dropped.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <SfUploader AutoUpload="false">
            <UploaderEvents OnRemove="OnFileRemove"></UploaderEvents>
            <UploaderAsyncSettings SaveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Save"
                                   RemoveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Remove"></UploaderAsyncSettings>
        </SfUploader>
    </div>
</div>

@code {
    
    public void OnFileRemove(RemovingEventArgs args)
    {
        args.PostRawFile = false;
    }
}

<style>
    .control-wrapper {
        max-width: 350px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .description {
        margin: 4px;
        font-size: 14px;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>