@page "/File-Upload/Keyboard-Navigation"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>File Upload functionalities can be made interactive using keyboard shortcuts. In the below sample, various key combinations can be used to interact with the File Upload component.</p>
    
    <p>The File Upload component supports the following keyboard shortcuts to initiate various actions:</p>
    
    <p><b>Focus:</b></p>
    <ul>
        <li><span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span> - Focuses on the first component of the sample.</li>
    </ul>
    
    <p><b>Selection:</b></p>
    <ul>
        <li><span class="key-class"><kbd>Enter</kbd></span> - Triggers the corresponding action to the button element.</li>
    </ul>
    
    <p><b>Navigation:</b></p>
    <ul>
        <li><span class="key-class"><kbd>Tab</kbd></span> - Moves focus to the next element.</li>
        <li><span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span> - Moves focus to the previous element.</li>
        <li><span class="key-class"><kbd>Esc</kbd></span> - Closes the file browser dialog and cancels the upload when the file is dropped.</li>
    </ul>
</ActionDescription>


<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <SfUploader AutoUpload="false">
            <UploaderEvents OnRemove="OnFileRemove"></UploaderEvents>
            <UploaderAsyncSettings SaveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Save"
                                   RemoveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Remove"></UploaderAsyncSettings>
        </SfUploader>
    </div>
</div>

@code {
    
    public void OnFileRemove(RemovingEventArgs args)
    {
        args.PostRawFile = false;
    }
}

<style>
    .control-wrapper {
        max-width: 350px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .description {
        margin: 4px;
        font-size: 14px;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>