@page "/File-Upload/Preload-Files"

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates how to pre-load files in the File Upload component. Already uploaded files are configured in the file list to view and remove them as needed.</p>
    
    <p>The File Upload component allows you to load an initial list of files that are already uploaded to the server. Pre-loaded files are useful for viewing and removing files from the server, providing users with visibility into existing uploads and management capabilities.</p>
    
    <p>In this example, the backend service used in the saveUrl and removeUrl endpoints for saving and removing files is intended for demonstration purposes only. The uploaded files are subjected to thorough validation, including verification of file names and the application of security checks. Therefore, this service is not recommended for production use, and the configuration of a custom backend save and remove service is advised.</p>
    
</ActionDescription>


<div class="col-lg-12">
    <div class="col-lg-8 control-section">
        <div class="control-wrapper">
            <SfUploader @ref="UploaderObj" ID="UploadFiles">
                <UploaderFiles>
                    <UploaderUploadedFiles Name="Nature" Size=500000 Type=".png"></UploaderUploadedFiles>
                    <UploaderUploadedFiles Name="TypeScript Succinctly" Size=12000 Type=".pdf"></UploaderUploadedFiles>
                    <UploaderUploadedFiles Name="ASP.NET Webhooks" Size="500000" Type=".docx"></UploaderUploadedFiles>
                </UploaderFiles>
                <UploaderAsyncSettings SaveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Save" RemoveUrl="https://blazor.syncfusion.com/services/production/api/FileUploader/Remove"></UploaderAsyncSettings>
            </SfUploader>
        </div>
    </div>
    <PropertyPanel ControlSecClass="col-lg-8">
        <SfButton @onclick="@ClearFiles">Clear All</SfButton>
    </PropertyPanel>
</div>

<style>
    .control-section {
    min-height: 370px;
    }

    .control-wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0px 0px;
    }

</style>

@code {
    public SfUploader? UploaderObj;

    private void ClearFiles()
    {
        if (this.UploaderObj != null)
        {
            this.UploaderObj.ClearAllAsync();          
        }
    }
}