@page "/chat-ui/attachments"

@using Syncfusion.Blazor.InteractiveChat
@using Syncfusion.Blazor.Navigations

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager

@*End:Hidden*@

<SampleDescription>
    <p>
        This example demonstrates the ability for users to attach files during chat interactions, which helps provide additional context to the conversation.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.InteractiveChat.ChatUIAttachment.html">ChatUIAttachment</a> tag is used to manage file attachments in the chat interface. By setting the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.InteractiveChat.ChatUIAttachment.html#Syncfusion_Blazor_InteractiveChat_ChatUIAttachment_Enable">Enable</a> parameter to true, you can allow users to attach files. The <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.InteractiveChat.ChatUIAttachment.html#Syncfusion_Blazor_InteractiveChat_ChatUIAttachment_SaveUrl">SaveUrl</a> and <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.InteractiveChat.ChatUIAttachment.html#Syncfusion_Blazor_InteractiveChat_ChatUIAttachment_RemoveUrl">RemoveUrl</a> parameters are configured within this tag to handle the server-side logic for uploading and removing files.
    </p>
    <p>
        You can attach various file types, such as images, videos, and documents. To limit uploads to specific formats, use the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.InteractiveChat.ChatUIAttachment.html#Syncfusion_Blazor_InteractiveChat_ChatUIAttachment_AllowedFileTypes">AllowedFileTypes</a> parameter on the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.InteractiveChat.ChatUIAttachment.html">ChatUIAttachment</a> tag. Additionally, the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.InteractiveChat.SfChatUI.html#Syncfusion_Blazor_InteractiveChat_SfChatUI_EmptyChatTemplate">EmptyChatTemplate</a> property of the main Chat component is used to customize the banner displayed before a conversation begins.
    </p>
</ActionDescription>

<div class="control-section">
    <div class="attachment-chatui">
        <SfChatUI ID="chatAttachment" @ref="AttachmentChatUI" HeaderIconCss="chat_user_avatar" HeaderText="Paul Wilson (You)">
            <EmptyChatTemplate>
                <div class="emptychat-content">
                    <div class="chat-text-content">
                        <h5><span class="e-icons e-multiple-comment"></span></h5>
                        <div class="emptyChatText">No conversations yet.</div>
                    </div>
                    <div class="emptyChatMessage">Type to begin or attach images, videos or files.</div>
                </div>
            </EmptyChatTemplate>
            <ChildContent>
                <ChatUIAttachment Enable SaveUrl="@SaveURL" RemoveUrl="@RemoveURL"></ChatUIAttachment>
                <HeaderToolbar ItemClicked="ToolbarItemClicked">
                    <HeaderToolbarItem Type="ItemType.Spacer"></HeaderToolbarItem>
                    <HeaderToolbarItem IconCss="e-icons e-refresh" Tooltip="Clear Chat"></HeaderToolbarItem>
                </HeaderToolbar>
            </ChildContent>
        </SfChatUI>
    </div>
</div>


<style>
    .attachment-chatui {
        height: 500px;
        width: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .attachment-chatui .chat_user_avatar {
        background-image: url(@(SampleService!.WebAssetsPath + "images/chat-ui/paul.png"));
        background-color: unset;
    }

    .attachment-chatui .emptyChatText {
        font-size: 16px;
        font-style: italic;
    }

    .attachment-chatui .emptychat-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px;
    }

    .attachment-chatui .chat-text-content {
        display: flex;
        align-items: center;
    }

    .attachment-chatui .emptyChatText {
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
    }

    .attachment-chatui .emptyChatMessage {
        font-size: 14px;
        text-align: center;
    }
    @@media only screen and (max-width: 850px) {
        .attachment-chatui
        {
            flex-direction: column;
            height: 500px;
            width: 70%;
        }
    }
</style>


@code {
    private SfChatUI AttachmentChatUI = new SfChatUI();

    private string SaveURL = "https://blazor.syncfusion.com/services/production/api/FileUploader/Save";
    private string RemoveURL = "https://blazor.syncfusion.com/services/production/api/FileUploader/Remove";

    private void ToolbarItemClicked()
    {
        AttachmentChatUI.Messages.Clear();
    }
}
