@page "/Dialog/Modal"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.Popups
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Modal Dialog";
    SampleBrowser.CurrentControlName = "Dialog";
    SampleBrowser.CurrentControlCategory = "Dialog";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Dialog;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This example demonstrates that the modal behavior of Dialog control. Choose ""Close on overlay"" option from property panel to decide whether the Dialog will be closed on click on the overlay.
        Click on ""Open"" button to show the Dialog again if it is closed.</p>"
        };
    SampleBrowser.Description = new string[] {
        @"<p>    
            A modal prevents the access to the parent application, so that the user should interact with the Dialog compulsory before continuing
            the parent application.
        </p>
        <p>More information on the modal behavior of Dialog can be found in the
        <a target='_blank' href=""https://ej2.syncfusion.com/blazor/documentation/dialog/getting-started/""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

    <div class=" col-lg-8 control-section" id="target" style="height:350px;">
        <button class="e-btn" @onclick="@OnBtnClick">Open</button>
    <EjsDialog @ref="DialogObj" Width="335px" Height="160px" Target="#target" IsModal="true">
        <DialogTemplates>
            <Header> Software Update </Header>
            <Content> <p>Your current software version is up to date.</p> </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton ButtonModel="@DialogBtn" OnClick="DlgButtonClick"></DialogButton>
        </DialogButtons>
        <DialogEvents OnOverlayClick="@OverlayClick"></DialogEvents>
        <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    </EjsDialog>
</div>
<div class="col-lg-4 property-section">
    <table id="property" title="Properties">
        <tbody>
            <tr><td style="padding: 22px;font-weight: 600;font-size: 15px;"><b>Properties</b></td></tr>
            <tr>
                <td style="width:60%; padding: 27px;">
                    <div style="font-size:13px;">Close on overlay click</div>
                </td>
                <td>
                    <EjsCheckBox @ref="CheckboxObj" Checked="false"></EjsCheckBox>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    #target {
        max-height: 800px;
        height: 100%;
    }
</style>

@code {
    EjsDialog DialogObj;
    EjsCheckBox CheckboxObj;

    private ButtonModel DialogBtn = new ButtonModel
    {
        Content = "Ok",
        IsPrimary = true
    };

    private void OnBtnClick()
    {
        this.DialogObj.Show();
    }

    private void DlgButtonClick()
    {
        this.DialogObj.Hide();
    }

    private void OverlayClick(Object args)
    {
        if ((bool)this.CheckboxObj.Checked)
        {
            this.DialogObj.Hide();
        }
        else
        {
            this.DialogObj.Show();
        }
    }
}