@page "/Dialog/Modal"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.Popups
@using Syncfusion.EJ2.Blazor.Buttons

@inherits SampleBaseComponent;

    <div class=" col-lg-8 control-section" id="target" style="height:350px;">
        <button class="e-btn" @onclick="@OnBtnClick">Open</button>
    <EjsDialog @ref="DialogObj" Width="335px" Target="#target" IsModal="true">
        <DialogTemplates>
            <Header> Software Update </Header>
            <Content> <p>Your current software version is up to date.</p> </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton ButtonModel="@DialogBtn" OnClick="DlgButtonClick"></DialogButton>
        </DialogButtons>
        <DialogEvents OnOverlayClick="@OverlayClick"></DialogEvents>
        <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    </EjsDialog>
</div>
<div class="col-lg-4 property-section">
    <table id="property" title="Properties">
        <tbody>
            <tr><td style="padding: 22px;font-weight: 600;font-size: 15px;"><b>Properties</b></td></tr>
            <tr>
                <td style="width:60%; padding: 27px;">
                    <div style="font-size:13px;">Close on overlay click</div>
                </td>
                <td>
                    <EjsCheckBox @ref="CheckboxObj" Checked="false"></EjsCheckBox>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    #target {
        max-height: 800px;
        height: 100%;
    }
</style>

@code {
    EjsDialog DialogObj;
    EjsCheckBox CheckboxObj;

    private ButtonModel DialogBtn = new ButtonModel
    {
        Content = "OK",
        IsPrimary = true
    };

    private void OnBtnClick()
    {
        this.DialogObj.Show();
    }

    private void DlgButtonClick()
    {
        this.DialogObj.Hide();
    }

    private void OverlayClick(Object args)
    {
        if ((bool)this.CheckboxObj.Checked)
        {
            this.DialogObj.Hide();
        }
        else
        {
            this.DialogObj.Show();
        }
    }
}