@page "/ComboBox/Keyboard-Navigation"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the keyboard functionalities of Blazor ComboBox component. Use keyboard shortcuts to interact with ComboBox.</p>
</SampleDescription>
<ActionDescription>
    <p>The ComboBox supports the following keyboard shortcuts to initiate various actions.</p>

    <b>Focus</b>
    <ul>
        <li>
            <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
            <span> - Focuses on the first component of the sample.</span>
        </li>
    </ul>

    <b>Input Navigation</b>
    <ul>
        <li>
            <span class="key-class"><kbd>Alt</kbd> + <kbd>Down arrow</kbd></span>
            <span> - Opens the popup list.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Alt</kbd> + <kbd>Up arrow</kbd></span>
            <span> - Closes the popup list.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Home</kbd></span>
            <span> - Cursor moves before the first character in the input.</span>
        </li>
        <li>
            <span class="key-class"><kbd>End</kbd></span>
            <span> - Cursor moves next to the last character in the input.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Tab</kbd></span>
            <span>
                - Focuses on the next Tab Index element on the page.
            </span>
        </li>
        <li>
            <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
            <span>
                - Focuses on the previous Tab Index element on the page.
            </span>
        </li>
    </ul>

    <b>Selection</b>
    <ul>
        <li>
            <span class="key-class"><kbd>Enter</kbd></span>
            <span> - Selects the focused item, and when it is in an open state the popup list closes.</span>
        </li>
    </ul>

    <b>Popup Navigation</b>
    <ul>
        <li>
            <span class="key-class"><kbd>Down arrow</kbd></span>
            <span>
                - Selects the first item in the ComboBox when no item is
                selected. Otherwise, selects the item next to the currently selected item.
            </span>
        </li>
        <li>
            <span class="key-class"><kbd>Up arrow</kbd></span>
            <span> - Selects the item previous to the currently selected one.</span>
        </li>
        <li>
            <span class="key-class"><kbd>Page down</kbd></span>
            <span>
                - Scrolls down to the next page and selects the first item
                when the popup list opens.
            </span>
        </li>
        <li>
            <span class="key-class"><kbd>Page up</kbd></span>
            <span>
                - Scrolls up to the previous page and select the first item
                when the popup list opens.
            </span>
        </li>
        <li>
            <span class="key-class"><kbd>Esc</kbd></span>
            <span>
                - Closes the popup list when it is in an open state and the
                currently selected item remains the same.
            </span>
        </li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Select a color</label>
        <SfComboBox TValue="int" TItem="Colors" Placeholder="e.g. Dark Orange" DataSource="@ColorsData"
                    PopupHeight="230px" @bind-Value="@ColorValue" AllowFiltering="true">
            <ComboBoxFieldSettings Text="Color" Value="Code" />
        </SfComboBox>
    </div>
</div>

@code {
    
    public int ColorValue { get; set; } = 1;

    public class Colors
    {
        public int Code { get; set; }
        public string Color { get; set; }
    }

    public List<Colors> ColorsData = new List<Colors>()
{
    new Colors() { Color = "Chocolate", Code = 1 },
    new Colors() { Color = "Cadet Blue", Code = 2 },
    new Colors() { Color = "Dark Orange", Code = 3 },
    new Colors() { Color = "Dark Red", Code = 4},
    new Colors() { Color = "Fuchsia", Code = 5 },
    new Colors() { Color = "Hot Pink", Code = 6 },
    new Colors() { Color = "Indigo", Code = 7 },
    new Colors() { Color = "Lime Green", Code = 8 },
    new Colors() { Color = "Orange Red", Code = 9 },
    new Colors() { Color = "Tomato", Code = 10 },
    new Colors() { Color = "Brown", Code = 11 },
    new Colors() { Color = "Maroon", Code = 12 },
    new Colors() { Color = "Green", Code = 13 },
    new Colors() { Color = "Pink", Code = 14 },
    new Colors() { Color = "Purple", Code = 15 }
    };
}

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .description {
        margin: 4px;
    }

    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>