@page "/ComboBox/Multi-Column"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the Multicolumn ComboBox. Click/focus and type the character in the ComboBox to select an item from the multicolumn data.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The ComboBox has an option to display the data in a multicolumn layout like grid view using the following templates.
        <ul>
            <li><a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.ComboBoxTemplates-1.html#Syncfusion_Blazor_DropDowns_ComboBoxTemplates_1_HeaderTemplate' target='_blank' aria-label="Class reference of HeaderTemplate in ComboBox"> HeaderTemplate</a> - Displays the column names in the grid layout header.</li>
            <li><a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.ComboBoxTemplates-1.html#Syncfusion_Blazor_DropDowns_ComboBoxTemplates_1_ItemTemplate' target='_blank' aria-label="Class reference of ItemTemplate in ComboBox"> ItemTemplate</a> - Binds the data value by row wise in table view.</li>
        </ul>
    </p>
    <p>The ComboBox provided the multicolumn style class in the built-in Syncfusion Blazor theme files. You should give the multicolumn root class name <code>e-multi-column</code> in the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfDropDownList-2.html#Syncfusion_Blazor_DropDowns_SfDropDownList_2_CssClass' target='_blank' aria-label="Class reference of CssClass property in ComboxBox"> CssClass</a> property.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Select an employee</label>
        <SfComboBox TValue="string" TItem="EmployeeData" Placeholder="e.g. Andrew Fuller" CssClass="e-multi-column" AllowFiltering="true" DataSource="@Data" PopupHeight="300px">
            <ComboBoxTemplates TItem="EmployeeData">
                <HeaderTemplate>
                    <table><tr><th class="e-text-center column-width">Emp ID</th><th>First Name</th><th>Designation</th></tr></table>
                </HeaderTemplate>
                <ItemTemplate>
                    <table><tbody><tr><td class="e-text-center column-width">@((context as EmployeeData).EmployeeID)</td><td>@((context as EmployeeData).FirstName)</td><td>@((context as EmployeeData).Designation)</td></tr> </tbody></table>
                </ItemTemplate>
            </ComboBoxTemplates>
            <ComboBoxFieldSettings Text="FirstName" Value="EmployeeID" />
        </SfComboBox>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    @@media (max-width: 900px) {
        .control-wrapper {
            width: 300px;
        }
    }

    .column-width {
        width: 75px;
    }
</style>

@code{

    
    Type models = typeof(EmployeeData);

    public class EmployeeData
    {
        public string FirstName { get; set; }
        public string EmployeeID { get; set; }
        public string Designation { get; set; }
        public string Country { get; set; }
    }

    List<EmployeeData> Data = new List<EmployeeData>
{
        new EmployeeData() { FirstName = "Andrew Fuller", EmployeeID = "1", Designation = "Team Lead", Country = "England"  },
        new EmployeeData() { FirstName = "Anne Dodsworth", EmployeeID = "2", Designation = "Developer", Country = "USA" },
        new EmployeeData() { FirstName = "Janet Leverling", EmployeeID = "3", Designation = "HR", Country = "USA" },
        new EmployeeData() { FirstName = "Laura Callahan", EmployeeID = "4", Designation = "Product Manager", Country = "USA" },
        new EmployeeData() { FirstName = "Margaret Peacock", EmployeeID = "5", Designation = "Developer", Country = "USA" },
        new EmployeeData() { FirstName = "Michael Suyama", EmployeeID = "6", Designation = "Team Lead", Country = "USA"  },
        new EmployeeData() { FirstName = "Nancy Davolio", EmployeeID = "7", Designation = "Product Manager", Country = "USA" },
        new EmployeeData() { FirstName = "Robert King", EmployeeID = "8", Designation = "Developer ", Country = "England"  },
        new EmployeeData() { FirstName = "Steven Buchanan", EmployeeID = "9", Designation = "CEO", Country = "England" }
    };
}


