@page "/datagrid/column-resize"

@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_ordersdetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how the DataGrid renders columns with a specified width and how to use the column resizing feature. To resize a column, click and drag the right edge of the column header.</p>
</SampleDescription>
<ActionDescription>
    <p>By default, if the total width of the columns is less than the DataGrid width, the columns will automatically expand to fill the available space. Setting the DataGrid <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AutoFit' aria-label="Navigate to the AutoFit property reference for DataGrid component">AutoFit</a> feature to  <b>true</b> ensures that columns do not exceed their specified width.</p>
    <p>Columns in the Blazor DataGrid can be resized by clicking and dragging the right corner of the column header. Set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AllowResizing' aria-label="Navigate to the AllowResizing property reference for DataGrid component">AllowResizing</a> property to <b>true</b> to enable column resizing. You can also prevent a specific column from being resized by setting the <code>AllowResizing</code> property to <b>false</b> in the column definition. Furthermore, when the right corner of a column header is right clicked, the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AutoFitColumnsAsync' aria-label="Navigate to the AutoFitColumnsAsync method reference for DataGrid component">AutoFitColumnsAsync</a> method will automatically adjust the column width.</p>
    <p>The resizing feature has been enabled in this demo by setting the <code>AllowResizing</code> property to <b>true</b>. The <b>Order ID</b> column can be resized between the range of <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridColumn.html#Syncfusion_Blazor_Grids_GridColumn_MinWidth' aria-label="Navigate to the MinWidth property reference for Grid column">MinWidth</a> of <b>120px</b> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridColumn.html#Syncfusion_Blazor_Grids_GridColumn_MaxWidth' aria-label="Navigate to the MaxWidth property reference for Grid column">MaxWidth</a> of <b>300px</b>. Column resizing has also been disabled for the <b>Shipped Date</b> column.</p>
    <p>More information about the column Resizing feature can be found in the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/column-resizing' aria-label="Navigate to the documentation for column resizing in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" Height="400" AllowResizing="true" AutoFit="true" EnableHover="false">
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  MinWidth="120" Width="150" MaxWidth="300"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" MinWidth="8" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"  MinWidth="8" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShippedDate) HeaderText="Shipped Date" AllowResizing="false" Width="150" Format="d" TextAlign="TextAlign.Right"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" MinWidth="8" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<OrdersDetails> GridData { get; set; }

    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}
