@page "/datagrid/context-menu"

@using Syncfusion.Blazor.Grids
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
   <p>This example shows how to use the context menu in the DataGrid component. To access the context menu, right-click anywhere on the DataGrid.</p>
</SampleDescription>
<ActionDescription>
    <p>When you right-click on the Blazor DataGrid, you can choose to display the context menu. To configure the items in the context menu, set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_ContextMenuItems' aria-label="Navigate to the ContextMenuItems property reference for DataGrid component">ContextMenuItems</a> property to either default or custom. Each item will be displayed in accordance with its target. The following are the default context menu items:</p>
    <ul>
        <li><strong>Edit</strong> - Edit the current record.</li>
        <li><strong>Delete</strong> - Delete the current record.</li>
        <li><strong>Save</strong> - Save the edited record.</li>
        <li><strong>Cancel</strong> - Cancel the edited state.</li>
        <li><strong>Copy</strong> - Copy the selected records.</li>
        <li><strong>PdfExport</strong> - Export the DataGrid as PDF file format.</li>
        <li><strong>ExcelExport</strong> - Export the DataGrid as Excel file format.</li>
        <li><strong>CsvExport</strong> - Export the DataGrid as CSV file format.</li>
        <li><strong>SortAscending</strong> - Sort the current column in ascending order.</li>
        <li><strong>SortDescending</strong> - Sort the current column in descending order.</li>
        <li><strong>FirstPage</strong> - Go to the first page.</li>
        <li><strong>PrevPage</strong> - Go to the previous page.</li>
        <li><strong>LastPage</strong> - Go to the last page.</li>
        <li><strong>NextPage</strong> - Go to the next page.</li>
    </ul>
    <p>The context menu feature is enabled in this demo by setting the <code>ContextMenuItems</code> property to the default items.</p>
    <p>More information about the Context menu feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/context-menu' aria-label="Navigate to the documentation for context-menu in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowSorting="true" AllowExcelExport="true" AllowPdfExport="true" ContextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "Edit", "Delete", "Save", "Cancel","PdfExport", "ExcelExport", "CsvExport", "FirstPage", "PrevPage","LastPage", "NextPage"})" AllowPaging="true">
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  IsPrimaryKey="true" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" EditType="EditType.DropDownEdit" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" EditType="EditType.DatePickerEdit" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="160"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) EditType="EditType.NumericEdit" Format="C2" ValidationRules="@(new ValidationRules{ Required=true, Range = new object[]{1, 1000}})" TextAlign="TextAlign.Right"  Width="200" MinWidth="100"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" EditType="EditType.DropDownEdit" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<OrdersDetails> GridData { get; set; }


    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}