@page "/datagrid/default-functionalities"

@using Syncfusion.Blazor.Grids
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the DataGrid's default rendering with minimal configuration.</p>
</SampleDescription>
<ActionDescription>
    <p>The Blazor DataGrid is used to display and manipulate tabular data, and it includes configuration options for controlling how the data is presented and manipulated. It can read data from data sources such as IEnumerable, OData web services, or <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html' aria-label="Navigate to the class reference for SfDataManager">SfDataManager</a> and bind data fields to columns. It also shows a column header to identify the field and supports grouped records.</p>
    <p>In this demonstration, the DataGrid is filled with its bare minimum of default settings.</p>
    <p>Refer to the Getting Started with <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/getting-started' aria-label="Navigate to the documentation for getting started with Blazor DataGrid component.">Blazor Server-Side DataGrid</a> and <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/how-to/blazor-webassembly-datagrid-using-visual-studio' aria-label="Documentation for Blazor DataGrid Component in WebAssembly App using Visual Studio">Blazor WebAssembly DataGrid</a> documentation pages for configuration specifications. </p>
 </ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowPaging="true" >
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<OrdersDetails> GridData { get; set; }


    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}