@page "/datagrid/default-scrolling"

@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_ordersdetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the DataGrid component with horizontal and vertical scrollbars for viewing content that exceeds the container dimensions.</p>
  
  <p>The Blazor DataGrid displays scrollbars automatically when content exceeds the available space. Scrollbar visibility is determined as follows:</p>
  <ul>
    <li>The vertical scrollbar appears when the total height of DataGrid rows exceeds the element height.</li>
    <li>The horizontal scrollbar appears when the total width of DataGrid columns exceeds the element width.</li>
  </ul>
  
  <p>Use the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_Height' aria-label="Navigate to the Height property reference for DataGrid component">Height</a> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_Width' aria-label="Navigate to the Width property reference for DataGrid component">Width</a> properties to specify the DataGrid dimensions. These properties accept numeric values, pixel (px), or percentage (%) formats.</p>
  
  <p>In this demo, the DataGrid's <strong>Height</strong> is set to <strong>410</strong> and <strong>Width</strong> is set to <strong>auto</strong>.</p>
  
  <p>For more detailed information about scrolling, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/scrolling' aria-label="Navigate to the documentation for scrolling in DataGrid component">scrolling documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid DataSource="@GridData" Height="410" Width="auto">
                    <GridColumns>
                        <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShippedDate) HeaderText="Shipped Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="140"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipName) HeaderText="Ship Name" Width="170"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipAddress) HeaderText="Ship Address" Width="320"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipCity) HeaderText="Ship City" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>

 @code{

    public List<OrdersDetails>? GridData { get; set; }


    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}