@page "/datagrid/filter-menu"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
   <p>This sample shows how to use the Menu filter UI to filter DataGrid columns. In this example, click the filtering icon in the column header to display the filter UI for a specific column.</p> 
</SampleDescription>
<ActionDescription>
    <p>The Blazor DataGrid filtering feature allows users to view fewer records based on the filter criteria. Filtering can be enabled by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AllowFiltering' aria-label="Navigate to the AllowFiltering property reference for DataGrid component">AllowFiltering</a> property to <b>true</b>.</p>
  <p>The following filter types are supported by DataGrid:</p>
  <ul><li><strong>Filterbar</strong></li>
      <li><strong>Menu</strong></li>
      <li><strong>Checkbox</strong></li>
      <li><strong>Excel</strong></li>
  </ul>
    <p>The <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridFilterSettings.html' aria-label="Navigate to the class reference for GridFilterSettings">GridFilterSettings</a> component's <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridFilterSettings.html#Syncfusion_Blazor_Grids_GridFilterSettings_Type' aria-label="Navigate to the Type property reference for Grid filter settings">Type</a> property allows you to change the filter type.</p>
    <p>More information about the Filtering feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/filter-menu' aria-label="Navigate to the documentation for filter menu in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowFiltering="true" AllowPaging="true">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageCount="5"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(Orders.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Orders.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Orders.Freight) TextAlign="TextAlign.Right" Width="120" Format="C2"></GridColumn>
                    <GridColumn Field=@nameof(Orders.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.DateOnly" TextAlign="TextAlign.Right" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Orders.OrderTime) HeaderText="Order Time" Type="ColumnType.TimeOnly" TextAlign="TextAlign.Right" Width="160"></GridColumn>
                    <GridColumn Field=@nameof(Orders.ShipCity) HeaderText="Ship City" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<Orders> GridData { get; set; }
    

    public class FilterType
    {
        public string id { get; set; }
        
        public string type { get; set; }
    }

    protected override void OnInitialized()
    {
        
        GridData = Orders.GetAllRecords();
    }
}