@page "/datagrid/fixed-column"

@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_ordersdetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the DataGrid with the fixed column feature. The <b>OrderID</b> and <b>OrderDate</b> columns are fixed as the first and second columns of the grid and cannot be reorderd or grouped.</p>
</SampleDescription>
<ActionDescription>
    <p>The DataGrid allows you to fix columns of the grid using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridColumn.html#Syncfusion_Blazor_Grids_GridColumn_FixedColumn' aria-label="Navigate to the FixedColumn property reference for Grid column">FixedColumn</a> property of the <a target='_blank' href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridColumn.html">GridColumn</a>. Set this property to <b>true</b> for the columns that need to be frozen.</p>
    <p>In this demo, the <b>OrderID</b> and <b>OrderDate</b> columns are fixed. Due to the <code>FixedColumn</code> feature, these columns cannot be reordered or grouped.</p>
    <p>Multiple columns can be fixed, and they will appear in the order they are defined in the column collection.</p>
    <p>For more information about the Fixed Column feature, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/columns#fixed-columns' aria-label="Navigate to the documentation for Fixed Columns in Blazor DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowPaging="true" AllowGrouping="true" AllowReordering="true">
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" FixedColumn="true" TextAlign="TextAlign.Right" IsPrimaryKey="true" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" FixedColumn="true" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCity) HeaderText="Ship City" Width="100"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {

    public List<OrdersDetails> GridData { get; set; }


    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}