@page "/datagrid/frozenlinemoving"

@* @using Syncfusion.Blazor.Grids
@using BlazorDemos
@using blazor_griddata

@inherits SampleBaseComponent;
@*Hidden:Lines*@@*
@inject NavigationManager NavigationManager


@*End:Hidden*@@*

<ActionDescription>
<p>This sample demonstrates how to dynamically add or remove frozen columns by moving the frozen line to the desired column position.</p>
  
  <p>The Blazor DataGrid frozen line dragging feature enables efficient management of which columns remain visible during scrolling. Enable this feature by setting the <strong>AllowFrozenLineMoving</strong> property to <strong>true</strong>.</p>
  
  <p>This demo shows how to modify frozen column assignments by moving the frozen line between columns within the grid viewport. As you drag the frozen line:</p>
  <ul>
    <li>A helper frozen line indicator displays the target position</li>
    <li>Frozen column assignments are updated when the line is released</li>
    <li>All columns to the left of the frozen line remain visible during horizontal scrolling</li>
  </ul>
  
  <p>This provides an intuitive way to adjust which columns remain frozen as your data viewing requirements change.</p>
  
  <p>For more information about frozen column management, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/scrolling' aria-label="Navigate to the documentation for scrolling in DataGrid component">scrolling documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" Height=500 AllowFreezeLineMoving=true EnableHover=false>
                <GridColumns>
                    <GridColumn Field=@nameof(OrderDetails.OrderID) HeaderText="Order ID" Freeze=FreezeDirection.Left IsFrozen=true TextAlign="TextAlign.Right" Width="170"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.CustomerID) HeaderText="Customer ID" Width="200"></GridColumn>
					<GridColumn Field=@nameof(OrderDetails.EmployeeID) TextAlign="TextAlign.Right" ></GridColumn>
					<GridColumn Field=@nameof(OrderDetails.ShipCity) Width="180"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="160"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.Freight) Format="C2" TextAlign="TextAlign.Right" ></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.AdvanceAmount) Format="C2" Width=200 TextAlign="TextAlign.Right" ></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.TotalAmount) Format="C2" Width=200 TextAlign="TextAlign.Right" ></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.PhoneNumber) Width=300 TextAlign="TextAlign.Right" ></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
					<GridColumn Field=@nameof(OrderDetails.ShippedDate) Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="160"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.ShipName) HeaderText="Ship Name" Width="170"></GridColumn>
					<GridColumn Field=@nameof(OrderDetails.ShipAddress) Width="150" IsFrozen=true Freeze=FreezeDirection.Right></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{
    public List<OrderDetails> GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = OrderDetails.GetAllRecords();
    }
} *@
