@page "/datagrid/grouping"

@using Syncfusion.Blazor.Grids
@using BlazorDemos
@using blazor_inventordata
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
  <p>This sample demonstrates grouping feature of the DataGrid component. In this sample, the DataGrid data is grouped against <b>Customer ID</b> column. To group any other column, simply drag and drop the column header onto the group drop area.</p>  
</SampleDescription>

<ActionDescription>
    <p>The Blazor DataGrid control provides the ability to group records based on the required column. When grouping is used, grouped records are organised into a hierarchical structure to allow for easier record expansion and collapsing. Set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AllowGrouping' aria-label="Navigate to the AllowGrouping property reference for DataGrid component">AllowGrouping</a> property to <b>true</b> to enable grouping.</p>
   <p>The DataGrid in this demo is rendered with grouping enabled and is initially grouped by the <b>Customer ID</b> column. Columns can be grouped by dragging and dropping the column header onto the group drop area.</p>
    <p>More information about the Grouping feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/grouping' aria-label="Navigate to the documentation for grouping in DataGrid component">documentation</a> section.</p>
</ActionDescription>

    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid DataSource="@GridData" Height="400" AllowGrouping="true" AllowSorting="true" AllowPaging="true">
                    <GridGroupSettings Columns="@GroupedColumns"></GridGroupSettings>
                    <GridColumns>
                    <GridColumn Field=@nameof(Orders.OrderID) IsPrimaryKey="true" HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Orders.CustomerID) HeaderText="Customer ID" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(Orders.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.DateOnly" TextAlign="TextAlign.Right" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(Orders.OrderTime) HeaderText="Order Time" Type="ColumnType.TimeOnly" TextAlign="TextAlign.Right" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(Orders.Freight) Format="C2" TextAlign="TextAlign.Right" AllowGrouping=false Width="120"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>

@code{
    public string[] GroupedColumns = new string[] { "CustomerID" };

    public List<Orders> GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = Orders.GetAllRecords();
    }
}