@page "/datagrid/group-and-caption-aggregate"

@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_categorydata
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the DataGrid's aggregate functionality with group footer and group caption display options.</p>
  
  <p>The Blazor DataGrid supports aggregates displayed in the footer, group footer, and group caption sections. Configure aggregates using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridAggregates.html' aria-label="Navigate to the class reference for GridAggregates">GridAggregates</a> component.</p>
  
  <p>The built-in aggregate types are:</p>
  <ul>
    <li><strong>Sum</strong> - Calculates total sum</li>
    <li><strong>Average</strong> - Calculates average value</li>
    <li><strong>Min</strong> - Identifies minimum value</li>
    <li><strong>Max</strong> - Identifies maximum value</li>
    <li><strong>Count</strong> - Counts total records</li>
    <li><strong>TrueCount</strong> - Counts boolean true values</li>
    <li><strong>FalseCount</strong> - Counts boolean false values</li>
  </ul>
  
  <p>In this demo:</p>
  <ul>
    <li>The <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridAggregateColumn.html#Syncfusion_Blazor_Grids_GridAggregateColumn_GroupFooterTemplate' aria-label="Navigate to the GroupFooterTemplate property reference for GridAggregateColumn">GroupFooterTemplate</a> displays group footer aggregates for <strong>Units in Stock</strong> and <strong>Discontinued</strong> columns using Sum aggregate type</li>
    <li>The <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridAggregateColumn.html#Syncfusion_Blazor_Grids_GridAggregateColumn_GroupCaptionTemplate' aria-label="Navigate to the GroupCaptionTemplate property reference for GridAggregateColumn">GroupCaptionTemplate</a> displays group caption aggregates for <strong>Units in Stock</strong> column using Max aggregate type</li>
  </ul>
  
  <p>Configure aggregates by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridAggregateColumn.html#Syncfusion_Blazor_Grids_GridAggregateColumn_Type' aria-label="Navigate to the Type property reference for GridAggregateColumn">Type</a> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridAggregateColumn.html#Syncfusion_Blazor_Grids_GridAggregateColumn_Field' aria-label="Navigate to the Field property reference for GridAggregateColumn">Field</a> properties. Access aggregate values in templates using the Type name (e.g., <strong>SumValue.Sum</strong>) where the prefix is the implicit Context parameter.</p>
  
  <p>For more detailed information about group and caption aggregates, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/aggregates/#group-and-caption-aggregate' aria-label="Navigate to the documentation for Group and caption aggregate in DataGrid component">group and caption aggregate documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" Height="400" AllowPaging="true" AllowGrouping="true">
                <GridGroupSettings Columns=@GroupedColumn></GridGroupSettings>
                <GridPageSettings PageCount="5"></GridPageSettings>
                <GridAggregates>
                    <GridAggregate>
                        <GridAggregateColumns>
                            <GridAggregateColumn Field=@nameof(Category.UnitsInStock) Type="AggregateType.Sum">
                                <GroupFooterTemplate>
                                    @{
                                        var Unit = (context as AggregateTemplateContext);
                                        <div>
                                            Total units: @Unit?.Sum
                                        </div>
                                    }
                                </GroupFooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field=@nameof(Category.Discontinued) Type="AggregateType.TrueCount">
                                <GroupFooterTemplate>
                                    @{
                                        var Count = (context as AggregateTemplateContext);
                                        <div>
                                            Discontinued: @Count?.TrueCount
                                        </div>
                                    }
                                </GroupFooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field=@nameof(Category.UnitsInStock) Type="AggregateType.Max">
                                <GroupCaptionTemplate>
                                    @{
                                        var Maxcount = (context as AggregateTemplateContext);
                                        <div>
                                            Maximum: @Maxcount?.Max
                                        </div>
                                    }
                                </GroupCaptionTemplate>
                            </GridAggregateColumn>
                        </GridAggregateColumns>
                    </GridAggregate>
                </GridAggregates>
                <GridColumns>
                    <GridColumn Field=@nameof(Category.CategoryName) HeaderText="Category Name" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Category.ProductName) HeaderText="Product Name" Width="210"></GridColumn>
                    <GridColumn Field=@nameof(Category.QuantityPerUnit) HeaderText="Quantity per Unit"  Width="170"></GridColumn>
                    <GridColumn Field=@nameof(Category.UnitsInStock) HeaderText="Units in Stock" TextAlign="TextAlign.Right" Width="170"></GridColumn>
                    <GridColumn Field=@nameof(Category.Discontinued) HeaderText="Discontinued" Width="120" DisplayAsCheckBox=@true Type="ColumnType.Boolean" TextAlign="TextAlign.Center" ></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    private string[] GroupedColumn = new string[] { "CategoryName" };
    
    public List<Category>? GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = Category.GetAllRecords();
    }
}