@page "/datagrid/pager-dropdown"

@using Syncfusion.Blazor.Grids
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example shows how to use the DataGrid component's paging feature, which includes a pager dropdown option.</p> 
</SampleDescription>
<ActionDescription>
    <p>You can display the contents of the Blazor DataGrid in page segments by using the paging feature. Paging is disabled by default; to enable it, set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AllowPaging' aria-label="Navigate to the AllowPaging property reference for DataGrid component">AllowPaging</a> property to <b>true</b>.</p>
    <p>The <a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.Blazor.Grids.GridPageSettings.html' aria-label="Navigate to the class reference for GridPageSettings">GridPageSettings</a> component's <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridPageSettings.html#Syncfusion_Blazor_Grids_GridPageSettings_PageSizes' aria-label="Navigate to the PageSizes property reference for GridPageSettings">PageSizes</a> property enables a dropdown in pager that allows you to dynamically change the number of records displayed in the current page.</p>
    <p>DataGrid is rendered in this demo with paging and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridPageSettings.html#Syncfusion_Blazor_Grids_GridPageSettings_PageCount' aria-label="Navigate to the PageCount property reference for GridPageSettings">PageCount</a> set to 5. Also, <code>PageSizes</code> must be set to true in order for the pager dropdown to dynamically change the current page size.</p>
    <p>More information about the Pager feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/paging' aria-label="Navigate to the documentation for paging in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowPaging="true">
                <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>                   
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>

        </div>
    </div>
</div>

@code{

    public List<OrdersDetails> GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = OrdersDetails.GetAllRecords();
    }
}