@page "/datagrid/print"
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_ordersdetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the DataGrid print functionality for generating printable representations of grid data.</p>
  
  <p>The Blazor DataGrid provides print capabilities through the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_PrintAsync' aria-label="Navigate to the PrintAsync method reference for DataGrid component">PrintAsync</a> method. When printing:</p>
  <ul>
    <li>The pager is automatically removed from the printed output</li>
    <li>Scrollbars are hidden to provide clean printed content</li>
    <li>All pages are printed by default</li>
  </ul>
  
  <p>You can control the print behavior using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_PrintMode' aria-label="Navigate to the PrintMode property reference for DataGrid component">PrintMode</a> property:</p>
  <ul>
    <li><strong>AllPages</strong> - Prints all pages of the DataGrid (default)</li>
    <li><strong>CurrentPage</strong> - Prints only the currently visible page</li>
  </ul>
  
  <p>In this demo, click the toolbar button to trigger the print functionality. The DataGrid will prepare data for printing and open the browser's print dialog.</p>
  
  <p>For more detailed information about the print feature, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/print' aria-label="Navigate to the documentation for Print in DataGrid component">print documentation</a>.</p>
</ActionDescription>



<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowPaging="true" Toolbar="@(new List<string>() { "Print" })">
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"
                        Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150">
                    </GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d"
                        Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"
                        Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150">
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {
    public List<OrdersDetails>? GridData { get; set; }

    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}