@page "/datagrid/print"
@using Syncfusion.Blazor.Grids
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the DataGrid's print functionality. To print the DataGrid, click the toolbar button.
    </p>
</SampleDescription>

<ActionDescription>
    <p>The <a target='_blank'
               href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_PrintAsync' aria-label="Navigate to the PrintAsync method reference for DataGrid component">PrintAsync</a> method can be used to print the Blazor DataGrid. If the pager and scrollbar are enabled in DataGrid, they will be removed while printing. All pages are printed by default. Alternatively, you can simply print the current page by setting the <a target='_blank'
            href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_PrintMode' aria-label="Navigate to the PrintMode property reference for DataGrid component">PrintMode</a> property to CurrentPage.</p>
    <p>More information about the Print feature can be found in this <a target='_blank'
                                                                         href='https://blazor.syncfusion.com/documentation/datagrid/print' aria-label="Navigate to the documentation for Print in DataGrid component">documentation</a> section.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowPaging="true" Toolbar="@(new List<string>() { "Print" })">
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"
                        Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150">
                    </GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d"
                        Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"
                        Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150">
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {
    public List<OrdersDetails> GridData { get; set; }

    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}