@page "/datagrid/remote-data"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data

@*Hidden:Lines*@

@inherits SampleBaseComponent
@inject NavigationManager NavigationManager
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates how to bind remote service data to the DataGrid component.</p>
  
  <p>The Blazor DataGrid supports remote data binding through the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html' aria-label="Navigate to the class reference for DataManager">SfDataManager</a> component, which acts as an interface between the DataGrid and remote service endpoints.</p>
  
  <p>To configure remote data binding, the <code>SfDataManager</code> requires the following essential properties:</p>
  <ul>
    <li><a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Url' aria-label="Navigate to the Url property reference for Data manager component">Url</a> - The service endpoint from which data will be retrieved</li>
    <li><a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Adaptor' aria-label="Navigate to the Adaptor property reference for Data manager component">Adaptor</a> - Specifies the adaptor type for processing requests and responses</li>
  </ul>
  
  <p>Available adaptors in the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Data.html' aria-label="Navigate to the name space reference for Syncfusion.Blazor.Data">Syncfusion.Blazor.Data</a> namespace:</p>
  <ul>
    <li><strong>UrlAdaptor</strong> - Base adaptor for any remote service; foundation for all remote adaptors</li>
    <li><strong>ODataAdaptor</strong> - For interacting with OData endpoints</li>
    <li><strong>ODataV4Adaptor</strong> - For interacting with OData V4 endpoints</li>
    <li><strong>WebApiAdaptor</strong> - For Web APIs following OData standards</li>
  </ul>
  
  <p>In this demo, service data is bound to the DataGrid as an instance of <code>SfDataManager</code> with the appropriate adaptor configured.</p>
  
  <p>For more detailed information about remote data binding, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/data-binding/#remote-data' aria-label="Navigate to the documentation for Remote data binding in DataGrid component">remote data binding documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid AllowPaging="true"  TValue="OrdersDetails" >
                <SfDataManager Url="https://blazor.syncfusion.com/services/production/api/Orders/" CrossDomain="true" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                <GridPageSettings PageCount="5"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code
{
    public class OrdersDetails
    {
        public int? OrderID { get; set; }
        public string? CustomerID { get; set; }
        public int? EmployeeID { get; set; }
        public double? Freight { get; set; }
        public string? ShipCity { get; set; }
        public bool Verified { get; set; }
        public DateTime? OrderDate { get; set; }
        public string? ShipName { get; set; }
        public string? ShipCountry { get; set; }
        public DateTime? ShippedDate { get; set; }
        public string? ShipAddress { get; set; }
        public string? Email { get; set; }
    }
}