@page "/datagrid/remote-data"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data

@*Hidden:Lines*@

@inherits SampleBaseComponent
@inject NavigationManager NavigationManager
@*End:Hidden*@

<SampleDescription>
<p>This sample demonstrates the way of binding remote service data to DataGrid component.</p>
</SampleDescription>
<ActionDescription>
    <p>Data binding is supported by the Blazor DataGrid. DataGrid can be configured to bind remote data using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html' aria-label="Navigate to the class reference for DataManager">SfDataManager</a> component.</p>
   <p>To properly interact with the service endpoint, the <code>SfDataManager</code>, which will act as an interface between the service endpoint and the DataGrid, will require the following minimal information.</p>
   <ul>
        <li><a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Url' aria-label="Navigate to the Url property reference for Data manager component">Url</a> - Defines the service endpoint from which the data will be retrieved.</li>
        <li><a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Adaptor' aria-label="Navigate to the Adaptor property reference for Data manager component">Adaptor</a> - This option specifies the adaptor. For remote binding, here <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Data.WebApiAdaptor.html' aria-label="Navigate to the class reference for WebApiAdaptor">WebApiAdaptor</a> is used. Defines the adaptor option.</li>
    </ul>
    <p>The adaptor is in charge of processing responses and requests from and to the service endpoint. The namespace <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Data.html' aria-label="Navigate to the name space reference for Syncfusion.Blazor.Data">Syncfusion.Blazor.Data</a> includes some predefined adaptors that are intended to interact with specific service endpoints. The predefined adaptors are as follows:</p>
    <ul>
        <li><strong>UrlAdaptor</strong> - This can be used to interact with any remote service. This adaptor serves as the foundation for all remote-based adaptors.</li>
        <li><strong>ODataAdaptor</strong>- This is used to interact with OData endpoints.</li>
        <li><strong>ODataV4Adaptor</strong> - This is used to interact with OData v4 endpoints.</li>
        <li><strong>WebApiAdaptor</strong> - Use this to interact with Web APIs developed in accordance with OData standards.</li>
    </ul>
    <p>Remote data is bound in this demo by assigning service data as an instance of the <code>SfDataManager</code> component.</p>
    <p>More information about the Remote data binding feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/data-binding/#remote-data' aria-label="Navigate to the documentation for Remote data binding in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid AllowPaging="true"  TValue="OrdersDetails" >
                <SfDataManager Url="http://localhost:63028/api/Orders/" CrossDomain="true" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                <GridPageSettings PageCount="5"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code
{
    public class OrdersDetails
    {
        public int? OrderID { get; set; }
        public string? CustomerID { get; set; }
        public int? EmployeeID { get; set; }
        public double? Freight { get; set; }
        public string? ShipCity { get; set; }
        public bool Verified { get; set; }
        public DateTime? OrderDate { get; set; }
        public string? ShipName { get; set; }
        public string? ShipCountry { get; set; }
        public DateTime? ShippedDate { get; set; }
        public string? ShipAddress { get; set; }
        public string? Email { get; set; }
    }
}