@page "/datagrid/row-drag-and-drop"

@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_orderdetail
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example shows the DataGrid component with the row drag and drop functionality. To move rows, drag and drop them between DataGrids.</p>
</SampleDescription>
<ActionDescription>
    <p>Blazor DataGrid rows can be dragged and dropped to another DataGrid by enabling <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AllowRowDragAndDrop' aria-label="Navigate to the AllowRowDragAndDrop property reference for DataGrid component">AllowRowDragAndDrop</a> property. The target control on which the DataGrid rows have to be dropped can be set by using <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridRowDropSettings.html#Syncfusion_Blazor_Grids_GridRowDropSettings_TargetID' aria-label="Navigate to the TargetID property reference for GridRowDropSettings">TargetID</a> property of the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridRowDropSettings.html' aria-label="Navigate to the class reference for GridRowDropSettings">GridRowDropSettings</a> component.</p>
    <p>By default, the <a target="_blank" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridRowDropSettings.html#Syncfusion_Blazor_Grids_GridRowDropSettings_AllowEmptyAreaDrop' aria-label="Navigate to the AllowEmptyAreaDrop API reference for DataGrid component"> AllowEmptyAreaDrop </a>property is enabled, allowing users to drop records into empty areas of the target DataGrid. This enhances the flexibility and usability of the drag-and-drop feature.</p>
    <p>To select the rows in this demo, the selection feature should be enabled. Multiple rows can be selected within the DataGrid by simply clicking and dragging them. Row dragging and dropping is enabled in both DataGrids. Drag and drop rows between DataGrids by selecting rows and dragging to the adjacent DataGrid or by utilizing the drag icon.</p>
    <p>Rearrange rows within the same grid by dragging and dropping them, with the drag icon located on the left side of the grid column.</p>
    <p>More information about the Row drag and drop feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/row-drag-and-drop' aria-label="Navigate to the documentation for Row drag and drop in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-6 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid id="Grid" DataSource="@GridData" AllowRowDragAndDrop="true" AllowSelection="true" AllowPaging="true">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridPageSettings PageCount="1" PageSize="12"></GridPageSettings>
                <GridRowDropSettings TargetID="DestGrid"></GridRowDropSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrderDetail.OrderID) HeaderText="Order ID" IsPrimaryKey="true" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetail.CustomerID) HeaderText="Customer ID" Width="135"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetail.OrderDate) HeaderText="Order Date" Format="d" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

<div class="col-lg-1 control-section">
    <div class="content-wrapper">
        <div class="row">
        </div>
    </div>
</div>
<div class="col-lg-5 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid id="DestGrid" DataSource="@SecondGrid" AllowRowDragAndDrop="true" AllowSelection="true" AllowPaging="true" Height="350">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridPageSettings PageCount="1" PageSize="12"></GridPageSettings>
                <GridRowDropSettings TargetID="Grid"></GridRowDropSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrderDetail.OrderID) HeaderText="Order ID" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetail.CustomerID) HeaderText="Customer ID" Width="135"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetail.OrderDate) HeaderText="Order Date" Format="d" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<OrderDetail>? GridData { get; set; }

    public List<OrderDetail> SecondGrid { get; set; }  = new List<OrderDetail>();


    protected override void OnInitialized()
    {
        GridData = OrderDetail.GetAllRecords();
    }
}

 @*Hidden:Lines*@
<style>
    .material3 .e-rowdragdrop,
    .material3-dark .e-rowdragdrop,
    .material3 .e-rowdragdrop, .material-dark .e-rowdragdrop, .bootstrap4 .e-rowdragdrop, .fluent2 .e-rowdragdrop, .fluent2-dark .e-rowdragdrop{
        border-top-style: solid !important;
    }
</style>
  @*End:Hidden*@