@page "/datagrid/search"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_inventorDetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the DataGrid search functionality for quickly finding records.</p>
  
  <p>The Blazor DataGrid search feature enables users to find specific records using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_SearchAsync_System_String_' aria-label="Navigate to the SearchAsync method reference for DataGrid component">SearchAsync</a> method, which takes a search key as a parameter.</p>
  
  <p>In this demo:</p>
  <ul>
    <li>Use the toolbar search box to enter your search criteria</li>
    <li>Type the search key and click the search button or press <strong>Enter</strong></li>
    <li>The <code>SearchAsync</code> method is invoked to filter and display matching records</li>
  </ul>
  
  <p>The DataGrid also supports accent-insensitive searching by setting the <a target="_blank" rel="noopener" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridSearchSettings.html#Syncfusion_Blazor_Grids_GridSearchSettings_IgnoreAccent' aria-label="Navigate to the IgnoreAccent API reference for DataGrid component">IgnoreAccent</a> property to <strong>true</strong> in <a target="_blank" rel="noopener" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_SearchSettings' aria-label="Navigate to the SearchSettings API reference for DataGrid component">SearchSettings</a>. This enables searches to match characters regardless of accent marks or diacritics, improving search flexibility.</p>
  
  <p>For more detailed information about the search feature, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/searching' aria-label="Navigate to the documentation for searching in DataGrid component">search documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">

            <SfGrid DataSource="@GridData" Toolbar="@(new List<string>() { "Search" })" AllowPaging="true">
                <GridSearchSettings IgnoreAccent="true"></GridSearchSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(InventorDetails.Inventor) IsPrimaryKey="true" HeaderText="Inventor Name" Width="180"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.NumberofPatentFamilies) HeaderText="Number of Patent Families" TextAlign="TextAlign.Right" Width="195"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Country) HeaderText="Country" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Mainfieldsofinvention) HeaderText="Main Fields of Invention" Width="130"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<InventorDetails>? GridData { get; set; }

    protected override void OnInitialized()
    {
        GridData = InventorDetails.GetAllRecords();
    }
}