@page "/datagrid/search"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_inventorDetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> The DataGrid searching feature is demonstrated in this sample. In this example, search for data grid records using the toolbar's search box.</p>
</SampleDescription>
<ActionDescription>
    <p>You can search Blazor DataGrid content using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_SearchAsync_System_String_' aria-label="Navigate to the SearchAsync method reference for DataGrid component">SearchAsync</a> method which takes a search key as a parameter.</p>
    <p>In this demo, the DataGrid toolbar includes a search option for the DataGrid's records. To perform a search, the user can type the search key in the toolbar's text box and then click the search button or press the <b>Enter</b> key. To perform the search, the <code>SearchAsync</code> method will be invoked.</p>
    <p>Additionally, the DataGrid supports accent-insensitive searching by setting the <a target="_blank" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridSearchSettings.html#Syncfusion_Blazor_Grids_GridSearchSettings_IgnoreAccent' aria-label="Navigate to the IgnoreAccent API reference for DataGrid component">IgnoreAccent</a> property to <b>true</b> in <a target="_blank" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_SearchSettings' aria-label="Navigate to the SearchSettings API reference for DataGrid component">SearchSettings</a>, allowing searches to match characters regardless of accent marks or diacritics.</p>
    <p>More information about the Searching feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/searching' aria-label="Navigate to the documentation for searching in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">

            <SfGrid DataSource="@GridData" Toolbar="@(new List<string>() { "Search" })" AllowPaging="true">
                <GridSearchSettings IgnoreAccent="true"></GridSearchSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(InventorDetails.Inventor) IsPrimaryKey="true" HeaderText="Inventor Name" Width="180"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.NumberofPatentFamilies) HeaderText="Number of Patent Families" TextAlign="TextAlign.Right" Width="195"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Country) HeaderText="Country" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Mainfieldsofinvention) HeaderText="Main Fields of Invention" Width="130"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<InventorDetails> GridData { get; set; }

    protected override void OnInitialized()
    {
        GridData = InventorDetails.GetAllRecords();
    }
}