@page "/datagrid/selection-api"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@using BlazorDemos
@using blazor_inventordata
@inject NavigationManager NavigationManager


@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowSelection="true" AllowPaging="true">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridPageSettings PageCount="2"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(InventorDetails.Inventor) HeaderText="Inventor Name" IsPrimaryKey="true" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.NumberofPatentFamilies) HeaderText="No of Patent Families" Width="185" TextAlign="TextAlign.Right" ></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Country) Width="120"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Active) Width="130"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<InventorDetails> GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = InventorDetails.GetAllRecords();
    }
}
