@page "/datagrid/sorting"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example shows how to use the DataGrid's multi sorting feature. Hold down the Ctrl key and click the column header to sort two or more columns.</p>
</SampleDescription>
<ActionDescription>
    <p>The sorting feature of the Blazor DataGrid allows us to order the data in a specific direction. Set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AllowSorting' aria-label="Navigate to the AllowSorting property reference for DataGrid component">AllowSorting</a> property to <b>true</b> to enable it. Simply click the column header to sort a DataGrid column.</p>
   <p>Multi-sorting is enabled by default in DataGrid; to sort multiple columns, hold down the <strong> Ctrl</strong> key and click the column header. Hold the <strong> Shift</strong> key and click the column header to clear sorting for that column.</p>
   <p>To sort a specific column in this demo, simply click the column header.</p>
    <p>More information about the Multi sorting feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/sorting/#multi-column-sorting' aria-label="Navigate to the documentation for multi-column sorting in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@Orders"  AllowSorting="true" AllowPaging="true">
                <GridSortSettings>
                    <GridSortColumns>
                        <GridSortColumn Field="CustomerID" Direction="SortDirection.Ascending"></GridSortColumn>
                        <GridSortColumn Field="OrderDate" Direction="SortDirection.Descending"></GridSortColumn>
                    </GridSortColumns>
                </GridSortSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrderDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.Freight) Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<OrderDetails> Orders { get; set; }
    

    protected override void OnInitialized()
    {
        
        Orders = OrderDetails.GetAllRecords();
    }
   
}