@page "/datagrid/sorting"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_orderdetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the DataGrid multi-sorting feature for organizing data by multiple columns.</p>
  
  <p>The Blazor DataGrid sorting feature enables you to organize data in a specific order. To enable sorting, set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_AllowSorting' aria-label="Navigate to the AllowSorting property reference for DataGrid component">AllowSorting</a> property to <strong>true</strong>.</p>
  
  <p><strong>Single Column Sorting:</strong></p>
  <ul>
    <li>Click any column header to sort by that column</li>
    <li>Click again to toggle between ascending and descending order</li>
  </ul>
  
  <p><strong>Multi-Column Sorting:</strong></p>
  <ul>
    <li>Multi-sorting is enabled by default in the DataGrid</li>
    <li>Hold <strong>Ctrl</strong> and click column headers to sort by multiple columns</li>
    <li>The sort order is applied based on the sequence of clicks</li>
    <li>Hold <strong>Shift</strong> and click a column header to clear sorting for that column</li>
  </ul>
  
  <p>In this demo, simply click column headers to enable sorting. Use Ctrl+Click to add additional sort columns and organize your data by multiple criteria simultaneously.</p>
  
  <p>For more detailed information about multi-column sorting, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/sorting/#multi-column-sorting' aria-label="Navigate to the documentation for multi-column sorting in DataGrid component">multi-column sorting documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@Orders"  AllowSorting="true" AllowPaging="true">
                <GridSortSettings>
                    <GridSortColumns>
                        <GridSortColumn Field="CustomerID" Direction="SortDirection.Ascending"></GridSortColumn>
                        <GridSortColumn Field="OrderDate" Direction="SortDirection.Descending"></GridSortColumn>
                    </GridSortColumns>
                </GridSortSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrderDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrderDetails.Freight) Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<OrderDetails>? Orders { get; set; }
    

    protected override void OnInitialized()
    {
        
        Orders = OrderDetails.GetAllRecords();
    }
   
}