@page "/datagrid/sticky-header"

@using Syncfusion.Blazor.Grids
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
 <p>This sample shows the DataGrid component  with the sticky header feature. In this sample, while scrolling the demo page, the Grid header will be fixed at the top of its parent element.</p>   
</SampleDescription>
<ActionDescription>
    <p>The Grid headers can be fixed while scrolling its first scrollable parent element. It can be done by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_EnableStickyHeader' aria-label="Navigate to the EnableStickyHeader property reference for DataGrid component">EnableStickyHeader</a> property as <b>true</b></p>
    <p>More information about the Sticky Header feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/Scrolling' aria-label="Navigate to the documentation for Scrolling in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid DataSource="@GridData" Width="auto" EnableStickyHeader=true>
                    <GridColumns>
                        <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShippedDate) HeaderText="Shipped Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="140"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipName) HeaderText="Ship Name" Width="170"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipAddress) HeaderText="Ship Address" Width="320"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipCity) HeaderText="Ship City" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>

 @code{

    public List<OrdersDetails> GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = OrdersDetails.GetAllRecords();
    }
}