@page "/datagrid/virtual-mask-row"

@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_orderdatas
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

@*Hidden:Lines*@
<style>
    .bootstrap5-dark .e-grid.sf-grid .e-masked-cell.e-rowcell .e-virtualcell {
        background-color: #FFFFFF;
    }

    .highcontrast .e-grid.sf-grid .e-masked-cell.e-rowcell .e-virtualcell {
        background-color: #ffd939;
    }
</style>
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the DataGrid virtual mask row feature for displaying loading indicators during on-demand data loading.</p>
  
  <p>The Blazor DataGrid supports virtual mask rows, which display placeholder elements while new data is being loaded during vertical scrolling. This provides visual feedback to users that data is loading, improving perceived performance and user experience.</p>
  
  <p>The DataGrid virtualization renders only visible rows and columns in the viewport without buffering the entire datasource. Enable virtual mask rows by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_EnableVirtualMaskRow' aria-label="Navigate to the EnableVirtualMaskRow property reference for DataGrid component">EnableVirtualMaskRow</a> property to <strong>true</strong>.</p>
  
  <p>Optimize virtual scrolling performance using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_OverscanCount' aria-label="Navigate to the OverscanCount property reference for DataGrid component">OverscanCount</a> property, which renders additional items in the DOM before and after visible items (based on page size) during virtual scrolling and initial rendering. This reduces rendering frequency during scroll operations. In this demo, <code>OverscanCount</code> is set to 5.</p>
  
  <p>Key features:</p>
  <ul>
    <li>Virtual mask rows display while loading new data sets</li>
    <li>DOM elements are reused to improve performance</li>
    <li>OverscanCount reduces rendering operations during scrolling</li>
    <li>Provides smooth scrolling experience with large datasets</li>
  </ul>
  
  <p>Scroll vertically through the DataGrid to observe the virtual mask row loading indicators in action.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" Height="410" RowHeight="38" OverscanCount="5" EnableVirtualMaskRow="true" EnableVirtualization="true" >
                <GridPageSettings PageSize="30"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Order.OrderDate) HeaderText="Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(Order.Freight) Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Order.ShipName) HeaderText="Ship Name" Width="170"></GridColumn>
                   <GridColumn Field=@nameof(Order.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<Order>? GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = Order.GetAllRecords();
    }
}