.e-gantt-advanceFilter-sample {
    padding: 20px;
}

    .e-gantt-advanceFilter-sample .e-sidebar .title-header #close {
        cursor: pointer;
        line-height: 25px;
        font-size: 14px;
        float: right;
    }

    .e-gantt-advanceFilter-sample .material3 .e-close::before,
    .material3-dark .e-close::before,
    .material3 .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
    }

    .e-gantt-advanceFilter-sample .material .e-close::before,
    .material-dark .e-close::before,
    .material .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
    }

    .e-gantt-advanceFilter-sample .fabric .e-close::before,
    .fabric-dark .e-close::before,
    .highcontrast .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
    }

    .e-gantt-advanceFilter-sample .bootstrap .e-close::before,
    .bootstrap-dark .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
    }

    .e-gantt-advanceFilter-sample .bootstrap4 .e-close::before {
        content: '\e745';
        font-family: 'e-icons';
    }

    .e-gantt-advanceFilter-sample .bootstrap5 .e-close::before,
    .bootstrap5-dark .e-close::before,
    .fluent .e-close::before, .fluent-dark .e-close::before,
    .tailwind3 .e-close::before, .tailwind3-dark .e-close::before,
    .fluent2 .e-close::before, .fluent2-dark .e-close::before, .fluent2-highcontrast .e-close::before, .bootstrap5\.3 .e-close::before, .bootstrap5\.3-dark .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
    }

    .e-gantt-advanceFilter-sample .e-gantt-advance-filtering-title {
        font-weight: 500;
        line-height: 24px;
        font-size: 18px;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
    }

    .e-gantt-advanceFilter-sample .material3 .title,
    .fluent .title,
    .fluent2 .title,
    .bootstrap5 .title,
    .tailwind .title,
    .material3 .title-header,
    .fluent .title-header,
    .fluent2 .title-header,
    .bootstrap5 .title-header,
    .tailwind .title-header {
        background: #f3f2f1;
    }

    .e-gantt-advanceFilter-sample .material3-dark .title,
    .fluent-dark .title,
    .fluent2-dark .title,
    .bootstrap5-dark .title,
    .tailwind-dark .title,
    .highcontrast .title,
    .fluent2-highcontrast .title,
    .material3-dark .title-header,
    .fluent-dark .title-header,
    .fluent2-dark .title-header,
    .bootstrap5-dark .title-header,
    .tailwind-dark .title-header,
    .highcontrast .title-header,
    .fluent2-highcontrast .title-header {
        background: #0C0D0E;
    }

.e-bigger .e-gantt-advanceFilter-sample .e-gantt-advance-filtering-title {
    height: 48px;
}

.e-gantt-advancefiltering-reference-link {
    text-decoration: none !important;
}

.e-gantt-advancefiltering-reference-link:hover,
.e-gantt-advancefiltering-reference-link:focus {
    text-decoration: underline !important;
}
