.e-gantt-advanced-exporting-sample {
    padding: 20px;
}

    .e-gantt-advanced-exporting-sample .image {
        width: 100%;
        height: 22px;
    }

    .e-gantt-advanced-exporting-sample .e-left-label-inner-div {
        height: 22px;
    }

.e-bigger .e-gantt-advanced-exporting-sample .image {
    width: 32px;
    height: 32px;
}

.e-bigger .e-gantt-advanced-exporting-sample .e-left-label-inner-div {
    height: 32px;
}
.e-gantt-advanceexporting-reference-link {
    text-decoration: none !important;
}

.e-gantt-advanceexporting-reference-link:hover,
.e-gantt-advanceexporting-reference-link:focus {
     text-decoration: underline !important;
}

.e-padding-0 {
    padding: 0;
}

.e-margin-bottom-3 {
    margin-bottom: 16px;
}
.e-padding-right-0{
    padding-right: 0;
}

@@media (max-width: 768px) {
    .e-pdf-dialog {
        padding: 24px 16px !important;
    }

    .e-gantt-pdf-orientation {
        margin-bottom: 16px !important;
    }
}
@@media (max-width: 992px) {
    .e-padding-left-3 {
        padding-left: 0px !important;
    }

    .e-margin-bottom-3 {
        margin-bottom: 16px !important;
    }
}
@@media (min-width: 993px) {
    .e-padding-left-3 {
        padding: 16px;
    }

    .e-bigger .e-padding-left-3 {
        padding: 0px;
    }
}
