.e-gantt-advanced-exporting-sample {
    padding: 20px;
}

    .e-gantt-advanced-exporting-sample .image {
        width: 100%;
        height: 22px;
    }

    .e-gantt-advanced-exporting-sample .e-left-label-inner-div {
        height: 22px;
    }

.e-bigger .e-gantt-advanced-exporting-sample .image {
    width: 32px;
    height: 32px;
}

.e-bigger .e-gantt-advanced-exporting-sample .e-left-label-inner-div {
    height: 32px;
}
.e-gantt-advanceexporting-reference-link {
    text-decoration: none !important;
}

.e-gantt-advanceexporting-reference-link:hover,
.e-gantt-advanceexporting-reference-link:focus {
     text-decoration: underline !important;
}

.e-padding-0 {
    padding: 0;
}

.e-margin-bottom-3 {
    margin-bottom: 16px;
}
.e-padding-right-0{
    padding-right: 0;
}

@media (max-width: 768px) {
    .e-pdf-dialog {
        padding: 24px 16px !important;
    }

    .e-gantt-pdf-orientation {
        margin-bottom: 16px !important;
    }
}
@media (max-width: 992px) {
    .e-padding-left-3 {
        padding-left: 0px !important;
    }

    .e-margin-bottom-3 {
        margin-bottom: 16px !important;
    }
}
@media (min-width: 993px) {
    .e-padding-left-3 {
        padding: 16px;
    }

    .e-bigger .e-padding-left-3 {
        padding: 0px;
    }
}
.e-gantt-advanced-exporting-sample ::deep .taskbar-critical .e-gantt-child-taskbar {
    background: #FFCEF4 !important;
    outline: 1px solid #FFCEF4 !important;
}

.e-gantt-advanced-exporting-sample ::deep .progress-critical .e-gantt-child-progressbar {
    background: #B0008A !important;
}

.e-gantt-advanced-exporting-sample ::deep .taskbar-critical-dark .e-gantt-child-taskbar {
    background: #49043A !important;
    outline: 1px solid #49043A !important;
}

.e-gantt-advanced-exporting-sample ::deep .progress-critical-dark .e-gantt-child-progressbar {
    background: #AC0688 !important;
}

/* PDF dialog styling */
.e-gantt-advanced-exporting-sample ::deep #modal-pdf-dialog .e-dialog .e-dlg-content .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.e-gantt-advanced-exporting-sample ::deep #pdf-dialog.e-pdf-dialog {
    padding: 24px !important;
    width: 40% !important;
}

.e-gantt-advanced-exporting-sample ::deep #pdf-dialog .e-dlg-header-content {
    padding: 0px 7px !important;
    padding-bottom: 10px !important;
}

.e-gantt-advanced-exporting-sample ::deep #pdf-dialog .e-footer-content {
    padding: 0px 10px !important;
}

@media (max-width: 992px) {
    .e-gantt-advanced-exporting-sample ::deep #pdf-dialog.e-pdf-dialog {
        width: 60% !important;
    }

    .e-gantt-advanced-exporting-sample ::deep .e-padding-left-3 {
        padding-left: 0px !important;
    }
}

@media (max-width: 768px) {
    .e-gantt-advanced-exporting-sample ::deep #pdf-dialog.e-pdf-dialog {
        padding: 24px 16px !important;
        width: 80% !important;
    }

    .e-gantt-advanced-exporting-sample ::deep #pdf-dialog .e-footer-content {
        padding: 7px !important;
    }

        .e-gantt-advanced-exporting-sample ::deep #pdf-dialog .e-footer-content button {
            width: 100%;
            margin: 0 !important;
        }

            .e-gantt-advanced-exporting-sample ::deep #pdf-dialog .e-footer-content button.e-primary {
                margin-bottom: 11px !important;
            }

    .e-gantt-advanced-exporting-sample ::deep #modal-pdf-dialog .e-dlg-header-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .e-gantt-advanced-exporting-sample ::deep #modal-pdf-dialog .e-dlg-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .e-gantt-advanced-exporting-sample ::deep #modal-pdf-dialog .e-footer-content {
        padding: 0px !important;
    }
}
