.e-gantt-advanced-exporting-sample {
    padding: 20px;
}

    .e-gantt-advanced-exporting-sample .image {
        width: 100%;
        height: 22px;
    }

    .e-gantt-advanced-exporting-sample .e-left-label-inner-div {
        height: 22px;
    }

.e-bigger .e-gantt-advanced-exporting-sample .image {
    width: 32px;
    height: 32px;
}

.e-bigger .e-gantt-advanced-exporting-sample .e-left-label-inner-div {
    height: 32px;
}
.e-gantt-advanceexporting-reference-link {
    text-decoration: none !important;
}

.e-gantt-advanceexporting-reference-link:hover,
.e-gantt-advanceexporting-reference-link:focus {
     text-decoration: underline !important;
}
