.e-gantt-airline-sample {
    padding: 20px;
}

    .e-gantt-airline-sample .airline-filter-header-div {
        width: 100%;
        padding: 16px 25px;
        border-bottom: 1px solid #E0E0E0;
    }

    .e-gantt-airline-sample .airline-filter-header-tittle {
        width: fit-content;
        display: inline-block;
        margin: 0px;
    }

    .e-gantt-airline-sample .airline-filter-row-input {
        flex: 0 0 calc(17.12% - 8px);
        max-width: calc(17.12% - 8px);
        padding: 0px 8px;
    }


    .e-gantt-airline-sample .airline-filter-sidebar-input {
        width: 100%;
        margin: 10px 0px;
        padding: 0px 15px;
    }

    .e-gantt-airline-sample .airline-filter-btn {
        width: 100%;
        margin: 10px 0px;
        padding: 0px 15px;
        text-align: end;
    }

    .e-gantt-airline-sample .airline-filter-row label {
        font-weight: 500;
    }

    .e-gantt-airline-sample .airline-filter-row {
        padding: 10px;
        display: flex;
        margin: 0px;
    }

    .e-gantt-airline-sample .sidebar-airline-filter-row label {
        font-weight: 500;
    }

    .e-gantt-airline-sample .sidebar-airline-filter-row {
        padding: 10px;
        width: 80%;
        height: 100%;
    }

    .e-gantt-airline-sample .airline-filter-icon {
        padding: 14px 16px;
        margin: 4px 0px;
    }

    .e-gantt-airline-sample .e-gantt-parent-taskbar-inner-div, .e-gantt-child-taskbar-inner-div {
        height: 30px;
        border: none !important;
        border-radius: 2px !important;
        outline: none !important;
        margin-top: 6px !important;
    }

    .e-gantt-airline-sample .e-gantt-parent-progressbar-inner-div, .e-gantt-child-progressbar-inner-div {
        border-radius: 2px !important;
    }

    .e-gantt-airline-sample .airline-filter-icon {
        display: none;
    }

    .e-gantt-airline-sample .e-close::before {
        font-family: 'e-icons' !important;
        content: '\e7e7';
        font-size: 15px;
    }

    .e-gantt-airline-sample .material3 .e-close::before,
    .materia3l-dark .e-close::before,
    .material3 .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .material .e-close::before,
    .material-dark .e-close::before,
    .material .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .fabric .e-close::before,
    .fabric-dark .e-close::before,
    .highcontrast .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .bootstrap .e-close::before,
    .bootstrap-dark .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .bootstrap4 .e-close::before {
        content: '\e745';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .tailwind .e-close::before,
    .tailwind-dark .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .bootstrap5 .e-close::before,
    .bootstrap5-dark .e-close::before,
    .fluent .e-close::before, .fluent-dark .e-close::before,
    .tailwind .e-close::before, .tailwind-dark .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
        font-size: 15px;
    }

.e-gantt .e-gantt-chart .e-gantt-parent-progressbar-inner-div {
    border: none !important;
}

@media only screen and (max-width:992px) {

    .airline-filter-row {
        display: none !important;
    }

    .airline-filter-icon {
        display: block !important;
    }
}
.e-gantt-airlinetracker-reference-link {
    text-decoration: none !important;
}

.e-gantt-airlinetracker-reference-link:hover,
.e-gantt-airlinetracker-reference-link:focus {
    text-decoration: underline !important;
}