.e-gantt-airline-sample {
    padding: 20px;
}

    .e-gantt-airline-sample .airline-filter-header-div {
        width: 100%;
        padding: 16px 25px;
        border-bottom: 1px solid #E0E0E0;
    }

    .e-gantt-airline-sample .airline-filter-header-tittle {
        width: fit-content;
        display: inline-block;
        margin: 0px;
    }

    .e-gantt-airline-sample .airline-filter-row-input {
        flex: 0 0 calc(17.12% - 8px);
        max-width: calc(17.12% - 8px);
        padding: 0px 8px;
    }


    .e-gantt-airline-sample .airline-filter-sidebar-input {
        width: 100%;
        margin: 10px 0px;
        padding: 0px 15px;
    }

    .e-gantt-airline-sample .airline-filter-btn {
        width: 100%;
        margin: 10px 0px;
        padding: 0px 15px;
        text-align: end;
    }

    .e-gantt-airline-sample .airline-filter-row label {
        font-weight: 500;
    }

    .e-gantt-airline-sample .airline-filter-row {
        padding: 10px;
        display: flex;
        margin: 0px;
        width: 100% !important;
    }

    .e-gantt-airline-sample .sidebar-airline-filter-row label {
        font-weight: 500;
    }

    .e-gantt-airline-sample .sidebar-airline-filter-row {
        padding: 10px;
        width: 80%;
        height: 100%;
    }

    .e-gantt-airline-sample .airline-filter-icon {
        padding: 14px 16px;
        margin: 4px 0px;
    }

    .e-gantt-airline-sample .e-gantt-parent-taskbar-inner-div, .e-gantt-child-taskbar-inner-div {
        height: 30px;
        border: none !important;
        border-radius: 2px !important;
        outline: none !important;
        margin-top: 6px !important;
    }

    .e-gantt-airline-sample .e-gantt-parent-progressbar-inner-div, .e-gantt-child-progressbar-inner-div {
        border-radius: 2px !important;
    }

    .e-gantt-airline-sample .airline-filter-icon {
        display: none;
    }

    .e-gantt-airline-sample .e-close::before {
        font-family: 'e-icons' !important;
        content: '\e7e7';
        font-size: 15px;
    }

    .e-gantt-airline-sample .material3 .e-close::before,
    .materia3l-dark .e-close::before,
    .material3 .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .material .e-close::before,
    .material-dark .e-close::before,
    .material .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .fabric .e-close::before,
    .fabric-dark .e-close::before,
    .highcontrast .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .bootstrap .e-close::before,
    .bootstrap-dark .e-close::before {
        content: '\e7fc';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .bootstrap4 .e-close::before {
        content: '\e745';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .tailwind .e-close::before,
    .tailwind-dark .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
        font-size: 15px;
    }

    .e-gantt-airline-sample .bootstrap5 .e-close::before,
    .bootstrap5-dark .e-close::before,
    .fluent .e-close::before, .fluent-dark .e-close::before,
    .tailwind .e-close::before, .tailwind-dark .e-close::before {
        content: '\e7e7';
        font-family: 'e-icons';
        font-size: 15px;
    }

.e-gantt .e-gantt-chart .e-gantt-parent-progressbar-inner-div {
    border: none !important;
}

@media only screen and (max-width:992px) {

    .airline-filter-row {
        display: none !important;
    }

    .airline-filter-icon {
        display: block !important;
    }
}
.e-gantt-airlinetracker-reference-link {
    text-decoration: none !important;
}

.e-gantt-airlinetracker-reference-link:hover,
.e-gantt-airlinetracker-reference-link:focus {
    text-decoration: underline !important;
}

#syncfuction-gantt-chart .e-control-wrapper.e-slider-container.e-horizontal {
    height: 0px;
}

#syncfuction-gantt-chart .e-slider-container {
    padding-top: 30px;
}

#default-sidebar {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

    #default-sidebar .gantt-search-btn {
        padding: 6px 0px;
    }

    #default-sidebar .gantt-clear-btn {
        padding: 6px 0px;
    }

#syncfuction-gantt-chart .e-gantt-child-taskbar-bottom-label-left, .e-gantt-parent-taskbar-bottom-label-left {
    float: left;
}

#syncfuction-gantt-chart .e-gantt-child-taskbar-bottom-label, .e-gantt-parent-taskbar-bottom-label {
    font-weight: 600;
    font-size: 11px;
    padding: 13px 0px;
    width: 50%;
    display: inline-block;
}

#syncfuction-gantt-chart .e-gantt-child-taskbar-bottom-label-right, .e-gantt-parent-taskbar-bottom-label-right {
    float: right;
    text-align: end;
}

#syncfuction-gantt-chart .e-gantt-parent-taskbar-bottom-label {
    color: #0000FF;
}

#syncfuction-gantt-chart .e-gantt-chart-toolbar-template-header-td {
    padding: 6px 0px;
    text-align: center
}

    #syncfuction-gantt-chart .e-gantt-chart-toolbar-template-header-td span {
        font-size: 20px;
        font-weight: bold
    }

#syncfuction-gantt-chart .e-gantt-chart-toolbar-template-body-td {
    padding: 5px
}

#syncfuction-gantt-chart .e-gantt-chart-toolbar-template-div .row {
    margin: 0 !important;
}

#syncfuction-gantt-chart .e-gantt-chart-toolbar-template-body-div {
    display: inline-block;
}

#syncfuction-gantt-chart .e-gantt-chart-toolbar-template-body-content {
    display: block;
    font-weight: 600
}

.control-section {
    padding: 0px !important;
}

@media only screen and (max-width:1200px) {
    .airline-filter-row .e-gantt-filter-div {
        width: 50%;
    }
}

@media only screen and (max-width:992px) {

    .airline-filter-row {
        display: none !important;
    }

    .airline-filter-icon {
        display: block !important;
    }

    .container-fluid {
        padding: 0px !important;
    }

    .control-section {
        padding: 16px 0px !important;
        overflow-x: hidden;
    }
}


input.e-input.e-bigger, .e-bigger input.e-input, .e-input-group.e-bigger input.e-input, .e-input-group.e-control-wrapper.e-bigger input.e-input, .e-float-input.e-control-wrapper.e-bigger input, .e-float-input.e-control-wrapper input.e-bigger, .e-float-input.e-bigger input, .e-float-input input.e-bigger, .e-input-group input.e-input.e-bigger, .e-input-group.e-control-wrapper input.e-input.e-bigger, .e-bigger .e-float-input.e-control-wrapper input, .e-bigger .e-float-input input, .e-bigger .e-input-group.e-control-wrapper input.e-input, .e-bigger .e-input-group input.e-input, .e-input-group.e-bigger input.e-input:focus, .e-input-group.e-control-wrapper.e-bigger input.e-input:focus, .e-float-input.e-control-wrapper.e-bigger input:focus, .e-float-input.e-bigger input:focus, .e-bigger .e-input-group input.e-input:focus, .e-bigger .e-input-group.e-control-wrapper input.e-input:focus, .e-bigger .e-float-input.e-control-wrapper input:focus, .e-bigger .e-float-input input:focus, .e-input-group.e-bigger.e-input-focus input.e-input, .e-input-group.e-control-wrapper.e-bigger.e-input-focus input.e-input, .e-bigger .e-input-group.e-input-focus input.e-input, .e-bigger .e-input-group.e-control-wrapper.e-input-focus input.e-input, .e-float-input.e-control-wrapper.e-bigger.e-input-focus input, .e-float-input.e-bigger.e-input-focus input, .e-bigger .e-float-input.e-control-wrapper.e-input-focus input, .e-bigger .e-float-input.e-input-focus input {
    padding: 2px 9px !important;
}

.e-bigger .e-control.e-textbox.e-lib.e-input {
    min-height: 34px !important;
}