.e-gantt-baseline-sample {
    padding: 20px;
}

    .e-gantt-baseline-sample ::deep .e-toolbar {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-style: solid;
        border-width: 1px 1px 0;
    }

    .e-gantt-baseline-sample ::deep .material3 .e-gantt-toolbar-template,
    .e-gantt-baseline-sample ::deep .material3-dark .e-gantt-toolbar-template {
        padding: 7px;
    }

.e-gantt-baseline-reference-link {
    text-decoration: none !important;
}

    .e-gantt-baseline-reference-link:hover,
    .e-gantt-baseline-reference-link:focus {
        text-decoration: underline !important;
    }
