.e-gantt-column-menu-sample {
    padding: 20px;
}

.e-gantt-columnmenu-reference-link {
    text-decoration: none !important;
}

    .e-gantt-columnmenu-reference-link:hover,
    .e-gantt-columnmenu-reference-link:focus {
        text-decoration: underline !important;
    }
