.e-gantt-column-validation-sample {
    padding: 20px;
}
    .e-gantt-column-validation-sample ::deep label {
        margin-bottom: unset !important;
    }

    .e-gantt-column-validation-sample ::deep .e-custom-event-marker .e-span-label {
        top: 205px !important;
    }

    .e-gantt-column-validation-sample ::deep .e-custom-event-marker .e-gantt-right-arrow {
        top: 213px !important;
    }

    .e-gantt-columnvalidation-reference-link {
        text-decoration: none !important;
    }

    .e-gantt-columnvalidation-reference-link:hover,
    .e-gantt-columnvalidation-reference-link:focus {
        text-decoration: underline !important;
    }