.e-gantt-editing-sample {
    padding: 20px;
}

.e-gantt-editing-reference-link {
    text-decoration: none !important;
}

.e-gantt-editing-reference-link:hover,
.e-gantt-editing-reference-link:focus {
    text-decoration: underline !important;
}