.e-gantt-excel-filter-sample {
    padding: 20px;
}

    .e-gantt-excel-filter-sample ::deep .e-toolbar .e-toolbar-item > * {
        margin-right: 5px;
    }

.e-gantt-excelfiltering-reference-link {
    text-decoration: none !important;
}

    .e-gantt-excelfiltering-reference-link:hover,
    .e-gantt-excelfiltering-reference-link:focus {
        text-decoration: underline !important;
    }
