.e-gantt-responsive-sample {
    padding: 20px;
}

    .e-gantt-responsive-sample .e-switch-control {
        display: flex;
        align-items: center;
    }

    .e-gantt-responsive-sample .responsive-div {
        display: flex;
        justify-content: center;
        background: #e2dfdf70;
        flex-wrap: wrap;
    }

.e-bigger .e-gantt-responsive-sample .responsive-div {
    background: #e2dfdf70;
}

@media only screen and (max-width: 425px) {
    .e-gantt-responsive-sample .responsive-div {
        background: none !important;
    }

    .e-gantt-responsive-sample .e-switch-control {
        overflow: scroll !important;
    }
}

.e-gantt-responsive-reference-link {
    text-decoration: none !important;
}

    .e-gantt-responsive-reference-link:hover,
    .e-gantt-responsive-reference-link:focus {
        text-decoration: underline !important;
    }
