.e-gantt-header-template-sample {
    padding: 20px;
}

    .e-gantt-header-template-sample i {
        font-family: 'Gantt control icon' !important;
        speak: none;
        vertical-align: sub;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .e-gantt-header-template-sample .app-icon-calendar:before {
        content: "\e700";
    }

    .e-gantt-header-template-sample .app-icon-resource:before {
        content: "\e701";
    }

    .e-gantt-header-template-sample .app-icon-time:before {
        content: "\e702";
    }

    .e-gantt-header-template-sample .app-icon-job_title:before {
        content: "\e703";
    }

    .e-gantt-header-template-sample .app-icon-progress:before {
        content: "\e704";
    }

    .e-gantt-ganttheadertemplate-reference-link {
        text-decoration: none !important;
    }

    .e-gantt-ganttheadertemplate-reference-link:hover,
    .e-gantt-ganttheadertemplate-reference-link:focus {
        text-decoration: underline !important;
    }