.e-gantt-human-resource-sample {
    padding: 20px;
}

    .e-gantt-human-resource-sample ::deep td.e-agenda-cells.e-day-border {
        border-bottom: 0px !important;
    }

    .e-gantt-human-resource-sample .e-gantt-human-resource-toolbar {
        height: 70px;
        display: flex;
        align-items: center;
    }

    .e-gantt-human-resource-sample .e-human-resource-label {
        font-weight: 400;
        margin-bottom: 0px !important;
        margin-right: 2px;
    }

    .e-gantt-human-resource-sample .e-gantt-human-resource-use-case {
        height: 500px;
    }

    .e-gantt-human-resource-sample .e-gantt-progress-custom {
        display: flex;
        align-items: center;
    }

    .e-gantt-human-resource-sample .sf-grid-progress-inner {
        float: right;
        display: inline;
        font-size: 14px;
        padding: 4px 0px;
        margin-left: 18px;
    }

    .e-gantt-humanresourcemanagement-reference-link {
        text-decoration: none !important;
    }

    .e-gantt-humanresourcemanagement-reference-link:hover,
    .e-gantt-humanresourcemanagement-reference-link:focus {
        text-decoration: underline !important;
    }

    .e-gantt-human-resource-sample .sf-grid-progress-outer {
        float: left;
        display: inline-block;
        background: #E6E6E6;
        border-radius: 2px;
        width: 100px;
    }

    .e-gantt-human-resource-sample .e-gantt-human-resource-schedule {
        width: 25% !important;
        display: inline-block;
        float: right;
        padding-left: 10px;
    }

    .e-gantt-human-resource-sample .e-gantt-chart-human-resource {
        width: 75%;
        display: inline-block;
    }

@media only screen and (max-width:992px) {
    .e-gantt-human-resource-sample .e-gantt-chart-human-resource {
        width: 100% !important;
    }

    .e-gantt-human-resource-sample .e-gantt-human-resource-schedule {
        display: none !important;
        width: 0% !important;
    }


    #Gantt_Toolbar {
        padding: 5px 0px;
        display: inline !important;
    }

        #Gantt_Toolbar ::deep .e-toolbar-item.e-template {
            margin-left: 0px !important;
        }

    .e-gantt-human-resource-sample .sf-hr-header-container {
        background: rgba(var(--color-sf-primary));
    }

    .sf-hr-header-container h1 {
        font-size: 33px;
        padding: 10px;
        color: #fff;
    }

    .e-gantt-human-resource-sample .sf-gantt-chart-container {
        height: 55%
    }

    .e-gantt-human-resource-sample .sf-schedule-container {
        height: 36%;
    }

    .e-gantt-human-resource-sample .sf-hr-card-container {
        padding: 9px 20px 10px !important;
        background: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.08), rgba(var(--color-sf-primary), 0.08)), rgba(var(--color-sf-surface));
        border: 1px solid lightgray;
        margin: 0px !important;
    }

    .e-gantt-human-resource-sample .sf-hr-card-div {
        padding: 7px 11px 7px 21px !important
    }

    .e-gantt-human-resource-sample .sf-hr-card-btn {
        float: right;
        border-radius: 7px;
        background: rgba(var(--color-sf-primary));
        color: #fff;
        padding: 1px 11px;
        border: none;
    }

    .e-gantt-human-resource-sample .e-input-group.sf-hr-dropdown-list {
        border-radius: 3px;
    }

    .e-gantt-human-resource-sample .fluent2-highcontrast .e-rowcell.e-templatecell.e-active .sf-grid-progress-outer div {
        background-color: #000;
    }

    .e-gantt-human-resource-sample ::deep .e-gantt .e-gantt-chart .e-gantt-child-taskbar-inner-div,
    .e-gantt-human-resource-sample ::deep .e-gantt .e-gantt-chart .e-gantt-child-progressbar-inner-div {
        border-radius: 2px !important;
    }

    #Gantt_Toolbar {
        background: none !important;
        box-shadow: none !important;
    }

        #Gantt_Toolbar ::deep .e-toolbar-items {
            background: none !important;
        }

    @media only screen and (max-width:992px) {
        .e-gantt-human-resource-sample .e-gantt-chart-human-resource {
            width: 100%;
        }

        .e-gantt-human-resource-sample .e-gantt-human-resource-schedule {
            display: none !important;
        }
    }

    .e-gantt-human-resource-sample .e-schedule .e-agenda-view .e-day-border {
        border: none !important;
    }
}