@page "/gantt-chart/keyboard-navigation"

@using BlazorDemos.Pages.GanttChart.Data
@using Syncfusion.Blazor.Gantt

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates keyboard navigation and accessibility support in the <a class="e-gantt-keyboardnavigation-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                                                                         href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                                                                         target="_blank">Blazor Gantt Chart</a>.
        Every common interaction focusing cells, extending selections, editing tasks, and expanding or collapsing the hierarchy can be triggered through intuitive key combinations, enabling productivity without leaving the keyboard.
    </p>
    <p>
        The shortcuts are grouped below by intent. Experiment with each sequence to explore how focus, selection, edit dialogs, and structural commands respond in real time.
    </p>
    <ul>
        <li>
            <b>FOCUS </b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Moves the focus to the first cell of the focused row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Moves the focus to the last cell of the focused row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Home</kbd></span>
                    <span> - Moves the focus to the first Cell of the first row in our GanttChart component.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>End</kbd></span>
                    <span> - Moves the focus to the last cell of the last row in our GanttChart component.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the cell focus downward from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the cell focus upward from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the cell focus left side from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the cell focus right side from the focused cell.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>SELECTION</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Extends the row/cell selection downwards from the selected row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Extends the row/cell selection upwards from the selected row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Left arrow</kbd></span>
                    <span> - Extends the cell selection to the left side from the selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Right arrow</kbd></span>
                    <span> - Extends the cell selection to the right side from the selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection upward.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection downward.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection right side.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the cell focus/row or cell selection left side.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>EDITING</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Insert</kbd></span>
                    <span> -  Opens addRowDialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>F2</kbd></span>
                    <span> - Opens editRowDialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Del</kbd></span>
                    <span> - Deletes the currently selected record.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Insert</kbd></span>
                    <span> - Adds a new row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Saves the current form if the Mode is Normal or Dialog /  Saves the current cell.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>EXPANDCOLLAPSE</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Expands all tasks.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Collapses all tasks.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Collapses the selected row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Expands the selected row.</span>
                </li>
            </ul>
        </li>
    </ul>
    <p>
        For further details, refer to the
        <a class="e-gantt-keyboardnavigation-reference-link" aria-label="Navigate to the documentation for the Kayboard navigation in gantt chart component" target="_blank" href="https://blazor.syncfusion.com/documentation/gantt-chart/accessibility#keyboard-navigation">
            documentation</a>.
    </p>
</SampleDescription>

<div class="control-section e-gantt-keyboard-navigation-sample">
    <SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true"
			 ProjectStartDate="@(new DateTime(2021, 3, 24))" ProjectEndDate="@(new DateTime(2021, 7, 19))" TreeColumnIndex="1" ScrollToTaskbarOnClick="true">
		<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
						 Dependency="Predecessor" ParentID="ParentId"></GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="TaskId" Width="100"></GanttColumn>
			<GanttColumn Field="TaskName" HeaderText="Task Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
			<GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
			<GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
		</GanttColumns>
		<GanttEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GanttEditSettings>
		<GanttLabelSettings LeftLabel="TaskName" TValue="DefaultData.TaskData"> </GanttLabelSettings>
		<GanttSplitterSettings Position="38%"> </GanttSplitterSettings>
		<GanttSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GanttSelectionSettings>
	</SfGantt>
</div>

@code {
    public SfGantt<DefaultData.TaskData>? GanttInstance { get; set; }
	public List<DefaultData.TaskData> TaskCollection { get; set; } = new List<DefaultData.TaskData>();

	/// <summary>
	/// Initializes the Keyboard Navigation sample with default Gantt task data.
	/// </summary>
	protected override void OnInitialized()
	{
		TaskCollection = DefaultData.ProjectNewData();
        @*Hidden:Lines*@
        SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
        @*End:Hidden*@
	}
    @*Hidden:Lines*@
    private async void OnTouchMousePreferenceChanged()
    {
        await GanttInstance.RefreshAsync();
        await GanttInstance.CallStateHasChangedAsync();
    }

    public void Dispose()
    {
        SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
    }
    @*End:Hidden*@
}

<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-keyboard-navigation-sample {
		padding: 20px;
	}

	.key-class {
		display: inline-block;
		width: 240px;
	}

    .e-gantt-keyboardnavigation-reference-link {
        text-decoration: none !important;
    }

    .e-gantt-keyboardnavigation-reference-link:hover,
    .e-gantt-keyboardnavigation-reference-link:focus {
        text-decoration: underline !important;
    }
</style>