.e-gantt-load-on-demand-sample {
    padding: 20px;
}

.e-gantt-loadondemand-reference-link {
    text-decoration: none !important;
}

    .e-gantt-loadondemand-reference-link:hover,
    .e-gantt-loadondemand-reference-link:focus {
        text-decoration: underline !important;
    }
