.e-gantt-overview-sample {
    padding: 20px;
    height: 100vh;
}

    .e-gantt-overview-sample .e-task-label {
        display: inline-block;
        width: 100%;
        padding: 0 6px;
    }

    .e-gantt-overview-sample .header-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        width: 230px;
    }

    .e-gantt-overview-sample .labels {
        font-weight: 400;
        font-size: 14px;
    }

    .e-gantt-overview-sample .image {
        width: 100%;
        height: 28px;
    }

.e-bigger .e-gantt-overview-sample .image {
    width: 100%;
    height: 32px;
}

.e-gantt-overview-sample .e-right-label-inner-div {
    margin-top: 4px;
}

.e-gantt-overview-sample .progress-label {
    height: 100%;
    align-content: center;
}

    .e-gantt-overview-sample .progress-label .e-task-label {
        margin-left: 2px !important;
    }

.e-gantt-overview-sample .img-assignee-column {
    height: 24px;
    width: 24px;
}

.e-gantt-overview-sample .e-progress-inner {
    font-size: 12px;
    padding: 4px 0px;
    font-weight: 400;
    line-height: 16px;
}

.e-gantt-overview-sample .e-assigned-person {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
}

.e-gantt-overview-sample .e-assignee-image {
    width: 100%;
}

.e-gantt-overview-sample .assignee-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 16px;
}

.e-gantt-overview-sample .department-text-light {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}

.e-gantt-overview-sample .department-text-dark {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}

.e-gantt-overview-sample .e-budget-light {
    border: 1px solid #107C10;
    color: #107C10;
    border-radius: 4px;
    padding: 2px 8px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-budget-dark {
    border: 1px solid #218C21;
    color: #218C21;
    border-radius: 4px;
    padding: 2px 8px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-actualcost-light {
    border: 1px solid #C50F1F;
    color: #C50F1F;
    border-radius: 4px;
    padding: 2px 8px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-actualcost-dark {
    border: 1px solid #CC2635;
    color: #CC2635;
    border-radius: 4px;
    padding: 2px 8px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-progress-outer-light {
    background-color: #E6E6E6;
}

.e-gantt-overview-sample .e-progress-outer-dark {
    background-color: #333333;
}

.e-gantt-overview-sample .e-progress-bar-light {
    background-color: #0F6CBD;
    border-radius: 2px;
    height: 4px;
}

.e-gantt-overview-sample .e-progress-bar-dark {
    background-color: #115EA3;
    border-radius: 2px;
    height: 4px;
}

.e-gantt-overview-sample .e-status-container {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding: 2px 8px;
}

.e-gantt-overview-sample .e-status-completed-light {
    border: 1px solid #107C10;
    color: #107C10;
}

.e-gantt-overview-sample .e-status-completed-dark {
    border: 1px solid #218C21;
    color: #218C21;
}

.e-gantt-overview-sample .e-status-inprogress-light {
    border: 1px solid #31AFCC;
    color: #31AFCC;
}

.e-gantt-overview-sample .e-status-inprogress-dark {
    border: 1px solid #18A4C4;
    color: #18A4C4;
}

.e-gantt-overview-sample .e-status-ontrack-light {
    border: 1px solid #F7630C;
    color: #F7630C;
}

.e-gantt-overview-sample .e-status-ontrack-dark {
    border: 1px solid #F87528;
    color: #F87528;
}

.e-gantt-overview-sample .e-status-notstarted-light {
    border: 1px solid #C50F1F;
    color: #C50F1F;
}

.e-gantt-overview-sample .e-status-notstarted-dark {
    border: 1px solid #CC2635;
    color: #CC2635;
}

.e-gantt-overview-sample .e-status-icon {
    border-radius: 10px;
    margin-right: 8px;
    padding: 4px;
}

.e-gantt-overview-sample .e-status-completed-icon-light {
    background: #107C10;
    border: 1px solid #FAFAFA;
}

.e-gantt-overview-sample .e-status-completed-icon-dark {
    background: #107C10;
    border: 1px solid #1F1F1F;
}

.e-gantt-overview-sample .e-status-inprogress-icon-light {
    background: #008AA9;
    border: 1px solid #FAFAFA;
}

.e-gantt-overview-sample .e-status-inprogress-icon-dark {
    background: #0099BC;
    border: 1px solid #1F1F1F;
}

.e-gantt-overview-sample .e-status-ontrack-icon-light {
    background: #BC4B09;
    border: 1px solid #FAFAFA;
}

.e-gantt-overview-sample .e-status-ontrack-icon-dark {
    background: #FAA06B;
    border: 1px solid #1F1F1F;
}

.e-gantt-overview-sample .e-status-notstarted-icon-light {
    background: #D13438;
    border: 1px solid #FAFAFA;
}

.e-gantt-overview-sample .e-status-notstarted-icon-dark {
    background: #DC626D;
    border: 1px solid #1F1F1F;
}

.e-gantt-overview-sample .e-dependencies {
    border-radius: 4px;
    padding: 2px 8px;
    width: fit-content;
}

.e-gantt-overview-sample .e-dependencies-light {
    border: 1px solid #b8b8b8;
}

.e-gantt-overview-sample .e-dependencies-dark {
    border: 1px solid #b8b8b8;
}

.e-gantt-overview-sample .e-risks-container {
    border-radius: 4px;
    padding: 2px 8px;
    width: fit-content;
}

.e-gantt-overview-sample .e-risks-medium-light {
    border: 1px solid #F7630C;
}

.e-gantt-overview-sample .e-risks-medium-dark {
    border: 1px solid #F87528;
}

.e-gantt-overview-sample .e-risks-low-light {
    border: 1px solid #31AFCC;
}

.e-gantt-overview-sample .e-risks-low-dark {
    border: 1px solid #18A4C4;
}

.e-gantt-overview-sample .e-risks-high-light {
    border: 1px solid #C50F1F;
}

.e-gantt-overview-sample .e-risks-high-dark {
    border: 1px solid #CC2635;
}

.e-gantt-overview-sample .e-risks-low-text-light {
    color: #31AFCC;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-risks-low-text-dark {
    color: #18A4C4;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-risks-medium-text-light {
    color: #F7630C;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-risks-medium-text-dark {
    color: #F87528;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-risks-high-text-light {
    color: #C50F1F;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-risks-high-text-dark {
    color: #CC2635;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.e-gantt-overview-sample .e-category-location, .e-initiative-story {
    display: flex;
    align-items: center;
}

.e-gantt-overview-sample .e-location {
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 8px;
    margin-left: 5px;
    font-weight: 400;
    width: fit-content;
}

.e-gantt-overview-sample .e-location-light {
    border: 1px solid #107C10;
    background-color: #107C10;
    color: #FFFFFF;
}

.e-gantt-overview-sample .e-location-dark {
    border: 1px solid #218C21;
    background-color: #218C21;
    color: #FFFFFF;
}

.e-gantt-overview-sample .e-techstack {
    border-radius: 4px;
    padding: 2px 8px;
    display: inline-block;
    margin-right: 5px;
}

.e-gantt-overview-sample .e-techstack-light {
    border: 1px solid #b8b8b8;
}

.e-gantt-overview-sample .e-techstack-dark {
    border: 1px solid #b8b8b8;
}

.e-gantt-overview-sample .e-story-points {
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 6px;
    margin-left: 10px;
    font-weight: 600;
}

.e-gantt-overview-sample .e-story-points-light {
    border: 1px solid #6C757D;
    background-color: #6C757D;
    color: #FFFFFF;
}

.e-gantt-overview-sample .e-story-points-dark {
    border: 1px solid #6C757D;
    background-color: #6C757D;
    color: #FFFFFF;
}

.e-gantt-overview-sample .assignee-text {
    font-weight: 600;
    font-size: 12px;
}

.e-gantt-overview-sample .icon-style {
    font-size: 12px !important;
    margin-top: 3px;
}

.e-gantt-overview-sample .e-priority-text, .e-status-text, .e-dependencies, .e-category, .e-techstack, .e-initiative {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.e-gantt-overview-sample .e-progress-bar-dark {
    border-radius: 2px;
}

.e-gantt-overview-sample .e-close::before {
    font-family: 'e-icons' !important;
    content: '\e7e7';
    font-size: 15px;
}

.material3 .e-close::before,
.materia3l-dark .e-close::before,
.material3 .e-close::before {
    content: '\e7e7';
    font-family: 'e-icons';
    font-size: 15px;
}

.material .e-close::before,
.material-dark .e-close::before,
.material .e-close::before {
    content: '\e7fc';
    font-family: 'e-icons';
    font-size: 15px;
}

.fabric .e-close::before,
.fabric-dark .e-close::before,
.highcontrast .e-close::before {
    content: '\e7fc';
    font-family: 'e-icons';
    font-size: 15px;
}

.bootstrap .e-close::before,
.bootstrap-dark .e-close::before {
    content: '\e7fc';
    font-family: 'e-icons';
    font-size: 15px;
}

.bootstrap4 .e-close::before {
    content: '\e745';
    font-family: 'e-icons';
    font-size: 15px;
}

.tailwind .e-close::before,
.tailwind-dark .e-close::before {
    content: '\e7e7';
    font-family: 'e-icons';
    font-size: 15px;
}

.bootstrap5 .e-close::before,
.bootstrap5-dark .e-close::before,
.fluent .e-close::before, .fluent-dark .e-close::before,
.tailwind .e-close::before, .tailwind-dark .e-close::before {
    content: '\e7e7';
    font-family: 'e-icons';
    font-size: 15px;
}

.e-gantt-overview-reference-link {
    text-decoration: none !important;
}

.e-gantt-overview-reference-link:hover,
.e-gantt-overview-reference-link:focus {
    text-decoration: underline !important;
}
