@page "/gantt-chart/remote-data"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<ActionDescription>
    <p>
		This sample demonstrates binding a <a class="e-gantt-remotedata-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                              href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                              target="_blank" rel="noopener">Blazor Gantt Chart</a> to a remote service through the DataManager, highlighting the phases of a software design and development lifecycle. It includes a row count selector with options for 1,000, 2,500, or 5,000 records to evaluate how data volume affects rendering. An accompanying metric displays the initial load time in milliseconds, providing precise feedback on the duration needed to display the selected dataset.
    </p>
    <p>
        An accompanying metric reports the initial load time in milliseconds, offering precise insight into the duration required to retrieve and display the chosen dataset. This feedback makes it straightforward to evaluate performance when working with large remote sources.
    </p>
    <p>
        The <a aria-label="Navigate to the documentation for getting started with data manager component" target="_blank" rel="noopener" class="e-gantt-remotedata-reference-link" href="https://blazor.syncfusion.com/documentation/data/getting-started">SfDataManager</a> is used to bind data from a remote service with the Gantt Chart.
        The <code>SfDataManager</code> acts as an interface between the service endpoint and the Tree Grid, requiring the following minimal information to interact with the service endpoint properly.
    </p>
    <ul>
		<li><a aria-label="Navigate to the url property reference for data manager component" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Url">SfDataManager.Url</a> - Defines the service endpoint to fetch data.</li>
		<li><a aria-label="Navigate to the Adaptor property reference for data manager component" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html#Syncfusion_Blazor_DataManager_Adaptor">SfDataManager.Adaptor</a> - Defines the adaptor option. By default, <a aria-label="Navigate to the class reference for Url Adaptor in data manager" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Data.ODataAdaptor.html">ODataAdaptor</a> is used for remote binding.</li>
    </ul>
    <p>
		The adaptor is responsible for processing the response and request to/from the service endpoint. The <a class="e-gantt-remotedata-reference-link" aria-label="Navigate to namespace reference for data manager component" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Data.html">Syncfusion.Blazor.Data</a> namespace provides predefined adaptors designed to interact with particular service endpoints. The predefined adaptors include:
    </p>
    <ul>
        <li><strong>UrlAdaptor</strong> - Enables interaction with any remote service. It serves as the base adaptor for all remote-based adaptors.</li>
        <li><strong>ODataAdaptor</strong> - Facilitates communication with OData endpoints, supporting standard query operations.</li>
        <li><strong>ODataV4Adaptor</strong> - Designed specifically for interacting with OData V4 endpoints, offering enhanced protocol support.</li>
        <li><strong>WebApiAdaptor</strong> - Connects to Web APIs built on OData standards, enabling seamless data operations.</li>
    </ul>
    <p>
		For further details, refer to the <a class="e-gantt-remotedata-reference-link" aria-label="Navigate to the documentation for remote data in gantt chart component" target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/gantt-chart/data-binding#remote-data">documentation</a>.
    </p>
</ActionDescription>

<div class="control-section e-gantt-remote-data-sample">
	<div style="padding-bottom: 10px;">
		<span class="e-dddata">
			<SfDropDownList TItem="DropdownData" TValue="string" PopupHeight="230px" Width="240px" @bind-Index="@DropDownIndex" DataSource="@DLData" Placeholder="1000 Rows">
				<DropDownListEvents TItem="DropdownData" TValue="string" ValueChange="OnDataChange" Closed="DropdownClose"></DropDownListEvents>
				<DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
			</SfDropDownList>
		</span>
		<span style="padding-left: 20px; font-size: 15px">
			<b>Data initial load time: </b> @(LoadTime.ToString() + " milliseconds")
		</span>
	</div>
	<SfGantt @ref="GanttInstance" TValue="TaskData" Height="700px" Width="100%" TreeColumnIndex="1" ProjectStartDate="new DateTime(2024, 12, 28)" ProjectEndDate="new DateTime(2025, 03, 19)" ScrollToTaskbarOnClick="true"
			 EnablePredecessorValidation="false" AutoCalculateDateScheduling="false" EnableRowVirtualization="true" EnableTimelineVirtualization="true">
		<SfDataManager Url=@AdapatorUrl Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
		<GanttTaskFields Id="Id"
						 Name="Name"
						 StartDate="StartDate"
						 EndDate="EndDate"
						 Progress="CompletionPercent"
						 ParentID="ParentTaskId"
						 Duration="DurationInDays"
						 Dependency="Dependency">
		</GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="Id"></GanttColumn>
			<GanttColumn Field="Name" HeaderText="Project Activity" Width="280"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Planned Start Date"></GanttColumn>
			<GanttColumn Field="DurationInDays" HeaderText="Estimated Duration"></GanttColumn>
			<GanttColumn Field="CompletionPercent" HeaderText="Completion (%)"></GanttColumn>
		</GanttColumns>
		<GanttTimelineSettings TimelineViewMode="TimelineViewMode.Week">
			<GanttTopTierSettings Unit="TimelineViewMode.Week" Format="MMM, dd yyyy"></GanttTopTierSettings>
			<GanttBottomTierSettings Unit="TimelineViewMode.Day" Format="dd"></GanttBottomTierSettings>
		</GanttTimelineSettings>
		<GanttLabelSettings TValue="TaskData" RightLabel="Name" TaskLabel="CompletionPercent"></GanttLabelSettings>
		<GanttEvents Created="OnGanttCreated" OnActionComplete="ActionCompleteHandler" TValue="TaskData"></GanttEvents>
		<GanttSplitterSettings ColumnIndex="2"></GanttSplitterSettings>
	</SfGantt>
</div>
@code{
	/// <summary>
	/// Initializes the sample and records the start time for data load measurement.
	/// </summary>
	protected override void OnInitialized()
	{
		startLoadTime = DateTime.Now;
		@*Hidden:Lines*@
		SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
		@*End:Hidden*@
	}
	@*Hidden:Lines*@
	private async void OnTouchMousePreferenceChanged()
	{
		await GanttInstance.RefreshAsync();
		await GanttInstance.CallStateHasChangedAsync();
	}

	public void Dispose()
	{
		SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
	}
	@*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-remote-data-sample {
		padding: 20px;
	}

	.e-gantt-remotedata-reference-link {
		text-decoration: none !important;
	}

	.e-gantt-remotedata-reference-link:hover,
	.e-gantt-remotedata-reference-link:focus {
		text-decoration: underline !important;
	}
</style>