.e-gantt-resource-view-sample {
    padding: 20px;
}

    .e-gantt-resource-view-sample .showhide {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
        padding: 10px;
    }

    .e-gantt-resource-view-sample .e-switch-control {
        display: flex;
        align-items: center;
    }

.e-gantt-resourceview-reference-link {
    text-decoration: none !important;
}

    .e-gantt-resourceview-reference-link:hover,
    .e-gantt-resourceview-reference-link:focus {
        text-decoration: underline !important;
    }
