.e-gantt-timezone-sample {
    padding: 20px;
}

    .e-gantt-timezone-sample .previous-timespan,
    .next-timespan {
        height: 32px !important;
        width: 32px !important;
        padding: 0 !important;
    }

    .e-gantt-timezone-sample .e-bigger .previous-timespan,
    .e-bigger .next-timespan {
        height: 40px !important;
        width: 40px !important;
        padding: 0 !important;
    }

    .e-gantt-timezone-sample .e-bigger .previous-timespan {
        margin-left: 10px !important;
    }

    .bootstrap5 .e-gantt-timezone-sample,
    .bootstrap5\.3 .e-gantt-timezone-sample {
        --color-sf-icon-color: white;
    }

.e-gantt-timezone-reference-link {
    text-decoration: none !important;
}

    .e-gantt-timezone-reference-link:hover,
    .e-gantt-timezone-reference-link:focus {
        text-decoration: underline !important;
    }
