.e-gantt-undo-redo-sample {
    padding: 20px;
}

.gantt-undo-redo-reference-link {
    text-decoration: none !important;
}

    .gantt-undo-redo-reference-link:hover,
    .gantt-undo-redo-reference-link:focus {
        text-decoration: underline !important;
    }
