@page "/gantt-chart/unscheduled-task"

@using Syncfusion.Blazor.Gantt
@using BlazorDemos.Pages.GanttChart.Data

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<ActionDescription>
    <p>
		This sample demonstrates how the <a class="e-gantt-unscheduledtask-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                            href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                            target="_blank" rel="noopener">Blazor Gantt Chart</a> visualizes unscheduled taskbars in both <code>Auto</code> and <code>Manual</code> scheduling modes.
    </p>
    <p>Unscheduled tasks are those that lack defined start dates, end dates, or durations at the beginning of a project. These tasks are typically scheduled later during project execution, based on factors such as resource availability, task dependencies, or shifting priorities.</p>
    <p>To display unscheduled tasks in the Gantt Chart, enable the <a class="e-gantt-unscheduledtask-reference-link" aria-label="Navigate to the AllowUnscheduledTasks property reference for gantt chart component" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AllowUnscheduledTasks">AllowUnscheduledTasks</a> property. When set to <code>true</code>, the chart can render tasks even without complete scheduling information, offering flexibility in managing dynamic project timelines.</p>
	<p>For further details, refer to the <a class="e-gantt-unscheduledtask-reference-link" aria-label="Navigate to the documentation for Unscheduled tasks in gantt chart component" target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/gantt-chart/scheduling-tasks#unscheduled-tasks">documentation</a>.</p>
</ActionDescription>

<div class="control-section e-gantt-unscheduled-task-sample">
	<SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="500px" Width="100%" HighlightWeekends="true" TreeColumnIndex="1"
			 AllowUnscheduledTasks="true" TaskMode="ScheduleMode.Custom">
		<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" ParentID="ParentId" Manual="IsManual"></GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="TaskId" Width="75px"></GanttColumn>
			<GanttColumn Field="TaskName" HeaderText="Task Name" Width="250px" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
		</GanttColumns>
		<GanttLabelSettings LeftLabel="TaskName" TValue="UnscheduleData.TaskData">
		</GanttLabelSettings>
		<GanttSplitterSettings Position="40%"></GanttSplitterSettings>
	</SfGantt>
</div>

@code {
	public SfGantt<UnscheduleData.TaskData>? GanttInstance { get; set; }
	public List<UnscheduleData.TaskData> TaskCollection { get; set; } = new List<UnscheduleData.TaskData>();

	/// <summary>
	/// Initializes the sample by loading task data for the Gantt chart.
	/// </summary>
	protected override void OnInitialized()
	{
		TaskCollection = UnscheduleData.GetTaskCollection();
		@*Hidden:Lines*@
		SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
		@*End:Hidden*@
	}
	@*Hidden:Lines*@
	private async void OnTouchMousePreferenceChanged()
	{
		await GanttInstance.RefreshAsync();
		await GanttInstance.CallStateHasChangedAsync();
	}

	public void Dispose()
	{
		SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
	}
	@*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-unscheduled-task-sample {
		padding: 20px;
	}

	.e-gantt-unscheduledtask-reference-link {
    text-decoration: none !important;
}

	.e-gantt-unscheduledtask-reference-link:hover,
	.e-gantt-unscheduledtask-reference-link:focus {
		 text-decoration: underline !important;
	}
</style>


