.e-gantt-wbscolumn-sample {
    padding: 20px;
}

    .e-gantt-wbscolumn-sample ::deep .e-checkbox-wrapper:focus {
        border: inherit !important;
        box-shadow: inherit !important
    }

.e-gantt-wbscolumn-reference-link {
    text-decoration: none !important;
}

    .e-gantt-wbscolumn-reference-link:hover,
    .e-gantt-wbscolumn-reference-link:focus {
        text-decoration: underline !important;
    }
