@page "/gantt-chart/working-time-range"

@using Syncfusion.Blazor.Gantt
@using BlazorDemos.Pages.GanttChart.Data

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<ActionDescription>
    <p>
        This sample demonstrates how the <a class="e-gantt-worktimerange-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                            href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                            target="_blank" rel="noopener">Blazor Gantt Chart</a> can change the timeline <a class="e-gantt-worktimerange-reference-link" aria-label="Navigate to the DurationUnit property reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_DurationUnit'>DurationUnit</a> from days to hours, making task progress visible on an hourly scale.
    </p>
    <p>
        In this example, you can see how to render a Gantt chart with the provided data source and customizable working hours in a day using <a class="e-gantt-worktimerange-reference-link" aria-label="Navigate to the class reference for Gantt DayWorkingTime" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttDayWorkingTime.html">GanttDayWorkingTime</a>. Given duration in dataSource will be considered with this unit. Gantt chart supports the following <code>DurationUnit</code> values:
    </p>
    <ul>
        <li><code>Day</code></li>
        <li><code>Hour</code></li>
        <li><code>Minute</code></li>
    </ul>
    <p>The working hours vary between organizations. This feature will help keep track of each task and resource task status based on the company's working time.</p>
    <p>For further details, refer to the <a class="e-gantt-worktimerange-reference-link" aria-label="Navigate to the documentation for Working time range in gantt chart component" target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/gantt-chart/scheduling-tasks/#working-time-range">documentation</a>.</p>
</ActionDescription>

<div class="control-section e-gantt-worktime-range-sample">
	<SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true" DurationUnit="DurationUnit.Hour"
			 AllowSelection="true" GridLines="GridLine.Both" TreeColumnIndex="1" ProjectStartDate="@(new DateTime(2021, 04, 02))" ProjectEndDate="@(new DateTime(2021, 04, 13))" ScrollToTaskbarOnClick="true">
		<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
						 Dependency="Predecessor" ParentID="ParentId" Notes="Notes"></GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="TaskId" Width="100"></GanttColumn>
			<GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Predecessor" HeaderText="Dependency" MinWidth="200"></GanttColumn>
			<GanttColumn Field="Notes" Width="100"></GanttColumn>
		</GanttColumns>
		<GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true"></GanttEditSettings>
		<GanttLabelSettings LeftLabel="TaskName" TValue="WorkTimeRangeData.TaskData"></GanttLabelSettings>
		<GanttSplitterSettings Position="28%"></GanttSplitterSettings>
		<GanttDayWorkingTimeCollection>
			<GanttDayWorkingTime From="9" To="12"></GanttDayWorkingTime>
			<GanttDayWorkingTime From="14" To="18"></GanttDayWorkingTime>
		</GanttDayWorkingTimeCollection>
		<GanttTimelineSettings TimelineUnitSize="40">
			<GanttTopTierSettings Unit="TimelineViewMode.Day" Format="ddd"></GanttTopTierSettings>
			<GanttBottomTierSettings Unit="TimelineViewMode.Hour"></GanttBottomTierSettings>
		</GanttTimelineSettings>
	</SfGantt>
</div>

@code {
	public SfGantt<WorkTimeRangeData.TaskData>? GanttInstance { get; set; }
	public List<WorkTimeRangeData.TaskData> TaskCollection { get; set; } = new List<WorkTimeRangeData.TaskData>();

	/// <summary>
	/// Initializes the sample by loading task data for the Gantt chart.
	/// </summary>
	protected override void OnInitialized()
	{
		TaskCollection = WorkTimeRangeData.ProjectNewData();
		@*Hidden:Lines*@
		SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
		@*End:Hidden*@
	}
	@*Hidden:Lines*@
	private async void OnTouchMousePreferenceChanged()
	{
		await GanttInstance.RefreshAsync();
		await GanttInstance.CallStateHasChangedAsync();
	}

	public void Dispose()
	{
		SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
	}
	@*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-worktime-range-sample {
		padding: 20px;
	}
	.e-gantt-worktimerange-reference-link {
    text-decoration: none !important;
}

	.e-gantt-worktimerange-reference-link:hover,
	.e-gantt-worktimerange-reference-link:focus {
		 text-decoration: underline !important;
	}
</style>