@page "/gantt-chart/zooming"

@using Syncfusion.Blazor.Gantt
@using BlazorDemos.Pages.GanttChart.Data

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<ActionDescription>
    <p>
        This sample demonstrates the built-in zooming functionality of the <a class="e-gantt-zooming-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                                                              href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                                                              target="_blank" rel="noopener">Blazor Gantt Chart</a>.
    </p>
    <p>
        The project timeline can be dynamically adjusted using the following toolbar options:
    </p>
    <ul>
        <li><code>ZoomIn</code> -  Increases the timeline cell width to provide a more detailed view. When the cell size exceeds a defined threshold, the timeline view mode automatically switches to a finer scale.</li>
        <li><code>ZoomOut</code> - Decreases the timeline cell width to offer a broader overview. If the cell size drops below a certain range, the view mode changes to a coarser scale based on the zoom level.</li>
        <li><code>ZoomToFit</code> - Adjusts the timeline to fit all tasks within the available chart width, ensuring a complete view of the project schedule regardless of task distribution.</li>
    </ul>
    <p>
        The zooming feature supports viewing tasks across various time spans, from minutes to years. To enable this functionality, include the 
        <code>ZoomIn</code>, <code>ZoomOut</code>, and <code>ZoomToFit</code> buttons in the toolbar.
    </p>
    <p>
		For further details, refer to the <a class="e-gantt-zooming-reference-link" aria-label="Navigate to the documentation for zooming in gantt chart component" target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/gantt-chart/zooming">documentation</a>.
    </p>
</ActionDescription>

<div class="control-section e-gantt-zooming-sample">
	<SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="450px" Width="100%"
			 Toolbar="@(new List<string>{ "ZoomIn","ZoomOut","ZoomToFit"})" TreeColumnIndex="1"
			 ProjectStartDate="@(new DateTime(2021, 3, 24))" ProjectEndDate="@(new DateTime(2021, 4, 28))" ScrollToTaskbarOnClick="true">
		<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
						 Dependency="Predecessor" ParentID="ParentId"></GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="TaskId" Width="100"></GanttColumn>
			<GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Predecessor" HeaderText="Dependency" MinWidth="200"></GanttColumn>
		</GanttColumns>
		<GanttLabelSettings LeftLabel="TaskName" TValue="ZoomingData.TaskData">
		</GanttLabelSettings>
		<GanttSplitterSettings Position="28%"></GanttSplitterSettings>
	</SfGantt>
</div>

@code {
	public SfGantt<ZoomingData.TaskData>? GanttInstance { get; set; }
	public List<ZoomingData.TaskData> TaskCollection { get; set; } = new List<ZoomingData.TaskData>();

	/// <summary>
	/// Initializes the sample by loading task data for the critical path Gantt chart.
	/// </summary>
	protected override void OnInitialized()
	{
		TaskCollection = ZoomingData.ZoomData();
		@*Hidden:Lines*@
		SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
		@*End:Hidden*@
	}
	@*Hidden:Lines*@
	private async void OnTouchMousePreferenceChanged()
	{
		await GanttInstance.RefreshAsync();
		await GanttInstance.CallStateHasChangedAsync();
	}

	public void Dispose()
	{
		SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
	}
	@*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-zooming-sample {
		padding: 20px;
	}
	.e-gantt-zooming-reference-link {
    text-decoration: none !important;
}

	.e-gantt-zooming-reference-link:hover,
	.e-gantt-zooming-reference-link:focus {
		 text-decoration: underline !important;
	}
</style>