@page "/TimePicker/Default-Functionalities"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p>The following example demonstrates the default functionalities of the <a href='https://www.syncfusion.com/blazor-components/blazor-timepicker' aria-label="Feature Tour of Blazor TimePicker">TimePicker</a>. Click the TimePicker icon to select a desired time and the selected time value will be displayed in the TimePicker element.</p>
</SampleDescription>
<ActionDescription>
    <p>The TimePicker is an interactive component that provides an option to select a value from popup list or set a desired time value.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/timepicker/getting-started/' target='_blank' aria-label="Blazor TimePicker Getting Started documentation">Getting started with Blazor TimePicker</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Select a Time</label>
        <SfTimePicker TValue="DateTime?" FullScreen="true" ShowClearButton="true"></SfTimePicker>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 200px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>
