@page "/TimePicker/Keyboard-Navigation"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<ActionDescription>
<p>
    TimePicker functionalities can be accessed interactively through keyboard shortcuts. Various key combinations enable efficient interaction with the TimePicker component.
  </p>
  <p>
    <strong>Focus Navigation:</strong>
  </p>
  <ul>
    <li><span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span> — Focuses on the first component of the sample</li>
  </ul>
  <p>
    <strong>Input Navigation:</strong>
  </p>
  <ul>
    <li><span class="key-class"><kbd>Alt</kbd> + <kbd>Down Arrow</kbd></span> — Opens the popup</li>
    <li><span class="key-class"><kbd>Alt</kbd> + <kbd>Up Arrow</kbd></span> — Closes the popup</li>
    <li><span class="key-class"><kbd>Esc</kbd></span> — Closes the popup</li>
  </ul>
  <p>
    <strong>Time Selection:</strong>
  </p>
  <ul>
    <li><span class="key-class"><kbd>Enter</kbd></span> — Selects the currently focused item and closes the popup</li>
  </ul>
  <p>
    <strong>TimePicker Navigation:</strong>
  </p>
  <ul>
    <li><span class="key-class"><kbd>Up Arrow</kbd></span> — Navigate and select the previous item</li>
    <li><span class="key-class"><kbd>Down Arrow</kbd></span> — Navigate and select the next item</li>
    <li><span class="key-class"><kbd>Home</kbd></span> — Navigate and select the first item</li>
    <li><span class="key-class"><kbd>End</kbd></span> — Navigate and select the last item</li>
  </ul>
</ActionDescription>


<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <label class="example-label">Select a Time</label>
        <SfTimePicker TValue="DateTime?" ShowClearButton="true" FullScreen="true" Placeholder="Select a time">
            <TimePickerEvents TValue="DateTime?" OnItemRender="@ItemRenderHandler"></TimePickerEvents>
        </SfTimePicker>
    </div>
</div>

@code {
    private DateTime? StartTime;
    private TimeSpan? Minutes;
    
    private void ItemRenderHandler(ItemEventArgs<DateTime?> args)
    {
        if (args.Value != null && args.Value.Value.Hour == 0 && args.Value.Value.Minute == 0 && args.Value.Value.Second == 0)
        {
            StartTime = args.Value;
        }
        Minutes = (args.Value - StartTime) / 60000;
        if (Minutes != null && (Minutes.Value.TotalMilliseconds / 60) % 3 == 0)
        {
            args.IsDisabled = true;
        }
    }
}

<style>
    .control-wrapper {
        max-width: 200px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .description {
        margin: 4px;
        font-size: 14px;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>
