@page "/TimePicker/MaskSupport"

@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
   <p> In this sample demonstrates the Time masking functionality in the TimePicker. It allows you to enter a valid value for each mask pattern of the Time masking.</p>
</SampleDescription>
<ActionDescription>
    <p> TimePicker has an <b>EnableMask</b> property that allows you to enable the time masking support. The mask pattern is defined based on the provided Time format to the component. If the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.DatePickerModel.html#Syncfusion_Blazor_Calendars_DatePickerModel_Format' target='_blank' aria-label="Class reference of Format property in TimePicker"> Format</a> is not specified, the mask pattern is formed based on the default format of the current culture.</p>
</ActionDescription>

<div class="col-lg-12">
    <div class="col-lg-8 control-section sb-property-border">
        <div class="control-wrapper">
            <label class="example-label">Select a Time</label>
            <SfTimePicker TValue="DateTime?" @bind-Value="@DateValue" EnableMask=true Format="@FormatString" StrictMode=true ShowClearButton="true" FullScreen="true">
                <TimePickerMaskPlaceholder Hour="hour" Minute="minute" Second="second"></TimePickerMaskPlaceholder>
            </SfTimePicker>
        </div>
    </div>
    <div class="col-lg-4">
        <div class='property-panel-section'>
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <label class="example-label">Choose a format</label>
                <SfDropDownList TItem="DateFormat" TValue="string" PopupHeight="230px" @bind-Index="@Index" DataSource="@Formats">
                    <DropDownListEvents TItem="DateFormat" TValue="string" ValueChange="OnChange"></DropDownListEvents>
                    <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }
    
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .property-panel-content {
        padding: 0px 0px 15px 0px;
    }

    .property-panel-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>

@code {
    private int? Index { get; set; } = 0;
    public DateTime? DateValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 10);
    private string textValue { get; set; }
    
    public class DateFormat
    {
        public string ID { get; set; }

        public string Text { get; set; }
    }
    public string FormatString { get; set; } = "T";
    private List<DateFormat> Formats = new List<DateFormat>() {
        new DateFormat(){ ID= "T", Text= "Long Time" },
        new DateFormat(){ ID= "t", Text= "Short Time" }
        
     };
    public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DateFormat> args)
    {
        this.FormatString = args.ItemData?.ID;
    }
}
