@page "/Slider/Ticks"

@using Syncfusion.EJ2.Blazor.Inputs

@*Hidden:Lines*@
@using ej2_blazor_samples
@using Newtonsoft.Json
@{
    SampleBrowser.CurrentSampleName = "Ticks";
    SampleBrowser.CurrentControlName = "Slider";
    SampleBrowser.CurrentControlCategory = "Inputs";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Slider;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample demonstrates the rendering of Slider component with ticks placement. Drag the thumb over the bar for selecting
        the values between min and max.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>The ticks are the visual representation of the Slider values. The ticks are differentiated as small and large ticks based
        on its size. The ticks position can be defined by the
        <a target='_blank' href='http://ej2.syncfusion.com/documentation/slider/api-ticksData.html?lang=es6#smallstep-number'>smallStep</a> and
        <a target='_blank' href='http://ej2.syncfusion.com/documentation/slider/api-ticksData.html?lang=es6#smallstep-number'>largeStep </a>properties.</p>
    <p> In this demo, ticks position with default and range Slider is demonstrated.</p>
    <ul>
        <li>Default Slider – In this sample, the small and large ticks are rendered with the frequency of 0.05 and 0.20.</li>
        <li>Range Slider – In this sample, the small and large ticks are rendered with the frequency of 5 and 20.</li>
    </ul>
    <p> The ticks placement of Slider and disable Slider component from the property pane can also be changed.</p>
    <p>The following properties are used to restrict the value range for the slider:</p>
    <ul>
        <li>
            <a target='_blank' href='http://ej2.syncfusion.com/documentation/slider/api-slider.html?lang=es6#step-string---number'>step </a> - defines incremental or decremental step value for slider</li>
        <li>
            <a target='_blank' href='http://ej2.syncfusion.com/documentation/slider/api-slider.html?lang=es6#min-string---number'>min </a> – specifies minimum value of the slider</li>
        <li>
            <a target='_blank' href='http://ej2.syncfusion.com/documentation/slider/api-slider.html?lang=es6#max-string---number'>max </a> – to specifies maximum value of the slider</li>
    </ul>
    <p>For more information, refer to the
        <a target='_blank' href='http://ej2.syncfusion.com/documentation/slider/ticks.html?lang=es6'>ticks</a> section from the documentation.</p>"
    };
}
@*End:Hidden*@
@using Syncfusion.EJ2
<div class="control-section">
    <div class="content-wrapper">
        <div class="sliderwrap">
            <label class="userselect">Default Slider</label>
            <EjsSlider ID="default" Min="0.1" Max="0.9" Value=@DefaultValue Step="0.05">
                <SliderTicksData Placement="Syncfusion.EJ2.Blazor.Inputs.Placement.Before"
                                 ShowSmallTicks="true"
                                 LargeStep="0.2"
                                 SmallStep="0.05"></SliderTicksData>
            </EjsSlider>
        </div>
        <div class="sliderwrap">
            <label class="userselect">Range Slider</label>
            <EjsSlider ID="range" min="10" max="90" step="5" type=SliderType.Range value=@RangeValue>
                <SliderTicksData Placement="Syncfusion.EJ2.Blazor.Inputs.Placement.Before"
                                 ShowSmallTicks="true"
                                 LargeStep="20"
                                 SmallStep="5"></SliderTicksData>
            </EjsSlider>
        </div>
    </div>
</div>

@code{
    double DefaultValue = 0.3;
    int[] RangeValue = { 30, 70 };
}
<style>
    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }

    .sliderwrap {
        margin-top: 45px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .sliderwrap label {
        padding-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
    }

    .userselect {
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }
</style>
