@page "/pdf-viewer-2/annotations-toolbar"

@using Syncfusion.Blazor.SfPdfViewer

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the creation of different types of annotations in the SfPdfViewer, including Text Markup, Shapes, Measurements, Free text, Stamps, Handwritten signature, ink, and sticky notes. We can customize the added annotations or we can include new annotations through user interaction from the SfPdfViewer.</p>
</SampleDescription>
<ActionDescription>
@*WASM:Block*@
@{ #if WASM }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/annotation'> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/annotation'> documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>

<div class="control-section">

     <SfPdfViewer2 @ref="Viewer" DocumentPath="@DocumentPath" EnableAnnotationToolbar="true" CommentPanelVisible="true" Height="640px" Width="100%">
    </SfPdfViewer2>

</div>

@code {

    

    SfPdfViewer2 Viewer;
    private string DocumentPath { get; set; } = "";
    protected override void OnInitialized()
    {
        
        string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;
        
@*Server:Block*@
#if !(WASM || WEBAPP)
        //Sets the PDF document path for initial loading.
        DocumentPath = "wwwroot/data/pdfviewer2/Annotations.pdf";
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if (WASM || WEBAPP)
        //Sets the PDF document path for initial loading.
        DocumentPath= fileDataPath + "data/pdfviewer2/annotations.pdf";
#endif
@*End:WebAssembly*@

    }

}
