@page "/pdf-viewer-2/default-functionalities"
@using Syncfusion.Blazor.SfPdfViewer
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager
@*End:Hidden*@

<SampleDescription>
    <p>This sample explains the core features of SfPdfViewer such as PDF viewing, printing, navigation, text search and selection, zooming, panning, reviewing, and more with their built-in toolbar.</p>
</SampleDescription>
<ActionDescription>
    <p>The <strong>SfPdfViewer</strong> component enables viewing, reviewing, and printing PDF files directly within your Blazor application. This sample demonstrates the following core features:</p>
    <ul>
        <li>PDF document viewing.</li>
        <li>Essential interactions, including scrolling, zooming, panning, and page navigation.</li>
        <li>Support for annotations such as Text Markup, Shape, Measure, Stamp, and Free Text.</li>
        <li>Integrated toolbar for convenient PDF manipulation.</li>
        <li>Text selection and copying.</li>
        <li>Efficient text search across PDF documents.</li>
        <li>Easy navigation using Bookmarks, Thumbnails, Hyperlinks, and Table of Contents.</li>
        <li>View options, including "Fit to Page" and "Fit to Width" modes.</li>
        <li>Print functionality for the entire document or selected pages directly from the browser.</li>
    </ul>
    <p>In this demo, the <strong>SfPdfViewer</strong> component is initialized with a default PDF document.</p>

    @*WASM:Block*@
    @{ 
#if (WASM) 
    }
    <p>More information about using <strong>SfPdfViewer</strong> in Blazor WASM apps can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/web-assembly-application' aria-label="documentation section for PDF Viewer Component in Blazor WASM apps">documentation section</a>.</p>
    @{ 
#endif
    }
    @*End:WASM*@

    @*Server:Block*@
    @{
#if !(WASM) 
    }
    <p>More information about using <strong>SfPdfViewer</strong> in Blazor Server apps can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/server-side-application' aria-label="documentation section for PDF Viewer Component in Blazor Server apps">documentation section</a>.</p>
    @{
#endif 
    }
    @*End:Server*@
</ActionDescription>


<div class="control-section">
     <SfPdfViewer2 DocumentPath="@DocumentPath" Height="640px" Width="100%"></SfPdfViewer2>
</div>

@code {
    private string DocumentPath { get; set; } = string.Empty;
    protected override void OnInitialized()
    {
        string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;

@*Server:Block*@
#if !(WASM || WEBAPP)
        //Sets the PDF document path for initial loading.
        DocumentPath = "wwwroot/data/pdfviewer2/pdf-succinctly.pdf";
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if (WASM || WEBAPP)
        //Sets the PDF document path for initial loading.   
        DocumentPath= fileDataPath + "data/pdfviewer2/pdf-succinctly.pdf";
#endif
@*End:WebAssembly*@
    }
}