@page "/pdf-viewer-2/default-functionalities"
@using Syncfusion.Blazor.SfPdfViewer

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample explains the core features of SfPdfViewer such as PDF viewing, printing, navigation, text search and selection, zooming, panning, reviewing, and more with their built-in toolbar.</p>
</SampleDescription>
<ActionDescription>
   <p>The SfPdfViewer component allows you to view, review, and print the PDF files. This sample explains the following key features of SfPdfViewer:</p>
   <ul>
        <li>View the PDF document.</li>
        <li>Core interactions such as scrolling, zooming, panning, and page navigation.</li>
        <li>Annotations such as TextMarkup, Shape, Measure, Stamp, and Free Text.</li>
        <li>Built-in toolbar.</li>
        <li>Select and copy text from a PDF file.</li>
        <li>Search a text easily across a PDF document.</li>
        <li>Easy navigation with the help of Bookmarks, thumbnails, hyperlinks, and table of contents.</li>
        <li>View modes such as fit to page and fit to width.</li>
        <li>Print the entire document or a specific page directly from the browser.</li>
    </ul>   
    <p>In this demo, the SfPdfViewer is rendered with a default PDF file.</p>
@*WASM:Block*@
@{ #if (WASM) }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/web-assembly-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor WASM app"> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/server-side-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor Server app"> documentation section</a>.</p>
@{ #endif }
@*End:Server*@

</ActionDescription>

<div class="control-section">
     <SfPdfViewer2 DocumentPath="@DocumentPath" Height="640px" Width="100%"></SfPdfViewer2>
</div>

@code {

    


    private string DocumentPath { get; set; } = "";
    protected override void OnInitialized()
    {
        
        string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;

@*Server:Block*@
#if !(WASM || WEBAPP)
        //Sets the PDF document path for initial loading.
        DocumentPath = "wwwroot/data/pdfviewer2/pdf-succinctly.pdf";
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if (WASM || WEBAPP)
        //Sets the PDF document path for initial loading.   
        DocumentPath= fileDataPath + "data/pdfviewer2/pdf-succinctly.pdf";
#endif
@*End:WebAssembly*@
    }
}