@page "/pdf-viewer-2/form-filling"
@using Syncfusion.Blazor.SfPdfViewer

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates form filling features of PDF Viewer, enabling you to edit form fields, download, and print the edited PDF documents.</p>
</SampleDescription>
<ActionDescription>
   <p>The SfPdfViewer component enables editing form fields, downloading, and printing PDF documents with form field data.</p>
   <p>In this demo, the SfPdfViewer is rendered with a PDF form file.</p>
  @*WASM:Block*@
@{ #if (WASM) }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/web-assembly-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor WASM app"> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/server-side-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor Server app"> documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>


<div class="control-section"> 
    <SfPdfViewer2 DocumentPath="@DocumentPath" Height="640px" Width="100%"></SfPdfViewer2>
</div>

@code {
   
    

    private string DocumentPath { get; set; } = "";
    protected override void OnInitialized()
    {
        
        string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;
        
@*Server:Block*@
#if !(WASM || WEBAPP)
        //Sets the PDF document path for initial loading.
        DocumentPath = "wwwroot/data/pdfviewer2/form-filling-document.pdf";
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if (WASM || WEBAPP)
        //Sets the PDF document path for initial loading.   
        DocumentPath= fileDataPath + "data/pdfviewer2/form-filling-document.pdf";
#endif
@*End:WebAssembly*@
    }
}
