@page "/scheduler/header-rows"

@using Syncfusion.Blazor.Schedule
@using System.Globalization
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This demo showcases how to display the additional header rows on timeline view. In this demo, an additional row for displaying <b>Month</b> and <b>Week number</b> has been added. </p>
</SampleDescription>
<ActionDescription>
    <p>
        Unlike the usual date and time rows, timeline view can be displayed with additional header rows to display the years, months and week numbers. To do so, define the
        <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleHeaderRows.html">ScheduleHeaderRows</a> tag which accepts an collections of <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleHeaderRow.html">ScheduleHeaderRow</a> and each object includes the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleHeaderRow.html#Syncfusion_Blazor_Schedule_ScheduleHeaderRow_Option">Option</a> property to define the specific header row type such as <code>Year</code>,
        <code>Month</code>,<code>Week</code> and <code>Date</code>. The <code>ScheduleHeaderRow</code> also includes the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleHeaderRow.html#Syncfusion_Blazor_Schedule_ScheduleHeaderRow_Template">Template</a> option to provide label customization on these rows. The <code>ScheduleHeaderRows</code> is applicable only on timeline views.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <SfSchedule TValue="ScheduleData.AppointmentData" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate">
        <ScheduleEvents TValue="ScheduleData.AppointmentData" EventRendered="OnEventRendered"></ScheduleEvents>
        <ScheduleHeaderRows>
            <ScheduleHeaderRow Option="HeaderRowType.Month"></ScheduleHeaderRow>
            <ScheduleHeaderRow Option="HeaderRowType.Week">
                <Template>
                    <div class="date-text">Week: @(CultureInfo.InvariantCulture.Calendar.GetWeekOfYear((context as TemplateContext).Date, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Sunday).ToString())</div>
                </Template>
            </ScheduleHeaderRow>
            <ScheduleHeaderRow Option="HeaderRowType.Date"></ScheduleHeaderRow>
        </ScheduleHeaderRows>
        <ScheduleViews>
            <ScheduleView MaxEventsPerRow="11" Option="View.TimelineMonth" Interval="12"></ScheduleView>
        </ScheduleViews>
        <ScheduleEventSettings DataSource="@dataSource"></ScheduleEventSettings>
    </SfSchedule>
</div>

@code{
    private DateTime CurrentDate { get; set; } = new DateTime(DateTime.Today.Year, 1, 6);
    private List<ScheduleData.AppointmentData> dataSource = new ScheduleData().GetHeaderRowData();
    
    public void OnEventRendered(EventRenderedArgs<ScheduleData.AppointmentData> args)
    {
        args.Attributes = ScheduleData.ApplyCategoryColor(args.Data.CategoryColor, args.Attributes, View.TimelineMonth);
    }
}