@page "/scheduler/readonly-events"

@using Syncfusion.Blazor.Schedule
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This demo showcases how to make specific events on the Scheduler to be displayed in a read-only mode. The read-only events can be simply viewed and prevented from undergoing any edit actions.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, the events that occurred on the past hours from the current time are made as read-only and the CRUD actions have been prevented on it. This has been done by setting <code>true</code> to the <code>IsReadonly</code> field of past events. By doing so, the <code>aria-readonly</code> attribute gets added to the event element and differentiates it from the other normal events.  </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <SfSchedule TValue="ScheduleData.ReadonlyEventsData" Width="100%" Height="650px">
        <ScheduleViews>
            <ScheduleView Option="View.Day"></ScheduleView>
            <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView Option="View.WorkWeek"></ScheduleView>
            <ScheduleView Option="View.Month"></ScheduleView>
        </ScheduleViews>
        <ScheduleEventSettings DataSource="@dataSource"></ScheduleEventSettings>
    </SfSchedule>
</div>

@code{
    public List<ScheduleData.ReadonlyEventsData> dataSource = new ScheduleData().GetReadonlyEventsData();
    
}