@page "/scheduler/recurrence-editor-rrule-generator"

@using Syncfusion.Blazor.Schedule
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This demo showcases recurrence rule generation based on options selected from the Recurrence editor. The generated rule usually follows the <a href="https://tools.ietf.org/html/rfc5545#section-3.3.10" target="_blank" rel="noopener">iCalendar</a> specifications, resulting in a valid rule string to be used with the Schedule event's recurrence rule field.
  </p>
  <p>
    In this demo, a specific rule is set to the recurrence editor initially within the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.SfRecurrenceEditor.html#Syncfusion_Blazor_Schedule_SfRecurrenceEditor_Value">Value</a> property and is displayed on the label at the top. When users dynamically change the options in the recurrence editor, the modified rule value according to the selection is displayed, retrieved within the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.RecurrenceEditorEvents.html#Syncfusion_Blazor_Schedule_RecurrenceEditorEvents_OnChange">OnChange</a> event.
  </p>
</ActionDescription>


<div class="control-section">
    <div class="content-wrapper recurrence-editor-wrap">
        <div style="padding-bottom:15px;">
            <label>Rule Output</label>
            <div class="rule-output-container">
                <div id="rule-output">@RecurrenceRule</div>
            </div>
        </div>
        <div>
            <SfRecurrenceEditor @bind-Value="@RecurrenceRule"></SfRecurrenceEditor>
        </div>
    </div>
</div>

@code{
    private string RecurrenceRule { get; set; } = "FREQ=DAILY;INTERVAL=2;COUNT=8;";
}
<style>
    .recurrence-editor-wrap {
        margin: 0 25%;
    }

    .rule-output-container {
        height: auto;
        border: 1px solid #969696;
    }

    #rule-output {
        padding: 8px 4px;
        text-align: center;
        min-height: 20px;
        overflow: hidden;
        overflow-wrap: break-word;
    }

    @@media (max-width: 481px) {
        .recurrence-editor-wrap {
            margin: 0 10px;
        }
    }
</style>