@page "/scheduler/recurrence-rules"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.DropDowns
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This demo showcases how to fill the recurrence editor fields with appropriate values based on the user-provided recurrence rule string.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.SfRecurrenceEditor.html#Syncfusion_Blazor_Schedule_SfRecurrenceEditor_SetRecurrenceRule_System_String_System_Nullable_System_DateTime__">SetRecurrenceRule</a> method is used to populate the fields of recurrence editor based on the static rule options selected from the dropdown list.</p>
</ActionDescription>

<div class="control-section">
    <div class="content-wrapper recurrence-editor-wrap">
        <div class="ddlarea">
            <span class="spanarea">Select Rule</span>
            <div class="ddlcontent">
                <SfDropDownList DataSource="@DropdownData" TValue="string" TItem="DropDownFields" @bind-Value="@RecurrenceValue" PopupHeight="200" PopupWidth="auto">
                    <DropDownListEvents ValueChange="OnRuleChange" TItem="DropDownFields" TValue="string"></DropDownListEvents>
                    <DropDownListFieldSettings Value="Value" Text="Value"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
        </div>
        <div>
            <SfRecurrenceEditor @ref="RecurrenceEditorRef" Value="@RecurrenceValue"></SfRecurrenceEditor>
        </div>
    </div>
</div>
@code{
    SfRecurrenceEditor RecurrenceEditorRef;
    string RecurrenceValue = "FREQ=DAILY;INTERVAL=2;COUNT=8";
    

    List<DropDownFields> DropdownData = new List<DropDownFields>() {
        new DropDownFields() { Value = "FREQ=DAILY;INTERVAL=1" },
        new DropDownFields() { Value = "FREQ=DAILY;INTERVAL=2;UNTIL=20410606T000000Z" },
        new DropDownFields() { Value = "FREQ=DAILY;INTERVAL=2;COUNT=8" },
        new DropDownFields() { Value = "FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR;INTERVAL=1;UNTIL=20410729T000000Z" },
        new DropDownFields() { Value = "FREQ=MONTHLY;BYDAY=FR;BYSETPOS=2;INTERVAL=1;UNTIL=20410729T000000Z" },
        new DropDownFields() { Value = "FREQ=MONTHLY;BYDAY=FR;BYSETPOS=2;INTERVAL=1" },
        new DropDownFields() { Value = "FREQ=YEARLY;BYDAY=MO;BYSETPOS=-1;INTERVAL=1;COUNT=5" }
    };
    public void OnRuleChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropDownFields> args)
    {
        RecurrenceEditorRef.SetRecurrenceRule(args.Value, DateTime.Today);
    }
    public class DropDownFields
    {
        public string Value { get; set; }
    }
}

<style>
    .recurrence-editor-wrap {
        margin: 0 25%;
    }

    @@media (max-width: 481px) {
        .recurrence-editor-wrap {
            margin: 0 10px;
        }
    }
    .ddlarea {
        padding-bottom: 15px;
    }

    .spanarea {
        font-size: 14px;
    }

    .ddlcontent {
        padding-top: 4px;
    }

    .material-dark .recurrence-editor-wrap {
        color: #fff;
    }
</style>