@page "/spinner/overview"


@using Syncfusion.Blazor.Spinner

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example explains all of the <a href="https://www.syncfusion.com/blazor-components/blazor-spinner" aria-label="Feature Tour of Blazor Spinner">Blazor Spinner</a> types that appear at the Spinner's parent.</p>
</SampleDescription>
<ActionDescription>
    <p>When the application is processing/waiting for an operation, the Spinner appears.</p>
    <p>You cannot interact with the target until the Spinner process is completed.</p>
    <p>The above sample contains the following themes.</p>
    <ul>
        <li>Material</li>
        <li>Fabric</li>
        <li>Bootstrap</li>
        <li>Bootstrap4</li>
        <li>HighContrast</li>
        <li>Tailwind</li>
        <li>Bootstrap5</li>
        <li>Fluent</li>
    </ul>

    <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/spinner/getting-started' target='_blank' aria-label="Blazor Spinner Getting Started documentation">Getting Started with Blazor Spinner</a></li>
    </ul>
</ActionDescription>


<div class="control-section">
    <div id="container">
        <div class="row">
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="Material" Type="SpinnerType.Material" Visible="true"></SfSpinner>
                </div>
            </div>
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="Fabric" Type="SpinnerType.Fabric" Visible="true"></SfSpinner>
                </div>
            </div>
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="Bootstrap4" Type="SpinnerType.Bootstrap4" Visible="true"></SfSpinner>
                </div>
            </div>
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="High Contrast" CssClass="highcontrast" Type="SpinnerType.HighContrast" Visible="true"></SfSpinner>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="Tailwind" Type="SpinnerType.Tailwind" Visible="true"></SfSpinner>
                </div>
            </div>
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="Bootstrap5" Type="SpinnerType.Bootstrap5" Visible="true"></SfSpinner>
                </div>
            </div>
            <div class="col-sm">
                <div class="spin-row">
                    <SfSpinner Size="40" Label="Fluent" Type="SpinnerType.Fluent" Visible="true"></SfSpinner>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    #container {
        margin-top: 80px;
    }

        #container .row {
            display: flex;
        }

            #container .row .col-sm {
                width: 20%
            }

    .spin-row {
        position: relative;
        height: 120px;
        width: 120px;
    }

    #container .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .material .e-spinner-pane .e-spinner-inner .e-spin-bootstrap {
        fill: #e3165b;
    }

    .material .e-spinner-pane .e-spinner-inner .e-spin-bootstrap, .material .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4, .material .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-arc {
        stroke: #e3165b;
    }

    .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-circle {
        stroke: none;
    }

    .highcontrast .e-spinner-pane .e-spinner-inner .e-spin-bootstrap {
        fill: #ffd939;
    }

    .highcontrast .e-spinner-pane .e-spinner-inner .e-spin-material, .highcontrast .e-spinner-pane .e-spinner-inner .e-spin-bootstrap, .highcontrast .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4, .highcontrast .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-arc {
        stroke: #ffd939;
    }

    .bootstrap4 .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-arc {
        stroke: #007bff;
    }

    .tailwind .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4 {
        stroke: #4f46e5;
    }

    .material3-dark .e-spinner-pane .e-spinner-inner .e-spin-label,
    .material-dark .e-spinner-pane .e-spinner-inner .e-spin-label {
        color: #fff;
    }

    .bootstrap-dark .e-spinner-pane .e-spinner-inner .e-spin-material, .bootstrap-dark .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-arc, .bootstrap-dark .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4, .bootstrap-dark .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-arc {
        stroke: #fff;
    }

    .bootstrap .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
        stroke: rgba(0, 0, 0, 0.4);
    }

    .bootstrap4 .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-arc {
        stroke: #007bff;
    }

    .bootstrap4 .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
        stroke: rgba(0, 123, 255, 0.4);
    }

    .highcontrast .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
        stroke: rgba(255, 217, 57, 0.4);
    }

    .tailwind .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
        stroke: rgba(79, 70, 229, 0.4);
    }

    .fabric-dark .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
        stroke: rgba(0, 116, 204, 0.4);
    }

    .bootstrap-dark .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
        stroke: rgba(255, 255, 255, 0.4);
    }

    .tailwind-dark .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
        stroke: rgba(34, 211, 238, 0.4);
    }

    .tailwind-dark .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4 {
        stroke: #22d3ee;
    }

    @@media only screen and (max-width: 1025px) {
        #container .row {
            display: flex;
        }
    }
</style>

