<SampleDescription>
    <p> This example demonstrates the template functionalities of the <code>Accordion</code> component. The content of panel `Network & Connectivity` is loaded from external blazor component.</p>
</SampleDescription>
<ActionDescription>
   <p>  This sample illustrates to load an <code>Accordion</code> content from another razor page by using <code>ContentTemplate</code> property. The content of panel `Camera` is loaded based on the nested behavior of `Accordion` component.</p>
</ActionDescription>

<div>
    <table>
        <tr>
            <th rowspan="2">CELLULAR</th>
            <td class='e-bold'>Technology</td>
            <td>GSM / CDMA / HSPA / EV-DO / LTE</td>
        </tr>
        <tr>
            <td class='e-bold'>Edge</td>
            <td>Yes</td>
        </tr>
        <tr>
            <th rowspan="3">WIRELESS</th>
            <td class='e-bold'>Wi-Fi</td>
            <td>Yes ( 802.11 a/b/g/n/ac )</td>
        </tr>
        <tr>
            <td class='e-bold'>Bluetooth</td>
            <td>Yes ( v 5.0 )</td>
        </tr>
        <tr>
            <td class='e-bold'>NFC</td>
            <td>Yes</td>
        </tr>
    </table>
</div>