@page "/ComboBox/DefaultFunctionalities"

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "ComboBox";
    SampleBrowser.CurrentControlCategory = "ComboBox";
    SampleBrowser.CurrentControl = SampleBrowser.Config.ComboBox;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the default functionalities of the ComboBox in ASP.NET CORE application. Type a character in the ComboBox element or click the drodown icon to choose an item from the <code>options</code> list.
            The selected item's <code>value</code> and <code>text</code> property values will be shown in the property panel.
        </p>"
    };
    SampleBrowser.Description = new string[] {
            @"<p>The <code>ComboBox</code> component allows the user to type a value, or choose an option from the list of predefined options.</p>
        <p>
            More information on the ComboBox instantiation can be found in the
            <a href=""https://ej2.syncfusion.com/aspnetcore/documentation/combo-box/getting-started/"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper" >
        <EjsComboBox ID="games" PopupHeight="230px" fields="@comboBoxFields" index="2" placeholder="Select a game" DataSource="@games"></EjsComboBox>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 70px;
    }
</style>

@functions{
    List<object> games = new List<object>
    {
    new { id= "Game1", text= "American Football" },
    new { id= "Game2", text= "Badminton" },
    new { id= "Game3", text= "Basketball" },
    new { id= "Game4", text= "Cricket" },
    new { id= "Game5", text= "Football" },
    new { id= "Game6", text= "Golf" },
    new { id= "Game7", text= "Hockey" },
    new { id= "Game8", text= "Rugby"},
    new { id= "Game9", text= "Snooker" },
    new { id= "Game10", text= "Tennis"},
    };

    public object comboBoxFields = new {
        Text="Game", Value="Id"
    };
}
