@page "/ComboBox/DefaultFunctionalities"

@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "ComboBox";
    SampleBrowser.CurrentControlCategory = "ComboBox";
    SampleBrowser.CurrentControl = SampleBrowser.Config.ComboBox;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the default functionalities of the ComboBox in ASP.NET CORE application. Type a character in the ComboBox element or click the drodown icon to choose an item from the <code>options</code> list.
            The selected item's <code>value</code> and <code>text</code> property values will be shown in the property panel.
        </p>"
    };
    SampleBrowser.Description = new string[] {
            @"<p>The <code>ComboBox</code> component allows the user to type a value, or choose an option from the list of predefined options.</p>
        <p>
            More information on the ComboBox instantiation can be found in the
            <a href=""https://ej2.syncfusion.com/aspnetcore/documentation/combo-box/getting-started/"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsComboBox ID="games" PopupHeight="230px" index="2" placeholder="Select a game" DataSource="@games">
            <ComboBoxFieldSettings Text="text" Value="id"></ComboBoxFieldSettings>
        </EjsComboBox>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 70px;
    }
</style>

@code{
   public class GameFields
    {
        public string id { get; set; }

        public string text { get; set; }
    }

    List<GameFields> games = new List<GameFields>()
    {
        new GameFields(){ id= "Game1", text= "American Football" },
        new GameFields(){ id= "Game2", text= "Badminton" },
        new GameFields(){ id= "Game3", text= "Basketball" },
        new GameFields(){ id= "Game4", text= "Cricket" },
        new GameFields(){ id= "Game5", text= "Football" },
        new GameFields(){ id= "Game6", text= "Golf" },
        new GameFields(){ id= "Game7", text= "Hockey" },
        new GameFields(){ id= "Game8", text= "Rugby"},
        new GameFields(){ id= "Game9", text= "Snooker" },
        new GameFields(){ id= "Game10", text= "Tennis"},
    };
 }
