@page "/DropDown-List/Filtering"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
     <p>This sample demonstrates the filtering functionalities of the DropDownList. Click the DropDownList component and then type a character in the search box in dropdown. It will display the filtered list items based on the typed characters.</p>
</SampleDescription>
<ActionDescription>
    <p>The DropDownList has built-in support to filter the data source, when <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.IDropDownList.html#Syncfusion_Blazor_DropDowns_IDropDownList_AllowFiltering' target='_blank' aria-label="Class reference of AllowFiltering property in DropDownList">AllowFiltering</a> property is set to <code>true</code>. 
      In the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.ComboBoxEvents-2.html#Syncfusion_Blazor_DropDowns_ComboBoxEvents_2_Filtering' target='_blank' aria-label="Class reference of Filtering event in DropDownList">Filtering</a> event, you can filter the data source and return the resulted data to DropDownList using <code>UpdateData</code> method to perform custom filtering.
    </p>
    <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/dropdown-list/filtering/' target='_blank' aria-label="Blazor Dropdown List Filtering documentation">Blazor Dropdown List - Filtering</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Select a country</label>
        <SfDropDownList TValue="string" TItem="Countries" Placeholder="e.g. Australia" AllowFiltering="true" DataSource="@Country">
            <DropDownListFieldSettings Text="Name" Value="Code"/>
        </SfDropDownList>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>

@code{

    
    public class Countries
    {
        public string Name { get; set; }
        public string Code { get; set; }
    }

    private List<Countries> Country = new List<Countries>
    {
        new Countries() { Name = "Australia", Code = "AU" },
        new Countries() { Name = "Bermuda", Code = "BM" },
        new Countries() { Name = "Canada", Code = "CA" },
        new Countries() { Name = "Cameroon", Code = "CM" },
        new Countries() { Name = "Denmark", Code = "DK" },
        new Countries() { Name = "France", Code = "FR" },
        new Countries() { Name = "Finland", Code = "FI" },
        new Countries() { Name = "Germany", Code = "DE" },
        new Countries() { Name = "Greenland", Code = "GL" },
        new Countries() { Name = "Hong Kong", Code = "HK" },
        new Countries() { Name = "India", Code = "IN" },
        new Countries() { Name = "Italy", Code = "IT" },
        new Countries() { Name = "Japan", Code = "JP" },
        new Countries() { Name = "Mexico", Code = "MX" },
        new Countries() { Name = "Norway", Code = "NO" },
        new Countries() { Name = "Poland", Code = "PL" },
        new Countries() { Name = "Switzerland", Code = "CH" },
        new Countries() { Name = "United Kingdom", Code = "GB" },
        new Countries() { Name = "United States", Code = "US" }
    };
}
