@page "/DropDown-List/Inline"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the rendering of the DropDownList component in line with other content. Click the DropDownList component and select an item from the dropdown list.</p>
</SampleDescription>
<ActionDescription>
   <p>The DropDownList component is rendered in line with other content by overriding the styles.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <div class="inline">
            <span id="contentText" class="dropdown-size">
                Blazor top expert of this week is
                <SfDropDownList TValue="string" TItem="Data" CssClass="inlinecss" Placeholder="Select an employee" DataSource="@InlineEmployees" Value="@TextValue" Width="65px" PopupHeight="200px" PopupWidth="140px">
                    <DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
                </SfDropDownList>
            </span>
        </div>
    </div>
</div>

@code{
    public string TextValue { get; set; } = "Michael";
    

    public class Data
    {
        public string Name { get; set; }
        public string Eimg { get; set; }
    }

    List<Data> InlineEmployees = new List<Data>
    {
        new Data() { Name = "Andrew", Eimg = "7" },
        new Data() { Name = "Anne", Eimg = "1" },
        new Data() { Name = "Janet", Eimg = "3" },
        new Data() { Name = "Laura", Eimg = "2" },
        new Data() { Name = "Michael", Eimg = "9" },
        new Data() { Name = "Nancy", Eimg = "4" },
        new Data() { Name = "Robert", Eimg = "8" },
        new Data() { Name = "Steven", Eimg = "10" }
    };
}

<style>
    .control-wrapper {
        margin: 0 auto;
        width: 325px;
    }

    .inlinecss.e-ddl .e-input-group-icon.e-ddl-icon {
        display: none;
    }

    .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        font-size: 17px;
        font-weight: 500;
        margin: -7px 0px 0px 0px;
        padding: 0px;
    }

    .material3 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .material3-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .material .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .material-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        margin: 0px;
    }

    .tailwind .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .tailwind-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        margin: -4px 0 0 0;
    }

    .bootstrap .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        margin: -2px 0 0 0;
    }

    .bootstrap4 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .bootstrap-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        margin: -5px 0 0 0;
    }

    .bootstrap5 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .bootstrap5-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input
    .fabric .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .fabric-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        margin: -6px 0 0 0;
    }

    .e.bigger .bootstrap4 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
    .bootstrap-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        margin: -5px 0 0 0;
    }

    .e-bigger .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
        padding: 0px;
    }  

    #contentText .e-input-group.e-control-wrapper.e-ddl::before,
    #contentText .e-input-group.e-control-wrapper.e-ddl::after {
        content: none;
    }

    #contentText .e-input-group.e-control-wrapper.e-ddl,
    #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    #contentText .e-input-group.e-ddl.e-input-focus,
    #contentText .e-input-group.e-ddl.e-input-focus::before,
    #contentText .e-input-group.e-ddl.e-input-focus::after {
        border-width: 0px;
        border: none;
        border-bottom: 1px dashed black;
        box-shadow: none;
    }

    .highcontrast #contentText .e-input-group.e-control-wrapper.e-ddl,
    .highcontrast #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .highcontrast #contentText .e-input-group.e-ddl.e-input-focus,
    .highcontrast #contentText .e-input-group.e-ddl.e-input-focus::before,
    .highcontrast #contentText .e-input-group.e-ddl.e-input-focus::after {
        border-bottom: 1px dashed #f0f0f0;
    }

    .material-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .material-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .material-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .material-dark #contentText .e-input-group.e-ddl.e-input-focus,
    .material-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
    .material-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
    .material3-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .material3-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .material3-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .material3-dark #contentText .e-input-group.e-ddl.e-input-focus,
    .material3-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
    .material3-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
    .fabric-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .fabric-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .fabric-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .fabric-dark #contentText .e-input-group.e-ddl.e-input-focus,
    .fabric-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
    .fabric-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
    .bootstrap-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .bootstrap-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .bootstrap-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .bootstrap-dark #contentText .e-input-group.e-ddl.e-input-focus,
    .bootstrap-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
    .bootstrap-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
    .bootstrap5-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .bootstrap5-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .bootstrap5-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .bootstrap5-dark #contentText .e-input-group.e-ddl.e-input-focus,
    .bootstrap5-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
    .bootstrap5-dark #contentText .e-input-group.e-ddl.e-input-focus::after {
        border-bottom: 1px dashed #f0f0f0;
    }

    .tailwind-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .tailwind-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .tailwind-dark #contentText .e-input-group.e-ddl.e-input-focus,
    .tailwind-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
    .tailwind-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
    .fluent-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
    .fluent-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
    .fluent-dark #contentText .e-input-group.e-ddl.e-input-focus,
    .fluent-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
    .fluent-dark #contentText .e-input-group.e-ddl.e-input-focus::after {
        border-bottom: 1px dashed #f0f0f0;
    }

    .inline {
        padding-top: 75px;
    }

    .dropdown-size {
        font-size: 14px;
    }
</style>
