@page "/word/bookmark-navigation"
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO
@using Syncfusion.Blazor.Buttons
@using BlazorDemos.Data.DocumentProcessing.Word
@inject HttpClient Http
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p style="font-size:16px">This sample demonstrates how to navigate between the bookmarks in a Word document and edit its content using Bookmark Navigation functionality of Essential DocIO.</p>
</SampleDescription>
<ActionDescription>
    <p style="font-size:16px">DocIO allows you to insert or delete bookmarks in the Word document and edit its content.</p><p style="font-size:16px"><ul style="font-size:16px"><li>You can easily identify a part of the document for future reference by adding bookmark.</li><li>
                Bookmark navigation lets you navigate to a specific bookmark and get its content as new document.</li><li>
                You can insert, replace or delete the contents of a specific bookmark in the Word document.</li><li>You can select the column range for bookmarks inside tables in Word documents using FirstColumn and LastColumn APIs.</li></ul></p><p style="font-size:16px">More information about the bookmarks can be found in this <a href="https://help.syncfusion.com/file-formats/docio/working-with-bookmarks" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

    <div class="control-section">
        <p style="font-size:16px">Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.</p>

        <table>
            <tr>
                <td>
                    <h5 class="row" style="font-size:16px">Save As:</h5>
                </td>
                <td>
                    <div class="col-xs-12 col-sm-12 col-lg-1 col-md-6">
                        <SfRadioButton Label="DOC" Name="DOC" Value=@("DOC") @bind-Checked="@documentType"></SfRadioButton>
                    </div>
                </td>
                <td>
                    <div class="col-xs-12 col-sm-12 col-lg-1 col-md-6">
                        <SfRadioButton Label="DOCX" Name="DOCX" Value=@("DOCX") @bind-Checked="@documentType"></SfRadioButton>
                    </div>
                </td>
                <td>
                    <div class="col-xs-12 col-sm-12 col-lg-1 col-md-6">
                        <SfRadioButton Label="WordML" Name="WordML" Value=@("WordML") @bind-Checked="@documentType"></SfRadioButton>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="button-section">
                        <div id="button-control">
                            <div class="row">
                                <div>
                                    <SfButton @onclick="ViewTemplate">View Template</SfButton>&nbsp;
                                    <SfButton @onclick="GenerateDocument">Generate Document</SfButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    

<style>
    .control-section .row {
        margin: 10px 0;
    }
</style>

@code {
    MemoryStream documentStream;
    string documentType = "DOCX";
    //Hidden:Lines
    
    Dictionary<string, MemoryStream> fileData = new Dictionary<string, MemoryStream>();
    
    //End:Hidden

    /// <summary>
    /// Create and download the simple Word document
    /// </summary>
    public async Task GenerateDocument(MouseEventArgs args)
    {
        await LoadTemplate();
        BookmarkNavigationService service = new BookmarkNavigationService(fileData);
        documentStream = service.BookmarkNavigation(documentType,"Generate Document");
        service.Close();
        if (documentType == "DOC")
            await JS.SaveAs("Bookmark Navigation.doc", documentStream.ToArray());
        else if (documentType == "WordML")
            await JS.SaveAs("Bookmark Navigation.xml", documentStream.ToArray());
        else
            await JS.SaveAs("Bookmark Navigation.docx", documentStream.ToArray());
    }
    /// <summary>
    /// Create and download the template Word document
    /// </summary>
    public async Task ViewTemplate(MouseEventArgs args)
    {
        await LoadTemplate();
        BookmarkNavigationService service = new BookmarkNavigationService(fileData);
        documentStream = service.BookmarkNavigation(documentType, "View Template");
        service.Close();
        await JS.SaveAs("Bookmark_Template.docx", documentStream.ToArray());
    }
    /// <summary>
    /// Load the template document
    /// </summary>
    public async Task LoadTemplate()
    {
        if (fileData != null && fileData.Count == 0)
        {
            string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;
            byte[] data = await Http.GetByteArrayAsync(fileDataPath + "data/word/bookmark-template.docx");
            fileData.Add("bookmark-template.docx", new MemoryStream(data));
            data = await Http.GetByteArrayAsync(fileDataPath + "data/word/bkmk-document-part-template.docx");
            fileData.Add("bkmk-document-part-template.docx", new MemoryStream(data));
            data = await Http.GetByteArrayAsync(fileDataPath + "images/word/northwind.png");
            fileData.Add("northwind.png", new MemoryStream(data));
        }
    }
}