@page "/word/compare-documents"
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO
@using Syncfusion.Blazor.Buttons
@using BlazorDemos.Data.DocumentProcessing.Word
@inject HttpClient Http
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p style="font-size:16px">This sample demonstrates how to compare two Word documents using .NET Word (DocIO) library. With this, you can easily identify the changes between two versions of a document.</p>
</SampleDescription>
<ActionDescription>  
    <p style="font-size:16px"> The .NET Word library (DocIO) allows you to compare two Word documents and highlight the changes, such as insertions, deletions, and formatting, as tracked changes.</p>
    <p style="font-size:16px">More information about comparing Word document can be found in this <a href="https://help.syncfusion.com/file-formats/docio/word-document/compare-word-documents" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

    <div class="control-section">
    <p style="font-size:16px">Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.</p>
    <div class="checkbox-control">
        <div class="row" style="width:auto">
            <SfCheckBox @bind-Checked="@isDetectFormat" Label="Detect format changes"></SfCheckBox>
        </div>
    </div>
    <table>
            <tr>
                <td colspan="1">
                    <div class="button-section">
                        <div id="button-control">
                            <div class="row">
                                <div>
                                    <SfButton @onclick="CompareWordDocuments">Compare Documents</SfButton>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

<style>
    .control-section .row {
        margin: 10px 0;
    }
</style>

@code {
    MemoryStream documentStream;
    bool isDetectFormat = true;
    //Hidden:Lines
    
    Dictionary<string, MemoryStream> fileData = new Dictionary<string, MemoryStream>();
    
    //End:Hidden
    /// <summary>
    /// Compare Word documents
    /// </summary>
    public async Task CompareWordDocuments(MouseEventArgs args)
    {
        await LoadTemplate();
        CompareDocumentsService service = new CompareDocumentsService(fileData);
        documentStream = service.CompareDocuments(isDetectFormat);
        service.Close();
        await JS.SaveAs("CompareDocuments.docx", documentStream.ToArray());
    }
    /// <summary>
    /// Loads the template documents
    /// </summary>
    public async Task LoadTemplate()
    {
        if (fileData != null && fileData.Count == 0)
        {
            string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;
            byte[] data = await Http.GetByteArrayAsync(fileDataPath + "data/word/original-document.docx");
            fileData.Add("original-document.docx", new MemoryStream(data));
            data = await Http.GetByteArrayAsync(fileDataPath + "data/word/revised-document.docx");
            fileData.Add("revised-document.docx", new MemoryStream(data));
        }
    }
}