@page "/word/word-to-pdfa"
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO
@using Syncfusion.Blazor.Buttons
@using BlazorDemos.Data.DocumentProcessing.Word
@inherits SampleBaseComponent;

<SampleDescription>
    <p style="font-size:16px">This sample demonstrates how to convert a Word document to PDF/A using .NET Word (DocIO) library and .NET PDF library.</p>
</SampleDescription>
<ActionDescription>
   <p style="font-size:16px">This feature can be used for long term archiving and standardization. More information about converting Word document to PDF with conformance can be found in this <a href="https://help.syncfusion.com/file-formats/docio/word-to-pdf#pdf-conformance-level">documentation</a> section.</p>
</ActionDescription>

<div class="control-section">
    <p style="font-size:16px">Click the button to view the generated PDF/A document being converted from Word document using .NET Word (DocIO) library and .NET PDF library. Please note that PDF viewer is required to view the resultant PDF.</p>
    <div class="button-section">
        <div id="button-control">
            <div class="row">
                <div>
                    <SfButton @onclick="ViewTemplate">View Template</SfButton>&nbsp;
                    <SfButton @onclick="GenerateDocument">Convert to PDF</SfButton>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .control-section .row {
        margin: 10px 0;
    }
</style>

@code {
    MemoryStream documentStream;

    /// <summary>
    /// Create and download the simple Word document
    /// </summary>
    public async Task GenerateDocument(MouseEventArgs args)
    {
        WordToPDFAService service = new WordToPDFAService();
        documentStream = service.WordToPDF("Generate Document");
        await JS.SaveAs("WordToPDF_Pdf_A3A.pdf", documentStream.ToArray());
    }
    /// <summary>
    /// Create and download the template Word document
    /// </summary>
    public async Task ViewTemplate(MouseEventArgs args)
    {
        WordToPDFAService service = new WordToPDFAService();
        documentStream = service.WordToPDF("View Template");
        await JS.SaveAs("WordToPDF.docx", documentStream.ToArray());
    }
}