body.material-dark, .material-dark #sb-header-text,
.material-dark .control-name,.material-dark .control-section,
.material-dark .sample-navigation,
.material-dark .sf-list .sf-list-li .sf-text-content,
.material-dark .sb-left-pane .sf-tree-expand-icon,
.material-dark .sb-left-pane .sf-tree-collapse-icon,
.material-dark .sb-left-pane .sf-tree-text,
.material-dark .sf-text-content, .material-dark .sb-sample-text,
.material-dark .sf-search-container .sf-list-li, .material-dark .sb-home-text,
.material-dark .property-section, .material-dark .sb-tab-content,
.material-dark .sb-notification-item .sf-clear-icon::before,
.material-dark .sf-search-no-data, .material-dark .github-logo::after,
.material-dark .sf-list-group-li > span, .material-dark .sb-notification-content,
.material-dark .sf-dropdown-input,
body.fabric-dark, .fabric-dark #sb-header-text,
.fabric-dark .control-name,.fabric-dark .control-section,
.fabric-dark .sample-navigation,
.fabric-dark .sf-list .sf-list-li .sf-text-content,
.fabric-dark .sb-left-pane .sf-tree-expand-icon,
.fabric-dark .sb-left-pane .sf-tree-collapse-icon,
.fabric-dark .sb-left-pane .sf-tree-text,
.fabric-dark .sf-text-content, .fabric-dark .sb-sample-text,
.fabric-dark .sf-search-container .sf-list-li, .fabric-dark .sb-home-text,
.fabric-dark .property-section, .material-dark .sb-tab-content,
.fabric-dark .sb-notification-item .sf-clear-icon::before,
.fabric-dark .sf-search-no-data, .fabric-dark .github-logo::after,
.fabric-dark .sf-dropdown-input,
.fabric-dark .sf-list-group-li > span, .fabric-dark .sb-notification-content,
body.bootstrap-dark, .bootstrap-dark #sb-header-text,
.bootstrap-dark .control-name,.bootstrap-dark .control-section,
.bootstrap-dark .sample-navigation,
.bootstrap-dark .sf-list .sf-list-li .sf-text-content,
.bootstrap-dark .sb-left-pane .sf-tree-expand-icon,
.bootstrap-dark .sb-left-pane .sf-tree-collapse-icon,
.bootstrap-dark .sb-left-pane .sf-tree-text,
.bootstrap-dark .sf-text-content, .bootstrap-dark .sb-sample-text,
.bootstrap-dark .sf-search-container .sf-list-li, .bootstrap-dark .sb-home-text,
.bootstrap-dark .property-section, .bootstrap-dark .sb-tab-content,
.bootstrap-dark .sb-notification-item .sf-clear-icon::before,
.bootstrap-dark .sf-search-no-data, .bootstrap-dark .github-logo::after,
.bootstrap-dark .sf-dropdown-input,
.bootstrap-dark .sf-list-group-li > span, .bootstrap-dark .sb-notification-content,
body.bootstrap5-dark, .bootstrap5-dark #sb-header-text,
.bootstrap5-dark .control-name, .bootstrap5-dark .control-section,
.bootstrap5-dark .sample-navigation,
.bootstrap5-dark .sf-list .sf-list-li .sf-text-content,
.bootstrap5-dark .sb-left-pane .sf-tree-expand-icon,
.bootstrap5-dark .sb-left-pane .sf-tree-collapse-icon,
.bootstrap5-dark .sb-left-pane .sf-tree-text,
.bootstrap5-dark .sf-text-content, .bootstrap5-dark .sb-sample-text,
.bootstrap5-dark .sf-search-container .sf-list-li, .bootstrap5-dark .sb-home-text,
.bootstrap5-dark .property-section, .bootstrap5-dark .sb-tab-content,
.bootstrap5-dark .sb-notification-item .sf-clear-icon::before,
.bootstrap5-dark .sf-search-no-data,
.bootstrap5-dark .sf-dropdown-input, .bootstrap5-dark .github-logo::after,
.bootstrap5-dark .sf-list-group-li > span, .bootstrap5-dark .sb-notification-content,
body.tailwind-dark, .tailwind-dark #sb-header-text,
.tailwind-dark .control-name,.tailwind-dark .control-section,
.tailwind-dark .sample-navigation,
.tailwind-dark .sf-list .sf-list-li .sf-text-content,
.tailwind-dark .sb-left-pane .sf-tree-expand-icon,
.tailwind-dark .sb-left-pane .sf-tree-collapse-icon,
.tailwind-dark .sb-left-pane .sf-tree-text,
.tailwind-dark .sf-dropdown-input, .tailwind-dark .github-logo::after,
.tailwind-dark .sf-text-content, .tailwind-dark .sb-sample-text,
.tailwind-dark .sf-search-container .sf-list-li, .tailwind-dark .sb-home-text,
.tailwind-dark .property-section, .tailwind-dark .sb-tab-content, .tailwind-dark .sb-notification-item .sf-clear-icon::before,
.tailwind-dark .sf-search-no-data, .tailwind-dark .sf-list-group-li > span, .tailwind-dark .sb-notification-content,
body.fluent-dark, .fluent-dark #sb-header-text,
.fluent-dark .control-name,.fluent-dark .control-section,
.fluent-dark .sample-navigation,
.fluent-dark .sf-list .sf-list-li .sf-text-content,
.fluent-dark .sb-left-pane .sf-tree-expand-icon,
.fluent-dark .sb-left-pane .sf-tree-collapse-icon,
.fluent-dark .sb-left-pane .sf-tree-text,
.fluent-dark .sf-dropdown-input, .fluent-dark .github-logo::after,
.fluent-dark .sf-text-content, .fluent-dark .sb-sample-text,
.fluent-dark .sf-search-container .sf-list-li, .fluent-dark .sb-home-text,
.fluent-dark .property-section, .fluent-dark .sb-tab-content, .fluent-dark .sb-notification-item .sf-clear-icon::before,
.fluent-dark .sf-search-no-data, .fluent-dark .sf-list-group-li > span, .fluent-dark .sb-notification-content{
    color: #ffffff !important;
}

.material-dark .sb-notification-content-container, .fabric-dark .sb-notification-content-container, .bootstrap-dark .sb-notification-content-container,
.bootstrap5-dark .sb-notification-content-container, .tailwind-dark .sb-notification-content-container, .fluent-dark .sb-notification-content-container {
    border: 1px solid #fff;
}

body.bootstrap-dark, .bootstrap-dark .sb-body-overlay, .bootstrap-dark .sf-sidebar, .bootstrap-dark .sb-content, .bootstrap-dark .sf-dropdown-input-container, .bootstrap-dark .sb-left-pane, .bootstrap-dark .sb-github-btn,
.bootstrap-dark #header-theme-switcher .sf-dropdown-popup, .bootstrap-dark .sb-header, .bootstrap-dark .sb-content-section, .bootstrap-dark .sb-content-section .sb-content-tab-header,
.bootstrap-dark .sf-search-popup, .bootstrap-dark .sf-search-input, .bootstrap-dark .sf-preferences-popup, .bootstrap-dark .sf-dropdown-popup, .bootstrap-dark .sb-notification-popup, .bootstrap-dark .sb-notification-content-container {
    background-color: #1a1a1a;
}

body.bootstrap5-dark, .bootstrap5-dark .sb-body-overlay, .bootstrap5-dark .sf-sidebar, .bootstrap5-dark .sb-content, .bootstrap5-dark .sf-dropdown-input-container, .bootstrap5-dark .sb-left-pane, .bootstrap5-dark .sb-github-btn,
.bootstrap5-dark #header-theme-switcher .sf-dropdown-popup, .bootstrap5-dark .sb-header, .bootstrap5-dark .sb-content-section, .bootstrap5-dark .sb-content-section .sb-content-tab-header,
.bootstrap5-dark .sf-search-popup, .bootstrap5-dark .sf-search-input, .bootstrap5-dark .sf-preferences-popup, .bootstrap5-dark .sf-dropdown-popup, .bootstrap5-dark .sb-notification-popup, .bootstrap5-dark .sb-notification-content-container {
    background-color: #212529;
}

body.tailwind-dark, .tailwind-dark .sb-body-overlay, .tailwind-dark .sf-sidebar, .tailwind-dark .sb-content, .tailwind-dark .sf-dropdown-input-container, .tailwind-dark .sb-left-pane, .tailwind-dark .sb-github-btn,
.tailwind-dark #header-theme-switcher .sf-dropdown-popup, .tailwind-dark .sb-header, .tailwind-dark .sb-content-section, .tailwind-dark .sb-content-section .sb-content-tab-header,
.tailwind-dark .sf-search-popup, .tailwind-dark .sf-search-input, .tailwind-dark .sf-preferences-popup, .tailwind-dark .sf-dropdown-popup, .tailwind-dark .sb-notification-popup, .tailwind-dark .sb-notification-content-container {
    background-color: #1f2937;
}

body.material-dark, .material-dark .sb-body-overlay, .material-dark .sf-sidebar, .material-dark .sb-content, .material-dark .sf-dropdown-input-container, .material-dark .sb-left-pane, .material-dark .sb-github-btn,
.material-dark #header-theme-switcher .sf-dropdown-popup, .material-dark .sb-header, .material-dark .sb-content-section, .material-dark .sb-content-section .sb-content-tab-header,
.material-dark .sf-search-popup, .material-dark .sf-search-input, .material-dark .sf-preferences-popup, .material-dark .sf-dropdown-popup, .material-dark .sb-notification-popup, .material-dark .sb-notification-content-container {
    background-color: #303030;
}

body.fabric-dark, .fabric-dark .sb-body-overlay, .fabric-dark .sf-sidebar, .fabric-dark .sb-content, .fabric-dark .sf-dropdown-input-container, .fabric-dark .sb-left-pane, .fabric-dark .sb-github-btn,
.fabric-dark #header-theme-switcher .sf-dropdown-popup, .fabric-dark .sb-header, .fabric-dark .sb-content-section, .fabric-dark .sb-content-section .sb-content-tab-header,
.fabric-dark .sf-search-popup, .fabric-dark .sf-search-input, .fabric-dark .sf-preferences-popup, .fabric-dark .sf-dropdown-popup, .fabric-dark .sb-notification-popup, .fabric-dark .sb-notification-content-container {
    background-color: #201f1f;
}

body.fluent-dark, .fluent-dark .sb-body-overlay, .fluent-dark .sb-content, .fluent-dark .sb-github-btn,
.fluent-dark .sb-content-section, .fluent-dark .sb-content-section .sb-content-tab-header {
    background-color: #1B1A19;
}
.fluent-dark .sf-sidebar, .fluent-dark .sb-left-pane, .fluent-dark .sb-header, .fluent-dark .sf-search-input, .fluent-dark .sf-dropdown-input-container {
    background-color: #201F1E;
}
.fluent-dark #header-theme-switcher .sf-dropdown-popup, .fluent-dark .sf-dropdown-popup, .fluent-dark .sb-mobile-demo-popup .sf-list-ul, .fluent-dark .sf-preferences-popup, .fluent-dark .sf-search-popup,
.fluent-dark .sb-notification-popup, .fluent-dark .sb-notification-content-container {
    background-color: #252423;
}

.material-dark .sf-list-li.sf-list-li-active, .material-dark .sf-tree-full-row.sf-tree-active, .material-dark .sf-preference-btn.active, .material-dark .sf-dropdown-container sf-list-li.active {
    background: #00b0ff;
}

.material-dark .sf-list-li:hover:not(.sf-list-li-active), .material-dark .sf-search-hover, .material-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #808080;
}
.fabric-dark .sf-list-li.sf-list-li-active, .fabric-dark .sf-tree-full-row.sf-tree-active, .fabric-dark .sf-preference-btn.active, .fabric-dark .sf-dropdown-container sf-list-li.active {
    background: #0074CC;
}
.fabric-dark .sf-list-li:hover:not(.sf-list-li-active), .fabric-dark .sf-search-hover, .fabric-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #313131;
    color: #fff
}

.bootstrap-dark .sf-list-li.sf-list-li-active, .bootstrap-dark .sf-tree-full-row.sf-tree-active, .bootstrap-dark .sf-preference-btn.active, .bootstrap-dark .sf-dropdown-container sf-list-li.active {
    background: #0070f0;
}
.bootstrap-dark .sf-list-li:hover:not(.sf-list-li-active), .bootstrap-dark .sf-search-hover, .bootstrap-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #313131;
    color: #fff
}
.bootstrap5-dark .sf-list-li:hover:not(.sf-list-li-active), .bootstrap5-dark .sf-search-hover, .bootstrap5-dark .sf-tree-full-row:hover:not(.sf-tree-active), .bootstrap5-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #31373d;
    color: #fff
}
.tailwind-dark .sf-list-li:hover:not(.sf-list-li-active), .tailwind-dark .sf-search-hover, .tailwind-dark .sf-tree-full-row:hover:not(.sf-tree-active), .tailwind-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #4b5563;
    color: #fff
}

.tailwind-dark .sf-list-li.sf-list-li-active, .tailwind-dark .sf-tree-full-row.sf-tree-active, .tailwind-dark .sf-preference-btn.active, .tailwind-dark .sf-dropdown-container .sf-list-li.active {
    background: #066174;
}

.tailwind-dark .sf-list-li:hover:not(.sf-list-li-active), .tailwind-dark .sf-search-hover, .tailwind-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #374151;
}

.fluent-dark .sf-list-li.sf-list-li-active, .fluent-dark .sf-tree-full-row.sf-tree-active {
    background: #292827;
}
.fluent-dark .sf-dropdown-container .sf-list-li.active {
    background: #343332;
}
.fluent-dark .sf-list-li:hover:not(.sf-list-li-active), .fluent-dark .sf-tree-full-row:hover:not(.sf-tree-active), .fluent-dark .sf-search-hover {
    background: #252423;
}
.fluent-dark #header-theme-switcher .sf-dropdown-container .sf-list-li:hover, .fluent-dark .sf-dropdown-container .sf-list-li:hover,
.fluent-dark .sf-search-popup .sf-list-li:hover:not(.sf-list-li-active) {
    background: #3B3A39;
    color: #FFFFFF;
}

.material-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.fabric-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.bootstrap-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.tailwind-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text,
.fluent-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #fff;
}

.material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover,
.fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover,
.bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover,
.bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover {
    color: #0278d7;
}

.fluent-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .fluent-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.fluent-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .fluent-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover {
    color: #508CF5;
}
.fluent-dark .sb-toolbar-splitter {
    height: 45px;
}
.material3-dark .sb-toolbar-splitter {
    height: 40px;
}
.tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .tailwind-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover {
    color: #67e8f9;
}

.tailwind-dark .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-indicator {
    background: #67e8f9;
}

.bootstrap5-dark .sf-preferences-button:hover, .bootstrap5-dark .sb-github-btn:hover, .bootstrap5-dark .sf-preferences-button.active, .bootstrap5-dark .sf-notification:hover, .bootstrap5-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #565e64;
}

.tailwind-dark .sf-preferences-button:hover, .tailwind-dark .sb-github-btn:hover, .tailwind-dark .sf-preferences-button.active, .tailwind-dark .sf-notification:hover, .tailwind-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #4b5563;
}
.fabric-dark .sf-preferences-button:hover, .fabric-dark .sb-github-btn:hover, .fabric-dark .sf-preferences-button.active, .fabric-dark .sf-notification:hover, .fabric-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #6f6c6c;
}
.bootstrap-dark .sf-preferences-button:hover, .bootstrap-dark .sb-github-btn:hover, .bootstrap-dark .sf-preferences-button.active, .bootstrap-dark .sf-notification:hover, .bootstrap-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #2a2a2a;
}
.fluent-dark .sf-preferences-button:hover, .fluent-dark .sb-github-btn:hover, .fluent-dark .sf-preferences-button.active, .fluent-dark .sf-notification:hover, .fluent-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #4f4d4a;
}

.material-dark #navigation-btn .e-btn.e-primary, .material-dark #navigation-btn .e-btn .e-btn-icon,
.fabric-dark #navigation-btn .e-btn.e-primary, .fabric-dark #navigation-btn .e-btn .e-btn-icon,
.bootstrap-dark #navigation-btn .e-btn.e-primary, .bootstrap-dark #navigation-btn .e-btn .e-btn-icon,
.fluent-dark #navigation-btn .e-btn.e-primary, .fluent-dark #navigation-btn .e-btn .e-btn-icon {
    line-height: 37px;
}

.material-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .material-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.fabric-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .fabric-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.bootstrap-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .bootstrap-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.bootstrap5-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .bootstrap5-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.tailwind-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .tailwind-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.fluent-dark #sb-index-search-container .sf-search-container .sf-search-icon::before, .fluent-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before {
    color: #fff !important;
}

.bootstrap5-dark #navigation-btn .e-btn:disabled, .material-dark #navigation-btn .e-btn:disabled, .fabric-dark #navigation-btn .e-btn:disabled, .fabric-dark #navigation-btn .e-btn:disabled, .tailwind-dark #navigation-btn .e-btn:disabled, .fluent-dark #navigation-btn .e-btn:disabled {
    color: #5a5a5a;
    cursor: not-allowed;
    pointer-events: none;
}

.bootstrap5-dark #navigation-btn .e-btn, .material-dark #navigation-btn .e-btn, .fabric-dark #navigation-btn .e-btn, .bootstrap-dark #navigation-btn .e-btn, .tailwind-dark #navigation-btn .e-btn, .fluent-dark #navigation-btn .e-btn {
    color: #d0caca;
}

.material-dark .sb-notification-content, .fabric-dark .sb-notification-content, .bootstrap-dark .sb-notification-content, .bootstrap5-dark .sb-notification-content, .tailwind-dark .sb-notification-content, .fluent-dark .sb-notification-content {
    color: #313131;
}

.bootstrap5-dark .sb-icons.sb-footer-logo-icon::after, .material-dark .sb-icons.sb-footer-logo-icon::after, .fabric-dark .sb-icons.sb-footer-logo-icon::after, .bootstrap-dark .sb-icons.sb-footer-logo-icon::after, .tailwind-dark .sb-icons.sb-footer-logo-icon::after, .fluent-dark .sb-icons.sb-footer-logo-icon::after {
    color: #A0A1A3;
}

.material-dark .sb-content-section > .e-tab > .e-tab-header, .fabric-dark .sb-content-section > .e-tab > .e-tab-header, .fluent-dark .sb-content-section > .e-tab > .e-tab-header {
    border-bottom: 1px solid #d7d7d7;
}

.bootstrap5-dark .sb-content-section>.e-tab>.e-tab-header:not(.e-vertical)::before,
.bootstrap-dark .sb-content-section>.e-tab>.e-tab-header:not(.e-vertical)::before,
.tailwind-dark .sb-content-section>.e-tab>.e-tab-header {
    border-bottom-color: #d7d7d7;
}

.bootstrap5-dark .sb-right-pane code, .tailwind-dark .sb-right-pane code, .bootstrap-dark .sb-right-pane code, .fabric-dark .sb-right-pane code, .fluent-dark .sb-right-pane code {
    background-color: #404040 !important;
    color: #e6e6e6 !important;
}
.bootstrap5-dark .sb-right-pane code > a, .tailwind-dark .sb-right-pane code > a, .bootstrap-dark .sb-right-pane code > a, .fabric-dark .sb-right-pane code > a, .fluent-dark .sb-right-pane code > a {
    color: #e6e6e6 !important;
}
.bootstrap5-dark .sb-right-pane a:hover, .tailwind-dark .sb-right-pane a:hover, .bootstrap-dark .sb-right-pane a:hover, .fabric-dark .sb-right-pane a:hover, .fluent-dark .sb-right-pane a:hover,
.bootstrap5-dark .sb-theme-studio a:hover, .tailwind-dark .sb-theme-studio a:hover, .bootstrap-dark .sb-theme-studio a:hover, .fabric-dark .sb-theme-studio a:hover, .fluent-dark .sb-theme-studio a:hover {
    color: #278cda !important;
}

.fluent-dark .sb-notification-category > a, .fluent-dark .sb-Notification-link-label > a, .bootstrap5-dark .sb-notification-category > a, .bootstrap5-dark .sb-Notification-link-label > a {
    color: #088bff;
}

.tailwind-dark .sb-notification-category > a, .tailwind-dark .sb-Notification-link-label > a {
    color: #0891ff;
}

.material-dark .sb-notification-category > a, .material-dark .sb-Notification-link-label > a {
    color: #089fff;
}

.bootstrap-dark .sb-notification-category > a, .bootstrap-dark .sb-Notification-link-label > a {
    color: #087fff;
}

.fabric-dark .sb-notification-category > a, .fabric-dark .sb-Notification-link-label > a {
    color: #0885ff;
}

.fluent-dark .sb-notification-new > a, .bootstrap5-dark .sb-notification-new > a {
    color: #098cff;
}

.tailwind-dark .sb-notification-new > a {
    color: #0993ff;
}

.material-dark .sb-notification-new > a {
    color: #09a1ff;
}

.bootstrap-dark .sb-notification-new > a {
    color: #0980ff;
}

.fabric-dark .sb-notification-new > a {
    color: #0986ff;
}

.fluent-dark #header-theme-switcher .sf-dropdown-input-container input, .bootstrap-dark #header-theme-switcher .sf-dropdown-input-container input {
    color: #0084ff !important;
}

.bootstrap5-dark #header-theme-switcher .sf-dropdown-input-container input {
    color: #0090ff !important;
}

.tailwind-dark #header-theme-switcher .sf-dropdown-input-container input {
    color: #0097ff !important;
}

.material-dark #header-theme-switcher .sf-dropdown-input-container input {
    color: #009eff !important;
}

.fabric-dark #header-theme-switcher .sf-dropdown-input-container input {
    color: #008aff !important;
}

.fluent-dark #header-theme-switcher .sf-dropdown-input-container:hover input, .bootstrap5-dark #header-theme-switcher .sf-dropdown-input-container:hover input,
.tailwind-dark #header-theme-switcher .sf-dropdown-input-container:hover input, .material-dark #header-theme-switcher .sf-dropdown-input-container:hover input,
.bootstrap-dark #header-theme-switcher .sf-dropdown-input-container:hover input, .fabric-dark #header-theme-switcher .sf-dropdown-input-container:hover input {
    color: #278cda !important;
}

.fluent-dark .all-components, .fabric-dark .all-components {
    color: #1e87ff;
}

.bootstrap5-dark .all-components {
    color: #1f8dff;
}

.tailwind-dark .all-components {
    color: #2094ff;
}

.material-dark .all-components {
    color: #219bff;
}

.bootstrap-dark .all-components {
    color: #1d81ff;
}

.fluent-dark .sb-bread-crumb > div, .bootstrap-dark .sb-bread-crumb > div {
    color: #858585;
}

.bootstrap5-dark .sb-bread-crumb > div, .fabric-dark .sb-bread-crumb > div {
    color: #8b8b8b;
}

.tailwind-dark .sb-bread-crumb > div {
    color: #919191;
}

.material-dark .sb-bread-crumb > div {
    color: #989898;
}

.fluent-dark a, .bootstrap5-dark a {
    color: #3b93dd;
}

.tailwind-dark a {
    color: #3d9ae8;
}

.material-dark a {
    color: #40a1f3;
}

.bootstrap-dark a, .fabric-dark a {
    color: #398cd3;
}

.fluent-dark .sb-footer-links a, .bootstrap-dark .sb-footer-links a, .fabric-dark .sb-footer-links a {
    color: #1285ff;
}

.bootstrap5-dark .sb-footer-links a {
    color: #128bff;
}

.tailwind-dark .sb-footer-links a {
    color: #1291ff;
}

.material-dark .sb-footer-links a {
    color: #129fff;
}

.fluent-dark .sf-preference-translate, .bootstrap5-dark .sf-preference-translate, .fabric-dark .sf-preference-translate {
    color: #908a87;
}

.tailwind-dark .sf-preference-translate {
    color: #97908d;
}

.material-dark .sf-preference-translate {
    color: #9e9794;
}

.material-dark .sf-preference-btn {
    background-color: #737373;
}

.bootstrap-dark .sf-preference-translate {
    color: #8a8481;
}

.bootstrap5-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #0290ff;
}

.material-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #029eff;
}

.bootstrap-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #0284ec;
}

.fabric-dark .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text {
    color: #028af7;
}

/*Material-3 dark theme*/

.material3-dark .hljs-string,
.material3-dark .hljs-title,
.material3-dark .hljs-section,
.material3-dark .hljs-attribute,
.material3-dark .hljs-literal,
.material3-dark .hljs-template-tag,
.material3-dark .hljs-template-variable,
.material3-dark .hljs-type,
.material3-dark .hljs-addition,
.material3-dark .sb-icons.sb-back-icon,
.material3-dark .sb-plnr-section,
.material3-dark .sb-component-name,
.material3-dark .sb-icon-hamburger,
.material3-dark .sb-icon-home,
.material3-dark .sf-preference-translate,
.material3-dark .sample-navigation>button:hover,
.material3-dark .sb-left-pane .e-listview .e-list-group-item,
.material3-dark .sb-control-navigation .sf-list .sf-content .sf-list-group-li .sf-list-text,
.material3-dark #sb-toggle-left {
    color: #d0bcff;
}

body.material3-dark,
.material3-dark #sb-header-text,
.material3-dark .control-name,
.material3-dark .sample-navigation,
.material3-dark .sf-list .sf-list-li .sf-text-content,
.material3-dark .sb-left-pane .sf-tree-expand-icon,
.material3-dark .sb-left-pane .sf-tree-collapse-icon,
.material3-dark .sb-left-pane .sf-tree-text,
.material3-dark .sf-search-container .sf-list-li,
.material3-dark .github-logo::after {
    color: #ffffff !important;
}

.material3-dark .sf-search-container * {
    color: #ffffff;
}

.material3-dark .sf-dropdown-input-container,
.material3-dark .sf-dropdown-popup,
.material3-dark .sb-notification-popup,
.material3-dark .sb-notification-item .sf-clear-icon::before {
    color: #fff;
}

.material3-dark .sf-list-li.sf-list-li-active,
.material3-dark .sf-tree-full-row.sf-tree-active,
.material3-dark .sf-list-li.sf-list-li-active:hover,
.material3-dark .sf-preference-btn.active {
    background: #d0bcff;
    color: #000 !important;
}

.material3-dark .sb-content-section>.e-tab>.e-tab-header {
    border-bottom: 1px solid #d7d7d7;
}

.material3-dark .sb-left-pane .sf-list-li:hover:not(.sf-list-li-active),
.material3-dark .sf-search-popup .sf-list-li:hover,
.material3-dark .sf-tree-full-row:hover:not(.sf-tree-active),
.material3-dark .sf-search-hover {
    background: #ffffff1f !important;
}

.material3-dark a,
.material3-dark span.sb-icons.sf-theme-selection-icon:before {
    color: #d0bcff;
}

.material3-dark #header-theme-switcher .sf-dropdown-input-container *,
.material3-dark .all-components {
    color: #ffffff !important;
}

.material3-dark .sb-content-tab.e-tab>.e-tab-header .e-toolbar-items>.e-indicator {
    background: #d0bcff;
    display: block;
}

.material3-dark .sb-content-tab.e-tab>.e-tab-header>.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-text,
.material3-dark .sb-content-tab.e-tab>.e-tab-header>.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-icon {
    color: #ffffff;
}

.material3-dark .sb-content-tab.e-tab>.e-tab-header>.e-toolbar-items>.e-toolbar-item.e-active>.e-tab-wrap>.e-text-wrap>.e-tab-text,
.material3-dark .sb-content-tab.e-tab>.e-tab-header>.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-text:hover,
.material3-dark .sb-content-tab.e-tab>.e-tab-header>.e-toolbar-items>.e-toolbar-item.e-active>.e-tab-wrap>.e-text-wrap>.e-tab-icon,
.material3-dark .sb-content-tab.e-tab>.e-tab-header>.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-icon:hover {
    color: #d0bcff;
}

/*Right pane content*/
body.material3-dark,
.material3-dark .sb-body-overlay,
.material3-dark .sb-content,
.material3-dark .sb-content-section,
.material3-dark .sb-content-section .sb-content-tab-header {
    background-color: #1c1b1f;
}

/*Left pane content*/
.material3-dark .sf-sidebar,
.material3-dark .sb-left-pane,
.material3-dark .sb-header,
.material3-dark .sf-search-input,
.material3-dark .sf-dropdown-input-container {
    background: linear-gradient(0deg,
            rgba(208, 188, 255, 0.08),
            rgba(208, 188, 255, 0.08)),
        #1c1b1f;
}

/*Preference and notification container*/
.material3-dark #header-theme-switcher .sf-dropdown-popup,
.material3-dark .sf-dropdown-popup,
.material3-dark .sf-preferences-popup,
.material3-dark .sf-search-popup,
.material3-dark .sb-notification-popup,
.material3-dark .sb-notification-content-container,
.material3-dark .sb-github-btn {
    background: linear-gradient(0deg,
            rgba(208, 188, 255, 0.08),
            rgba(208, 188, 255, 0.08)),
        #1c1b1f;
}

.material3-dark #sb-index-search-container .sf-search-container .sf-search-icon::before,
.material3-dark #sb-index-search-container .sf-search-container .sf-clear-icon::before,
.material3-dark .sf-search-no-data,
.material3-dark .sf-dropdown-input {
    color: #fff !important;
}

.material3-dark .sf-list-li.sf-list-li-active *,
.material3-dark .sf-tree-active+.sf-tree-text-content * {
    color: #000;
}

/*Preference tab */
.material3-dark .sf-preferences-button:hover,
.material3-dark .sb-github-btn:hover,
.material3-dark .sf-preferences-button.active,
.material3-dark .sf-notification:hover,
.material3-dark .sf-preference-btn:not(.sf-preference-btn.active) {
    background-color: #ffffff1f !important;
}

.material3-dark .sf-search-popup .sf-list-group-li {
    color: #d0bcff;
}

.material3-dark code {
    color: #ffffff !important;
    background: #2b2831 !important;
}

.material3-dark .sf-dropdown-container .sf-list-li.active {
    background-color: #4f378b;
    border-color: #fff;
    color: #fff;
}
.material3-dark .sf-dropdown-container .sf-list-li:hover:not(.active),
.material3-dark .sf-dropdown-input-container:hover,
.material3-dark .sb-search-btn:hover {
    background-color: #ffffff1f !important;
    color: #fff;
}

.material3-dark .sb-src-code {
    background: #2b2831;
    color: #fff;
}

.material3-dark .sb-icons.sb-footer-logo-icon::after {
    color: #5d5d5d;
}

.material3-dark #navigation-btn .e-btn {
    color: #fff;
}

.material3-dark #header-theme-switcher .sf-dropdown-input-container:hover input,
.material3-dark #header-theme-switcher .sf-dropdown-input-container:hover .sb-icons {
    color: #fff !important;
}
.material3-dark .sb-notification-content-container {
    border: 1px solid #fff;
}

.material3-dark .sb-mobile-footer>.sb-navigation-next.sb-right.active,
.material3-dark .sb-mobile-footer .sb-navigation-prev.sb-left.active {
    background: #d0bcff;
    color: #371e73;
}

.material3-dark .sb-source-section .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text {
    color: #d0bcff;
}
.fabric-dark .sb-content-section #navigation-btn .e-btn.e-primary:focus {
    outline: none;
}