.highcontrast .sb-search-btn:hover{
    background: #685708;
}
.highcontrast .sb-left-pane-header .sb-setting-header {
    background: #000000;
}
.highcontrast .sb-home-text {
    color: #fff;
}
.highcontrast #navigation-btn .e-btn.e-primary {
    margin-top: -5px;
}
.highcontrast #navigation-btn .e-btn:disabled {
    color: #5a5a5a;
    cursor: not-allowed;
    pointer-events: none;
}
.highcontrast #navigation-btn .e-btn{
    color:#d0caca;
}
.highcontrast #navigation-btn .e-btn.e-primary:focus {
    outline: none;
}
.highcontrast .path {
    stroke:#ffd939;
}
/* high-contrast theme */
body.highcontrast, .highcontrast .sb-content {
    background: #000000;
}
.highcontrast .sb-header, .highcontrast .sf-preferences-popup, .highcontrast .sb-src-code {
    color: #ffffff;
    background: #000000;
    border-bottom: 1px solid #969696;
}
body.highcontrast, .highcontrast #sb-header-text,
.highcontrast .control-name,
.highcontrast .sample-navigation,
.highcontrast .sf-list .sf-list-li .sf-text-content,
.highcontrast .sb-left-pane .sf-tree-expand-icon,
.highcontrast .sb-left-pane .sf-tree-collapse-icon,
.highcontrast .sb-left-pane .sf-tree-text,
.highcontrast .sf-search-container .sf-list-li,
.highcontrast .github-logo::after 
{
    color: #ffffff !important;
}
.highcontrast .sb-mobile-footer {
    background-color: black;
}
.highcontrast .sb-body-overlay,
.highcontrast .sf-sidebar {
    background-color: #000000;
}
.highcontrast a {
    color: #1783ff !important;
}
.highcontrast a:hover {
    color: #278cda;
}
.highcontrast .hljs-string, 
.highcontrast .hljs-title, 
.highcontrast .hljs-section, 
.highcontrast .hljs-attribute, 
.highcontrast .hljs-literal, 
.highcontrast .hljs-template-tag, 
.highcontrast .hljs-template-variable, 
.highcontrast .hljs-type, 
.highcontrast .hljs-addition, 
.highcontrast .sb-icons.sb-back-icon, 
.highcontrast .sb-plnr-section, 
.highcontrast .sb-bread-crumb > div , 
.highcontrast .sb-component-name, 
.highcontrast .sb-icon-hamburger, 
.highcontrast .sb-icon-home, 
.highcontrast .sf-preference-translate, 
.highcontrast .sample-navigation > button:hover, 
.highcontrast .sb-left-pane .e-listview .e-list-group-item, 
.highcontrast .sb-control-navigation .sf-list .sf-content .sf-list-group-li .sf-list-text {
    color: #ffd939;
}

.highcontrast .sf-list-li.sf-list-li-active, 
.highcontrast .sf-tree-full-row.sf-tree-active,
.highcontrast .sf-list-li.sf-list-li-active:hover {
    background: #0073f0 !important;
    color: #000 !important;
}
.highcontrast .sb-left-pane .sf-list-li:hover:not(.sf-list-li-active),
.highcontrast .sf-search-popup .sf-list-li:hover,
.highcontrast .sf-tree-full-row:hover:not(.sf-tree-active),
.highcontrast .sf-search-hover {
    background: #685708 !important;
}
.highcontrast .sf-list-li.sf-list-li-active *, .highcontrast .sf-tree-active + .sf-tree-text-content .tree-text, .highcontrast .sb-left-pane .sf-list-li.sf-list-li-active .sf-text-content {
    color: #000000 !important;
}
.highcontrast .sb-left-pane .sf-tree-full-row:hover:not(.sf-tree-active) {
    border: 1px solid #fff;
}
.highcontrast #left-sidebar {
    border: none;
}
.highcontrast .sb-github-btn {
    background: #000000;
    border: none;
}
.highcontrast .sb-content-section, .highcontrast .sb-content-section .sb-content-tab-header {
    background: #000000;
    border-color: #969696;
}
.highcontrast .sb-footer {
    border-color: #969696;
    background-color: #000000;
}
.highcontrast .sb-header {
    background: #000000;
    border-bottom: 1px solid #969696;
}

.highcontrast .sf-preferences-button:hover, .highcontrast .sf-notification:hover, .highcontrast .sb-github-btn:hover,.highcontrast .sf-preferences-button.e-active, .highcontrast .sf-preferences-button.e-active .highcontrast .sb-left-pane .e-listview .e-list-item:hover {
    background-color: #685708;
}
.highcontrast .sf-preferences-button:hover, .highcontrast .sf-preferences-button.active, .highcontrast .sb-search-btn:hover {
    border: 1px solid #969696;
}
.highcontrast .hljs-keyword, .highcontrast .hljs-selector-tag, .highcontrast .hljs-built_in, .highcontrast .hljs-name, .highcontrast .hljs-tag, .highcontrast .sb-source-section .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text {
    color: #00ff00;
}
.highcontrast .sb-src-code {
    background: #000000;
    color: #ffffff;
}
.highcontrast .sb-left-pane .e-listview .e-list-item.e-active:hover {
    color: #ffffff;
}
.highcontrast .sb-content-tab.e-tab > .e-tab-header .e-toolbar-items > .e-indicator {
    background: #ffd939;
    display: block;
}
.highcontrast .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-text, .highcontrast .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text:hover,
.highcontrast .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item.e-active > .e-tab-wrap > .e-text-wrap > .e-tab-icon, .highcontrast .sb-content-tab.e-tab > .e-tab-header > .e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-icon:hover {
    color: #ffd939;
}
.highcontrast .sb-content-tab.e-tab>.e-tab-header>.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-text {
    color: #ffffff;
}
.highcontrast .sb-content-tab {
    border: 1px solid #000;
}
.highcontrast #sb-source-tab {
    border: 1px solid #000;
}
.highcontrast .sb-bread-crumb >h1 {
    color: #ffffff;
}
.highcontrast #header-theme-switcher .sf-dropdown-input-container * {
    color: #fff !important;
}
.highcontrast #header-theme-switcher .sf-dropdown-input-container:hover,
.highcontrast #header-theme-switcher .sf-dropdown-input-container:hover input,
.highcontrast #header-theme-switcher .sf-dropdown-input-container:hover .sb-icons,
.highcontrast #header-theme-switcher .sf-dropdown-container .sf-list-li:hover {
    background: #685708 !important;
    color: #fff !important;
}
/* Search component */
.highcontrast .sf-search-no-data {
    color: #fff;
}
.highcontrast .sf-search-popup {
    background: #000 !important;
}
.highcontrast .sf-search-input:focus {
    border-color: #e0e0e0;
    box-shadow: none;
}
.highcontrast .sf-search-popup .sf-list-group-li {
    color: #ffd939;
}
.highcontrast .sf-search-input {
    background: #000000 !important;
}
.highcontrast .sf-search-container * {
    color: #ffffff;
}
.highcontrast .sf-search-container .sf-list-group-li {
    color: #ffd939; 
}
.highcontrast .sf-preference-btn.active {
    background: #ffd939;
    color: #000000;
}
.highcontrast .sf-preference-btn {
    background: #333333;
    color: #ffffff;
}
.highcontrast .sf-preferences-button.active {
    background: #ffd939;
    color: #000;
}
.highcontrast .sf-dropdown-input-container,
.highcontrast .sf-dropdown-popup,
.highcontrast .sb-notification-popup,
.highcontrast .sb-notification-item .sf-clear-icon::before {
    background: #000;
    color: #fff;
    border-color: #969696;
}

.highcontrast .sb-notification-content-container {
    background: #000;
    border: 1px solid #fff;
}

.highcontrast .sf-dropdown-input {
    border-color: #fff;
    color: #fff;
}
.highcontrast .sf-dropdown-input:focus {
    border-color: #ffd939;
    box-shadow: none;
}
.highcontrast .sf-dropdown-container .sf-list-li.active {
    background-color: #ffd939;
    border-color: #ffd939;
    color: #000;
}
.highcontrast .sf-dropdown-container .sf-list-li:hover:not(.active){
    background-color: #685708;
    color: #fff;
}
.highcontrast #sb-index-search-container .sf-search-container .sf-search-icon::before, .highcontrast #sb-index-search-container .sf-search-container .sf-clear-icon::before {
    color: #fff !important;
}
.highcontrast .sb-content-section > .e-tab > .e-tab-header {
    border-bottom: 1px solid #d7d7d7;
}
.highcontrast #navigation-btn .e-btn.e-primary, .highcontrast #navigation-btn .e-btn .e-btn-icon {
    line-height: 42px;
}
.highcontrast .sb-right-pane code {
    background-color: #2f2f2f !important;
    color: #fff !important;
}
.highcontrast .sb-right-pane code > a {
    color: #fff !important;
}
.highcontrast .all-components {
    color: #196cff;
}