/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/

.material-dark .hljs, .fabric-dark .hljs, .bootstrap-dark .hljs, .bootstrap5-dark .hljs, .bootstrap5\.3-dark .hljs, .tailwind-dark .hljs, .fluent-dark .hljs {
    color: #fff;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-selector-tag,
.hljs-selector-class,
.hljs-selector-id,
.hljs-name {
    color: #a31515;
}

.hljs-string,
.hljs-sf-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition,
.hljs-tag,
.css .hljs-number {
    color: #00f;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af;
}

.hljs-number,
.hljs-doctag {
    color: #808080;
}

.css .hljs-attribute,
.hljs-attr {
    color: #e50000;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-code {
    background: yellow;
    color: #000;
}

.hljs-keyword,
.hljs-built_in {
    color: #00f;
}

.hljs-inherit-type {
    color: #2B91AF;
}

.hljs-sf-name,
.hljs-sf-attr {
    color: #950480;
    font-weight: 600;
}

.css .hljs-keyword {
    color: #950480;
}

.hljs-page-value {
    color: #A8153B;
}

.hljs-code-sec .hljs-string {
    color: #A8153B;
}

.e-dropdownbase .e-list-item .e-highlight {
    color: red;
}