@page "/Input-Mask/Default-Functionalities"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the default functionalities of <a href='https://www.syncfusion.com/blazor-components/blazor-input-mask/' aria-label="Feature Tour of Blazor MaskedTextBox">MaskedTextBox</a> component. Enter numeric value for "Mobile number" textbox then press tab key and then enter "Country ISO code" in alphabetic format, then type "Date of birth" in numeric format. Finally enter the "Product key" in alpha numeric format.</p>
</SampleDescription>
<ActionDescription>
    <p> The MaskedTextBox is a textbox extended component that allows the user to enter only the valid input based on the provided mask. It is used to get the input with specific formats like Phone number, Date, Time, IP, Social security number, etc.</p>
    <p>MaskedTextBox supports the list of mask elements based on the standard <a target='_blank'href='https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.maskedtextbox.mask?redirectedfrom=MSDN&view=net-5.0#System_Windows_Forms_MaskedTextBox_Mask'>MSDN</a> mask elements.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/input-mask/getting-started/' target='_blank' aria-label="Blazor MaskedTextBox Getting Started documentation">Getting started with Blazor MaskedTextBox</a></li>
        <li><a href='https://blazor.syncfusion.com/documentation/input-mask/mask-configuration/' target='_blank' aria-label="Blazor MaskedTextBox Mask Configuration documentation">Blazor MaskedTextBox - Mask Configuration</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <div class="example-content">
            <label class="example-label">Mobile number</label>
            <SfMaskedTextBox Mask="000-000-0000"></SfMaskedTextBox>
        </div>
        <div class="example-content">
            <label class="example-label">Country ISO code</label>
            <SfMaskedTextBox Mask=">LL / LLL"></SfMaskedTextBox>
        </div>
        <div class="example-content">
            <label class="example-label">Date of birth</label>
            <SfMaskedTextBox Mask="00/00/0000"></SfMaskedTextBox>
        </div>
        <div class="example-content">
            <label class="example-label">Product key</label>
            <SfMaskedTextBox Mask=">AAAAA-AAAAA-AAAAA-AAAAA"></SfMaskedTextBox>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .example-content {
        padding: 0px 0px 20px 0px;
    }

    .example-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>


