@page "/TextArea/FloatingLabel"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <div class="example-content">
            <label for="Name" class="example-label">FloatLabel Auto</label>
            <SfTextArea Placeholder="Enter your comments" ResizeMode=Syncfusion.Blazor.Inputs.Resize.None FloatLabelType="FloatLabelType.Auto" RowCount="2" ColumnCount="31"></SfTextArea>
        </div>
        <div class="example-content">
            <label for="Address" class="example-label">FloatLabel Always</label>
            <SfTextArea Placeholder="Enter your comments" ResizeMode=Syncfusion.Blazor.Inputs.Resize.None FloatLabelType="FloatLabelType.Always" RowCount="2" ColumnCount="31"></SfTextArea>
        </div>
        <div class="example-content">
            <label for="Address" class="example-label">FloatLabel None</label>
            <SfTextArea Placeholder="Enter your comments" ResizeMode=Syncfusion.Blazor.Inputs.Resize.None RowCount="2" ColumnCount="31"></SfTextArea>
        </div>
    </div>
</div>
<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 30px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .example-content {
        padding: 0px 0px 40px 0px;
    }

        .example-content:last-child {
            padding: 0px 0px 40px 0px;
        }

    .submit-btn {
        display: flex;
        justify-content: center;
    }

    .validation-message {
        color: red;
        padding: 5px 0px 0px;
    }
</style>