.scrollable-container {
  max-height: 25%;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

#tagContainer .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tagContainer .title-container strong {
  font-size: 15px;
  color: #0078d4;
}
#tagContainer {
  height: 500px;
  border: 1px solid #d1d9e0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}

.control-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.file-manager {
  flex: 1;
}

.tags {
  width: 100%;
  max-width: 28%;
  padding-left: 10px;
  box-sizing: border-box;
}

#tags p {
  margin: 10px 0;
}

.scrollable-container {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}