/* Carousel Styles */

.sf-blazor-home .sf-image-carousel.ic-wrapper {
    overflow: hidden;
    position: relative;
    display: block;
    margin-top: 1.4%;
}

.sf-blazor-home .sf-image-carousel .ic-container {
    height: 660px;
    transition: transform 500ms ease 0s;
}

.sf-blazor-home .sf-image-carousel .ic-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    opacity: .1;
    pointer-events: none;
    width: 820px;
}

.sf-blazor-home .sf-image-carousel .ic-slide {
    margin-left: 86px;
    margin-right: 86px;
}

.sf-blazor-home .sf-image-carousel .ic-slide.ic-current {
    opacity: 1.4;
    pointer-events: all !important;
}

/* Nav Buttons Next-Prev */

.sf-blazor-home .sf-image-carousel button.ic-btn.ic-next,
.sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev {
    position: absolute;
    top: 170px;
    border: none;
    padding: .25em .5em;
    background-color: transparent;
    opacity: .45;
    z-index: 2;
}

.sf-blazor-home .sf-image-carousel button.ic-btn.ic-next:active,
.sf-blazor-home .sf-image-carousel button.ic-btn.ic-next::selection,
.sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev:active {
    border: none;
}

.sf-blazor-home .sf-image-carousel button.ic-btn.ic-next:hover,
.sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev:hover {
    opacity: .65;
}

.sf-blazor-home .sf-image-carousel button.ic-btn.ic-next{
    right: 0px;
}

    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-next:before,
    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev:before {
        color: #fff;
        border-radius: 17px;
        font-size: 135%;
        background: #1224c4;
        -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    }

    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev::before {
        content: "\e902";
    }

    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-next::before {
        content: "\e904";
    }

/* IC Image */

.sf-blazor-home .sf-image-carousel ic-container .ic-img-div {
    width: 100%;
}

.sf-blazor-home .sf-image-carousel .ic-img-div a {
    display: block;
}

.sf-blazor-home .sf-image-carousel img.ic-img {
    display: block;
    height: 430px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

.sf-blazor-home .sf-image-carousel .ic-text-area table {
    margin-top: 1.4%;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.sf-blazor-home .sf-image-carousel .ic-text-area table tr th {
    padding: .92857143em;
    padding-left: 0px;
}

.sf-blazor-home .sf-image-carousel .ic-text-area table tr:not(:last-of-type) {
    border-bottom: 1px solid #ececec;
}

.sf-blazor-home .sf-image-carousel .ic-header,
.sf-blazor-home .sf-image-carousel .ic-content {
    font-family: "Open Sans";
    font-style: normal;
}

.sf-blazor-home .sf-image-carousel .ic-header {
    color: #1a1a1a;
    font-weight: 700;
    font-size: 24px;
}

.sf-blazor-home .sf-image-carousel .ic-content {
    font-size: 16px;
    color: #3d3d3d;
    line-height: 28px;
    font-weight: 400;
    opacity: 1;
}

.sf-blazor-home .sf-image-carousel .ic-progress {
    width: 276px;
    margin-bottom: 60px;
    position: absolute;
    bottom: 0px;
    height: 5px;
    border-radius: 4px;
    background: #e4e8eb;
}

.sf-blazor-home .sf-image-carousel .ic-progress-bar {
    background: 100% #1224c4;
    border-radius: 4px;
    height: 5px;
    width: 0%;
}

@media (max-device-width: 1024px) and (min-device-height: 769px) {
    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-next,
    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev {
        display: none;
    }
    
    .sf-blazor-home .sf-image-carousel .ic-text-area table tr:not(:last-of-type) {
        border-bottom: none;
    }

    .sf-blazor-home .sf-image-carousel .ic-progress {
        background: transparent;
    }

}

@media (max-width: 768px) {
    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-next,
    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev {
        display: none;
    }
    .sf-blazor-home .sf-image-carousel .ic-text-area table tr:not(:last-of-type) {
        border-bottom: none;
    }
    .sf-blazor-home .sf-image-carousel .ic-progress {
        background: transparent;
    }

}

@media (max-width: 900px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 80%;
        margin-left: 10%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 344px;
    }
    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 10%;
        margin-right: 10%;
    }
    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 550px;
    }
    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-next, 
    .sf-blazor-home .sf-image-carousel button.ic-btn.ic-prev {
        top: 143px;
    }

    .sf-blazor-home .sf-image-carousel .ic-progress {
        margin-bottom: 35px;
    }
}

@media (max-width: 740px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 75%;
        margin-left: 13%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 323px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 13%;
        margin-right: 13%;
    }

    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 520px;
    }
}

@media (max-width: 680px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 70%;
        margin-left: 15%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 301px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 15%;
        margin-right: 15%;
    }

    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 500px;
    }
}

@media (max-width: 640px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 60%;
        margin-left: 20%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 258px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 20%;
        margin-right: 20%;
    }

    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 450px;
    }

    .sf-blazor-home .sf-image-carousel .ic-progress {
        margin-bottom: 25px;
    }
}

@media (max-width: 580px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 54%;
        margin-left: 23%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 232px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 23%;
        margin-right: 23%;
    }

    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 450px;
    }
}

@media (max-width: 490px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 48%;
        margin-left: 26%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 207px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 26%;
        margin-right: 26%;
    }

    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 430px;
    }
}

@media (max-width: 415px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 46%;
        margin-left: 27%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 198px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 27%;
        margin-right: 27%;
    }

    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 430px;
    }
}

@media (max-width: 375px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 42%;
        margin-left: 29%;
    }

    .sf-blazor-home .carousel-wrapper{
        margin-top: 30px;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 181px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 29%;
        margin-right: 29%;
    }

    .sf-blazor-home .sf-image-carousel .ic-container {
        height: 415px;
    }
}

@media (max-width: 360px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 38%;
        margin-left: 31%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 181px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 31%;
        margin-right: 31%;
    }

    .sf-blazor-home .sf-image-carousel .ic-header {
        font-size: 22px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area table tr th {
        padding: .89857143em;
    }
}

@media (max-width: 320px) {
    .sf-blazor-home .sf-image-carousel .ic-img-div {
        width: 38%;
        margin-left: 33%;
    }

    .sf-blazor-home .sf-image-carousel img.ic-img {
        height: 163px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area {
        margin-left: 33%;
        margin-right: 33%;
    }

    .sf-blazor-home .sf-image-carousel .ic-header {
        font-size: 22px;
    }

    .sf-blazor-home .sf-image-carousel .ic-text-area table tr th {
        padding: .89857143em;
    }

    .sf-blazor-home .sf-image-carousel .ic-progress {
        width: 266px;
    }
}