@page "/Layout/Draggable"

@using Syncfusion.EJ2.RazorComponents.Popups
@using System;
@using System.Collections.Generic;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Draggable";
    SampleBrowser.CurrentControlName = "Dilaog";
    SampleBrowser.CurrentControlCategory = "Dialog";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Dialog;
    SampleBrowser.ActionDescription = new string[] {
    };
    SampleBrowser.Description = new string[] {
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section" id="target">
    <Button id="normalbtn" class="e-btn" onclick="@onClicked">Open</Button>
    <EjsDialog id="dialog" @ref="dialogObj" target="#target" header="Drag Me!!!" width="300px" allowDragging="true" isModal="true" showCloseIcon="true" Content="<span>This is a dialog with draggable support.</span>">
    </EjsDialog>
</div>

@code {
    EjsDialog dialogObj;

    private void onClicked()
    {
        this.dialogObj.Show();
    }
}