/* CSS for NavMenuComponent component */
body.tailwind.e-bigger .sb-badge, body.bootstrap5\.3.e-bigger .sb-badge, body.tailwind3 .sb-badge, body.bootstrap5\.3 .sb-badge, body.fluent2 .e-badge.sb-badge {
    padding: 3px 8px;
}
body.fluent2.e-bigger .e-badge.sb-badge {
    padding: 2px 8px;
}
body.bootstrap4 .e-sample-status.preview {
    background-color: #008800;
    color: #ffffff;
}
body.bootstrap4 .sb-badge, body.material.e-bigger .sb-badge, body.fluent.e-bigger .sb-badge, body.bootstrap4.e-bigger .sb-badge, body.material .sb-badge, body.tailwind .sb-badge {
    padding: 7px 8px;
}