/* CSS for SideBarComponent component */
.material .sf-sidebar,
.material3 .sf-sidebar,
.bootstrap4 .sf-sidebar,
.tailwind .sf-sidebar {
    width: 330px;
}
.sf-sidebar-left.sf-hidden {
    transform: translateX(-100%);
}
.sf-sidebar-right.sf-hidden {
    transform: translateX(100%);
}
.sf-sidebar-left,
.sf-sidebar-right {
    transition: transform .3s ease, visibility .3s;
}
.sf-sidebar-right {
    right: 0;
    width: 243px;
}
.sf-visible {
    visibility: visible;
}
.sf-hidden {
    visibility: hidden;
}
.sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1000;
}
@media (max-width: 768px) {
    .sf-sidebar {
        width: 295px;
    }
}