
@font-face {
    font-family: "sbicons";
    src: url("/fonts/icons.ttf") format("truetype"), url("/fonts/icons.woff") format("woff"), url("/fonts/icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


.catagory {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #1a1a1a;
    margin-top: 30px;
    margin-bottom: 18px !important;
}

.sample-list ul,
#search-popup ul,
.sb-switch-popup ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.sb-search-result .e-list-parent {
    margin-bottom: 0px;
}

.sb-search-result .e-list-item {
    line-height: 36px;
}

    .sb-search-result .e-list-item:hover {
        background-color: #ecedf2;
        cursor: default;
    }

.sb-search-result li {
    padding-left: 6px;
    font-size: 13px;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
    font-weight: 400;
}

.sb-search-result .e-list-group-item {
    background-color: #ecebeb;
    font-size: 15px;
    vertical-align: middle;
    line-height: 36px;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    font-weight: 500;
}

.sb-switch-popup {
    background-color: white;
    border: 1px solid #d2d2d2;
    box-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    width: 120px;
}

.sb-switch-small {
    width: 110px;
}

.sb-switch-popup li {
    line-height: 22px;
    padding: 8px 10px;
}

    .sb-switch-popup li > a {
        color: #252525;
    }

        .sb-switch-popup li.sb-current,
        .sb-switch-popup li > a:hover {
            color: #ff5722;
        }

.sample-group a {
    display: table;
}

    .sample-group a span {
        display: table-cell;
        vertical-align: middle;
    }

.sb-icons {
    font-family: "sbicons";
    color: #3c78ef;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    padding-right: 15px;
    font-size: 20px;
}

.sb-icon-search:before {
    content: "\e925";
}

.sb-icon-charts:before {
    content: "\e715";
}

.sb-icon-diagram:before {
    content: "\e72b";
}

.sb-icon-sparkline:before {
    content: "\e740";
}

.sb-icon-avatar:before {
    content: "\e718";
}

.sb-icon-badge:before {
    content: "\e71f";
}

.sb-icon-toast:before {
    content: "\e72c";
}

.sb-icon-buttongroup:before {
    content: "\e71e";
}

.sb-icon-RTE:before {
    content: "\e70f";
}

.sb-icon-pivot:before {
    content: "\e706";
}

.sb-icon-colorpicker:before {
    content: "\e719";
}

.sb-icon-document_editor:before {
    content: "\e720";
}

.sb-icon-heatmap:before {
    content: "\e73e";
}

.sb-icon-range_navigator:before {
    content: "\e704";
}

.sb-icon-smith_chart:before {
    content: "\e708";
}

.sb-icon-switch:before {
    content: "\e709";
}

.sb-icon-barcode:before {
    content: "\e737";
}

.sb-icon-treemap:before {
    content: "\e70b";
}

.sb-icon-circulargauge:before {
    content: "\e710";
}

.sb-icon-lineargauge:before {
    content: "\e726";
}

.sb-icon-grid:before {
    content: "\e722";
}

.sb-icon-spreadsheet:before {
    content: "\e900";
}

.sb-icon-formvalidator:before {
    content: "\e71c";
}

.sb-icon-dropdownlist:before {
    content: "\e725";
}

.sb-icon-combobox:before {
    content: "\e732";
}

.sb-icon-autocomplete:before {
    content: "\e730";
}

.sb-icon-multiselect:before {
    content: "\e734";
}

.sb-icon-calendar:before {
    content: "\e738";
}

.sb-icon-datepicker:before {
    content: "\e703";
}

.sb-icon-daterangepicker:before {
    content: "\e72a";
}

.sb-icon-numerictextbox:before {
    content: "\e70c";
}

.sb-icon-button:before {
    content: "\e743";
}

.sb-icon-textbox:before {
    content: "\e724";
}

.sb-icon-maskedtextbox:before {
    content: "\e717";
}

.sb-icon-timepicker:before {
    content: "\e70a";
}

.sb-icon-slider:before {
    content: "\e735";
}

.sb-icon-listview:before {
    content: "\e71a";
}

.sb-icon-dialog:before {
    content: "\e73b";
}

.sb-icon-tooltip:before {
    content: "\e701";
}

.sb-icon-treeview:before {
    content: "\e72d";
}

.sb-icon-toolbar:before {
    content: "\e73d";
}

.sb-icon-contextmenu:before {
    content: "\e707";
}

.sb-icon-tab:before {
    content: "\e727";
}

.sb-icon-accordion:before {
    content: "\e742";
}

.sb-icon-pager:before {
    content: "\e916";
}

.sb-icon-Dropdown:before {
    content: "\e913";
    color: rgb(102, 102, 102);
}

.sb-icon-sidebar:before {
    content: "\e745";
}

.sb-icon-datetimepicker:before {
    content: "\e73f";
}

.sb-icon-maps:before {
    content: "\e73c";
}

.sb-icon-uploader:before {
    content: "\e700";
}

.sb-icon-card:before {
    content: "\e741";
}

.sb-icon-schedule:before {
    content: "\e747";
}

.sb-icon-dropdownbutton:before {
    content: "\e72f";
}

.sb-icon-splitbutton:before {
    content: "\e71b";
}

.sb-icon-progressbutton:before {
    content: "\e731";
}

.sb-icon-menu:before {
    content: "\e746";
}

.sb-icon-checkbox:before {
    content: "\e736";
}

.sb-icon-chip:before {
    content: "\e721";
}

.sb-icon-fileexplorer:before {
    content: "\e72e";
}

.sb-icon-filterbuilder:before {
    content: "\e705";
}

.sb-icon-insideeditor:before {
    content: "\e729";
}

.sb-icon-pdfviewer:before {
    content: "\e71d";
}

.sb-icon-portlet:before {
    content: "\e938";
}

.sb-icon-splitter:before {
    content: "\e744";
}

.sb-icon-stockchart:before {
    content: "\e73a";
}

.sb-icon-treegrid:before {
    content: "\e70d";
}

.sb-icon-radiobutton:before {
    content: "\e714";
}

.sb-icon-gantt:before {
    content: "\e713";
}

.sb-icon-filemanager:before {
    content: "\e711";
}

.sb-icon-dashboardlayout:before {
    content: "\e712";
}

.sb-icon-listbox:before {
    content: "\e723";
}

.sb-icon-PDF:before {
    content: "\e71b";
}

.sb-icon-XLS:before {
    content: "\e71c";
}

.sb-icon-DOC:before {
    content: "\e71d";
}

.sb-icon-PPT:before {
    content: "\e71e";
}

.sb-hide {
    visibility: hidden;
}

.list--hover li {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
}

    .list--hover li:not(:hover) {
        opacity: .8;
    }