@page "/Buttons/RadioButton"

@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = SampleBrowser.Config.Button[2].Name;
    SampleBrowser.CurrentControlName = "Button";
    SampleBrowser.CurrentControlCategory = "Button";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Button;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the default functionalities of the RadioButton. Select the payment mode by clicking the desired RadioButton element.</p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>
        RadioButton is a graphical user interface element that allows to select one option from the choices. It contains checked and unchecked state.
    </p>
    <p>
        In this sample, Credit/Debit Card option is checked by default, and it can be achieved by using the <a target=""_blank"" class=""code""
                                                                                                               href=""https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.EJ2.Blazor~Syncfusion.EJ2.Blazor.Buttons.EjsRadioButton~Checked.html"">
            <code>
                Checked
            </code>
        </a> property.
    </p>
    <p>
        More information about RadioButton can be found in this
        <a target=""_blank"" href=""https://ej2.syncfusion.com/aspnet-core-blazor/documentation/radio-button/getting-started/"">
            documentation section
        </a>.
    </p>"

    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="radio-control">
        <h4 class="row">Select a payment method</h4>
        <div class="row">
            <EjsRadioButton Label="Credit/Debit Card" Name="payment" Value="credit/debit" Checked="true"></EjsRadioButton>
        </div>
        <div class="row">
            <EjsRadioButton Label="Net Banking" Name="payment" Value="netbanking"></EjsRadioButton>
        </div>
        <div class="row">
            <EjsRadioButton Label="Cash on Delivery" Name="payment" Value="cashondelivery"></EjsRadioButton>
        </div>
        <div class="row">
            <EjsRadioButton Label="Other Wallets" Name="payment" Value="others"></EjsRadioButton>
        </div>
    </div>
</div>
<style>
    .radio-control {
        margin: 5% 0 5% 40%;
    }

    @@media only screen and (max-width: 700px) {
        .radio-control {
            margin-left: 35%;
            margin-top: 8%;
        }

        .control-section {
            min-height: 200px;
        }
    }

    @@media only screen and (max-width: 500px) {
        .radio-control {
            margin-top: 20%;
            margin-left: 21%;
            margin-bottom: 27%;
        }
    }

    .control-section .row {
        margin: 20px 0;
    }

    .e-bigger .radio-control h4 {
        font-size: 20px;
    }
</style>