@page "/DropDownList/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "DropDownList";
    SampleBrowser.CurrentControlCategory = "DropDownList";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DropDownList;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the default functionalities of the DropDownList in Blazor application. Click the DropDownList element and select an item from the <code>options</code> list.
            The selected item's <code>Value</code> and <code>Text</code> property values will be shown the in property panel.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The <code>DropDownList</code> component contains a list of predefined values from that the user can choose a single
            value.
        </p>
        <p>
            The default sample illustrates the use of DropDownList that allows the end-users to select an item from the <code>options</code> list. The selected item's <code>Value</code> and <code>Text</code> property values will be displayed in the property
            panel.
        </p>
        <p>
            More information on the DropDownList instantiation can be found in the
            <a href=""https://ej2.syncfusion.com/blazor/documentation/dropdownlist/getting-started/"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsDropDownList TValue="string" PopupHeight="230px" Index=2 Placeholder="Select a game" DataSource="@Games">
            <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
        </EjsDropDownList>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 70px;
    }
</style>

@code{
    public class GameFields
    {
        public string ID { get; set; }

        public string Text { get; set; }
    }

    private List<GameFields> Games = new List<GameFields>() {
        new GameFields(){ ID= "Game1", Text= "American Football" },
        new GameFields(){ ID= "Game2", Text= "Badminton" },
        new GameFields(){ ID= "Game3", Text= "Basketball" },
        new GameFields(){ ID= "Game4", Text= "Cricket" },
        new GameFields(){ ID= "Game5", Text= "Football" },
        new GameFields(){ ID= "Game6", Text= "Golf" },
        new GameFields(){ ID= "Game7", Text= "Hockey" },
        new GameFields(){ ID= "Game8", Text= "Rugby"},
        new GameFields(){ ID= "Game9", Text= "Snooker" },
        new GameFields(){ ID= "Game10", Text= "Tennis"},
     };
}
