@page "/Grid/AutoWrap"

@using Syncfusion.EJ2.Blazor.Grids

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_inventordata
@{
    SampleBrowser.CurrentSampleName = "AutoWrap Column Cells";
    SampleBrowser.CurrentControlName = "DataGrid";
    SampleBrowser.CurrentControlCategory = "DataGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DataGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the Grid component with the auto wrap column cell. In this sample, you can see that the <strong>main fields of invention</strong> column cell content exceeded the available width hence it has been wrapped into multiple lines.
		</p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>Auto wrap cell content can be enabled using <code>allowTextWrap</code> property of the Grid. Setting this property will wrap cell text on multiple lines. This feature is useful
		to view the cell content when it exceeds the cell width.</p>
		<p>Setting this property will wrap the text in both content cell and header cell.</p>
		<p>In this demo, the <code>allowTextWrap</code> property is enabled and you can also see that the <strong>main fields of invention</strong> column whose
		content exceeded the cell width is wrapped into multiple lines.
		</p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">

            <EjsGrid ID="Grid" DataSource="@gridData" AllowTextWrap="true" AllowPaging="true">
                <GridColumns>
                    <GridColumn Field=@nameof(InventorDetails.Inventor) IsPrimaryKey="true" HeaderText="Inventor Name" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.NumberofPatentFamilies) HeaderText="Number of Patent Families" TextAlign="@TextAlign.Right" Width="185"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Country) HeaderText="Country" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Active) HeaderText="Active" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Mainfieldsofinvention) HeaderText="Main fields of invention" AllowGrouping="false" Width="180"></GridColumn>
                </GridColumns>
            </EjsGrid>

        </div>
    </div>
</div>

@code{

    public List<InventorDetails> gridData { get; set; }

    protected override void OnInit()
    {
        gridData = InventorDetails.GetAllRecords();
    }
}
