@page "/Grid/GroupAndCaptionAggregate"

@using Syncfusion.EJ2.Blazor.Grids
@using ej2_blazor_samples
@using ej2_blazor_griddata
@inherits SampleBaseComponent;

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGrid DataSource="@GridData" AllowPaging="true" AllowGrouping="true">
                <GridGroupSettings ShowDropArea="false" Columns=@GroupedColumn></GridGroupSettings>
                <GridPageSettings PageCount="5"></GridPageSettings>
                <GridAggregates>
                    <GridAggregate>
                        <GridAggregateColumns>
                            <GridAggregateColumn Field=@nameof(Category.UnitsInStock) Type="AggregateType.Sum">
                                <GroupFooterTemplate>
                                    @{
                                        var unit = (context as AggregateTemplateContext);
                                        <div>
                                            Total units: @unit.Sum
                                        </div>
                                    }
                                </GroupFooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field=@nameof(Category.Discontinued) Type="AggregateType.TrueCount">
                                <GroupFooterTemplate>
                                    @{
                                        var count = (context as AggregateTemplateContext);
                                        <div>
                                            Discontinued: @count.TrueCount
                                        </div>
                                    }
                                </GroupFooterTemplate>
                            </GridAggregateColumn>
                            <GridAggregateColumn Field=@nameof(Category.UnitsInStock) Type="AggregateType.Max">
                                <GroupCaptionTemplate>
                                    @{
                                        var maxcount = (context as AggregateTemplateContext);
                                        <div>
                                            Maximum: @maxcount.Max
                                        </div>
                                    }
                                </GroupCaptionTemplate>
                            </GridAggregateColumn>
                        </GridAggregateColumns>
                    </GridAggregate>
                </GridAggregates>
                <GridColumns>
                    <GridColumn Field=@nameof(Category.CategoryName) HeaderText="Category Name" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Category.ProductName) HeaderText="Product Name" Width="170"></GridColumn>
                    <GridColumn Field=@nameof(Category.QuantityPerUnit) HeaderText="Quantity Per Unit" TextAlign="TextAlign.Right"  Width="170"></GridColumn>
                    <GridColumn Field=@nameof(Category.UnitsInStock) HeaderText="Units In Stock" Width="170"></GridColumn>
                    <GridColumn Field=@nameof(Category.Discontinued) HeaderText="Discontinued" Width="150" DisplayAsCheckbox=@true Type="ColumnType.Boolean" TextAlign="TextAlign.Center" ></GridColumn>
                </GridColumns>
            </EjsGrid>

        </div>
    </div>
</div>

@code{

    private string[] GroupedColumn = new string[] { "CategoryName" };
    
    public List<Category> GridData { get; set; }

    protected override void OnInitialized()
    {
        GridData = Category.GetAllRecords();
    }
}
