@page "/Grid/RowDragAndDrop"

@using Syncfusion.EJ2.Blazor.Grids
@using ej2_blazor_samples
@using ej2_blazor_griddata
@inherits SampleBaseComponent;

<div class="col-lg-6 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGrid id="Grid" DataSource="@GridData" AllowRowDragAndDrop="true" AllowSelection="true" AllowPaging="true">
                <GridSelectionSettings Type="Syncfusion.EJ2.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridPageSettings PageCount="1" PageSize="12"></GridPageSettings>
                <GridRowDropSettings TargetID="DestGrid"></GridRowDropSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" IsPrimaryKey="true" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer Name" Width="135"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                </GridColumns>
            </EjsGrid>
        </div>
    </div>
</div>

<div class="col-lg-1 control-section">
    <div class="content-wrapper">
        <div class="row">
        </div>
    </div>
</div>
        <div class="col-lg-5 control-section">
            <div class="content-wrapper">
                <div class="row">
                    <EjsGrid id="DestGrid" DataSource="@SecondGrid" AllowRowDragAndDrop="true" AllowSelection="true" AllowPaging="true">
                        <GridSelectionSettings Type="Syncfusion.EJ2.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                        <GridPageSettings PageCount="1" PageSize="12"></GridPageSettings>
                        <GridRowDropSettings TargetID="Grid"></GridRowDropSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer Name" Width="135"></GridColumn>
                            <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" Format="d" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                        </GridColumns>
                    </EjsGrid>
                </div>
            </div>
        </div>


        @code{

            public List<OrdersDetails> GridData { get; set; }

            public List<OrdersDetails> SecondGrid { get; set; } = new List<OrdersDetails>();


            protected override void OnInitialized()
            {
                GridData = OrdersDetails.GetAllRecords();
            }
        }
