@page "/Grid/SortingAPI"

@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_griddata
@{
    SampleBrowser.CurrentSampleName = "Sorting API";
    SampleBrowser.CurrentControlName = "DataGrid";
    SampleBrowser.CurrentControlCategory = "DataGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DataGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the usage of sorting API in Grid. In this sample, use the properties panel to sort/unsort columns
            using API.
        </p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>Sorting feature enables us to order the data in a particular direction. It can be enabled by setting the <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.EJ2.Blazor~Syncfusion.EJ2.Blazor.Grids.GridSelectionSettings~Mode.html'>AllowSorting</a></code> property as true.</p>
        <p>To sort a Grid column simply click the column header. The icons <span class=""e-icons e-icon-ascending""></span>(ascending) and <span class=""e-icons e-icon-descending""></span>(descending) specifies the sort direction of a column.</p>
        <p>By default, multi-sorting is enabled in Grid, to sort multiple column hold<strong> CTRL</strong> key and click the column header. To clear sort for a column, hold<strong> SHIFT</strong> key and click the column header.</p>
        <p>While using Grid in a touch device, you have an option for multi sorting in single tap on the grid header. By tapping on the grid header, it will show the toggle button in small popup with sort icon. Now tap the button to enable the multi-sorting in single tap.</p>
        <p>In this demo, select the column and direction from the properties panel then click the Sort button. Use the Clear button to remove sort for the selected column.</p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGrid DataSource="@GridData" AllowMultiSorting="true" AllowSorting="true" AllowPaging="true">
                <GridPageSettings PageCount="2"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText=" Order Date" Format="yMd" Type="ColumnType.Date" TextAlign="TextAlign.Right"  Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) HeaderText="Freight" Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                </GridColumns>
            </EjsGrid>

        </div>
    </div>
</div>

@*<div class="col-lg-3 property-section">
    <h4 style="margin-top:38px;">Properties</h4>

    <table id="property" style="width: 73%; height: 180px;">
        <tr>
            <td class="left-side" style="padding-right:15px;">Column</td>
            <td>
                <EjsDropDownList ID="names" Index="0" PopupWidth="110px" DataSource="@names">
                    <DropDownListFieldSettings text="id" value="name"></DropDownListFieldSettings>
                </EjsDropDownList>
            </td>
        </tr>

        <tr>
            <td class="left-side" style="padding-right:15px;">Direction</td>
            <td>
                <EjsDropDownList ID="direction" Index="0" PopupWidth="110px" DataSource="@direction">
                    <DropDownListFieldSettings text="id" value="name"></DropDownListFieldSettings>
                </EjsDropDownList>
            </td>
        </tr>

        <tr>
            <td>
                <EjsButton id="sort" IsPrimary="true">Sort</EjsButton>
            </td>
            <td style="padding-left:18px;">
                <EjsButton id="clear" IsPrimary="true">Clear</EjsButton>
            </td>
        </tr>
    </table>
</div>*@

@code{

    public List<OrdersDetails> GridData { get; set; }

    public class ColumnNames
    {
        public string id { get; set; }

        public string name { get; set; }
    }

    public class Direction
    {
        public string id { get; set; }

        public string name { get; set; }
    }

    private List<ColumnNames> names = new List<ColumnNames>()
    {
        new ColumnNames(){ id= "OrderID", name= "Order ID" },
        new ColumnNames(){ id= "CustomerID", name= "Customer ID" },
        new ColumnNames(){ id= "OrderDate", name= "Order Date" },
        new ColumnNames(){ id= "Freight", name= "Freight" },
        new ColumnNames(){ id= "ShipCountry", name= "Ship Country" },
    };

    private List<Direction> direction = new List<Direction>()
    {
        new Direction(){ id= "Ascending", name= "Ascending" },
        new Direction(){ id= "Descending", name= "Descending" },
    };

    protected override void OnInitialized()
    {
        GridData = OrdersDetails.GetAllRecords();
    }
}
