@page "/Grid/Sorting"

@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_griddata
@{
    SampleBrowser.CurrentSampleName = "Multi Sorting";
    SampleBrowser.CurrentControlName = "DataGrid";
    SampleBrowser.CurrentControlCategory = "DataGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DataGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the Grid multi sorting feature. To sort two or more columns, hold the CTRL key and click the column header.
        </p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>Sorting feature enables us to order the data in a particular direction. It can be enabled by setting the <code><a target='_blank' class='code' href=' https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.EJ2.Blazor~Syncfusion.EJ2.Blazor.Grids.GridSelectionSettings~Mode.html '>AllowSorting</a></code> property as true.</p>
        <p>To sort a Grid column simply click the column header. The icons <span class=""e-icons e-icon-ascending""></span>(ascending) and <span class=""e-icons e-icon-descending""></span>(descending) specifies the sort direction of a column.</p>
        <p>By default, multi-sorting is enabled in Grid, to sort multiple columns hold the <strong> CTRL</strong> key and click the column header. To clear sort for a column, hold the <strong> SHIFT</strong> key and click the column header.</p>
        <p>While using Grid in a touch device, you have an option for multi sorting in single tap on the grid header. By tapping on the grid header, it will show the toggle button in small popup with sort icon. Now tap the button to enable the multi-sorting in a single tap.</p>
        <p>In this demo, simply click the column header to sort them.</p>"
    };
}
@*End:Hidden*@


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGrid DataSource="@GridData" AllowMultiSorting="true" AllowSorting="true" AllowPaging="true">
                <GridPageSettings PageCount="2"></GridPageSettings>
                <GridSortSettings>
                    <GridSortColumns>
                        <GridSortColumn Field="OrderDate" Direction="SortDirection.Ascending"></GridSortColumn>
                        <GridSortColumn Field="Freight" Direction="SortDirection.Descending"></GridSortColumn>
                    </GridSortColumns>
                </GridSortSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer Name" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText=" Order Date" Format="yMd" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) HeaderText="Freight" Format="C2" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                </GridColumns>
            </EjsGrid>

        </div>
    </div>
</div>

@*<div class="col-lg-3 property-section">
    <h4 style="margin-top:38px;">Properties</h4>

    <table id="property" style="width: 73%; height: 250px;">
        <tr>
            <td class="left-side" style="padding-right:15px;">Order ID</td>
            <td>
                <EjsCheckBox ID="orderid"></EjsCheckBox>
            </td>
        </tr>

        <tr>
            <td class="left-side" style="padding-right:15px;">Customer Name</td>
            <td>
                <EjsCheckBox ID="customer"></EjsCheckBox>
            </td>
        </tr>

        <tr>
            <td class="left-side" style="padding-right:15px;">Order Date</td>
            <td>
                <EjsCheckBox ID="orderdate" Checked="true"></EjsCheckBox>
            </td>
        </tr>

        <tr>
            <td class="left-side" style="padding-right:15px;">Freight</td>
            <td>
                <EjsCheckBox ID="freight" Checked="true"></EjsCheckBox>
            </td>
        </tr>

        <tr>
            <td class="left-side" style="padding-right:15px;">Ship Country</td>
            <td>
                <EjsCheckBox ID="shipcountry"></EjsCheckBox>
            </td>
        </tr>
    </table>
</div>*@

@code{

    public List<OrdersDetails> GridData { get; set; }

    protected override void OnInitialized()
    {
        GridData = OrdersDetails.GetAllRecords();
    }
}
