@page "/toolbar/template"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons;

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This demo depicts the way to add custom items to the <code>Blazor Toolbar</code> by using the Template option.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.ToolbarItem.html#Syncfusion_Blazor_Navigations_ToolbarItem_Template'>Template</a> option is used to render the toolbar items with other Syncfusion/custom controls. </p>
</ActionDescription>

<div class="col-lg-12 control-section e-sample-resize-container">
    <SfToolbar Width="auto" Height="60px" OverflowMode="OverflowMode.Scrollable" ScrollStep="100">
        <ToolbarItems>
            <ToolbarItem PrefixIcon="e-icons e-plus" TooltipText="New Event" Text="New Event"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-repeat" TooltipText="New Recurring Event" Text="New Recurring Event"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-day" TooltipText="Day" Text="Day"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-week" TooltipText="Week" Text="Week"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-week" TooltipText="WorkWeek" Text="WorkWeek"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-month" TooltipText="Month" Text="Month"></ToolbarItem>
            <ToolbarItem TooltipText="Timeline Views">
                <Template>
                    <div style="align-items:center;display:flex;line-height:0px;">
                        <div class="icon-child">
                            <SfSwitch TChecked="bool"></SfSwitch>
                        </div>
                        <div class="text-child" style="font-size:14px;padding-left:8px;">Timeline Views</div>
                    </div>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem TooltipText="Grouping Resource">
                <Template>
                    <div style="align-items:center;display:flex;line-height:0px;">
                        <div class="icon-child">
                            <SfSwitch TChecked="bool" Checked="true"></SfSwitch>
                        </div>
                        <div class="text-child" style="font-size:14px;padding-left:8px;">Grouping</div>
                    </div>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Button" Align="ItemAlign.Right" OnClick="@ImageClick">
                <Template>
                    <div class="image"><img src="https://ej2.syncfusion.com/demos/src/schedule/images/nancy.png" /></div>
                    <div class="profile-wrapper" style="display: @ImageContent">
                        <div class="profile-container">
                            <span class="profile-image"></span>
                            <div class="content-wrap">
                                <div class="name">Nancy</div>
                                <div class="destination">Product Manager</div>
                                <div class="status"><span class="status-icon"></span>Online</div>
                            </div>
                        </div>
                    </div>
                </Template>
            </ToolbarItem>
        </ToolbarItems>
    </SfToolbar>
</div>

<style>
    .image img {
        width: 25px;
    }

    .profile-wrapper {
        width: 185px;
        height: 80px;
        background-color: #fafafa;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        position: absolute;
        z-index: 100;
        top: 70px;
        right: 0px;
    }

        .profile-wrapper .profile-container {
            display: flex;
            padding: 10px;
        }

        .profile-wrapper .profile-image {
            background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/nancy.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
            width: 60px;
            height: 60px;
        }

        .profile-wrapper .content-wrap {
            padding-left: 10px;
        }

        .profile-wrapper .name {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            margin-top: 2px;
        }

        .profile-wrapper .destination {
            font-size: 12px;
        }

    .tailwind .profile-wrapper .destination,
    .tailwind-dark .profile-wrapper .destination {
        font-size: 11px;
    }

    .profile-wrapper .status-icon {
        height: 6px;
        width: 6px;
        background: green;
        border-radius: 100%;
        float: left;
        margin-right: 4px;
        margin-top: 4px;
    }

    .profile-wrapper .status {
        font-size: 11px;
    }

    .highcontrast .profile-wrapper {
        border: 1px solid #969696
    }

        .highcontrast .profile-wrapper .profile-container {
            background-color: #000;
        }

    .tailwind-dark .profile-wrapper {
        background-color: #374151;
        border: 0.5px solid #4b5563;
    }

    .bootstrap5-dark .profile-wrapper {
        background-color: rgb(40, 45, 49);
        border: 0.5px solid #4b5563;
    }

    .bootstrap-dark .profile-wrapper {
        background-color: #1a1a1a;
    }

    .fabric-dark .profile-wrapper {
        background-color: #333232;
    }

    .material-dark .profile-wrapper {
        color: #fff;
        border: 0.5px solid #616161;
        background-color: #212121;
    }
</style>

@code {
    public string ImageContent { get; set; } = "none";
    public bool ShowCalendar { get; set; } = false;
    public void ImageClick()
    {
        ImageContent = (ImageContent == "none") ? "block" : "none";
        ShowCalendar = false;
    }
}
