@page "/toolbar/template"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Inputs;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates customization of the <a href="https://www.syncfusion.com/blazor-components/blazor-toolbar" aria-label="Feature Tour of Blazor Toolbar">Blazor Toolbar</a>. </p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, the Blazor Toolbar showcases customization options for toolbar items using the <code>Template</code> property. The Toolbar items are arranged using the <code>Align</code> property.</p>
    <p>To add icons to the toolbar items, the <code>PrefixIcon</code> property is used. When the <code>ShowTextOn</code> property's <code>DisplayMode</code> is set to <code>Overflow</code>, the Toolbar items' <code>text</code> that overflows will be visible.</p>
    <p>In this demo, the following components are used inside the Toolbar <code>SfNumericTextBox</code>, <code>SfComboBox</code> and <code>SfTextBox</code>.</p>
</ActionDescription>

<div class="control-section e-sample-resize-container" style="margin-top:100px">
    <SfToolbar CssClass="template" OverflowMode=OverflowMode.Popup>
        <ToolbarItems>
            <ToolbarItem TooltipText="Open file" Text="Open" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons e-folder" Align="ItemAlign.Left"></ToolbarItem>
            <ToolbarItem Type="ItemType.Separator" Align="ItemAlign.Left"></ToolbarItem>
            <ToolbarItem TooltipText="Show first page" Text="First" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-first-page" Disabled="true"></ToolbarItem>
            <ToolbarItem TooltipText="Show previous page" Text="Previous" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-chevron-left" Disabled="true"></ToolbarItem>
            <ToolbarItem TooltipText="Show next page" Text="Next" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-chevron-right"></ToolbarItem>
            <ToolbarItem TooltipText="Show last page" Text="Last" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-last-page"></ToolbarItem>
            <ToolbarItem  Align="ItemAlign.Left" Type="ItemType.Input" CssClass="page-count">
                <Template>
                    <SfNumericTextBox Max="100" Min="0" Width="50px" ShowSpinButton=false></SfNumericTextBox>
                    <span class="total-page"> of 100</span>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator" Align="ItemAlign.Left"></ToolbarItem>
            <ToolbarItem TooltipText="Zoom Out" Text="Zoom Out" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-zoom-out"></ToolbarItem>
            <ToolbarItem TooltipText="Zoom In" Text="Zoom In" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-zoom-in"></ToolbarItem>
            <ToolbarItem TooltipText="Zoom" Align="ItemAlign.Left" Type="ItemType.Input" CssClass="percentage">
                <Template>
                    <SfComboBox Width="100px" TValue="string" TItem="Zoom" @bind-Value="@ZoomValue" DataSource="@ZoomList" Readonly="false" PopupWidth="110px" ShowClearButton="false">
                        <ComboBoxFieldSettings Value="Percentage"/>
                    </SfComboBox>
                </Template>
             </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator" Align="ItemAlign.Left"></ToolbarItem>
            <ToolbarItem TooltipText="Text selection tool" Text="Select" CssClass="selection-tool" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-mouse-pointer"></ToolbarItem>
            <ToolbarItem TooltipText="Pan Mode" Text="Pan" CssClass="pan-mode" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-pan"></ToolbarItem>
            <ToolbarItem Type="ItemType.Separator" Align="ItemAlign.Left"></ToolbarItem>
            <ToolbarItem TooltipText="Undo" Text="Undo" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-undo" Disabled="true"></ToolbarItem>
            <ToolbarItem TooltipText="Redo" Text="Redo" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-redo" Disabled="true"></ToolbarItem>
            <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
            <ToolbarItem TooltipText="Add Comments" Text="Comment" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-pv-comment-icon"></ToolbarItem>
            <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
            <ToolbarItem Text="Submit Form" Align="ItemAlign.Left"></ToolbarItem>
            <ToolbarItem TooltipText="Find text" Align="ItemAlign.Right" Overflow="OverflowOption.Show" Type="ItemType.Input">
                <Template>
                    <SfTextBox Width="125px" @ref="TextBoxSearchObj" Placeholder="Find text" Created="@OnCreateSearch"></SfTextBox>
                </Template>
            </ToolbarItem>
            <ToolbarItem TooltipText="Edit Annotations" Text="Edit" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-annotation-edit"></ToolbarItem>
            <ToolbarItem TooltipText="Print file" Text="Print" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-print"></ToolbarItem>
            <ToolbarItem TooltipText="Download file" Text="Download" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-download"></ToolbarItem>
        </ToolbarItems>
    </SfToolbar>
</div>

@code {

    SfTextBox TextBoxSearchObj;
    private string ZoomValue = "100%";
    
    public void OnCreateSearch()
    {
        this.TextBoxSearchObj.AddIconAsync("prepend", "e-icons e-search");
    }

    List<Zoom> ZoomList = new List<Zoom>
    {
        new Zoom() { Percentage  = "25%" },
        new Zoom() { Percentage  = "50%" },
        new Zoom() { Percentage  = "75%" },
        new Zoom() { Percentage  = "100%" }
    };

    public class Zoom
    {
        public string Percentage { get; set; }
    }

}
<style>
    .template .e-input-group-icon.e-search {
        line-height: 2.2;
    }

    .tailwind .template .e-input-group-icon.e-search,
    .tailwind-dark .template .e-input-group-icon.e-search {
        line-height: 1;
        padding: 4px;
    }

    .template.e-toolbar .e-toolbar-pop .e-pv-comment-icon,
    .template.e-toolbar .e-toolbar-pop .e-annotation-edit{
        padding-top:4px !important; 
    }

    .fluent2 .template .e-input-group-icon.e-search,
    .fluent2-dark .template .e-input-group-icon.e-search,
    .fluent2-highcontrast .template .e-input-group-icon.e-search {
        line-height: 0;
    }

    .fluent .template .e-input-group:not(.e-success):not(.e-warning):not(.e-error),
    .fluent .template .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
        border-color: #c8c6c4;
    }
    .template.e-toolbar .total-page {
        padding-left: 4px;
        cursor: default;
        font-size:14px;
    }
    .template.e-toolbar .e-toolbar-pop {
        overflow: auto;
    }
    .template.e-toolbar .e-toolbar-pop .page-count,
    .template.e-toolbar .e-toolbar-pop .selection-tool,
    .template.e-toolbar .e-toolbar-pop .pan-mode,    
    .template.e-toolbar .e-toolbar-pop .percentage {
        display: none;
    }
</style>