@page "/avatar/card"
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager




@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the integration of avatar component with card component to create business cards.</p>
</SampleDescription>
<ActionDescription>
    <p>The circle avatar is integrated into card component to design business cards. The image element is wrapped by the avatar container to apply circle style to avatar and add <code>.e-avatar-circle </code> class to the avatar container.</p>
</ActionDescription>

    <div class="sample_container">
        <!-- Card Component -->
        <div class="e-card e-custom-card">
            <div class="e-card-header">
                <!-- xLarge Circle Avatar-->
                <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                    <img src=@(SampleService.WebAssetsPath + "images/avatar/pic02.png") alt="profile_pic">
                </div>
            </div>
            <div class="e-card-header">
                <div class="e-card-header-caption center">
                    <div class="e-card-header-title name">Laura Callahan</div>
                    <div class="e-card-sub-title">Sales Coordinator</div>
                </div>
            </div>
            <div class="e-card-content">
                <p class="avatar-content">
                    Laura received a BA in psychology from the University of Washington. She has also completed a course
                    in business French. She reads and writes French.
                </p>
            </div>
        </div>
    </div>
@code {
    
}
<style>
    .sample_container {
        max-width: 300px;
        margin: auto;
        min-height: 400px;
    }
    /* Card Customizations */
    .e-custom-card {
        overflow: visible;
        margin-top: 80px;
        border-width: 1px;
        padding: 1px;
    }
    .e-custom-card.e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        color: rgba(83, 101, 132, 0.65);
        text-shadow: 0 0 0.1px;
    }
    .e-custom-card :nth-child(2) .e-card-header-title.name {
        margin-top: 30px;
    }
    .e-custom-card .e-card-header {
        text-align: center;
    }
    .e-custom-card .e-avatar {
        font-size: 40px;
        position: absolute;
        top: calc(0% - 1.5em);
        left: calc(50% - 1.5em);
        box-shadow: 0 16px 28px -8px rgba(0, 0, 0, .36), 0 4px 15px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    }
    .tailwind .e-custom-card .e-avatar,
    .bootstrap5 .e-custom-card .e-avatar,
    .bootstrap5-dark .e-custom-card .e-avatar,
    .fluent .e-custom-card .e-avatar,
    .fluent-dark .e-custom-card .e-avatar,
    .material3 .e-custom-card .e-avatar,
    .material3-dark .e-custom-card .e-avatar,
    .fluent2 .e-custom-card .e-avatar,
    .fluent2-dark .e-custom-card .e-avatar,
    .fluent2-highcontrast .e-custom-card .e-avatar {
        height: 3em;
        width: 3em;
    }
    .e-card.e-custom-card :nth-child(3) {
        padding: 12px 0px 20px 0px;
        height: 130px;
    }
    .e-custom-card.e-card .e-card-content {
        overflow: visible;
    }
    .avatar-content {
        text-align: center;
        color: rgb(94, 94, 94);
    }
    .sample_container .name {
        margin-top: 10px;
    }
</style>
