@page "/avatar/defaultfunctionalities"
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates default and circular avatars. Apply the <code>.e-avatar</code> class for the default avatar and <code>.e-avatar-circle</code> for a circular avatar.
  </p>
  <p>
    The Avatar is a pure CSS component used to represent profile pictures, initials, or icons in a presentable way. It supports two shapes:
  </p>
  <ul>
    <li>Default avatar: Add <code>.e-avatar</code> to the target element.</li>
    <li>Circle avatar: Add <code>.e-avatar-circle</code> to the target element.</li>
  </ul>
  <p>
    The Avatar supports five sizes via modifier classes:
  </p>
  <ul>
    <li>xSmall: <code>.e-avatar-xsmall</code></li>
    <li>Small: <code>.e-avatar-small</code></li>
    <li>Default: <code>.e-avatar</code> (no additional class required)</li>
    <li>Large: <code>.e-avatar-large</code></li>
    <li>xLarge: <code>.e-avatar-xlarge</code></li>
  </ul>
  <p>
    <i>The <code>.e-avatar</code> class is the base class and must be included to use any avatar features.</i>
  </p>
  <p>
    Images can be added to the avatar in two ways:
  </p>
  <ul>
    <li>Using the CSS <code>background</code> property on the avatar element (no additional element needed)</li>
    <li>Using an <code>&lt;img&gt;</code> tag wrapped by the avatar element</li>
  </ul>
</ActionDescription>


    <div class="sample_container avatar-default">
        <div class="avatar-block">
            <div class="e-card e-avatar-showcase">
                <div class="e-card-content">
                    <!-- xSmall Avatar-->
                    <div class="e-avatar e-avatar-xsmall image"></div>
                    <!-- Small Avatar-->
                    <div class="e-avatar e-avatar-small image"></div>
                    <!-- Avatar-->
                    <div class="e-avatar image"></div>
                    <!-- Large Avatar-->
                    <div class="e-avatar e-avatar-large image"></div>
                    <!-- xLarge Avatar-->
                    <div class="e-avatar e-avatar-xlarge image"></div>
                </div>
                <div class="e-card-content">
                    <div>Default</div>
                </div>
            </div>
        </div>
        <div class="avatar-block">
            <div class="e-card e-avatar-showcase">
                <div class="e-card-content">
                    <!-- xSmall Circle Avatar-->
                    <div class="e-avatar e-avatar-xsmall e-avatar-circle image"></div>
                    <!-- Small Circle Avatar-->
                    <div class="e-avatar e-avatar-small e-avatar-circle image"></div>
                    <!-- Circle Avatar-->
                    <div class="e-avatar e-avatar-circle image"></div>
                    <!-- Large Circle Avatar-->
                    <div class="e-avatar e-avatar-large e-avatar-circle image"></div>
                    <!-- xLarge Circle Avatar-->
                    <div class="e-avatar e-avatar-xlarge e-avatar-circle image"></div>
                </div>
                <div class="e-card-content">
                    <div>Circle</div>
                </div>
            </div>
        </div>
    </div>
@code {
    
}
<style>
    .sample_container.avatar-default {
        overflow: auto;
        margin: auto;
    }
    /* Media Quries for various devices */
    @@media only screen and (max-width: 550px) {
        #control-content .sample_container.avatar-default {
            margin-top: 80px;
        }
    }
    @@media only screen and (max-width: 965px) {
        .sample_container.avatar-default {
            max-width: 332px;
            margin-top: 5px;
        }
        .avatar-block {
            margin-top: 15px;
        }
        .e-avatar-showcase.e-card {
            width: 300px;
        }
    }
    @@media only screen and (min-width: 965px) {
        .sample_container.avatar-default {
            max-width: 825px;
            margin-top: 70px;
        }
        .e-avatar-showcase.e-card {
            width: 400px;
        }
    }
    .sample_container.avatar-default .avatar-block {
        display: inline-block;
        vertical-align: top;
    }
    /* Assinging image for avatar in 'background-image' property */
    .e-avatar.image {
        background-image: url(@(SampleService?.WebAssetsPath + "images/avatar/pic01.png"));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /* Card Customization */
    .e-avatar-showcase.e-card {
        height: 140px;
        margin: 5px;
    }
    .e-avatar-showcase.e-card .e-card-content {
        align-self: center;
        padding: 5px;
        overflow: visible;
    }
</style>
