@page "/Viewer/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor.PdfViewerServer

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "PdfViewer";
    SampleBrowser.CurrentControlCategory = "PdfViewer";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PdfViewer;
    SampleBrowser.ActionDescription = new string[] {
@"<p>This sample demonstrates the default functionalities of the PDF viewer.</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
The PDF viewer component is used to view, annotate (review), download and print the PDF documents.
</p>
<p>
In this demo, the PDF viewer is rendered with default PDF file.
</p>
<p>
More information about PDF viewer can be found in this
<a target=""_blank""
href=""https://ej2.syncfusion.com/aspnet-core-razor-components/documentation/pdfviewer/getting-started/"">
documentation section
</a>.
</p>"
};
}
@*End:Hidden*@

<div class="control-section">
     <EjsPdfViewerServer DocumentPath="@DocumentPath" Height="640px" Width="100%"></EjsPdfViewerServer>    
</div>

@code {
    private string DocumentPath { get; set; } = "wwwroot/data/PDF_Succinctly.pdf";
}