@page "/pdf-viewer/default-functionalities"

@using Syncfusion.Blazor.PdfViewerServer

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample explains the core features of PDF Viewer such as PDF viewing, printing, navigation, text search and selection, zooming, panning, reviewing, and more with their built-in toolbar.</p>
</SampleDescription>
<ActionDescription>
   <p>The PDF Viewer component allows you to view, review, and print the PDF files. This sample explains the following key features of PDF Viewer:</p>
   <ul>
        <li>View the PDF document.</li>
        <li>Core interactions such as scrolling, zooming, panning, and page navigation.</li>
        <li>Annotations such as TextMarkup, Shape, Measure, Stamp, and Free Text.</li>
        <li>Built-in toolbar.</li>
        <li>Select and copy text from a PDF file.</li>
        <li>Search a text easily across a PDF document.</li>
        <li>Easy navigation with the help of Bookmarks, thumbnails, hyperlinks, and table of contents.</li>
        <li>View modes such as fit to page and fit to width.</li>
        <li>Print the entire document or a specific page directly from the browser.</li>
    </ul>   
    <p>In this demo, the PDF Viewer is rendered with a default PDF file.</p>
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/server-side-application/'> documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
     <SfPdfViewerServer DocumentPath="@DocumentPath" Height="640px" Width="100%"></SfPdfViewerServer>     
</div>

@code {
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/pdf-succinctly.pdf";
}