@page "/Viewer/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor.PdfViewerServer

@inherits SampleBaseComponent;

<div class="control-section">
     <EjsPdfViewerServer DocumentPath="@DocumentPath" Height="640px" Width="100%"></EjsPdfViewerServer>    
</div>

@code {
    private string DocumentPath { get; set; } = "wwwroot/data/PDF_Succinctly.pdf";
}