@page "/pdf-viewer/form-filling"

@using Syncfusion.Blazor.PdfViewerServer

@inherits SampleBaseComponent;

<div class="control-section">
    <SfPdfViewerServer DocumentPath="@DocumentPath" Height="640px" Width="100%"></SfPdfViewerServer>
</div>

@code {
    private string DocumentPath { get; set; } = "wwwroot/data/FormFillingDocument.pdf";
}
