@page "/pdf-viewer/form-filling"

@using Syncfusion.Blazor.PdfViewerServer

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample explains the form filling features of PDF Viewer and allows you to edit the form fields, download and print the edited form fields PDF documents.</p>
</SampleDescription>
<ActionDescription>
   <p>The PDF Viewer component is used to edit the form fields, download and print the PDF documents with form fields data.</p>
   <p>In this demo, the PDF Viewer is rendered with PDF form file.</p>
   <p>More information about PDF Viewer can be found in this<a target='_blank' href='https://ej2.syncfusion.com/blazor/documentation/pdfviewer/getting-started/server-side-application/'>documentation section</a>.</p>
</ActionDescription>


<div class="control-section">
    <SfPdfViewerServer DocumentPath="@DocumentPath" Height="640px" Width="100%"></SfPdfViewerServer>
</div>

@code {
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/form-filling-document.pdf";
}
