@page "/pdf-viewer/right-to-left"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.PdfViewerServer

@inherits SampleBaseComponent;

<SampleDescription>
   <p>RTL provides an option to switch the text direction and layout of the PDF Viewer from right to left. It improves the user experiences and accessibility for users who use right-to-left languages (Arabic, Farsi, Urdu, etc.). To enable RTL PDF Viewer, set the enableRtl to true.</p> 
</SampleDescription>
<ActionDescription>
   <p>In this example, you can see the RTL PDF Viewer and locale set in Arabic[locale value is ar-AE]</p>
   <p>By default, locale value is en-US. If you want to change the en-US culture to a different culture, you have to change the locale accordingly.</p>
   <p>More information about PDF Viewer can be found in this<a target='_blank' href='https://ej2.syncfusion.com/blazor/documentation/pdfviewer/getting-started/server-side-application/'>documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfPdfViewerServer DocumentPath="@DocumentPath" Height="640px" Width="100%" EnableRtl="true" Locale="ar-AE"></SfPdfViewerServer>
</div>

@code {
    private string DocumentPath { get; set; } = "wwwroot/data/RTLText.pdf";

    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.JsRuntime.Sf().LoadLocaleData("wwwroot/locale.json");
    }
}