/* CSS for Preferences component */
::deep .sf-preference-culture .sf-culture-dropdown .sb-theme-studio,
::deep .sf-preference-theme-section .sf-theme-mode-dropdown .sb-theme-studio {
    display: none;
}
::deep .sf-theme-mode-dropdown .sf-dropdown-container .sf-list-li {
    height: 40px;
}
.sf-preference-translate {
    font-size: 10px;
    color: #696463;
}
.sf-preferences-popup {
    position: absolute;
    z-index: 1000;
    right: 17%;
    width: 242px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    border-radius: 4px;
    cursor: default;
    top: 43px;
    font-size: 12px;
}
.sf-preferences-header {
    line-height: 15px;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #CCCCCC;
}
.sf-preferences-content {
    padding: 4px 16px;
}
.sf-preference-culture {
    padding-bottom: 0px;
}
.sf-preference-label {
    padding-bottom: 5px;
    font-size: 14px;
    display: table;
}
.sf-preference-label div {
    display: table-cell;
    vertical-align: middle;
}
.sf-preference-responsive .sf-preference-icons:before {
    content: "\e920";
}
.sf-preference-culture .sf-preference-icons:before {
    content: "\e918";
}

.sf-preference-icons {
    padding-right: 14px;
    font-size: 18px !important;
    color: #9e9e9e;
}

.sf-preference-btn-group {
    display: table;
}
.sf-preference-btn {
    width: 104px;
    background-color: #e8e8e8;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border: 1px solid transparent;
    display: table-cell;
    cursor: pointer;
}
.sf-preference-btn:hover {
    border-color: rgba(239, 230, 230, 0.2);
}

.sf-preference-btn:first-child {
    border-right: none;
}

.sf-preference-btn:last-child {
    border-left: none;
}

.sf-preference-btn.active {
    background-color: #126fd9;
    color: white;
}
.sf-preference-touch-btn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.sf-preference-mouse-btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.sf-preference-translate {
    padding: 4px 0 12px 10px;
}
.sf-preference-theme-section .sf-preference-icons:before {
    content: "\e92c";
}