@page "/AutoComplete/DiacriticsFiltering"

@using Syncfusion.EJ2.Blazor.DropDowns

@inherits SampleBaseComponent;

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsAutoComplete TValue="string" Placeholder="e.g: gul" IgnoreAccent=@EnableIgnoreAccent DataSource="@Country">
            <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
        </EjsAutoComplete>
    </div>
</div>

@code{
    public bool EnableIgnoreAccent { get; set; } = true;

    public class Data
    {
        public string Name { get; set; }
    }

    List<Data> Country = new List<Data>
    {
        new Data() { Name = "Aeróbics"},
        new Data() { Name = "Aeróbics en Agua"},
        new Data() { Name = "Aerografía"},
        new Data() { Name = "Águilas"},
        new Data() { Name = "Ajedrez"},
        new Data() { Name = "Ala Delta"},
        new Data() { Name = "Álbumes de Música"},
        new Data() { Name = "Alusivos"},
        new Data() { Name = "Análisis de Escritura a Mano"},
        new Data() { Name = "Dyarbakır"},
        new Data() { Name = "Derepazarı "},
        new Data() { Name = "Gülümsemek "},
        new Data() { Name = "Teşekkürler"},
        new Data() { Name = "Gülhatmi"},
    };
}

<style>
    .control_wrapper {
        width: 300px;
        margin: 0 auto;
        padding-top: 70px;
    }
</style>