@page "/"
@namespace ej2_blazor_samples.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLQL39J');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demos, Examples of Syncfusion Blazor Components - Preview</title>
    <base href="~/" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="~/scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/roboto.css" rel="stylesheet" />
    <link href="https://cdn.syncfusion.com/ej2/17.3.27/material.css" rel="stylesheet" />
    <link href="~/styles/highlight.css" rel="stylesheet" />
    <script src="~/scripts/highlight.min.js"></script>
    <script src="~/scripts/index.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/17.3.27/dist/ej2.min.js"></script>
    <script type="text/javascript">
        var themeName = getParameterByName("theme");
        if (themeName === 'material') {
            ej.base.enableRipple(true);
        }

        (function () {
         if ( typeof NodeList.prototype.forEach === "function" ) return false;
           NodeList.prototype.forEach = Array.prototype.forEach;
        })();

        document.write('<link href="styles/' + (themeName || 'material') + '.css" rel="stylesheet" id = "tId" />');
        document.write('<link href="styles/index.css" rel="stylesheet" />');

        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="https://cdn.syncfusion.com/ej2/17.3.27/dist/ejs.interop-ie.min.js"><\/script>');
            document.write('<script src="https://cdn.syncfusion.com/ej2/17.3.27/dist/blazor.polyfill.min.js"><\/script>');
        } else {
            document.write('<script src="https://cdn.syncfusion.com/ej2/17.3.27/dist/ejs.interop.min.js"><\/script>');
        }

        var timeOutVar;
        function timeOutFunction() {
            timeOutVar = setTimeout(showPageAfterLoad, 1000);
        }

        function showPageAfterLoad() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("app").style.opacity = "1";
        }
    </script>
</head>
<body onload="timeOutFunction()">
    <div hidden id="sync-analytics" data-queue="EJ2 - Blazor - Demos"></div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLQL39J" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="loader" class="sb-loading">
        <svg class="circular" height="40" width="40">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"></circle>
        </svg>
    </div>

    <div style="opacity: 0;" id="app">
        <app>
            @(await Html.RenderComponentAsync<App>(RenderMode.Server))
        </app>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
