@layout HomeLayout
@page "/"

@using ej2_blazor_samples
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components

<div class="container sample-list">
    <div class="col-sm-6 col-md-3 col-xs-6 sample-group">
        <div class="catagory">Grids</div>
        <ul class="list--hover">
            <li>
                <a href="Grid/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-grid"></span>
                    <span>DataGrid</span>
                </a>
            </li>
            <li>
                <a href="PivotTable/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-pivot"></span>
                    <span>Pivot Table</span>
                </a>
            </li>
            <li>
                <a href="TreeGrid/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-treegrid"></span>
                    <span>Tree Grid</span>
                </a>
            </li>
        </ul>
        <div class="catagory">Data Visualization</div>
        <ul class="list--hover">
            <li>
                <a href="Charts/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-charts"></span>
                    <span>Charts</span>
                </a>
            </li>
            <li>
                <a href="StockChart/StockChart" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-stockchart"></span>
                    <span>Stock Chart</span>
                </a>
            </li>
            <li>
                <a href="CircularGauge/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-circulargauge"></span>
                    <span>Circular Gauge</span>
                </a>
            </li>
            <li>
                <a href="Diagrams/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-diagram"></span>
                    <span>Diagram</span>
                </a>
            </li>
            <li>
                <a href="HeatMapChart/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-heatmap"></span>
                    <span>HeatMap Chart</span>
                </a>
            </li>
            <li>
                <a href="LinearGauge/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-lineargauge"></span>
                    <span>Linear Gauge</span>
                </a>
            </li>
            <li>
                <a href="Maps/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-maps"></span>
                    <span>Maps</span>
                </a>
            </li>
            <li>
                <a href="RangeSelector/RangeNavigator" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-range_navigator"></span>
                    <span>Range Selector</span>
                </a>
            </li>

            <li>
                <a href="SmithChart/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-smith_chart"></span>
                    <span>Smith Chart</span>
                </a>
            </li>

            <li>
                <a href="Barcodes/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-barcode"></span>
                    <span>Barcode Generator</span>
                    <div class="e-badge badge-css">
                        NEW
                    </div>
                </a>
            </li>

            <li>
                <a href="Sparkline/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-sparkline"></span>
                    <span>Sparkline Charts</span>
                </a>
            </li>
            <li>
                <a href="TreeMap/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-treemap"></span>
                    <span>TreeMap</span>
                </a>
            </li>
        </ul>
        <div class="catagory">Forms</div>
        <ul class="list--hover">
            <li>
                <a href="QueryBuilder/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-filterbuilder"></span>
                    <span>Query Builder</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-3 col-xs-6 sample-group complist-sec">
        <div class="catagory">Editors</div>
        <ul class="list--hover">
            <li>
                <a href="RichTextEditor/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-RTE"></span>
                    <span>Rich Text Editor</span>
                </a>
            </li>
            <li>
                <a href="DocumentEditor/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-document_editor"> </span>
                    <span>Word Processor</span>
                </a>
            </li>
            <li>
                <a href="Editors/Overview/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-insideeditor"></span>
                    <span>In-place Editor</span>
                </a>
            </li>
        </ul>
        <div class="catagory">Calendars</div>
        <ul class="list--hover">
            <li>
                <a href="Schedule/Default/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-schedule"></span>
                    <span>Scheduler</span>
                </a>
            </li>
            <li>
                <a href="Calendar/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-calendar"></span>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="DatePicker/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-datepicker"></span>
                    <span>DatePicker</span>
                </a>
            </li>
            <li>
                <a href="DateRangePicker/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-daterangepicker"></span>
                    <span>DateRangePicker</span>
                </a>
            </li>
            <li>
                <a href="DateTimePicker/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-datetimepicker"></span>
                    <span>DateTime Picker</span>
                </a>
            </li>
            <li>
                <a href="TimePicker/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-timepicker"></span>
                    <span>TimePicker</span>
                </a>
            </li>
            <li>
                <a href="Gantt/DefaultFunctionalities//" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-gantt"></span>
                    <span>Gantt Chart</span>
                    <!-- <div class="e-badge badge-css">
                        NEW
                    </div> -->
                </a>
            </li>
        </ul>
        <div class="catagory">Buttons</div>
        <ul class="list--hover">
            <li>
                <a href="Buttons/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-button"></span>
                    <span>Button</span>
                </a>
            </li>
            <li>
                <a href="Buttons/DropDownButton/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-dropdownbutton"></span>
                    <span>Dropdown Menu</span>
                </a>
            </li>
            <li>
                <a href="Buttons/ProgressButton/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-progressbutton"></span>
                    <span>Progress Button</span>
                </a>
            </li>

            <li>
                <a href="Buttons/SplitButton/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-splitbutton"></span>
                    <span>Split Button</span>
                </a>
            </li>
            <li>
                <a href="Chips/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-chip"></span>
                    <span>Chips</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-6 col-md-3 col-xs-6 sample-group complist-sec">
        <div class="catagory">Dropdowns</div>
        <ul class="list--hover">
            <li>
                <a href="AutoComplete/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-autocomplete"></span>
                    <span>AutoComplete</span>
                </a>
            </li>
            <li>
                <a href="ComboBox/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-combobox"></span>
                    <span>ComboBox</span>
                </a>
            </li>
            <li>
                <a href="DropDownList/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-dropdownlist"></span>
                    <span>Dropdown List</span>
                </a>
            </li>
            <li>
                <a href="MultiSelect/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-multiselect"></span>
                    <span>MultiSelect Dropdown</span>
                </a>
            </li>
            <li>
                <a href="ListBox/DefaultFunctionalities#/material/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-listbox"></span>
                    <span>ListBox</span>
                    <!-- <div class="e-badge badge-css">
                        PREVIEW
                    </div> -->

                </a>
            </li>
        </ul>
        <div class="catagory">Navigation</div>
        <ul class="list--hover">
            <li>
                <a href="Accordion/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-accordion"></span>
                    <span>Accordion</span>
                </a>
            </li>
            <li>
                <a href="ContextMenu/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-contextmenu"></span>
                    <span>Context Menu</span>
                </a>
            </li>
            <li>
                <a href="MenuBar/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-menu"></span>
                    <span>Menu Bar</span>
                </a>
            </li>
            <li>
                <a href="Sidebar/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-sidebar"></span>
                    <span>Sidebar</span>
                </a>
            </li>
            <li>
                <a href="Tab/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-tab"></span>
                    <span>Tabs</span>
                </a>
            </li>
            <li>
                <a href="Toolbar/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-toolbar"></span>
                    <span>Toolbar</span>
                </a>
            </li>
            <li>
                <a href="TreeView/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-treeview"></span>
                    <span>TreeView</span>
                    <!-- <div class="e-badge badge-css">
                        PREVIEW
                    </div> -->
                </a>
            </li>
            <li>
                <a href="FileManager/Overview//" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-filemanager"></span>
                    <span>File Manager</span>
                    <!-- <div class="e-badge badge-css">
                        PREVIEW
                    </div> -->
                </a>
            </li>
        </ul>
        <div class="catagory">Notifications</div>
        <ul class="list--hover">
            <li>
                <a href="Toast/DefaultFunctionalities" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-toast"></span>
                    <span>Toast</span>
                </a>
            </li>
            <li>
                <a href="Spinner/DefaultFunctionalities" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-progressbutton"></span>
                    <span>Spinner</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-6 col-md-3 col-xs-6 sample-group complist-sec">
        <div class="catagory">Inputs</div>
        <ul class="list--hover">
            <li>
                <a href="TextBox/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-textbox"></span>
                    <span>TextBox</span>
                </a>
            </li>
            <li>
                <a href="MaskedTextBox/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-maskedtextbox"></span>
                    <span>Input Mask</span>
                </a>
            </li>
            <li>
                <a href="NumericTextBox/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-numerictextbox"></span>
                    <span>Numeric TextBox</span>
                </a>
            </li>
            <li>
                <a href="Buttons/RadioButton/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-radiobutton"></span>
                    <span>Radio Button</span>
                </a>
            </li>
            <li>
                <a href="Buttons/CheckBox/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-checkbox"></span>
                    <span>Checkbox</span>
                </a>
            </li>
            <li>
                <a href="ColorPicker/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-colorpicker"></span>
                    <span>Color Picker</span>
                </a>
            </li>
            <li>
                <a href="Uploader/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-uploader"></span>
                    <span>File Upload</span>
                </a>
            </li>
            <li>
                <a href="Slider/Default/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-slider"></span>
                    <span>Slider</span>
                </a>
            </li>
            <li>
                <a href="Buttons/Switch/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-switch"></span>
                    <span>Toggle Switch Button</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-6 col-md-3 col-xs-6 sample-group complist-sec">
        <div class="catagory">Layout</div>
        <ul class="list--hover">
            <li>
                <a href="Dialog/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-dialog"></span>
                    <span>Dialog</span>
                </a>
            </li>
            <li>
                <a href="Listview/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-listview">
                    </span>
                    <span>ListView</span>
                </a>
            </li>
            <li>
                <a href="Tooltip/Default/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-tooltip"></span>
                    <span>Tooltip</span>
                    <!-- <div class="e-badge badge-css">
                        PREVIEW
                    </div> -->
                </a>
            </li>
            <li>
                <a href="Splitter/Default/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-splitter"></span>
                    <span>Splitter</span>
                </a>
            </li>
            <li>
                <a href="dashboardlayout/default//" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-dashboardlayout"></span>
                    <span>Dashboard Layout</span>
                    <!-- <div class="e-badge badge-css">
                        PREVIEW
                    </div> -->
                </a>
            </li>
        </ul>
        <div class="catagory">Viewer</div>
        <ul class="list--hover">
            <li>
                <a href="Viewer/DefaultFunctionalities/" rel="noopener noreferrer">
                    <span class="sb-icons sb-icon-pdfviewer"></span>
                    <span>PDF Viewer</span>
                </a>
            </li>
        </ul>
    </div>
</div>



