
@using Syncfusion.EJ2.Blazor.Navigations;
@using Microsoft.AspNetCore.Components;
@using ej2_blazor_samples
@inject IJSRuntime JsRuntime;
@inherits ComponentBase;
@implements IDisposable

<div id='component-name' role='header' class='sb-component-name sb-rightpane-padding'>
    <div class='sb-sample-text'>@Component</div>
</div>
<div id='sample-bread-crumb' class='sb-bread-crumb sb-rightpane-padding'>
    <h1 class='sb-bread-crumb-text'>@Path</h1>
</div>

@code {
    [Parameter]
    public string Path { get; set; }

    [Parameter]
    public string Component { get; set; }

    public void UpdatePath(string control, string category, string sample)
    {
        if (control.Replace(" ", "").Trim() == category.Replace(" ", "").Trim())
        {
            Path = category + " / " + sample;
            Component = category;
        }
        else
        {
            Path = control + " / " + category + " / " + sample;
            Component = control;
        }
        this.StateHasChanged();
    }

    public void Dispose()
    {

    }

}
