@using Syncfusion.EJ2.Blazor.Navigations;
@using Microsoft.AspNetCore.Components;
@inject IJSRuntime JsRuntime;



<EjsSidebar ID="left-sidebar" @ref="SideBar" EnableGestures="false" Target=".sb-content">
    <ChildContent>
        <div class='sb-left-pane e-view'>
            <div class="sb-left-pane-header">
                <div class="sb-header-top">
                    <div class="sb-ej2">
                        <div class="sb-mobile-logo"></div>
                        <div class="sb-name">Essential JS 2</div>
                    </div>
                </div>
            </div>
            <div class="sb-home" @onclick="HomeButtonClick">
                <div class="sb-home-link sb-icons sb-icon-Home"></div>
                <div class="sb-home-text">
                    <span>HOME</span>
                </div>
                <a id="sb-home" href="https://ej2.syncfusion.com/home/blazor.html"></a>
            </div>

            <div class='sb-control-navigation e-view'>
                <NavMenuComponent TValue="object" @ref="NavMenuObject"></NavMenuComponent>
            </div>
            <div class='sb-left-footer'>
                <div class="sb-mobile-header-buttons">
                    <a href='https://www.syncfusion.com/aspnet-core-ui-controls' target="_blank">
                        <div class="sb-mobile-header-about">
                            About
                        </div>
                    </a>
                    <a href='https://www.syncfusion.com/downloads/aspnetcore-js2' target="_blank">
                        <div class="sb-mobile-header-price">Pricing</div>
                    </a>
                </div>
                <div class='sb-left-footer-links'>
                </div>
            </div>
        </div>
    </ChildContent>
</EjsSidebar>

@code {

    public EjsSidebar SideBar { get; set; }

    public NavMenuComponent<object> NavMenuObject { get; set; }

    private void HomeButtonClick()
    {
        JsRuntime.InvokeAsync<string>("homeButtonClick");
    }
}