
@using Syncfusion.EJ2.Blazor.Navigations;
@using Microsoft.AspNetCore.Components;
@using ej2_blazor_samples
@inject IJSRuntime JsRuntime;
@inherits ComponentBase;
@implements IDisposable

<div class='sb-right-pane e-view' id='right-pane'>
    <div class="sb-content-overlay">
        <div class="sb-loading sb-hide">
            <svg class="circular" height="40" width="40">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div class='sb-desktop-wrapper'>
        <BreadCrumbComponent @ref="BreadCrumbObj"></BreadCrumbComponent>
        <div class='sb-action-description sb-rightpane-padding'>
        </div>
        <div id="sb-content" class='sb-content-section'>
            <EjsTab CssClass='sb-content-tab' id='content-tab'>
                <TabEvents Selecting="swiped" Selected="OnSourceTabSelected"></TabEvents>
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="DEMO" IconCss="sb-icons sb-icon-Demo"></TabHeader>
                            </ChildContent>                           
                            @*<HeaderTemplate>
                                <div>
                                    <span class="sb-icons sb-icon-Demo"></span><span class="sb-tab-title"> DEMO </span>
                                </div>
                            </HeaderTemplate>*@
                            <ContentTemplate>
                                <div>
                                    <div class='sb-demo-section'>
                                        <div class="control-fluid">
                                            <div class="container-fluid">
                                                <div id="control-content">
                                                    @Body
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="SOURCE" IconCss="sb-icons sb-icon-Code"></TabHeader>
                            </ChildContent>
                            @*<HeaderTemplate>
                                <div>
                                    <span class="sb-icons sb-icon-Code"></span><span class="sb-tab-title">  SOURCE </span>
                                </div>
                            </HeaderTemplate>*@
                            <ContentTemplate>
                                <div>
                                    <SourceCodeComponent @ref="SourceTab"></SourceCodeComponent>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
            </EjsTab>
        </div>
        <div class='description-section sb-rightpane-padding'>

        </div>
        <div class="sb-footer">
            <div class="sb-footer-left">
                <div class="sb-footer-links">
                    <a href="https://ej2.syncfusion.com/blazor/documentation/" target="_blank">
                        <div class="sb-footer-link">Documentation</div>
                    </a>
                    <a href="https://www.syncfusion.com/forums/blazor-components/" target="_blank">
                        <div class="sb-footer-link">Forum</div>
                    </a>
                    <a href="https://www.syncfusion.com/blogs/" target="_blank">
                        <div class="sb-footer-link">Blog</div>
                    </a>
                    <a href="https://www.syncfusion.com/kb" target="_blank">
                        <div class="sb-footer-link">Knowledge Base</div>
                    </a>
                </div>
                <div class="sb-footer-copyright">@CopyRight</div>
            </div>
            <div class="sb-footer-logo">
                <a href="https://www.syncfusion.com/" target="_blank">
                    <div class="sb-footer-logo-icon"></div>
                </a>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public SourceCodeComponent SourceTab { get; set; }

    public string CopyRight { get; set; }

    public BreadCrumbComponent BreadCrumbObj {get; set;}
    private void swiped(Syncfusion.EJ2.Blazor.Navigations.SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }        
    }
    protected void OnSourceTabSelected(Syncfusion.EJ2.Blazor.Navigations.SelectEventArgs arg)
    {
        this.SourceTab.OnSourceTabSelected(arg);
    }

    public void UpdateBreadCrumb(string control, string category, string  sample)
    {
        this.BreadCrumbObj.UpdatePath(control, category, sample);
    }


    protected override void OnAfterRender(bool firstRender)
    {


    }

    protected override async Task OnInitializedAsync()
    {
        var year = DateTime.Now.ToString("yyyy");
        this.CopyRight = "Copyright © 2001 - " + year +" Syncfusion Inc.";
    }

    public void Dispose()
    {


    }
    
}