@using System.Text.RegularExpressions;
@using blazor_samples
@using Syncfusion.Blazor.Navigations;
@using Microsoft.AspNetCore.Components;
@inject IJSRuntime JsRuntime;
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper;
@inject SampleService Service;

<div class='sb-source-section'>
    <SfTab ID='sb-source-tab' Items="@SourceCodeItems" HeaderPlacement="@HeaderPosition.Bottom">
        <TabEvents Selected="OnSourceClicked"></TabEvents>
    </SfTab>
</div>

@code {
    public List<TabItem> SourceCodeItems;

    private string SourceCode { get;set; }
    private string FileName { get; set; }
    private bool IsSourceCodeRequired { get; set; }

    protected async Task OnSourceClicked(Syncfusion.Blazor.Navigations.SelectEventArgs arg)
    {
        string response = string.Empty;
        await this.GetSourceData((int)arg.SelectedIndex);
    }

    public Sample SampleData
    {
        get
        {
            return Service.Data.CurrentSample;
        }
    }

    public SampleList Control
    {
        get
        {
            return Service.Data.CurrentControl;
        }
    }

    protected async Task GetSourceData(int index)
    {
        await InvokeAsync(() =>
        {
            SourceCode = string.Empty;
            FileName = string.Empty;
            if (SampleData.SourceFiles.Count > index && SampleData.Directory != null)
            {
                FileName = SampleData.SourceFiles[index].FileName;
                try
                {
                    SourceCode = System.IO.File.ReadAllText("Pages/" + SampleData.Directory + "/" + SampleData.SourceFiles[index].FileName);
                }
                catch (Exception e)
                {
                    string directory = SampleData.Directory;
                    if (SampleData.Directory.LastIndexOf("/") > 0)
                    {
                        directory = directory.Substring(0, SampleData.Directory.LastIndexOf("/"));
                    }

                    SourceCode = System.IO.File.ReadAllText("Pages/" + directory + "/" + SampleData.SourceFiles[index].FileName);
                }

            }
            else
            {
                SourceCode = System.IO.File.ReadAllText("Pages/" + SampleData.Directory + "/" + SampleData.FileName);
                FileName = SampleData.FileName;
            }
            SourceCode = this.FormatSourceCode(SourceCode);
            this.IsSourceCodeRequired = true;
        });
    }

    public string[] sourceResponse { get; set; } = new string[5];

    protected string RemoveString(string comments)
    {
        var StartTag = "@*Hidden:Lines*@";
        int StartIndex = comments.IndexOf(StartTag);
        if (StartIndex > 0)
        {
            var EndTag = "@*End:Hidden*@";
            int EndIndex = comments.IndexOf("@*End:Hidden*@") + EndTag.Length;
            string Content = comments.Substring(StartIndex, EndIndex - StartIndex);
            return comments.Replace(Content, "");
        }
        else
        {
            return comments;
        }
    }

    public string FormatSourceCode(string response)
    {
        response = response.Replace("<", "&lt;");
        response = response.Replace(">", "&gt;");
        while (response.IndexOf("@*Hidden:Lines*@") > -1)
        {
            response = RemoveString(response);
        }
        response = Regex.Replace(response, @"^(?:[\t ]*(?:\r?\n|\r))+", string.Empty, RegexOptions.Multiline);

        return response;
    }

    public async Task OnSourceTabSelected(Syncfusion.Blazor.Navigations.SelectEventArgs args)
    {
        SourceCodeItems = new List<TabItem>();
        if (args == null || (args != null && args.SelectedIndex == 1))
        {
            if (SampleData.SourceFiles.Count != 0)
            {
                for (var i = 0; i < SampleData.SourceFiles.Count; i++)
                {
                    SourceCodeItems.Add(
                    new TabItem()
                    {
                        Header = new TabHeader() { Text = SampleData.SourceFiles[i].FileName },
                        ContentTemplate =@<pre class='sb-src-code'><code></code></pre>
                    });
                }
                await this.GetSourceData(0);
            }
            else
            {
                SourceCodeItems = new List<TabItem>() {
                new TabItem() { Header = new TabHeader() { Text = SampleData.FileName },
                    ContentTemplate = @<pre id='code' class='sb-src-code'><code></code></pre>
                }};
                await this.GetSourceData(0);
            }
            this.StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if(firstRender)
        {
            await this.OnSourceTabSelected(null);
            await Task.Delay(1000);
            await JsRuntime.InvokeAsync<Object>("refreshTab", SourceCode, FileName);
        }
        if(this.IsSourceCodeRequired)
        {
            this.IsSourceCodeRequired = false;
            await JsRuntime.InvokeAsync<Object>("refreshTab", SourceCode, FileName);
        }
    }
}