﻿﻿.dark-mode body {
    background: black;
}

.dark-mode .mobile-settings {
    color: #E6E1E5;
    background: #1C1B1F;
}

.dark-mode .mobile-settings svg path {
    fill: #424242;
}

.dark-mode #settings-popup-text {
    color: #E6E1E5;
}

.dark-mode .top-row {
    background-color: #D0BCFF;
}

.dark-mode svg path {
    fill: #371E73;
}

.dark-mode .top-row h1 {
    color: #371E73;
}

.dark-mode .sf-blazor-home {
    background-color: #1C1B1F;
}

.dark-mode .sf-component-name {
    color: #E6E1E5;
}

.dark-mode .sf-component-description {
    color: #CAC4D0;
}

.dark-mode .sf-home-icon {
    color: #CAC4D0 !important;
}

.dark-mode span.sf-preview::after {
    color: #000000;
}

.dark-mode .sf-preview rect {
    fill: #F5B482;
}

.dark-mode .home-mobile-setting {
    background-color: #1C1B1F;
}

.dark-mode .mobile-sidebars {
    background-color: #1C1B1F;
}

.dark-mode .mobile-sidebars p a {
    color: #E6E1E5;
}

.dark-mode .mobile-sidebars svg path {
    fill: #CAC4D0;
}

.dark-mode .mobile-sidebars hr {
    background: #CAC4D0;
}

.dark-mode .sf-names {
    color: #E6E1E5;
}

.dark-mode .sf-components {
    color: #D0BCFF;
}
