@page "/speeddial/defaultfunctionalities"
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the default functionalities of the Speed Dial component. Speed dial is a transition type of FAB which displays a list of action buttons when clicked.</p>
</SampleDescription>
<ActionDescription>
    <p>The Speed Dial component is used to display multiple action items for the floating action button. It is useful when there are more than one primary action on the page. The Speed dial displays action items in linear and radial directions.</p>
</ActionDescription>
<div class="control-section">
    <div id="target" class="speeddial-default-target custom-index">
        <SfSpeedDial Target="#target" title="Menu" aria-label="Speed Dial Menu" Position="FabPosition.BottomCenter" OpenIconCss="e-icons e-justify" CloseIconCss="e-icons e-close">
            <SpeedDialItems>
                <SpeedDialItem IconCss="e-icons e-home" Title="Home"/>
                <SpeedDialItem IconCss="e-icons e-people" Title="People"/>
                <SpeedDialItem IconCss="e-icons e-search" Title="Search"/>
                <SpeedDialItem IconCss="e-icons e-comment-show" Title="Message"/>
            </SpeedDialItems>
        </SfSpeedDial>
    </div>
</div>
@code {

}
<style>
    .speeddial-default-target {
        min-height: 300px;
        position: relative;
        margin-bottom: 35px;
    }

    .custom-index {
        z-index: 500 !important;
    }
</style>