@page "/speeddial/modal"
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>
        The following sample demonstrates the modal popup of a speed dial. Click the button to open action items and click the overlay to close the action items.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        Speed dial enables modal popup mode when the <code>IsModal</code> property is set. When this mode is enabled, an overlay is added to prevent background interaction, and actions are closed when the overlay is clicked.
    </p>
</ActionDescription>
<div class="control-section">
    <div id="target" class="speeddial-modal-target custom-index">
        <SfSpeedDial Target="#target" title="Menu" aria-label="Modal Speed Dial Menu" Position="Syncfusion.Blazor.Buttons.FabPosition.BottomCenter" IsModal=true Mode=SpeedDialMode.Linear OpenIconCss="e-icons e-justify" CloseIconCss="e-icons e-close">
            <SpeedDialItems>
                <SpeedDialItem IconCss="e-icons e-home" Title="Home"/>
                <SpeedDialItem IconCss="e-icons e-people" Title="People"/>
                <SpeedDialItem IconCss="e-icons e-search" Title="Search"/>
                <SpeedDialItem IconCss="e-icons e-comment-show" Title="Message"/>
            </SpeedDialItems>
        </SfSpeedDial>
    </div>
</div>

<style>
    .speeddial-modal-target {
        min-height: 350px;
        position: relative
    }
    .speeddial-modal-target .e-fab.e-btn.e-fab-bottom {
        bottom: 50px;  
    }
    .custom-index {
        z-index: 500 !important;
    }
</style>