@page "/Schedule/CalendarExportImport"

@using Syncfusion.EJ2.Blazor.Schedule
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Inputs
@using ej2_blazor_samples
@inherits SampleBaseComponent;

<div class="col-lg-9 control-section">
    <div class="schedule-wrapper">
        <EjsSchedule @ref="ScheduleRef" TValue="ScheduleData.AppointmentData" Width="100%" Height="650px" SelectedDate="@(new DateTime(2019, 1, 10))">
            <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
        </EjsSchedule>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-header">Properties</div>
    <div class="property-panel-content">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>Export as iCalendar</div>
                    </td>
                    <td style="width: 50%;">
                        <div width='300px'>
                            <EjsButton Content="Export" OnClick="OnExportToICalendar"></EjsButton>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>Import iCalendar file</div>
                    </td>
                    <td style="width: 50%;">
                        <div width='300px' class='upload_wrapper'>
                            <EjsUploader AllowedExtensions=".ics" CssClass="calendar-import" ShowFileList="false" Multiple="false">
                                <UploaderButtonsProps Browse="Choose file"></UploaderButtonsProps>
                                <UploaderEvents FileSelected="OnFileSelected"></UploaderEvents>
                            </EjsUploader>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>

    .calendar-import.e-upload {
        border: 0;
        padding-left: 0 !important;
    }

        .calendar-import.e-upload .e-file-select-wrap {
            padding: 0
        }

            .calendar-import.e-upload .e-file-select-wrap .e-file-drop {
                display: none;
            }
</style>

@code{
    EjsSchedule<ScheduleData.AppointmentData> ScheduleRef;
    public List<ScheduleData.AppointmentData> DataSource = new ScheduleData().GetScheduleData();

    public void OnExportToICalendar()
    {
        ScheduleRef.ExportToICalendar();
    }

    public void OnFileSelected(SelectedEventArgs args)
    {
        ScheduleRef.ImportICalendar(args.FilesData[0]);
    }
}