@page "/Schedule/GroupCustomWorkdays"

@using Syncfusion.EJ2.Blazor.Schedule

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Different Work Days";
    SampleBrowser.CurrentControlName = "Scheduler";
    SampleBrowser.CurrentControlCategory = "Scheduler";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Schedule;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This demo showcases the different available dates of doctors and their appointments on those days.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this demo, different working days are assigned by passing the
            <code>workDays</code> collection for each doctor to show their available dates. On each of their available dates, their daily available
            time range is also depicted by mentioning the
            <code>StartHour</code> and
            <code>EndHour</code> for each doctor. These values needs to be provided along with the resource
            <code>DataSource</code> by mapping the appropriate fields namely
            <code>WorkDaysField</code>,
            <code>StartHourField</code> and
            <code>EndHourField</code>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsSchedule TValue="ScheduleData.DoctorData" Width="100%" Height="650px" SelectedDate="@(new DateTime(2018, 4, 1))" AllowDragAndDrop="false" AllowResizing="false">
            <ScheduleViews>
                <ScheduleView Option="View.WorkWeek"></ScheduleView>
                <ScheduleView Option="View.Month"></ScheduleView>
            </ScheduleViews>
            <ScheduleGroup Resources="@GroupData"></ScheduleGroup>
            <ScheduleResources>
                <ScheduleResource DataSource="@ResourceData" Field="DoctorId" Title="Doctor Name" Name="Doctors" TextField="text" IdField="id" ColorField="color" WorkDaysField="workDays" StartHourField="startHour" EndHourField="endHour"></ScheduleResource>
            </ScheduleResources>
            <ScheduleEventSettings DataSource="@DataSource">
                <ScheduleField>
                    <FieldSubject Title="Service Type" Name="Subject"></FieldSubject>
                    <FieldLocation Title="Patient Name" Name="Location"></FieldLocation>
                    <FieldDescription Title="Summary" Name="Description"></FieldDescription>
                    <FieldStartTime Title="From" Name="StartTime"></FieldStartTime>
                    <FieldEndTime Title="To" Name="EndTime"></FieldEndTime>
                </ScheduleField>
            </ScheduleEventSettings>
        </EjsSchedule>
    </div>
</div>
@code{
    public List<ScheduleData.DoctorData> DataSource = new ScheduleData().GetDoctorData();
    public string[] GroupData = new string[] { "Doctors" };
    private List<object> ResourceData { get; set; } = new List<object> {
        new { text = "Will Smith", id = 1, color = "#ea7a57", workDays = new List<int> { 1, 2, 4, 5 }, startHour = "08:00", endHour = "15:00" },
        new { text = "Alice", id = 2, color = "rgb(53, 124, 210)", workDays = new List<int> { 1, 3, 5 }, startHour = "08:00", endHour = "17:00" },
        new { text = "Robson", id = 3, color = "#7fa900", startHour = "08:00", endHour = "16:00" }
    };
}
