@page "/Schedule/GroupByDate"

@using Syncfusion.EJ2.Blazor.Schedule

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Date-wise Grouping";
    SampleBrowser.CurrentControlName = "Scheduler";
    SampleBrowser.CurrentControlCategory = "Scheduler";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Schedule;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
 This demo illustrates the daily tasks of two employees grouped by date-wise.
</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
     In this demo, there are 2 resources defined namely
    <strong>Alice</strong> and
    <strong>Smith</strong> under the resource
    <code>DataSource</code>. The Scheduler can be switched to group by date, by setting
    <code>true</code> to the option
    <code>ByDate</code> within the
    <code>Group</code> property.

</p>"
};
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsSchedule TValue="ScheduleData.ResourceData" Width="100%" Height="650px" SelectedDate="@(new DateTime(2018, 4, 4))">
            <ScheduleGroup ByDate="true" Resources="@GroupData"></ScheduleGroup>
            <ScheduleResources>
                <ScheduleResource DataSource="@OwnersData" Field="TaskId" Title="Assignee" Name="Owners" TextField="text" IdField="id" ColorField="color" AllowMultiple="true"></ScheduleResource>
            </ScheduleResources>
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.Month"></ScheduleView>
                <ScheduleView Option="View.Agenda"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@DataSource">
                <ScheduleField>
                    <FieldSubject Name="Subject" Title="Task"></FieldSubject>
                    <FieldLocation Name="Location" Title="Project Name"></FieldLocation>
                    <FieldDescription Name="Description" Title="Comments"></FieldDescription>
                </ScheduleField>
            </ScheduleEventSettings>
        </EjsSchedule>
    </div>
</div>

@code{
    public List<ScheduleData.ResourceData> DataSource = new ScheduleData().GetResourceData();
    public string[] GroupData = new string[] { "Owners" };
    private List<object> OwnersData { get; set; } = new List<object> {
        new { text = "Alice", id= 1, color = "#df5286" },
        new { text = "Smith", id= 2, color = "#5978ee" }
    };
}
