@page "/Schedule/Print"

@using Syncfusion.EJ2.Blazor.Schedule
@using Syncfusion.EJ2.Blazor.Buttons
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Print";
    SampleBrowser.CurrentControlName = "Scheduler";
    SampleBrowser.CurrentControlCategory = "Scheduler";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Schedule;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This example demonstrates how to print the Scheduler elements.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, the Scheduler element is Printed by making use of the public method
        <code>Print</code>.</p>
        </p>"
    };
}
@*End:Hidden*@
<div class="col-lg-9 control-section">
    <EjsSchedule @ref="ScheduleRef" TValue="ScheduleData.AppointmentData" Width="100%" Height="650px" SelectedDate="@(new DateTime(2019, 1, 10))">
        <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
        <ScheduleViews>
            <ScheduleView Option="View.Month"></ScheduleView>
        </ScheduleViews>
    </EjsSchedule>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-header">Properties</div>
    <div class="property-panel-content">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 100%;text-align:center">
                        <EjsButton Content="Print" OnClick="OnPrint"></EjsButton>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code{
    EjsSchedule<ScheduleData.AppointmentData> ScheduleRef;
    public List<ScheduleData.AppointmentData> DataSource = new ScheduleData().GetScheduleData();
    public void OnPrint()
    {
        ScheduleRef.Print();
    }
}
