@page "/Schedule/RecurrenceRuleGenerator"

@using Syncfusion.EJ2.Blazor.Schedule
@using ej2_blazor_samples
@inherits SampleBaseComponent;

<div class="control-section">
    <div class="content-wrapper recurrence-editor-wrap">
        <div style="padding-bottom:15px;">
            <label>Rule Output</label>
            <div class="rule-output-container">
                <div id="rule-output">@RecurrenceRule</div>
            </div>
        </div>
        <div>
            <EjsRecurrenceEditor Value="@RecurrenceRule">
                <RecurrenceEditorEvents OnChange="OnRecurrenceChange"></RecurrenceEditorEvents>
            </EjsRecurrenceEditor>
        </div>
    </div>
</div>
<style>
    .recurrence-editor-wrap {
        margin: 0 25%;
    }

    .rule-output-container {
        height: auto;
        border: 1px solid #969696;
    }

    #rule-output {
        padding: 8px 4px;
        text-align: center;
        min-height: 20px;
        overflow: hidden;
        overflow-wrap: break-word;
    }
</style>

@code{
    string RecurrenceRule = "FREQ=DAILY;INTERVAL=1;";
    public void OnRecurrenceChange(RecurrenceEditorChangeEventArgs args)
    {
        RecurrenceRule = args.Value;
    }
}