@page "/Schedule/RecurrenceEvents"

@using Syncfusion.EJ2.Blazor.Schedule
@using Syncfusion.EJ2.Blazor.Buttons
@using ej2_blazor_samples

@inherits SampleBaseComponent;

<div class="col-lg-9 control-section">
    <div class="schedule-wrapper">
        <EjsSchedule TValue="ScheduleData.RecurrenceData" Width="100%" Height="650px" SelectedDate="@(new DateTime(2019, 1, 10))">
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.Month"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@DataSource" EditFollowingEvents="@EditUpcoming"></ScheduleEventSettings>
        </EjsSchedule>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-header">Properties</div>
    <div class="property-panel-content">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50%">
                    <td style="width: 100%">
                        <EjsCheckBox @bind-Checked="@EditUpcoming" Label="Enable Following Events"></EjsCheckBox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code{
    public bool EditUpcoming = false;
    public List<ScheduleData.RecurrenceData> DataSource = new ScheduleData().GetRecurrenceData();
}
