@page "/Schedule/RemoteData"

@using Syncfusion.EJ2.Blazor.Schedule
@using Syncfusion.EJ2.Blazor.Data
@inherits SampleBaseComponent;
@using ej2_blazor_samples

<div class="col-lg-12 control-section">
    <div class="schedule-wrapper">
        <EjsSchedule TValue="ScheduleData.AppointmentData" Width="100%" Height="650px" SelectedDate="@(new DateTime(2017, 6, 5))" Readonly="true">
            <ScheduleEventSettings TValue="ScheduleData.AppointmentData">
                <EjsDataManager Url="https://js.syncfusion.com/demos/ejservices/api/Schedule/LoadData" Adaptor="@Syncfusion.EJ2.Blazor.Adaptors.WebApiAdaptor"></EjsDataManager>
            </ScheduleEventSettings>
        </EjsSchedule>
    </div>
</div>
