@page "/Schedule/ScrollTime"

@using Syncfusion.EJ2.Blazor.Schedule
@using Syncfusion.EJ2.Blazor.Calendars

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Scroll Time";
    SampleBrowser.CurrentControlName = "Scheduler";
    SampleBrowser.CurrentControlCategory = "Scheduler";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Schedule;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This demo illustrates the way of manually scrolling to specific time on Scheduler.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
           In this demo, the way of manually scrolling to specific time on scheduler has been demonstrated by making use of the
            <code>scrollTo</code> method of Scheduler.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-9 control-section">
    <div class="schedule-wrapper">
        <EjsSchedule TValue="ScheduleData.EmployeeEventData" @ref="ScheduleObj" Width="100%" Height="650px" SelectedDate="new DateTime(2018, 2, 15)">
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.TimelineDay"></ScheduleView>
                <ScheduleView Option="View.TimelineWeek"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
        </EjsSchedule>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-header">Properties</div>
    <div class="property-panel-content">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 30%">
                        <div>
                            Scroll To
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div>
                            <EjsTimePicker Width="100px" Format="HH:mm" Value="TimeValue" ValueChange="OnValueChange"></EjsTimePicker>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code{
    EjsSchedule<ScheduleData.EmployeeEventData> ScheduleObj;
    public List<ScheduleData.EmployeeEventData> DataSource = new ScheduleData().GetEmployeeEventData();
    public DateTime TimeValue = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 9, 0, 0);
    public void OnValueChange(Syncfusion.EJ2.Blazor.Calendars.ChangeEventArgs args)
    {
        this.ScheduleObj.ScrollTo(args.Text);
    }
}
