@page "/Schedule/TimeScale"

@using Syncfusion.EJ2.Blazor.Schedule

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "TimeScale";
    SampleBrowser.CurrentControlName = "Scheduler";
    SampleBrowser.CurrentControlCategory = "Scheduler";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Schedule;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This demo depicts how to customize the grid lines of scheduler with different duration, count and also, how to
            apply template customizations on it.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
          In this demo, schedule has been allowed to display different number of grid lines per hour assigned with different duration
            to each cell, by making use of the
            <code>Interval</code> and
            <code>SlotCount</code> properties. The grid lines can also be disabled on schedule, by setting <code>false</code> to the
            <code>Enable</code> property available within
            <code>TimeScale</code>. The time header text can be customized by making use of the
            <code>MajorSlotTemplate</code> and
            <code>MinorSlotTemplate</code> properties.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="schedule-wrapper">
        <EjsSchedule ID="schedule" Width="100%" Height="650px" SelectedDate="new DateTime(2019, 1, 10)">
            <ScheduleTimescale Interval="60" SlotCount="6"></ScheduleTimescale>
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.TimelineDay"></ScheduleView>
                <ScheduleView Option="View.TimelineWeek"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@Data.GetScheduleData()"></ScheduleEventSettings>
        </EjsSchedule>
    </div>
</div>

@code{
    static ScheduleData Data = new ScheduleData();
}