@page "/Schedule/Timezone"

@using Syncfusion.EJ2.Blazor.Schedule

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Timezone";
    SampleBrowser.CurrentControlName = "Scheduler";
    SampleBrowser.CurrentControlCategory = "Scheduler";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Schedule;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
           This demo visualizes the 2018 FIFA football match scheduler which is depicted as events here. The timings of each event are
            associated with the timezone of the match location where it will be held. When the Scheduler time zone changes, the
            events in it displays according to the selected timezone's offset time difference.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this demo, the <code>timezone</code> of Scheduler is set to UTC and each events on it holds different
            <code>startTimezone</code> and <code>endTimezone</code> values, therefore the event timings will be converted based on timezone assigned to Scheduler and will be displayed
            appropriately in UTC timings.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="schedule-wrapper">
        <EjsSchedule ID="schedule" Width="100%" Height="650px" SelectedDate="new DateTime(2018, 6, 20)" Timezone="UTC">
            <ScheduleEventSettings DataSource="@Data.GetFifaEventsData()"></ScheduleEventSettings>
        </EjsSchedule>
    </div>
    <div style="float: right; margin-top: 10px;">
        Source:
        <a href="http://www.fifa.com/worldcup/matches/index.html" target="_blank">www.fifa.com</a>
    </div>
</div>

@code{
    static ScheduleData Data = new ScheduleData();
}