@page "/PivotView/Groupingbar"

@using Syncfusion.EJ2.Blazor.PivotView

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Groupingbar";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
    This sample demonstrates the grouping feature of the pivot table. The pivot fields are automatically populated
        from the bound data source, and they can be dragged and dropped to alter the report at runtime. The pivot fields
        can be sorted, filtered, and removed dynamically as well.
</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>The pivot table grouping bar option automatically populates fields from the bound data source and allows end
        users
        to drag fields between different axes such as columns, rows, values, and filters, and create pivot table at
        runtime.
        To enable grouping bar, set the
        <code>ShowGroupingBar</code> property as true.</p>
    <p>
        Filter and sort icons allow displaying selective records and ordering them in ascending or descending order. The
        value type icon
        allows to display values based on selected aggregate type. The remove icon
        allows the user to remove the field from the report.
    </p>"
};
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView ID="pivotview" Width="100%" Height="400" ShowGroupingBar=true>
            <PivotViewDataSourceSettings DataSource="@data" ExpandAll=false EnableSorting=true >
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Quarter"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
                <PivotViewDrilledMembers>
                    <PivotViewDrilledMember Name="Country" Items="@(new string[] { " France" })"></PivotViewDrilledMember>
                </PivotViewDrilledMembers>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
        </EjsPivotView>
    </div>
</div>

<style>
    #pivotview {
        width: 100%;
        height: 100%;
    }
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    EjsPivotView pivotView;

    static PivotViewData pivotData = new PivotViewData();

    private List<PivotViewData.Pivot_Data> data = pivotData.GetPivot_Data();
   
}