@page "/PivotView/UserInteraction"

@using Syncfusion.EJ2.RazorComponents.PivotView

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "User Interaction";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
    This sample demonstrates the grouping bar and field list feature of the pivotgrid widget. In the sample, fields are automatically populated
    from the bound data source, and it can be used to create a pivot view at runtime.
</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
    The pivotgrid widget grouping bar option automatically populates fields from the bound data source and allows end users
    to drag fields between different axes such as columns, rows, values, and filters, and create pivot views at runtime.
    To enable grouping bar, set the <code>showGroupingBar</code> property as true.
</p>
<p>
    And the built-in field list option automatically populates fields from the bound data source and allows end users
    to add, remove and rearrange the fields between different axes such as columns, rows, values, and filters, and create pivot views at runtime.
    To enable field list, set the <code>showFieldList</code> property as true.
</p>"
};
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView ID="pivotview" Width="100%" Height="400" ShowFieldList=true ShowGroupingBar=true>
            <PivotViewDataSource Data="@data" ExpandAll=false EnableSorting=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Order_Source"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="In_Stock" Caption="In Stock"></PivotViewValue>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
                <PivotViewDrilledMembers>
                    <PivotViewDrilledMember Name="Country" Items="@(new string[] { " France" })"></PivotViewDrilledMember>
                </PivotViewDrilledMembers>
            </PivotViewDataSource>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
        </EjsPivotView>

    </div>
</div>

<style>
    #pivotview {
        width: 100%;
        height: 100%;
    }
</style>

@functions{


    static PivotViewData pivotData = new PivotViewData();

    private List<PivotViewData.Pivot_Data> data = pivotData.GetPivot_Data();
   
}