@namespace BlazorDemos.Shared

@inject SampleService SampleService;

<div class="sf-footer-links">
    <div class="sf-container">
        <div class="sf-footer-col">
            <div class="sf-footer-title">PRODUCTS</div>
            <ul>
                <li><a href="https://www.syncfusion.com/products/essential-studio">Developer Platform</a></li>
                <li><a href="https://www.syncfusion.com/products/dashboard">Bold BI</a></li>
                <li><a href="https://www.syncfusion.com/reporting-tool">Bold Reports</a></li>
            </ul>
        </div>
        <div class="sf-footer-col">
            <div class="sf-footer-title">EXPLORE OUR PRODUCTS</div>
            <ul>
                <li><a href="https://www.syncfusion.com/downloads">Free Trial</a></li>
                <li><a href="https://www.syncfusion.com/sales/products">Pricing</a></li>
            </ul>
        </div>
        <div class="sf-footer-col">
            <div class="sf-footer-title">RESOURCES</div>
            <ul>
                <li><a href="https://www.syncfusion.com/ebooks">Ebooks</a></li>
                <li><a href="https://www.syncfusion.com/kb">Knowledge Base</a></li>
                <li><a href="https://www.syncfusion.com/resources/techportal/whitepapers">Whitepapers</a></li>
                <li><a href="https://www.syncfusion.com/company/case-studies">Case Studies</a></li>
                <li class="content-small"><a href="https://www.syncfusion.com/faq">.NET FAQ</a></li>
            </ul>
        </div>
        <div class="sf-footer-col">
            <div class="sf-footer-title">LEARNING &amp; SUPPORT</div>
            <ul>
                <li><a href="https://blazor.syncfusion.com/demos/datagrid/overview/">Demos</a></li>
                <li><a href="https://www.syncfusion.com/blogs">Blog</a></li>
                <li><a href="https://blazor.syncfusion.com/documentation/" target="_blank" rel="noopener">Documentation</a></li>
                <li><a href="https://www.syncfusion.com/forums/blazor-components">Community Forum</a></li>
                <li>
                    <a href="https://www.syncfusion.com/support/directtrac/incidents/newincident">Contact Support</a>
                </li>
                <li><a href="https://www.syncfusion.com/feedback" target="_blank" rel="noopener">Features &amp; Bugs</a></li>
                <li><a href="https://www.syncfusion.com/tutorial-videos">Tutorial Videos</a></li>
            </ul>
        </div>
        <div class="sf-footer-col">
            <div class="sf-footer-title">COMPANY</div>
            <ul>
                <li><a href="https://www.syncfusion.com/company/about-us">About Us</a></li>
                <li><a href="https://www.syncfusion.com/company/about-us/customerlist">Customers</a></li>
                <li><a href="https://www.syncfusion.com/blogs">Blog</a></li>
                <li><a href="https://www.syncfusion.com/company/news-press-release">News &amp; Events</a></li>
                <li><a href="https://www.syncfusion.com/company/careers">Careers</a></li>
                <li><a href="https://www.syncfusion.com/company/partners">Partners</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="sf-footer-contact">
    <div class="sf-container">
        <span class="sf-contact-us"></span>
        <div class="sf-footer-copyright">
            <div class="sf-footer-syncfusion-logo">
                <a title="Syncfusion Inc." href="/">
                    <span class="sbicons sf-footer-logo-img"></span>
                </a>
            </div>
            <div class="sf-footer-policy-links">
                <a href="https://www.syncfusion.com/privacy">Privacy Policy</a> |
                <a href="https://www.syncfusion.com/cookie-policy">Cookie Policy</a> |
                <a href="https://www.syncfusion.com/terms-of-use">Terms of Use</a>
            </div>
            <div class="sf-copyright">
                <a href="https://www.syncfusion.com/copyright">Copyright © 2001 - @(DateTime.Now.Year) Syncfusion Inc.
                    All Rights Reserved
                </a>
            </div>
        </div>
        <div class="sf-contact-details">
            <div class="sf-contact-fax">
                <ul>
                    <li>Fax: +1 919.573.0306</li>
                    <li>US: +1 919.481.1974</li>
                    <li>UK: +44 20 7084 6215</li>
                </ul>
            </div>
            <div class="sf-contact-mail">
                <ul>
                    <li>Toll Free: 1-888-9DOTNET</li>
                    <li><a href="mailto:sales@syncfusion.com">sales@syncfusion.com</a></li>
                </ul>
            </div>
            <div class="sf-social-media">
                <ul>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/Syncfusion" aria-label="Facebook" rel="noopener nofollow">
                            <i class="sb-icons sf-facebook-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/Syncfusion" aria-label="Twitter" rel="noopener nofollow">
                            <i class="sb-icons sf-twitter-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://www.linkedin.com/company/syncfusion?trk=top_nav_home" aria-label="Linkedin" rel="noopener nofollow">
                            <i class="sb-icons sf-linkedin-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/syncfusioninc" aria-label="Youtube" rel="noopener nofollow">
                            <i class="sb-icons sf-youtube-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>