@namespace BlazorDemos.Shared

@inject SampleService SampleService;

<div class="sf-footer-links">
    <div class="sf-container">
        <div class="sf-footer-col sf-footer-col-one">
            <div class="sf-footer-title">EXPLORE OUR PRODUCTS</div>
            <ul>
                <li><a href="https://www.syncfusion.com/products/essential-studio" aria-label="Developer Platform">Developer Platform</a></li>
                <li><a href="https://www.boldbi.com/" aria-label="Analytics Platform">Analytics Platform</a></li>
                <li><a href="https://www.boldreports.com/" aria-label="Reporting Platform">Reporting Platform</a></li>
                <li><a href="https://boldsign.com/?utm_source=syncfusionnavfooter&utm_medium=referral&utm_campaign=boldsign" aria-label="eSignature Software and API">eSignature Software and API</a></li>
                <li><a href="https://www.bolddesk.com/?utm_source=syncfusionnavfooter&utm_medium=referral&utm_campaign=bolddesk" aria-label="Customer Service Software">Customer Service Software</a></li>
                <li><a href="https://www.bolddesk.com/knowledge-base-software" aria-label="Knowledge Base Software">Knowledge Base Software</a></li>
            </ul>
        </div>
        <div class="sf-footer-col sf-footer-col-two">
            <div class="sf-footer-title">RESOURCES</div>
            <ul>
                <li><a href="https://www.syncfusion.com/succinctly-free-ebooks" aria-label="Ebooks">Ebooks</a></li>
                <li><a href="https://www.syncfusion.com/resources/techportal/whitepapers" aria-label="Whitepapers">Whitepapers</a></li>
                <li><a href="https://www.syncfusion.com/company/case-studies" aria-label="Case Studies">Case Studies</a></li>
                <li><a href="https://www.syncfusion.com/faq" aria-label="Technical FAQ">Technical FAQ</a></li>
                <li><a href="https://www.syncfusion.com/code-examples" aria-label="Code Examples">Code Examples</a></li>
                <li><a href="https://www.syncfusion.com/pages/accessibility/" aria-label="Accessibility">Accessibility</a></li>
                <li><a href="https://www.syncfusion.com/web-stories/" aria-label="Web Stories">Web Stories</a></li>
                <li><a href="https://www.syncfusion.com/webinars/" aria-label="Webinars">Webinars</a></li>
                <li><a href="https://www.syncfusion.com/resource-center/" aria-label="Resource Center">Resource Center</a></li>
            </ul>
        </div>
        <div class="sf-footer-col sf-footer-col-three">
            <div class="sf-footer-title">SUPPORT</div>
            <ul>
                <li><a href="https://www.syncfusion.com/forums/blazor-components" aria-label="Community Forum">Community Forum</a></li>
                <li><a href="https://support.syncfusion.com/kb" aria-label="Knowledge Base">Knowledge Base</a></li>
                <li><a href="https://support.syncfusion.com/create" aria-label="Contact Support">Contact Support</a></li>
                <li><a href="https://www.syncfusion.com/feedback" target="_blank" rel="noopener" aria-label="Features">Features &amp; Bugs</a></li>
                <li><a href="https://s3.amazonaws.com/files2.syncfusion.com/web/support/sla/28.2/syncfusion_software_support_sla.pdf" aria-label="SLA">SLA</a></li>
                <li><a href="https://support.syncfusion.com/support/product-lifecycle" aria-label="Product Life Cycle">Product Life Cycle</a></li>
            </ul>
        </div>
        <div class="sf-footer-col sf-footer-col-four">
            <div class="sf-footer-title">LEARNING</div>
            <ul>
                <li><a href="/datagrid/overview/">Demos</a></li>
                <li><a rel="noopener" href="https://help.syncfusion.com/" target="_blank" aria-label="Documentation">Documentation</a></li>
                <li><a rel="noopener" href="https://www.syncfusion.com/blogs/" aria-label="Blog">Blog</a></li>
                <li><a href="https://www.syncfusion.com/tutorial-videos" aria-label="Tutorial Videos">Tutorial Videos</a></li>
                <li><a href="https://www.syncfusion.com/showcase-apps" aria-label="Showcase Apps">Showcase Apps</a></li>
                <li><a href="https://www.syncfusion.com/products/whatsnew" aria-label="What's New'">What's New</a></li>
                <li><a href="https://www.syncfusion.com/products/roadmap" aria-label="Road Map">Road Map</a></li>
                <li><a href="https://www.syncfusion.com/products/release-history" aria-label="Release History">Release History</a></li>
            </ul>
        </div>
        <div class="sf-footer-col sf-footer-col-five">
            <div class="sf-footer-title">COMPANY</div>
            <ul>
                <li><a href="https://www.syncfusion.com/company/about-us" aria-label="About Us">About Us</a></li>
                <li><a href="https://www.syncfusion.com/company/about-us/customerlist" aria-label="Customers">Customers</a></li>
                <li><a href="https://www.syncfusion.com/blogs" aria-label="Blog">Blog</a></li>
                <li><a href="https://www.syncfusion.com/company/news-press-release" aria-label="News">News &amp; Events</a></li>
                <li><a href="https://www.syncfusion.com/company/careers" aria-label="Careers">Careers</a></li>
                <li><a href="https://www.syncfusion.com/company/partners" aria-label="Partners">Partners</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="sf-footer-contact">
    <div class="sf-container">
        <span class="sf-contact-us"></span>
        <div class="sf-contact-details">
            <div class="sf-contact-fax">
                <ul>
                    <li>Fax: +1 919.573.0306</li>
                    <li>US: +1 919.481.1974</li>
                    <li>UK: +44 20 7084 6215</li>
                </ul>
            </div>
            <div class="sf-contact-mail">
                <ul>
                    <li class="contact-text">Toll Free (USA):</li>
                    <li>1-888-9DOTNET</li>
                    <li><a href="mailto:sales@syncfusion.com">sales@syncfusion.com</a></li>
                </ul>
            </div>
            <div class="sf-social-media">
                <ul>
                    <li>
                        <a aria-label="Please click this icon to visit Syncfusion's Facebook page" rel="nofollow noopener noreferrer" class="social-icon" target="_blank" href="https://www.facebook.com/Syncfusion">
                            <img width="32" height="32" class="sf-facebook-icon" src="https://cdn.syncfusion.com/content/images/footer-icons/facebook-icon.svg" loading="lazy">
                            <p class="social-icon-count">39K+</p>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Please click this icon to visit Syncfusion's X page" class="social-icon" target="_blank" href="https://twitter.com/Syncfusion" rel="noopener nofollow">
                            <img width="32" height="32" class="sf-twitter-icon" src="https://cdn.syncfusion.com/content/images/footer-icons/twitter-icon.svg" loading="lazy">
                            <p class="social-icon-count">12K+</p>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Please click this icon to visit Syncfusion's LinkedIn page" class="social-icon" target="_blank" href="https://www.linkedin.com/company/syncfusion?trk=top_nav_home" rel="noopener nofollow">
                            <img width="32" height="32" class="sf-linkedin-icon" src="https://cdn.syncfusion.com/content/images/footer-icons/linkedin-icon.svg" loading="lazy">
                            <p class="social-icon-count">15K+</p>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Please click this icon to visit Syncfusion's Youtube page" class="social-icon" target="_blank" href="https://www.youtube.com/syncfusioninc" rel="noopener nofollow">
                            <img width="32" height="32" class="sf-youtube-icon" src="https://cdn.syncfusion.com/content/images/footer-icons/youtube-icon.svg" loading="lazy">
                            <p class="social-icon-count">27K+</p>
                        </a>
                    </li>
                </ul>
                <ul>
                <li>
                    <a aria-label="Please click this icon to visit Syncfusion's pinterest page" class="social-icon" rel="nofollow noopener noreferrer" target="_blank" href="https://www.pinterest.com/syncfusionofficial/">
                        <img width="32" height="32" class="sf-pinterest-icon" src="https://cdn.syncfusion.com/content/images/footer-icons/pinterest-icon.svg" loading="lazy">
                    </a>
                </li>
                <li>
                    <a aria-label="Please click this icon to visit Syncfusion's instagram page" class="social-icon" rel="nofollow noopener noreferrer" target="_blank" href="https://www.instagram.com/syncfusionofficial/">
                        <img width="32" height="32" class="sf-instagram-icon" src="https://cdn.syncfusion.com/content/images/footer-icons/instagram-icon.svg" loading="lazy">
                    </a>
                </li>

                <li>
                    <a aria-label="Please click this icon to visit Syncfusion's threads page" class="social-icon" rel="nofollow noopener noreferrer" target="_blank" href="https://www.threads.net/syncfusionofficial">
                        <img width="32" height="32" class="sf-threads-icon" src="https://cdn.syncfusion.com/content/images/footer-icons/threads-icon.svg" loading="lazy">
                    </a>
                </li>
                </ul>
            </div>
        </div>
        <div class="sf-footer-copyright">
            <div class="sf-footer-syncfusion-logo">
                <a title="Syncfusion Inc." href="/">
                    <img src="https://cdn.syncfusion.com/content/images/Contact-us/primary_logo.svg" alt="syncfusion-logo" class="sf-footer-logo-img" loading="lazy">
                </a>
            </div>
            <div class="sf-footer-policy-links">
                <a href="https://www.syncfusion.com/privacy">Privacy Policy</a> |
                <a href="https://www.syncfusion.com/cookie-policy">Cookie Policy</a> |
                <a href="https://www.syncfusion.com/terms-of-use">Terms of Use</a> |
                <a href="https://www.syncfusion.com/security-policy">Security Policy</a> |
                <a href="https://www.syncfusion.com/responsible-disclosure">Responsible Disclosure</a> |
                <a href="https://www.syncfusion.com/ethics-policy">Ethics Policy</a>
            </div>
            <div class="sf-copyright">
                <a href="https://www.syncfusion.com/copyright">
                    Copyright © 2001 - @(DateTime.Now.Year) Syncfusion<sup>&reg;</sup> Inc.
                    All Rights Reserved
                </a>
            </div>
        </div>
    </div>
</div>
