.sf-search-container {
    width: 100%;
    height: 100%;
}
.sample-browser .sb-header .sb-header-item .sf-search-container {
    width: 77%;
}
@media screen and (max-width: 1400px){
    .sample-browser .sb-header .sb-header-item .sf-search-container {
        width: 450px;        
    }
}
@media screen and (max-width: 1300px) {
    .sample-browser .sb-header .sb-header-item .sf-search-container {
        margin-left: -10px;
        width: 380px;
    }
}
@media screen and (max-width: 1200px) {
    .sample-browser .sb-header .sb-header-item .sf-search-container {
        margin-left: -10px;
        width: 300px;
    }
}
@media screen and (max-width: 1150px) {
    .sample-browser .sb-header .sb-header-item .sf-search-container {
        margin-left: -60px;
        width: 270px;
    }
}
.sf-search-container * {
    font-family: Roboto,"Segoe UI",GeezaPro,"DejaVu Serif",sans-serif,"-apple-system",BlinkMacSystemFont, "sbicons";
}
.sf-search-input {
    letter-spacing: 0;
    line-height: 23px;
    padding-left: 15px;
    width: 100%;
    border-radius: 25px;
    background-color: #F4F6FC;
    border: 1px solid #a7a7a7;
    height: 100%;
}
.sf-blazor-home .sf-search-input {
    border: 1px solid #F4F6FC !important;
}
.sf-search-input:focus, .sf-dropdown-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
.sf-search-popup {
    position: absolute;
    overflow-y: auto;
    background: #fff;
    width: 100%;
    margin-top: 5px;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.21);
    border: 1px solid #e0e0e0;
    max-height: 500px;
}
.sf-search-popup * {
    height: auto !important;
}
.sf-blazor-home .sf-search-no-data{
    text-align: left;
}
.sf-search-no-data {
    color: #000;
    cursor: default;
    font-size: 14px;
    padding: 14px 16px;
    text-align: center;
}
.sf-search-container .sf-search-icon,
.sf-search-container .sf-clear-icon {
    position: relative;
    padding: 0px !important;
    margin-right: 15px;
    float: right;
    margin-top: -33px;
}
.sf-search-container .sf-search-icon {
    cursor: text;
}
.sf-blazor-home .sf-clear-icon::before {
    color: #d9deec !important;
}
.sf-clear-icon::before {
    content: "\e900";
    color: #9b9393;
}
.sf-search-input::-ms-clear {
    display: none;
}