@page "/maps/keyboard-navigation"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates keyboard shortcuts for interacting with map features including zooming, panning, selection, highlight, legend navigation, and primary map controls.</p>
    
    <p>The following key combinations enable various map interactions:</p>
    
    <ul>
        <li><span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span> - Focus the first component in the demo</li>
        <li><span class="key-class"><kbd>Tab</kbd></span> - Navigate to the next focusable element (legend, shapes)</li>
        <li><span class="key-class"><kbd>+</kbd></span> - Zoom in (when zooming is enabled)</li>
        <li><span class="key-class"><kbd>-</kbd></span> - Zoom out (when zooming is enabled)</li>
        <li><span class="key-class"><kbd>Left Arrow</kbd></span> - Scroll left (when zoomed in)</li>
        <li><span class="key-class"><kbd>Right Arrow</kbd></span> - Scroll right (when zoomed in)</li>
        <li><span class="key-class"><kbd>Up Arrow</kbd></span> - Scroll up (when zoomed in)</li>
        <li><span class="key-class"><kbd>Down Arrow</kbd></span> - Scroll down (when zoomed in)</li>
        <li><span class="key-class"><kbd>R</kbd></span> - Reset zoom (when zooming is enabled)</li>
        <li><span class="key-class"><kbd>Enter</kbd></span> - Navigate legend pages or select shapes</li>
    </ul>
</ActionDescription>


<style>
    .e-control.e-maps:focus, .e-map-paging:focus {
        outline: auto;
        outline-color: #a6a6a6;
        outline-width: 0.2px;
    }
</style>

<div class="control-section">
    <SfMaps Theme="@Theme" Background="transparent">
        <MapsAreaSettings Background="transparent" />
        <MapsZoomSettings Enable="true">
            <MapsZoomToolbarSettings>
                <MapsZoomToolbarButton ToolbarItems="new List<ToolbarItem>()"></MapsZoomToolbarButton>
            </MapsZoomToolbarSettings>
        </MapsZoomSettings>
        <MapsLegendSettings Visible="true" ShapePadding="5" Width="250" Height="50" Alignment="Alignment.Far">
            <MapsLegendTextStyle FontFamily="Segoe UI"></MapsLegendTextStyle>
        </MapsLegendSettings>
        <MapsLayers>
            <MapsLayer ShapeData='new {dataOptions = SampleService?.WebAssetsPath + "data/maps/australia.json"}' DataSource="@KeyboardSelection" TValue="SelectionData"
                       ShapePropertyPath="@ShapePropertyPath" ShapeDataPath="Name">
                <MapsShapeSettings ColorValuePath="Color">
                    <MapsShapeBorder Width="0.5" Color="#FFFFFF" />
                </MapsShapeSettings>
                <MapsLayerHighlightSettings Enable="true" Fill="#A3B0D0" />
                <MapsLayerSelectionSettings Enable="true" Fill="#4C515B" />
                <MapsDataLabelSettings Visible="true">
                </MapsDataLabelSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
</div>
@code {
    public Theme Theme { get; set; }
    public string[] ShapePropertyPath = { "STATE_NAME" };
    
    
    public List<SelectionData> KeyboardSelection = new List<SelectionData> {
        new SelectionData{ Name="New South Wales", Color="#E2B247" },
        new SelectionData{ Name="Victoria", Color="#88DB46" },
        new SelectionData{ Name="Queensland", Color="#42C4E2" },
        new SelectionData{ Name="South Australia", Color="#C08AF8" },
        new SelectionData{ Name="Western Australia", Color="#52BACC" },
        new SelectionData{ Name="Tasmania", Color="#F4CE2F" },
        new SelectionData{ Name="Northern Territory", Color="#6986ED" },
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

    public class SelectionData
    {
        public string? Name { get; set; }
        public string? Color { get; set; }
    };
}