@page "/maps/osm-sublayer"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the various African countries that have been specifically highlighted on a World map using a sublayer.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render the geometric layers as a sublayer on OpenStreetMap. On top of OpenStreetMap, the African continent's countries are rendered using GeoJSON data.</p>
    <p>More information about OpenStreetMap with sublayer can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/maps/providers/openstreetmap#adding-sublayer' aria-label="Blazor Maps OpenStreetMap documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfMaps Theme="@Theme" Background="transparent">
        <MapsAreaSettings Background="transparent" />
        <MapsZoomSettings Enable="true">
            <MapsZoomToolbarSettings>
                <MapsZoomToolbarTooltipSettings FontFamily="Segoe UI"></MapsZoomToolbarTooltipSettings>
            </MapsZoomToolbarSettings>
        </MapsZoomSettings>
        <MapsTitleSettings Text="Location of Africa Continent in the World Map">
            <MapsTitleTextStyle Size="16px" FontFamily="Segoe UI" />
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer UrlTemplate="https://a.tile.openstreetmap.org/level/tileX/tileY.png" TValue="string" />
            <MapsLayer Type="Syncfusion.Blazor.Maps.Type.SubLayer" ShapeData='new {dataOptions = SampleService.WebAssetsPath + "data/maps/africa.json"}' TValue="string">
                <MapsShapeSettings Fill="#5100a3" Opacity="0.4" />
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </div>
    <br />
    <div class="urllink">
        Source:
        <a href="https://www.whatarethe7continents.com/biggest-largest-smallest-continents/" target="_blank">Seven Continents</a>
    </div>
</div>

@code{
    
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}