@page "/maps/osm-sublayer"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates sublayer rendering on OpenStreetMap, with African continent countries specifically highlighted using a sublayer over the world map.</p>
    
    <p>Geometric layers are rendered as sublayers on OpenStreetMap, enabling:</p>
    
    <ul>
        <li>Regional focus through layered geographical visualization</li>
        <li>Integration of GeoJSON data for detailed country-level information</li>
        <li>Enhanced visual organization of complex geographical data</li>
    </ul>
    
    <p>For comprehensive information about OpenStreetMap with sublayers, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/maps/providers/openstreetmap#adding-sublayer" aria-label="Blazor Maps OpenStreetMap documentation">OpenStreetMap documentation</a>.</p>
</ActionDescription>


<div class="control-section">
    <SfMaps Theme="@Theme" Background="transparent">
        <MapsAreaSettings Background="transparent" />
        <MapsZoomSettings Enable="true">
            <MapsZoomToolbarSettings>
                <MapsZoomToolbarTooltipSettings FontFamily="Segoe UI"></MapsZoomToolbarTooltipSettings>
            </MapsZoomToolbarSettings>
        </MapsZoomSettings>
        <MapsTitleSettings Text="Location of Africa Continent in the World Map">
            <MapsTitleTextStyle Size="16px" FontFamily="Segoe UI" />
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer UrlTemplate="https://a.tile.openstreetmap.org/level/tileX/tileY.png" TValue="string" />
            <MapsLayer Type="Syncfusion.Blazor.Maps.Type.SubLayer" ShapeData='new {dataOptions = SampleService?.WebAssetsPath + "data/maps/africa.json"}' TValue="string">
                <MapsShapeSettings Fill="#5100a3" Opacity="0.4" />
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        <a href="https://www.openstreetmap.org/copyright" target="_blank" rel="noopener">© OpenStreetMap contributors</a>
    </div>
    <br />
    <div class="urllink">
        Source:
        <a href="https://www.whatarethe7continents.com/biggest-largest-smallest-continents/" target="_blank" rel="noopener">Seven Continents</a>
    </div>
</div>

@code{
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}