@page "/maps/sale-map"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample illustrates the sales details of the products and users location by rendering the markers. Marker clustering is also enabled in this sample.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to configure and render a cluster for a larger number of markers if the latitude and longitude values are close. When you click on the cluster, it expands.</p>
    <p>More information about marker clustering can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/maps/markers#expanding-the-marker-cluster' aria-label="Blazor Maps Marker documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfMaps TooltipDisplayMode="TooltipGesture.Click" Theme="@Theme" Background="transparent">
        <MapsAreaSettings Background="transparent" />
        <MapsZoomSettings Enable="true">
            <MapsZoomToolbarSettings>
                <MapsZoomToolbarTooltipSettings FontFamily="Segoe UI"></MapsZoomToolbarTooltipSettings>
            </MapsZoomToolbarSettings>
        </MapsZoomSettings>
        <MapsTitleSettings Text="Sales Details of Products in Various Countries">
            <MapsTitleTextStyle Size="16px" FontFamily="Segoe UI" />
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer ShapeData='new {dataOptions = SampleService.WebAssetsPath + "data/maps/world-map.json"}' TValue="string">
                <MapsShapeSettings Fill="#C1DFF5" />
                <MapsMarkerClusterSettings AllowClustering="true" AllowClusterExpand="true" Shape="MarkerType.Image" Height="40" Width="40" ImageUrl="@(SampleService.WebAssetsPath + "images/maps/cluster.svg")">
                    <MapsLayerMarkerClusterLabelStyle Color="#FFFFFF" />
                    <MapsLayerMarkerClusterConnectorLineSettings Color="@ConnectorLineColor" />
                </MapsMarkerClusterSettings>
                <MapsMarkerSettings>
                    <MapsMarker TValue="ProductDetails" Visible="true" Shape="MarkerType.Circle" DataSource="@LargestCities">
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Area" Format="Name: <b>${Name}</b><br>Product: <b>${Product}</b><br>Worth: <b>${Worth} sq kms</b>">
                            <MapsMarkerTooltipTextStyle FontFamily="Segoe UI"></MapsMarkerTooltipTextStyle>
                        </MapsMarkerTooltipSettings>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        Source:
        <a href="http://www.citymayors.com/statistics/largest-cities-area-125.html"
           target="_blank">www.citymayors.com</a>
    </div>
</div>

@code {
    
    public Theme Theme { get; set; }
    public string ConnectorLineColor = "#000000";
    public class ProductDetails
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public int Area { get; set; }
        public int Rank { get; set; }
        public string Name { get; set; }
        public string Product { get; set; }
        public string Worth { get; set; }
    };
    public List<ProductDetails> LargestCities = new List<ProductDetails> {
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Noah",
            Product= "Product B",
            Worth= "$150"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "William",
            Product= "Product C",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "James",
            Product= "Product D",
            Worth= "$250"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Oliver",
            Product= "Product E",
            Worth= "$350"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Benjamin",
            Product= "Product A",
            Worth= "$150"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Elijah",
            Product= "Product B",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Lucas",
            Product= "Product C",
            Worth= "$250"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Mason",
            Product= "Product D",
            Worth= "$350"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Logan",
            Product= "Product A",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Alexander",
            Product= "Product B",
            Worth= "$230"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Ethan",
            Product= "Product C",
            Worth= "$450"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Jacob",
            Product= "Product D",
            Worth= "$330"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Michael",
            Product= "Product A",
            Worth= "$120"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Daniel",
            Product= "Product B",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Henry",
            Product= "Product C",
            Worth= "$210"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Jackson",
            Product= "Product D",
            Worth= "$260"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Sebastian",
            Product= "Product A",
            Worth= "$410"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Aiden",
            Product= "Product B",
            Worth= "$220"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Matthew",
            Product= "Product C",
            Worth= "$320"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Samuel",
            Product= "Product D",
            Worth= "$540"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "David",
            Product= "Product A",
            Worth= "$350"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Joseph",
            Product= "Product B",
            Worth= "$170"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Carter",
            Product= "Product C",
            Worth= "$140"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Owen",
            Product= "Product D",
            Worth= "$320"
        },
        new ProductDetails {
            Latitude= 44.2108,
            Longitude= 20.9224,
            Area= 1623,
            Rank= 37,
            Name= "Wyatt",
            Product= "Product A",
            Worth= "$280"
        },
        new ProductDetails {
            Latitude= 22.309425,
            Longitude= 72.136230,
            Area= 1623,
            Rank= 37,
            Name= "Penelope",
            Product= "Product C",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 22.309425,
            Longitude= 72.136230,
            Area= 1623,
            Rank= 37,
            Name= "Layla",
            Product= "Product D",
            Worth= "$350"
        },
        new ProductDetails {
            Latitude= 22.309425,
            Longitude= 72.136230,
            Area= 1623,
            Rank= 37,
            Name= "Madison",
            Product= "Product A",
            Worth= "$320"
        },
        new ProductDetails {
            Latitude= 22.309425,
            Longitude= 72.136230,
            Area= 1623,
            Rank= 37,
            Name= "Aria",
            Product= "Product B",
            Worth= "$110"
        },
        new ProductDetails {
            Latitude= 35.738045,
            Longitude= 61.084488,
            Area= 1623,
            Rank= 37,
            Name= "Grayson",
            Product= "Product C",
            Worth= "$320"
        },
        new ProductDetails {
            Latitude= 41.161079,
            Longitude= -104.805450,
            Area= 1623,
            Rank= 37,
            Name= "Gabriel",
            Product= "Product D",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 41.161079,
            Longitude= -104.805450,
            Area= 1623,
            Rank= 37,
            Name= "Julian",
            Product= "Product A",
            Worth= "$150"
        },
        new ProductDetails {
            Latitude= 41.161079,
            Longitude= -104.805450,
            Area= 1623,
            Rank= 37,
            Name= "Mateo",
            Product= "Product B",
            Worth= "$250"
        },
        new ProductDetails {
            Latitude= 41.161079,
            Longitude= -104.805450,
            Area= 1623,
            Rank= 37,
            Name= "Anthony",
            Product= "Product C",
            Worth= "$350"
        },
        new ProductDetails {
            Latitude= 41.161079,
            Longitude= -104.805450,
            Area= 1623,
            Rank= 37,
            Name= "Jaxon",
            Product= "Product D",
            Worth= "$250"
        },
        new ProductDetails {
            Latitude= 41.161079,
            Longitude= -104.805450,
            Area= 1623,
            Rank= 37,
            Name= "Wyatt",
            Product= "Product A",
            Worth= "$120"
        },
        new ProductDetails {
            Latitude= 41.161079,
            Longitude= -104.805450,
            Area= 1623,
            Rank= 37,
            Name= "Joshua",
            Product= "Product B",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 31.661129,
            Longitude= -88.530167,
            Area= 1623,
            Rank= 37,
            Name= "Christopher",
            Product= "Product C",
            Worth= "$190"
        },
        new ProductDetails {
            Latitude= 43.038902,
            Longitude= -87.906471,
            Area= 1623,
            Rank= 37,
            Name= "Violet",
            Product= "Product D",
            Worth= "$230"
        },
        new ProductDetails {
            Latitude= 25.989819,
            Longitude= -111.732582,
            Area= 1623,
            Rank= 37,
            Name= "Savannah",
            Product= "Product A",
            Worth= "$170"
        },
        new ProductDetails {
            Latitude= 45.3573,
            Longitude= -122.6068,
            Area= 1623,
            Rank= 37,
            Name= "Brooklyn",
            Product= "Product B",
            Worth= "$180"
        },
        new ProductDetails {
            Latitude= 60.835365,
            Longitude= -147.776749,
            Area= 1623,
            Rank= 37,
            Name= "Nathan",
            Product= "Product C",
            Worth= "$190"
        },
        new ProductDetails {
            Latitude= 64.0601273,
            Longitude= -129.4332733,
            Area= 1623,
            Rank= 37,
            Name= "Claire",
            Product= "Product D",
            Worth= "$160"
        },
        new ProductDetails {
            Latitude= 58.5975,
            Longitude= 38.9873,
            Area= 1623,
            Rank= 37,
            Name= "Isaiah",
            Product= "Product A",
            Worth= "$210"
        },
            new ProductDetails {
            Latitude= 39.9075,
            Longitude= 96.39723,
            Area= 1623,
            Rank= 37,
            Name= "Paisley",
            Product= "Product B",
            Worth= "$120"
        },
            new ProductDetails {
            Latitude= 41.20438,
            Longitude= 74.766098,
            Area= 1623,
            Rank= 37,
            Name= "Caroline",
            Product= "Product C",
            Worth= "$190"
        }
    };
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        ConnectorLineColor = (Theme.ToString().IndexOf("Dark") > -1 || Theme.ToString().IndexOf("HighContrast") > -1) ? "#FFFFFF" : "#000000";
    }
}