@page "/linear-gauge/battery-indicator"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the battery indicator charged up to 75% by utilizing the linear gauge's functionalities.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure a linear gauge to look like a battery indicator. This can be accomplished by combining axis, pointer, multiple ranges, and multiple annotation.</p>
    <p>More information on the linear gauge can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/getting-started' aria-label="Blazor Linear Gauge Getting Started documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    .divclass {
        padding: 6px;
        color: white;
    }
</style>

<div class="control-section">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div align="center" style="margin: auto;width: 28%;padding: 10px;display: flex;justify-content: center;">
                <div class="divclass" style="float:left;">
                    <SfLinearGauge Orientation="Orientation.Horizontal" Theme="@Theme" Width="200px" Background="transparent">
                        <LinearGaugeContainer Width="58" Type="ContainerType.RoundedRectangle">
                            <LinearGaugeContainerBorder Color="@BorderColor" Width="5"></LinearGaugeContainerBorder>
                            <LinearGaugeAxes>
                                <LinearGaugeAxis Minimum="0" Maximum="60">
                                    <LinearGaugeLine Width="0" />
                                    <LinearGaugeMajorTicks Interval="15" Height="0" />
                                    <LinearGaugeMinorTicks Interval="5" Height="0" />
                                    <LinearGaugeAxisLabelStyle>
                                        <LinearGaugeAxisLabelFont Size="0"></LinearGaugeAxisLabelFont>
                                    </LinearGaugeAxisLabelStyle>
                                    <LinearGaugePointers>
                                        <LinearGaugePointer Width="0" />
                                    </LinearGaugePointers>
                                    <LinearGaugeRanges>
                                        <LinearGaugeRange Start="3" End="14" StartWidth="45" EndWidth="45" Color="#66BB6A" Offset="52" />
                                        <LinearGaugeRange Start="16" End="29" StartWidth="45" EndWidth="45" Color="#66BB6A" Offset="52" />
                                        <LinearGaugeRange Start="31" End="44" StartWidth="45" EndWidth="45" Color="#66BB6A" Offset="52" />
                                    </LinearGaugeRanges>
                                    <LinearGaugeAnnotations>
                                        <LinearGaugeAnnotation AxisIndex="0" AxisValue="60" X="0" Y="0" ZIndex="1">
                                            <ContentTemplate>
                                                <div style="width: 16px;height: 37px;border: 5px solid @BorderColor;margin-left: 6px;margin-top: 12px;border-radius: 6px;" />
                                            </ContentTemplate>
                                        </LinearGaugeAnnotation>
                                        <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="0" Y="0" ZIndex="1">
                                            <ContentTemplate>
                                                <div style="width: 134px;font-size: 20px;margin-top: -47px;margin-left: 7px;color: @TextColor;">Charged: 75%</div>
                                            </ContentTemplate>
                                        </LinearGaugeAnnotation>
                                    </LinearGaugeAnnotations>
                                </LinearGaugeAxis>
                            </LinearGaugeAxes>
                        </LinearGaugeContainer>
                    </SfLinearGauge>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public Theme Theme { get; set; }
    public string BorderColor = "#E5E7EB";
    public string TextColor = "#000000";
    

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (Theme == Theme.Bootstrap5 || Theme == Theme.Tailwind)
        {
            BorderColor = "#E5E7EB";
            TextColor = "#000000";
        }
        if (Theme == Theme.FabricDark || Theme == Theme.HighContrast || Theme == Theme.Bootstrap4 || Theme == Theme.Material || Theme == Theme.Bootstrap || Theme == Theme.BootstrapDark || Theme == Theme.Fabric)
        {
            BorderColor = "#bfbfbf";
        }
        if (Theme == Theme.Bootstrap5Dark || Theme == Theme.TailwindDark) {
            BorderColor = "#4b5563";
            TextColor = "#FFFFFF";
        }
        if (Theme == Theme.FabricDark || Theme == Theme.HighContrast || Theme == Theme.BootstrapDark || Theme == Theme.FluentDark || Theme.ToString().IndexOf("Fluent2Dark") > -1 || Theme.ToString().IndexOf("Fluent2HighContrast") > -1)
        {
            TextColor = "#FFFFFF";
        }
        if (Theme == Theme.FluentDark || Theme.ToString().IndexOf("Fluent2Dark") > -1 || Theme.ToString().IndexOf("Fluent2HighContrast") > -1)
        {
            BorderColor = "#292827";
        }
        if (Theme == Theme.Material3Dark )
        {
            TextColor = "#FFFFFF";
            BorderColor = "#E5E7EB";
        }
        if (Theme == Theme.MaterialDark)
        {
            TextColor = "#FFFFFF";
            BorderColor = "#bfbfbf";
        }
    }
}