@page "/linear-gauge/default-functionalities"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This sample shows a basic Linear Gauge configuration including an axis, a pointer, major and minor ticks, and an annotation.
  </p>
  <p>
    The Linear Gauge displays scale values in either horizontal or vertical orientation. Axis, range, ticks, pointer, and container properties can be used to customize the appearance of the gauge.
  </p>
  <p>
    For more information, see the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/linear-gauge/getting-started" aria-label="Blazor Linear Gauge Getting Started documentation">getting started documentation</a>.
  </p>
</ActionDescription>


<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" Theme="@Theme" Background="transparent">
        <LinearGaugeAxes>
            <LinearGaugeAxis>
                <LinearGaugeAxisLabelStyle Offset="48">
                    <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugeMajorTicks Color="#9E9E9E" Interval="10" Height="20" />
                <LinearGaugeMinorTicks Color="#9E9E9E" Interval="2" Height="10" />
                <LinearGaugeAnnotations>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="10" X="10" Y="-70" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotation-text">10 MPH</div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                </LinearGaugeAnnotations>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="10" Height="15" Width="15" Placement="Placement.Near" Offset="-40" MarkerType="MarkerType.Triangle" />
                </LinearGaugePointers>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
</div>

<style>
    .annotation-text {
        width: 70px;
        margin-left: -53%;
        margin-top: 5%;
        font-size: 16px;
    }
</style>

@code {
    public Theme Theme { get; set; }
    
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}
