@page "/linear-gauge/progress-bar"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows a linear gauge that resembles a progress bar component and indicates a task completion rate of 41%.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure a new progress bar component using the linear gauge. This can be accomplished by combining axis, pointer, and annotation.</p>
    <p>More information on the linear gauge can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/getting-started' aria-label="Blazor Linear Gauge Getting Started documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" AnimationDuration="2000" Theme="@Theme" Background="transparent">
        <LinearGaugeContainer Width="30" RoundedCornerRadius="20" BackgroundColor="#D6D6D6" Type="ContainerType.RoundedRectangle">
            <LinearGaugeContainerBorder Width="1" />
            <LinearGaugeAxes>
                <LinearGaugeAxis Minimum="0" Maximum="100">
                    <LinearGaugeLine Width="0" />
                    <LinearGaugeMajorTicks Interval="10" Height="0" />
                    <LinearGaugeMinorTicks Interval="1" Height="0" />
                    <LinearGaugeAxisLabelStyle>
                        <LinearGaugeAxisLabelFont Size="0"></LinearGaugeAxisLabelFont>
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer PointerValue="41" Height="30" Width="30" Type="Point.Bar" Color="#2196F3" />
                    </LinearGaugePointers>
                    <LinearGaugeAnnotations>
                        <LinearGaugeAnnotation AxisIndex="0" AxisValue="10" X="0" Y="0" ZIndex="1">
                            <ContentTemplate>
                                <div style="font-size: 15px;color: white;margin-top: 3px;">41%</div>
                            </ContentTemplate>
                        </LinearGaugeAnnotation>
                    </LinearGaugeAnnotations>
                </LinearGaugeAxis>
            </LinearGaugeAxes>
        </LinearGaugeContainer>
    </SfLinearGauge>
</div>

@code {
    public Theme Theme { get; set; }
    
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}