@page "/linear-gauge/steps-counter"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This sample shows a Linear Gauge displaying the number of steps taken by a person in a day.
  </p>
  <p>
    The steps counter appearance is achieved by combining an axis, range, pointer, and annotations to visualize progress towards a goal.
  </p>
  <p>
    For more information about the Linear Gauge, see the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/linear-gauge/getting-started" aria-label="Blazor Linear Gauge Getting Started documentation">getting started documentation</a>.
  </p>
</ActionDescription>


<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" AnimationDuration="3000" Theme="@Theme" Background="transparent">
        <LinearGaugeAxes>
            <LinearGaugeAxis OpposedPosition="true" Minimum="0" Maximum="12000">
                <LinearGaugeLine Width="30" />
                <LinearGaugeMajorTicks Interval="12000" Height="10" Width="1" />
                <LinearGaugeMinorTicks Height="0" />
                <LinearGaugeAxisLabelStyle>
                    <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugeAnnotations>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="12000" X="10" Y="0" ZIndex="1">
                        <ContentTemplate>
                            <div class="steps-info">
                                <p class="steps-label">STEPS</p>
                                <p class="steps-count">8456</p>
                            </div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="0" Y="-100" ZIndex="1">
                        <ContentTemplate>
                            <div style="width: 145px;font-size: 19px;">
                                Sun, 7 February
                            </div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                </LinearGaugeAnnotations>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="8446" Height="40" Width="40" Placement="Placement.Near" Offset="-40" MarkerType="MarkerType.Image" ImageUrl="@(SampleService?.WebAssetsPath + "images/linear-gauge/step-count.png")" />
                </LinearGaugePointers>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0" End="8456" StartWidth="30" EndWidth="30" Color="#0DC9AB" Offset="0" />
                </LinearGaugeRanges>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
</div>

<style>
    .steps-info {
        width: 70px;
        text-align: center;
    }

    .steps-label {
        font-size: 10px;
        margin-top: -16px;
        font-weight: 400;
    }

    .steps-count {
        font-size: 23px;
        margin-top: -16px;
        color: #0DC9AB;
        font-weight: 600;
    }
</style>

@code {
    public Theme Theme { get; set; }
    
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}