@page "/linear-gauge/step-progress-bar"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This sample shows a Linear Gauge configured as a step progress bar to indicate shipment status.
  </p>
  <p>
    The step progress bar is created by combining an axis with multiple pointers and ranges to represent milestones and progress visually.
  </p>
  <p>
    For more information about the Linear Gauge, see the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/linear-gauge/getting-started" aria-label="Blazor Linear Gauge Getting Started documentation">getting started documentation</a>.
  </p>
</ActionDescription>


<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" Theme="@Theme" Background="transparent">
        <LinearGaugeEvents AxisLabelRendering="AxisLabelChange" />
        <LinearGaugeAxes>
            <LinearGaugeAxis Minimum="5" Maximum="20" OpposedPosition="true">
                <LinearGaugeLine Width="5" />
                <LinearGaugeMajorTicks Height="0" Interval="5" />
                <LinearGaugeMinorTicks Height="0" />
                <LinearGaugeAxisLabelStyle Offset="10">
                    <LinearGaugeAxisLabelFont FontFamily="inherit" Size="16px" />
                </LinearGaugeAxisLabelStyle>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="5" Height="25" Width="25" Placement="Placement.Near" MarkerType="MarkerType.Image" ImageUrl="@(SampleService?.WebAssetsPath + "images/linear-gauge/tick-icon.png")"  />
                    <LinearGaugePointer PointerValue="10" Height="25" Width="25" Placement="Placement.Near" MarkerType="MarkerType.Image" ImageUrl="@(SampleService?.WebAssetsPath + "images/linear-gauge/tick-icon.png")" />
                    <LinearGaugePointer PointerValue="15" Height="25" Width="25" Placement="Placement.Near" MarkerType="MarkerType.Image" ImageUrl="@(SampleService?.WebAssetsPath + "images/linear-gauge/tick-icon.png")" />
                    <LinearGaugePointer PointerValue="20" Height="25" Width="15" Placement="Placement.Center" Position="Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                </LinearGaugePointers>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="5" End="10" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                    <LinearGaugeRange Start="10" End="15" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                    <LinearGaugeRange Start="15" End="20" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                </LinearGaugeRanges>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
</div>
@code {
    public Theme Theme { get; set; }
    
    private void AxisLabelChange(AxisLabelRenderEventArgs args)
    {
        switch (args.Text)
        {
            case "5":
                args.Text = "Ordered";
                break;
            case "10":
                args.Text = "Packed";
                break;
            case "15":
                args.Text = "Shipped";
                break;
            case "20":
                args.Text = "Delivered";
                break;
            default:
                args.Text = " ";
                break;
        }
    }

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}