@page "/linear-gauge/steps-counter"


@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows a linear gauge displaying the number of steps taken by a person in a day.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure a linear gauge to look like a steps counter. This can be accomplished by combining axis, range, pointer and annotations.</p>
    <p>More information on the linear gauge can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/getting-started' aria-label="Blazor Linear Gauge Getting Started documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfLinearGauge Orientation="Orientation.Horizontal" AnimationDuration="3000" Theme="@Theme" Background="transparent">
        <LinearGaugeAxes>
            <LinearGaugeAxis OpposedPosition="true" Minimum="0" Maximum="12000">
                <LinearGaugeLine Width="30" />
                <LinearGaugeMajorTicks Interval="12000" Height="10" Width="1" />
                <LinearGaugeMinorTicks Height="0" />
                <LinearGaugeAxisLabelStyle>
                    <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                </LinearGaugeAxisLabelStyle>
                <LinearGaugeAnnotations>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="12000" X="10" Y="0" ZIndex="1">
                        <ContentTemplate>
                            <div style="width: 70px;">
                                <p align="center" style="font-size:10px;margin-top: -16px;font-weight: 400;">STEPS</p>
                                <p align="center" style="font-size: 23px;margin-top: -16px;color: #0DC9AB;font-weight: 600;">8456</p>
                            </div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                    <LinearGaugeAnnotation AxisIndex="0" AxisValue="0" X="0" Y="-100" ZIndex="1">
                        <ContentTemplate>
                            <div style="width: 145px;font-size: 19px;">
                                Sun, 7 February
                            </div>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                </LinearGaugeAnnotations>
                <LinearGaugePointers>
                    <LinearGaugePointer PointerValue="8446" Height="40" Width="40" Placement="Placement.Near" Offset="-40" MarkerType="MarkerType.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/linear-gauge/step-count.png")" />
                </LinearGaugePointers>
                <LinearGaugeRanges>
                    <LinearGaugeRange Start="0" End="8456" StartWidth="30" EndWidth="30" Color="#0DC9AB" Offset="0" />
                </LinearGaugeRanges>
            </LinearGaugeAxis>
        </LinearGaugeAxes>
    </SfLinearGauge>
</div>

@code {
    public Theme Theme { get; set; }
    
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}