@page "/tree-grid/batch-editing"

@using Syncfusion.Blazor.TreeGrid;
@*Hidden:Lines*@
@using TreeWrapdata
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the batch editing functionality which allows users to make multiple changes and save them all at once, making it easier to manage and update data in bulk in Tree Grid.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        Batch editing allows users to perform multiple add, edit, and delete operations across different rows without immediate confirmation, and it is enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridEditSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridEditSettings_Mode">Mode</a> property of <code>TreeGridEditSettings</code> to <code>EditMode.Batch</code>.
    </p>

    <p>
        In this demo, you can add multiple new rows, edit any number of cells across different rows, and delete one or more rows directly in the Tree Grid. The edited cells are visually highlighted until the changes are committed. In this mode, all modifications are saved in bulk by clicking the <b>Update</b> button in the toolbar or click <b>Cancel</b> button in the toolbar to discard all unsaved changes.
    </p>

    <p>
        More information about batch editing can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/editing/batch-editing">documentation</a> section.
    </p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" IdMapping="TaskId" ParentIdMapping="ParentId" Height="312" TreeColumnIndex="1" Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })">
                <TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Batch"></TreeGridEditSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="120" IsPrimaryKey="true" ValidationRules="@(new Syncfusion.Blazor.Grids.ValidationRules() { Required = true })" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" ValidationRules="@(new Syncfusion.Blazor.Grids.ValidationRules() { Required = true })" Width="260"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration (In Days)" Width="140" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=Syncfusion.Blazor.Grids.ColumnType.Date Width="140" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" EditType=Syncfusion.Blazor.Grids.EditType.DatePickerEdit></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText="End Date" Format="d" Type=Syncfusion.Blazor.Grids.ColumnType.Date Width="140" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" EditType=Syncfusion.Blazor.Grids.EditType.DatePickerEdit></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>


@code{
    private List<WrapData> TreeData { get; set; } = new List<WrapData>();

    protected override void OnInitialized()
    {
        TreeData = WrapData.GetWrapData().ToList();
    }

}
