@page "/tree-grid/cell-alignment"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the text alignment functionalities of the Tree Grid columns.</p>
</SampleDescription>
<ActionDescription>
    <p>Align both content and header text of particular column using the <code>TextAlign</code> property of columns. There are four possible ways to align content and header text of column, they are. <br></p>
    <ul><li><code>Right</code></li>
        <li><code>Left</code></li>
        <li><code>Center</code></li>
        <li><code>Justify</code></li>
    </ul>
     <p> In this sample, the <code>TextAlign</code> property is set as Right for Duration, Start Date, and End Date columns.  </p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowPaging="true" Height="400">
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="60" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="180"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="100"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    public List<SelfReferenceData> TreeData { get; set; }
    

    protected override void OnInitialized()
    {
        
        this.TreeData = SelfReferenceData.GetTree().ToList();
    }
}
