@page "/tree-grid/checkbox-selection"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using EmployeeData
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>
    This sample illustrates checkbox-based row selection, including a header master checkbox and persistent selection across paging, sorting, and filtering.
  </p>
  <p>
    Add a checkbox column by setting the column <code>Type</code> to <strong>Checkbox</strong>. Persist selection by configuring <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridSelectionSettings.html">TreeGridSelectionSettings</a> and setting <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridSelectionSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridSelectionSettings_PersistSelection">PersistSelection</a> to <strong>true</strong>. Set <code>CheckboxOnly</code> to <strong>true</strong> to restrict selection to checkboxes.
  </p>
  <p>
    For details, see the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/treegrid/selection/#checkbox-selection">checkbox selection documentation</a>.
  </p>
</ActionDescription>



<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="TreeData" AllowFiltering="true" AllowPaging="true" IdMapping="EmployeeID" ParentIdMapping="ParentId" TreeColumnIndex="2" Height="326">
                <TreeGridSelectionSettings PersistSelection="true" CheckboxOnly="true"></TreeGridSelectionSettings>
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridPageSettings PageSize="2" PageSizeMode="PageSizeMode.Root"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Type="Syncfusion.Blazor.Grids.ColumnType.CheckBox" IsPrimaryKey="true" Width="40"></TreeGridColumn>
                    <TreeGridColumn Field="EmpID" HeaderText="Employee ID" TextAlign="TextAlign.Right" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="Name" HeaderText="Name" Width="120"></TreeGridColumn>
                    <TreeGridColumn Field="Designation" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Designation" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="JoinedDate" HeaderText="Joined Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field="Country" HeaderText="Country" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="Contact" HeaderText="Contact" Width="140" TextAlign="TextAlign.Right">
                        <Template>
                            @{
                                var employee = (context as EmployeeData);
                                <a href="tel:@employee.Contact" class="e-link" onclick="event.preventDefault();">
                                    <i class="e-icons e-phone"></i> @employee.Contact
                                </a>
                            }
                        </Template>
                    </TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<EmployeeData> TreeData { get; set; } = new List<EmployeeData>();

    protected override void OnInitialized()
    {
        TreeData = EmployeeData.GetTemplateData().ToList();
    }
}
