@page "/tree-grid/column-menu"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids

@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the default functionalities of the Column Menu. Click on multiple icon of each column to open the column menu.</p>
</SampleDescription>
<ActionDescription>
    <p>The column menu has an integrated option to interact with the features like sorting, filtering, column chooser, and autoFit. This feature can be enabled by defining the <a aria-label="Navigate to the show column menu property reference to the tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ShowColumnMenu'>ShowColumnMenu</a> as true. The default items are:<br> </p>
    <ul>
        <li><code>SortAscending</code> - Sort the current column in ascending order.</li>
        <li><code>SortDescending</code> - Sort the current column in descending order.</li>
        <li><code>AutoFit</code> - Auto-fit current column.</li>
        <li><code>AutoFitAll</code> - Auto-fit all columns.</li>
        <li><code>ColumnChooser</code> - Chooses visibility of columns.</li>
        <li><code>Filter</code> - Filter the current column.</li>
    </ul>
    <p>More information on the Column Menu can be found in this <a aria-label="Navigate to documentation for column-menu in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/column-menu'>documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid Height="312" DataSource="@TreeData" IdMapping="TaskID" ParentIdMapping="ParentID" AllowPaging="true" TreeColumnIndex="1" ShowColumnMenu="true" AllowSorting="true">
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="170"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText="End Date" Format="d" Type=ColumnType.Date Width="130" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="110"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<SelfReferenceData> TreeData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeData = SelfReferenceData.GetTree().ToList();
    }
}
