@page "/tree-grid/column-menu"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids

@*Hidden:Lines*@
@using TicketData
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the column menu functionality in Tree Grid. The column menu appears in each column header and provides access to integrated features such as sorting, filtering, column chooser, and auto-fit options for managing column-level operations.
    </p>
</SampleDescription>


<ActionDescription>
    <p>
        The column menu is enabled by setting the
        <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ShowColumnMenu">ShowColumnMenu</a>
        property to <b>true</b>.
    </p>

    <p>
        In this demo, clicking the column menu icon in each column header opens the column menu which enables options like <b>Sort Ascending</b>, <b>Sort Descending</b>, <b>AutoFit</b>, <b>AutoFitAll</b>, <b>Column Chooser</b>, and <b>Filter</b>. These operations can be performed directly through the column menu interface for efficient column-level customization.
    </p>

    <p>
        More information about the column menu can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/columns/column-menu">documentation</a> section.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid Height="312" DataSource="@TreeData" IdMapping="TicketID" ParentIdMapping="ParentTicketID" AllowPaging="true" TreeColumnIndex="1" ShowColumnMenu="true" AllowSorting="true" AllowFiltering="true">
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridPageSettings PageSizeMode="PageSizeMode.All"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TicketID" HeaderText="Ticket ID" Width="160" MinWidth="8" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Description" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Description" Width="400" MinWidth="200"></TreeGridColumn>
                    <TreeGridColumn Field="Category" HeaderText="Category" Width="135" MinWidth="8"></TreeGridColumn>
                    <TreeGridColumn Field="CustomerName" HeaderText="Customer Name" Width="170" MinWidth="120"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="135" MinWidth="8"></TreeGridColumn>
                    <TreeGridColumn Field="Status" HeaderText="Status" Width="125" MinWidth="8" TextAlign="TextAlign.Left"></TreeGridColumn>
                    <TreeGridColumn Field="CreatedDate" HeaderText="Created Date" Width="150" Format="MM/dd/yyyy" Type="ColumnType.Date" ClipMode="ClipMode.EllipsisWithTooltip" />
                    <TreeGridColumn Field="DueDate" HeaderText="Due Date" Width="130" Format="MM/dd/yyyy" Type="ColumnType.Date" />
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code {

    private List<SupportTicketData> TreeData { get; set; } = new List<SupportTicketData>();

    protected override void OnInitialized()
    {
        TreeData = SupportTicketData.GetSupportTickets();
    }
}
