@page "/tree-grid/conditional-formatting"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This samples demonstrates the way of customizing the cells by highlighting the cells of Duration column based on certain condition using the <code>QueryCellInfo</code> event.</p>
</SampleDescription>
<ActionDescription>
    <p>The appearance of cells can be customized by using the <a aria-label="Navigate to the query cell info event for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridEvents-1.html#Syncfusion_Blazor_TreeGrid_TreeGridEvents_1_QueryCellInfo'>QueryCellInfo</a> event. The QueryCellInfo event triggers for every cell, and the details of each cell can be obtained in the <a aria-label="Navigate to the class reference to QueryCellInfoEventArgs in tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.QueryCellInfoEventArgs-1.html'>QueryCellInfoEventArgs</a> argument of the event handler.</p>
    <p>More information about conditional formatting can be found in this <a aria-label="Navigate to the documentation for customize cell styles in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/cell/#customize-cell-styles'> documentation</a> section.</p>
</ActionDescription>


<style>
    .lessduration, td.lessduration.e-active  {
        background-color: #336c12;
        color: white !important;
    }

    .highduration, td.highduration.e-active {
        background-color: #7b2b1d;
        color: white !important;
    }
</style>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" IdMapping="TaskID" Height="312" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowPaging="true">
                <TreeGridEvents QueryCellInfo="QueryCellInfoHandler" TValue="SelfReferenceData"></TreeGridEvents>
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" IsPrimaryKey="true" Width="80" TextAlign=" Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="140"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="100" TextAlign=" Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="100" EditType="Syncfusion.Blazor.Grids.EditType.NumericEdit"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="80"></TreeGridColumn>
                    <TreeGridColumn Field="Approved" HeaderText="Approved" Width="100" Type="Syncfusion.Blazor.Grids.ColumnType.Boolean" DisplayAsCheckBox="true" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" EditType="Syncfusion.Blazor.Grids.EditType.BooleanEdit"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<SelfReferenceData> TreeData { get; set; }


    public void QueryCellInfoHandler(QueryCellInfoEventArgs<SelfReferenceData> args)
    {
        if (args.Column.Field == "Duration" && args.Data.Duration < 15)
        {

            args.Cell.AddClass(new string[] { "lessduration" });
        }
        else if (args.Column.Field == "Duration" && args.Data.Duration >= 15)
        {
            args.Cell.AddClass(new string[] { "highduration" });
        }
    }

    protected override void OnInitialized()
    {

        this.TreeData = SelfReferenceData.GetTree().ToList();
    }
}
