@page "/tree-grid/context-menu"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ej2_blazor_treedata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
     This sample shows the context menu feature in the Tree Grid component. To access the context menu, right-click anywhere on the Tree Grid.
</SampleDescription>
<ActionDescription>
   <p>To configure the items in context menu, you should define either default or custom item in the <a aria-label="Navigate to the context menu items property reference to tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ContextMenuItems'>ContextMenuItems</a> property. Each context menu item will be shown based on its target. The default context menu items are,</p>
      <ul>
         <li><code>Edit</code> - Edit the current record.</li>
         <li><code>Delete</code> - Delete the current record.</li>
         <li><code>Save</code> - Save the edited record.</li>
         <li><code>Cancel</code> - Cancel the edited state.</li>
         <li><code>Copy</code> - Copy the selected records.</li>
         <li><code>PdfExport</code> - Export the grid as Pdf format.</li>
         <li><code>ExcelExport</code> - Export the grid as Excel format.</li>
         <li><code>CsvExport</code> - Export the grid as CSV format.</li>
         <li><code>SortAscending</code> - Sort the current column in ascending order.</li>
         <li><code>SortDescending</code> - Sort the current column in descending order.</li>
         <li><code>FirstPage</code> - Go to the first page.</li>
         <li><code>PrevPage</code> - Go to the previous page.</li>
         <li><code>LastPage</code> - Go to the last page.</li>
         <li><code>NextPage</code> - Go to the next page.</li>
      </ul>
    <p>While using the Tree Grid in a touch environment, touch and hold the Tree Grid row cell to show the context menu.</p>
    <p>More information about context menu can be found in this <a aria-label="Navigate to the documentation for context menu in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/context-menu'>documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
           <SfTreeGrid AllowSorting="true" TValue="BusinessObject" AllowPaging="true" ChildMapping="Children" Height="312" TreeColumnIndex="1" ContextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "Edit", "Delete", "Save", "Cancel", "FirstPage", "PrevPage","LastPage", "NextPage"})">
                <SfDataManager Json="@TreeDatum" Adaptor="Adaptors.JsonAdaptor"></SfDataManager>
                <TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.TreeGrid.EditMode.Row"></TreeGridEditSettings>
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="100" IsPrimaryKey="true" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="170"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="120"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="100"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private BusinessObject[] TreeDatum { get; set; }


    protected override void OnInitialized()
    {

        this.TreeDatum = TreeData.GetDefaultData().Cast<BusinessObject>().ToArray();
    }
}
