@page "/tree-grid/default-functionalities"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using TaskData
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the default functionality of the Tree Grid using self-referential data binding includes filtering, sorting, searching and CRUD operations for efficient data management.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        In this demo, the Tree Grid binds self-referential data using <a aria-label="Navigate to explore the Tree Grid IdMapping API" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_IdMapping">IdMapping</a> and <a aria-label="Navigate to explore the Tree Grid ParentIdMapping API" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ParentIdMapping">ParentIdMapping</a> properties. <b>"TaskID"</b> and <b>"ParentID"</b> fields are used to define the parent-child relationship and build the hierarchical structure.
    </p>
    <p>
        More information on the Tree Grid can be found in the
        <a aria-label="Navigate to getting started documentation for the Tree Grid component" target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/getting-started-webapp">documentation</a> section.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" Height="312" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowFiltering="true" AllowSorting Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel", "Search" })">
                <TreeGridFilterSettings Type=" Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridEditSettings AllowAdding AllowDeleting AllowEditing></TreeGridEditSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" IsPrimaryKey=true Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Task Name" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="AssignedTo" HeaderText="Assignee" Width="140"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Status" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText="End Date" Format="d" Type=ColumnType.Date Width="110" TextAlign="TextAlign.Right"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code {

    private List<TaskData> TreeData { get; set; } = new List<TaskData>();

    protected override void OnInitialized()
    {
        TreeData = TaskData.GetTree();
    }
}
