@page "/tree-grid/default-functionalities"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using TaskData
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates the default functionality of the Tree Grid using self-referential data binding, including filtering, sorting, searching, and CRUD operations for efficient data management.
  </p>
  <p>
    In this demo, the Tree Grid binds self-referential data using <a target="_blank" rel="noopener" aria-label="Navigate to explore the Tree Grid IdMapping API" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_IdMapping">IdMapping</a> and <a target="_blank" rel="noopener" aria-label="Navigate to explore the Tree Grid ParentIdMapping API" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ParentIdMapping">ParentIdMapping</a>. The <strong>TaskID</strong> and <strong>ParentID</strong> fields define the parent–child relationship to build the hierarchy.
  </p>
  <p>
    For more information, see the <a target="_blank" rel="noopener" aria-label="Navigate to getting started documentation for the Tree Grid component" href="https://blazor.syncfusion.com/documentation/treegrid/getting-started-webapp">getting started documentation</a>.
  </p>
</ActionDescription>



<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" Height="312" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowFiltering="true" AllowSorting Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel", "Search" })">
                <TreeGridFilterSettings Type=" Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridEditSettings AllowAdding AllowDeleting AllowEditing></TreeGridEditSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" IsPrimaryKey=true Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Task Name" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="AssignedTo" HeaderText="Assignee" Width="140"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Status" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText="End Date" Format="d" Type=ColumnType.Date Width="110" TextAlign="TextAlign.Right"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code {

    private List<TaskData> TreeData { get; set; } = new List<TaskData>();

    protected override void OnInitialized()
    {
        TreeData = TaskData.GetTree();
    }
}
