@page "/tree-grid/default-filtering"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data

@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
  <p>This sample demonstrates the default filterbar functionality in Tree Grid. Type a value in the filterbar and press enter to filter the particular column.</p>
</SampleDescription>
<ActionDescription>
  <p>The filtering feature allows the user to view a subset of the records based on the filter criteria. Set the <a aria-label="Navigate to the allow filtering property reference to tree grid data in column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowFiltering'>AllowFiltering</a> property to true to enable it. Next to the header, a filter bar row will be rendered, allowing end-users to filter data by entering text into its cells.</p>
 <p>Filterbar has the following two modes that specify how to begin filtering. It can be specified using <a aria-label="Navigate to the mode property reference for tree grid filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridFilterSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridFilterSettings_Mode'>Mode</a> property of <a aria-label="Navigate to the class reference for tree grid filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridFilterSettings.html'>TreeGridFilterSettings</a></p>
    <ul>
       <li><code>OnEnter</code> - Enabled by default, filter will be initiated after pressing the <code>Enter</code> key.</li>
        <li><code>Immediate</code> - Filter will start after user ends typing. This uses a time delay of <i>1500ms</i> to initiate filter after user stops typing. It can be overridden by using the <a aria-label="Navigate to the Immediate Mode Delay property reference for tree grid filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridFilterSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridFilterSettings_ImmediateModeDelay'>TreeGridFilterSettings->ImmediateModeDelay</a> property.</li>
    </ul>
    <p>Tree Grid also provides support for following filtering modes with <a aria-label="Navigate to the HierarchyMode property reference for tree grid filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridFilterSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridFilterSettings_HierarchyMode'>HierarchyMode</a> property of <code>TreeGridFilterSettings</code>.</p>
    <ul>
        <li><code>Parent</code> - This is the default filter hierarchy mode in Tree Grid. The filtered records appear alongside their parent records. If none of the filtered records have a parent record, only the filtered record itself is displayed.</li>
        <li><code>Child</code> - The filtered records are shown alongside their child records. If the filtered records have no child records, only the filtered records are displayed.</li>
        <li><code>Both</code> - The filtered records are shown alongside their parent and child records. If there are no parent or child records in the filtered records, only the filtered records will be displayed.</li>
        <li><code>None</code> - Only the actual filtered records are displayed.</li>
    </ul>
    <p>In this demo, <code>Parent</code> hierarchy mode is enabled.</p>
    <p>More information on filtering can be found in this <a aria-label="Navigate to the documentation for filtering in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/filtering/'>documentation section</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
           <SfTreeGrid AllowFiltering="true" DataSource="TreeData" IdMapping="TaskID" ParentIdMapping="ParentID" Height="312" TreeColumnIndex="1">
                <TreeGridPageSettings PageSize="10"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="145"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="140"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="100"></TreeGridColumn>

                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<SelfReferenceData> TreeData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeData = SelfReferenceData.GetTree().Take(12).ToList();
    }
}
