@page "/tree-grid/draganddrop-within-grid"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.TreeGrid
@*Hidden:Lines*@
@using TaskData
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates row drag-and-drop within a single Tree Grid, allowing records to be reordered and hierarchy restructured by dragging a row handle to move items above, below, top, bottom, or as a child of another row.
  </p>
  <p>
    Enable row drag-and-drop by setting <a target="_blank" rel="noopener" aria-label="Navigate to the Allow Row Drag And Drop property reference for Tree Grid component" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowRowDragAndDrop">AllowRowDragAndDrop</a> to <strong>true</strong>. In this demo, the tree column is <strong>Task Name</strong>; use its drag handle to drop items in valid targets without changing cell values.
  </p>
  <p>
    See the drag-and-drop documentation <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/treegrid/rows/row-drag-and-drop#drag-and-drop-within-tree-grid">here</a>.
  </p>
</ActionDescription>



<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@DragData" IdMapping="TaskID" ParentIdMapping="ParentID" AllowRowDragAndDrop="true" TreeColumnIndex="1" AllowSelection="true" AllowSorting="true" AllowFiltering="true" Height="400">
                <TreeGridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></TreeGridSelectionSettings>
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="140" TextAlign="TextAlign.Right" IsPrimaryKey="true"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration (In days)" Width="150" ClipMode="ClipMode.EllipsisWithTooltip" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText=" End Date" Format="d" Type=ColumnType.Date Width="130" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="120"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>


@code {

    private List<TaskData> DragData { get; set; } = new List<TaskData>();

    protected override void OnInitialized()
    {
        DragData = TaskData.GetTree().Take(40).ToList();
    }
}