@page "/tree-grid/menu-filter"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@*Hidden:Lines*@
@using ej2_blazor_dateonlytimeonlydata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager

@*End:Hidden*@

<SampleDescription>
    <p>This example shows how to filter Tree Grid columns using the menu filter dialog. Clicking or tapping the filter icon on the column header opens the filter dialog for that column.</p>
</SampleDescription>
<ActionDescription>
    <p>The filtering feature allows the user to view a subset of the records based on the filter criteria. Set the <a aria-label="Navigate to the AllowFiltering property reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowFiltering'>AllowFiltering</a> property to true to enable it.</p>
    <p>Tree Grid supports the following filter types for various filter UI, which can be set using the <a aria-label="Navigate to type property reference for tree grid filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridFilterSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridFilterSettings_Type'>Type</a> property of <a aria-label="Navigate to the class reference for tree grid filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridFilterSettings.html'>TreeGridFilterSettings</a>.</p>
    <ul>
        <li><code>FilterBar</code></li>
        <li><code>Menu</code></li>
        <li><code>Excel</code></li>
    </ul>
    <p>Tree Grid also provides support for the following filtering modes with the <a aria-label="Navigate to the HierarchyMode property reference for tree grid filter settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridFilterSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridFilterSettings_HierarchyMode'>HierarchyMode</a> property of <code>TreeGridFilterSettings</code>.</p>
    <ul>
        <li><code>Parent</code> - This is the default filter hierarchy mode in Tree Grid. The filtered records appear alongside their parent records. If none of the filtered records have a parent record, only the filtered record itself is displayed.</li>
        <li><code>Child</code> - The filtered records are shown alongside their child records. If the filtered records have no child records, only the filtered records are displayed.</li>
        <li><code>Both</code> - The filtered records are shown alongside their parent and child records. If there are no parent or child records in the filtered records, only the filtered records will be displayed.</li>
        <li><code>None</code> - Only the actual filtered records are displayed.</li>
    </ul>
    <p>In this demo, <code>Parent</code> hierarchy mode is enabled with menu filter type.</p>
    <p>More information on menu filter can be found in this <a aria-label="Navigate to the documentation for filter menu in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/filtering/filter-menu'>documentation</a> section.</p>
</ActionDescription>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid @ref="TreeGrid" DataSource="TreeData" AllowFiltering="true" IdMapping="TaskId" ParentIdMapping="ParentId" Height="312" TreeColumnIndex="1">
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Menu"></TreeGridFilterSettings>
                <TreeGridPageSettings PageSize="10"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="150" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="260"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type="ColumnType.DateOnly" Width="150" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="StartTime" HeaderText="Start Time" Type="ColumnType.TimeOnly" Width="150" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="150" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="150"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>
@code {

    SfTreeGrid<DateOnlyTimeOnlyData> TreeGrid { get; set; }

    private Syncfusion.Blazor.TreeGrid.FilterType GridFilterType { get; set; } = Syncfusion.Blazor.TreeGrid.FilterType.Menu;

    private List<DateOnlyTimeOnlyData> TreeData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeData = DateOnlyTimeOnlyData.GetWrapData().Take(12).ToList();

    }
}