@page "/tree-grid/print"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids;
@*Hidden:Lines*@
@using TreeShipmentdata
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates printing the Tree Grid, generating a clean and structured view of hierarchical data suitable for hard-copy output.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        Printing is initiated by calling the <a aria-label="Navigate to the PrintAsync method reference for the Tree Grid component" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_PrintAsync">PrintAsync</a> method. The Tree Grid layout is automatically adjusted during printing to ensure clarity and readability.
    </p>
    <p>
        In this demo, the toolbar includes a <b>Print</b> button that triggers the print operation. The output displays the hierarchical data with the configured columns, including formatted date and currency values.
    </p>
    <p>
        More information about printing can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/print">documentation</a> section.
    </p>
</ActionDescription>



<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeGridData" Height="312" IdMapping="ID" ParentIdMapping="ParentID" TreeColumnIndex="0" Toolbar="@(new List<string>() { "Print" })">
                <TreeGridColumns>
                    <TreeGridColumn Field="Name" HeaderText="Order Name" Width="240"></TreeGridColumn>
                    <TreeGridColumn Field="Category" HeaderText="Category" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="ShippedDate" HeaderText=" Shipped Date" Format="d" Type=ColumnType.Date Width="145" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Price" HeaderText="Price" Format="C0" Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>

        </div>
    </div>
</div>

@code {

    private List<ShipmentData> TreeGridData { get; set; } = new List<ShipmentData>();

    protected override void OnInitialized()
    {
        TreeGridData = ShipmentData.GetShipmentData().ToList();
    }
}

