@page "/tree-grid/print"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using BlazorDemos
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>The print feature of Tree Grid is demonstrated in this sample. To print the Tree Grid, use the print button on the toolbar item.</p>
</SampleDescription>
<ActionDescription>
    <p><a aria-label="Navigate to the Print Async event for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_PrintAsync'>PrintAsync</a> method can be used to print the Tree Grid. If the pager and scrollbar are enabled in Tree Grid, they will be removed while printing.</p>
    <p>All pages in tree grid are printed by default. Only the current page can be printed by setting the <a aria-label="Navigate to the PrintMode property reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_PrintMode'>PrintMode</a> property to <code>CurrentPage</code>.</p>
   <p>More information on print feature can be found in this <a aria-label="Navigate to the documentation for print in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/print'>documentation</a> section.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid Height="312" DataSource="@TreeGridData" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" Toolbar="@(new List<string>() { "Print" })">
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" IsPrimaryKey="true" Width="80" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" EditType=EditType.DefaultEdit Width="200"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" EditType=EditType.DatePickerEdit Format="d" Type=ColumnType.Date Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText=" End Date" EditType=EditType.DatePickerEdit Format="d" Type=ColumnType.Date Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="110" TextAlign="TextAlign.Left"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" EditType=EditType.DefaultEdit Width="100"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<SelfReferenceData> TreeGridData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeGridData = SelfReferenceData.GetTree().Take(12).ToList();
    }
}
