@page "/tree-grid/remote-data-with-virtualization"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the Tree Grid component with the vertical scrollbar to view the exceeded tree grid content in remote data binding with large data.</p>
</SampleDescription>
<ActionDescription>
    <p>
        Virtualization helps you to improve the tree grid performance while loading a large set of remote data. The Tree Grid UI virtualization allows it to render only rows and columns visible within the view-port without buffering the entire datasource.
        To enable row virtualization, set the <a aria-label="Naigate to the Enable Virtualization property reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_EnableVirtualization'>EnableVirtualization</a> property as true.
    </p>
    <p>Set the <a aria-label="Navigate to the EnableVirtualMaskRow property reference for tree grid component" target='_blank' href='https://https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_EnableVirtualMaskRow'>EnableVirtualMaskRow </a>property value to <b>true</b> to enable mask row support.</p>
    <p>In this demo, Tree Grid is rendered with row virtualization for 10,000 rows, and data from remote service is bound to the tree grid using the <a aria-label="Navigate to the documentation for getting started with data manager component" target='_blank' class='code' href='https://blazor.syncfusion.com/documentation/data/getting-started'>SfDataManager</a> component.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid TValue="VirtualData" IdMapping="TaskID" RowHeight="38" EnableVirtualization="true" EnableVirtualMaskRow="true" ParentIdMapping="ParentItem"
                        Height="312" TreeColumnIndex="1" HasChildMapping="IsParent">
                <SfDataManager Url="https://blazor.syncfusion.com/services/production/api/VirtualData" Adaptor="Adaptors.WebApiAdaptor" CrossDomain="true"></SfDataManager>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="170"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="150"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@*Hidden:Lines*@
@code {




    public class VirtualData
    {
        public int TaskID { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public String Progress { get; set; }
        public String Priority { get; set; }
        public int Duration { get; set; }
        public int? ParentItem { get; set; }
        public bool? IsParent { get; set; }
    }
}
@*End:Hidden*@
