@page "/tree-grid/remote-data-with-virtualization"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@


<SampleDescription>
    <p>
        This sample demonstrates virtualization with remote data binding in Tree Grid, where data is retrieved from a remote service and rendered in a collapsed state on the initial render.
    </p>
</SampleDescription>

<ActionDescription>


    <p>
        In this demo, the Tree Grid is bound to a remote Web API service using  <a target="_blank" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DataManager.html">SfDataManager</a> with <code>WebApiAdaptor</code>.
        This setup ensures efficient rendering and smooth scrolling performance even when handling large datasets from remote sources.
    </p>
    <p>
        Row virtualization is enabled using the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_EnableVirtualization">EnableVirtualization</a> property, and the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_EnableVirtualMaskRow">EnableVirtualMaskRow</a> property is set to <b>true</b> to display masked placeholders while data is loading.
        Virtualization improves Tree Grid performance by rendering only the rows visible within the viewport instead of loading the entire dataset. This is especially useful when working with large volumes of remote data.
    </p>
    <p>
        More information about virtualization in Tree Grid can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/virtualization">documentation</a> section.
    </p>
</ActionDescription>




<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid TValue="WarehouseInventoryData" IdMapping="ItemID" AllowSorting=true AllowMultiSorting=true ParentIdMapping="ParentItem" Height="312" TreeColumnIndex="1" EnableVirtualization=true EnableVirtualMaskRow=true HasChildMapping="isParent" Toolbar="@(new List<string>() { "ExpandAll", "CollapseAll" })" RowHeight="38">
                <SfDataManager Url="https://blazor.syncfusion.com/services/development/api/TreeGridWebApi" Adaptor="Adaptors.WebApiAdaptor" CrossDomain="true"> </SfDataManager>
                <TreeGridColumns>
                    <TreeGridColumn Field="ItemID" HeaderText="ItemID" Width="100" IsPrimaryKey=true Visible=false></TreeGridColumn>
                    <TreeGridColumn Field="WarehouseID" HeaderText="ID" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="ItemName" HeaderText="Name" Width="200" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                    <TreeGridColumn Field="ItemType" HeaderText="Type" Width="100" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                    <TreeGridColumn Field="Location" HeaderText="Location" Width="130"></TreeGridColumn>
                    <TreeGridColumn Field="Stock" HeaderText="Stock" Width="80" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Format="N0"></TreeGridColumn>
                    <TreeGridColumn Field="Quantity" HeaderText="Quantity" Width="100" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Format="N0"></TreeGridColumn>
                    <TreeGridColumn Field="Price" HeaderText="Price" Width="110" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Format="C2"></TreeGridColumn>
                    <TreeGridColumn Field="LastUpdated" HeaderText="Last Updated" Width="135" Format="dd/MM/yyyy" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Alert" HeaderText="Alert" Width="110"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>



@code {
    public class WarehouseInventoryData
    {
        public int ItemID { get; set; }
        public string ItemName { get; set; }
        public string ItemType { get; set; }
        public string Location { get; set; }
        public string BinLocation { get; set; }
        public int Quantity { get; set; }
        public int Stock { get; set; }
        public decimal? Price { get; set; }
        public string Alert { get; set; } = "";
        public int? ParentItem { get; set; }
        public bool? isParent { get; set; }
        public DateTime DateAdded { get; set; }
        public DateTime LastUpdated { get; set; }
        public decimal Sales { get; set; }
        public string WarehouseID { get; set; } = "";
        public string OfferPercentage { get; set; } = "";
    }
}
