@page "/tree-grid/reorder"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using EmployeeData
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the reordering functionality in Tree Grid. Columns can be rearranged by dragging and dropping the headers.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        Column reordering allows changing the sequence of columns to suit preferences, and it is enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowReordering">AllowReordering</a> property to <b>true</b>.
    </p>

    <p>
        In this demo, columns can be reordered by dragging and dropping the column header from one index to another. This feature allows you to dynamically rearrange the column layout, providing flexibility in how data is presented in the Tree Grid.
    </p>

    <p>
        More information about column reordering can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/columns/column-reorder">documentation</a> section.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeGridData" IdMapping="EmployeeID" ParentIdMapping="ParentId" TreeColumnIndex="1" AllowPaging="true" AllowReordering="true" Height="312" AllowSorting="true" AllowFiltering="true">
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="EmpID" HeaderText="Employee ID" Width="150" TextAlign="TextAlign.Right" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                    <TreeGridColumn Field="FullName" HeaderText="Full Name" Width="245"></TreeGridColumn>
                    <TreeGridColumn Field="Designation" HeaderText="Designation" Width="200"></TreeGridColumn>
                    <TreeGridColumn Field="JoinedDate" HeaderText="Joined Date" Width="160" Format="dd/MM/yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Country" HeaderText="Country" Width="160" ></TreeGridColumn>
                    <TreeGridColumn Field="Availability" HeaderText="Availability" Width="140" ></TreeGridColumn>
                    <TreeGridColumn Field="Email" HeaderText="Email" Width="240">
                        <Template>
                            @{
                                var e = (context as EmployeeData)!;
                            }
                            <a href="mailto:@e.Email" class="link" onclick="event.preventDefault();">@e.Email</a>
                        </Template>
                    </TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code {

    private List<EmployeeData> TreeGridData { get; set; } = new List<EmployeeData>();

    protected override void OnInitialized()
    {
        TreeGridData = EmployeeData.GetTemplateData().Take(110).ToList();
    }
}