@page "/tree-grid/resizing"
@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using System.ComponentModel
@using System.Collections.ObjectModel
@*Hidden:Lines*@
@using TicketData
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
    <p>
        This sample demonstrates the Tree Grid with column resizing feature. The columns can be adjusted to fit content by dragging the edges of the header.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        Column resizing allows adjusting the width of columns to improve readability and layout, and this functionality is enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowResizing">AllowResizing</a> property to <b>true</b>.
    </p>

    <p>
        In this demo, columns are resized by clicking and dragging the right edge of the header, allowing flexible adjustment of column widths.
    </p>

    <p>
        More information about column resizing can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/columns/column-resizing">documentation</a> section.
    </p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeGridData" IdMapping="TicketID" ParentIdMapping="ParentTicketID" Height="328" TreeColumnIndex="1" AllowPaging="true" AllowResizing="true" AllowSorting="true" AllowFiltering="true">
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TicketID" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Ticket ID" Width="120" MinWidth="70" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn ClipMode="ClipMode.EllipsisWithTooltip" Field="Description" HeaderText="Description" Width="400" MinWidth="70"></TreeGridColumn>
                    <TreeGridColumn Field="Category" HeaderText="Category" ClipMode="ClipMode.EllipsisWithTooltip" Width="135" MinWidth="70"></TreeGridColumn>
                    <TreeGridColumn Field="CustomerName" HeaderText="Customer Name" Width="170" MinWidth="70" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="135" MinWidth="70" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                    <TreeGridColumn Field="Status" HeaderText="Status" Width="125" MinWidth="70" ClipMode="ClipMode.EllipsisWithTooltip" TextAlign="TextAlign.Left"></TreeGridColumn>
                    <TreeGridColumn Field="CreatedDate" HeaderText="Created Date" Width="150" MinWidth="70" Format="MM/dd/yyyy" Type="ColumnType.Date" ClipMode="ClipMode.EllipsisWithTooltip" />
                    <TreeGridColumn Field="DueDate" HeaderText="Due Date" Width="130" Format="MM/dd/yyyy" ClipMode="ClipMode.EllipsisWithTooltip" MinWidth="70" Type="ColumnType.Date" />
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>
@code {
    private List<SupportTicketData> TreeGridData { get; set; } = new List<SupportTicketData>();
    protected override void OnInitialized()
    {
        TreeGridData = SupportTicketData.GetSupportTickets();
    }
}