@page "/tree-grid/row-drag-and-drop"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using TaskData
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates row drag-and-drop between two Tree Grids, enabling selected records to be moved from one Tree Grid to another while preserving hierarchy and data values.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        Row drag-and-drop is enabled by setting the Tree Grid's <a aria-label="Navigate to the Allow Row Drag And Drop property reference for Tree Grid component" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowRowDragAndDrop">AllowRowDragAndDrop</a> property to <b>true</b> and configuring the <a aria-label="Navigate to the class reference for Tree Grid row drop settings" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridRowDropSettings.html">TreeGridRowDropSettings</a> with the <a aria-label="Navigate to the TargetID property reference for Tree Grid row drop settings" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridRowDropSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridRowDropSettings_TargetID">TargetID</a> property of the destination Tree Grid.
    </p>
    <p>
        In this demo, multiple rows can be selected and dragged between the two Tree Grids in either direction and all the columns are displayed in both Tree Grids.
    </p>
    <p>
        More information about row drag and drop can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/rows/row-drag-and-drop#drag-and-drop-to-another-tree-grid">documentation</a> section.
    </p>
</ActionDescription>

<div class="col-lg-6 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid ID="Grid" DataSource="@DragData" IdMapping="TaskID" ParentIdMapping="ParentID" Height="400" AllowRowDragAndDrop="true" AllowSelection="true" AllowSorting="true" AllowFiltering="true" TreeColumnIndex="1">
                <TreeGridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></TreeGridSelectionSettings>
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridRowDropSettings TargetID="DestGrid"></TreeGridRowDropSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field=@nameof(TaskData.TaskID) HeaderText="Task ID" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(TaskData.TaskName) ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Task Name" Width="160"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(TaskData.Progress) HeaderText="Progress" Width="100"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

<div class="col-lg-1 control-section">
    <div class="content-wrapper">
        <div class="row">
        </div>
    </div>
</div>
<div class="col-lg-5 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid ID="DestGrid" DataSource="@SecondGrid" IdMapping="TaskID" ParentIdMapping="ParentID" AllowPaging="true" AllowRowDragAndDrop="true" AllowSelection="true" TreeColumnIndex="1">
                <TreeGridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></TreeGridSelectionSettings>
                <TreeGridPageSettings PageSize="1" ></TreeGridPageSettings>
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridRowDropSettings TargetID="Grid"></TreeGridRowDropSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field=@nameof(TaskData.TaskID) HeaderText="Task ID" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(TaskData.TaskName) ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Task Name" Width="160"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(TaskData.Progress) HeaderText="Progress" Width="100"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>


@code {

    private List<TaskData> DragData { get; set; } = new List<TaskData>();

    private List<TaskData> SecondGrid { get; set; } = new List<TaskData>();

    protected override void OnInitialized()
    {
        DragData = TaskData.GetTree().Take(49).ToList();
    }
}
