@page "/tree-grid/row-drag-and-drop"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using ej2_blazor_wrapdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the Tree Grid component with the row drag and drop functionality. To move rows, drag and drop them between TreeGrids.</p>
</SampleDescription>
<ActionDescription>
    <p>By enabling the <a aria-label="Navigate to the Allow Row Drag And Drop property reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowRowDragAndDrop'>AllowRowDragAndDrop</a> property, Tree Grid rows can be dragged and dropped to another Tree Grid. The <a aria-label="Navigate to the class reference for Tree Grid rowdrop settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridRowDropSettings.html'>TreeGridRowDropSettings</a> component's <a aria-label="Navigate to the TargetID property reference for tree grid row drop settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridRowDropSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridRowDropSettings_TargetID'>TargetID</a> property can be used to specify the target on which the Tree Grid rows should be dropped.</p>
    <p>To select the rows, enable the <a aria-label="Navigate to the documentation for selection in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/selection'>Selection</a> feature. Selecting multiple rows within the Tree Grid is as simple as clicking and dragging them.</p>
    <p>The Row drag and drop feature is enabled in both TreeGrids in this demo. Drag and drop rows between TreeGrids by selecting the rows and dragging them to the adjacent TreeGrid.</p>
    <p>More information about row drag and drop feature can be found in this <a aria-label="Navigate to the documentation for row drag and drop in tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/rows/row-drag-and-drop'>documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-6 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid ID="Grid" DataSource="@DragData" IdMapping="TaskId" ParentIdMapping="ParentId" AllowRowDragAndDrop="true" AllowSelection="true" AllowPaging="true" TreeColumnIndex="1">
                <TreeGridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></TreeGridSelectionSettings>
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridRowDropSettings TargetID="DestGrid"></TreeGridRowDropSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field=@nameof(WrapData.TaskId) HeaderText="Task ID" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(WrapData.TaskName) HeaderText="Task Name" Width="260"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(WrapData.Progress) HeaderText="Progress" Width="120"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

<div class="col-lg-1 control-section">
    <div class="content-wrapper">
        <div class="row">
        </div>
    </div>
</div>
<div class="col-lg-5 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid ID="DestGrid" DataSource="@SecondGrid" IdMapping="TaskId" ParentIdMapping="ParentId" AllowRowDragAndDrop="true" AllowSelection="true" AllowPaging="true" TreeColumnIndex="1">
                <TreeGridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></TreeGridSelectionSettings>
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridRowDropSettings TargetID="Grid"></TreeGridRowDropSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field=@nameof(WrapData.TaskId) HeaderText="Task ID" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(WrapData.TaskName) HeaderText="Task Name" Width="160"></TreeGridColumn>
                    <TreeGridColumn Field=@nameof(WrapData.Progress) HeaderText="Progress" Width="100"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>


@code{

    private List<WrapData> DragData { get; set; }

    private List<WrapData> SecondGrid { get; set; } = new List<WrapData>();



    protected override void OnInitialized()
    {

        DragData = WrapData.GetWrapData();
    }
}
