@page "/tree-grid/row-hover"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using TreeShipmentdata
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the Tree Grid with row hover enabled. When you hover over a row, the current row is highlighted to improve readability and maintain focus.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        Row hover is enabled by setting the Tree Grid's <a aria-label="Navigate to the EnableHover property reference for Tree Grid rows" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_EnableHover">EnableHover</a> property to <b>true</b>.
    </p>
    <p>
        In this demo, the row under the pointer is visually highlighted and provides clear visual feedback, helping maintain context while working with records.
    </p>
    <p>
        More information about row hover can be found in this
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/rows/rows">documentation</a> section.
    </p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeGridData" IdMapping="ID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowSorting="true" AllowFiltering="true" EnableHover="true" Height="312" Toolbar="@(new List<string>() { "Search" })">
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="ID" HeaderText="Order Name" IsPrimaryKey="true" Visible="false" Width="240"></TreeGridColumn>
                    <TreeGridColumn Field="Name" HeaderText="Order Name" Width="240"></TreeGridColumn>
                    <TreeGridColumn Field="Category" HeaderText="Category" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="OrderDate" HeaderText="Order Date" Format="d" Type=ColumnType.Date Width="135" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="ShippedDate" HeaderText=" Shipped Date" Format="d" Type=ColumnType.Date Width="145" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Units" HeaderText="Units" Width="90" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Price" HeaderText="Price" Format="C0" Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code {

    private List<ShipmentData> TreeGridData { get; set; } = new List<ShipmentData>();

    protected override void OnInitialized()
    {
        TreeGridData = ShipmentData.GetShipmentData().ToList();
    }
}
