@page "/tree-grid/search"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows how to use the Tree Grid searching feature. To search the tree grid records, use the search box in the toolbar.</p>
</SampleDescription>
<ActionDescription>
    <p>
        Tree Grid allows you to search its content by using the <a aria-label="Navigate to the Search Async method reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_SearchAsync_System_String_'>SearchAsync</a> method and the search key as a parameter. Tree Grid
        also supports following search modes, which can be configured using <a aria-label="Navigate to the HierarchyMode property reference for tree grid search settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridSearchSettings.html#Syncfusion_Blazor_TreeGrid_TreeGridSearchSettings_HierarchyMode'>TreeGridSearchSettings.HierarchyMode</a> property.
    </p>
<ul>
    <li><code>Parent</code> - This is the default search hierarchy mode in Tree Grid. The searched records appear
        alongside their parent records. If none of the searched records have a parent record, only the searched record
        itself is displayed.</li>
    <li><code>Child</code> - The searched records are shown alongside their child records. If the searched records have
        no child records, only the searched records are displayed.</li>
    <li><code>Both</code> - The searched records are shown alongside their parent and child records. If there are no
        parent or child records in the searched records, only the searched records will be displayed.</li>
    <li><code>None</code> - Only the actual searched records are displayed.</li>
</ul>
<p>More information can be found in this <a aria-label="Navigate to the documentation for searching in tree grid component" target='_blank'
        href='https://blazor.syncfusion.com/documentation/treegrid/searching'>documentation</a> section.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">

            <SfTreeGrid DataSource="TreeData" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" Height="312" Toolbar="@(new List<string>() { "Search" })">
                <TreeGridPageSettings PageSize="10"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="80" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="145"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="100"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="110"></TreeGridColumn>

                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<SelfReferenceData> TreeData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeData = SelfReferenceData.GetTree().Take(12).ToList();
    }
}
