@page "/tree-grid/sorting"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@using BlazorDemos
@using ej2_blazor_shipmentdata
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the Tree Grid multi sorting feature. To sort two or more columns, hold the CTRL key and click on the column header.</p>
</SampleDescription>
<ActionDescription>
    <p>Sorting can be enabled by using <a aria-label="Navigate to the AllowSorting property reference in the Tree Grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowSorting'>AllowSorting</a> property.</p>
    <p>By default, the multi-sorting feature is enabled in Tree Grid. To sort multiple columns, hold the CTRL key, and then click on the column header. To clear sort for a column, hold the SHIFT key, and then click on the column header.</p>
    <p>More information on the sorting can be found in this <a aria-label="Navigate to documentation for sorting in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/sorting/'>documentation section</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeGridData" Height="312" IdMapping="ID" ParentIdMapping="ParentID" TreeColumnIndex="0" AllowSorting="true">
                <TreeGridSortSettings>
                    <TreeGridSortColumns>
                        <TreeGridSortColumn Field="Category" Direction="Syncfusion.Blazor.Grids.SortDirection.Ascending"></TreeGridSortColumn>
                        <TreeGridSortColumn Field="Name" Direction="Syncfusion.Blazor.Grids.SortDirection.Ascending"></TreeGridSortColumn>
                    </TreeGridSortColumns>
                </TreeGridSortSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="Name" HeaderText="Order Name" Width="240"></TreeGridColumn>
                    <TreeGridColumn Field="Category" HeaderText="Category" Width="150"></TreeGridColumn>
                    <TreeGridColumn Field="OrderDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="145" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="ShippedDate" HeaderText=" Shipped Date" Format="d" Type=ColumnType.Date Width="145" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Units" HeaderText="Units" Width="100" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Price" HeaderText="Price" Format="C0" Width="120" TextAlign="TextAlign.Right"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>

        </div>
    </div>
</div>

@code{

    private List<ShipmentData> TreeGridData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeGridData = ShipmentData.GetShipmentData().ToList();
    }
}
