@page "/tree-grid/sticky-header"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the Tree Grid component with the sticky header feature. While scrolling the demo page, the Tree Grid header is fixed at the top of its parent element.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The Tree Grid headers can be fixed while scrolling the record vertically. This is a useful feature for large datasets as it allows users to easily understand the context of the data being displayed without losing sight of the column headers. To implement this set the <code>EnableStickyHeader</code> property to <b>true</b>.
    </p>
    <p>More information on the sticky header can be found in  <a aria-label="Navigate to the documentation for searching in tree grid component" target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="treestickyheader">
                <SfTreeGrid @ref="TreeGrid" AllowSorting=true DataSource="@AssetData" IdMapping="AssetID" ParentIdMapping="ParentID" TreeColumnIndex="1" EnableStickyHeader="true" GridLines="GridLine.Both">
                    <TreeGridColumns>
                        <TreeGridColumn Field="AssetID" HeaderText="Asset ID" Width="110" IsPrimaryKey="true" TextAlign="TextAlign.Right"></TreeGridColumn>
                        <TreeGridColumn Field="AssetName" HeaderText="Asset Name" Width="225" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                        <TreeGridColumn Field="SerialNumber" HeaderText="Serial Number" Width="125" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                        <TreeGridColumn Field="AssetType" HeaderText="Category" Width="90" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                        <TreeGridColumn Field="Status" HeaderText="Status" Width="88" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                        <TreeGridColumn Field="PurchaseDate" HeaderText="Purchase Date" Format="dd/MM/yyyy" Type="ColumnType.Date" Width="126" TextAlign="TextAlign.Right" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                        <TreeGridColumn Field="WarrantyEndDate" HeaderText="Warranty Expire Date" Format="dd/MM/yyyy" Type="ColumnType.Date" Width="173" TextAlign="TextAlign.Right" ClipMode="ClipMode.EllipsisWithTooltip"></TreeGridColumn>
                    </TreeGridColumns>
                </SfTreeGrid>
            </div>
        </div>
    </div>
</div>
@*Hidden:Lines*@
<style>
    .treestickyheader .e-headertext {
        font-weight: bold;
    }
    .treestickyheader .e-gridheader {
        position: sticky !important;
        top: 0 !important;
        z-index: 10 !important;
    }
</style>
@*End:Hidden*@
@code {

    private SfTreeGrid<Asset> TreeGrid;
    private List<Asset> AssetData { get; set; }

    protected override void OnInitialized()
    {
        AssetData = new List<Asset>
        {
            // Development Department
            new Asset { AssetID = "AST001", ParentID = null, AssetName = "Development Department", AssetType = "", Status = "", PurchaseDate = "", WarrantyEndDate = "", SerialNumber = "" },
            new Asset { AssetID = "AST002", ParentID = "AST001", AssetName = "Dell XPS 13", AssetType = "Laptop", Status = "In Use", PurchaseDate = "10/02/2025", WarrantyEndDate = "10/02/2027", SerialNumber = "DXPS13-001" },
            new Asset { AssetID = "AST003", ParentID = "AST001", AssetName = "MacBook Pro 16", AssetType = "Laptop", Status = "In Use", PurchaseDate = "15/02/2025", WarrantyEndDate = "15/02/2027", SerialNumber = "MBP16-002" },
            new Asset { AssetID = "AST004", ParentID = "AST001", AssetName = "Lenovo ThinkPad X1", AssetType = "Laptop", Status = "Suspended", PurchaseDate = "20/02/2025", WarrantyEndDate = "20/02/2027", SerialNumber = "LTPX1-003" },
            new Asset { AssetID = "AST005", ParentID = "AST001", AssetName = "Dell OptiPlex 7080", AssetType = "Desktop", Status = "In Use", PurchaseDate = "05/03/2025", WarrantyEndDate = "05/03/2027", SerialNumber = "DOP7080-004" },
            new Asset { AssetID = "AST006", ParentID = "AST001", AssetName = "Anker PowerPort Charger", AssetType = "Charger", Status = "In Use", PurchaseDate = "20/04/2025", WarrantyEndDate = "20/04/2027", SerialNumber = "APPC-004" },
            new Asset { AssetID = "AST007", ParentID = "AST001", AssetName = "iMac 27-inch", AssetType = "Desktop", Status = "In Use", PurchaseDate = "10/03/2025", WarrantyEndDate = "10/03/2027", SerialNumber = "IMAC27-005" },

            // HR Department
            new Asset { AssetID = "AST008", ParentID = null, AssetName = "HR Department", AssetType = "", Status = "", PurchaseDate = "", WarrantyEndDate = "", SerialNumber = "" },
            new Asset { AssetID = "AST009", ParentID = "AST008", AssetName = "HP Pavilion 15", AssetType = "Laptop", Status = "In Use", PurchaseDate = "05/04/2025", WarrantyEndDate = "05/04/2027", SerialNumber = "HPP15-006" },
            new Asset { AssetID = "AST010", ParentID = "AST008", AssetName = "Logitech MX Master 3", AssetType = "Mouse", Status = "In Use", PurchaseDate = "10/04/2025", WarrantyEndDate = "10/04/2027", SerialNumber = "LMXM3-007" },
            new Asset { AssetID = "AST011", ParentID = "AST008", AssetName = "Anker PowerPort Charger", AssetType = "Charger", Status = "In Use", PurchaseDate = "20/04/2025", WarrantyEndDate = "20/04/2027", SerialNumber = "APPC-006" },
            new Asset { AssetID = "AST012", ParentID = "AST008", AssetName = "MacBook Pro 16", AssetType = "Laptop", Status = "In Use", PurchaseDate = "15/02/2025", WarrantyEndDate = "15/02/2027", SerialNumber = "MBP16-004" },
            new Asset { AssetID = "AST013", ParentID = "AST008", AssetName = "Canon Pixma TR4520", AssetType = "Printer", Status = "In Use", PurchaseDate = "05/05/2025", WarrantyEndDate = "05/05/2027", SerialNumber = "CPTR4520-009" },

            // Finance Department
            new Asset { AssetID = "AST014", ParentID = null, AssetName = "Finance Department", AssetType = "", Status = "", PurchaseDate = "", WarrantyEndDate = "", SerialNumber = "" },
            new Asset { AssetID = "AST015", ParentID = "AST014", AssetName = "Microsoft Ergonomic Mouse", AssetType = "Mouse", Status = "In Use", PurchaseDate = "05/06/2025", WarrantyEndDate = "05/06/2027", SerialNumber = "MEM-010" },
            new Asset { AssetID = "AST016", ParentID = "AST014", AssetName = "Belkin Boost Charger", AssetType = "Charger", Status = "In Use", PurchaseDate = "10/06/2025", WarrantyEndDate = "10/06/2027", SerialNumber = "BBC-011" },
            new Asset { AssetID = "AST017", ParentID = "AST014", AssetName = "HP EliteBook 850", AssetType = "Laptop", Status = "In Use", PurchaseDate = "20/06/2025", WarrantyEndDate = "20/06/2027", SerialNumber = "HPEB850-012" },
            new Asset { AssetID = "AST018", ParentID = "AST014", AssetName = "Lenovo Yoga 7i", AssetType = "Laptop", Status = "In Use", PurchaseDate = "25/06/2025", WarrantyEndDate = "25/06/2027", SerialNumber = "LY7I-023" },

            // Support Department
            new Asset { AssetID = "AST019", ParentID = null, AssetName = "Support Department", AssetType = "", Status = "", PurchaseDate = "", WarrantyEndDate = "", SerialNumber = "" },
            new Asset { AssetID = "AST020", ParentID = "AST019", AssetName = "Dell Latitude 7420", AssetType = "Laptop", Status = "In Use", PurchaseDate = "05/08/2025", WarrantyEndDate = "05/07/2027", SerialNumber = "DL7420-013" },
            new Asset { AssetID = "AST021", ParentID = "AST019", AssetName = "HP EliteBook 840", AssetType = "Laptop", Status = "In Use", PurchaseDate = "10/08/2025", WarrantyEndDate = "10/07/2027", SerialNumber = "HPEB840-014" },
            new Asset { AssetID = "AST022", ParentID = "AST019", AssetName = "Lenovo ThinkPad E14", AssetType = "Laptop", Status = "Suspended", PurchaseDate = "15/08/2025", WarrantyEndDate = "15/07/2027", SerialNumber = "LTPE14-015" },
            new Asset { AssetID = "AST023", ParentID = "AST019", AssetName = "Anker PowerPort Charger", AssetType = "Charger", Status = "In Use", PurchaseDate = "20/04/2025", WarrantyEndDate = "20/04/2027", SerialNumber = "APPC-007" },
            new Asset { AssetID = "AST024", ParentID = "AST019", AssetName = "Zendesk Support Suite", AssetType = "Software", Status = "Active", PurchaseDate = "20/08/2025", WarrantyEndDate = "20/07/2027", SerialNumber = "ZSS-016" },

            // Network Department
            new Asset { AssetID = "AST025", ParentID = null, AssetName = "Network Department", AssetType = "", Status = "", PurchaseDate = "", WarrantyEndDate = "", SerialNumber = "" },
            new Asset { AssetID = "AST026", ParentID = "AST025", AssetName = "Cisco Catalyst 9200", AssetType = "Switch", Status = "In Use", PurchaseDate = "05/05/2025", WarrantyEndDate = "05/07/2027", SerialNumber = "CC9200-017" },
            new Asset { AssetID = "AST027", ParentID = "AST025", AssetName = "Aruba 2930F", AssetType = "Switch", Status = "In Use", PurchaseDate = "10/05/2025", WarrantyEndDate = "10/07/2027", SerialNumber = "A2930F-018" },
            new Asset { AssetID = "AST028", ParentID = "AST025", AssetName = "Fortinet FortiGate 60F", AssetType = "Firewall", Status = "In Use", PurchaseDate = "15/05/2025", WarrantyEndDate = "15/07/2027", SerialNumber = "FF60F-019" },
            new Asset { AssetID = "AST029", ParentID = "AST025", AssetName = "Netgear Nighthawk Router", AssetType = "Router", Status = "In Use", PurchaseDate = "20/05/2025", WarrantyEndDate = "20/07/2027", SerialNumber = "NNR-022" },
            new Asset { AssetID = "AST030", ParentID = "AST025", AssetName = "Lenovo Yoga 7i", AssetType = "Laptop", Status = "In Use", PurchaseDate = "25/06/2025", WarrantyEndDate = "25/06/2027", SerialNumber = "LY7I-025" },

            // Front Office Department
            new Asset { AssetID = "AST031", ParentID = null, AssetName = "Front Office Department", AssetType = "", Status = "", PurchaseDate = "", WarrantyEndDate = "", SerialNumber = "" },
            new Asset { AssetID = "AST032", ParentID = "AST031", AssetName = "Dell OptiPlex 3080", AssetType = "Desktop", Status = "In Use", PurchaseDate = "15/06/2025", WarrantyEndDate = "15/07/2027", SerialNumber = "DOP3080-020" },
            new Asset { AssetID = "AST033", ParentID = "AST031", AssetName = "HP LaserJet Pro", AssetType = "Printer", Status = "In Use", PurchaseDate = "20/06/2025", WarrantyEndDate = "20/07/2027", SerialNumber = "HPLJP-021" },
            new Asset { AssetID = "AST034", ParentID = "AST031", AssetName = "Microsoft Surface Laptop", AssetType = "Laptop", Status = "In Use", PurchaseDate = "25/06/2025", WarrantyEndDate = "25/07/2027", SerialNumber = "MSL-023" },
            new Asset { AssetID = "AST035", ParentID = "AST031", AssetName = "Anker PowerPort Charger", AssetType = "Charger", Status = "In Use", PurchaseDate = "20/04/2025", WarrantyEndDate = "20/04/2027", SerialNumber = "APPC-008" },
            new Asset { AssetID = "AST036", ParentID = "AST031", AssetName = "Logitech Wireless Mouse", AssetType = "Mouse", Status = "In Use", PurchaseDate = "30/06/2025", WarrantyEndDate = "30/07/2027", SerialNumber = "LWM-024" }
        };
    }

    public class Asset
    {
        public string AssetID { get; set; }
        public string ParentID { get; set; }
        public string AssetName { get; set; }
        public string AssetType { get; set; }
        public string Status { get; set; }
        public string PurchaseDate { get; set; }
        public string WarrantyEndDate { get; set; }
        public string SerialNumber { get; set; }
    }
}

