@page "/tree-grid/row-and-column-spanning"
@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@using System.ComponentModel
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using System.Collections.ObjectModel
@*Hidden:Lines*@
@using ProjectTaskData
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
    <p>
        The Tree Grid supports automatic cell merging, allowing adjacent cells with identical values to be combined horizontally, vertically, or in both directions. The provided options help create a cleaner and more readable layout.
    </p>
</SampleDescription>

<ActionDescription>

    <p>This sample demonstrates the options supporting cell merging in the Tree Grid. These options are enabled by using the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.html">AutoSpan</a> property of the Tree Grid. The <code>AutoSpan</code> property is bound to a dropdown, which lists options to select a cell merging mode and combine adjacent cells based on the selected mode.</p>
    <p>By default, the dropdown is set to <code>AutoSpanMode.HorizontalAndVertical</code>, which merges identical cells across both rows and columns for improved readability. Selecting a different <code>AutoSpanMode</code> option applies the corresponding cell merge behavior. To restore the original Tree Grid layout, set the dropdown to <code>AutoSpanMode.None</code>, which disables cell merging.</p>
    <p><b>Available Modes:</b></p>
    <ul>
        <li><b>None</b> - No merging applied (default)</li>
        <li><b>Row</b> - Merges identical values horizontally across columns within the same row</li>
        <li><b>Column</b> - Merges identical values vertically down the same column</li>
        <li><b>HorizontalAndVertical</b> - Applies both horizontal and vertical cell merging simultaneously</li>
    </ul>

    <p>
        More information about row and column auto spanning can be found in the
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/rows/rows">documentation</a> section.
    </p>
</ActionDescription>


<div class="form-row alt">
    <div class="left">
        <label class="e-option">Select AutoSpan Mode:</label>
        <SfDropDownList TValue="string" TItem="string"
                        DataSource="@modes"
                        Value="@selectedMode"
                        Width="auto">
            <DropDownListEvents TItem="string" ValueChange="OnModeChanged" TValue="string"></DropDownListEvents>
        </SfDropDownList>
    </div>
</div>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid TValue="ProjectTask" @ref="TreeGridRef" DataSource="@TreeGridData" ChildMapping="Children" TreeColumnIndex="0" Height="400" AllowSelection="false" GridLines="GridLine.Both" ShowColumnChooser="true" AutoSpan="@currentMode">
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field=@nameof(ProjectTask.ActivityName) HeaderText="<b>Phase Name</b>" Freeze="FreezeDirection.Left" IsFrozen="true" DisableHtmlEncode="false" ClipMode="ClipMode.EllipsisWithTooltip" Width="250"></TreeGridColumn>
                    <TreeGridColumn HeaderText="<b>Schedule</b>" DisableHtmlEncode="false">
                        <TreeGridColumns>
                            <TreeGridColumn Field=@nameof(ProjectTask.StartDate) HeaderText="<b>Start Date</b>" DisableHtmlEncode="false" Type="ColumnType.Date" Format="MM/dd/yyyy" Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                            <TreeGridColumn Field=@nameof(ProjectTask.EndDate) HeaderText="<b>End Date<b>" DisableHtmlEncode="false" Type="ColumnType.Date" Format="MM/dd/yyyy" Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                        </TreeGridColumns>
                    </TreeGridColumn>
                    <TreeGridColumn Field=@nameof(ProjectTask.Status) HeaderText="<b>Status</b>" TextAlign="TextAlign.Center" DisableHtmlEncode="false" Width="140"></TreeGridColumn>
                    <TreeGridColumn HeaderText="<b>Compliance</b>" DisableHtmlEncode="false" TextAlign="TextAlign.Center">
                        <TreeGridColumns>
                            <TreeGridColumn Field=@nameof(ProjectTask.PermitStatus) HeaderText="<b>Permit Status</b>" DisableHtmlEncode="false" Width="160" TextAlign="TextAlign.Center"></TreeGridColumn>
                            <TreeGridColumn Field=@nameof(ProjectTask.InspectionDate) HeaderText="<b>Inspection Date</b>" DisableHtmlEncode="false" ClipMode="ClipMode.EllipsisWithTooltip" Width="150" Type="ColumnType.Date" Format="MM/dd/yyyy" TextAlign="TextAlign.Center"></TreeGridColumn>
                            <TreeGridColumn Field=@nameof(ProjectTask.InspectionStatus) HeaderText="<b>Inspection Status</b>" DisableHtmlEncode="false" TextAlign="TextAlign.Center" ClipMode="ClipMode.EllipsisWithTooltip" Width="150"></TreeGridColumn>
                            <TreeGridColumn Field=@nameof(ProjectTask.PunchListStatus) HeaderText="<b>Punch List Status</b>" DisableHtmlEncode="false" TextAlign="TextAlign.Center" ClipMode="ClipMode.EllipsisWithTooltip" Width="150"></TreeGridColumn>
                        </TreeGridColumns>
                    </TreeGridColumn>
                    <TreeGridColumn HeaderText="<b>Personnel</b>" DisableHtmlEncode="false">
                        <TreeGridColumns>
                            <TreeGridColumn Field=@nameof(ProjectTask.Supervisor) HeaderText="<b>Supervisor</b>" DisableHtmlEncode="false" Width="180">
                            </TreeGridColumn>
                            <TreeGridColumn Field=@nameof(ProjectTask.Team) HeaderText="<b>Crew</b>" DisableHtmlEncode="false" Width="200"></TreeGridColumn>
                        </TreeGridColumns>
                    </TreeGridColumn>
                    <TreeGridColumn HeaderText="<b>Materials</b>" DisableHtmlEncode="false" TextAlign="TextAlign.Center">
                        <TreeGridColumns>
                            <TreeGridColumn Field=@nameof(ProjectTask.MaterialUsed) HeaderText="<b>Materials Used</b>" DisableHtmlEncode="false" Width="180"></TreeGridColumn>
                            <TreeGridColumn Field=@nameof(ProjectTask.MaterialCost) HeaderText="<b>Material Cost</b>" DisableHtmlEncode="false" Width="140" TextAlign="TextAlign.Right" Format="C0"></TreeGridColumn>
                        </TreeGridColumns>
                    </TreeGridColumn>
                    <TreeGridColumn HeaderText="<b>Cost Summary</b>" DisableHtmlEncode="false" TextAlign="TextAlign.Center">
                        <TreeGridColumns>
                            <TreeGridColumn Field=@nameof(ProjectTask.TotalBudget) HeaderText="<b>Planned Budget</b>" DisableHtmlEncode="false" Width="140" TextAlign="TextAlign.Right" Format="C0" AutoSpan="AutoSpanMode.None"></TreeGridColumn>
                            <TreeGridColumn Field=@nameof(ProjectTask.PaidToDate) HeaderText="<b>Actual Spend</b>" DisableHtmlEncode="false" Width="140" TextAlign="TextAlign.Right" ClipMode="ClipMode.EllipsisWithTooltip" Format="C0" AutoSpan="AutoSpanMode.None"></TreeGridColumn>
                        </TreeGridColumns>
                    </TreeGridColumn>

                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>
@*Hidden:Lines*@
<style>

    .control-section {
        padding-top: 0;
    }

    .form-row.alt {
        display: flex;
        justify-content: space-between; /* Push items to opposite ends */
        align-items: center; /* Vertically align them */
        height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%
    }

        .form-row.alt .left {
            display: flex;
            gap: 10px; /* Space between label and input */
            align-items: center;
        }

        .form-row.alt label {
            margin-bottom: 0px;
        }
</style>
@*End:Hidden*@
@code {
    public SfTreeGrid<ProjectTask> TreeGridRef { get; set; }
    public List<ProjectTask> TreeGridData { get; set; } = new();
    protected override void OnInitialized()
    {
        TreeGridData = ProjectTask.GetRowSpanData();
    }
    private AutoSpanMode currentMode = AutoSpanMode.HorizontalAndVertical;
    private string selectedMode = "Horizontal and Vertical";
    private List<string> modes = new() { "None", "Row", "Column", "Horizontal and Vertical" };
    private void OnModeChanged(ChangeEventArgs<string, string> args)
    {
        selectedMode = args?.Value ?? "None";
        currentMode = selectedMode switch
        {
            "Row" => AutoSpanMode.Row,
            "Column" => AutoSpanMode.Column,
            "Horizontal and Vertical" => AutoSpanMode.HorizontalAndVertical,
            _ => AutoSpanMode.None
        };
    }
}