@page "/tree-grid/columnchooser"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids

@*Hidden:Lines*@
@using TicketData
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the column chooser functionality in Tree Grid. Click the column chooser icon in the toolbar to open the column chooser and select columns to hide or show from the checkbox list.</p>
    
    <p>The column chooser allows showing or hiding Tree Grid columns dynamically, and it is enabled by setting the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ShowColumnChooser">ShowColumnChooser</a> property to <b>true</b>. Columns can also be excluded from appearing in the column chooser by setting the <code>ShowInColumnChooser</code> property of the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridColumn.html">TreeGridColumn</a> component to <b>false</b>.</p>
    
    <p>In this demo, the column chooser is accessed through the toolbar and displays a list of columns with checkboxes for visibility toggling. The <b>"Description"</b> column is excluded from the chooser by setting its <code>ShowInColumnChooser</code> property to <b>false</b>.</p>
    
    <p>More information about the column chooser can be found in this <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/treegrid/columns/column-chooser">documentation</a> section.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid height="312" DataSource="@TreeData" IdMapping="TicketID" ParentIdMapping="ParentTicketID" TreeColumnIndex="1" ShowColumnChooser="true" Toolbar="@(new List<string>() { "ColumnChooser" })" AllowSorting="true" AllowFiltering="true">
                <TreeGridFilterSettings Type="Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TicketID" HeaderText="Ticket ID" Width="150" MinWidth="8" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Description" ShowInColumnChooser="false" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Description" Width="400" MinWidth="200"></TreeGridColumn>
                    <TreeGridColumn Field="Category" HeaderText="Category" Width="135" MinWidth="8"></TreeGridColumn>
                    <TreeGridColumn Field="CustomerName" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Customer Name" Width="170" MinWidth="120"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="135" MinWidth="8"></TreeGridColumn>
                    <TreeGridColumn Field="Status" HeaderText="Status" Width="125" MinWidth="8" TextAlign="TextAlign.Left"></TreeGridColumn>
                    <TreeGridColumn Field="CreatedDate" HeaderText="Created Date" Width="150" Format="MM/dd/yyyy" Type="ColumnType.Date" ClipMode="ClipMode.EllipsisWithTooltip" />
                    <TreeGridColumn Field="DueDate" HeaderText="Due Date" Width="130" Format="MM/dd/yyyy" Type="ColumnType.Date" />
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code {

    private List<SupportTicketData> TreeData { get; set; } = new List<SupportTicketData>();

    protected override void OnInitialized()
    {
        TreeData = SupportTicketData.GetSupportTickets();
    }
}
 