@page "/breadcrumb/keyboard-navigation"

@using Syncfusion.Blazor.Navigations

@inherits SampleBaseComponent

<SampleDescription>
    <p> This sample demonstrates the Keyboard Navigation functionalities of the <b>Breadcrumb</b> component.</p>
</SampleDescription>
<ActionDescription>
    <p>The <code>Breadcrumb</code> component can be interacted with keyboard navigation. Below key combinations can be
        used in Breadcrumb to initiate various actions.</p>
    <ul>
        <li>
            <b>Supported keys and user actions</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the demo.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - to navigate to the next item.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - to navigate to the previous item.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - to click the item.</span>
                </li>
            </ul>
        </li> 
    </ul>
    <p>More information about Blazor <code>Breadcrumb</code> component Keyboard navigations can be found in this <a
            target='_blank' href="https://blazor.syncfusion.com/documentation/breadcrumb/getting-started/">documentation
            section</a>.</p>
</ActionDescription>

<div class="control-section">
    <div class="content-wrapper">
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h5>Simple Breadcrumb</h5>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfBreadcrumb EnableNavigation="false"></SfBreadcrumb>
            </div>
        </div>
    </div>
</div>

@*Hidden:Lines*@
<style>
    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

    .content-wrapper div.row {
        padding: 15px 0px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-12,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    .tailwind .e-breadcrumb,
    .tailwind-dark .e-breadcrumb {
        margin-left: -12px;
    }

    .material .e-breadcrumb,
    .material-dark .e-breadcrumb {
        margin-left: -8px;
    }

    .fabric .e-breadcrumb,
    .fabric-dark .e-breadcrumb,
    .highcontrast .e-breadcrumb {
        margin-left: -4px;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>
@*End:Hidden*@