@page "/Layout/Default"

@using Syncfusion.EJ2.RazorComponents.Layouts
@using System;
@using System.Collections.Generic;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "Splitter";
    SampleBrowser.CurrentControlCategory = "Splitter";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Splitter;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the default rendering of Slider component. Drag the thumb over the bar for selecting the values
            between min and max.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The Slider component allows to select a value or range of values in-between a min and max range, by dragging the thumb
            over the slider bar. Three types of sliders are:
        </p>
        <ul>
            <li>Default - allows to select a single value</li>
            <li>
                MinRange – allows to select a single value, but highlights with a range selection from the min value to the current
                handle value
            </li>
            <li>Range – allows to select a range of values with two handles, where the handles are connected with a range selection</li>
            <p>
                In this demo, the default, MinRange and range slider types can be seen.
            </p>
            <p>
                More information about Slider instantiation can be found in this
                <a target=""_blank"" href=""https://ej2.syncfusion.com/aspnetcore/documentation/slider/getting-started.html"">
                    documentation section
                </a>
            </p>
        </ul>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <div class="pane1">
            <div id="pane-heading">Horizontal Splitter</div>
            <EjsSplitter id="splitter1" height="110px" width="100%" separatorSize="4">
                <splitterpanes>
                    <splitterpane Content="<div class='content'><div>Left pane<div id='panetext'>size: 25%</div><div id='panetext'>min: 60px</div></div></div>" size="25%" min="60px"></splitterpane>
                    <splitterpane Content="<div class='content'><span>Middle pane<div id='panetext'>size: 50%</div><div id='panetext'>min: 60px</div></span></div>" size="50%" min="60px"></splitterpane>
                    <splitterpane Content="<div class='content'><span>Right pane<div id='panetext'>size: 25%</div><div id='panetext'>min: 60px</div></span></div>" size="25%" min="60px"></splitterpane>
                </splitterpanes>
            </EjsSplitter>
        </div>
        <div class="pane2">
            <div id="pane-heading">Vertical Splitter</div>
            <EjsSplitter id="splitter2" height="240px" width="100%" orientation="@Orientation.Vertical" separatorSize="4">
                <splitterpanes>
                    <splitterpane Content="<div class='content'><span>Top pane<div id='panetext'>size: 30%</div><div id='panetext'>min: 60px</div></span></div>" size="25%" min="60px"></splitterpane>
                    <splitterpane Content="<div class='content'><span>Middle pane<div id='panetext'>size: 45%</div><div id='panetext'>min: 60px</div></span></div>" size="50%" min="60px"></splitterpane>
                    <splitterpane Content="<div class='content'><span>Bottom pane<div id='panetext'>size: 25%</div><div id='panetext'>min: 60px</div></span></div>" size="25%" min="60px"></splitterpane>
                </splitterpanes>
            </EjsSplitter>
        </div>
    </div>
</div>

<style>
    #panetext {
        font-size: 11px;
    }

    #pane-heading {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .pane1 {
        margin: 20px auto;
        max-width: 440px;
    }

    .pane2 {
        margin: 20px auto;
        max-width: 440px;
    }

    .control-section {
        min-height: 370px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .content {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: grid;
        height: 100%;
    }
</style>
