@page "/Uploader/ChunkUpload"

@using Syncfusion.EJ2.RazorComponents.Inputs

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Chunk Upload";
    SampleBrowser.CurrentControlName = "FileUpload";
    SampleBrowser.CurrentControlCategory = "FileUpload";
    SampleBrowser.CurrentControl = SampleBrowser.Config.FileUpload;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This example demonstrates the chunk upload functionalities of the Uploader control. Browse or drag-and-drop a large file to upload with pause, resume, and retry options. </p>
        <p>Also, configured property panel to change the chunk size dynamically.</p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>When the file size is large or transfer the file with slow network connection, the chunk upload feature slices the files and upload the sliced chunks to server in sequential order
    using the <a href=""https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2~Syncfusion.EJ2.Inputs.UploaderAsyncSettings~ChunkSize.html""
        target=""_blank"">chunkSize</a> API.</p>
        <p>The sample is configured with the following options:</p>
        <ul>
        <li>While uploading, you can pause the upload and resume it later.</li>
        <li> If the upload fails, retry option will be enabled.</li>
        <li> The sample is configured with maximum file size as `100 MB` to upload.</li>
    </ul>
        <h4>Automatic pause and resume</h4>
        <p> If the application lost its connection (<code>offline</code>), the upload component pauses the process automatically. After the connection is up (<code>online</code>), the upload component will resume its process.</p>
        <p>More information on the Uploader instantiation can be found in this <a target=""_blank"" href=""https://ej2.syncfusion.com/aspnetcore/documentation/uploader/chunk-upload/"">documentation section</a>.</p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsUploader ID="UploadFiles" DropArea=".control-fluid" MaxFileSize="104857600">
            <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save"
                                   RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"
                                   ChunkSize="500000"></UploaderAsyncSettings>
        </EjsUploader>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
    }
</style>

