@page "/Uploader/DefaultFunctionalities"

@using Syncfusion.EJ2.RazorComponents.Inputs

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "FileUpload";
    SampleBrowser.CurrentControlCategory = "FileUpload";
    SampleBrowser.CurrentControl = SampleBrowser.Config.FileUpload;
    SampleBrowser.ActionDescription = new string[]
    {
        @"<p>
            This sample demonstrates the default functionalities of the Uploader component. Browse the files which you want to upload to the server.
            The selected files are submitted to server on upload button click. If you click on the clear button, the selected / uploaded files are cleared from list.
        </p>
        <p>Also, provided an option to enable or disable the auto upload and sequential upload feature in the property panel.</p>"
    };
    SampleBrowser.Description = new string[]
    {
        @"<p>
            The Uploader component is useful to upload images, documents, and other files. By default, the component allows to upload multiple files to browse and upload it to server.
            The selected files append to the file list that contains file details such as name, type, and size.
        </p>
        <p>
            You can manage the files in server after received the uploaded files. When the files are successfully uploaded to server, the remove button will be change to bin button.
            The uploaded files can be removed by click on the bin button.
        </p>
        <p>
            The progress bar displays for each file upload to denote its upload progress.
            Once the file upload gets success, the progress bar disappear and corresponding upload status message will be displayed in same place.
        </p>
        <p>More information on the Uploader instantiation can be found in this
        <a target=""_blank"" href=""https://ej2.syncfusion.com/aspnet/documentation/uploader/getting-started-asp-mvc.html?syntax=tag""> documentation section</a>.</p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsUploader ID="UploadFiles" DropArea=".control-fluid" Removing="@onFileRemove">
            <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save"
                                   RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings>
        </EjsUploader>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
    }
</style>

@code{

    public void onFileRemove(RemovingEventArgs args) {
        args.PostRawFile = false;
    }
 }