@page "/Uploader/FileValidation"

@using Syncfusion.EJ2.RazorComponents.Inputs

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "File Validation";
    SampleBrowser.CurrentControlName = "FileUpload";
    SampleBrowser.CurrentControlCategory = "FileUpload";
    SampleBrowser.CurrentControl = SampleBrowser.Config.FileUpload;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates how to validate the files before uploading it to server. Only document files (DOC, DOCX, XLS, XLSX),
            and the files should contain minimum 10 KB and maximum 4 MB sizes to upload it into server.This sample limits maximum files count as 5 to upload.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The Uploader component allows to validate the file’s type, and limit the file size using allowedExtensions, minFileSize, and maxFileSize properties.
            You can also achieve limit the files count before uploading it using select event.
        </p>

        <p>For more information, you can refer to the Validation section from this
        <a target=""_blank"" href=""https://ej2.syncfusion.com/aspnet/documentation/uploader/validation.html?syntax=tag""> documentation section</a>.</p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <EjsUploader ID="UploadFiles" DropArea=".control-fluid" Removing="@onFileRemove" AllowedExtensions=".doc, .docx, .xls, .xlsx" minFileSize="10000" maxFileSize="104857600">
            <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save"
                                   RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings>
        </EjsUploader>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
    }
</style>

@code{

    public void onFileRemove(RemovingEventArgs args) {
        args.PostRawFile = false;
    }
 }