@page "/treemap/customization"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.TreeMap
@using ThemeHelper
@inject NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample represents the gold medal categories in which US athletes competed during the 2016 Summer Olympics. Each category is identified by a label template.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to insert custom templates into TreeMap items. In addition, the label text has been formatted and the tooltip has been enabled.</p>
</ActionDescription>

<div class="control-section">
    <SfTreeMap WeightValuePath="Gold" RangeColorValuePath="Sales" DataSource="@DataSource" TValue="TreeMapData" Theme="@Theme">
        <TreeMapTitleSettings Text="US Gold Medal Categories in Summer Olympics - 2016">
            <TreeMapTitleTextStyle Size="15px" FontFamily="Segoe UI" />
        </TreeMapTitleSettings>
        <TreeMapLeafItemSettings ShowLabels="@ShowLabels" LabelPath="Sport" Fill="#993399" LabelFormat="${Sport} - ${Gold}" TemplatePosition="LabelPosition.Center">
            <LabelTemplate>
                @{
                    var Employee = (context as TreeMapData);
                    <div>
                        <img src="@(SampleService.WebAssetsPath + "images/treemap/" + Employee.GameImage)" style="height:@Employee.ItemHeight;width:@Employee.ItemWidth;" alt="Treemap Item" />
                    </div>
                }
            </LabelTemplate>
            <ChildContent>
                <TreeMapLeafBorder Color="#000000" Width="0.5" />
                <TreeMapLeafLabelStyle FontFamily="Segoe UI" />
            </ChildContent>
        </TreeMapLeafItemSettings>
        <TreeMapTooltipSettings Visible="true" Format="${Sport} : ${Gold}">
            <TreeMapTooltipTextStyle FontFamily="Segoe UI"></TreeMapTooltipTextStyle>
        </TreeMapTooltipSettings>
    </SfTreeMap>
    <div class="urllink">
        Source:
        <a href=" https://en.wikipedia.org/wiki/United_States_at_the_2016_Summer_Olympics" target="_blank"> en.wikipedia.org</a>
    </div>
</div>
@code {
    public Theme Theme { get; set; }
    public bool ShowLabels = true;
    
    public class TreeMapData
    {
        public string Sport { get; set; }
        public int Gold { get; set; }
        public string GameImage { get; set; }
        public string ItemHeight { get; set; }
        public string ItemWidth { get; set; }
    }
    public static List<TreeMapData> DataSource = new List<TreeMapData> {
        new TreeMapData { Sport="Swimming", Gold=16, GameImage="Swimming.svg", ItemHeight="180px", ItemWidth="180px" },
        new TreeMapData { Sport="Athletics", Gold=13, GameImage="Athletics.svg", ItemHeight="70px", ItemWidth="70px" },
        new TreeMapData { Sport="Gymnastics", Gold=4, GameImage="Gymnastics.svg", ItemHeight="80px", ItemWidth="80px" },
        new TreeMapData { Sport="Cycling", Gold=2, GameImage="Cycling.svg", ItemHeight="50px", ItemWidth="50px" },
        new TreeMapData { Sport="Wrestling", Gold=2, GameImage="Wrestling.svg", ItemHeight="60px", ItemWidth="50px" },
        new TreeMapData { Sport="Basketball", Gold=2, GameImage="Basket-ball.svg", ItemHeight="50px", ItemWidth="50px" },
        new TreeMapData { Sport="Boxing", Gold=1, GameImage="Boxing.svg", ItemHeight="40px", ItemWidth="30px" },
        new TreeMapData { Sport="Tennis", Gold=1, GameImage="Tennis.svg", ItemHeight="40px", ItemWidth="40px" },
        new TreeMapData { Sport="Judo", Gold=1, GameImage="Judo.svg", ItemHeight="40px", ItemWidth="40px" },
        new TreeMapData { Sport="Rowing", Gold=1, GameImage="Rowing.svg", ItemHeight="40px", ItemWidth="40px" },
        new TreeMapData { Sport="Shooting", Gold=1, GameImage="Shooting.svg", ItemHeight="40px", ItemWidth="40px" },
        new TreeMapData { Sport="Triathlon", Gold=1, GameImage="Triathlon.svg", ItemHeight="40px", ItemWidth="40px" },
        new TreeMapData { Sport="Water polo", Gold=1, GameImage="Water-polo.svg", ItemHeight="40px", ItemWidth="40px" }
    };
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(UriHelper.Uri);
        if (SampleService.IsDevice)
        {
            ShowLabels = false;
        }
    }
}