@page "/pager/keyboard-navigation"

@using Syncfusion.Blazor.Navigations
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>Keyboard shortcuts can be used to interact with Pager functionality. In the example below, various key combinations can be used to interact with the pager. </p>
</SampleDescription>

<ActionDescription>
    <p>Keyboard shortcut keys can be used to interact with Pager functionality.</p> 
    <p>In this demo, various key combinations can be used to interact with the Pager.</p>

    <ul>
        <li><span class="keys"><kbd>Page down</kbd> / <kbd>Right arrow</kbd></span><span class="keydescription">- Navigates to the next page.</span></li>
        <li><span class="keys"><kbd>Page up</kbd> / <kbd>Left arrow</kbd></span><span class="keydescription">- Navigates to the previous page.</span> </li>
        <li><span class="keys"><kbd>Enter</kbd> / <kbd>Space</kbd></span><span class="keydescription">- Select the currently focused page.</span></li>
        <li><span class="keys"><kbd>Tab</kbd></span><span class="keydescription">- Focus on the next pager item.</span></li>
        <li><span class="keys"><kbd>Shift</kbd>+<kbd>Tab</kbd></span><span class="keydescription">- Focus on the previous pager item.</span></li>
        <li><span class="keys"><kbd>Home</kbd>- Navigates to the first page.</span></li>
        <li><span class="keys"><kbd>End</kbd>- Navigates to the last page.</span></li>
        <li><span class="keys"><kbd>Alt</kbd>+<kbd>Page up</kbd></span><span class="keydescription">-Navigates to the previous pager.</span></li>
        <li><span class="keys"><kbd>Alt</kbd>+<kbd>Page down</kbd></span><span class="keydescription">- Navigates to the next pager.</span></li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="frame" style="width: 830px; margin-top: 60px; margin-left: 30px">
        <SfPager TotalItemsCount="50" NumericItemsCount="5" PageSize="5" PageSizes="@pagesizes" >
        </SfPager>
    </div>
</div>

@code{
     public List<int> pagesizes = new List<int> { 5, 10, 12, 20 };
    
}

@*Hidden:Lines*@
<style>
    .frame {
    border: 1px solid #BBBCBB;
    border-radius: 10px;
    color: #5C5C5C;
    padding: 30px;
    display: block;
}
</style>
@*End:Hidden*@
