@page "/FileManager/Azure"

@using Syncfusion.EJ2.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@inherits SampleBaseComponent;

<div class="control-section">
    <EjsFileManager>
        <FileManagerAjaxSettings Url="https://ej2services.syncfusion.com/production/web-services/api/AzureFileManager/AzureFileoperations"
                                 UploadUrl="https://ej2services.syncfusion.com/production/web-services/api/AzureFileManager/AzureUpload"
                                 DownloadUrl="https://ej2services.syncfusion.com/production/web-services/api/AzureFileManager/AzureDownload"
                                 GetImageUrl="https://ej2services.syncfusion.com/production/web-services/api/AzureFileManager/AzureGetImage">
        </FileManagerAjaxSettings>
    </EjsFileManager>
</div>
