@page "/file-manager/firebase"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@inherits SampleBaseComponent;

<SampleDescription>
	<p>This sample demonstrates how to utilize the Firebase realtime cloud storage database with File Manager component.To run the service, create an <a target="_blank" href="https://console.firebase.google.com/">firebase realtime database</a> and then register the firebase realtime database <b>Rest API link</b> and <b>root node</b> name using <code>RegisterFirebaseRealtimeDB</code> method to perform the file operations.</p>
</SampleDescription>
<ActionDescription>
	<p>The <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-file-manager'>Blazor File Manager component </a> is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete and so on.</p>
	<b>Note: </b>File Manager's upload functionality is restricted in online demo. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-firebase-realtime-database-aspcore-file-provider">ej2-firebase-realtime-database-aspcore-file-provider</a> from the GitHub repository.
</ActionDescription>

<div class="control-section">
	<SfFileManager TValue="FileManagerDirectoryContent">
		<FileManagerAjaxSettings Url="https://realtime-firebase.azurewebsites.net//api/FirebaseProvider/FirebaseRealtimeFileoperations"
								 UploadUrl="https://realtime-firebase.azurewebsites.net//api/FirebaseProvider/FirebaseRealtimeUpload"
								 DownloadUrl="https://realtime-firebase.azurewebsites.net//api/FirebaseProvider/FirebaseRealtimeDownload"
								 GetImageUrl="https://realtime-firebase.azurewebsites.net//api/FirebaseProvider/FirebaseRealtimeGetImage">
		</FileManagerAjaxSettings>
	</SfFileManager>
</div>
