@page "/file-manager/ftp-file-provider"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates how to utilize the <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-ftp-aspcore-file-provider">File Transfer Protocol file system provider</a> to manage the files in the File Manager component.
            To run the service, create a FTP connection, and then configure the FTP details such as <i><b>host name</b></i>, <i><b>user name</b></i>, and <i><b>password</b></i> in the <code>SetFTPConnection</code> method to perform the file operations.</p>
</SampleDescription>
<ActionDescription>
  <p>The <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-file-manager'>Blazor File Manager component </a> is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete and so on.</p>

    <b>Note: </b>File Manager's upload functionality is restricted in online demo. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-ftp-aspcore-file-provider">FTP File Provider</a> from the GitHub repository.
</ActionDescription>

<div class="control-section">
    <SfFileManager TValue="FileManagerDirectoryContent">
        <FileManagerAjaxSettings Url="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPFileoperations"
                                 UploadUrl="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPUpload"
                                 DownloadUrl="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPDownload"
                                 GetImageUrl="https://ej2-ftp-aspcore-service.azurewebsites.net/api/FTPProvider/FTPGetImage">
        </FileManagerAjaxSettings>
    </SfFileManager>
</div>
