@page "/file-manager/nodejs-file-provider"

@using Syncfusion.Blazor.FileManager;

@inject IJSRuntime JsRuntime;

@inherits SampleBaseComponent;

<SampleDescription>
	@{ var syncfusion = "@syncfusion"; }
	<p>This sample demonstrates how to utilize the <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-filemanager-node-filesystem">NodeJS file system provider</a> with File Manager component. The <code>ej2-filemanager-node-filesystem</code> is an NPM package for file system provider which is available in npmjs, refer this <a target="_blank" href="https://www.npmjs.com/package/@syncfusion/ej2-filemanager-node-filesystem">link</a> to download package.</p>
</SampleDescription>
<ActionDescription>
	<p>The <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-file-manager'>Blazor File Manager component </a> is used to explore a file system through a web application, similar to the windows explorer for windows. It supports all the basic file operations such as create, rename, delete and so on.</p>

    <p><b>Note: </b>File Manager’s upload functionality is restricted in online demo. To work with upload functionality, please download <a target="_blank" href="https://github.com/SyncfusionExamples/ej2-filemanager-node-filesystem">NodeJS File Provider</a> from the GitHub repository.</p>
</ActionDescription>

<div class="control-section">
	<SfFileManager TValue="FileManagerDirectoryContent">
		<FileManagerAjaxSettings Url="https://ej2-nodejs-service.azurewebsites.net/"
								 UploadUrl="https://ej2-nodejs-service.azurewebsites.net/Upload"
								 DownloadUrl="https://ej2-nodejs-service.azurewebsites.net/Download"
								 GetImageUrl="https://ej2-nodejs-service.azurewebsites.net/GetImage">
		</FileManagerAjaxSettings>
	</SfFileManager>
</div>
