@page "/query-builder/clone-group"

@using Syncfusion.Blazor.QueryBuilder
@using BlazorDemos
@using blazor_griddata

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the clone support of the Query Builder component. Click the clone button to clone the group or rule.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The <code><a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.QueryBuilder.SfQueryBuilder-1.html">QueryBuilder</a></code> component is used to create or edit filters. You can edit filters by changing the fields.             The Clone options will create an exact replica of a rule or group next to the original.
    </p>
   <p>In mobile mode, the component is shown vertically.</p>
   <p>More information about Blazor QueryBuilder component can be found in this <a target=""_blank"" href="https://blazor.syncfusion.com/documentation/query-builder/getting-started/"  aria-label="documentation section"> documentation </a>section.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <SfQueryBuilder DataSource="@dataSource">
        <QueryBuilderRule Condition="and" Rules="@rules"></QueryBuilderRule>
        <QueryBuilderShowButtons CloneGroup="true" CloneRule="true"></QueryBuilderShowButtons>
        <QueryBuilderColumns>
            <QueryBuilderColumn Field="CustomerID" Label="CustomerID" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
            <QueryBuilderColumn Field="EmployeeID" Label="EmployeeID" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.Number></QueryBuilderColumn>
            <QueryBuilderColumn Field="Verified" Label="Verified" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.Boolean></QueryBuilderColumn>
            <QueryBuilderColumn Field="ShipName" Label="ShipName" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
            <QueryBuilderColumn Field="OrderDate" Label="OrderDate" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.Date Format="dd/MM/yyyy"></QueryBuilderColumn>
            <QueryBuilderColumn Field="ShipCountry" Label="ShipCountry" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
            <QueryBuilderColumn Field="ShipAddress" Label="ShipAddress" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
        </QueryBuilderColumns>
    </SfQueryBuilder>
</div>

@code{
    
    private List<RuleModel> rules = new List<RuleModel>()
    {
         new RuleModel { Label="EmployeeID", Field="EmployeeID", Type="Number", Operator="equal", Value = 1001 },
         new RuleModel { Label="CustomerID", Field="CustomerID", Type="String", Operator="equal", Value = "FLKIN" },
         new RuleModel {
            Condition = "or", Rules = new List<RuleModel>() {
                new RuleModel { Label= "OrderDate", Field = "OrderDate", Type = "Date", Operator = "equal", Value = "12/1/2024" },
                new RuleModel { Label= "ShipCountry", Field = "ShipCountry", Type = "String", Operator = "equal", Value = "USA" }
            }
        }
    };
 
    private List<string> values = new List<string> { "True", "False" };
    private List<Orders> dataSource { get; set; }
    protected override void OnInitialized()
    {
        
        dataSource = Orders.GetAllRecords();
    }
}

<style>

    .e-query-builder {
        margin: 0 auto;
    }

    .material3 .e-query-builder .e-group-header .e-group-action .e-btn,
    .material3-dark .e-query-builder .e-group-header .e-group-action .e-btn { 
        box-shadow: none; 
    }

    .fluent .e-query-builder .e-group-header .e-group-action .e-btn { 
        background: #f3f2f1;
        border: 0 solid #f3f2f1;
    }

    .bootstrap5 .e-query-builder .e-group-header .e-group-action .e-btn { 
        background: #fff;
        box-shadow: none;
        color: #6c757d;
    }
</style>
