@page "/DateRangePicker/Format"

@using Syncfusion.EJ2.Blazor.Calendars
@using System

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Format";
    SampleBrowser.CurrentControlName = "DateRangePicker";
    SampleBrowser.CurrentControlCategory = "DateRangePicker";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DateRangePicker;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            In this sample, the DateRangePicker has been configured with the <code>dd-MMM-yy hh:mm a</code> date time format.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            Format sample illustrates the support of custom date time format in the DateRangePicker component by
            using the <code>Format</code> property.
        </p>"
    };
}
@*End:Hidden*@

<div class=" col-lg-12 control-section">
    <div id="wrapper" class="daterangepicker-section">
        <div id="daterangepicker-control">
            <EjsDateRangePicker Format="dd/MMM/yy hh:mm a" StartDate="@Start" EndDate="@End"></EjsDateRangePicker>
        </div>
    </div>
</div>

<style>
    #wrapper {
        max-width: 300px;
        margin: 0px auto;
        padding-top: 20px;
    }
</style>

@code {
    public DateTime? Start { get; set; } = DateTime.Now;
    public DateTime? End { get; set; } = DateTime.Now.AddDays(20);
}