@page "/Grid/SelectionAPI"

@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Inputs
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_inventordata
@{
    SampleBrowser.CurrentSampleName = "Selection API";
    SampleBrowser.CurrentControlName = "DataGrid";
    SampleBrowser.CurrentControlCategory = "DataGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DataGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the selection functionality of the Grid, you can select multiple row by entering start and end index then click the select row button.
        To clear all selected rows, click clear selection button.
        </p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>
        Selection provides an interactive support to highlight the row or cell that you select.
        Selection can be done through simple
        Mouse down or Keyboard interaction. To enable selection, set <code><a target='_blank' class='code'
        href='http://ej2.syncfusion.com/documentation/grid/api-grid.html#allowselection-boolean'>
        AllowSelection
        </a></code> as true.
    </p>
    <p>Grid supports two types of selection which can be set using
        <code><a target='_blank' class='code'
        href='http://ej2.syncfusion.com/documentation/grid/api-selectionSettingsModel.html#type-selectiontype'>
        SelectionSettings->type
        </a></code> property. They are,</p>
    <ul>
        <li><code>single</code> - Enabled by default. Allows the user to select single row/cell at a time.</li>
        <li><code>multiple</code> - Allows the user to select more than one row/cell at a time.</li>
    </ul>
    <p>Also, supports three modes of selection which can be set using
        <code><a target='_blank' class='code'
        href='http://ej2.syncfusion.com/documentation/grid/api-selectionSettingsModel.html#mode-selectionmode'>
        SelectionSettings->mode
        </a></code> property. They are,
    </p>
    <ul>
        <li><code>row</code> - Enabled by default. Enables row selection in Grid.</li>
        <li><code>cell</code> - Enables cell selection in Grid.</li>
        <li><code>both</code> - Enables both row and cell selection in Grid.
        Clicking any cell will select both the row and cell simultaneously.
        </li>
    </ul>
    <p>To perform the multi-selection, hold <strong>CTRL</strong> key and click the desired rows/cells.
    To select range of rows/cells, hold <strong>SHIFT</strong> key and click the rows/cells.</p>
    <p>While using the Grid in a touch device environment, there is an option for multi-selection
        through single tap on the row and it will show a popup with the multi-selection symbol.
        Tap the icon to enable multi-selection in a single tap.
    </p>
    <p>In this demo, enter the values in the Start and To text box to select range of rows.
        And click the Clear Selection button to deselect the rows.
    </p>
    <p style='font-weight: 500'>Injecting Module:</p>
    <p>
        Grid features are segregated into individual feature-wise modules.
        To use selection feature, we need to inject
        <code><a target='_blank' class='code'
        href='http://ej2.syncfusion.com/documentation/grid/api-selection.html'>
        Selection
        </a></code> using the <code>Grid.Inject(Selection)</code> section.
    </p>

    <p>
        More information on the selection configuration can be found in this
        <a target='_blank' href='http://ej2.syncfusion.com/documentation/grid/api-grid.html#selectrows'>
        documentation section</a>.
    </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGrid ID="Grid" DataSource="@gridData" AllowSelection="true" AllowPaging="true">
                <GridSelectionSettings Type="@Syncfusion.EJ2.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridPageSettings PageCount="2"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(InventorDetails.Inventor) HeaderText="Inventor Name" IsPrimaryKey="true" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.NumberofPatentFamilies) HeaderText="No of Patent Families" Width="185" TextAlign="@TextAlign.Right"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Country) HeaderText="Country" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(InventorDetails.Active) HeaderText="Active" Width="130"></GridColumn>
                </GridColumns>
            </EjsGrid>
        </div>
    </div>
</div>

@*<div class="col-lg-3 property-section">
    <h4 style="margin-top:38px;">Properties</h4>

    <table id="property" style="width: 73%; height: 300px;">
        <tr>
            <td class="left-side" style="padding-right:15px;"><b>Select Rows</b></td>
        </tr>
        <tr>
            <td class="left-side" style="padding-right:15px;">Start</td>
            <td>
                <EjsNumericTextBox id="start" min="1" width="100"></EjsNumericTextBox>
            </td>
        </tr>
        <tr>
            <td class="left-side" style="padding-right:15px;">To</td>
            <td>
                <EjsNumericTextBox id="to" min="1" width="100"></EjsNumericTextBox>
            </td>
        </tr>
        <tr>
            <td class="left-side" style="padding-right:15px;"><b>Select Row</b></td>
            <td>
                <EjsButton id="select" IsPrimary="true">Select Row</EjsButton>
            </td>
        </tr>
        <tr>
            <td class="left-side" style="padding-right:15px;"><b>Clear Selection</b></td>
            <td>
                <EjsButton id="clear" IsPrimary="true">Clear Selection</EjsButton>
            </td>
        </tr>
    </table>
</div>*@

@code{

    public List<InventorDetails> gridData { get; set; }


    protected override void OnInit()
    {
        gridData = InventorDetails.GetAllRecords();
    }
}
