@page "/splitter/expand-collapse"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Layouts

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This example demonstrates the expand and collapse functionalities of the Splitter component. To expand or collapse the panes, hover the mouse over the separator (divider) bar and click the corresponding icon to expand or collapse pane.</p>
</SampleDescription>
<ActionDescription>
   <p>The Splitter (split container) allows expanding and collapsing its split panes. You can configure this behavior using the <code>PaneSettings Collapsible</code> property. The collapsible behavior can be enabled for specific pane alone.</p>
   <p>When you hover the mouse over the pane's separator (divider), the expand and collapse icons will be visible. While clicking the icon, the corresponding pane will be expanded or collapsed. The remaining panes will automatically adjust its dimension based on the expanded or collapsed panes. These icons are visible by default in mobile devices</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <div class="expand-pane">
            <SfSplitter Height="385px" Width="100%" SeparatorSize="3">
                <SplitterPanes>
                    <SplitterPane Size="48%" Collapsible="true">
                        <ContentTemplate>
                            <div>
                                <div class="content">
                                    <a href="https://www.syncfusion.com/ebooks/neuralnetworks" target="_blank">Neural Networks Using C# Succinctly</a>
                                    <p>
                                        Neural networks are an exciting field of software development used to calculate outputs from input data. While the idea seems simple enough, the implications of such networks are staggering—think optical character recognition, speech recognition, and regression analysis. With Neural Networks Using C# Succinctly by James McCaffrey, you’ll learn how to create your own neural network to solve classification problems, or problems where the outcomes can only be one of several values.
                                        <br />
                                        <br />
                                        Learn about encoding and normalizing data, activation functions and how to choose the right one, and ultimately how to train a neural network to find weights and bias values that provide accurate predictions.
                                        An artificial neural network (sometimes abbreviated ANN, or shortened to just "neural network" when the context is clear) is
                                        a software system that loosely models biological neurons and synapses. Before explaining exactly how neural networks work, it is
                                        useful to understand what types of problems they can solve.
                                    </p>
                                </div>
                            </div>
                        </ContentTemplate>
                    </SplitterPane>
                    <SplitterPane>
                        <ContentTemplate>
                            <div>
                                <SfSplitter ID="inner-splitter" Height="385px" SeparatorSize="3" Orientation="Orientation.Vertical">
                                    <SplitterPanes>
                                        <SplitterPane Size="50%" Collapsible="true">
                                            <div>
                                                <div class="content">
                                                    <a href="https://www.syncfusion.com/ebooks/data_capture_and_extraction_with_c_sharp_succinctly" target="_blank">Data Capture and Extraction with C# Succinctly</a>
                                                    <p>Capturing and extracting information is one of the most important tasks a developer can perform, and making this task more engaging without relying entirely on specialized tools is an efficient way to improve productivity. In Data Capture and Extraction with C# Succinctly, author Ed Freitas guides readers toward getting more out of C# in minimal time. Email has become a pillar of our modern and connected society, and it now serves as a primary means of communication. Because each email is filled with valuable information, data extraction has emerged as a worthwhile skill set for developers in today’s business world. If you can parse an email and extract data from it, companies that automate processes, e.g., helpdesk systems.</p>
                                                </div>
                                            </div>
                                        </SplitterPane>
                                        <SplitterPane Collapsible="true">
                                            <div>
                                                <div class="content">
                                                    <a href="https://www.syncfusion.com/ebooks/spark" target="_blank">Spark Succinctly</a>
                                                    <p>Mastering big data requires an aptitude at every step of information processing. Post-processing, one of the most important steps, is where you find Apache Spark frequently employed. Spark Succinctly, by Marko Svaljek, addresses Spark’s use in the ultimate step in handling big data. This e-book, the third installment in Svaljek’s IoT series, teaches the basics of using Spark and explores how to work with RDDs, Scala and Python tasks, JSON files, and Cassandra.</p>
                                                </div>
                                            </div>
                                        </SplitterPane>
                                    </SplitterPanes>
                                </SfSplitter>
                            </div>
                        </ContentTemplate>
                    </SplitterPane>
                </SplitterPanes>
            </SfSplitter>
        </div>
    </div>
</div>

<style>
    .e-splitter .content {
        padding: 20px;
    }

    .e-splitter p {
        margin-top: 10px;
    }

    .expand-pane {
        margin: 20px auto;
        max-width: 820px;
    }
        /* styles to hide scroll bars */
        .expand-pane .e-pane.e-pane-horizontal.e-scrollable::-webkit-scrollbar,
        .expand-pane .e-pane.e-pane-vertical.e-scrollable::-webkit-scrollbar {
            display: none;
        }

        .expand-pane .e-pane.e-pane-horizontal.e-scrollable, .expand-pane .e-pane.e-pane-vertical.e-scrollable {
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

    .control-section {
        min-height: 370px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    #inner-splitter {
        border: transparent;
    }
</style>
