@page "/Tooltip/Default"

@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Popups
@using MSComponents = Microsoft.AspNetCore.Components

@inherits SampleBaseComponent;
@using Syncfusion.EJ2
<div class="col-lg-8 control-section sb-property-border">
    <div class="control-section">
        <!-- Tooltip element -->
        <EjsTooltip ID="Tooltip" Content=@Content Position="@Position" ShowTipPointer="true">
                <EjsButton Content="Show Tooltip"></EjsButton>
        </EjsTooltip>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div><div class="property-panel-content">
            <table id="property" title="Properties" class="property-panel-table">
                <tbody>
                    <tr>
                        <td style="width: 30%">
                            <div>Position</div>
                        </td>
                        <td style="width: 70%;padding-right: 10px">
                            <div>
                                <select class="form-control" style="height: 32px;" @onchange="@((e) => { SelectItems(e); })">
                                    <option value="TopLeft">Top Left</option>
                                    <option value="TopCenter">Top Center</option>
                                    <option value="TopRight">Top Right</option>
                                    <option value="BottomLeft">Bottom Left</option>
                                    <option value="BottomCenter">Bottom Center</option>
                                    <option value="BottomRight">Bottom Right</option>
                                    <option value="LeftTop">Left Top</option>
                                    <option value="LeftCenter">Left Center</option>
                                    <option value="LeftBottom">Left Bottom</option>
                                    <option value="RightTop">Right Top</option>
                                    <option value="RightCenter">Right Center</option>
                                    <option value="RightBottom">Right Bottom</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@code{
    public string Content = "Lets go green & Save Earth !!";
    Syncfusion.EJ2.Blazor.Popups.Position Position, LoopPos;
    void SelectItems(MSComponents.ChangeEventArgs e)
    {
        Syncfusion.EJ2.Blazor.Popups.Position selectedPos = (Syncfusion.EJ2.Blazor.Popups.Position)Enum.Parse(typeof(Syncfusion.EJ2.Blazor.Popups.Position), e.Value.ToString());
        foreach (Syncfusion.EJ2.Blazor.Popups.Position pos in Enum.GetValues(typeof(Syncfusion.EJ2.Blazor.Popups.Position)))
        {
            LoopPos = (Syncfusion.EJ2.Blazor.Popups.Position)Enum.Parse(typeof(Syncfusion.EJ2.Blazor.Popups.Position), pos.ToString());
            if (selectedPos == LoopPos)
            {
                Position = pos;
            }
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Position = Syncfusion.EJ2.Blazor.Popups.Position.TopLeft;
    }



}
<style>

    #Tooltip {
        position: absolute;
        left: calc( 50% - 60px);
        top: 38%;
    }
</style>
