@page "/tooltip/keyboard-navigation"
@inherits SampleBaseComponent;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@inject IJSRuntime JS

<SampleDescription>
    <p>The <a href='https://www.syncfusion.com/blazor-components/blazor-tooltip' target='_blank'>Blazor Tooltip</a>
        functionalities can be interactive with keyboard shortcuts.</p>
</SampleDescription>
<ActionDescription>
    <p>The following key combinations can be used to interact with Tooltip.</p>
    <ul>
        <li>
            <b>Supported keys and user actions</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the demo.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - When a form control receives focus (say through tab key), it opens the
                    Tooltip and closes it on focus out mode.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc</kbd></span>
                    <span> - Closes or dismisses the Tooltip.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="control_wrapper">
        <form id="details" role="form">
            <table class="demotable">
                <tr>
                    <th colspan="2" class="custom-align">
                        <h3><b>Sign in to continue</b></h3>
                    </th>
                </tr>
                <tr>
                    <td class="info">User Name</td>
                    <td>
                        <SfTextBox ID="@inputId" Type="InputType.Text" CssClass="e-info" name="firstname"
                            ShowClearButton="true" title="Please enter your name"></SfTextBox>
                    </td>
                </tr>
                <tr>
                    <td class="info">Password</td>
                    <td>
                        <SfTextBox Type="InputType.Password" CssClass="e-info" name="password" ShowClearButton="true"
                            title="Be at least 8 characters length"></SfTextBox>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="custom-align">
                        <SfButton Content="Sign In" type="button" ID="clear" CssClass="center e-btn"></SfButton>
                    </td>
                </tr>
            </table>
        </form>
        <SfTooltip Target="#details [title]" OpensOn="Focus" Created="OnCreated">
        </SfTooltip>
    </div>
</div>

@code {
    string inputId = "userName";
    public async Task OnCreated()
    {
        await JS.InvokeAsync<string>("focusInput", inputId);
    }
}

<style>
    .control_wrapper {
        max-width: 500px;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    .demotable,
    .control_wrapper {
        margin: auto;
    }

    #details table th,
    #details table td {
        padding: 20px 10px;
        text-align: left;
    }

    #details .info {
        font-size: 14px;
        text-align: left;
        font-weight: 500;
    }

    #details .info,
    .custom-align {
        color: black;
    }

    .center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #details .custom-align {
        text-align: center;
    }

    .customlist {
        padding: 2px 0;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>
