@page "/progress-bar/Indeterminate"
@using Syncfusion.Blazor.ProgressBar
@inherits SampleBaseComponent;


    <div class="control-section">
        <div class="row" style="align-items: center; text-align: center;">
            <div class="col-lg-12 col-md-12" id="linearProcesscontainer" style="text-align: center">
                <SfProgressBar Type="ProgressType.Linear"
                                Value="40"
                                Width="80%"
                                Height="25"
                                IsIndeterminate="true"
                                ProgressThickness="10"
                                TrackThickness="10" Minimum="0" Maximum="100"></SfProgressBar>
            </div>
            <div class="col-lg-4 col-md-4" style="text-align: center">
            </div>
            <div class="col-lg-4 col-md-4" style="text-align: center">
                <div id="circularprogresscontainer">
                    <SfProgressBar Type="ProgressType.Circular"
                                    IsIndeterminate="true"
                                    Width="300"
                                    Height="300"
                                    Value="40"
                                    TrackThickness="10"
                                    ProgressThickness="10"
                                    CornerRadius="CornerType.Round" Minimum="0" Maximum="100">                       
                        <ProgressBarAnnotations>
                            <ProgressBarAnnotation AnnotationAngle="90" AnnotationRadius="-40%" Content="<div style='font-size:35px;font-weight:bold;color:#0078D6;fill:#0078D6'><span>Loading...</span></div>" />
                        </ProgressBarAnnotations>
                    </SfProgressBar>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="text-align: center">
            </div>
        </div>
    </div>