@page "/progress-bar/labels"
@using Syncfusion.Blazor.ProgressBar
@inject NavigationManager Navigation
@inherits SampleBaseComponent;

    <div class="control-section">
        <div class="row linear-parent" align="center">

            <div class="linear-progress">
                <SfProgressBar Type="ProgressType.Linear" Height="60"
                                ID="Percentage"
                                CornerRadius="CornerType.Round"
                                TrackThickness="24"
                                ProgressThickness="24"
                                ProgressColor="#2BB20E" ShowProgressValue="true"
                                Value="100" Minimum="0" Maximum="100"
                                Theme="@CurrentTheme">
                    <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                </SfProgressBar>
            </div>

            <div class="linear-progress">
                <SfProgressBar Type="ProgressType.Linear" Height="60"
                                ID="Ratio"
                                CornerRadius="CornerType.Round"
                                TrackThickness="24"
                                ProgressThickness="24"
                                ProgressColor="#8D8989 " ShowProgressValue="true"
                                Value="40" Minimum="0" Maximum="100"
                                Theme="@CurrentTheme"
                               Label="2/5">
                    <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                </SfProgressBar>
            </div>

            <div class="linear-progress">
                <SfProgressBar Type="ProgressType.Linear" Height="60"
                                ID="Actual"
                                CornerRadius="CornerType.Round"
                                TrackThickness="24"
                                ProgressThickness="24" TrackColor="#F8C7D8"
                                ProgressColor="#E3165B" ShowProgressValue="true"
                                Value="50" Minimum="0" Maximum="100"
                                Theme="@CurrentTheme"
                               Label="50">
                    <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                </SfProgressBar>
            </div>
        </div>
    </div>
<style>
    #control-container {
        padding: 0px !important;
    }   

   .linear-parent{
      text-align: center;
   }
    .linear-progress {
        width: 60%;
        margin: auto;
        margin-bottom: 5%;
    }

    #Percentage_linearLabel,
    #Ratio_linearLabel,
    #Actual_linearLabel {
        fill : white
    }

</style>

@code{
    string CurrentUri;
    ProgressTheme CurrentTheme;
    protected override void OnInitialized()
    {
        CurrentUri = Navigation.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            CurrentTheme = ProgressTheme.Material;
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            CurrentTheme = ProgressTheme.Fabric;
        }
        else if (CurrentUri.IndexOf("bootstrap4") > -1)
        {
            CurrentTheme = ProgressTheme.Bootstrap4;
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            CurrentTheme = ProgressTheme.Bootstrap;
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            CurrentTheme = ProgressTheme.HighContrast;
        }
        else
        {
            CurrentTheme = ProgressTheme.Bootstrap4;
        }
    }
}