@page "/progress-bar/ProgressApi"
@using Syncfusion.Blazor.ProgressBar
@using Syncfusion.Blazor.Buttons
@inherits SampleBaseComponent;

<div class="control-section">
    <div class="row textAlign" style="align-items: center; text-align: center;">
        <div class="col-lg-12 col-md-12" id="linearProcesscontainer" style="text-align: center">
            <SfProgressBar Type="ProgressType.Linear" Height="60"
                            Width="80%" CornerRadius="CornerType.Round"
                            TrackThickness="4"
                            ProgressThickness="8"
                            Value="@value" Minimum="0" Maximum="100" ProgressColor="@Progresscolor">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>
    </div>

    <table style="width: 100%">
        <tr>
            <td>
                <div class="row textAlign">
                    <div class="col-sm-4">
                        <SfButton @onclick="ContinuesLoad" CssClass="e-btn e-custom-btn">Start Continuous loading bar</SfButton>
                    </div>
                    <div class="col-sm-4">
                        <SfButton @onclick="StaticLoad"  CssClass="e-btn e-custom-btn">Start Static loading bar</SfButton>
                    </div>
                    <div class="col-sm-4">
                        <SfButton @onclick="Complete" CssClass="e-btn e-custom-btn">Start Complete</SfButton>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row textAlign second-height">
                    <div class="col-sm-4">
                        <SfButton @onclick="Addten" CssClass="e-btn e-custom-btn">Add 10%</SfButton>
                    </div>
                    <div class="col-sm-4">
                        <SfButton @onclick="Addthirty" CssClass="e-btn e-custom-btn">Add 30%</SfButton>
                    </div>
                    <div class="col-sm-4">
                        <SfButton @onclick="Addfifty" CssClass="e-btn e-custom-btn">Add 50%</SfButton>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row textAlign third-height">
                    <div class="col-sm-6">
                        <SfButton @onclick="Colorchange" CssClass="e-btn e-custom-btn">Change Color</SfButton>
                    </div>
                    <div class="col-sm-6">
                        <SfButton @onclick="Example" CssClass="e-btn e-custom-btn">Example</SfButton>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>
@code{
    public double value = 30;
    public Random random = new Random();
    public int count = 1;
    public string Progresscolor = "#0078D6";
    String[] colors = new string[5] {"#c0b0f5", "#b39ff5", "#a48cf5", "#8d6ff2", "#7653ed"};
    public void ContinuesLoad(MouseEventArgs args)
    {
        value += 20;
        value = value % 100;
    }

    public void StaticLoad(MouseEventArgs args)
    {
        value = random.NextDouble() * 100;
        value = value % 100;
    }

    public void Complete(MouseEventArgs args)
    {
        value = 100;
    }

    public void Addten(MouseEventArgs args)
    {
        value += 10;
        value = value % 100;
    }

    public void Addthirty(MouseEventArgs args)
    {
        value += 30;
        value = value % 100;
    }

    public void Addfifty(MouseEventArgs args)
    {
        value += 50;
        value = value % 100;
    }

    public void Colorchange(MouseEventArgs args)
    {
        Progresscolor = colors[count % 5];
        count += 1;
    }

    public void Example(MouseEventArgs args)
    {

    }
}


<style>
    #control-container {
        padding: 0px !important;
    }

    .textAlign {
        text-align: center;
    }

    .btn-progress-api:hover {
        cursor: pointer;
    }

    .e-btn.e-custom-btn {
        border-radius: 100px;
        height: 40px;
    }
    .e-custom {
        border-radius: 0;
    }
    .btn-progress-api {
        width: fit-content;
        background-color: #3C78EF;
        color: aliceblue;
        font-size: 24px;
        width: auto;
        margin: 20px;
        border-radius: 2%;
        text-align: center;
        padding: 10px;
    }

    .second-height {
        width: 60%;
        margin: auto;
    }

    .third-height {
        width: 40%;
        margin: auto;
    }

    tr {
        height: 70px;
    }
</style>