@page "/progress-bar/Segment"
@using Syncfusion.Blazor.ProgressBar
@inherits SampleBaseComponent;

    <div class="control-section centerAlign">
        <div class="row linear-segment">
            <div class="col-lg-12 col-md-12 col-12 linear-progress">
                <div>
                    <SfProgressBar Type="ProgressType.Linear" Value="100" Width="60%" Height="30px" TrackThickness="10"
                                    SegmentCount="4" SegmentColor="@Segmentcolor0" GapWidth="0.1" ProgressThickness="10" ProgressColor="#ff8c45" Minimum="0" Maximum="100">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                    </SfProgressBar>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 linear-progress">
                <div>
                    <SfProgressBar Type="ProgressType.Linear" Value="100" Width="60%" Height="30px" TrackThickness="10"
                                    CornerRadius="CornerType.Round" SegmentCount="5" SegmentColor="@Segmentcolor1" ProgressThickness="10" ProgressColor="#4940fa" Minimum="0" Maximum="100">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                    </SfProgressBar>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 col-md-12 col-12 circular-main" align="center">
            <div class="col-lg-6 col-md-6 col-6 circular-progress">
                <div>
                    <SfProgressBar Type="ProgressType.Circular" Value="100" Width="90%" Height="200px" TrackThickness="10" EnableRtl="true"
                                    SegmentCount="4" GapWidth="0.1" SegmentColor="@Segmentcolor0" ProgressThickness="10" ProgressColor="#f429ff" Minimum="0" Maximum="100">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                    </SfProgressBar>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6 circular-progress">
                <div>
                    <SfProgressBar Type="ProgressType.Circular" Value="100" Width="90%" Height="200px" TrackThickness="10"
                                    CornerRadius="CornerType.Round" SegmentCount="5" SegmentColor="@Segmentcolor1" ProgressThickness="10" ProgressColor="#b52123" Minimum="0" Maximum="100">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                    </SfProgressBar>
                </div>
            </div>
        </div>
    </div>
        @code{
            String[] Segmentcolor0 = new string[4] { "#47a85c", "#0662c4", "#ed61d6", "#edb761" };
            String[] Segmentcolor1 = new string[5] { "#c0b0f5", "#b39ff5", "#a48cf5", "#8d6ff2", "#7653ed" };
        }
<style>
    #control-container {
        padding: 0px !important;
    }

    .centerAlign {
        text-align: center;
    }

    .circular-progress {
        text-align: center;
    }

    .linear-segment {
        width: 100%;
        margin: auto;
    }

    .linear-progress {
        padding: 2%;
        text-align: center;
    }
</style>