@page "/progress-bar/Size"
@using Syncfusion.Blazor.ProgressBar
@inherits SampleBaseComponent;
<div class="control-section">
    <div class="row linear-parent">
        <div class="col-lg-12 col-md-12 linear-row">
            <diV class="row">
                <div class="col-lg-12 col-md-12 progressbar-label">Tiny</div>
                <div class="col-lg-12 col-md-12">
                    <div class="linear-progress">
                        <div id="tinycontainer">
                            <SfProgressBar Type="ProgressType.Linear" Height="60" Width="90%"
                                            Value="10" Minimum="0" Maximum="100" TrackThickness="4" ProgressThickness="4">
                                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                            </SfProgressBar>
                        </div>
                    </div>
                </div>
            </diV>
        </div>
        <div class="col-lg-12 col-md-12 linear-row">
            <div class="col-lg-12 col-md-12 progressbar-label left-label">Small</div>
            <div class="linear-progress">
                <div id="smallcontainer">
                    <SfProgressBar Type="ProgressType.Linear" Height="60" Width="90%"
                                    Value="20" Minimum="0" Maximum="100" TrackThickness="14" ProgressThickness="14">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                    </SfProgressBar>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 linear-row">
            <div class="col-lg-12 col-md-12 progressbar-label left-label">Medium</div>
            <div class="linear-progress">
                <div id="mediumcontainer">
                    <SfProgressBar Type="ProgressType.Linear" Height="60" Width="90%"
                                    Value="30" Minimum="0" Maximum="100" TrackThickness="24" ProgressThickness="24">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                    </SfProgressBar>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 linear-row">
            <div class="col-lg-12 col-md-12 progressbar-label left-label">Large</div>
            <div class="linear-progress">
                <div id="largecontainer">
                    <SfProgressBar Type="ProgressType.Linear" Height="60" Width="90%"
                                    Value="40" Minimum="0" Maximum="100" TrackThickness="34" ProgressThickness="34">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                    </SfProgressBar>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 linear-row">
            <diV class="row">
                <div class="col-lg-12 col-md-12 progressbar-label">Big</div>
                <div class="col-lg-12 col-md-12">
                    <div class="linear-progress">
                        <div id="bigcontainer">
                            <SfProgressBar Type="ProgressType.Linear" Height="60" Width="90%"
                                            Value="50" Minimum="0" Maximum="100" TrackThickness="44" ProgressThickness="44">
                                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                            </SfProgressBar>
                        </div>
                    </div>
                </div>
            </diV>
        </div>
    </div>
</div>
<style>
    .e-progressbar, #lineardeterminate, #linearindeterminate, #linearbuffer, #linearsegment {
        display: block;
    }

    .e-progressbar {
        overflow: hidden;
    }

    .actual-txt {
        font-size: 14px;
    }

    #control-container {
        padding: 0px !important;
    }

    .replay-progressbar {
        right: 100px;
    }

    .linear-row {
        padding: 2%;
    }

    .linear-parent {
        text-align: center;
    }

    .left-label {
        margin-left: 13.5% !important;
    }

    .progressbar-label {
        text-align: left;
        font-family: Roboto-Regular;
        font-size: 12px;
        color: #3D3E3C;
        letter-spacing: 0;
        margin-top: -2%;
        margin-left: 14.5%;
    }

    .linear-progress {
        width: 80%;
        margin: auto;
    }
</style>