@page "/progress-bar/Thickness"
@using Syncfusion.Blazor.ProgressBar
@inject NavigationManager Navigation
@inherits SampleBaseComponent;

<div class="control-section progress-bar-parent">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-4 progress-container">           
                    <SfProgressBar @ref="ProObj1" Type="ProgressType.Circular" Value="80" Width="160px" Height="160px"
                                    Minimum="0" Maximum="100" Radius="75" InnerRadius="70">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                    </SfProgressBar>
             
        </div>
        @* <div class="col-lg-4 col-md-4 col-4 progress-container">
            <div class="row progress-container-align">
                <div class="col-lg-12 col-md-12 col-12" id="rtl-container">
                    <SfProgressBar @ref="ProObj2" Type="ProgressType.Circular" Value="85" Width="160px" Height="160px"
                                    Minimum="0" Maximum="100" Radius="80" InnerRadius="40" ProgressThickness="80" TrackColor="#ffffff00">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                    </SfProgressBar>
                </div>
            </div>
        </div> *@
        <div class="col-lg-4 col-md-4 col-4 progress-container">
          
                    <SfProgressBar @ref="ProObj3" Type="ProgressType.Circular" Value="90" Width="160px" Height="160px"
                                    Minimum="0" Maximum="100" 
                                    InnerRadius="75">
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                        <ProgressBarAnnotations>
                            <ProgressBarAnnotation Content="<div id='point1' style='font-size:24px;font-weight:bold;color:#0078D6;fill:#0078D6'><span>90%</span></div>" />
                        </ProgressBarAnnotations>
                    </SfProgressBar>
              
        </div>
        <div class="col-lg-4 col-md-4 col-4 progress-container">
            
                    <SfProgressBar @ref="ProObj4" Type="ProgressType.Circular" Value="90" Width="160px" Height="160px"
                                    Minimum="0" Maximum="100"
									TrackThickness="5" ProgressThickness="10" >
                        <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
                    </SfProgressBar>
               
        </div>
    </div>   
</div>
@code{
    SfProgressBar ProObj1, ProObj2, ProObj3, ProObj4;
    public void ProgressRefresh()
    {
        ProObj1.Refresh();      
        ProObj3.Refresh();
        ProObj4.Refresh();
    }

}
    <style>
        #progresspie_Circulartrack {
            fill: #ffffff00;
        }
        #control-container {
            padding: 0px !important;
        }

        .annotaion-pro {
            font-family: Roboto-Regular;
            font-size: 20px;
            color: #1B1C1A;
            letter-spacing: 0.01px;
        }

        .progress-bar-parent {
            margin-top: 8%;
            text-align: center;
        }

        .progress-text {
            display: inline-flex;
            margin: auto;
        }

        .progress-text-align {
            font-family: Roboto-Regular;
            font-size: 12px;
            color: #3D3E3C;
            letter-spacing: 0;
            margin: auto;
        }

        #control-container {
            padding: 0px !important;
        }

        .progress-container-align {
            text-align: center;
        }

        .reload-btn {
            text-align: center;
        }

        #reLoad {
            border-radius: 4px;
            text-transform: capitalize;
        }

        .progress-container {
            /*height: -webkit-fill-available; */
            display: inline-flex;
            margin: auto;
        }

        .e-progressbar {
            margin: auto;
        }
    </style>