@page "/splitter/default-functionalities"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Layouts

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the default functionalities of the <a href="https://www.syncfusion.com/blazor-components/blazor-splitter" aria-label="Feature Tour of Blazor Splitter">Blazor Splitter</a> component with increased pane dimension of and separator (divider) bar size.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The split panes of the Splitter component can be oriented horizontally or vertically using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Layouts.SfSplitter.html#Syncfusion_Blazor_Layouts_SfSplitter_Orientation" aria-label="Class reference of Orientation property in Splitter"><code>Orientation</code></a> property.
    </p>
    <ul>
        <li>Set Orientation property to <code>Horizontal</code> to create horizontal Splitter, which aligns panels left-to-right.</li>
        <li>Set Orientation property to <code>Vertical</code> to create vertical Splitter, which aligns panels top-to-bottom.</li>
    </ul>
    <p>The Splitter allows resizing its panes when the drag separator (divider) bar is used to increase its dimension.</p>
   
   <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/splitter/getting-started/' target='_blank'>Getting Started with Blazor Splitter</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <div class="pane1">
            <div id="pane-heading">Horizontal Splitter</div>
            <SfSplitter CssClass="out-splitter" Height="110px" Width="100%" SeparatorSize="4">
                <SplitterPanes>
                    <SplitterPane Size="25%" Min="60px">
                        <ContentTemplate>
                            <div class='splitter-default-content'><div>Left pane<div id='panetext'>size: 25%</div><div id='panetext'>min: 60px</div></div></div>
                        </ContentTemplate>
                    </SplitterPane>
                    <SplitterPane Size="50%" Min="60px">
                        <ContentTemplate>
                            <div class='splitter-default-content'><div>Middle pane<div id='panetext'>size: 50%</div><div id='panetext'>min: 60px</div></div></div>
                        </ContentTemplate>
                    </SplitterPane>
                    <SplitterPane Size="25%" Min="60px">
                        <ContentTemplate>
                            <div class='splitter-default-content'><div>Right pane<div id='panetext'>size: 25%</div><div id='panetext'>min: 60px</div></div></div>
                        </ContentTemplate>
                    </SplitterPane>
                </SplitterPanes>
            </SfSplitter>
        </div>
        <div class="pane2">
            <div id="pane-heading">Vertical Splitter</div>
            <SfSplitter CssClass="in-splitter" Height="240px" Width="100%" Orientation="Orientation.Vertical" SeparatorSize="4">
                <SplitterPanes>
                    <SplitterPane Size="25%" Min="60px">
                        <ContentTemplate>
                            <div class='splitter-default-content'><div>Top pane<div id='panetext'>size: 30%</div><div id='panetext'>min: 60px</div></div></div>
                        </ContentTemplate>
                    </SplitterPane>
                    <SplitterPane Size="50%" Min="60px">
                        <ContentTemplate>
                            <div class='splitter-default-content'><div>Middle pane<div id='panetext'>size: 45%</div><div id='panetext'>min: 60px</div></div></div>
                        </ContentTemplate>
                    </SplitterPane>
                    <SplitterPane Size="25%" Min="60px">
                        <ContentTemplate>
                            <div class='splitter-default-content'><div>Bottom pane<div id='panetext'>size: 25%</div><div id='panetext'>min: 60px</div></div></div>
                        </ContentTemplate>
                    </SplitterPane>
                </SplitterPanes>
            </SfSplitter>
        </div>
    </div>
</div>



<style>
    #panetext {
        font-size: 11px;
    }

    #pane-heading {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .pane1 {
        margin: 20px auto;
        max-width: 440px;
    }

    .pane2 {
        margin: 20px auto;
        max-width: 440px;
    }

    .control-section {
        min-height: 370px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .out-splitter .e-pane, .in-splitter .e-pane {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: grid;
        height: 100%;
    }

    .material3-dark #pane-heading,
    .material-dark #pane-heading {
        color: #fff;
    }
</style>