@page "/dashboard-layout/default"

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons

@inherits SampleBaseComponent;

<SampleDescription>
    <p>The following sample demonstrates the default functionalities of the Dashboard Layout component.</p>
</SampleDescription>
<ActionDescription>
   <p>The Dashboard Layout component provides the capability to arrange, resize and reorder the panels within the dashboard layout. </p>
</ActionDescription>

<div class="control-section" id="target">
    <div style="padding:5px;text-align: right;">
        <SfButton CssClass="e-btn e-info" Content="Add Panel" @onclick="AddClick"></SfButton>
    </div>
    <SfDashboardLayout @ref="dashboardObject" Columns="5" AllowResizing="true">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Id="one" Column="0" Row="0">
                <ContentTemplate><div class='text-align'>0</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="two" Row="1" Column="0" SizeX=1 SizeY=2>
                <ContentTemplate><div class='text-align'>1</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="three" Row="0" Column="1" SizeX=2 SizeY=2>
                <ContentTemplate><div class='text-align'>2</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="four" Row="2" Column="1" SizeX=1 SizeY=1>
                <ContentTemplate><div class='text-align'>3</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="five" Row="2" Column="2" SizeX=2 SizeY=1>
                <ContentTemplate><div class='text-align'>4</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="six" Row="0" Column="3" SizeX=1 SizeY=1>
                <ContentTemplate><div class='text-align'>5</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="seven" Row="1" Column="3" SizeX=1 SizeY=1>
                <ContentTemplate><div class='text-align'>6</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Id="eight" Row="0" Column="4" SizeX=1 SizeY=3>
                <ContentTemplate><div class='text-align'>7</div></ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code {
    SfDashboardLayout dashboardObject;
    public int Count = 8;

    public async Task AddClick(EventArgs args)
    {
        string ContentValue = this.Count.ToString();
        PanelModel panel = new PanelModel
        {
            Id = this.Count.ToString() + "_layout",
            SizeX = 1,
            SizeY = 1,
            Column = 0,
            Row = 0,
            Content = @<div class='text-align'> @ContentValue </div>
        };
        await dashboardObject.AddPanelAsync(panel);
        this.Count = this.Count + 1;
    }
}

<style>

    .e-dashboardlayout {
        padding: 10px;
    }

    .e-dashboardlayout.e-control .e-panel:hover span {
        display: block;
    }

    .e-dashboardlayout .e-panel .e-panel-container .text-align {
        vertical-align: middle;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    .e-template-icon {
        padding: 10px;
        float: right;
        display: none;
    }

    .text-align {
        line-height: 160px;
    }

    .sb-demo-section .container-fluid {
        background: #E5E5E5;
    }

    .tailwind .sb-demo-section .container-fluid {
        background: #F9FAFB;
    }

</style>