@page "/DashboardLayout/Default"

@using Syncfusion.EJ2.Blazor.Layouts
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "Dashboard Layout";
    SampleBrowser.CurrentControlCategory = "Layouts";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DashboardLayout;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
           The following sample demonstrates the default functionalities of the DashboardLayout component.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The DashboardLayout component provides the capability to arrange, resize and reorder the panels within the dashboard layout.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section" id="target">
    <div style="padding:5px;text-align: right;">
        <EjsButton CssClass="e-btn e-info" Content="Add Panel" @onclick="addClick"></EjsButton>
    </div>
    <EjsDashboardLayout @ref="dashboardObject" Columns="5" AllowResizing="true">
        <ChildContent>
            <div id="one" class="e-panel" data-row="0" data-col="0" data-sizeX="1" data-sizeY="1">
                <div class="e-panel-container">
                    <div class="text-align">0</div>
                </div>
            </div>
            <div id="two" class="e-panel" data-row="1" data-col="0" data-sizeX="1" data-sizeY="2">
                <div class="e-panel-container">
                    <div class="text-align">1</div>
                </div>
            </div>
            <div id="three" class="e-panel" data-row="0" data-col="1" data-sizeX="2" data-sizeY="2">
                <div class="e-panel-container">
                    <div class="text-align">2</div>
                </div>
            </div>
            <div id="four" class="e-panel" data-row="2" data-col="1" data-sizeX="1" data-sizeY="1">
                <div class="e-panel-container">
                    <div class="text-align">3</div>
                </div>
            </div>
            <div id="five" class="e-panel" data-row="2" data-col="2" data-sizeX="2" data-sizeY="1">
                <div class="e-panel-container">
                    <div class="text-align">4</div>
                </div>
            </div>
            <div id="six" class="e-panel" data-row="0" data-col="3" data-sizeX="1" data-sizeY="1">
                <div class="e-panel-container">
                    <div class="text-align">5</div>
                </div>
            </div>
            <div id="seven" class="e-panel" data-row="1" data-col="3" data-sizeX="1" data-sizeY="1">
                <div class="e-panel-container">
                    <div class="text-align">6</div>
                </div>
            </div>
            <div id="eight" class="e-panel" data-row="0" data-col="4" data-sizeX="1" data-sizeY="3">
                <div class="e-panel-container">
                    <div class="text-align">7</div>
                </div>
            </div>
        </ChildContent>
    </EjsDashboardLayout>
</div>

@code {
    EjsDashboardLayout dashboardObject;
    public int Count = 8;

    public void addClick(EventArgs args)
    {
        dashboardObject.AddPanel(new PanelModel
        {
            Id = this.Count.ToString() + "_layout",
            SizeX = 1,
            SizeY = 1,
            Col = 0,
            Row = 0,
            Enabled = true,
            Content = "<div class='text-align'>" + this.Count.ToString() + "</div>"
        });
        this.Count = this.Count + 1;
        this.StateHasChanged();
    }
}

<style>

    .e-dashboardlayout {
        padding: 10px;
    }

    .e-dashboardlayout.e-control .e-panel:hover span {
        display: block;
    }

    .e-dashboardlayout .e-panel .e-panel-container .text-align {
        vertical-align: middle;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    .e-template-icon {
        padding: 10px;
        float: right;
        display: none;
    }

    .text-align {
        line-height: 160px;
    }

    .sb-demo-section .container-fluid {
        background: #E5E5E5;
    }
</style>