@page "/ColorPicker/ColorPickerFor"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@using BlazorDemos
@inject NavigationManager NavigationManager
<PageTitle>Blazor Color Picker Color Picker For Example - Syncfusion Demos</PageTitle>
<HeadContent>
    <meta name="description" content="This example demonstrates the Color Picker For in Blazor Color Picker Component. Explore here for more details." />
    <link rel="canonical" href="@canonicalURL" />
</HeadContent>

@*End:Hidden*@

<div id="default-control">
    <h4>Choose a color</h4>
    @*<EditForm Model="" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />*@
        <SfColorPicker></SfColorPicker>
        @*<ValidationMessage For="@(()=> checkboxModel.checkboxstate)"></ValidationMessage>
    </EditForm>*@
</div>

@code {
    //Hidden:Lines
    private string canonicalURL { get; set; }

    protected override void OnInitialized()
    {
        canonicalURL = NavigationManager.Uri.Split("?")[0];
    }
    //End:Hidden
}

<style>
    #default-control {
        margin: 30px auto;
        padding-top: 50px;
        text-align: center;
    }

        #default-control .row {
            width: 100%;
        }

        #default-control h4 {
            color: rgba(0, 0, 0, 0.64);
            margin-bottom: 20px;
        }

    .highcontrast #default-control h4 {
        color: rgba(255, 255, 255, 0.64);
    }

    .mobile #default-control h4 {
        font-size: 20px;
    }
</style>
