@page "/ColorPicker/ColorPickerFor"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@using BlazorDemos
@inject NavigationManager NavigationManager



@*End:Hidden*@

<div id="default-control">
    <h4>Choose a color</h4>
    @*<EditForm Model="" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />*@
        <SfColorPicker></SfColorPicker>
        @*<ValidationMessage For="@(()=> checkboxModel.checkboxstate)"></ValidationMessage>
    </EditForm>*@
</div>

@code {
    
}

<style>
    #default-control {
        margin: 30px auto;
        padding-top: 50px;
        text-align: center;
    }

        #default-control .row {
            width: 100%;
        }

        #default-control h4 {
            color: rgba(0, 0, 0, 0.64);
            margin-bottom: 20px;
        }

    .highcontrast #default-control h4 {
        color: rgba(255, 255, 255, 0.64);
    }

    .mobile #default-control h4 {
        font-size: 20px;
    }
</style>
