@page "/color-picker/default-functionalities"

@using Syncfusion.Blazor.Inputs
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the default functionalities of the ColorPicker with default colors and predefined styles.</p>
</SampleDescription>
<ActionDescription>
   <p>The <code><a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfColorPicker.html" aria-label="ColorPicker">ColorPicker</a></code> is a user interface to select and adjust color values. This supports various color specifications like RGB(Red Green Blue), HSV (Hue Saturation Value), and Hex codes.</p>
   <p> In this sample, the ColorPicker popup contains picker area, slider to adjust hue and opacity value, input text area, and control buttons.</p>
        <ul>
            <li>Drag the handle in the picker area to select your favorite color.</li>
            <li>You can manually set the color by typing the color values in the input text boxes.</li>
            <li>By clicking the format switching icon at the right side of the input text area, switch between RGB and HSV color value format.</li>
            <li>By clicking the mode switching icon at the left bottom of the popup, switch between picker and palette type.</li>
            <li>Using the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfColorPicker.html#Syncfusion_Blazor_Inputs_SfColorPicker_Value" aria-label="Value">Value</a> property, set the color value to picker and palette initially.</li>
        </ul>
   <p> In mobile mode, the popup opens at the center of the viewport.</p>
   <p> More information about Blazor ColorPicker component can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/color-picker/getting-started/" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

<div class="control-section">
    <div id="default-control">
        <h4>Choose a color</h4>
        <SfColorPicker></SfColorPicker>
    </div>
</div>

<style>
    #default-control {
        margin: 30px auto;
        padding-top: 50px;
        text-align: center;
    }
    #default-control .row {
        width: 100%;
    }
    #default-control h4 {
        margin-bottom: 20px;
    }
    .highcontrast #default-control h4 {
        color: rgba(255, 255, 255, 0.64);
    }
    .material-dark #default-control h4 {
        color: #fff !important;
    }
    .fabric-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap5-dark #default-control h4 {
        color: #fff !important;
    }
    .tailwind-dark #default-control h4 {
        color: #fff !important;
    }
    .mobile #default-control h4 {
        font-size: 20px;
    }
</style>


