@page "/color-picker/default-functionalities"

@using Syncfusion.Blazor.Inputs
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the default functionalities of the ColorPicker with default colors and predefined styles.</p>
    
    <p>The <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfColorPicker.html" aria-label="ColorPicker">ColorPicker</a> is a user interface component used to select and adjust color values. This component supports various color specifications including RGB (Red Green Blue), HSV (Hue Saturation Value), and Hex codes.</p>
    
    <p><b>ColorPicker Features:</b></p>
    <p>The ColorPicker popup contains the following elements:</p>
    <ul>
        <li>Picker area for visual color selection</li>
        <li>Sliders to adjust hue and opacity values</li>
        <li>Input text area for manual color value entry</li>
        <li>Control buttons for apply/cancel actions</li>
    </ul>
    
    <p><b>Interaction Methods:</b></p>
    <ul>
        <li>Drag the handle in the picker area to select your favorite color.</li>
        <li>Manually set the color by typing the color values in the input text boxes.</li>
        <li>Switch between RGB and HSV color value formats by clicking the format switching icon at the right side of the input text area.</li>
        <li>Switch between picker and palette modes by clicking the mode switching icon at the left bottom of the popup.</li>
        <li>Using the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfColorPicker.html#Syncfusion_Blazor_Inputs_SfColorPicker_Value" aria-label="Value">Value</a> property, set the color value to the picker and palette initially.</li>
    </ul>
    
    <p>In mobile mode, the popup opens at the center of the viewport for better accessibility.</p>
    
    <p>More information about Blazor ColorPicker component can be found in this <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/color-picker/getting-started/" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>


<div class="control-section">
    <div id="default-control">
        <h4>Choose a color</h4>
        <SfColorPicker></SfColorPicker>
    </div>
</div>

<style>
    #default-control {
        margin: 30px auto;
        padding-top: 50px;
        text-align: center;
    }
    #default-control .row {
        width: 100%;
    }
    #default-control h4 {
        margin-bottom: 20px;
    }
    .highcontrast #default-control h4 {
        color: rgba(255, 255, 255, 0.64);
    }
    .material-dark #default-control h4 {
        color: #fff !important;
    }
    .fabric-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap5-dark #default-control h4 {
        color: #fff !important;
    }
    .tailwind-dark #default-control h4 {
        color: #fff !important;
    }
    .mobile #default-control h4 {
        font-size: 20px;
    }
</style>