@page "/color-picker/keyboard-navigation"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the keyboard interactions of the ColorPicker component. The various key combinations can be used to interact with ColorPicker.</p>
</SampleDescription>
<ActionDescription>
    <i>The <code><a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfColorPicker.html" aria-label="ColorPicker">ColorPicker</a></code> supports the following keyboard shortcuts to initiate various actions.</i>
    <ul>
        <li>
            <b>Supported keys and user actions</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the demo.</span>
                </li>        
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the handler/tile up from the current position.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the handler/tile down from the current position.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the handler/tile left from the current position.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the handler/tile right from the current position.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Apply the selected color value.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - To focus the next focusable element in the ColorPicker popup.</span>
                </li>
            </ul>
        </li>
    </ul>
    <p>More information about keyboard interaction of Blazor ColorPicker component can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/color-picker/accessibility#keyboard-interaction" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

<div class="control-section">
    <div id="default-control">
        <h4>Choose a color</h4>
        <SfColorPicker></SfColorPicker>
    </div>
</div>

<style>
    #default-control {
        margin: 30px auto;
        padding-top: 50px;
        text-align: center;
    }
    #default-control .row {
        width: 100%;
    }
    #default-control h4 {
        margin-bottom: 20px;
    }
    .highcontrast #default-control h4 {
        color: rgba(255, 255, 255, 0.64);
    }
    .material-dark #default-control h4 {
        color: #fff !important;
    }
    .fabric-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap5-dark #default-control h4 {
        color: #fff !important;
    }
    .tailwind-dark #default-control h4 {
        color: #fff !important;
    }
    .mobile #default-control h4 {
        font-size: 20px;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>

