@page "/color-picker/keyboard-navigation"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the keyboard interactions of the ColorPicker component. The various key combinations can be used to interact with the ColorPicker.</p>
    
    <p>The <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfColorPicker.html" aria-label="ColorPicker">ColorPicker</a> component supports the following keyboard shortcuts to initiate various actions:</p>
    
    <p><b>Supported Keys and User Actions:</b></p>
    <ul>
        <li><span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span> - Focuses on the first component of the demo.</li>
        <li><span class="key-class"><kbd>Up arrow</kbd></span> - Moves the handler/tile up from the current position.</li>
        <li><span class="key-class"><kbd>Down arrow</kbd></span> - Moves the handler/tile down from the current position.</li>
        <li><span class="key-class"><kbd>Left arrow</kbd></span> - Moves the handler/tile left from the current position.</li>
        <li><span class="key-class"><kbd>Right arrow</kbd></span> - Moves the handler/tile right from the current position.</li>
        <li><span class="key-class"><kbd>Enter</kbd></span> - Apply the selected color value.</li>
        <li><span class="key-class"><kbd>Tab</kbd></span> - Focus on the next focusable element in the ColorPicker popup.</li>
    </ul>
    
    <p>More information about keyboard interaction of Blazor ColorPicker component can be found in this <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/color-picker/accessibility#keyboard-interaction" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>


<div class="control-section">
    <div id="default-control">
        <h4>Choose a color</h4>
        <SfColorPicker></SfColorPicker>
    </div>
</div>

<style>
    #default-control {
        margin: 30px auto;
        padding-top: 50px;
        text-align: center;
    }
    #default-control .row {
        width: 100%;
    }
    #default-control h4 {
        margin-bottom: 20px;
    }
    .highcontrast #default-control h4 {
        color: rgba(255, 255, 255, 0.64);
    }
    .material-dark #default-control h4 {
        color: #fff !important;
    }
    .fabric-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap-dark #default-control h4 {
        color: #fff !important;
    }
    .bootstrap5-dark #default-control h4 {
        color: #fff !important;
    }
    .tailwind-dark #default-control h4 {
        color: #fff !important;
    }
    .mobile #default-control h4 {
        font-size: 20px;
    }
    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>