@page "/pdf-viewer/annotations-toolbar"

@*WebAssembly:Block*@
@{ #if WASM }
@using Syncfusion.Blazor.PdfViewer
@{ #endif }
@*End:WebAssembly*@

@*Server:Block*@
@{ #if !(WASM) }
@using Syncfusion.Blazor.PdfViewerServer
@{ #endif }
@*End:Server*@

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the creation of different types of annotations such as Text Markup, Shapes, Measurements, Free text, Stamps, Handwritten signature, ink, and sticky notes in the PDF Viewer. And also we can customize the added annotations or we can include new annotations through user interaction from the PDF Viewer.</p>
</SampleDescription>
<ActionDescription>
@*WASM:Block*@
@{ #if WASM }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/annotation' aria-label="documentation section"> documentation section </a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/annotation' aria-label="documentation section"> documentation section </a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>

<div class="control-section e-pv-exclude-word-wrap">
@*WASM:Block*@
@{ #if (WASM || WEBAPP)}
     <SfPdfViewer @ref="viewer" DocumentPath="@DocumentPath" EnableAnnotationToolbar="true" CommentPanelVisible="true" Height="640px" Width="100%" ServiceUrl="https://blazor.syncfusion.com/services/production/api/pdfviewer">
     </SfPdfViewer>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM || WEBAPP)}
     <SfPdfViewerServer @ref="viewer" DocumentPath="@DocumentPath" EnableAnnotationToolbar="true" CommentPanelVisible="true" Height="640px" Width="100%">
    </SfPdfViewerServer>
@{ #endif }
@*End:Server*@
</div>

@code {
@*Server:Block*@
#if !(WASM || WEBAPP)
    SfPdfViewerServer viewer;
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if (WASM || WEBAPP)
SfPdfViewer viewer;
#endif
@*End:WebAssembly*@
    

@*Server:Block*@
 #if !(WASM || WEBAPP)
    //Sets the PDF document path for initial loading.
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/Annotations.pdf";
 #endif
@*End:Server*@

@*WASM:Block*@
 #if (WASM || WEBAPP)
    //Sets the PDF document path for initial loading.
    private string DocumentPath { get; set; } = "Annotation.pdf";
#endif
@*End:WASM*@

    
}
@*Hidden:Lines*@
<style>
     .e-pv-exclude-word-wrap .e-pdfviewer .e-treeview .e-list-item {
         white-space: nowrap !important;
     }
</style>
@*End:Hidden*@
