@page "/pdf-viewer/annotations-toolbar"

@*WebAssembly:Block*@
@{ #if WASM || WASM_HOSTED }
@using Syncfusion.Blazor.PdfViewer
@{ #endif }
@*End:WebAssembly*@

@*Server:Block*@
@{ #if !(WASM || WASM_HOSTED) }
@using Syncfusion.Blazor.PdfViewerServer
@{ #endif }
@*End:Server*@

@inherits SampleBaseComponent;
@*Hidden:Lines*@
@inject NavigationManager NavigationManager
<PageTitle>Blazor PDF Viewer Annotations Example - Syncfusion Demos</PageTitle>
<HeadContent>
    <meta name="description" content="This example demonstrates the Annotations in Blazor PDF Viewer Component. Explore here for more details." />
    <link rel="canonical" href="@canonicalURL" />
</HeadContent>
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the creation of different types of annotations such as Text Markup, Shapes, Measurements, Free text, Stamps, Handwritten signature, ink, and sticky notes in the PDF Viewer. And also we can customize the added annotations or we can include new annotations through user interaction from the PDF Viewer.</p>
</SampleDescription>
<ActionDescription>
@*WASM:Block*@
@{ #if WASM || WASM_HOSTED }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/annotation'> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM || WASM_HOSTED) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/annotation'> documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>

<div class="control-section">
@*WASM:Block*@
@{ #if WASM}
     <SfPdfViewer @ref="viewer" DocumentPath="@DocumentPath" EnableAnnotationToolbar="true" CommentPanelVisible="true" Height="640px" Width="100%" ServiceUrl="https://blazor.syncfusion.com/services/production/api/pdfviewer">
     </SfPdfViewer>
@{ #endif }
@*End:WASM*@
@*WASM_HOSTED:Block*@
@{ #if WASM_HOSTED }
     <SfPdfViewer @ref="viewer" DocumentPath="@DocumentPath" EnableAnnotationToolbar="true" CommentPanelVisible="true" Height="640px" Width="100%" ServiceUrl="./PdfViewer">
     </SfPdfViewer>
@{ #endif }
@*End:WASM_HOSTED*@

@*Server:Block*@
@{ #if !(WASM || WASM_HOSTED)}     
     <SfPdfViewerServer @ref="viewer" DocumentPath="@DocumentPath" EnableAnnotationToolbar="true" CommentPanelVisible="true" Height="640px" Width="100%">
    </SfPdfViewerServer>
@{ #endif }
@*End:Server*@
</div>

@code {
@*Server:Block*@
#if !(WASM || WASM_HOSTED)
    SfPdfViewerServer viewer;
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if (WASM || WASM_HOSTED)
SfPdfViewer viewer;
#endif
@*End:WebAssembly*@
    

@*Server:Block*@
 #if !(WASM || WASM_HOSTED)
    //Sets the PDF document path for initial loading.
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/Annotations.pdf";
 #endif
@*End:Server*@

@*WASM:Block*@
 #if (WASM)
    //Sets the PDF document path for initial loading.
    private string DocumentPath { get; set; } = "Annotation.pdf";
#endif
@*End:WASM*@

@*WASM_HOSTED:Block*@
 #if (WASM_HOSTED)
    //Sets the PDF document path for initial loading.
    private string DocumentPath { get; set; } = "Annotations.pdf";
#endif
@*End:WASM_HOSTED*@

    //Hidden:Lines
    private string canonicalURL { get; set; }

    protected override void OnInitialized()
    {
        canonicalURL = NavigationManager.Uri.Split("?")[0];
    }
    //End:Hidden
}
