@page "/pdf-viewer/form-filling"

@*WebAssembly:Block*@
@{ #if (WASM || WASM_HOSTED) }
@using Syncfusion.Blazor.PdfViewer
@{ #endif }
@*End:WebAssembly*@

@*Server:Block*@
@{ #if !(WASM || WASM_HOSTED) }
@using Syncfusion.Blazor.PdfViewerServer
@{ #endif }
@*End:Server*@

@inherits SampleBaseComponent;
@*Hidden:Lines*@
@inject NavigationManager NavigationManager
<PageTitle>Blazor PDF Viewer Form Filling Example - Syncfusion Demos</PageTitle>
<HeadContent>
    <meta name="description" content="This example demonstrates the Form Filling in Blazor PDF Viewer Component. Explore here for more details." />
    <link rel="canonical" href="@canonicalURL" />
</HeadContent>
@*End:Hidden*@

<SampleDescription>
    <p>This sample explains the form filling features of PDF Viewer and allows you to edit the form fields, download and print the edited form fields PDF documents.</p>
</SampleDescription>
<ActionDescription>
   <p>The PDF Viewer component is used to edit the form fields, download and print the PDF documents with form fields data.</p>
   <p>In this demo, the PDF Viewer is rendered with PDF form file.</p>
  @*WASM:Block*@
@{ #if (WASM || WASM_HOSTED) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/web-assembly-application/'> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM || WASM_HOSTED) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/server-side-application/'> documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>


<div class="control-section">
@*WASM:Block*@
@{ #if WASM }
     <SfPdfViewer DocumentPath="@DocumentPath" Height="640px" Width="100%" ServiceUrl="https://blazor.syncfusion.com/services/production/api/pdfviewer"></SfPdfViewer>
@{ #endif }
@*End:WASM*@

@*WASM_HOSTED:Block*@
@{ #if WASM_HOSTED }
     <SfPdfViewer DocumentPath="@DocumentPath" Height="640px" Width="100%" ServiceUrl="./PdfViewer"></SfPdfViewer>
@{ #endif }
@*End:WASM_HOSTED*@

@*Server:Block*@
@{ #if !(WASM || WASM_HOSTED) }     
    <SfPdfViewerServer DocumentPath="@DocumentPath" Height="640px" Width="100%"></SfPdfViewerServer>
@{ #endif }
@*End:Server*@
</div>

@code {
   
    //Hidden:Lines
    private string canonicalURL { get; set; }

    protected override void OnInitialized()
    {
        canonicalURL = NavigationManager.Uri.Split("?")[0];
    }
    //End:Hidden
@*Server:Block*@
 #if !(WASM || WASM_HOSTED) 
     private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/form-filling-document.pdf";
 #endif
@*End:Server*@

@*WASM:Block*@
 #if (WASM)
    private string DocumentPath { get; set; } = "FormFillingDocument.pdf";
#endif
@*End:WASM*@

@*WASM_HOSTED:Block*@
 #if (WASM_HOSTED)
    private string DocumentPath { get; set; } = "form-filling-document.pdf";
#endif
@*End:WASM_HOSTED*@
}
