@page "/pdf-viewer/handwritten-signature"

@*WebAssembly:Block*@
@{ #if (WASM || WEBAPP) }
@using Syncfusion.Blazor.PdfViewer
@{ #endif }
@*End:WebAssembly*@

@*Server:Block*@
@{ #if !(WASM || WEBAPP) }
@using Syncfusion.Blazor.PdfViewerServer
@{ #endif }
@*End:Server*@

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the Handwritten signature support of PDF Viewer. The Handwritten signature reduces the paperwork of reviewing the contents and it’s verified it’s digitally.</p>
</SampleDescription>
<ActionDescription>
    <p>In the PDF Viewer component, we can explicitly open the Handwritten signature dialog using the method <code>SetAnnotationMode</code>.</p>
@*WASM:Block*@
@{ #if (WASM) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/web-assembly-application/' aria-label="documentation section" > documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/server-side-application/' aria-label="documentation section" > documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>

<div class="control-section e-pv-exclude-word-wrap">
@*WASM:Block*@
@{ #if (WASM || WEBAPP) }
     <SfPdfViewer @ref="viewer" DocumentPath="@DocumentPath" Height="640px" Width="100%" ServiceUrl="https://blazor.syncfusion.com/services/production/api/pdfviewer">
         <PdfViewerEvents DocumentLoaded="DocumentLoad"></PdfViewerEvents>
     </SfPdfViewer>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM || WEBAPP) }
     <SfPdfViewerServer @ref="viewer" DocumentPath="@DocumentPath" Height="640px" Width="100%">
        <PdfViewerEvents DocumentLoaded="DocumentLoad"></PdfViewerEvents>
    </SfPdfViewerServer>
@{ #endif }
@*End:Server*@
</div>

@code {
    
@*Server:Block*@
#if !(WASM || WEBAPP)
    SfPdfViewerServer viewer;
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if (WASM || WEBAPP)
SfPdfViewer viewer;
#endif
@*End:WebAssembly*@

    public async void DocumentLoad(LoadEventArgs args)
    {
        await viewer.SetAnnotationModeAsync(AnnotationType.HandWrittenSignature);
    }
    

@*Server:Block*@
 #if !(WASM || WEBAPP) 
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/hand-written-signature.pdf";
 #endif
@*End:Server*@

@*WASM:Block*@
 #if (WASM || WEBAPP)
    private string DocumentPath { get; set; } = "HandwrittenSignature.pdf";
#endif
@*End:WASM*@

}
@*Hidden:Lines*@
<style>
     .e-pv-exclude-word-wrap .e-pdfviewer .e-treeview .e-list-item {
         white-space: nowrap !important;
     }
</style>

@*End:Hidden*@