@page "/pdf-viewer/right-to-left"

@*WASM:Block*@
@{ #if WASM }
@using Syncfusion.Blazor.PdfViewer
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !WASM }
@using Syncfusion.Blazor.PdfViewerServer
@{ #endif }
@*End:Server*@

@inherits SampleBaseComponent;

<SampleDescription>
    <p>RTL provides an option to switch the text direction and layout of the PDF Viewer from right to left. It improves the user experiences and accessibility for users who use right-to-left languages (Arabic, Farsi, Urdu, etc.). To enable RTL PDF Viewer, set the EnableRtl to true.</p>
</SampleDescription>
<ActionDescription>
   <p>By default, locale value is en-US. If you want to change the en-US culture to a different culture, you have to change the locale accordingly.</p>
@*WASM:Block*@
@{ #if WASM }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/globalization'> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !WASM }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/globalization'> documentation section</a>.</p>
@{ #endif }
@*End:Server*@

</ActionDescription>

<div class="control-section">

@*WASM:Block*@
@{ #if WASM }
     <SfPdfViewer @ref="viewer" DocumentPath="@DocumentPath" Height="640px" Width="100%" EnableRtl="true" ServiceUrl="/PdfViewer"></SfPdfViewer>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !WASM }
     <SfPdfViewerServer @ref="viewer" DocumentPath="@DocumentPath" Height="640px" Width="100%" EnableRtl="true"></SfPdfViewerServer>
@{ #endif }
@*End:Server*@
</div>

@code {

 @*Server:Block*@
#if !WASM
    SfPdfViewerServer viewer;
#endif
@*End:Server*@

@*WASM:Block*@
#if WASM
SfPdfViewer viewer;
#endif
@*End:WASM*@
@*Server:Block*@

 #if !WASM
    //Sets the PDF document path for initial loading.
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/rtl-text.pdf";
 #endif
@*End:Server*@

@*WASM:Block*@
 #if WASM
    //Sets the PDF document path for initial loading.
    private string DocumentPath { get; set; } = "rtl-text.pdf";
#endif
@*End:WASM*@
}