@page "/circular-gauge/axis-background"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates a circular gauge with an axis and a background image set for the axis.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, you can see how to render and configure the axis in the circular gauge with a background image. To accomplish this, the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeAnnotation.html' aria-label="Class reference of CircularGaugeAnnotation">CircularGaugeAnnotation</a> is used and an image is set as the background content.
    </p>
    <p>More information on the annotations can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/annotations' aria-label="Blazor Circular Gauge Annotation documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section" style="overflow-x:hidden">
    <SfCircularGauge Theme="@Theme" Background="transparent">
        <CircularGaugeAxes>
            <CircularGaugeAxis Radius="80%" StartAngle="0" EndAngle="0">
                <CircularGaugeAxisLabelStyle>
                    <CircularGaugeAxisLabelFont Size="0" />
                </CircularGaugeAxisLabelStyle>
                <CircularGaugeAxisLineStyle Width="0" />
                <CircularGaugeAxisMajorTicks Height="0" />
                <CircularGaugeAxisMinorTicks Height="0" />
                <CircularGaugePointers>
                    <CircularGaugePointer Radius="0%">
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Angle="120" Radius="10%" ZIndex="1">
                        <ContentTemplate>
                            <div>
                                <img src="@(SampleService.WebAssetsPath + "images/circular-gauge/axis-background.png")" alt="Axis Background" height="400" width="400" />
                            </div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="120" Radius="10%" ZIndex="1">
                        <ContentTemplate>
                            <div >
                                <SfCircularGauge Theme="@Theme" Height="450px" Width="600px" Background="transparent">
                                    <CircularGaugeAxes>
                                        <CircularGaugeAxis Radius="60%" StartAngle="0" EndAngle="0" Minimum="0" Maximum="360">
                                            <CircularGaugeAxisLabelStyle HiddenLabel="HiddenLabel.First">
                                                <CircularGaugeAxisLabelFont FontFamily="inherit" Color="white" />
                                            </CircularGaugeAxisLabelStyle>
                                            <CircularGaugeAxisLineStyle Width="0" />
                                            <CircularGaugeAxisMajorTicks Height="15" Interval="30" />
                                            <CircularGaugeAxisMinorTicks Height="10" Interval="6" />
                                            <CircularGaugePointers>
                                                <CircularGaugePointer Value="90" Radius="45%" MarkerWidth="12" MarkerHeight="12" Type="PointerType.Marker" MarkerShape="GaugeShape.Triangle" Color="orange">
                                                    <CircularGaugePointerAnimation Enable="true" Duration="500" />
                                                </CircularGaugePointer>
                                            </CircularGaugePointers>
                                        </CircularGaugeAxis>
                                    </CircularGaugeAxes>
                                </SfCircularGauge>
                            </div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="120" Radius="11%" ZIndex="1">
                        <ContentTemplate>
                            <div style="color:orange;font-size: 18px;"> 90</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
</div>
<style>
    .control-section {
        min-height: 450px;
    }
</style>

@code {
    
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}