@page "/circular-gauge/tooltip"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the tooltip functionality for pointers and ranges in the circular gauge for interactive data inspection.</p>

<p>Tooltip features:</p>
<ul>
  <li>Display tooltips for pointer values on hover or tap</li>
  <li>Display tooltips for range information</li>
  <li>Use <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeTooltipSettings.html" aria-label="Navigate to the class reference of CircularGaugeTooltipSettings">CircularGaugeTooltipSettings</a> for tooltip configuration and customization</li>
  <li>Hover over pointers or ranges to view detailed information</li>
  <li>Tap on touch-enabled devices to trigger tooltip display</li>
</ul>

<p>More information on the tooltip can be found in this <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/circular-gauge/user-interaction/#showing-tooltip-at-mouse-position" aria-label="Navigate to the Blazor Circular Gauge Tooltip documentation">documentation section</a>.</p>
</ActionDescription>


<div class="control-section">
    <SfCircularGauge EnablePointerDrag="true" AnimationDuration="2000" Theme="@Theme" Background="transparent">
        <CircularGaugeTitleStyle Size="15px" Color="grey" FontFamily="inherit" />
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="240" EndAngle="120" Minimum="0" Maximum="120" Radius="90%">
                <CircularGaugeAxisLabelStyle UseRangeColor="true">
                    <CircularGaugeAxisLabelFont FontFamily="inherit"></CircularGaugeAxisLabelFont>
                </CircularGaugeAxisLabelStyle>
                <CircularGaugeAxisLineStyle Width="0" />
                <CircularGaugeAxisMajorTicks Height="10" Offset="-3.7" Color="white" />
                <CircularGaugeAxisMinorTicks Width="0" />
                <CircularGaugePointers>
                    <CircularGaugePointer Value=70 Radius="60%" Color="#33BCBD">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                        <CircularGaugeCap Radius="10">
                            <CircularGaugeCapBorder Color="#33BCBD" Width="5" />
                        </CircularGaugeCap>
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeRanges>
                    <CircularGaugeRange Start="0" End="50" Radius="102%" Color="#3A5DC8" StartWidth="10" EndWidth="10" />
                    <CircularGaugeRange Start="50" End="120" Radius="102%" Color="#33BCBD" StartWidth="10" EndWidth="10" />
                </CircularGaugeRanges>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
        <CircularGaugeTooltipSettings Enable="true" EnableAnimation="false" Type="@Type" ShowAtMousePosition="false" Format="Current Value: {value}">
            <CircularGaugeTooltipTextStyle Size="13px" FontFamily="inherit"></CircularGaugeTooltipTextStyle>
            <CircularGaugeRangeTooltipSettings ShowAtMousePosition="false" Format="Start Value: {start} <br/> End Value: {end}" >
                <CircularGaugeRangeTooltipTextStyle Size="13px" FontFamily="inherit" />
            </CircularGaugeRangeTooltipSettings>
        </CircularGaugeTooltipSettings>
    </SfCircularGauge>
</div>

@code {
    public Theme Theme { get; set; }
    public string[] Type = { "Pointer", "Range" };
    
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}