@page "/sidebar/API"

@using Syncfusion.EJ2.Blazor.Navigations

@inherits SampleBaseComponent

<div class="control-section">
    <div class="col-lg-12 col-sm-12 col-md-12 center">
        Click/Touch the button to view the sample
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 center">
        <a class="e-btn" id="newTab" href="sidebar/SidebarAPI" target="_blank">Open in new tab</a>
    </div>
</div>
<style>
    .center {
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
    }
</style>

