@page "/Sidebar/SidebarWithMenu"

@using Syncfusion.EJ2.Blazor.Navigations

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Sidebar Menu";
    SampleBrowser.CurrentControlName = "Sidebar";
    SampleBrowser.CurrentControlCategory = "Sidebar";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Sidebar;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            Click/Touch the button to view the Sidebar sample in new tab.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This sample demonstrates how to use the Menu component inside the Sidebar for navigation purposes. Initially, the Sidebar renders in the dock state with icons, and expands when the hamburger icon at the top-left corner of the header section is clicked.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <!-- sample level element  -->
    <div class="col-lg-12 col-sm-12 col-md-12 center">
        Click/Touch the button to view the sample
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 center">
        <a class="e-btn" id="newTab" href="Sidebar/SidebarMenu" target="_blank">Open in new tab</a>
    </div>

</div>

<style>
    .center {
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
    }
</style>