@page "/RichTextEditor/Form-Validation"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using System.ComponentModel.DataAnnotations;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Form Validation";
    SampleBrowser.CurrentControlName = "RichTextEditor";
    SampleBrowser.CurrentControlCategory = "RichTextEditor";
    SampleBrowser.CurrentControl = SampleBrowser.Config.RichTextEditor;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample is used to validate form using the <code>Data Annotation</code>. Type the values in RichTextEditor and
        click the button to validate the form.</p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>The form enables the validation with data annotation attributes by clicking on the submit externally. All rules are validated
        by the <code>DataAnnotationsValidator</code>.</p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <div id='content' class='box-form' style="margin: 0 auto; max-width:750px; padding:25px">
            <EditForm Model="@Model" >
                <DataAnnotationsValidator />
                <EjsRichTextEditor ShowCharCount="true" @bind-Value="@Model.Description" MaxLength="100" Placeholder="Type something...">
                </EjsRichTextEditor>
                <ValidationMessage For="@(() => Model.Description)" />
                <div style="text-align: center">
                    <button id="validateSubmit" class="samplebtn e-control e-btn" type="submit" data-ripple="true">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<style>
    .box-form {
        webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
</style>

@code {


    public class FormModel
    {
        [Required]
        [MinLength(20, ErrorMessage = "Please enter at least 20 characters.")]
        public string Description { get; set; }
    }

    public FormModel Model = new FormModel();
}

