@page "/rich-text-editor/iframe-functionalities"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.RichTextEditor

@inherits SampleBaseComponent;
<div class="control-section">
    <SfRichTextEditor ShowCharCount="true">
        <ChildContent>
            <p>Rich Text Editor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p><p><b>Get started Quick Toolbar to click on the image</b></p><p>It is possible to add custom style on the selected image inside the Rich Text Editor through quick toolbar.</p>
            <RichTextEditorIFrameSettings Enable="true"></RichTextEditorIFrameSettings>
            <RichTextEditorToolbarSettings Items="@Tools"></RichTextEditorToolbarSettings>
        </ChildContent>
    </SfRichTextEditor>
</div>

@code {
    public object[] Tools = new object[]{
		"Bold", "Italic", "Underline", "StrikeThrough",
		"FontName", "FontSize", "FontColor", "BackgroundColor",
		"LowerCase", "UpperCase", "SuperScript", "SubScript", '|',
		"Formats", "Alignments", "OrderedList", "UnorderedList",
		"Outdent", "Indent", "|", "CreateTable",
		"CreateLink", "Image", "|", "ClearFormat", "Print",
		"SourceCode", "|", "Undo", "Redo"
	};

}

