@page "/rich-text-editor/inline"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.RichTextEditor

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates the toolbar show on inline mode. Toolbar show while selection on the below editable content and it hide on focus out from edit area.</p>
</SampleDescription>
<ActionDescription>
   <p>The Rich Text Editor provides an option to display toolbar on demand using <code>InlineMode</code> property. Set mode as inline to enable inline editor. The toolbar becomes visible only when the content is selected</p>
</ActionDescription>

<div class="control-section" id="pageHeight">
    <SfRichTextEditor>
        <ChildContent>
            <p>The sample is configured with inline mode of editor. Initially, the editor is rendered without a <a href="https://blazor.syncfusion.com/home/" target='_blank'>toolbar</a>. The toolbar becomes visible only when the content is selected.</p>
            <RichTextEditorToolbarSettings Items="@ToolsForInline"></RichTextEditorToolbarSettings>
            <RichTextEditorInlineMode Enable="true" OnSelection="true"></RichTextEditorInlineMode>
        </ChildContent>        
    </SfRichTextEditor>
</div>

@code {
    private object[] ToolsForInline = new object[] {
        "Bold", "Italic", "Underline","Formats",  "-", "Alignments", "OrderedList", "UnorderedList","CreateLink"
    };
}