@page "/RichTextEditor/Markdown-Custom-Format"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor

@*@inherits RteDf*@


@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Custom Format";
    SampleBrowser.CurrentControlName = "RichTextEditor";
    SampleBrowser.CurrentControlCategory = "RichTextEditor";
    SampleBrowser.CurrentControl = SampleBrowser.Config.RichTextEditor;
    SampleBrowser.ActionDescription = new string[] {
        @"<p> This sample demonstrates how to customize tags of markdown formatting. Type or edit the text and apply the format to view customized markdown syntax. For example, apply “+” to Unordered list. </p>"
    };
    SampleBrowser.Description = new string[] {
        @"    The rich text editor allows you to customize the markdown syntax by overriding its default syntax. Configure the customized
    markdown syntax using the <code>formatter</code>property"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsRichTextEditor Height="250px" Formatter="@Customformat" EditorMode="EditorMode.Markdown">
        <ChildContent>
            The sample is configured with customized markdown syntax using the __formatter__ property. Type the content and click the toolbar item to view customized markdown syntax. For unordered list, you need to add a plus sign before the word (e.g., + list1). Or To make a phrase bold, you need to add two underscores before and after the phrase (e.g., __this text is bold__).
            <RichTextEditorToolbarSettings Items="@Tools"></RichTextEditorToolbarSettings>
        </ChildContent>
    </EjsRichTextEditor>
</div>

@code{

public object[] Tools = new object[]{
        "Bold", "Italic", "StrikeThrough", "|",
        "Formats", "OrderedList", "UnorderedList", "|",
        "CreateLink", "Image", "CreateTable", "|", "Undo", "Redo"
    };

public string Customformat = @"new ej.richtexteditor.MarkdownFormatter({
    listTags: { 'OL': '2. ', 'UL': '+ ' },
    formatTags: {
        'Blockquote': '> '
    },
    selectionTags: { 'Bold': ' __ ', 'Italic': '_' }
})";
}