@page "/rich-text-editor/markdown-overview"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.RichTextEditor

@inherits SampleBaseComponent;

<div class="control-section">
    <SfRichTextEditor Height="250px" Formatter="@Format" EditorMode="EditorMode.Markdown">
        <ChildContent>
            The sample is added to showcase **markdown editing**.

            Type or edit the content and apply formatting to view markdown formatted content.

            We can add our own custom formation syntax for the Markdown formation, [sample link](https://blazor.syncfusion.com/demos/rich-text-editor/markdown-custom-format?theme=bootstrap4).

            The third-party library <b>Marked</b> is used in this sample to convert markdown into HTML content.
            <RichTextEditorToolbarSettings Items="@Tools"></RichTextEditorToolbarSettings>
        </ChildContent>
    </SfRichTextEditor>
</div>

@code{

    public object[] Tools = new object[]{
        "Bold", "Italic", "StrikeThrough", "|",
        "Formats", "OrderedList", "UnorderedList", "|",
        "CreateLink", "Image", "CreateTable", "|", "Undo", "Redo"
    };
	
	public string Format = "new sf.richtexteditor.MarkdownFormatter({ listTags: { 'OL': '1., 2., 3.' } })";
}