@page "/rich-text-editor/markdown-overview"

@using Syncfusion.Blazor.RichTextEditor

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates markdown editing in the Rich Text Editor with complete features.</p>
</SampleDescription>
<ActionDescription>
   <p>The Rich Text Editor supports markdown editing when the <code>EditorMode</code> is set to mode property of the Rich Text Editor</p>
    <ul>
        <li><code>Lists</code> - Ordered and unordered list types.</li>
        <li><code>Links</code> - A hyperlink can be inserted into the editor for quick access to related information.</li>
        <li><code>Image</code> - Inserts and manages images.</li>
        <li><code>Alignment</code> - Aligns the content with left, center, and right margins.</li>
        <li><code>Format</code> – Formats the sentence in different ways such as heading level, quotation, and code snippet</li>
        <li><code>Styles</code> – Allows you to apply inline styles to the selected content like bold, italic, and more.</li>
        <li><code>Tables</code> – Allows you to insert a table with header.</li>
    </ul>
</ActionDescription>

<div class="control-section">
    <SfRichTextEditor Height="250px" EditorMode="EditorMode.Markdown">
        <ChildContent>
            The sample is added to showcase **markdown editing**.

            Type or edit the content and apply formatting to view markdown formatted content.

            We can add our own custom formation syntax for the Markdown formation, [sample link](https://blazor.syncfusion.com/demos/rich-text-editor/markdown-custom-format?theme=bootstrap4).

            The third-party library <b>Marked</b> is used in this sample to convert markdown into HTML content.
            <RichTextEditorToolbarSettings Items="@Tools" />
            <RichTextEditorMarkdownOptions ListSyntax="@ListSyntax" />
        </ChildContent>
    </SfRichTextEditor>
</div>

@code{
    private List<ToolbarItemModel> Tools = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.Bold },
        new ToolbarItemModel() { Command = ToolbarCommand.Italic },
        new ToolbarItemModel() { Command = ToolbarCommand.StrikeThrough },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.Formats },
        new ToolbarItemModel() { Command = ToolbarCommand.OrderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.UnorderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.CreateLink },
        new ToolbarItemModel() { Command = ToolbarCommand.Image },
        new ToolbarItemModel() { Command = ToolbarCommand.CreateTable },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.Undo },
        new ToolbarItemModel() { Command = ToolbarCommand.Redo }
    };

    private Dictionary<string, string> ListSyntax { get; set; } = new Dictionary<string, string>(){
        { "OL", "1., 2., 3." }
    };
}