@page "/RichTextEditor/Markdown-Overview"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor

@inherits SampleBaseComponent;

<div class="control-section">
    <EjsRichTextEditor Height="250px" Formatter="@format" EditorMode="EditorMode.Markdown">
        <ChildContent>
The sample is added to showcase **markdown editing**.

Type or edit the content and apply formatting to view markdown formatted content.

We can add our own custom formation syntax for the Markdown formation, [sample link](http://npmci.syncfusion.com/development/demos/#/material/rte/markdown-editor-custom-format.html).

The third-party library <b>Marked</b> is used in this sample to convert markdown into HTML content.
        <RichTextEditorToolbarSettings Items="@Tools"></RichTextEditorToolbarSettings>
        </ChildContent>
    </EjsRichTextEditor>
</div>

@code{

    public object[] Tools = new object[]{
        "Bold", "Italic", "StrikeThrough", "|",
        "Formats", "OrderedList", "UnorderedList", "|",
        "CreateLink", "Image", "CreateTable", "|", "Undo", "Redo"
    };
	
	public string format = "new ej.richtexteditor.MarkdownFormatter({ listTags: { 'OL': '1., 2., 3.' } })";
}