@page "/RichTextEditor/Print"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Print";
    SampleBrowser.CurrentControlName = "RichTextEditor";
    SampleBrowser.CurrentControlCategory = "RichTextEditor";
    SampleBrowser.CurrentControl = SampleBrowser.Config.RichTextEditor;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates how to print the content of the rich text editor. Click the print command which placed in toolbar of RTE to print the editor's content.</p>"
    };
    SampleBrowser.Description = new string[] {
        @""
};
}
@*End:Hidden*@

<div class="control-section">
    <div class="control-wrapper">
        <div class="control-section">
            <EjsRichTextEditor>
                <ChildContent>
                    <p>The rich text editor component is WYSIWYG ('what you see is what you get') editor that provides the best user experience to create and update the content. Users can format their content using standard toolbar commands.</p><p><b>Key features:</b></p><ul><li><p>Provides <b>IFRAME</b> and <b>DIV</b> modes.</p></li><li><p>Capable of handling markdown editing.</p></li><li><p>Contains a modular library to load the necessary functionality on demand.</p></li><li><p>Provides a fully customizable toolbar.</p></li><li><p>Provides HTML view to edit the source directly for developers.</p></li><li><p>Supports third-party library integration.</p></li><li><p>Allows preview of modified content before saving it.</p></li><li><p>Handles images, hyperlinks, video, hyperlinks, uploads, etc.</p></li><li><p>Contains undo/redo manager.</p></li><li><p>Creates bulleted and numbered lists.</p></li></ul>
                    <RichTextEditorToolbarSettings Items="@Items"></RichTextEditorToolbarSettings>
                </ChildContent>
            </EjsRichTextEditor>
        </div>
    </div>
</div>

@code {    
    public object[] Items = new object[]{
        "Bold", "Italic", "Underline", "|", "Formats", "Alignments",
        "OrderedList", "UnorderedList", "|", "CreateLink", "Image", "|", "SourceCode", "Undo", "Redo", "Print"
    };
}

