@namespace TextToMindMapDiagram
@using Microsoft.AspNetCore.Components.Web

<div id="shortcutDiv" style="width: 400px;height: 475px;padding: 10px;background-color: #fff7b5;border: 1px solid #fff7b5;position: absolute;margin:3px; top: 303px; display: @ShowShortCutKey">
    <div id="closeIconDiv" style="float: right;width: 22px;height: 22px;border: 1px solid #fff7b5;" @onclick="@ShowHideShortcutKey">
        <span class="sf-icon-Close" style="font-size: 10px; cursor: pointer"></span>
    </div>
    <div><span class="db-html-font-medium">Quick shortcuts</span></div>
    <div style="padding-top: 10px">
        <ul>
            <li>
                <span class="db-html-font-medium">Tab : </span><span class="db-html-font-normal">Add a subtopic to the left</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Shift + Tab : </span><span class="db-html-font-normal">Add a subtopic to the right</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Enter : </span><span class="db-html-font-normal">Add a new sibling child</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Delete / Backspace : </span><span class="db-html-font-normal">Delete a topic</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Arrow(Up, Down, Left, Right) : </span><span class="db-html-font-normal">Navigate between topics</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">F2 : </span><span class="db-html-font-normal">Edit a topic</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Esc : </span><span class="db-html-font-normal">End text editing</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Ctrl + B : </span><span class="db-html-font-normal">To make text bold</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Ctrl + I : </span><span class="db-html-font-normal">To make text Italic </span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">Ctrl + U : </span><span class="db-html-font-normal">Underline the text</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">F8 : </span><span class="db-html-font-normal">To Fit the diagram into the viewport</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <span class="db-html-font-medium">F1 : </span><span class="db-html-font-normal">Show/Hide shortcut Key</span>
            </li>
        </ul>
    </div>
</div>

