@page "/PivotTable/Chart"

@using Syncfusion.EJ2.Blazor.PivotView

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_productdetails
@{
    SampleBrowser.CurrentSampleName = "Pivot Chart";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
    This sample demonstrates rendering a pivot chart using pivot data. User can explore the data through drill-up
        and drill-down operations by clicking the grouping labels. The field list can also be used to change the report
        at runtime.
</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
        In this sample, the Pivot Table component plots a chart based on the pivot report bound to it. This can be
        achieved by setting the property <code>View</code> to <code>Chart</code> in <code>PivotViewDisplayOption</code>. The
        built-in options are:</br></br>

        <code>Table</code> - Renders pivot table only, which is the default type.</br>
        <code>Chart</code> - Renders pivot chart only.</br>
        <code>Both</code> - Renders both pivot table and pivot chart.</br>
    </p>
    <p>
        The chart types can be set using the <code>Type</code> property in <code>PivotChartSeries</code> class. The built-in chart
        types
        are:</br>

        <code>Column</code>, <code>Line</code>, <code>Spline</code>, <code>Bar</code>, <code>Area</code>, <code>StepArea</code>, 
        <code>SplineArea</code>, <code>StackingColumn</code>, <code>StackingArea</code>, <code>StackingBar</code>, <code>StepLine</code></br>
        <code>Pareto</code>, <code>Bubble</code>, <code>Scatter</code>, <code>StackingColumn100</code>, <code>StackingBar100</code>, <code>StackingArea100</code>, <code>Polar</code> and 
        <code>Radar</code>.</br></br>


        In the sample, the field list option is enabled, through which you can see the result in the chart by altering
        the report dynamically.
        </br>
    </p>"
};
}
@*End:Hidden*@

        <div class="control-section">
            <div class="content-wrapper">
                <EjsPivotView TValue="ProductDetails" ShowFieldList=true>
                    <PivotViewDataSourceSettings DataSource="@data" ExpandAll=false EnableSorting=true>
                        <PivotViewColumns>
                            <PivotViewColumn Name="Country"></PivotViewColumn>
                            <PivotViewColumn Name="Products"></PivotViewColumn>
                        </PivotViewColumns>
                        <PivotViewRows>
                            <PivotViewRow Name="Year"></PivotViewRow>
                            <PivotViewRow Name="Order_Source"></PivotViewRow>
                        </PivotViewRows>
                        <PivotViewValues>
                            <PivotViewValue Name="Amount"></PivotViewValue>
                        </PivotViewValues>
                        <PivotViewFilters>
                            <PivotViewFilter Name="Product_Categories"></PivotViewFilter>
                        </PivotViewFilters>
                        <PivotViewDrilledMembers>
                            <PivotViewDrilledMember Name="Year" Items="@(new string[] { "FY 2015" })"></PivotViewDrilledMember>
                        </PivotViewDrilledMembers>
                        <PivotViewFormatSettings>
                            <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                        </PivotViewFormatSettings>
                    </PivotViewDataSourceSettings>
                    <PivotViewDisplayOption View=View.Chart></PivotViewDisplayOption>
                    <PivotChartSettings Title="Sales Analysis">
                        <PivotChartSeries Type=ChartSeriesType.Column></PivotChartSeries>
                    </PivotChartSettings>
                </EjsPivotView>
            </div>
        </div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    public List<ProductDetails> data { get; set; }

    protected override void OnInitialized()
    {
        this.data = ProductDetails.GetProductData();
    }

}