@page "/PivotTable/Export"

@using Syncfusion.EJ2.Blazor.PivotView
@using Syncfusion.EJ2.Blazor.Buttons
@inherits SampleBaseComponent;
@using ej2_blazor_samples
@using ej2_blazor_productdetails

<div class="control-section">
    <div class="content-wrapper">
        <div style="height:32px">
            <EjsButton IsPrimary="true" OnClick="excelexport">Excel Export</EjsButton>  <EjsButton OnClick="pdfexport" IsPrimary="true">Pdf Export</EjsButton> <EjsButton IsPrimary="true" OnClick="csvexport">Csv Export</EjsButton>
        </div>
        <EjsPivotView TValue="PivotProductDetails" @ref="pivot" AllowPdfExport="true" AllowExcelExport="true">
            <PivotViewDataSourceSettings DataSource="@data" ExpandAll=false EnableSorting=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Quarter"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                    <PivotViewFormatSetting Name="Sold" Format="N" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
        </EjsPivotView>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    EjsPivotView<PivotProductDetails> pivot;
    public List<PivotProductDetails> data { get; set; }

    protected override void OnInitialized()
    {
        this.data = PivotProductDetails.GetProductData();
    }

    public void pdfexport(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        pivot.PdfExport();
    }
    public void excelexport(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        pivot.ExcelExport();
    }
    public void csvexport(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        pivot.CsvExport();
    }
}