@page "/PivotTable/FieldList"

@using Syncfusion.EJ2.Blazor.PivotView
@using ej2_blazor_samples
@using ej2_blazor_productdetails

@inherits SampleBaseComponent;
<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView ID="pivotview" TValue="PivotProductDetails" @ref="pivotView" Height="530">
            <PivotViewEvents TValue="PivotProductDetails" EnginePopulated="pivotenginepopulated"></PivotViewEvents>
        </EjsPivotView>
        <EjsPivotFieldList TValue="PivotProductDetails" ID="fieldlist" @ref="fieldList" AllowCalculatedField="true" RenderMode="Mode.Fixed">
            <PivotFieldListDataSourceSettings DataSource="@data" EnableSorting=true AllowLabelFilter="true" AllowValueFilter="true">
                <PivotFieldListColumns>
                    <PivotFieldListColumn Name="Year"></PivotFieldListColumn>
                    <PivotFieldListColumn Name="Quarter"></PivotFieldListColumn>
                </PivotFieldListColumns>
                <PivotFieldListRows>
                    <PivotFieldListRow Name="Country"></PivotFieldListRow>
                    <PivotFieldListRow Name="Products"></PivotFieldListRow>
                </PivotFieldListRows>
                <PivotFieldListValues>
                    <PivotFieldListValue Name="Sold" Caption="Unit Sold"></PivotFieldListValue>
                    <PivotFieldListValue Name="Amount" Caption="Sold Amount"></PivotFieldListValue>
                </PivotFieldListValues>
            </PivotFieldListDataSourceSettings>
            <PivotFieldListEvents TValue="PivotProductDetails" EnginePopulated="enginepopulated"></PivotFieldListEvents>
        </EjsPivotFieldList>
    </div>
</div>

<style>
    #pivotview {
        width: 57% !important;
        height: 100%;
    }

    #pivotfieldlist {
        width: 41% !important;
        height: 100%;
    }

    .e-pivotview {
        float: left;
        width: 57% !important;
    }

    .e-pivotfieldlist {
        float: right;
        width: 42% !important;
    }

        .e-pivotfieldlist .e-static {
            width: 100% !important;
        }

    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{
    EjsPivotFieldList<PivotProductDetails> fieldList;
    EjsPivotView<PivotProductDetails> pivotView;

    public List<PivotProductDetails> data { get; set; }

    protected override void OnInitialized()
    {
        this.data = PivotProductDetails.GetProductData();
    }
    public void pivotenginepopulated(EnginePopulatedEventArgs args)
    {
        this.fieldList.Update(this.pivotView);
    }
    public void enginepopulated(EnginePopulatedEventArgs args)
    {
        this.fieldList.UpdateView(this.pivotView);
    }
}