@page "/PivotTable/HyperLink"

@using Syncfusion.EJ2.Blazor.PivotView

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "HyperLink";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>This sample demonstrates showing hyperlink options in row headers, column headers, value cells, and summary cells
        in the pivot table. Also, hyperlink options can be enabled for specific headers and value cells based on the
        applied condition.</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
    In this sample, hyperlinks are enabled in cells based on the options selected from the <b>PivotViewHyperlinkSettings</b>
<p>The available modes are:</p>
    <ul>
        <li><code>ShowHyperlink</code> - Allows to set the visibility of hyperlink to all cells.</li>
        <li><code>ShowColumnHeaderHyperlink</code> - Allows to set the visibility of hyperlink to column headers.</li>
        <li><code>ShowRowHeaderHyperlink</code> - Allows to set the visibility of hyperlink to row headers.</li>
        <li><code>ShowSummaryCellHyperlink</code> - Allows to set the visibility of hyperlink to summary cells.</li>
        <li><code>ShowValueCellHyperlink</code> - Allows to set the visibility of hyperlink to value cells.</li>
    </ul>
</p>"
};
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView Width="100%" Height="340" ShowFieldList=true>
            <PivotViewDataSourceSettings DataSource="@data" ExpandAll=false EnableSorting=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Products"></PivotViewColumn>
                    <PivotViewColumn Name="Country"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Year"></PivotViewRow>
                    <PivotViewRow Name="Quarter"></PivotViewRow>

                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount" Type=SummaryTypes.Sum></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
                <PivotViewDrilledMembers>
                    <PivotViewDrilledMember Name="Country" Items="@(new string[] { " France" })"></PivotViewDrilledMember>
                </PivotViewDrilledMembers>
            </PivotViewDataSourceSettings>
            <PivotViewHyperlinkSettings ShowRowHeaderHyperlink=true CssClass="e-custom-class">
            </PivotViewHyperlinkSettings>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
        </EjsPivotView>
    </div>
</div>

<style>
    .e-custom-class {
        text-decoration: underline;
    }

    .e-custom-class:hover {
        color: red;
        text-decoration: none;
    }
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    static PivotViewData pivotData = new PivotViewData();

    private List<PivotViewData.Pivot_Data> data = pivotData.GetPivot_Data();

    }
