@page "/PivotTable/HyperLink"

@using Syncfusion.EJ2.Blazor.PivotView
@inherits SampleBaseComponent;
@using ej2_blazor_samples
@using ej2_blazor_productdetails


<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView TValue="PivotProductDetails">
            <PivotViewDataSourceSettings DataSource="@data" ExpandAll=false EnableSorting=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Products"></PivotViewColumn>
                    <PivotViewColumn Name="Country"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Year"></PivotViewRow>
                    <PivotViewRow Name="Quarter"></PivotViewRow>

                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
            <PivotViewHyperlinkSettings ShowRowHeaderHyperlink=true ShowColumnHeaderHyperlink="true" CssClass="e-custom-class">
            </PivotViewHyperlinkSettings>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
            <PivotViewEvents TValue="PivotProductDetails" HyperlinkCellClicked="hyperlinkclick"></PivotViewEvents>
        </EjsPivotView>
    </div>
</div>

<style>
    .e-custom-class {
        text-decoration: underline !important;
    }

        .e-custom-class:hover {
            color: red !important;
            text-decoration: none;
        }

    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    public List<PivotProductDetails> data { get; set; }

    protected override void OnInitialized()
    {
        this.data = PivotProductDetails.GetProductData();
    }

    public void hyperlinkclick(HyperCellClickEventArgs args)
    {
        args.Cancel = false;
        args.CurrentCell.SetAttribute("data-url", "https://www.google.com/");
    }

}
