@page "/PivotTable/LabelFiltering"

@using Syncfusion.EJ2.Blazor.PivotView

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Label Filtering";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
    This sample demonstrates filtering row and column headers based on their text. The different conditions that can
        be applied to the text are equals, begins with, ends with, contains, etc.
</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
    Label filtering can be applied either through code-behind or UI. To achieve this in code-behind, use the
            <code>PivotViewFilterSettings</code> object in the pivot table along with the following properties.
        </p>

    <ul>
        <li><code>Name :</code> - Specifies the normal field.</li>
        <li><code>Type :</code> - Specifies the filter type and it should be 'Label' in this scenario.</li>
        <li><code>Condition :</code> - Specifies the operator type like equals, greater than, less than, etc.</li>
        <li><code>Value1 :</code> - Gets the text to view the filter result. </li>
        <li><code>Value2 :</code> - For conditions like 'between' and 'not between', this option will be enabled. Enter both start and end
                text to view the filter result.</li>
    </ul>"
};
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView Width="100%" Height="400" ShowGroupingBar=true>
            <PivotViewDataSourceSettings DataSource="@data" ExpandAll=false  EnableSorting=true AllowLabelFilter=true AllowValueFilter=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Quarter"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
                <PivotViewFilterSettings>
					<PivotViewFilterSetting Name="Year" Type=Syncfusion.EJ2.Blazor.PivotView.FilterType.Label Condition=Operators.DoesNotEquals Value1= "FY 2017"></PivotViewFilterSetting>
				</PivotViewFilterSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
        </EjsPivotView>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    static PivotViewData pivotData = new PivotViewData();

    private List<PivotViewData.Pivot_Data> data = pivotData.GetPivot_Data();
   
}