@page "/PivotTable/LocalData"

@using Syncfusion.EJ2.Blazor.PivotView


@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_groupdata
@{
    SampleBrowser.CurrentSampleName = "Local Data";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
     This sample demonstrates basic rendering of the pivot table bound to JSON data extracted from a local file.
</p>"
};
    SampleBrowser.Description = new string[] {
@" <p>The pivot table supports JSON data source. The
        <code>dataSourceSettings->dataSource</code> property can be assigned with the JSON data to populate the pivot table.</p>
    <p>In this demo, the JSON data is assigned from an external file.</p>"
};
}
@*End:Hidden*@
@{var range = 4;}
@{ var grouping = new string[] { "Years", "Months", "Days" };}

    <div class="control-section">
        <div class="content-wrapper">
            <EjsPivotView TValue="GroupData" Width="100%" Height="340">
                <PivotViewDataSourceSettings DataSource="@dataSource" ExpandAll=true EnableSorting=true>
                    <PivotViewColumns>
                        <PivotViewColumn Name="EnerType" Caption="Energy Type"></PivotViewColumn>
                        <PivotViewColumn Name="EneSource" Caption="Energy Source"></PivotViewColumn>
                    </PivotViewColumns>
                    <PivotViewRows>
                        <PivotViewRow Name="Year" Caption="Production Year"></PivotViewRow>
                        <PivotViewRow Name="HalfYear" Caption="Half Year"></PivotViewRow>
                    </PivotViewRows>
                    <PivotViewValues>
                        <PivotViewValue Name="PowUnits" Caption="Units (GWh)"></PivotViewValue>
                        <PivotViewValue Name="ProCost" Caption="Cost (MM)"></PivotViewValue>
                    </PivotViewValues>
                    <PivotViewFormatSettings>
                        <PivotViewFormatSetting Name="ProCost" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                    </PivotViewFormatSettings>
                </PivotViewDataSourceSettings>
                <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
            </EjsPivotView>
        </div>
    </div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    public List<GroupData> dataSource { get; set; }
    protected override void OnInitialized()
    {
        this.dataSource = GroupData.GetGroupData();
    }


}