@page "/PivotTable/MemberFiltering"

@using Syncfusion.EJ2.Blazor.PivotView

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Filtering";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
    This sample demonstrates filtering row and column headers either by including or excluding them from the pivot table.
</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
    Member filtering can be applied either through code-behind or UI. To achieve this in code-behind, use the
            <code>PivotViewFilterSettings</code> object in the pivot table along with the following properties.
        </p>

    <ul>
        <li><code>Name :</code> - Specifies the normal field.</li>
        <li><code>Type :</code> - Specifies the filter type and it should be 'Include' or 'Exclude' in this scenario.</li>
        <li><code>Items :</code> - Specifies the fields to be include or excluded.</li>
    </ul>"
};
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView Width="100%" Height="400" ShowGroupingBar=true>
            <PivotViewDataSourceSettings DataSource="@data" ExpandAll=false  EnableSorting=true >
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Quarter"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
                <PivotViewFilterSettings>
					<PivotViewFilterSetting Name="Year" Type=Syncfusion.EJ2.Blazor.PivotView.FilterType.Exclude Items="@(new string[] { "FY 2015" })"></PivotViewFilterSetting>
				</PivotViewFilterSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="140"></PivotViewGridSettings>
        </EjsPivotView>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    static PivotViewData pivotData = new PivotViewData();

    private List<PivotViewData.Pivot_Data> data = pivotData.GetPivot_Data();
   
}