@page "/PivotTable/OLAP"

@using Syncfusion.EJ2.Blazor.PivotView
@inherits SampleBaseComponent;
@using ej2_blazor_samples
@using ej2_blazor_productdetails

<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView TValue="PivotProductDetails" ShowGroupingBar="true" Height="400" ShowFieldList=true ShowToolbar=true Toolbar="@olap" AllowConditionalFormatting=true AllowPdfExport=true AllowExcelExport=true>
            <PivotViewDisplayOption Primary=Primary.Table View=View.Both></PivotViewDisplayOption>
            <PivotViewDataSourceSettings TValue="PivotProductDetails" ProviderType="ProviderType.SSAS" Catalog="Adventure Works DW 2008 SE" Cube="Adventure Works" Url="https://bi.syncfusion.com/olap/msmdpump.dll" LocaleIdentifier="1033" EnableSorting="true">
                <PivotViewColumns>
                    <PivotViewColumn Name="[Product].[Product Categories]" Caption="Product Category"></PivotViewColumn>
                    <PivotViewColumn Name="[Measures]" Caption="Measure"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="[Customer].[Customer Geography]" Caption="Customer Geography"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="[Measures].[Customer Count]" Caption="Customer Count"></PivotViewValue>
                    <PivotViewValue Name="[Measures].[Internet Sales Amount]" Caption="Internet Sales Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="[Date].[Fiscal]" Caption="Date Fiscal"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFilterSettings>
                    <PivotViewFilterSetting Name="[Date].[Fiscal]" Items="items" LevelCount="3"></PivotViewFilterSetting>
                </PivotViewFilterSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="160"></PivotViewGridSettings>
            <PivotChartSettings>
                <PivotChartPrimaryYAxis>
                    <PivotChartPrimaryYAxisBorder Width="0"></PivotChartPrimaryYAxisBorder>
                </PivotChartPrimaryYAxis>
            </PivotChartSettings>
        </EjsPivotView>
    </div>
</div>


<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{
    public List<ToolbarItems> olap = new List<ToolbarItems> {
        ToolbarItems.Grid,
        ToolbarItems.Chart,
        ToolbarItems.MDX,
        ToolbarItems.Export,
        ToolbarItems.SubTotal,
        ToolbarItems.GrandTotal,
        ToolbarItems.ConditionalFormatting,
        ToolbarItems.FieldList
    };
    public int levelCount = 3;
    public string[] items = new string[] { "[Date].[Fiscal].[Fiscal Quarter].&[2002]&[4]", "[Date].[Fiscal].[Fiscal Year].&[2005]" };
    public List<PivotProductDetails> data { get; set; }

    protected override void OnInitialized()
    {
        this.data = PivotProductDetails.GetProductData();
    }
}