@page "/PivotTable/RemoteData"

@using Syncfusion.EJ2.Blazor.PivotView
@using Syncfusion.EJ2.Blazor.Data
@inherits SampleBaseComponent;


<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView TValue="PivotProductDetails" Height="340">
            <PivotViewDataSourceSettings TValue="PivotProductDetails" ExpandAll=true EnableSorting=true>
                <EjsDataManager Url="https://bi.syncfusion.com/northwindservice/api/orders" Adaptor="@Syncfusion.EJ2.Blazor.Adaptors.WebApiAdaptor"></EjsDataManager>
                <PivotViewColumns>
                    <PivotViewColumn Name="ProductName"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="ShipCountry"></PivotViewRow>
                    <PivotViewRow Name="ShipCity"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Quantity" Caption="Quantity"></PivotViewValue>
                    <PivotViewValue Name="UnitPrice" Caption="Unit Price"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="UnitPrice" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                    <PivotViewFormatSetting Name="Quantity" Format="N" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
        </EjsPivotView>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    public class PivotProductDetails
    {
        public int Quantity { get; set; }
        public double UnitPrice { get; set; }
        public string ProductName { get; set; }
        public string ShipCountry { get; set; }
        public string ShipCity { get; set; }
    }


}