@page "/PivotTable/RemoteData"

@using Syncfusion.EJ2.Blazor.PivotView
@using Syncfusion.EJ2.Blazor.Data

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Remote Data";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
    @"<p>This sample demonstrates basic rendering of the pivot table bound to JSON data pulled from a remote server.</p>"
    };
    SampleBrowser.Description = new string[] {
    @"<p>The pivot table supports JSON data source. The
        <code>DataSource</code> property in <code>PivotViewDataSourceSettings</code> can be assigned with the result of DataManager to bind remote data.</p>
    The
    <code>EjsDataManager</code>, which will act as an interface between the service endpoint and the pivot table, will require the below minimal
    information to interact with service endpoint properly.
    <ul>
        <li>
            <code>EjsDataManager->Url</code> - Defines the service endpoint to fetch data.</li>
        <li>
            <code>EjsDataManager->Adaptor</code> - Defines the adaptor option. Here,
            <code>WebApiAdaptor</code> is used for remote binding.</li>
    </ul>
    In this demo, remote data is bound by assigning service data as an instance of
    <code>DataManager</code> to the
    <code>DataSource</code> property in <code>PivotViewDataSourceSettings</code>."
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="content-wrapper">
        <EjsPivotView TValue="ProductDetails" Height="340">
            <PivotViewDataSourceSettings TValue="ProductDetails" ExpandAll=true EnableSorting=true>
                <EjsDataManager Url="https://bi.syncfusion.com/northwindservice/api/orders" Adaptor="@Syncfusion.EJ2.Blazor.Adaptors.WebApiAdaptor"></EjsDataManager>
                <PivotViewColumns>
                    <PivotViewColumn Name="ProductName"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="ShipCountry"></PivotViewRow>
                    <PivotViewRow Name="ShipCity"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Quantity" Caption="Quantity"></PivotViewValue>
                    <PivotViewValue Name="UnitPrice" Caption="Unit Price"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="UnitPrice" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                    <PivotViewFormatSetting Name="Quantity" Format="N" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
        </EjsPivotView>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }
</style>

@code{

    public class ProductDetails
    {
        public int Quantity { get; set; }
        public double UnitPrice { get; set; }
        public string ProductName { get; set; }
        public string ShipCountry { get; set; }
        public string ShipCity { get; set; }
    }


}