@page "/PivotTable/UserInteraction"

@using Syncfusion.EJ2.Blazor.PivotView

@inject HttpClient Http;
@inject IJSRuntime JsRuntime;
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "User Interaction";
    SampleBrowser.CurrentControlName = "PivotTable";
    SampleBrowser.CurrentControlCategory = "PivotTable";
    SampleBrowser.CurrentControl = SampleBrowser.Config.PivotTable;
    SampleBrowser.ActionDescription = new string[] {
@"<p>
    This sample demonstrates the grouping bar and field list feature of the pivot table. In the sample, fields are automatically populated
    from the bound data source, and it can be used to create a pivot table at runtime.
</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>The pivot table provides a built-in field list very similar to Microsoft Excel. The top section of the
        field list
        allows the user to add and remove fields. The bottom section of the field list allows the user to rearrange the
        fields
        between different axes, including column, row, value, and filter along with filter and sort options.
        <br>
        <br> To show the field list independently, create as separate component namely
        <code>PivotFieldList</code> and assign JSON data source to its
        <code>dataSourceSettings->dataSource</code> property. Simultaneously pivotgrid will be populated by passing its instance in
        the updateView method, inside the
        <code>enginePopulated</code> event of field list.
        <br />
        <br />
        Additionally, user interface for calculated field, label filter, and value filter features have been enabled in
        this demo by setting the properties
        <code>AllowCalculatedField</code>,
        <code>DataSourceSettings->AllowLabelFilter</code> and <code>DataSourceSettings->AllowValueFilter</code> to true.
    </p>"
};
}
@*End:Hidden*@
    <div class="control-section">
        <div class="content-wrapper">
            <EjsPivotView ID="pivotview" Width="100%" Height="300" AllowDeferLayoutUpdate=true>
                </EjsPivotView>
                <EjsPivotFieldList ID="pivotfieldlist" RenderMode=Syncfusion.EJ2.Blazor.PivotView.Mode.Fixed AllowCalculatedField=true AllowDeferLayoutUpdate=true>
                    <PivotFieldListDataSourceSettings DataSource="@data" ExpandAll=false EnableSorting=true>
                        <PivotFieldListColumns>
                            <PivotFieldListColumn Name="Year"></PivotFieldListColumn>
                            <PivotFieldListColumn Name="Order_Source"></PivotFieldListColumn>
                        </PivotFieldListColumns>
                        <PivotFieldListRows>
                            <PivotFieldListRow Name="Country"></PivotFieldListRow>
                            <PivotFieldListRow Name="Products"></PivotFieldListRow>
                        </PivotFieldListRows>
                        <PivotFieldListValues>
                            <PivotFieldListValue Name="In_Stock" Caption="In Stock"></PivotFieldListValue>
                            <PivotFieldListValue Name="Sold" Caption="Units Sold"></PivotFieldListValue>
                            <PivotFieldListValue Name="Amount" Caption="Sold Amount"></PivotFieldListValue>
                        </PivotFieldListValues>
                        <PivotFieldListFilters>
                            <PivotFieldListFilter Name="Product_Categories" Caption="Product Categories"></PivotFieldListFilter>
                        </PivotFieldListFilters>
                    </PivotFieldListDataSourceSettings>
                </EjsPivotFieldList>
        </div>
    </div>

    <style>
        #pivotview {
            width: 58%;
            height: 100%;
        }

        #pivotfieldlist {
            width: 42%;
            height: 100%;
        }

        .e-pivotview {
            float: left;
        }

        .e-pivotfieldlist {
            float: right;
        }

        .e-pivotfieldlist .e-static {
            width: 100% !important;
        }
        .e-pivotview {
            min-height: 200px;
        }
    </style>

    @code{

        static PivotViewData pivotData = new PivotViewData();

        private List<PivotViewData.Pivot_Data> data = pivotData.GetPivot_Data();

        private async void OnAfterRender(object args)
        {
            await JsRuntime.InvokeAsync<bool>
           ("onAfterRender");
        }
    }