@page "/rich-text-editor/inline"
@using Syncfusion.Blazor.RichTextEditor
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the toolbar shown in inline mode. The toolbar will appear when you select the below editable content and it will hide when you focus out from the edit area.</p>
</SampleDescription>
<ActionDescription>
   <p>The <a href="https://www.syncfusion.com/blazor-components/blazor-wysiwyg-rich-text-editor" aria-label="Feature Tour of Blazor Rich Text Editor">Blazor Rich Text Editor</a> provides an option to display toolbar on demand by setting <code>Enable</code> property of <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.RichTextEditorInlineMode.html" aria-label="Class reference of RichTextEditorInlineMode">RichTextEditorInlineMode</a>.
   The commands displayed in inline toolbar can be customized by setting <code>Items</code> property of <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.RichTextEditorToolbarSettings.html" aria-label="Class reference of RichTextEditorToolbarSettings">RichTextEditorToolbarSettings</a>.
   </p>
   <i>The key combinations listed below can be used in the rich text editor to initiate various actions.</i>
   <ul>
        <li>
            <b>FORMATTING</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>B</kbd></span>
                    <span> - Applies bold formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>I</kbd></span>
                    <span> - Applies italic formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>U</kbd></span>
                    <span> - Applies to underline formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>S</kbd></span>
                    <span> - Applies strikethrough formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>]</kbd></span>
                    <span> - Increases the indent.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>[</kbd></span>
                    <span> - Decreases the indent.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>U</kbd></span>
                    <span> - Changes the texts as uppercase.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>L</kbd></span>
                    <span> - Changes the texts as lowercase.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>=</kbd></span>
                    <span> - Applies superscript formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>=</kbd></span>
                    <span> - Applies subscript formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>O</kbd></span>
                    <span> - Applies ordered list formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>O</kbd></span>
                    <span> - Applies unordered list formatting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd></span>
                    <span> - Clears the formats from the selection.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>ALIGNMENTS</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>E</kbd></span>
                    <span> - Aligns contents into the center.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>J</kbd></span>
                    <span> - Aligns contents into justify full.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>L</kbd></span>
                    <span> - Aligns contents into left.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>R</kbd></span>
                    <span> - Aligns contents into right.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>CLIPBOARD ACTION</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>C</kbd></span>
                    <span> - Copies the selected content from the editor.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>X</kbd></span>
                    <span> - Cuts the selected content from the editor.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>V</kbd></span>
                    <span> - Pastes the content into the editor.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>INSERT</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>K</kbd></span>
                    <span> - Opens the insert link dialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>I</kbd></span>
                    <span> - Opens the insert image dialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>E</kbd></span>
                    <span> - Opens the insert table dialog.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>UNDO/REDO</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Z</kbd></span>
                    <span> - Performs the undo action.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Y</kbd></span>
                    <span> - Performs the redo action.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>FULLSCREEN</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>F</kbd></span>
                    <span> - Enters full-screen mode.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc</kbd></span>
                    <span> - Exits from the full-screen mode.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>SOURCE CODE VIEW</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>H</kbd></span>
                    <span> - Shows the HTML source.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section" id="pageHeight">
    <SfRichTextEditor>
        <p>The sample is configured with the inline mode of the editor. Initially, the editor is rendered without a <a href="https://blazor.syncfusion.com/home/" target='_blank' aria-label="Blazor Syncfusion Samples Demo">toolbar</a>. The toolbar becomes visible only when the content is selected.</p>
        <RichTextEditorToolbarSettings Items="@ToolsForInline" />
        <RichTextEditorInlineMode Enable="true" ShowOnSelection="true" /> 
    </SfRichTextEditor>
</div>

@code {
    
    private List<ToolbarItemModel> ToolsForInline = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.Bold },
        new ToolbarItemModel() { Command = ToolbarCommand.Italic },
        new ToolbarItemModel() { Command = ToolbarCommand.Underline },
        new ToolbarItemModel() { Command = ToolbarCommand.Formats },
        new ToolbarItemModel() { Command = ToolbarCommand.HorizontalSeparator },
        new ToolbarItemModel() { Command = ToolbarCommand.Alignments },
        new ToolbarItemModel() { Command = ToolbarCommand.OrderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.UnorderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.CreateLink }
    };
}

@*Hidden:Lines*@
<style>
    .key-class {
        display: inline-block;
        width: 190px;
    }
    .e-bigger .sb-mobile-footer{
        z-index: 0;
    }
</style>
@*End:Hidden*@