@page "/rich-text-editor/resize-editor"
@using Syncfusion.Blazor.RichTextEditor
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the resize operation of the Rich Text Editor control. To resize the rich text editor, drag a resize handle at the bottom right corner of the component.</p>
</SampleDescription>
<ActionDescription>
   <p>Rich Text Editor shows resize handle when setting the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.SfRichTextEditor.html#Syncfusion_Blazor_RichTextEditor_SfRichTextEditor_EnableResize" aria-label="Class reference of EnableResize property in Rich Text Editor">EnableResize</a> property to <code>true</code>, which allows users to change the size of the editor as needed.</p>
</ActionDescription>

<div class="control-section resize">
    <SfRichTextEditor EnableResize="true" Height="250px">
        <p>
            The Rich Text Editor component is a WYSIWYG ("what you see is what you get") editor that provides the best user experience to create and update the content.
            Users can format their content using standard toolbar commands.
        </p>
    </SfRichTextEditor>
</div>


<style>
    .e-richtexteditor {
        max-width: 880px;
        min-width: 250px;
        min-height: 250px;
        max-height: 400px;
    }
    .control-section.resize .e-popup.e-popup-open.e-dialog {
        max-height: 410px !important;
    }
</style>