@page "/Gantt/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor.Gantt
@using ej2_blazor_samples
@using ej2_blazor_ganttdata

@inherits SampleBaseComponent;

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGantt DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true" ProjectStartDate="03/24/2019" ProjectEndDate="07/06/2019">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 Dependency="Predecessor" Child="SubTasks"></GanttTaskFields>
                <GanttEventMarkers>
                    <GanttEventMarker Day="04/09/2019" Label="Research phase"></GanttEventMarker>
                    <GanttEventMarker Day="04/30/2019" Label="Design phase"></GanttEventMarker>
                    <GanttEventMarker Day="05/23/2019" Label="Production phase"></GanttEventMarker>
                    <GanttEventMarker Day="06/20/2019" Label="Sales and marketing phase"></GanttEventMarker>
                </GanttEventMarkers>
                <GanttLabelSettings>
                    <LeftLabelTemplate>
                        <div class="e-left-label-inner-div" style="height:22px;margin-top:7px;">
                            <span class="e-label">@((context as GanttData.TaskData).TaskName)</span>
                        </div>
                    </LeftLabelTemplate>
                </GanttLabelSettings>
            </EjsGantt>
        </div>
    </div>
</div>

@code{
    public List<GanttData.TaskData> TaskCollection { get; set; }
    protected override void OnInitialized()
    {
        this.TaskCollection = GanttData.ProjectNewData();
    }
}
