@page "/Gantt/RemoteData"

@using Syncfusion.EJ2.Blazor.Gantt
@using Syncfusion.EJ2.Blazor.Data
@using Syncfusion.EJ2.Blazor

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_ganttdata
@{
    SampleBrowser.CurrentSampleName = "Remote Data";
    SampleBrowser.CurrentControlName = "Gantt";
    SampleBrowser.CurrentControlCategory = "Gantt";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Gantt;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the way of binding data to Gantt chart with a remote service. The Gantt chart data source is bound to remote data using the DataManager. The data in this sample shows the various phases of barley harvesting.</p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>
            The <code>DataSource</code> property in Gantt chart can be assigned with the instance of
            <code>DataManager</code> to bind remote data.
            The DataManager, which will act as an interface between the service endpoint and the Gantt chart, will require
            the below minimal information to interact with service endpoint properly.
            <ol>
                <li><code>DataManager->Url</code> - Defines the service endpoint to fetch data</li>
                <li>
                    <code>DataManager->Adaptor</code> - Defines the adaptor option. By default, ODataAdaptor is used for remote
                    binding.
                </li>
                Adaptor is responsible for processing response and request from/to the service endpoint.
                <code>'@syncfusion/ej2-data</code>
                package provides some predefined adaptors which are designed to interact with particular service endpoints. They
                are,
                <li>
                    <code>UrlAdaptor</code> - Use this to interact any remote services. This is the base adaptor for all remote
                    based adaptors.
                </li>
                <li><code>ODataAdaptor</code> - Use this to interact with OData endpoints.</li>
                <li><code>ODataV4Adaptor</code> - Use this to interact with OData V4 endpoints.</li>
                <li><code>WebApiAdaptor</code> - Use this to interact with Web API created under OData standards.</li>
                <li><code>WebMethodAdaptor</code> - Use this to interact with web methods.</li>
                In this demo, remote data is bound by assigning service data as an instance of
                <code>DataManager</code> to the
                <code>DataSource</code>
                property.
                More information on the data binding can be found in this <a href='https://ej2.syncfusion.com/documentation/gantt/data-binding/#remote-data' target='_blank'>documentation</a> section.
            </ol>
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <EjsGantt TValue="GanttRemoteData" ModelType="@TemplateModel" TreeColumnIndex="0" Height="450px" Width="100%" AllowSelection="true" HighlightWeekends="true"
                      IncludeWeekend="true" ProjectStartDate="02/24/2019"
                      ProjectEndDate="06/10/2019" GridLines="GridLine.Both">
                <EjsDataManager url="https://ej2services.syncfusion.com/production/web-services/api/GanttData" Adaptor="Adaptors.WebApiAdaptor" CrossDomain="true"></EjsDataManager>
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate"
                                    Duration="Duration" Progress="Progress" Dependency="Predecessor" Child="SubTasks">
                </GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskName" HeaderText="Task Name" Width="250"></GanttColumn>
                    <GanttColumn Field="StartDate"></GanttColumn>
                    <GanttColumn Field="Duration"></GanttColumn>
                </GanttColumns>
                <GanttTimelineSettings TimelineUnitSize="50">
                    <GanttTopTierSettings Unit="TimelineViewMode.Month" Format="MMM dd, y"></GanttTopTierSettings>
                    <GanttBottomTierSettings Unit="TimelineViewMode.Day" Format="EEE"></GanttBottomTierSettings>
                </GanttTimelineSettings>
                <GanttLabelSettings>
                    <LeftLabelTemplate>
                        <div class="e-left-label-inner-div" style="height:22px;margin-top:7px;">
                            <span class="e-label">@((context as GanttTemplateModel).TaskName)</span>
                        </div>
                    </LeftLabelTemplate>
                </GanttLabelSettings>
            </EjsGantt>
        </div>
    </div>
</div>

@code{
        public class GanttRemoteData
        {
            public int TaskId { get; set; }
            public string TaskName { get; set; }
            public DateTime StartDate { get; set; }
            public int? Duration { get; set; }
            public int Progress { get; set; }
            public string Predecessor { get; set; }
            public List<GanttRemoteData> SubTasks { get; set; }
        }
        public GanttTemplateModel TemplateModel = new GanttTemplateModel();

    }
