@page "/Gantt/Zooming"

@using Syncfusion.EJ2.Blazor.Gantt

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_ganttdata
@{
    SampleBrowser.CurrentSampleName = "Zooming";
    SampleBrowser.CurrentControlName = "Gantt";
    SampleBrowser.CurrentControlCategory = "Gantt";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Gantt;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
        This sample visualizes the various phases involved in the manufacturing process of a product, 
        which transforms from a conceptual model to a sellable product.
        </p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>
       The sample demonstrates the zooming support in Gantt chart.
		You can zoom in or zoom out the project timeline dynamically with following toolbar buttons.

		<li><code>ZoomIn</code> - To perform zoom in action on Gantt timeline.</li>
		<li><code>ZoomOut </code> - To perform zoom out action on Gantt timeline.</li>
		<li><code>ZoomToFit </code> - To show all tasks with timeline fit into available chart width.</li>
		<br>
		The zooming feature enables you to view the tasks in the project clearly from minute to year timespan. You need
		to include
		<code>ZoomIn</code>, <code>ZoomOut </code> and <code>ZoomToFit </code> buttons in the toolbar for performing
		zooming actions in Gantt chart.
		<li><code>ZoomIn</code> - If the user clicks on the <code>ZoomIn</code> icon we have increased the timeline cell
			width,
			when the cell size exceeds the specified range then we have changed the timeline view mode.</li>
		<li><code>ZoomOut </code> - If the user clicks on the <code>ZoomOut</code> icon we have decrease the timeline
			cell width, when the cell size falls
			behind the specified range then we have changed the timeline view mode based on the zooming levels.</li>
		<li><code>ZoomToFit </code> - In project, if the tasks are rendered in different time ranges, when the user
			clicks on the <code>ZoomToFit</code> icon,
			then all the tasks are rendered within the current viewable chart container width.</li>
        </p>"
    };
}
@*End:Hidden*@
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGantt ModelType="@TemplateModel" DataSource="@TaskCollection" Height="450px" Width="100%"
                      Toolbar="@(new List<string>{ "ZoomIn","ZoomOut","ZoomToFit"})" TreeColumnIndex="1"
                      ProjectStartDate="03/24/2019" ProjectEndDate="04/28/2019">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                      Dependency="Predecessor" Child="SubTasks"></GanttTaskFields>
                <GanttLabelSettings>
                    <LeftLabelTemplate>
                        <div class="e-left-label-inner-div" style="height:22px;margin-top:7px;">
                            <span class="e-label">@((context as GanttTemplateModel).TaskName)</span>
                        </div>
                    </LeftLabelTemplate>
                </GanttLabelSettings>
            </EjsGantt>
        </div>
    </div>
</div>

@code{
    public List<GanttData.TaskData> TaskCollection { get; set; }
    public GanttTemplateModel TemplateModel = new GanttTemplateModel();

    protected override void OnInitialized()
    {
        this.TaskCollection = GanttData.ZoomingData();
    }
}