@page "/circular-gauge/apple-watch-rings"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample resembles the appearance of Apple watch rings. This is similar to an activity tracker in that it records the details of each move, exercise, and stand.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to make the circular gauge look like the Apple watch rings. Ranges have rounded corners, and annotations are used to indicate the move, exercise, and stand values.</p>
    <p>More information on the annotation can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/annotations'>documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align="center">
    <div class="row">
        <div class="cols-sample-area" align="center">
            <div class="col-lg-9 col-md-9" style="margin-left: -5%">
                <SfCircularGauge Width="400px" Height="400px" Theme="@Theme">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="3" Radius="85%" ZIndex="1">
                                    <ContentTemplate>
                                        <div>
                                            <img class="imagePosition annotation-position" src="images/circular-gauge/image1.svg" />
                                        </div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="4" Radius="62%" ZIndex="1">
                                    <ContentTemplate>
                                        <div><img class="imagePosition annotation-position" src="images/circular-gauge/image2.svg" /></div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="5" Radius="40%" ZIndex="1">
                                    <ContentTemplate>
                                        <div><img class="imagePosition annotation-position" src="images/circular-gauge/image3.svg" /></div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                            <CircularGaugeAxisLineStyle Width="0.01" />
                            <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                            </CircularGaugeAxisLabelStyle>
                            <CircularGaugeAxisMajorTicks Height="0.01" />
                            <CircularGaugeAxisMinorTicks Height="0.01" />
                            <CircularGaugeRanges>
                                <CircularGaugeRange Start="0" End="100" Radius="90%" StartWidth="40" EndWidth="40" Color="#fa114f" Opacity="0.2" />
                                <CircularGaugeRange Start="0" End="100" Radius="68%" StartWidth="40" EndWidth="40" Color="#99ff01" Opacity="0.2" />
                                <CircularGaugeRange Start="0" End="100" Radius="46%" StartWidth="40" EndWidth="40" Color="#00d8fe" Opacity="0.2" />
                            </CircularGaugeRanges>
                            <CircularGaugePointers>
                                <CircularGaugePointer RoundedCornerRadius="25" Value="65" Type="PointerType.RangeBar" Radius="90%" Color="#fa114f" PointerWidth="40">
                                    <CircularGaugePointerAnimation Enable="true" />
                                </CircularGaugePointer>
                                <CircularGaugePointer RoundedCornerRadius="25" Value="43" Type="PointerType.RangeBar" Radius="68%" Color="#99ff01" PointerWidth="40">
                                    <CircularGaugePointerAnimation Enable=true />
                                </CircularGaugePointer>
                                <CircularGaugePointer RoundedCornerRadius="25" Value="58" Type="PointerType.RangeBar" Radius="46%" Color="#00d8fe" PointerWidth="40">
                                    <CircularGaugePointerAnimation Enable="true" />
                                </CircularGaugePointer>
                            </CircularGaugePointers>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                </SfCircularGauge>
            </div>
            <div class="col-lg-3 col-md-3" style="margin-left: -9%">
                <div class="panel" align="center" style="width:100%">
                    <div class="panelAlign">
                        <SfCircularGauge Height="65px" Width="65px" Theme="@Theme">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="-32" Radius="50%" ZIndex="1">
                                            <ContentTemplate>
                                                <div><img class="annotation-position" style="width:17px;height:17px;margin-top:1px" src="images/circular-gauge/image1.svg" /></div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeAxisLineStyle Width="0.01" />
                                    <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                        <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                                    </CircularGaugeAxisLabelStyle>
                                    <CircularGaugeAxisMajorTicks Height="0.01" />
                                    <CircularGaugeAxisMinorTicks Height="0.01" />
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="0" End="100" Radius="100%" StartWidth="8" EndWidth="8" Color="#fa114f" Opacity="0.2" />
                                    </CircularGaugeRanges>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer RoundedCornerRadius="5" Value="65" Type="PointerType.RangeBar" Radius="100%" Color="#fa114f" PointerWidth="8">
                                            <CircularGaugePointerAnimation Enable="true" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </div>
                    <div class="content">
                        <span class="firstcontent">MOVE</span>
                        <span class="firstcontent" style="color: #fa114f;">65%</span><br />
                        <span class="secondcontent" style="color: #fa114f;">338/520 CAL</span>
                    </div>
                </div>
                <div class="panel" align="center" style="width:100%">
                    <div class="panelAlign">
                        <SfCircularGauge Height="65px" Width="65px" Theme="@Theme">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="-29" Radius="50%" ZIndex="1">
                                            <ContentTemplate>
                                                <div><img class="annotation-position" style="width:15px;height:15px;margin-left:-1px" src="images/circular-gauge/image2.svg" /></div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeAxisLineStyle Width="0.01" />
                                    <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                        <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                                    </CircularGaugeAxisLabelStyle>
                                    <CircularGaugeAxisMajorTicks Height="0.01" />
                                    <CircularGaugeAxisMinorTicks Height="0.01" />
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="0" End="100" Radius="100%" StartWidth="8" EndWidth="8" Color="#99ff01" Opacity="0.2" />
                                    </CircularGaugeRanges>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer RoundedCornerRadius="5" Value="43" Type="PointerType.RangeBar" Radius="100%" Color="#99ff01" PointerWidth="8">
                                            <CircularGaugePointerAnimation Enable="true" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </div>
                    <div class="content">
                        <span class="firstcontent">EXERCISE</span>
                        <span class="firstcontent" style="color: #99ff01;">43%</span><br />
                        <span class="secondcontent" style="color: #99ff01;">13/30 MIN</span>
                    </div>
                </div>
                <div class="panel" align="center" style="width:100%">
                    <div class="panelAlign">
                        <SfCircularGauge Height="65px" Width="65px" Theme="@Theme">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="-39" Radius="60%" ZIndex="1">
                                            <ContentTemplate>
                                                <div><img class="annotation-position" style="width:17px;height:17px;" src="images/circular-gauge/image3.svg" /></div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeAxisLineStyle Width="0.01" />
                                    <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                        <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                                    </CircularGaugeAxisLabelStyle>
                                    <CircularGaugeAxisMajorTicks Height="0.01" />
                                    <CircularGaugeAxisMinorTicks Height="0.01" />
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="0" End="100" Radius="100%" StartWidth="8" EndWidth="8" Color="#00d8fe" Opacity="0.2" />
                                    </CircularGaugeRanges>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer RoundedCornerRadius="5" Value="65" Type="PointerType.RangeBar" Radius="100%" Color="#00d8fe" PointerWidth="8">
                                            <CircularGaugePointerAnimation Enable="true" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </div>
                    <div class="content">
                        <span class="firstcontent">STAND</span>
                        <span class="firstcontent" style="color: #00d8fe">58%</span><br />
                        <span class="secondcontent" style="color: #00d8fe;">7/12 HR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .panel {
        width: 70%;
        height: 80px;
        margin-left: 15%;
        margin-top: 12%;
        border-color: lightgray;
        float: left;
        background-color: transparent;
    }

    .content {
        float: left;
        margin-left: 62px;
        margin-top: 6%;
        text-align: left;
        position: absolute;
        width: 100%
    }

    .imagePosition {
        width: 22px;
        height: 22px;
    }

    .tailwind img.annotation-position, .tailwind-dark img.annotation-position, .fabric img.annotation-position, .fabric-dark img.annotation-position {
        line-height:0px;
        vertical-align:initial;
    }

    .firstcontent {
        font-size: 17px;
    }

    .secondcontent {
        font-size: 19px;
    }

    .panelAlign {
        float: left;
        margin-top: 3%
    }
</style>
@code {
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}