@page "/circular-gauge/default-functionalities"

@using Syncfusion.Blazor.CircularGauge

@inherits SampleBaseComponent;

<div class="control-section">
    <SfCircularGauge>
        <CircularGaugeAxes>
            <CircularGaugeAxis Radius="80%" StartAngle="230" EndAngle="130">
                <CircularGaugeAxisLabelStyle Offset="-5">
                    <CircularGaugeAxisLabelFont FontFamily="Roboto" Size="12px" FontWeight="Regular"/>
                </CircularGaugeAxisLabelStyle>
                <CircularGaugeAxisLineStyle Width="8" Color="#E0E0E0"/>
                <CircularGaugeAxisMajorTicks Width="0.01"/>
                <CircularGaugeAxisMinorTicks Width="0.01"/>
                <CircularGaugePointers>
                    <CircularGaugePointer Value=60 Radius="60%" Color="#757575" PointerWidth="7">
                        <CircularGaugeCap Radius="8" Color="#757575">
                            <CircularGaugeCapBorder Width="0"/>
                        </CircularGaugeCap>
                        <CircularGaugeNeedleTail Color="#757575" Length="25%"/>
                    </CircularGaugePointer>
                </CircularGaugePointers>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
</div>
