@page "/CircularGauge/PointerImage"

@using Syncfusion.EJ2.Blazor.CircularGauge
@using Newtonsoft.Json;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Pointer Image";
    SampleBrowser.CurrentControlName = "CircularGauge";
    SampleBrowser.CurrentControlCategory = "CircularGauge";
    SampleBrowser.CurrentControl = SampleBrowser.Config.CircularGauge;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample visualizes the short-put distance covered by the athletes by using the image pointer in gauge.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to use the pointer image for an axis in the circular gauge. Pointer value points out the
            actual value set in the <b>Circular Gauge</b>. You can customize the <code>pointers</code> to improve the
            appearance of <b>Gauge</b>.
        </p>
        <br>
        <p>
            In this sample, a pointer with image is used to show the short-put distance thrown by the player.
        </p>
        <p>
            More information on the pointers can be found in this
            <a target=""_blank"" href=""https://ej2.syncfusion.com/blazor/documentation/"">documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsCircularGauge CenterY="57%" Title="Short Put Distance">
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="200" EndAngle="130" Minimum="0" Maximum="14" Radius="90%">
                <CircularGaugeAxisLineStyle Width="0.001" Color="#1d1d1d">
                </CircularGaugeAxisLineStyle>
                <CircularGaugeAxisMajorTicks Width="0.01">
                </CircularGaugeAxisMajorTicks>
                <CircularGaugeAxisMinorTicks Width="0.01">
                </CircularGaugeAxisMinorTicks>
                <CircularGaugeAxisLabelStyle>
                    <CircularGaugeAxisLabelFont Size="0px"></CircularGaugeAxisLabelFont>
                </CircularGaugeAxisLabelStyle>
                <CircularGaugePointers>
                    <CircularGaugePointer Type="PointerType.Marker" Value="12" MarkerShape="GaugeShape.Image" ImageUrl="styles/images/circulargauge/football.png" Radius="108%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="11" MarkerShape="GaugeShape.Image" ImageUrl="styles/images/circulargauge/basketball.png" Radius="78%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1200">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="10" MarkerShape="GaugeShape.Image" ImageUrl="styles/images/circulargauge/golfball.png" Radius="48%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="900">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="12" MarkerShape="GaugeShape.Image" ImageUrl="styles/images/circulargauge/Athletics.png" Radius="0%" MarkerWidth="90" MarkerHeight="90">
                        <CircularGaugePointerAnimation Enable="true" Duration="0">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="styles/images/circulargauge/girl1.png" Radius="108%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="styles/images/circulargauge/man1.png" Radius="78%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="styles/images/circulargauge/man2.png" Radius="48%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500">
                        </CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeRanges>
                    <CircularGaugeRange Start="0" End="12" Radius="115%" Color="#01aebe" StartWidth="25" EndWidth="25">
                    </CircularGaugeRange>
                    <CircularGaugeRange Start="0" End="11" Radius="85%" Color="#3bceac" StartWidth="25" EndWidth="25">
                    </CircularGaugeRange>
                    <CircularGaugeRange Start="0" End="10" Radius="55%" Color="#ee4266" StartWidth="25" EndWidth="25">
                    </CircularGaugeRange>
                </CircularGaugeRanges>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Content="12 M" Radius="108%" Angle="98" ZIndex="1">
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="11 M" Radius="80%" Angle="81" ZIndex="1">
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="10 M" Radius="50%" Angle="69" ZIndex="1">
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="Doe" Radius="108%" Angle="190" ZIndex="1">
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="Almaida" Radius="80%" Angle="185" ZIndex="1">
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="John" Radius="50%" Angle="180" ZIndex="1">
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </EjsCircularGauge>
</div>

