@page "/circular-gauge/pointer-image"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using Newtonsoft.Json;
@using ThemeHelper
@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample visualizes the shot put distance covered by the athletes using the image pointer in the circular gauge.</p>
</SampleDescription>
<ActionDescription>
    <p>The pointer with an image represents the actual value set in the circular gauge. The circular gauge's pointer appearance can be changed by modifying the properties in the <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugePointers.html'>CircularGaugePointers</a></code> class.</p>
    <p>More information on the pointer customization can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/pointers'>documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfCircularGauge CenterY="57%" Title="Shot Put Distance" Theme="@Theme">
        <CircularGaugeTitleStyle FontFamily="Segoe UI" />
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="200" EndAngle="130" Minimum="0" Maximum="14" Radius="80%">
                <CircularGaugeAxisLineStyle Width="0.001" Color="#1d1d1d" />
                <CircularGaugeAxisMajorTicks Width="0.01" />
                <CircularGaugeAxisMinorTicks Width="0.01" />
                <CircularGaugeAxisLabelStyle>
                    <CircularGaugeAxisLabelFont Size="0px" />
                </CircularGaugeAxisLabelStyle>
                <CircularGaugePointers>
                    <CircularGaugePointer Type="PointerType.Marker" Value="12" MarkerShape="GaugeShape.Image" ImageUrl="images/circular-gauge/football.png" Radius="108%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="11" MarkerShape="GaugeShape.Image" ImageUrl="images/circular-gauge/basketball.png" Radius="78%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1200" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="10" MarkerShape="GaugeShape.Image" ImageUrl="images/circular-gauge/golf-ball.png" Radius="48%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="900" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="12" MarkerShape="GaugeShape.Image" ImageUrl="images/circular-gauge/athletics.png" Radius="0%" MarkerWidth="90" MarkerHeight="90">
                        <CircularGaugePointerAnimation Enable="false" Duration="0" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="images/circular-gauge/girl1.png" Radius="108%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="images/circular-gauge/man1.png" Radius="78%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="images/circular-gauge/man2.png" Radius="48%" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeRanges>
                    <CircularGaugeRange Start="0" End="12" Radius="115%" Color="#01aebe" StartWidth="25" EndWidth="25" />
                    <CircularGaugeRange Start="0" End="11" Radius="85%" Color="#3bceac" StartWidth="25" EndWidth="25" />
                    <CircularGaugeRange Start="0" End="10" Radius="55%" Color="#ee4266" StartWidth="25" EndWidth="25" />
                </CircularGaugeRanges>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Content="12 M" Radius="108%" Angle="98" ZIndex="1">
                        <CircularGaugeAnnotationTextStyle FontFamily="Segoe UI" Size="14px" Color="#9E9E9E"></CircularGaugeAnnotationTextStyle>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="11 M" Radius="80%" Angle="81" ZIndex="1">
                        <CircularGaugeAnnotationTextStyle FontFamily="Segoe UI" Size="14px" Color="#9E9E9E"></CircularGaugeAnnotationTextStyle>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="10 M" Radius="50%" Angle="69" ZIndex="1">
                        <CircularGaugeAnnotationTextStyle FontFamily="Segoe UI" Size="14px" Color="#9E9E9E"></CircularGaugeAnnotationTextStyle>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Radius="114%" Angle="185" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotationText"><span class="templateAlign">Doe</span></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Radius="86%" Angle="180" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotationText"><span class="templateAlign">Almaida</span></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Radius="58%" Angle="174" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotationText"><span class="templateAlign">John</span></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
</div>
<style>
    .templateAlign {
        font-size: 14px;
        color: #9E9E9E;
        margin-left: -20px;
    }

    .annotationText {
        margin-top: -30px;
    }
</style>
@code {
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}
