@page "/chart/donut"

@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<ActionDescription>
<p>
    This <a target="_blank" rel="noopener" href="https://www.syncfusion.com/blazor-components/blazor-charts/chart-types/donut-chart" aria-label="Navigate to explore the Blazor Donut Chart">Blazor Donut Chart</a> example visualizes mobile browser statistics using a doughnut series. Data labels and the center label provide information about the data in the series.
  </p>
  <p>
    In this example, you can see how to render and configure a doughnut chart. To create a doughnut in the pie series, customize the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.AccumulationChartSeries.html#Syncfusion_Blazor_Charts_AccumulationChartSeries_InnerRadius" aria-label="Navigate to the InnerRadius property reference for accumulation chart series">InnerRadius</a> property. <code>DataLabel</code> are used to represent individual data and its values. The <code>AccumulationChartCenterLabel</code> allows you to specify the default text rendered in the center. You can also customize the text that appears when the mouse pointer hovers over one of the donut slices using the <code>HoverTextFormat</code> property.
  </p>
  <p>
    <strong>See also:</strong>
  </p>
  <ul>
    <li><a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/accumulation-chart/chart-types/pie-doughnut" aria-label="Navigate to the documentation for Pie and Doughnut in accumulation chart component">Chart - Pie and Doughnut Series</a></li>
  </ul>
</ActionDescription>


<div class="control-section">
    <SfAccumulationChart  EnableBorderOnMouseMove="false" Theme="@Theme">
        <AccumulationChartTooltipSettings Enable="false" EnableHighlight="true"></AccumulationChartTooltipSettings>
        <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@DoughnutChartPoints" XName="Browser" YName="Users" Radius="@Radius" StartAngle="@StartAngle" InnerRadius="65%" Name="Project" Explode="false" BorderRadius="3">
                <AccumulationChartSeriesBorder Color="#FFFFFF" Width="1"></AccumulationChartSeriesBorder>
                <AccumulationDataLabelSettings Visible="true" Name="DataLabelMappingName" Position="AccumulationLabelPosition.Outside">
                    <AccumulationChartConnector Length=@ConnectorLength Type="ConnectorType.Curve"></AccumulationChartConnector>
                    <AccumulationChartDataLabelFont FontWeight="600" Size=@Size></AccumulationChartDataLabelFont>
                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
        <AccumulationChartCenterLabel Text=@CenterLabelText HoverTextFormat="${point.x} <br> Browser Share <br> ${point.y}%">
            <AccumulationChartCenterLabelFont Size=@CenterLabelTextSize FontWeight="600" FontFamily="Inherit"></AccumulationChartCenterLabelFont>
        </AccumulationChartCenterLabel>
    </SfAccumulationChart>
</div>

@code{

    private string Radius { get; set; } = "70%";
    private Theme Theme { get; set; }
    public double StartAngle { get; set; } = 60;
    public string ConnectorLength { get; set; } = "20px";
    public string Size { get; set; } = "12px";
    public string CenterLabelText { get; set; } = "Mobile Browser<br>Statistics 2024";
    public string CenterLabelTextSize { get; set; } = "15px";
    public List<DoughnutData> DoughnutChartPoints { get; set; } = new List<DoughnutData>
    {
        new DoughnutData { Browser = "Chrome", Users = 63.5, DataLabelMappingName = "Chrome: 63.5%"},
        new DoughnutData { Browser = "Safari", Users = 25.0, DataLabelMappingName = "Safari: 25.0%"},
        new DoughnutData { Browser = "Samsung Internet", Users = 6.0, DataLabelMappingName = "Samsung Internet: 6.0%"},
        new DoughnutData { Browser = "UC Browser", Users = 2.5, DataLabelMappingName = "UC Browser: 2.5%"},
        new DoughnutData { Browser = "Opera", Users = 1.5, DataLabelMappingName = "Opera: 1.5%"},
        new DoughnutData { Browser = "Others", Users = 1.5, DataLabelMappingName = "Others: 1.5%"}
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
        if(SampleService != null && SampleService.IsDevice)
        {
            StartAngle = 70;
            Radius = "40%";
            ConnectorLength = "10px";
            Size = "8px";
            CenterLabelText = "Mobile Browser<br>Statistics";
            CenterLabelTextSize = "11px";
        }
        @*End:Hidden*@
    }

    public class DoughnutData
    {
        public string? Browser { get; set; }
        public double Users { get; set; }
        public string? DataLabelMappingName { get; set; }
    }
}
