@page "/chart/inversed-spline"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample showcases an inversed spline chart depicting stock market capitalization as a percentage of GDP by country, with enhanced interactivity through markers and tooltips.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure inversed spline type charts using the <code>isTransposed</code> property. A spline chart uses a curved line to connect points in a data series.  
    <code>ChartMarkers</code> are used to represent individual data points and their values.</p>
    <p><code>Tooltip</code> is enabled in this example. To see a tooltip in action, hover over or tap on the chart.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Stock Market Capitalization as a Percentage of GDP by Country" SubTitle="Source: wikipedia.org" IsTransposed="true" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartSubTitleStyle TextOverflow="TextOverflow.Wrap"></ChartSubTitleStyle>
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Capitalization Ratio (% of GDP)" Interval="40" LabelFormat="{value}%" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Header="<b>Stock Market Cap</b>" Enable="true" Format="${point.x}: <b>${point.y}</b>" ShowNearestTooltip="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@InversedData" XName="Country" YName="Y" Width="2" Type="ChartSeriesType.Spline">
                <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<Data> InversedData = new List<Data>
    {
        new Data { Country = "United States", Y = 194.55 },
        new Data { Country = "Japan", Y = 146.2 },
        new Data { Country = "China", Y = 65.1 },
        new Data { Country = "France", Y = 84.9 },
        new Data { Country = "India", Y = 140.1 },
        new Data { Country = "Canada", Y = 160.7 },
        new Data { Country = "Brazil", Y = 68.4 },
        new Data { Country = "United Kingdom", Y = 100.2 },
        new Data { Country = "Sweden", Y = 162 },
        new Data { Country = "Netherlands", Y = 132.3 },
        new Data { Country = "Bangladesh", Y = 27.7 }
    };

    public class Data
    {
        public string? Country { get; set; } 
        public double Y { get; set; }
    }

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
        if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
        }
        @*End:Hidden*@
    }
	
}
