@page "/chart/logarithmic-scale"

@using Syncfusion.Blazor
@using ThemeHelper
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows a logarithmic axis in a chart with data about the sales of a product between 1995 and 2005.</p>
</SampleDescription>
<ActionDescription>
    <p>The logarithmic axis uses a logarithmic scale and is very useful when viewing data with values of both lower orders of magnitude (e.g., 10^-6) and higher orders of magnitude (e.g. 10^6). To use the logarithmic axis, set <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartAxis.html#Syncfusion_Blazor_Charts_ChartAxis_ValueType' aria-label="Navigate to the ValueType property reference for chart axis">ValueType</a> in axis to <b>Logarithmic</b>.</p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a data point or tap one on touch-enabled devices.</p>
    <p>More information about the logarithmic axis can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/logarithmic-axis' aria-label="Navigate to the documentation for logarithmic axis in chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Product X Growth [1995-2005]" Width="@Width" Theme="@Theme">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis LabelFormat="yyyy" ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="100000" Interval="1" LabelFormat="${value}" MinorTicksPerInterval="5" EdgeLabelPlacement="EdgeLabelPlacement.Shift" ValueType="Syncfusion.Blazor.Charts.ValueType.Logarithmic">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorGridLines Width="1.5"></ChartAxisMajorGridLines>
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true" Shared="true" Header="" Format="${point.x} : <b>${point.y}</b>"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@ChartPoints" Name="Product X" XName="Period" Width="2" Opacity="1" YName="ProfitInfo" Type="ChartSeriesType.Spline">
                <ChartMarker Visible="true" Height="7" IsFilled="true" Width="7">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings Visible="false"></ChartLegendSettings>
    </SfChart>
</div>

@code{


    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<LogarithmicData> ChartPoints { get; set; } = new List<LogarithmicData>
    {
        new LogarithmicData { Period = new DateTime(1995, 1, 1),  ProfitInfo = 80  },
        new LogarithmicData { Period = new DateTime(1996, 1, 1),  ProfitInfo = 200 },
        new LogarithmicData { Period = new DateTime(1997, 1, 1),  ProfitInfo = 400 },
        new LogarithmicData { Period = new DateTime(1998, 1, 1),  ProfitInfo = 600 },
        new LogarithmicData { Period = new DateTime(1999, 1, 1),  ProfitInfo = 700 },
        new LogarithmicData { Period = new DateTime(2000, 1, 1),  ProfitInfo = 1400 },
        new LogarithmicData { Period = new DateTime(2001, 1, 1),  ProfitInfo = 2000 },
        new LogarithmicData { Period = new DateTime(2002, 1, 1),  ProfitInfo = 4000 },
        new LogarithmicData { Period = new DateTime(2003, 1, 1),  ProfitInfo = 6000 },
        new LogarithmicData { Period = new DateTime(2004, 1, 1),  ProfitInfo = 8000 },
        new LogarithmicData { Period = new DateTime(2005, 1, 1),  ProfitInfo = 11000 }
    };

    protected override void OnInitialized()
    {

        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
             Width = "100%";
        }
    }

    public class LogarithmicData
    {
        public DateTime Period { get; set; }
        public double ProfitInfo { get; set; }
    }
}
