@page "/chart/multi-colored-line"

@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using Syncfusion.Blazor.Charts
@using System.Net.Http.Json

@inject NavigationManager NavigationManager
@inject HttpClient Http
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates a multi-colored line chart displaying the average January temperature trends in the United States from 1895 to 2025. Each data point is represented with a unique color, and interactive tooltips reveal detailed information when hovering over data points.</p>

<p>In this example, you can see how to render and configure individual point coloring in a line-type series. Multi-colored line charts effectively represent time-dependent data by:</p>
<ul>
  <li>Displaying trends at equal intervals</li>
  <li>Using individual colors for each data point for visual distinction</li>
  <li>Implementing the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSeries.html#Syncfusion_Blazor_Charts_ChartSeries_PointColorMapping' aria-label="Navigate to the PointColorMapping property reference for chart series">PointColorMapping</a> feature to assign colors dynamically</li>
</ul>

<p><code>Tooltip</code> is enabled in this example. To see tooltip details, hover over or tap on the chart.</p>

<p>More information about multi-colored line series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/line/#multicolored-line' aria-label="Navigate to the documentation for multicolored line in chart component">documentation section</a>.</p>
</ActionDescription>


<div class="control-section" align='center'>
    <div align="center">
        <SfChart Title="U.S. Historical Average Temperature (1895–2025)" SubTitle="Source: ncei.noaa.gov" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartSubTitleStyle TextOverflow="TextOverflow.Wrap"></ChartSubTitleStyle>
        <ChartArea>
                <ChartAreaBorder Width="0"></ChartAreaBorder>
            </ChartArea>
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" IntervalType="IntervalType.Years" Minimum="new DateTime(1895, 1, 1)" Maximum="new DateTime(2025, 1, 1)" Interval="20" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartPrimaryXAxis>
            <ChartPrimaryYAxis RangePadding="ChartRangePadding.None" Title="Mean Temperature (°F)" Minimum="20" Maximum="40" Interval="4" LabelFormat="{value}°F">
                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            </ChartPrimaryYAxis>
            <ChartTooltipSettings Header="<b>Year: ${point.x}</b>" Format="Avg Temp : <b>${point.y}</b>" Enable="true" EnableAnimation="false" ShowNearestTooltip="true"></ChartTooltipSettings>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@MultiColoredData" XName="X" YName="Y" PointColorMapping="PointColor" Width="1.5" Type="ChartSeriesType.MultiColoredLine">
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>
</div>

@code{

    private string[] colors = {"red", "green", "#ff0097", "crimson", "blue", "darkorange", "deepskyblue", "mediumvioletred", "violet", "peru", "gray", "deeppink", "navy" };
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<LineChartData> ChartPoints { get; set; } = new List<LineChartData>();
    

    protected override void OnInitialized()
    {
        @*Hidden:Lines*@
        if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
        }
        @*End:Hidden*@
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        MultiColoredData = MultiColoredData.Select((value, index) => new LineChartData 
        {
            X = value.X,
            Y = value.Y,
            PointColor = colors[Math.Min((int)Math.Floor(index / 10.0), colors.Length - 1)]
        }).ToList();
    }

    public class LineChartData
    {
        public DateTime X { get; set; }
        public double Y { get; set; }
        public string? PointColor { get; set; }
    }

    public List<LineChartData> MultiColoredData = new List<LineChartData>
    {
        new LineChartData { X = new DateTime(1895, 1, 1), Y = 26.69 },
        new LineChartData { X = new DateTime(1896, 1, 1), Y = 31.48 },
        new LineChartData { X = new DateTime(1897, 1, 1), Y = 28.17 },
        new LineChartData { X = new DateTime(1898, 1, 1), Y = 30.67 },
        new LineChartData { X = new DateTime(1899, 1, 1), Y = 29.68 },
        new LineChartData { X = new DateTime(1900, 1, 1), Y = 34.11 },
        new LineChartData { X = new DateTime(1901, 1, 1), Y = 31.62 },
        new LineChartData { X = new DateTime(1902, 1, 1), Y = 30.06 },
        new LineChartData { X = new DateTime(1903, 1, 1), Y = 30.88 },
        new LineChartData { X = new DateTime(1904, 1, 1), Y = 27.55 },
        new LineChartData { X = new DateTime(1905, 1, 1), Y = 27.12 },
        new LineChartData { X = new DateTime(1906, 1, 1), Y = 32.88 },
        new LineChartData { X = new DateTime(1907, 1, 1), Y = 30.7 },
        new LineChartData { X = new DateTime(1908, 1, 1), Y = 32.45 },
        new LineChartData { X = new DateTime(1909, 1, 1), Y = 32.31 },
        new LineChartData { X = new DateTime(1910, 1, 1), Y = 29.61 },
        new LineChartData { X = new DateTime(1911, 1, 1), Y = 32.9 },
        new LineChartData { X = new DateTime(1912, 1, 1), Y = 24.76 },
        new LineChartData { X = new DateTime(1913, 1, 1), Y = 30.47 },
        new LineChartData { X = new DateTime(1914, 1, 1), Y = 34.5 },
        new LineChartData { X = new DateTime(1915, 1, 1), Y = 28.44 },
        new LineChartData { X = new DateTime(1916, 1, 1), Y = 28.22 },
        new LineChartData { X = new DateTime(1917, 1, 1), Y = 28.27 },
        new LineChartData { X = new DateTime(1918, 1, 1), Y = 23.88 },
        new LineChartData { X = new DateTime(1919, 1, 1), Y = 31.82 },
        new LineChartData { X = new DateTime(1920, 1, 1), Y = 29.23 },
        new LineChartData { X = new DateTime(1921, 1, 1), Y = 34.36 },
        new LineChartData { X = new DateTime(1922, 1, 1), Y = 26.8 },
        new LineChartData { X = new DateTime(1923, 1, 1), Y = 34.59 },
        new LineChartData { X = new DateTime(1924, 1, 1), Y = 26.26 },
        new LineChartData { X = new DateTime(1925, 1, 1), Y = 29.1 },
        new LineChartData { X = new DateTime(1926, 1, 1), Y = 30.33 },
        new LineChartData { X = new DateTime(1927, 1, 1), Y = 31.55 },
        new LineChartData { X = new DateTime(1928, 1, 1), Y = 31.98 },
        new LineChartData { X = new DateTime(1929, 1, 1), Y = 26.33 },
        new LineChartData { X = new DateTime(1930, 1, 1), Y = 23.56 },
        new LineChartData { X = new DateTime(1931, 1, 1), Y = 32.99 },
        new LineChartData { X = new DateTime(1932, 1, 1), Y = 31.55 },
        new LineChartData { X = new DateTime(1933, 1, 1), Y = 34.3 },
        new LineChartData { X = new DateTime(1934, 1, 1), Y = 35.08 },
        new LineChartData { X = new DateTime(1935, 1, 1), Y = 31.51 },
        new LineChartData { X = new DateTime(1936, 1, 1), Y = 27.36 },
        new LineChartData { X = new DateTime(1937, 1, 1), Y = 24.84 },
        new LineChartData { X = new DateTime(1938, 1, 1), Y = 32.14 },
        new LineChartData { X = new DateTime(1939, 1, 1), Y = 33.91 },
        new LineChartData { X = new DateTime(1940, 1, 1), Y = 23.83 },
        new LineChartData { X = new DateTime(1941, 1, 1), Y = 32.2 },
        new LineChartData { X = new DateTime(1942, 1, 1), Y = 29.84 },
        new LineChartData { X = new DateTime(1943, 1, 1), Y = 29.41 },
        new LineChartData { X = new DateTime(1944, 1, 1), Y = 32.02 },
        new LineChartData { X = new DateTime(1945, 1, 1), Y = 30.49 },
        new LineChartData { X = new DateTime(1946, 1, 1), Y = 31.39 },
        new LineChartData { X = new DateTime(1947, 1, 1), Y = 31.78 },
        new LineChartData { X = new DateTime(1948, 1, 1), Y = 27.88 },
        new LineChartData { X = new DateTime(1949, 1, 1), Y = 25.92 }, 
        new LineChartData { X = new DateTime(1950, 1, 1), Y = 30.43 },
        new LineChartData { X = new DateTime(1951, 1, 1), Y = 30.2 },
        new LineChartData { X = new DateTime(1952, 1, 1), Y = 32.0 },
        new LineChartData { X = new DateTime(1953, 1, 1), Y = 36.43 },
        new LineChartData { X = new DateTime(1954, 1, 1), Y = 30.9 },
        new LineChartData { X = new DateTime(1955, 1, 1), Y = 29.35 },
        new LineChartData { X = new DateTime(1956, 1, 1), Y = 31.01 },
        new LineChartData { X = new DateTime(1957, 1, 1), Y = 27.07 },
        new LineChartData { X = new DateTime(1958, 1, 1), Y = 31.6 },
        new LineChartData { X = new DateTime(1959, 1, 1), Y = 29.5 },
        new LineChartData { X = new DateTime(1960, 1, 1), Y = 29.46 },
        new LineChartData { X = new DateTime(1961, 1, 1), Y = 29.71 },
        new LineChartData { X = new DateTime(1962, 1, 1), Y = 26.96 },
        new LineChartData { X = new DateTime(1963, 1, 1), Y = 24.44 },
        new LineChartData { X = new DateTime(1964, 1, 1), Y = 31.53 },
        new LineChartData { X = new DateTime(1965, 1, 1), Y = 31.8 },
        new LineChartData { X = new DateTime(1966, 1, 1), Y = 26.38 },
        new LineChartData { X = new DateTime(1967, 1, 1), Y = 33.1 },
        new LineChartData { X = new DateTime(1968, 1, 1), Y = 28.94 },
        new LineChartData { X = new DateTime(1969, 1, 1), Y = 29.37 },
        new LineChartData { X = new DateTime(1970, 1, 1), Y = 27.16 },
        new LineChartData { X = new DateTime(1971, 1, 1), Y = 29.41 },
        new LineChartData { X = new DateTime(1972, 1, 1), Y = 29.93 },
        new LineChartData { X = new DateTime(1973, 1, 1), Y = 29.59 },
        new LineChartData { X = new DateTime(1974, 1, 1), Y = 31.01 },
        new LineChartData { X = new DateTime(1975, 1, 1), Y = 32.34 },
        new LineChartData { X = new DateTime(1976, 1, 1), Y = 29.93 },
        new LineChartData { X = new DateTime(1977, 1, 1), Y = 23.09 },
        new LineChartData { X = new DateTime(1978, 1, 1), Y = 25.86 },
        new LineChartData { X = new DateTime(1979, 1, 1), Y = 21.92 },
        new LineChartData { X = new DateTime(1980, 1, 1), Y = 31.12 },
        new LineChartData { X = new DateTime(1981, 1, 1), Y = 32.41 },
        new LineChartData { X = new DateTime(1982, 1, 1), Y = 26.22 },
        new LineChartData { X = new DateTime(1983, 1, 1), Y = 33.12 },
        new LineChartData { X = new DateTime(1984, 1, 1), Y = 28.83 },
        new LineChartData { X = new DateTime(1985, 1, 1), Y = 26.31 },
        new LineChartData { X = new DateTime(1986, 1, 1), Y = 34.68 },
        new LineChartData { X = new DateTime(1987, 1, 1), Y = 31.44 },
        new LineChartData { X = new DateTime(1988, 1, 1), Y = 27.79 },
        new LineChartData { X = new DateTime(1989, 1, 1), Y = 34.09 },
        new LineChartData { X = new DateTime(1990, 1, 1), Y = 36.48 },
        new LineChartData { X = new DateTime(1991, 1, 1), Y = 29.5 },
        new LineChartData { X = new DateTime(1992, 1, 1), Y = 33.62 },
        new LineChartData { X = new DateTime(1993, 1, 1), Y = 30.47 },
        new LineChartData { X = new DateTime(1994, 1, 1), Y = 29.34 },
        new LineChartData { X = new DateTime(1995, 1, 1), Y = 33.08 },
        new LineChartData { X = new DateTime(1996, 1, 1), Y = 29.7 },
        new LineChartData { X = new DateTime(1997, 1, 1), Y = 29.97 },
        new LineChartData { X = new DateTime(1998, 1, 1), Y = 34.99 },
        new LineChartData { X = new DateTime(1999, 1, 1), Y = 33.78 },
        new LineChartData { X = new DateTime(2000, 1, 1), Y = 33.57 },
        new LineChartData { X = new DateTime(2001, 1, 1), Y = 31.37 },
        new LineChartData { X = new DateTime(2002, 1, 1), Y = 34.48 },
        new LineChartData { X = new DateTime(2003, 1, 1), Y = 32.81 },
        new LineChartData { X = new DateTime(2004, 1, 1), Y = 30.36 },
        new LineChartData { X = new DateTime(2005, 1, 1), Y = 33.39 },
        new LineChartData { X = new DateTime(2006, 1, 1), Y = 38.93 },
        new LineChartData { X = new DateTime(2007, 1, 1), Y = 31.35 },
        new LineChartData { X = new DateTime(2008, 1, 1), Y = 30.27 },
        new LineChartData { X = new DateTime(2009, 1, 1), Y = 31.05 },
        new LineChartData { X = new DateTime(2010, 1, 1), Y = 30.67 },
        new LineChartData { X = new DateTime(2011, 1, 1), Y = 29.71 },
        new LineChartData { X = new DateTime(2012, 1, 1), Y = 36.12 },
        new LineChartData { X = new DateTime(2013, 1, 1), Y = 32.25 },
        new LineChartData { X = new DateTime(2014, 1, 1), Y = 30.56 },
        new LineChartData { X = new DateTime(2015, 1, 1), Y = 33.08 },
        new LineChartData { X = new DateTime(2016, 1, 1), Y = 32.22 },
        new LineChartData { X = new DateTime(2017, 1, 1), Y = 33.57 },
        new LineChartData { X = new DateTime(2018, 1, 1), Y = 32.16 },
        new LineChartData { X = new DateTime(2019, 1, 1), Y = 32.56 },
        new LineChartData { X = new DateTime(2020, 1, 1), Y = 35.53 },
        new LineChartData { X = new DateTime(2021, 1, 1), Y = 34.59 },
        new LineChartData { X = new DateTime(2022, 1, 1), Y = 31.17 },
        new LineChartData { X = new DateTime(2023, 1, 1), Y = 35.08 },
        new LineChartData { X = new DateTime(2024, 1, 1), Y = 31.89 },
        new LineChartData { X = new DateTime(2025, 1, 1), Y = 29.23 }
    };
}
