@page "/chart/negative-stack"
@using Syncfusion.Blazor.Charts
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@
<SampleDescription>
    <p>This sample illustrates a stacked bar chart representing the population distribution by age and gender, including negative data points. Data point values are displayed as data labels.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure negative values in a stacked bar chart. The stacked bar chart stacks points in the series horizontally.</p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.</p>
    <p>More information about the stacked bar series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/stacked-bar' aria-label="Navigate to the documentation for stacked bar in chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Belize Demographic Breakdown by Age and Gender (2024)" SubTitle="Source: statisticstimes.com" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartSubTitleStyle TextOverflow="TextOverflow.Wrap"></ChartSubTitleStyle>
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartMargin Bottom="12"></ChartMargin>
        <ChartPrimaryXAxis Title="Population by Age Range" ValueType="Syncfusion.Blazor.Charts.ValueType.Category" EdgeLabelPlacement="EdgeLabelPlacement.Shift" Minimum="0" Interval="3">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Share of Total Population (%)" LabelFormat="{value}%" Interval="3" EdgeLabelPlacement="EdgeLabelPlacement.Shift" RangePadding="ChartRangePadding.Round">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries ColumnWidth="0.5" DataSource="@ChartPoints" XName="Age" YName="FemalePercentValue" Name="Female" Type="ChartSeriesType.StackingBar" LegendShape="LegendShape.Rectangle">
                <ChartCornerRadius BottomRight="4" TopRight="4"></ChartCornerRadius>                
                <ChartMarker>
                    <ChartDataLabel Visible="true" Name="FemalePercent" Position="LabelPosition.Outer">
                        <ChartDataLabelFont FontWeight="600" Size="9px"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
            <ChartSeries ColumnWidth="0.5" DataSource="@ChartPoints" XName="Age" YName="MalePercentValue" Name="Male" Type="ChartSeriesType.StackingBar" LegendShape="LegendShape.Rectangle">
                <ChartCornerRadius BottomRight="4" TopRight="4"></ChartCornerRadius>
                <ChartMarker>
                    <ChartDataLabel Visible="true" Name="MalePercent" Position="LabelPosition.Outer">
                        <ChartDataLabelFont FontWeight="600" Size="9px" ></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings EnableHighlight="true" ShapeHeight="8" ShapeWidth="8"></ChartLegendSettings>
        <ChartTooltipSettings Enable="true" EnableHighlight="true"></ChartTooltipSettings>
    </SfChart>
</div>

@code{
    
    public string Width { get; set; } = "90%";
    private Syncfusion.Blazor.Theme Theme { get; set; }
    public class NegativeStackChartData
    {
        public string? Age { get; set; }
        public double Female { get; set; }
        public double Male { get; set; }
        public string? MalePercent {  get;  set; }
        public string? FemalePercent { get; set; }
        public double MalePercentValue { get; set; }
        public double FemalePercentValue { get; set; }
    }

    public List<NegativeStackChartData> ChartPoints { get; set; } = new List<NegativeStackChartData>
    {
        new NegativeStackChartData { Age = "90 - 94", Male = 123, Female = 153, MalePercent = "0.03%", FemalePercent = "0.04%", MalePercentValue = 0.03, FemalePercentValue = -0.04 },
        new NegativeStackChartData { Age = "85 - 89", Male = 407, Female = 457, MalePercent = "0.1%", FemalePercent = "0.11%", MalePercentValue = 0.1, FemalePercentValue = -0.11 },
        new NegativeStackChartData { Age = "80 - 84", Male = 879, Female = 970, MalePercent = "0.21%", FemalePercent = "0.23%", MalePercentValue = 0.21, FemalePercentValue = -0.23 },
        new NegativeStackChartData { Age = "75 - 79", Male = 1609, Female = 1768, MalePercent = "0.39%", FemalePercent = "0.42%", MalePercentValue = 0.39, FemalePercentValue = -0.42 },
        new NegativeStackChartData { Age = "70 - 74", Male = 2769, Female = 3004, MalePercent = "0.66%", FemalePercent = "0.72%", MalePercentValue = 0.66, FemalePercentValue = -0.72 },
        new NegativeStackChartData { Age = "65 - 69", Male = 4250, Female = 4511, MalePercent = "1.02%", FemalePercent = "1.08%", MalePercentValue = 1.02, FemalePercentValue = -1.08 },
        new NegativeStackChartData { Age = "60 - 64", Male = 6152, Female = 6369, MalePercent = "1.48%", FemalePercent = "1.53%", MalePercentValue = 1.48, FemalePercentValue = -1.53 },
        new NegativeStackChartData { Age = "55 - 59", Male = 7741, Female = 7976, MalePercent = "1.86%", FemalePercent = "1.91%", MalePercentValue = 1.86, FemalePercentValue = -1.91 },
        new NegativeStackChartData { Age = "50 - 54", Male = 9643, Female = 10086, MalePercent = "2.31%", FemalePercent = "2.42%", MalePercentValue = 2.31, FemalePercentValue = -2.42 },
        new NegativeStackChartData { Age = "45 - 49", Male = 11332, Female = 11585, MalePercent = "2.72%", FemalePercent = "2.78%", MalePercentValue = 2.72, FemalePercentValue = -2.78 },
        new NegativeStackChartData { Age = "40 - 44", Male = 13569, Female = 13713, MalePercent = "3.25%", FemalePercent = "3.29%", MalePercentValue = 3.25, FemalePercentValue = -3.29 },
        new NegativeStackChartData { Age = "35 - 39", Male = 16293, Female = 15999, MalePercent = "3.91%", FemalePercent = "3.84%", MalePercentValue = 3.91, FemalePercentValue = -3.84 },
        new NegativeStackChartData { Age = "30 - 34", Male = 18805, Female = 18038, MalePercent = "4.51%", FemalePercent = "4.32%", MalePercentValue = 4.51, FemalePercentValue = -4.32 },
        new NegativeStackChartData { Age = "25 - 29", Male = 20023, Female = 19216, MalePercent = "4.8%", FemalePercent = "4.61%", MalePercentValue = 4.8, FemalePercentValue = -4.61 },
        new NegativeStackChartData { Age = "20 - 24", Male = 20428, Female = 19689, MalePercent = "4.9%", FemalePercent = "4.72%", MalePercentValue = 4.9, FemalePercentValue = -4.72 },
        new NegativeStackChartData { Age = "15 - 19", Male = 19663, Female = 18950, MalePercent = "4.71%", FemalePercent = "4.54%", MalePercentValue = 4.71, FemalePercentValue = -4.54 },
        new NegativeStackChartData { Age = "10 - 14", Male = 18701, Female = 17859, MalePercent = "4.48%", FemalePercent = "4.28%", MalePercentValue = 4.48, FemalePercentValue = -4.28 },
        new NegativeStackChartData { Age = "05 - 09", Male = 19863, Female = 18942, MalePercent = "4.76%", FemalePercent = "4.54%", MalePercentValue = 4.76, FemalePercentValue = -4.54 },
        new NegativeStackChartData { Age = "00 - 04", Male = 18171, Female = 17316, MalePercent = "4.36%", FemalePercent = "4.15%", MalePercentValue = 4.36, FemalePercentValue = -4.15 }
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
        }
    }
}
