@page "/chart/pareto"

@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<ActionDescription>
<p>This sample illustrates a Pareto chart combining line and column series to visualize cumulative analysis.</p>

<p>In this example, you can see how to render and configure a Pareto chart. The Pareto chart is used to identify and prioritize the cumulative values of data across different categories. It is a combination chart featuring:</p>
<ul>
  <li>Column series displaying initial values for each category</li>
  <li>Line series showing cumulative values and trends</li>
</ul>

<p><code>Tooltip</code> is enabled in this example. To see tooltip details, hover over or tap on a data point on touch-enabled devices.</p>

<p>More information about the Pareto series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/pare-to' aria-label="Navigate to the documentation for pare-to in chart component">documentation section</a>.</p>
</ActionDescription>


<div class="control-section" align='center'>
    <SfChart Title="Pareto chart - Defects in Shirts" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartMargin Bottom="12"></ChartMargin>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Interval="1" LabelIntersectAction="LabelIntersectAction.Rotate45">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
            <ChartAxisMinorGridLines Width="0"></ChartAxisMinorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Frequency of Occurence" Minimum="0" Maximum="25" Interval="5">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMajorGridLines Width="1"></ChartAxisMajorGridLines>
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
            <ChartAxisMinorGridLines Width="1"></ChartAxisMinorGridLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true" Shared="false"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@ChartPoints" XName="DefectCategory" YName="Y" Name="Defect" Width="2" Type="ChartSeriesType.Pareto">
                <ChartCornerRadius TopLeft="4" TopRight="4"></ChartCornerRadius>
                <ChartMarker Visible="true"></ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings Visible="false"></ChartLegendSettings>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<ParetoData> ChartPoints { get; set; } = new List<ParetoData>
    {
        new ParetoData { DefectCategory = "Button Defect", Y = 23 },
        new ParetoData { DefectCategory = "Pocket Defect", Y = 16 },
        new ParetoData { DefectCategory = "Coller Defect", Y = 10 },
        new ParetoData { DefectCategory = "Cuff Defect", Y = 7 },
        new ParetoData { DefectCategory = "Sleeve Defect", Y = 6 }
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
        if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
        }
        @*End:Hidden*@
    }

    public class ParetoData
    {
        public string? DefectCategory { get; set; }
        public double Y { get; set; }
    }
}
