@page "/chart/pie-legend"

@using Syncfusion.Blazor
@using ThemeHelper
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows statistics on internet usage by country using the donut chart with legends shown at the bottom of the chart.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render a doughnut chart with legends. You can use <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.AccumulationChartSeries.html#Syncfusion_Blazor_Charts_AccumulationChartSeries_Radius' aria-label="Navigate to the Radius property reference for accumulation chart series">Radius</a> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.AccumulationChartSeries.html#Syncfusion_Blazor_Charts_AccumulationChartSeries_InnerRadius' aria-label="Navigate to the InnerRadius property reference for accumulation chart series">InnerRadius</a> properties to render the doughnut. Here, the legend text is wrapped using the <code>TextWrap</code> property.</p>
    <p>More information about the legend feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/accumulation-chart/legend' aria-label="Navigate to the documentation for legend in accumulation chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfAccumulationChart  EnableBorderOnMouseMove="false" SelectionMode="AccumulationSelectionMode.Point" Theme="@Theme">
        <AccumulationChartTooltipSettings Header="" Format="<b>${point.x}</b><br>Percentage: <b>${point.y}%</b>" Enable="true"></AccumulationChartTooltipSettings>
        <AccumulationChartLegendSettings ToggleVisibility=false TextWrap="@TextWrap.Wrap" MaximumLabelWidth="80" Position="@position"></AccumulationChartLegendSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries DataSource="@PieChartPoints" XName="Country" YName="Share" InnerRadius="50%" BorderRadius="3">
                <AccumulationChartSeriesBorder Width="1" Color="#FFFFFF"></AccumulationChartSeriesBorder>
                <AccumulationDataLabelSettings Visible="false">
                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
        <AccumulationChartCenterLabel Text="Internet Users<br>by Country<br>2025">
            <AccumulationChartCenterLabelFont Size="14px" FontWeight="600" FontStyle="inherit"></AccumulationChartCenterLabelFont>
        </AccumulationChartCenterLabel>
    </SfAccumulationChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public LegendPosition position { get; set; } = LegendPosition.Bottom;
    public List<PieData> PieChartPoints { get; set; } = new List<PieData>
    {
         new PieData { Country =  "China", Share = 35, DataLabelMappingName = "35%" },
         new PieData { Country =  "India", Share = 30, DataLabelMappingName = "30%" },
         new PieData { Country =  "USA", Share = 10.7, DataLabelMappingName = "10.7%" },
         new PieData { Country =  "Indonesia", Share = 7, DataLabelMappingName = "7%" },
         new PieData { Country =  "Brazil", Share = 5.3, DataLabelMappingName = "5.3%" },
         new PieData { Country =  "Others", Share = 12, DataLabelMappingName = "12%" }
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

    public class PieData
    {
        public string? Country { get; set; }
        public double Share { get; set; }
        public string? DataLabelMappingName { get; set; }
    }
}
