@page "/chart/range-area"

@using Syncfusion.Blazor
@using ThemeHelper
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-charts/chart-types/range-area-chart'>Blazor Range Area Chart</a> example visualizes minimum and maximum temperatures of different days with default range area series.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure the range area chart. This chart is used to display continuous data points as a set of lines varying between high and low values over time intervals and across different categories.</p>
    <p>More information about the range area series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/range-area'>documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Temperature Variation" EnableAnimation="false" Theme="@Theme" Width="@Width">         
        <ChartArea>
            <ChartAreaBorder Width="0"></ChartAreaBorder>
        </ChartArea>
        <ChartTooltipSettings Enable="true" Format="Temperature : <b>${point.tooltip}</b><br>Range : <b>${point.low} - ${point.high}</b>" Shared="true"></ChartTooltipSettings>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="dd MMM" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis LabelFormat="{value}˚C" Minimum="0" Maximum="70" Interval="10">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries TooltipMappingName="Text" DataSource="@ChartPoints" XName="Period" High="HighTemp" Low="LowTemp" Opacity="0.4" Type="ChartSeriesType.RangeArea">
                <ChartSeriesBorder Width="2"></ChartSeriesBorder>
            </ChartSeries>
            <ChartSeries EnableTooltip="false" DataSource="@ChartPoints" Width="3" XName="Period" YName="LineTemp" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Height="7" Width="7" ></ChartMarker>
                <ChartSeriesBorder Width="2"></ChartSeriesBorder>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code{

    private Random randomNum = new Random();
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            if (SampleService.IsDevice)
            {
                Width = "100%";
                StateHasChanged();
            }
        }
    }

    public List<RangeAreaChartData> ChartPoints = new List<RangeAreaChartData>
    {
        new RangeAreaChartData { Period = new DateTime(2015, 1, 1), HighTemp = 42.5, LowTemp = 12.5, LineTemp = 32.5, Text = "32.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 2), HighTemp = 37.5, LowTemp = 17.5, LineTemp = 27.5, Text = "27.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 3), HighTemp = 47.5, LowTemp = 15.5, LineTemp = 25.5, Text = "25.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 4), HighTemp = 42.5, LowTemp = 18.5, LineTemp = 28.5, Text = "28.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 5), HighTemp = 45.5, LowTemp = 16.5, LineTemp = 28.5, Text = "28.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 6), HighTemp = 42.5, LowTemp = 12.5, LineTemp = 31.5, Text = "31.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 7), HighTemp = 43.5, LowTemp = 13.5, LineTemp = 33.5, Text = "33.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 8), HighTemp = 45.5, LowTemp = 15.5, LineTemp = 31.5, Text = "31.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 9), HighTemp = 41.7, LowTemp = 12.7, LineTemp = 25.7, Text = "25.7˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 10), HighTemp = 45.5, LowTemp = 11.5, LineTemp = 31.5, Text = "31.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 11), HighTemp = 43.5, LowTemp = 15.5, LineTemp = 30.5, Text = "30.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 12), HighTemp = 45.5, LowTemp = 21.5, LineTemp = 32.5, Text = "32.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 13), HighTemp = 39.5, LowTemp = 9.5, LineTemp = 20.5, Text = "20.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 14), HighTemp = 33.5, LowTemp = 15.5, LineTemp = 23.5, Text = "23.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 15), HighTemp = 38.5, LowTemp = 11.5, LineTemp = 24.5, Text = "24.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 16), HighTemp = 45.5, LowTemp = 14.5, LineTemp = 30.5, Text = "30.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 17), HighTemp = 40.5, LowTemp = 9.5, LineTemp = 20.5, Text = "20.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 18), HighTemp = 42.5, LowTemp = 15.5, LineTemp = 22.5, Text = "22.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 19), HighTemp = 40.5, LowTemp = 13.5, LineTemp = 25.5, Text = "25.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 20), HighTemp = 45.7, LowTemp = 20.5, LineTemp = 31.5, Text = "31.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 21), HighTemp = 43.5, LowTemp = 19.5, LineTemp = 34.5, Text = "34.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 22), HighTemp = 42.5, LowTemp = 15.5, LineTemp = 29.5, Text = "29.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 23), HighTemp = 45.5, LowTemp = 10.5, LineTemp = 21.5, Text = "21.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 24), HighTemp = 42.5, LowTemp = 13.5, LineTemp = 23.5, Text = "23.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 25), HighTemp = 39.5, LowTemp = 9.9, LineTemp = 20.5, Text = "20.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 26), HighTemp = 43.5, LowTemp = 10.5, LineTemp = 23.5, Text = "23.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 27), HighTemp = 42.5, LowTemp = 13.5, LineTemp = 31.5, Text = "31.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 28), HighTemp = 45.5, LowTemp = 13.5, LineTemp = 28.5, Text = "28.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 29), HighTemp = 46.5, LowTemp = 15.5, LineTemp = 34.5, Text = "34.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 30), HighTemp = 48.5, LowTemp = 18.5, LineTemp = 29.5, Text = "29.5˚C" },
        new RangeAreaChartData { Period = new DateTime(2015, 1, 31), HighTemp = 45.5, LowTemp = 11.5, LineTemp = 31.5, Text = "31.5˚C" }
    };

    public class RangeAreaChartData
    {
        public DateTime Period { get; set; }
        public double HighTemp { get; set; }
        public double LowTemp { get; set; }
        public double LineTemp { get; set; }
        public string Text { get; set; }
    }

}
