@page "/chart/step-line"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@using ThemeHelper

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This Blazor StepLine Chart visualizes the global best-selling albums by year from 2001 to 2024.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure a step line type chart. This chart forms a step-like progression by connecting points using vertical and horizontal lines. <code>ChartMarkers</code> are used to represent individual data points and their values.</p>
    <p><code>Tooltip</code> is enabled in this example. To see a tooltip in action, hover over or tap on the chart.</p>
    <p>More information about the step line series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/step-line' aria-label="Navigate to the documentation for step-line in chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
  <SfChart Title="Worldwide Best-Selling Albums by Year" SubTitle="Source: wikipedia.org" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartSubTitleStyle TextOverflow="TextOverflow.Wrap"></ChartSubTitleStyle>
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartEvents TooltipRender="TooltipRender"></ChartEvents>
        <ChartPrimaryXAxis Minimum="2006" Maximum="2025" ValueType="Syncfusion.Blazor.Charts.ValueType.Double" EdgeLabelPlacement="EdgeLabelPlacement.Shift" Interval="3">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Sales in million"  Interval="4" Minimum="0" Maximum="20">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Header="<b>${point.x}</b>" Enable="true" EnableMarker="false" ShowNearestTooltip="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@StepLineChartData" XName="X" Width="3"
                     YName="Y" Type="ChartSeriesType.StepLine">
                <ChartMarker Visible="false" AllowHighlight="false">
                    <ChartDataLabel Visible="true">
                        <ChartDataLabelFont FontWeight="600"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<StepLineData> StepLineChartData  = new List<StepLineData>
    {
         new StepLineData { X = 2007, Y = 6.0, Album = "High School Musical 2", Artist = "Various Artists" },
        new StepLineData { X = 2008, Y = 6.8, Album = "Viva la Vida or Death and All His Friends", Artist = "Coldplay" },
        new StepLineData { X = 2009, Y = 8.3, Album = "I Dreamed a Dream", Artist = "Susan Boyle" },
        new StepLineData { X = 2010, Y = 5.7, Album = "Recovery", Artist = "Eminem" },
        new StepLineData { X = 2011, Y = 18.1, Album = "21", Artist = "Adele" },
        new StepLineData { X = 2012, Y = 8.3, Album = "21", Artist = "Adele" },
        new StepLineData { X = 2013, Y = 4.0, Album = "Midnight Memories", Artist = "One Direction" },
        new StepLineData { X = 2014, Y = 10.0, Album = "Frozen", Artist = "Various Artists" },
        new StepLineData { X = 2015, Y = 17.4, Album = "25", Artist = "Adele" },
        new StepLineData { X = 2016, Y = 2.5, Album = "Lemonade", Artist = "Beyoncé" },
        new StepLineData { X = 2017, Y = 6.1, Album = "÷", Artist = "Ed Sheeran" },
        new StepLineData { X = 2018, Y = 3.5, Album = "The Greatest Showman", Artist = "Hugh Jackman & Various Artists" },
        new StepLineData { X = 2019, Y = 3.3, Album = "5x20 All the Best!! 1999–2019", Artist = "Arashi" },
        new StepLineData { X = 2020, Y = 4.8, Album = "Map of the Soul: 7", Artist = "BTS" },
        new StepLineData { X = 2021, Y = 4.68, Album = "30", Artist = "Adele" },
        new StepLineData { X = 2022, Y = 7.2, Album = "Greatest Works of Art", Artist = "Jay Chou" },
        new StepLineData { X = 2023, Y = 6.4, Album = "FML", Artist = "Seventeen" },
        new StepLineData { X = 2024, Y = 5.6, Album = "The Tortured Poets Department", Artist = "Taylor Swift" }
    };

    public class StepLineData
    {
        public int X { get; set; }
        public double Y { get; set; }
        public string Album { get; set; }
        public string Artist { get; set; }
    }

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Width = "100%";
        }
    }

    public void TooltipRender(TooltipRenderEventArgs args)
    {
        var data = StepLineChartData[Convert.ToInt32(args.Data.PointIndex)]; 
        args.Text = $"Sales: <b>{data.Y}M</b><br/>Album: <b>{data.Album}</b><br/>Artist: <b>{data.Artist}</b>";
    }

}
