@page "/chart/step-line"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@using ThemeHelper

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-charts/chart-types/stepline-chart' aria-label="Navigate to explore the Blazor Step Line Chart">Blazor Step Line Chart</a> example visualizes the fruit production statistics with default step line series in the chart.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure a step line chart. This chart forms the step line progress by connecting points using vertical and horizontal lines. <code>Markers</code> are used to represent individual data and its values. </p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
    <p>More information about the step line series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/step-line' aria-label="Navigate to the documentation for step-line in chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
  <SfChart Title="Fruit Production Statistics" Width="@Width" Theme="@Theme">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis Minimum="new DateTime(1971, 01, 01)" Maximum="new DateTime(2012, 01, 01)" ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Production (In Percentage)" LabelFormat="{value}%" Interval="10">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Header="<b>Fruit Production</b>" Enable="true" Shared="true" Format="${point.x} : <b>${point.y}"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@StepLineData" XName="Period" Width="5"
                         Opacity="1" YName="AUS_UnemploymentRate" Type="ChartSeriesType.StepLine">
                <ChartMarker Visible="true" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<StepLineChartData> StepLineData = new List<StepLineChartData>
    {
         new StepLineChartData { Period = new DateTime(1975, 01, 01), CHN_UnemploymentRate = 16, AUS_UnemploymentRate = 35, ITA_UnemploymentRate = 3.4 },
         new StepLineChartData { Period = new DateTime(1978, 01, 01), CHN_UnemploymentRate = 12.5, AUS_UnemploymentRate = 45, ITA_UnemploymentRate = 4.4 },
         new StepLineChartData { Period = new DateTime(1981, 01, 01), CHN_UnemploymentRate = 19, AUS_UnemploymentRate = 55, ITA_UnemploymentRate = 6 },
         new StepLineChartData { Period = new DateTime(1984, 01, 01), CHN_UnemploymentRate = 14.4, AUS_UnemploymentRate = 20, ITA_UnemploymentRate = 7 },
         new StepLineChartData { Period = new DateTime(1987, 01, 01), CHN_UnemploymentRate = 11.5, AUS_UnemploymentRate = 10, ITA_UnemploymentRate = 11.3 },
         new StepLineChartData { Period = new DateTime(1990, 01, 01), CHN_UnemploymentRate = 14, AUS_UnemploymentRate = 42, ITA_UnemploymentRate = 10.1 },
         new StepLineChartData { Period = new DateTime(1993, 01, 01), CHN_UnemploymentRate = 10, AUS_UnemploymentRate = 35, ITA_UnemploymentRate = 7.8 },
         new StepLineChartData { Period = new DateTime(1996, 01, 01), CHN_UnemploymentRate = 16, AUS_UnemploymentRate = 22, ITA_UnemploymentRate = 8.5 },
         new StepLineChartData { Period = new DateTime(2000, 01, 01), CHN_UnemploymentRate = 16, AUS_UnemploymentRate = 65, ITA_UnemploymentRate = 8.5 },
         new StepLineChartData { Period = new DateTime(2005, 01, 01), CHN_UnemploymentRate = 16, AUS_UnemploymentRate = 65, ITA_UnemploymentRate = 8.5 },
         new StepLineChartData { Period = new DateTime(2010, 01, 01), CHN_UnemploymentRate = 16, AUS_UnemploymentRate = 58, ITA_UnemploymentRate = 8.5 }
     };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Width = "100%";
        }
    }

    public class StepLineChartData
    {
        public DateTime Period { get; set; }
        public double AUS_UnemploymentRate { get; set; }
        public double CHN_UnemploymentRate { get; set; }
        public double ITA_UnemploymentRate { get; set; }
    }
}
