@page "/chart/trendlines"

@using Syncfusion.Blazor
@using ThemeHelper
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the trend of Indian rupees and US dollar variations in the chart.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure the trendlines. The <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartTrendline.html' aria-label="trendline">trendline</a> is a line drawn over the chart to display the overall direction of the results.</p>
    <p> This chart supports the following types.</p>
    <ul>
        <li>Linear</li>
        <li>Exponential</li>
        <li>Logarithmic</li>
        <li>Polynomial</li>
        <li>Power</li>
        <li>Moving Average</li>
        <li>Forecasting</li>
    </ul>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
    <p> More information about the trendlines can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/trend-lines' aria-label="documentation section" >documentation section</a>.</p>
</ActionDescription>

<style>

    #trendline_Series_0_TrendLine_0 {
        stroke-dasharray: 10px 10px;
        stroke-linejoin: round;
        stroke-linecap: round;
        -webkit-animation: dash 1s linear infinite;
        animation: dash 1s linear infinite;
    }

    @@-webkit-keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }

    @@keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }
</style>

<div class="control-section" align='center'>
    <SfChart ID="trendline" Title="USD to INR Rates" Width="@Width" Theme="@Theme">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis LabelFormat="yyyy" ValueType="Syncfusion.Blazor.Charts.ValueType.Category" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="1"></ChartAxisLineStyle>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="80" Interval="10" Title="Rupees against Dollars" LabelFormat="₹{value}">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@ChartPoints" Name="Rupees" XName="Period" YName="Rupees" Type="ChartSeriesType.Spline">
                <ChartMarker Visible="true" IsFilled="true" Height="7" Width="7">
                </ChartMarker>
                <ChartTrendlines>
                    <ChartTrendline Type="TrendlineTypes.Linear" EnableTooltip="false" Width="3" Name="Trends" Fill="#C64A75">
                    </ChartTrendline>
                </ChartTrendlines>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings Visible="true" Height="50"  Width="350" ShapeHeight="15" ShapeWidth="15"></ChartLegendSettings>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<TrendlineData> ChartPoints { get; set; } = new List<TrendlineData>
    {
        new TrendlineData { Period = 1947, Rupees = 4.76 },
        new TrendlineData { Period = 1967, Rupees = 7.50 },
        new TrendlineData { Period = 1974, Rupees = 8.10 },
        new TrendlineData { Period = 1989, Rupees = 16.64 },
        new TrendlineData { Period = 1990, Rupees = 17.32},
        new TrendlineData { Period = 2000, Rupees = 43.56 },
        new TrendlineData { Period = 2007, Rupees = 39.27 },
        new TrendlineData { Period = 2013, Rupees = 56.57 },
        new TrendlineData { Period = 2019, Rupees = 71.74 },
        new TrendlineData { Period = 2020, Rupees = 76.67 },
        new TrendlineData { Period = 2021, Rupees = 72.75},
  
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Width = "100%";
        }
    }

    public class TrendlineData
    {
        public double Period { get; set; }
        public double Rupees { get; set; }
    }
}