@page "/Listview/RemoteData"


@using Syncfusion.EJ2.Blazor.Lists
@using Syncfusion.EJ2.Blazor.Data


@*Hidden:Lines*@

@using ej2_blazor_samples

@{
    SampleBrowser.CurrentSampleName = "Remote Data";
    SampleBrowser.CurrentControlName = "Listview";
    SampleBrowser.CurrentControlCategory = "Listview";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Listview;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the Remote-data functionalities of the ListView. Click any list item to select and highlight an item.</p>"
    };
    SampleBrowser.Description = new string[] {
        @"
            <p>The <code>DataManager</code> that act as an interface between the service endpoint, and ListView will require the following minimal information to interact with the service endpoint properly.</p>
            <p>DataManager-&gt;url - Defines the service endpoint to fetch data.</p>
            <p>DataManager-&gt;adaptor - Defines the adaptor option. By default, ODataAdaptor is used for remote binding.</p>
            <p>Adaptor is responsible for processing response and request from/to the service endpoint. <code>Syncfusion.EJ2.Blazor.Data</code> namespace provides some predefined adaptors that are designed to interact with the particular service endpoints. They are,</p>
            <ul>
                <li>UrlAdaptor - Use this to interact any remote services. This is the base adaptor for all remote based adaptors.</li>
                <li>ODataAdaptor - Use this to interact with OData endpoints.</li>
                <li>ODataV4Adaptor - Use this to interact with OData V4 endpoints.</li>
                <li>WebApiAdaptor - Use this to interact with Web API created under OData standards.</li>
                <li>WebMethodAdaptor - Use this to interact with web methods.</li>
            </ul>
            <p>In this sample, the remote data is bound to be a collection of <b>Products</b> data as an instance of <code>DataManager</code>.</p>
        "
    };

}
@*End:Hidden*@


<div class="col-lg-12 control-section">
    <EjsListView ID="listview" HeaderTitle="Products" ShowHeader="true" TValue="object" Query="new ej.data.Query().from('Products').select('ProductID,ProductName').take(10)">
        <ListViewFieldSettings Id="ProductID" Text="ProductName"></ListViewFieldSettings>
        <EjsDataManager Url="//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/" CrossDomain="true" Adaptor="Syncfusion.EJ2.Blazor.Adaptors.ODataAdaptor"></EjsDataManager>
    </EjsListView>
</div>


<style>
    #listview {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>
