@page "/listview/remote-data"


@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@inherits SampleBaseComponent

<div class="col-lg-12 control-section">
    <SfListView CssClass="listview" HeaderTitle="Products" ShowHeader="true" TValue="Data" Query="@query">
        <ListViewFieldSettings Id="ProductID" Text="ProductName"></ListViewFieldSettings>
        <SfDataManager Url="https://services.odata.org/V4/Northwind/Northwind.svc/" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
    </SfListView>
</div>

@code

{

    public static List<string> column = new List<string>()
{
        "ProductID","ProductName"
    };
    Query query = new Query().From("Products").Select(column).Take(10);

    public class Data
    {
        public string ProductID { get; set; }
        public string ProductName { get; set; }
    }

}
<style>
    .listview {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>
