@page "/Listview/RemoteData"


@using Syncfusion.EJ2.Blazor.Lists
@using Syncfusion.EJ2.Blazor.Data


@inherits SampleBaseComponent;


<div class="col-lg-12 control-section">
    <EjsListView ID="listview" HeaderTitle="Products" ShowHeader="true" TValue="object" Query="new ej.data.Query().from('Products').select('ProductID,ProductName').take(10)">
        <ListViewFieldSettings Id="ProductID" Text="ProductName"></ListViewFieldSettings>
        <EjsDataManager Url="https://js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/" CrossDomain="true" Adaptor="Syncfusion.EJ2.Blazor.Adaptors.ODataAdaptor"></EjsDataManager>
    </EjsListView>
</div>


<style>
    #listview {
        max-width: 500px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>
