# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net  

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install Wasm Tools .NET 8
      run: dotnet workload install wasm-tools-net8
    - name: Install Wasm Tools .NET 9
      run: dotnet workload install wasm-tools-net9
    - name: Install Wasm Tools .NET 10
      run: dotnet workload install wasm-tools
    - name: Build Server NET 8
      run: dotnet build ./Blazor-Server-Demos/Blazor_Server_Demos_NET8.csproj
    - name: Build Server NET 9
      run: dotnet build ./Blazor-Server-Demos/Blazor_Server_Demos_NET9.csproj
    - name: Build Server NET 10
      run: dotnet build ./Blazor-Server-Demos/Blazor_Server_Demos_NET10.csproj
    - name: Build WASM NET 8
      run: dotnet build ./Blazor-WASM-Demos/Blazor_WASM_Demos/Blazor_WASM_Demos_NET8.csproj
    - name: Build WASM NET 9
      run: dotnet build ./Blazor-WASM-Demos/Blazor_WASM_Demos/Blazor_WASM_Demos_NET9.csproj
    - name: Build WASM NET 10
      run: dotnet build ./Blazor-WASM-Demos/Blazor_WASM_Demos/Blazor_WASM_Demos_NET10.csproj