@page "/NumericTextBox/CustomFormat"

@using Syncfusion.EJ2.Blazor.Inputs

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Custom Format";
    SampleBrowser.CurrentControlName = "NumericTextBox";
    SampleBrowser.CurrentControlCategory = "NumericTextBox";
    SampleBrowser.CurrentControl = SampleBrowser.Config.NumericTextBox;
    SampleBrowser.ActionDescription = new string[]
    {
        @"<p>This sample demonstrates the custom format functionalities of the Numeric TextBox. The value of Numeric TextBox will be displayed with defined custom format while type a value or change a value using up/down buttons in the input boxes.</p>"
                    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The NumericTextBox provides an option to customize the display format of the numeric value using the format property. It accepts the standard numeric format string and custom numeric format string as specified in MSDN. The formatted value displays when the component is not focused.
        </p>
        <p>
            In this demo, NumericTextBox control renders with the custom format ###.## km.
        </p>
        <p>
            More information about NumericTextBox can be found in this
            <a target=""_blank""
               href=""https://ej2.syncfusion.com/blazor/documentation/numerictextbox/formats/#custom-formats"">
                documentation section
            </a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="control-label">
                Enter the distance
            </div>
            <EjsNumericTextBox TValue="int?" Value=250 Format="###.### km" Min=0></EjsNumericTextBox>

            <div class="control-label">
                Enter the tax
            </div>
            <EjsNumericTextBox TValue="int?" Format="### '%'" Value=25 Max=100 Min=0></EjsNumericTextBox>

            <div class="control-label">
                Enter the amount
            </div>
            <EjsNumericTextBox TValue="int?" Format="$ ###.##" Value=1025 Min=0></EjsNumericTextBox>
        </div>
    </div>
</div>

<style>
    .content-wrapper {
        width: 35%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-float-input.e-numeric.e-input-group {
        margin-top: 40px;
    }

    .control-label {
        padding: 24px 0px 10px 0px;
        font-size: 12px;
    }
</style>