@page "/scheduler/hide-non-working-hours"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@inherits SampleBaseComponent;

<div class="col-lg-9 control-section">
    <div class="schedule-wrapper">
        <SfSchedule TValue="ScheduleData.AppointmentData" Width="100%" Height="650px" StartHour="@ScheduleStartHour" EndHour="@ScheduleEndHour" SelectedDate="@(new DateTime(2020, 1, 16))">
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.TimelineDay"></ScheduleView>
                <ScheduleView Option="View.TimelineWeek"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
        </SfSchedule>
    </div>
</div>
<div class="col-lg-3 property-section">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
                <tbody>
                    <tr style="height: 50px">
                        <td style="width: 30%">
                            <div>
                                Start Hour
                            </div>
                        </td>
                        <td style="width: 50%;">
                            <div>
                                <SfTimePicker TValue="DateTime?" Width="100px" Format="HH:mm" Value="new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 8, 0, 0)">
                                    <TimePickerEvents TValue="DateTime?" ValueChange="StartHourChange"></TimePickerEvents>
                                </SfTimePicker>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="width: 30%">
                            <div>
                                End Hour
                            </div>
                        </td>
                        <td style="width: 50%;">
                            <div>
                                <SfTimePicker TValue="DateTime?" Width="100px" Format="HH:mm" Value="new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 20, 0, 0)">
                                    <TimePickerEvents TValue="DateTime?" ValueChange="EndHourChange"></TimePickerEvents>
                                </SfTimePicker>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@code{
    public List<ScheduleData.AppointmentData> DataSource = new ScheduleData().GetEmployeeEventData();
    public string ScheduleStartHour = "08:00";
    public string ScheduleEndHour = "20:00";
    public void StartHourChange(Syncfusion.Blazor.Calendars.ChangeEventArgs<DateTime?> args)
    {
        this.ScheduleStartHour = args.Text;
    }
    public void EndHourChange(Syncfusion.Blazor.Calendars.ChangeEventArgs<DateTime?> args)
    {
        this.ScheduleEndHour = args.Text;
    }
}