@page "/scheduler/print-appointments"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons
@inherits SampleBaseComponent;

<SampleDescription>
    <p>This example demonstrates how to print the Scheduler elements.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, the Scheduler element is Printed by making use of the public method <code>Print</code>.</p>
</ActionDescription>

<div class="col-lg-9 control-section">
    <SfSchedule @ref="ScheduleRef" TValue="ScheduleData.AppointmentData" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate">
        <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
        <ScheduleViews>
            <ScheduleView MaxEventsPerRow="2" Option="View.Month"></ScheduleView>
        </ScheduleViews>
    </SfSchedule>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-header">Properties</div>
    <div class="property-panel-content">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 100%;text-align:center">
                        <SfButton Content="Print" OnClick="OnPrint"></SfButton>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code{
    private DateTime CurrentDate = new DateTime(2020, 1, 9);
    SfSchedule<ScheduleData.AppointmentData> ScheduleRef;
    public List<ScheduleData.AppointmentData> DataSource = new ScheduleData().GetScheduleData();
    public void OnPrint()
    {
        ScheduleRef.Print();
    }
}
