@page "/TreeMap/ColorMapping"


@using Syncfusion.EJ2.RazorComponents.TreeMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
        SampleBrowser.CurrentSampleName = "ColorMapping";
        SampleBrowser.CurrentControlName = "TreeMap";
        SampleBrowser.CurrentControlCategory = "TreeMap";
        SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
        SampleBrowser.ActionDescription = new string[] {
        @" <p>
        This sample visualizes the top 10 largest islands in the world based on area. The color mapping is applied to the items to differentiate them from other items.
    </p>"
    };
        SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render a tree map with color mapping. The range color mapping and desaturation color mapping group the shapes based on the area size, whereas the equal color mapping groups the shapes based on the continent value. The legend is enabled in this example to represent each color mapping.
    </p>
    <p>
        The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p>
    <br/>
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>
            The TreeMap component features are segregated into individual modules by feature. To use a legend, inject the <code>Legend</code> module using the < code > TreeMap.Inject(TreeMapLegend) </ code > method.
    </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsTreeMap ID="Tree-map" WeightValuePath="Area" LegendSettings="@legend" format="n" UseGroupingSeparator="true" RangeColorValuePath="WinPercentage" TitleSettings="@titleSettings" TooltipSettings="@tooltip" DataSource=@datasource LeafItemSettings="@leaf"></EjsTreeMap>
</div>

@code {
public object titleSettings { get; set; } = new
{
    text = "Top 10 largest islands in the World",
    textStyle = new { size = "15px" }
};
public object legend { get; set; } = new
{
    visible = true,
    position = "Bottom",
    mode = "Interactive",
    height = "10",
    title = new { text = "Area" },
};
public object leaf { get; set; } = new
{
    labelPath = "Name",
    border = new { width = 0.5, color = "white" },
};

public object tooltip { get; set; } = new
{
    visible = true,
    format = "Name: ${Name}<br>Area: ${Area} per square kms<br>Continent: ${Location}",
    opacity = 0.8
};

public List<object> datasource { get; set; } = new List<object> {
new { Name= "Greenland", Area= 2130800, Population= 56483, Location= "North America" },
new { Name= "New Guinea", Area=785753, Population= 1306940, Location= "Oceania"},
new { Name= "Borneo", Area=743330, Population= 19804064, Location="Asia" },
new { Name= "Madagascar", Area= 587713, Population= 22005222, Location= "Africa"},
new { Name= "Baffin Island", Area=507451, Population=10745, Location= "North America" },
new { Name= "Sumatra", Area= 443066, Population=50000000, Location= "Asia"},
new { Name= "Honshu", Area=225800, Population= 103000000, Location= "Asia"},
new { Name= "Victoria Island", Area=217291, Population= 1875, Location= "North America"},
new { Name= "Great Britain", Area=209331, Population=60800000, Location="Europe" },
new { Name= "Ellesmere Island", Area= 183965, Population= 146, Location= "North America"}

};
} 