@page "/TreeMap/Customization"


@using Syncfusion.EJ2.RazorComponents.TreeMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Customization";
    SampleBrowser.CurrentControlName = "TreeMap";
    SampleBrowser.CurrentControlCategory = "TreeMap";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample depicts the gold medal categories of US in 2016 summer Olympics. Each categories are denoted with label template.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to place custom HTML templates in the treemap items. Also we have formatted the labels default text.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsTreeMap ID="Tree-map" WeightValuePath="Gold" TitleSettings="@titleSettings" TooltipSettings="@tooltip" rangeColorValuePath="Sales" DataSource=@datasource LeafItemSettings="@leaf"></EjsTreeMap>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href=" https://en.wikipedia.org/wiki/United_States_at_the_2016_Summer_Olympics" target="_blank"> en.wikipedia.org</a>
    </div>
</div>

@code {
        public object titleSettings { get; set; } = new
        {
            text = "US Gold medal categories in Summer Olympics - 2016",
            textStyle = new { size = "15px" }
        };
        public object leaf { get; set; } = new
        {
            labelPath = "Sport",
            fill = "#993399",
            templatePosition = "Center",
            border = new
            {
                color = "black",
                width = 0.5
            },
            labelFormat = " ${Sport} - ${Gold}",
            labelTemplate = "<div style='pointer-events: none;'><img src='styles/images/treemap/{{:GameImage}}'" +
            " style='height:{{:ItemHeight}};width:{{:ItemWidth}};'></img></div>"
        };
        public object tooltip { get; set; } = new
        {
            visible = true,
            format = "${Sport} : ${Gold}"
        };

        public List<object> datasource { get; set; } = new List<object> {
            new { Sport= "Swimming", Gold= 16, GameImage= "Swimming.svg", ItemHeight= "180px", ItemWidth= "180px" },
            new { Sport= "Athletics", Gold= 13, GameImage= "Athletics.svg", ItemHeight= "70px", ItemWidth= "70px" },
            new { Sport= "Gymnastics", Gold= 4, GameImage= "Gymnastics.svg", ItemHeight= "80px", ItemWidth= "80px" },
            new { Sport= "Cycling", Gold= 2, GameImage= "Cycling.svg", ItemHeight= "50px", ItemWidth= "50px" },
            new { Sport= "Wrestling", Gold= 2, GameImage= "Wrestling.svg", ItemHeight= "60px", ItemWidth= "50px" },
            new { Sport= "Basketball", Gold= 2, GameImage= "Basketball.svg", ItemHeight= "50px", ItemWidth= "50px" },
            new { Sport= "Boxing", Gold= 1, GameImage= "Boxing.svg", ItemHeight= "40px", ItemWidth= "30px" },
            new { Sport= "Tennis", Gold= 1, GameImage= "Tennis.svg", ItemHeight= "40px", ItemWidth= "40px" },
            new { Sport= "Judo", Gold= 1, GameImage= "Judo.svg", ItemHeight= "40px", ItemWidth= "40px" },
            new { Sport= "Rowing", Gold= 1, GameImage= "Rowing.svg", ItemHeight= "40px", ItemWidth= "40px" },
            new { Sport= "Shooting", Gold= 1, GameImage= "Shooting.svg", ItemHeight= "40px", ItemWidth= "40px" },
            new { Sport= "Triathlon", Gold= 1, GameImage= "Triathlon.svg", ItemHeight= "40px", ItemWidth= "40px" },
            new { Sport= "Water polo", Gold= 1, GameImage= "Water_polo.svg", ItemHeight= "40px", ItemWidth= "40px" }
        };
} 