@page "/TreeMap/Label"


@using Syncfusion.EJ2.RazorComponents.TreeMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Data Label";
    SampleBrowser.CurrentControlName = "TreeMap";
    SampleBrowser.CurrentControlCategory = "TreeMap";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the population of various continents in 2011 based on the gender and age group.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render a pie chart as a template for leaf items in treemap. Any custom HTML element can be rendered as label template.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsTreeMap id="container" WeightValuePath="Population" Format='n' UseGroupingSeparator="true"
            RangeColorValuePath="Population" DataSource="@datasource">
        <TreeMapTitleSettings Text="Countries ordered based on Population - 2017">
        </TreeMapTitleSettings>
        <TreeMapLeafItemSettings ShowLabels="true" LabelPath="Country" Fill="red" ColorMapping="@colorMapping">
        </TreeMapLeafItemSettings>
        <TreeMapLegendSettings Visible="true"
            Mode="@Syncfusion.EJ2.RazorComponents.TreeMap.LegendMode.Interactive"
            Width="300px" height="10"
            Position="@Syncfusion.EJ2.RazorComponents.TreeMap.LegendPosition.Top">
        </TreeMapLegendSettings>
        <TreeMapTooltipSettings Visible="true" Format="${Country} : ${Population}"></TreeMapTooltipSettings>
    </EjsTreeMap>
</div>

@code {
    public class colorMap
    {
        public double from;
        public double to;
        public string label;
        public string color;
    }
    public class data
    {
        public string Country;
        public double Population;
    }
    public List<colorMap> colorMapping = new List<colorMap> {
        new colorMap {  to= 10000000000, from= 100000000, label= "200M - 1.3M", color= "#4B134F"},
        new colorMap { to= 100000000, from= 20000000, label= "20M - 200M", color= "#8C304D" },
        new colorMap { to= 20000000, from= 100000, label= "0.1M - 20M", color= "#C84B4B" }
    };
    public List<object> datasource { get; set; } = new List<object> {
        new data { Country="China", Population=1388232693},
        new data { Country="India", Population=1342512706},
        new data { Country="United States of America", Population=326474013},
        new data { Country="Indonesia", Population=263510146},
        new data { Country="Brazil",  Population=211243220},
        new data { Country="Pakistan", Population=196744376},
        new data { Country="Nigeria", Population=191835936},
        new data { Country="Bangladesh", Population=164827718},
        new data { Country="Russian Federation", Population=143375006},
        new data { Country="Mexico", Population=130222815},
        new data { Country="Japan", Population=126045211},
        new data { Country="Ethiopia", Population=104344901},
        new data { Country="Philippines", Population=103796832},
        new data { Country="Viet Nam", Population=95414640},
        new data { Country="Egypt", Population=95215102},
        new data { Country="D.R. Congo", Population=82242685},
        new data { Country="Iran", Population=80945718},
        new data { Country="Germany", Population=80636124},
        new data { Country="Turkey", Population=80417526},
        new data { Country="Thailand", Population=68297547},
        new data { Country="United Kingdom", Population=65511098},
        new data { Country="France", Population=64938716},
        new data { Country="Italy", Population=59797978},
        new data { Country="Tanzania", Population=56877529},
        new data { Country="South Africa", Population=55436360},
        new data { Country="Myanmar", Population=54836483},
        new data { Country="Republic of Korea", Population=50704971},
        new data { Country="Colombia", Population=49067981},
        new data { Country="Kenya", Population=48466928},
        new data { Country="Spain", Population=46070146},
        new data { Country="Ukraine", Population=44405055},
        new data { Country="Argentina", Population=44272125},
        new data { Country="Sudan", Population=42166323},
        new data { Country="Uganda", Population=41652938},
        new data { Country="Algeria", Population=41063753},
        new data { Country="Iraq", Population=38654287},
        new data { Country="Poland", Population=38563573},
        new data { Country="Canada", Population=36626083},
        new data { Country="Morocco", Population=35241418},
        new data { Country="Afghanistan", Population=34169169},
        new data { Country="Saudi Arabia", Population=32742664},
        new data { Country="Peru", Population=32166473},
        new data { Country="Venezuela", Population=31925705},
        new data { Country="Malaysia", Population=31164177},
        new data { Country="Uzbekistan", Population=30690914},
        new data { Country="Mozambique", Population=29537914},
        new data { Country="Nepal", Population=29187037},
        new data { Country="Ghana", Population=28656723},
        new data { Country="Yemen", Population=28119546},
        new data { Country="Angola", Population=26655513},
        new data { Country="Madagascar", Population=25612972},
        new data { Country="Dem Peoples Republic of Korea", Population=25405296},
        new data { Country="Australia", Population=24641662},
        new data { Country="Cameroon", Population=24513689},
        new data { Country="Côte dIvoire", Population=23815886},
        new data { Country="Taiwan", Population=23405309},
        new data { Country="Niger", Population=21563607},
        new data { Country="Sri Lanka", Population=20905335},
        new data { Country="Romania", Population=19237513},
        new data { Country="Burkina Faso", Population=19173322},
        new data { Country="Syrian Arab Republic", Population=18906907},
        new data { Country="Mali", Population=18689966},
        new data { Country="Chile", Population=18313495},
        new data { Country="Malawi", Population=18298679},
        new data { Country="Kazakhstan", Population=18064470},
        new data { Country="Zambia", Population=17237931},
        new data { Country="Netherlands", Population=17032845},
        new data { Country="Guatemala", Population=17005497},
        new data { Country="Ecuador", Population=16625776},
        new data { Country="Zimbabwe", Population=16337760},
        new data { Country="Cambodia", Population=16076370},
        new data { Country="Senegal", Population=16054275},
        new data { Country="Chad", Population=14965482},
        new data { Country="Guinea", Population=13290659},
        new data { Country="South Sudan", Population=13096190},
        new data { Country="Rwanda", Population=12159586},
        new data { Country="Burundi", Population=11936481},
        new data { Country="Tunisia", Population=11494760},
        new data { Country="Benin", Population=11458611},
        new data { Country="Belgium", Population=11443830},
        new data { Country="Somalia", Population=11391962},
        new data { Country="Cuba", Population=11390184},
        new data { Country="Bolivia", Population=11052864},
        new data { Country="Haiti", Population=10983274},
        new data { Country="Greece", Population=10892931},
        new data { Country="Dominican Republic", Population=10766564},
        new data { Country="Czech Republic", Population=10555130},
        new data { Country="Portugal", Population=10264797},
        new data { Country="Azerbaijan", Population=9973697},
        new data { Country="Sweden", Population=9920624},
        new data { Country="Hungary", Population=9787905},
        new data { Country="Belarus", Population=9458535},
        new data { Country="United Arab Emirates", Population=9397599},
        new data { Country="Tajikistan", Population=8858115},
        new data { Country="Serbia", Population=8776940},
        new data { Country="Austria", Population=8592400},
        new data { Country="Switzerland", Population=8454083},
        new data { Country="Israel", Population=8323248},
        new data { Country="Honduras", Population=8304677},
        new data { Country="Papua New Guinea", Population=7933841},
        new data { Country="Jordan", Population=7876703},
        new data { Country="Togo", Population=7691915},
        new data { Country="China Hong Kong SAR", Population=7401941},
        new data { Country="Bulgaria", Population=7045259},
        new data { Country="Laos", Population=7037521},
        new data { Country="Paraguay", Population=6811583},
        new data { Country="Sierra Leone", Population=6732899},
        new data { Country="Libya", Population=6408742},
        new data { Country="Nicaragua", Population=6217796},
        new data { Country="El Salvador", Population=6167147},
        new data { Country="Kyrgyzstan", Population=6124945},
        new data { Country="Lebanon", Population=6039277},
        new data { Country="Singapore", Population=5784538},
        new data { Country="Denmark", Population=5711837},
        new data { Country="Finland", Population=5541274},
        new data { Country="Turkmenistan", Population=5502586},
        new data { Country="Eritrea", Population=5481906},
        new data { Country="Slovakia", Population=5432157},
        new data { Country="Norway", Population=5330800},
        new data { Country="Central African Republic", Population=5098826},
        new data { Country="State of Palestine", Population=4928225},
        new data { Country="Costa Rica", Population=4905626},
        new data { Country="Congo", Population=4866243},
        new data { Country="Ireland", Population=4749153},
        new data { Country="Oman", Population=4741305},
        new data { Country="Liberia", Population=4730437},
        new data { Country="New Zealand", Population=4604871},
        new data { Country="Mauritania", Population=4266448},
        new data { Country="Croatia", Population=4209815},
        new data { Country="Kuwait", Population=4099932},
        new data { Country="Republic of Moldova", Population=4054640},
        new data { Country="Panama", Population=4051284},
        new data { Country="Georgia", Population=3972532},
        new data { Country="Bosnia and Herzegovina", Population=3792759},
        new data { Country="Puerto Rico", Population=3679086},
        new data { Country="Uruguay", Population=3456877},
        new data { Country="Mongolia", Population=3051900},
        new data { Country="Armenia", Population=3031670},
        new data { Country="Albania", Population=2911428},
        new data { Country="Lithuania", Population=2830582},
        new data { Country="Jamaica", Population=2813285},
        new data { Country="Namibia", Population=2568569},
        new data { Country="Botswana", Population=2343981},
        new data { Country="Qatar", Population=2338085},
        new data { Country="Lesotho", Population=2185159},
        new data { Country="Gambia", Population=2120418},
        new data { Country="TFYR Macedonia", Population=2083308},
        new data { Country="Slovenia", Population=2071252},
        new data { Country="Latvia", Population=1944565},
        new data { Country="Guinea-Bissau", Population=1932871},
        new data { Country="Gabon", Population=1801232},
        new data { Country="Bahrain", Population=1418895},
        new data { Country="Trinidad and Tobago", Population=1369157},
        new data { Country="Swaziland", Population=1320356},
        new data { Country="Estonia", Population=1305755},
        new data { Country="Mauritius", Population=1281353},
        new data { Country="Timor-Leste", Population=1237251},
        new data { Country="Cyprus", Population=1187575},
        new data { Country="Djibouti", Population=911382},
        new data { Country="Fiji", Population=902547},
        new data { Country="Equatorial Guinea", Population=894464},
        new data { Country="Réunion", Population=873356},
        new data { Country="Comoros", Population=825920},
        new data { Country="Bhutan", Population=792877},
        new data { Country="Guyana", Population=774407},
        new data { Country="Montenegro", Population=626250},
        new data { Country="China Macao SAR", Population=606384},
        new data {Country="Solomon Islands", Population=606215},
        new data { Country="Western Sahara", Population=596021},
        new data { Country="Luxembourg", Population=584103},
        new data { Country="Suriname", Population=552112},
        new data { Country="Cabo Verde", Population=533468},
        new data { Country="Guadeloupe", Population=472462},
        new data { Country="Brunei Darussalam", Population=434448},
        new data { Country="Malta", Population=420521},
        new data { Country="Bahamas", Population=397164},
        new data { Country="Martinique", Population=396071},
        new data { Country="Maldives", Population=375867},
        new data { Country="Belize", Population=374651},
        new data { Country="Iceland", Population=334303},
        new data { Country="French Polynesia", Population=288685},
        new data { Country="Barbados", Population=285744},
        new data { Country="French Guiana", Population=282761},
        new data { Country="Vanuatu", Population=276331},
        new data { Country="New Caledonia", Population=269736},
        new data { Country="Mayotte", Population=253068},
        new data { Country="Sao Tome and Principe", Population=198481},
        new data { Country="Samoa", Population=195743},
        new data { Country="Saint Lucia", Population=187768},
        new data { Country="Guam", Population=174214},
        new data { Country="Channel Islands", Population=165235},
        new data { Country="Curaçao", Population=159987},
        new data { Country="Kiribati", Population=116405},
        new data { Country="Saint Vincent and the Grenadines", Population=109895},
        new data { Country="Grenada", Population=107850},
        new data { Country="Tonga", Population=107797},
        new data { Country="United States Virgin Islands", Population=106574},
        new data { Country="Micronesia (Fed. States of)", Population=105566},
        new data { Country="Aruba", Population=104588},
        new data { Country="Seychelles", Population=97539},
        new data { Country="Antigua and Barbuda", Population=93659},
    };
} 