@page "/TreeMap/Label"


@using Syncfusion.EJ2.RazorComponents.TreeMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Data Label";
    SampleBrowser.CurrentControlName = "TreeMap";
    SampleBrowser.CurrentControlCategory = "TreeMap";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the population of various continents in 2011 based on the gender and age group.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render a pie chart as a template for leaf items in treemap. Any custom HTML element can be rendered as label template.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsTreeMap ID="Tree-map" WeightValuePath="Population" LegendSettings="legend" Format='n' UseGroupingSeparator="true" RangeColorValuePath='Population' TitleSettings="titleSettings" TooltipSettings="tooltip" DataSource=@datasource LeafItemSettings="leaf"></EjsTreeMap>
</div>

@code {
    public object titleSettings { get; set; } = new
    {
        text = "Countries ordered based on Population - 2017",
        textStyle = new { size = "15px" }
    };
    public object legend { get; set; } = new
    {
        visible = true,
        mode = "Interactive",
        width = "300px",
        height = "10",
        position = "Top"
    };
    public object leaf { get; set; } = new
    {
        showLabels = true,
        labelPath = "Country",
        fill = "red",
        colorMapping = new object[] {
              new {  to= 10000000000, from= 100000000, label= "200M - 1.3M", color= "#4B134F"},
              new { to= 100000000, from= 20000000, label= "20M - 200M", color= "#8C304D" },
              new { to= 20000000, from= 100000, label= "0.1M - 20M", color= "#C84B4B" }
        }
    };
    public object tooltip { get; set; } = new
    {
        visible = true,
        format = "${Country} : ${Population}"
    };   


    public List<object> datasource { get; set; } = new List<object> {
            new { Country="China", Population=1388232693},
            new { Country="India", Population=1342512706},
            new { Country="United States of America", Population=326474013},
            new { Country="Indonesia", Population=263510146},
            new { Country="Brazil",  Population=211243220},
            new { Country="Pakistan", Population=196744376},
            new { Country="Nigeria", Population=191835936},
            new { Country="Bangladesh", Population=164827718},
            new { Country="Russian Federation", Population=143375006},
            new { Country="Mexico", Population=130222815},
            new { Country="Japan", Population=126045211},
            new { Country="Ethiopia", Population=104344901},
            new { Country="Philippines", Population=103796832},
            new { Country="Viet Nam", Population=95414640},
            new { Country="Egypt", Population=95215102},
            new { Country="D.R. Congo", Population=82242685},
            new { Country="Iran", Population=80945718},
            new { Country="Germany", Population=80636124},
            new { Country="Turkey", Population=80417526},
            new { Country="Thailand", Population=68297547},
            new { Country="United Kingdom", Population=65511098},
            new { Country="France", Population=64938716},
            new { Country="Italy", Population=59797978},
            new { Country="Tanzania", Population=56877529},
            new { Country="South Africa", Population=55436360},
            new { Country="Myanmar", Population=54836483},
            new { Country="Republic of Korea", Population=50704971},
            new { Country="Colombia", Population=49067981},
            new { Country="Kenya", Population=48466928},
            new { Country="Spain", Population=46070146},
            new { Country="Ukraine", Population=44405055},
            new { Country="Argentina", Population=44272125},
            new { Country="Sudan", Population=42166323},
            new { Country="Uganda", Population=41652938},
            new { Country="Algeria", Population=41063753},
            new { Country="Iraq", Population=38654287},
            new { Country="Poland", Population=38563573},
            new { Country="Canada", Population=36626083},
            new { Country="Morocco", Population=35241418},
            new { Country="Afghanistan", Population=34169169},
            new { Country="Saudi Arabia", Population=32742664},
            new { Country="Peru", Population=32166473},
            new { Country="Venezuela", Population=31925705},
            new { Country="Malaysia", Population=31164177},
            new { Country="Uzbekistan", Population=30690914},
            new { Country="Mozambique", Population=29537914},
            new { Country="Nepal", Population=29187037},
            new { Country="Ghana", Population=28656723},
            new { Country="Yemen", Population=28119546},
            new { Country="Angola", Population=26655513},
            new { Country="Madagascar", Population=25612972},
            new { Country="Dem Peoples Republic of Korea", Population=25405296},
            new { Country="Australia", Population=24641662},
            new { Country="Cameroon", Population=24513689},
            new { Country="Côte dIvoire", Population=23815886},
            new { Country="Taiwan", Population=23405309},
            new { Country="Niger", Population=21563607},
            new { Country="Sri Lanka", Population=20905335},
            new { Country="Romania", Population=19237513},
            new { Country="Burkina Faso", Population=19173322},
            new { Country="Syrian Arab Republic", Population=18906907},
            new { Country="Mali", Population=18689966},
            new { Country="Chile", Population=18313495},
            new { Country="Malawi", Population=18298679},
            new { Country="Kazakhstan", Population=18064470},
            new { Country="Zambia", Population=17237931},
            new { Country="Netherlands", Population=17032845},
            new { Country="Guatemala", Population=17005497},
            new { Country="Ecuador", Population=16625776},
            new { Country="Zimbabwe", Population=16337760},
            new { Country="Cambodia", Population=16076370},
            new { Country="Senegal", Population=16054275},
            new { Country="Chad", Population=14965482},
            new { Country="Guinea", Population=13290659},
            new { Country="South Sudan", Population=13096190},
            new { Country="Rwanda", Population=12159586},
            new { Country="Burundi", Population=11936481},
            new { Country="Tunisia", Population=11494760},
            new { Country="Benin", Population=11458611},
            new { Country="Belgium", Population=11443830},
            new { Country="Somalia", Population=11391962},
            new { Country="Cuba", Population=11390184},
            new { Country="Bolivia", Population=11052864},
            new { Country="Haiti", Population=10983274},
            new { Country="Greece", Population=10892931},
            new { Country="Dominican Republic", Population=10766564},
            new { Country="Czech Republic", Population=10555130},
            new { Country="Portugal", Population=10264797},
            new { Country="Azerbaijan", Population=9973697},
            new { Country="Sweden", Population=9920624},
            new { Country="Hungary", Population=9787905},
            new { Country="Belarus", Population=9458535},
            new { Country="United Arab Emirates", Population=9397599},
            new { Country="Tajikistan", Population=8858115},
            new { Country="Serbia", Population=8776940},
            new { Country="Austria", Population=8592400},
            new { Country="Switzerland", Population=8454083},
            new { Country="Israel", Population=8323248},
            new { Country="Honduras", Population=8304677},
            new { Country="Papua New Guinea", Population=7933841},
            new { Country="Jordan", Population=7876703},
            new { Country="Togo", Population=7691915},
            new { Country="China Hong Kong SAR", Population=7401941},
            new { Country="Bulgaria", Population=7045259},
            new { Country="Laos", Population=7037521},
            new { Country="Paraguay", Population=6811583},
            new { Country="Sierra Leone", Population=6732899},
            new { Country="Libya", Population=6408742},
            new { Country="Nicaragua", Population=6217796},
            new { Country="El Salvador", Population=6167147},
            new { Country="Kyrgyzstan", Population=6124945},
            new { Country="Lebanon", Population=6039277},
            new { Country="Singapore", Population=5784538},
            new { Country="Denmark", Population=5711837},
            new { Country="Finland", Population=5541274},
            new { Country="Turkmenistan", Population=5502586},
            new { Country="Eritrea", Population=5481906},
            new { Country="Slovakia", Population=5432157},
            new { Country="Norway", Population=5330800},
            new { Country="Central African Republic", Population=5098826},
            new { Country="State of Palestine", Population=4928225},
            new { Country="Costa Rica", Population=4905626},
            new { Country="Congo", Population=4866243},
            new { Country="Ireland", Population=4749153},
            new { Country="Oman", Population=4741305},
            new { Country="Liberia", Population=4730437},
            new { Country="New Zealand", Population=4604871},
            new { Country="Mauritania", Population=4266448},
            new { Country="Croatia", Population=4209815},
            new { Country="Kuwait", Population=4099932},
            new { Country="Republic of Moldova", Population=4054640},
            new { Country="Panama", Population=4051284},
            new { Country="Georgia", Population=3972532},
            new { Country="Bosnia and Herzegovina", Population=3792759},
            new { Country="Puerto Rico", Population=3679086},
            new { Country="Uruguay", Population=3456877},
            new { Country="Mongolia", Population=3051900},
            new { Country="Armenia", Population=3031670},
            new { Country="Albania", Population=2911428},
            new { Country="Lithuania", Population=2830582},
            new { Country="Jamaica", Population=2813285},
            new { Country="Namibia", Population=2568569},
            new { Country="Botswana", Population=2343981},
            new { Country="Qatar", Population=2338085},
            new { Country="Lesotho", Population=2185159},
            new { Country="Gambia", Population=2120418},
            new { Country="TFYR Macedonia", Population=2083308},
            new { Country="Slovenia", Population=2071252},
            new { Country="Latvia", Population=1944565},
            new { Country="Guinea-Bissau", Population=1932871},
            new { Country="Gabon", Population=1801232},
            new { Country="Bahrain", Population=1418895},
            new { Country="Trinidad and Tobago", Population=1369157},
            new { Country="Swaziland", Population=1320356},
            new { Country="Estonia", Population=1305755},
            new { Country="Mauritius", Population=1281353},
            new { Country="Timor-Leste", Population=1237251},
            new { Country="Cyprus", Population=1187575},
            new { Country="Djibouti", Population=911382},
            new { Country="Fiji", Population=902547},
            new { Country="Equatorial Guinea", Population=894464},
            new { Country="Réunion", Population=873356},
            new { Country="Comoros", Population=825920},
            new { Country="Bhutan", Population=792877},
            new { Country="Guyana", Population=774407},
            new { Country="Montenegro", Population=626250},
            new { Country="China Macao SAR", Population=606384},
            new {Country="Solomon Islands", Population=606215},
            new { Country="Western Sahara", Population=596021},
            new { Country="Luxembourg", Population=584103},
            new { Country="Suriname", Population=552112},
            new { Country="Cabo Verde", Population=533468},
            new { Country="Guadeloupe", Population=472462},
            new { Country="Brunei Darussalam", Population=434448},
            new { Country="Malta", Population=420521},
            new { Country="Bahamas", Population=397164},
            new { Country="Martinique", Population=396071},
            new { Country="Maldives", Population=375867},
            new { Country="Belize", Population=374651},
            new { Country="Iceland", Population=334303},
            new { Country="French Polynesia", Population=288685},
            new { Country="Barbados", Population=285744},
            new { Country="French Guiana", Population=282761},
            new { Country="Vanuatu", Population=276331},
            new { Country="New Caledonia", Population=269736},
            new { Country="Mayotte", Population=253068},
            new { Country="Sao Tome and Principe", Population=198481},
            new { Country="Samoa", Population=195743},
            new { Country="Saint Lucia", Population=187768},
            new { Country="Guam", Population=174214},
            new { Country="Channel Islands", Population=165235},
            new { Country="Curaçao", Population=159987},
            new { Country="Kiribati", Population=116405},
            new { Country="Saint Vincent and the Grenadines", Population=109895},
            new { Country="Grenada", Population=107850},
            new { Country="Tonga", Population=107797},
            new { Country="United States Virgin Islands", Population=106574},
            new { Country="Micronesia (Fed. States of)", Population=105566},
            new { Country="Aruba", Population=104588},
            new { Country="Seychelles", Population=97539},
            new { Country="Antigua and Barbuda", Population=93659},

        };
} 