@page "/RangeSelector/LightWeight"
@using Syncfusion.EJ2.Blazor.Charts
@inject HttpClient Http

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = SampleBrowser.Config.RangeNavigator[1].Name;
    SampleBrowser.CurrentControlName = "RangeNavigator";
    SampleBrowser.CurrentControlCategory = "RangeNavigator";
    SampleBrowser.CurrentControl = SampleBrowser.Config.RangeNavigator;
    SampleBrowser.ActionDescription = new string[] {
         @"<p>
        This sample visualizes the bitcoin price range with area series in the light weight range navigator. Selected range values are enhanced with tooltip.
    </p>"
    };
    SampleBrowser.Description = new string[] {
         @"<p>
        In this example, you can see how to render and configure the Light Weight Range Navigator.
    </p>"
    };
}
@*End:Hidden*@

@if (lightWeightData == null)
{
    <div class="stockchartloader"></div>
}
else
{
    <div class="control-section" align="center">
        <h4 id="days" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;">Calculate the Bussiness and Weekend days in a period</h4>
        <br /><div id="datetime">
            <EjsRangeNavigator id="range" Value="@value" IntervalType="RangeIntervalType.Months" AnimationDuration="500" LabelFormat="MMM" valueType=Syncfusion.EJ2.Blazor.Charts.RangeValueType.DateTime dataSource="@lightWeightData" xName="x" yName="y">
                <RangeNavigatorMajorGridLines Width="0.000001"></RangeNavigatorMajorGridLines>
            </EjsRangeNavigator>
        </div>
    </div>

}
@code{
    ChartData[] lightWeightData;
    protected override async Task OnInitAsync()
    {
        lightWeightData = await Http.GetJsonAsync<ChartData[]>("scripts/range-navigator/default_data.json");
    }
    class ChartData
    {
        public DateTime x;
        public double y;
    }
    DateTime[] value = new DateTime[] { new DateTime(2017, 10, 01), new DateTime(2017, 11, 01) };
}
