@page "/Charts/RangeNavigator"
@using Syncfusion.EJ2.RazorComponents.Charts
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Newtonsoft.Json;
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "RangeNavigator";
    SampleBrowser.CurrentControlName = "RangeNavigator";
    SampleBrowser.CurrentControlCategory = "RangeNavigator";
    SampleBrowser.CurrentControl = SampleBrowser.Config.RangeNavigator;
    SampleBrowser.ActionDescription = new string[] {
         @"<p>
        This sample visualizes the bitcoin price range with area series in the range navigator. Selected range values are enhanced with tooltip.
    </p>"
    };
    SampleBrowser.Description = new string[] {
         @"<p>
        In this example, you can see how to render and configure the Range Navigator.
        <code>AreaSeries</code> is used to represent selected data value.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">

    <h4 id="default" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;" align="center">Bitcoin (USD) Price Range</h4>
    <EjsRangeNavigator id="range" valueType=Syncfusion.EJ2.RazorComponents.Charts.RangeValueType.DateTime tooltip="@tooltip" dataSource="@data" series="@series">
    </EjsRangeNavigator>

</div>

@code{

    public object tooltip = new
    {
        enable = true,
        displayMode = "Always"
    };

    public List<object> data { get; set; } = new List<object> {

            new LineChartData { xValue = new DateTime(2005, 01, 01), yValue = 21, yValue1 = 28 },
            new LineChartData { xValue = new DateTime(2006, 01, 01), yValue = 24, yValue1 = 44 },
            new LineChartData { xValue = new DateTime(2007, 01, 01), yValue = 36, yValue1 = 48 },
            new LineChartData { xValue = new DateTime(2008, 01, 01), yValue = 38, yValue1 = 50 },
            new LineChartData { xValue = new DateTime(2009, 01, 01), yValue = 54, yValue1 = 66 },
            new LineChartData { xValue = new DateTime(2010, 01, 01), yValue = 57, yValue1 = 78 },
            new LineChartData { xValue = new DateTime(2011, 01, 01), yValue = 70, yValue1 = 84 },
        };

    public class LineChartData
    {
        public DateTime xValue;
        public double yValue;
        public double yValue1;
    };
    
    public List<RangeNavigatorSeries> series { get; set; } = new List<RangeNavigatorSeries>() {
                new RangeNavigatorSeries() { XName = "xValue", Type = RangeNavigatorType.Area, YName = "yValue"}
            }; 

}
