@page "/kanban/default-functionalities"

@using ej2_blazor_kanban_data_models

@using Syncfusion.Blazor.Kanban

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This example demonstrates the default functionalities of the Kanban component.You can drag and drop the cards across multiple states of the Kanban board by default.</p>
</SampleDescription>
<ActionDescription>
   <p>The sample is configured with a minimal setting that is mandatory to render Kanban layout and cards.The <code>DataSource</code>, <code>KanbanColumns</code>, and <code>KanbanCardSettings</code> are essential fields to render the Kanban component.By default, you can drag and drop the cards across all stages of Kanban.</p>
</ActionDescription>

<div class="control-section">
    <SfKanban KeyField="Status" DataSource="Tasks">
        <KanbanColumns>
            <KanbanColumn HeaderText="To Do" KeyField="Open"></KanbanColumn>
            <KanbanColumn HeaderText="In Progress" KeyField="InProgress"></KanbanColumn>
            <KanbanColumn HeaderText="Testing" KeyField="Testing"></KanbanColumn>
            <KanbanColumn HeaderText="Done" KeyField="Close"></KanbanColumn>
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"></KanbanCardSettings>
    </SfKanban>
</div>

@code {
    private List<KanbanDataModel> Tasks = new KanbanDataModel().GetTasks();
}