@page "/kanban/default-functionalities"

@using ej2_blazor_kanban_data_models

@using Syncfusion.Blazor.Kanban

@inherits SampleBaseComponent;

<div class="control-section">
    <SfKanban KeyField="Status" DataSource="Tasks">
        <KanbanColumns>
            <KanbanColumn HeaderText="To Do" KeyField="Open"></KanbanColumn>
            <KanbanColumn HeaderText="In Progress" KeyField="InProgress"></KanbanColumn>
            <KanbanColumn HeaderText="Testing" KeyField="Testing"></KanbanColumn>
            <KanbanColumn HeaderText="Done" KeyField="Close"></KanbanColumn>
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"></KanbanCardSettings>
    </SfKanban>
</div>

@code {
    private List<KanbanDataModels> Tasks = new KanbanDataModels().GetTasks();
}