@page "/kanban/remote-data"

@using ej2_blazor_kanban_data_models

@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Kanban

@inherits SampleBaseComponent;

<div class="control-section">
    <SfKanban TValue="KanbanDataModels" KeyField="Status" AllowDragAndDrop="false">
        <SfDataManager Url="https://js.syncfusion.com/ejServices/wcf/Northwind.svc/Tasks" CrossDomain="true"></SfDataManager>
        <KanbanColumns>
            <KanbanColumn HeaderText="To Do" KeyField="Open"></KanbanColumn>
            <KanbanColumn HeaderText="In Progress" KeyField="InProgress"></KanbanColumn>
            <KanbanColumn HeaderText="Testing" KeyField="Testing"></KanbanColumn>
            <KanbanColumn HeaderText="Done" KeyField="Close"></KanbanColumn>
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"></KanbanCardSettings>
        <KanbanEvents TValue="KanbanDataModels" DialogOpen="@OnDialogOpen"></KanbanEvents>
    </SfKanban>
</div>

@code{
    private void OnDialogOpen(DialogEventArgs args)
    {
        args.Cancel = true;
    }
}