@page "/kanban/toggle-columns"

@using ej2_blazor_kanban_data_models

@using Syncfusion.Blazor.Kanban

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates the toggle column feature of Kanban. Each column of Kanban can be collapsible, and the testing column is collapsed on page load itself.</p>
</SampleDescription>
<ActionDescription>
   <p>The Kanban components allows you to expand or collapse its columns to save space. The remaining columns extend its width to occupy the hided column space.This feature can be achieved by the following properties:</p>
    <ul><li><code>AllowToggle:</code> Enables the expand/collapse behavior in Kanban.</li>
        <li><code>IsExpanded:</code> The property determines whether the column can be collapsed on the page load itself.</li>
   </ul>
</ActionDescription>

<div class="control-section">
    <SfKanban KeyField="Status" DataSource="Tasks">
        <KanbanColumns>
            <KanbanColumn HeaderText="To Do" KeyField="Open" AllowToggle="true"></KanbanColumn>
            <KanbanColumn HeaderText="In Progress" KeyField="InProgress" AllowToggle="true"></KanbanColumn>
            <KanbanColumn HeaderText="Testing" KeyField="Testing" AllowToggle="true" IsExpanded="false"></KanbanColumn>
            <KanbanColumn HeaderText="Done" KeyField="Close" AllowToggle="true"></KanbanColumn>
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"></KanbanCardSettings>
    </SfKanban>
</div>

@code {
    private List<KanbanDataModel> Tasks = new KanbanDataModel().GetTasks();
}